[2012-07-01 19:19] matwey opened #1 "fail to load FITS image"
When I try to load fits image there is following message and nothing happens. What kind of additional information may I provide to fix that?

python-scipy-0.10.1-11.2.i586
python-numpy-1.6.1-3.1.2.i586
python-pyfits-3.0.6-1.2.i586

[code]

[2012-07-03 14:48] #1 closed, assigned to nobody

[2012-11-12 21:58] eteq opened #2 "Ctrl+digit bad for OS X"
Currently, ginga uses "ctrl+digit" to go to fractional zoom levels. This is problematic on a mac, because ctrl+digit defaults to changing which desktop/"space" is open. Can this be changed to "shift+digit" or possibly "alt+digit"?

[2013-01-18 21:06] #2 closed, assigned to nobody

[2013-01-18 21:23] eteq opened #4 "Add option for vertical or horizontal line in Cuts plugin"
Right now the "Cuts" plugin draws freehand lines.  It would be nice if there was an option that could be toggled to make it draw purely vertical or purely horizontal lines (a la the 'r' and 'c' keys from IRAF imexam).  Maybe just holding down the shift or alt keys when right-clicking?

[2013-04-09 13:52] astrofrog opened #6 "Use Astropy instead of PyFITS and PyWCS"
Since Ginga is now listed as an affiliated package for Astropy (http://affiliated.astropy.org/), I think the pyfits/pywcs dependencies should be changed to Astropy.

cc @eteq

[2013-04-09 13:54] astrofrog opened #7 "Make package installable"
At the moment, Ginga does not appear to follow the conventional layout for a Python package. It would be nice if you could make it more 'standard' and have a `setup.py` script for instance that would install the package and any scripts into the standard locations.

One benefit of this is that Ginga could then be included in package repositories (for example I can add it to MacPorts on Mac).

[2013-04-12 13:00] cdeil opened #8 "Register ginga on PyPI"
Could you please register `ginga` on [PyPI](https://pypi.python.org/pypi/) to avoid someone else making a Python package with that name?

See https://github.com/astropy/package-template/issues/17 .

[2013-04-13 11:53] cdeil opened #9 "ZeroDivisionError when starting ginga."
I see this error on Mac:

[code]

[2013-04-13 12:11] cdeil opened #11 "ImportError: No module named misc.Bunch"
I see this error with the latest version from git master:

[code]

Can you reproduce?

[2013-04-13 12:14] cdeil opened #12 "Broken link on webpage to INSTALL.txt"
At http://ejeschke.github.io/ginga/ there's a broken link to [doc/INSTALL.txt](https://github.com/ejeschke/ginga/blob/master/doc/INSTALL.txt)

[2013-04-14 08:41] #7 closed, assigned to ejeschke

[2013-04-14 08:43] #11 closed, assigned to nobody

[2013-04-16 00:52] #9 closed, assigned to nobody

[2013-04-16 07:16] #8 closed, assigned to ejeschke

[2013-04-16 07:18] cdeil opened #13 "Support Python 3"
Is it possible to run ginga on Python 3?

I tried but get an error:
https://gist.github.com/cdeil/5393988

[2013-04-17 03:44] #12 closed, assigned to ejeschke

[2013-04-18 07:29] cdeil opened #15 "Bad WCS error for Galactic CAR image"
To reproduce, clone the https://gist.github.com/cdeil/5029580 gist and open `image.fits` with ginga.

I get "RA: BAD WCS" and "DEC: BAD WCS".

[2013-04-18 08:17] cdeil opened #16 "Make scipy an optional ginga dependency?"
In the [ginga FAQ](https://github.com/ejeschke/ginga/wiki/FAQ) it says:

Is it possible to make `scipy` an optional ginga `dependency` in the sense that it is possible to start `ginga` and view FITS images without having `scipy`?

This would be useful for ginga testing (pip installing scipy is at the build timeout limit for travis-ci, see #10), but I think non needing `scipy` would also be nice fo

[2013-04-18 09:54] cdeil opened #17 "Add File -> Open Example to ginga"
Would it be possible to add a File -> Open Example option to ginga that contains a handful of nice images (one RADEC, one Galactic, one Allsky, one very wide, one that looks better with log scale)?
Then ginga would simply download the images from the web, i.e. they wouldn't be part of ginga itself.

This is very nice to have for new users to try out ginga quickly to see what it can do. E.g. [FIJI]

[2013-04-18 10:46] #6 closed, assigned to ejeschke

[2013-04-18 10:48] #16 closed, assigned to ejeschke

[2013-04-26 16:05] eteq opened #18 "use astropy.wcs for figuring out WCS"
Right now it looks like the WCS solutions come from `ginga`'s own `wcs.py`.  I've run into a number of FITS images that don't work quite right I think just because they have one of the bajillion non-standard WCS forms.  I think switching to something like `astropy.wcs` would make a lot of these work, as it's based on a C library with a long history of supporting poorly-written FITS files...

It al

[2013-04-26 16:11] eteq opened #19 "Allow mosaicking of HDUs based on WCS"
This may be a lot of work, so feel free to consider this a "long-term" issue.

One of the useful features I'm accustom to in ds9 is the option of loading mosaic-style fits files.  For example, multi-ccd instruments will often put each CCD in its own HDU with separate physical (pixel) WCS info.  The idea is that you can then use the WCS info in each HDU to place the chips in the right place relativ

[2013-04-29 16:52] #18 closed, assigned to nobody

[2013-04-29 17:01] eteq opened #20 "The help tab shows "background image" text instead of an image"
When I open the help tab, I think there's supposed to be some sort of image in the background.  But all I say is a gray panel with the text "background image" in the upper-left and a question mark in the middle that seems to indicate an image is missing.  I tried to figure out what image is supposed to be there, but it was not obvious from the source code...

[2013-05-02 01:36] #15 closed, assigned to ejeschke

[2013-05-02 01:47] #13 closed, assigned to ejeschke

[2013-05-02 01:52] #4 closed, assigned to ejeschke

[2013-05-02 21:25] #20 closed, assigned to nobody

[2013-06-29 14:39] RayPlante opened #25 "SAMP integration"
Adding SAMP support will allow ginga to receive directives from other applications (either in a web browser or on the desktop) to load particular datasets.

[2013-07-02 18:51] telegraphic opened #26 "PIL + ginga: hash collision"
When installing on my Mac (10.8), I get the following error:

[code]

Which seems to be due to a peculiar conflict with PIL: http://jaredforsyth.com/blog/2010/apr/28/accessinit-hash-collision-3-both-1-and-1/#the-solution

Given the blog post, I assume the issue is down to line 18 of PythonImage.py conflicting with something? I am indeed able to install ginga by first uninstalling PIL.

[2013-07-04 03:29] #26 closed, assigned to ejeschke

[2013-09-14 18:50] cdeil opened #29 "ImportError for IPython in ginga/qtw/ipg.py"
Something changed in IPython ... with the latest dev versions of IPython and Ginga I get this error:

[code]

[2013-09-16 08:08] #29 closed, assigned to nobody

[2013-10-19 12:45] indiajoe opened #30 "icons/ directory not copyied while installing"
I tried to install latest ginga using command
python setup.py install
But while running ginga after install it was saying the following error and gives a frozen ginga window.
ERROR: GError: Failed to open file '/usr/lib/python2.6/site-packages/ginga/icons/openHandCursor.png': No such file or directory [ginga.gtkw.gtksel]

I could solve this issue, by manually copying ginga/icons directory to /usr/

[2013-10-19 14:28] indiajoe opened #31 "grc load argument does not work"
I started ginga with the following argument
ginga --modules=RC

Then, the first example in grc to create channel worked without any problem.
grc ginga add_channel FOO

But the next example to load an image did not work.
grc ginga load FOO nzstvj120102.fits

It gave the following error

---

Traceback (most recent call last):
  File "/usr/bin/grc", line 74, in <module>
    main(options, args)
  Fil

[2013-10-20 03:00] #30 closed, assigned to nobody

[2013-10-22 22:28] #31 closed, assigned to nobody

[2014-05-06 18:52] ejeschke opened #38 "Pan plugin shows bad compass for galactic and ecliptic coordinates"
When selecting "galactic" or "ecliptic" from the "WCS Coords" preferences, the compass does not adjust accordingly (as, for example, in ds9).  This is because the endpoints of the arms are being calculated from a straight WCS conversion using the normal header of the image.  So if the image header is RA---TAN, DEC--TAN type projection the arms will follow these in straight RA and DEC.

I suppose t

[2014-07-21 08:17] cdeil opened #42 "Travis-ci testing broken"
Currently the [Ginga travis-ci build](https://travis-ci.org/ejeschke/ginga/builds) is broken.
I think what's needed is to merge in changes from `package-template` (use `astropy-helpers` for build, use `conda` for installation on travis-ci).

[2014-08-17 19:41] cdeil opened #44 "Tons of warnings from ImageViewGtk.py"
When I start `ginga -t gtk` on Mac I get a flood of warnings on the console everytime I move the mouse over the main window from `ImageViewGtk.py` line `121`:

[code]

Is this a bug in `Ginga` or a problem with my `Gtk` installation?

[2014-08-17 19:54] cdeil opened #45 "Open file gives TypeError from GingaQT"
Trying to open a file via the menu with QT I get this error with Ginga master on Mac with Python 2.7:

[code]

[2014-08-18 18:19] #25 closed, assigned to nobody

[2014-08-18 19:33] #19 closed, assigned to nobody

[2014-08-19 07:00] #45 closed, assigned to nobody

[2014-08-20 06:01] #44 closed, assigned to nobody

[2014-08-20 22:34] #42 closed, assigned to nobody

[2014-09-17 07:17] ppmim opened #47 "Problem opening FITS file"
When I try to open a FITS file from the Ginga GUI on a openSuSE 12.2 (Python 2.7.x and PyQt 4.10.3) I get the next error:

Failed to load file '/home/panic/prueba2.fits': integer division or modulo by zero
  File "/usr/local/lib/python2.7/site-packages/ginga-2.0.20140915194611-py2.7.egg/ginga/Control.py", line 468, in load_image
    image.load_file(filepath)

  File "/usr/local/lib/python2.7/site-

[2014-09-18 22:09] telegraphic opened #48 "HDF5 I/O question"
Hi, I'm trying to write a file handler for HDF5, via the technique mentioned here:
http://ginga.readthedocs.org/en/latest/manual/internals.html#sec-custom-io
and was hoping to get some clarification on a few things. Firstly, in the example

[code]

What exactly is naxispath? It wasn't clear from the code what to pass.

Also, this method isn't working for me:

[code]

As AstroImage does not appear

[2014-09-19 03:12] #48 closed, assigned to nobody

[2014-09-26 16:34] ppmim opened #49 "WCS not being recognized"
Loading a FITS file the WCS is not recognized and the stderr shows some messages as follow:

2014-09-25 09:12:16,245 | W | example2_qt.py:158 (motion) | Bad coordinate conversion: 'NoneType' object has no attribute 'all_pix2world'

2014-09-25 09:12:25,277 | W | example2_qt.py:158 (motion) | Bad coordinate conversion: RA (2165.552846) > 360.0

Find examples at ftp://ftp.iaa.es/pub/jmiguel/osn.

[2014-09-26 18:11] #47 closed, assigned to ejeschke

[2014-09-30 17:28] ppmim opened #50 "Pick operation"
It seems to fail on openSUSE 12.2. The Error tab show the next messages:

Plugin UI failed to initialize: global name 'FigureCanvas' is not defined
  File "/usr/local/lib/python2.7/site-packages/ginga-2.0.20140926001201-py2.7.egg/ginga/misc/PluginManager.py", line 229, in start_plugin_future
    pInfo.obj.build_gui(vbox)
  File "/usr/local/lib/python2.7/site-packages/ginga-2.0.20140926001201-py2.7

[2014-09-30 17:39] ppmim opened #51 "Image Cuts operation"
It also seems to fail on my openSuSE 12.2:

Plugin UI failed to initialize: global name 'FigureCanvas' is not defined
  File "/usr/local/lib/python2.7/site-packages/ginga-2.0.20140926001201-py2.7.egg/ginga/misc/PluginManager.py", line 229, in start_plugin_future
    pInfo.obj.build_gui(vbox)
  File "/usr/local/lib/python2.7/site-packages/ginga-2.0.20140926001201-py2.7.egg/ginga/misc/plugins/Cuts.p

[2014-10-02 07:21] ppmim opened #52 "Catalog server"
I can't select neither a Image server nor Catalog server can't be selected; do I need to setup something before ?

[2014-10-02 18:43] #50 closed, assigned to nobody

[2014-10-02 18:43] #51 closed, assigned to nobody

[2014-10-02 18:44] #49 closed, assigned to nobody

[2014-12-01 08:48] cdeil opened #56 "Behave more like an Astropy affiliated package"
I think I mentioned this before ... it would be nice if the following things that work for other Astropy affiliated packages worked for Ginga (see https://github.com/astropy/package-template how it's implemented):

* `python setup.py test --coverage`
* `python setup.py build_sphinx -w`

(see uncommented lines in https://github.com/ejeschke/ginga/blob/master/.travis.yml )

[2014-12-03 09:34] cdeil opened #57 "Ginga start very slow with Python 3.4 on Mac"
I tried starting `ginga` with the latest Astropy and Ginga git master versions and Python 3.4 on Mac OS X 10.10.

It does start, but runs for over a minute at 100% CPU and prints several errors and warnings to the console (I killed with `CTRL + C` after a minute or two):
https://gist.github.com/cdeil/c89f1c4b8d1d4513e4c4

@ejeschke Can you reproduce or have an idea what is going on from the consol

[2014-12-07 23:01] cdeil opened #59 "Duplicated signatures in Preferences and CatalogListing"
There's a duplicated signature `getDict` on the `Preferences` class in lines [221](https://github.com/ejeschke/ginga/blob/700d9213b2c00ffbd86c9fc7164fef4b0633d4e5/ginga/misc/Settings.py#L221) and [236](https://github.com/ejeschke/ginga/blob/700d9213b2c00ffbd86c9fc7164fef4b0633d4e5/ginga/misc/Settings.py#L236).

And there's a duplicated signature `select_star_cb` on the `CatalogListing` class in li

[2014-12-08 00:31] #59 closed, assigned to nobody

[2014-12-08 08:29] cdeil opened #61 "Python error with qt/example1_video.py"
This example doesn't work with Python 3:
[code]

[2014-12-08 08:41] cdeil opened #62 "PEP8: change package names to snake_case?"
[PEP8](https://www.python.org/dev/peps/pep-0008/#package-and-module-names) suggests to use `snake_case` for package and module names and `CamelCase` for class names.
I find that very convenient because when reading code it's clear what's an imported module and what's a class name ... `ginga` in many places uses `CamelCase` for both, i.e. I have to scroll up and check the imports to be able to know

[2014-12-08 22:11] cdeil opened #63 "Display coordinates in fixed positions"
When I move the mouse over an image the coordinates alpha and delta and X and Y update very quickly and move a few pixels left and right all the time.
This is a bit blurry ... can you display them in fixed positions?
Or maybe changing to a fixed-width font solved the issue?

[2014-12-08 22:34] cdeil opened #64 "grc doesn't work with Python 3"
I tried running grc with Python 3 and it fails like this:

[code]

When I fix this it fails like this:

[code]

Could you please make `grc` work with Python 3?

[2014-12-08 22:51] #64 closed, assigned to nobody

[2015-01-17 01:55] pllim opened #65 "ginga seg fault with missing ginga_config"
In the current `master` version (2.1.20141220052723) in RHEL 6.6 (Santiago) 64-bit, I get segmentation fault and the traceback complains of a missing `ginga_config`. I checked out the source from GitHub and installed it with `python setup.py install --prefix=LOCAL_DIR` command. Am I missing something?
[code]

[2015-01-17 08:58] ejeschke commented on #65
Can you try running it with --loglevel=10 --log=/tmp/ginga.log

and force the toolkit with -t qt (use qt) or -t gtk (use gtk) (but not both at the same time)

Please attach the last 20 lines of the log in this issue.

We're running it on several 64-bit RHEL machines no problem.  I'll have to check the version--might be 6.5.

[2015-01-20 17:10] pllim commented on #65
[code]

However, in a Python 2.7.5 session under the same environment:

[code]

[2015-01-20 17:24] pllim commented on #65
Update: I modified my copy of `ginga` script to force loading `QtHelp` first, and then again, I am getting missing `ginga_config` error as per my original post. I cannot find any `ginga_config.py` in your code repository.

[2015-01-20 18:24] ejeschke commented on #65
@plim, don't worry about the ginga_config.py error--that is normal if you have not created one in your ~/.ginga directory.  It is used to customize ginga.  That error by itself should not keep ginga from starting.

If you are still having issues getting the ginga window to appear, can you try one of the much simpler example programs first?  Try running

python examples/qt/example2_qt.py

or

pytho

[2015-01-20 19:20] pllim commented on #65
`python .../example2_qt.py` works. Hmmm!

[2015-01-20 19:32] pllim opened #66 "Ungraceful exit when FITS file not found"
Currently, when user attempts to open a FITS image and then press Cancel, the GUI exits ungracefully as follows:

[code]

I was expecting the GUI to still be up and running, instead of crashing like this.

[2015-01-20 19:51] pllim commented on #66
Might just be that the example needs polishing.

[2015-01-20 20:05] pllim commented on #65
So, #67 fixes my problem mostly. A GUI pops up now. Occasionally, when I call it again after I close the GUI, I still get seg fault but the GUI will work again after I try to call it yet again. When the GUI does pop up, I see this warning on the terminal:

[code]

[2015-01-21 17:37] cdeil opened #68 "Use setuptools entry_points for command line scripts"
The recommended way (in Astropy and Python package in general) is to install command line scripts via the setuptools entry_points method. For `console_scripts` it's simple to do:
https://github.com/astropy/package-template/pull/116

I think for GUI scripts it's also easy to do but should be tested:
https://pythonhosted.org/setuptools/setuptools.html#automatic-script-creation

@ejeschke Let me know

[2015-01-21 19:40] ejeschke commented on #66
@pllim, thank you!  Bug fixed in master.

[2015-01-21 19:40] #66 closed

[2015-01-21 19:43] ejeschke commented on #65
@pllim, I just checked our machines.  They are "Red Hat Enterprise Linux Server release 6.6 (Santiago)
".  We are using both qt and gtk versions.  No issues that I know of.

[2015-01-21 19:44] ejeschke commented on #65
Linux HOST 2.6.32-431.29.2.el6.x86_64 #1 SMP Sun Jul 27 15:55:46 EDT 2014 x86_64 x86_64 x86_64 GNU/Linux

[2015-01-21 19:48] pllim commented on #65
What Qt versions do you check against? (I am not interested in the GTK interface at the moment.)

[2015-01-22 01:15] ejeschke commented on #65
[eric@sumo ginga]$ python
Python 2.6.6 (r266:84292, Nov 21 2013, 10:50:32)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

('Qt version:', '4.8.6')

('SIP version:', '4.14.4')

('PyQt version:', '4.9.6')

Does this help?  What version of astropy are you using?

[2015-01-22 01:41] #63 closed

[2015-01-22 01:43] ejeschke commented on #61
@cdeil, I think it defaults to 15 fps or some such if it can't read the rate using OpenCV.  Going to close this issue.

[2015-01-22 01:43] #61 closed

[2015-01-22 03:24] ejeschke commented on #57
Just checked CPU use on RHEL 6.6.  Current master (9e6199e6959484790c1aa7bd9b6b4a55c415a483) uses about 6% CPU idling (python2.6).  On Ubuntu 14.04 (python2.7 and python3.4) it uses 105% or so.

[2015-01-22 14:27] pllim commented on #65
I use the dev version of `astropy`. Here is my version info. I use PySide, not PtQt4.

[code]

[2015-01-22 17:49] pllim commented on #65
I think we have to re-open this. #67 does not work anymore and I don't think it's the real fix; which means it will have to be reverted. I managed to get a bit more info on the seg fault, as follows:

[code]

I think the culprit is `__strncmp_sse42 () from /lib64/libc.so.6`. Any idea on how to fix this? There is also a `RGBMap.py:168: FutureWarning` but that is just a warning.

[2015-01-22 19:26] ejeschke commented on #65
@pllim, any way you can test against PyQt4 instead of PySide?  They've both worked well in my testing, but I have to say that I've only tested PySide with ginga under Ubuntu 14.04, although I have heard from others using it fine on other platforms.

[2015-01-23 01:52] ejeschke commented on #68
@cdeil, this looks like it should be pretty easy for the reference viewer, based on ginga's current scripts/ginga.  Sure, have at it!

[2015-01-25 01:00] pllim commented on #65
I tested it with Anaconda instead of Ureka, and it worked. I'll update you if I find out more.

[2015-01-25 01:02] ejeschke commented on #65
Excellent.  That's our usual installation advice for mac and windows users--use anaconda or canopy.  It would be very nice to get this working with Ureka, so let me know if you figure out anything.  Tnx!

[2015-01-25 01:04] pllim opened #70 "How to access raw image data in Ginga?"
I wish to use Ginga for data visualization, but at the same time, I also need to modify the data when user interacts with the GUI. For example, user clicks on a bad pixel on the image display and select "fix bad pixel", and my program will apply some kind of correction algorithm, and display the corrected data on screen. Once user is satisfied, user can choose to save the modified data to a new fi

[2015-01-25 01:16] ejeschke commented on #70
@pllim, this should be quite straightforward in ginga.  If you are reasonably happy with the reference viewer then I would just write a plugin--it would not take long at all.  Under ginga, data is extracted from the file using either astropy or fitsio as a numpy array and placed in a AstroImage object--this is the model in the MVC architecture of ginga.  You can fetch the model of the currently vi

[2015-01-25 01:18] ejeschke commented on #70
Take a look at a few of the existing plugins and read the relevant part of the manual on readthedocs.org and you will have a good sense of how to proceed.

[2015-01-27 13:27] pllim commented on #70
Thanks. I might have missed it, but it's not clear to me how plugins talk to one another. For example: I have a global plugin that lists the opened images with checkboxes and a "save" button, and I have a local plugin that does the bad pixel correction. When I correct for bad pixels on 2 of the 5 opened images, I want my global listing to have a "modified" status on those 2 images, so I would know

[2015-01-27 22:35] ejeschke commented on #70
Hi @pllim,
The usual way for plugins to find out about each other is via the reference viewer "shell".  For historical reasons, this is bound to self.fv in the plugins.  So you would probably do something like

    # image is modified, notify global plugin 'Listing'
    list_plugin_obj = self.fv.gpmon.getPlugin('Listing')
    list_plugin_obj.set_modified_status(image)

where set_modified_status()

[2015-02-02 19:32] pllim commented on #70
@ejeschke , I have another question related to plugins. Your `MyGlobalPlugin` example works fine, but it stops working the moment I change the class name to something else (I tried `ContentsManager` and `BlahBlah`). I changed it in 3 different places in your example:

[code]

And I changed my command line to:
[code]

This is the log file:
[code]

Things work again when I change the plugin class na

[2015-02-02 19:44] pllim commented on #70
@ejeschke , never mind... Right after I posted above, I found out that MyGlobalPlugin came built-in with Ginga. I did not realize that I can only have one `.py` file per plugin and it has to have the same name as the plugin class.

[2015-02-03 18:23] pllim opened #72 "Errors when Contents global plugin is disabled"
So, for my own reasons, I decided to disabled the built-in `Contents` global plugin and write my own modified version. I disabled it like this:
[code]

Then, I notice error messages in the log file, as follow (I am only reporting the errors that seem relevant to my change above):
[code]

Your documentation claims that Ginga is very flexible and I should be able to enable/disable any plugins I wish

[2015-02-04 02:38] ejeschke commented on #72
@pllim, I think the problem is that the way you are doing this only prevents ginga from starting the gui when the program starts, but the plugin is still loaded, and its constructor will run when ginga starts, which will cause it to register for new files that are loaded.  I can fix this particular error message by setting a flag when the gui is created or discarded, but if you want to disable the

[2015-02-04 02:45] ejeschke commented on #72
In commit 926662c0cdeebd7f002e41a22d61e713f8e30e14 I've added the flag described above.  Let me know if this fixes the issue with your original code.

[2015-02-04 02:48] ejeschke commented on #70
There can be multiple plugins per file. As you've found the global and local plugins tables, poke around those a bit and you can see that they specify the module and class names for the plugin.  However, as you've noted, the default for loading them via the command line is one plugin per module with the same class name, module name, file name.

[2015-02-04 14:39] pllim commented on #70
Is there another way to load custom plugins that is not done from command line? I only see one way to do it from the documentation.

[2015-02-04 19:22] pllim commented on #72
Thanks, your fix works. But like you said, the proper way is to not load it at all. I appreciate the help!

[2015-02-05 18:16] pllim commented on #70
@ejeschke , I have a follow-up question about cross-plugin communications. In your suggestion:
[code]

I actually need
[code]

How do I extract the active `chname` from `fv` or `fitsimage`?

[2015-02-05 19:13] pllim commented on #70
Never mind, I found `chname` being set in one of your examples. :o)

[2015-02-06 00:35] ejeschke commented on #65
Going to close this, as it seems to not actually involve ginga.

[2015-02-06 00:35] #65 closed

[2015-02-06 00:40] ejeschke commented on #72
@pllim, now that you know about the local and global plugin tables, you may want to look at the layout table, which specifies how the reference viewer puts together the GUI.  By customizing these three tables (which you can do by subclassing ReferenceViewer from ginga.main you can create a completely different looking viewer with a custom mix of plugins.

[2015-02-06 21:42] pllim opened #73 "AstroImage complains about WCS when there is none"
I wrote a local plugin based on your `Histogram` to measure local background value from a user drawn annulus. My test image does not have WCS information. When I inspect the log, I see this:
[code]

Is it safe for me to ignore this? Better still, is there a way to tell Ginga that it does not have to convert to RA and DEC?

[2015-02-06 22:32] pllim opened #74 "Bug in Qt Contents plugin?"
In `qtw/plugins/Contents.py`

[code]

`chname` is undefined. Is this a bug?

[2015-02-06 23:01] pllim commented on #72
I have a problem now where my custom `ContentsManager` that inherits from `Contents` will reload the original data when I switch images via its ToC (the data was modified via a local plugin and was displayed with `set_data()`). I am not sure how to best go about this. Hope you could advise. Thanks.

[2015-02-07 04:34] pllim commented on #72
@ejeschke , regarding the layout table, it does not seem to work with custom plugins loaded from command lines. For example, if I have a global plugin that replaces `Header`on the left, I am unable to place my replacement plugin where `Header` used to be.

[2015-02-09 01:58] ejeschke commented on #72
Hi @pllim, the command line plugin loading is really only designed for testing plugins as they are being written, or for loading them the occasional time.  For plugins that will be used regularly it was my thinking that they really should be added via a table or API call. I think the command line loading loop assumes that all local plugins will get loaded as tabs in "Dialogs" and all global plugin

[2015-02-09 02:06] ejeschke commented on #74
It certainly is!  Thanks for catching that.  Most likely it hasn't been noticed because in typical cases people don't delete channels all that frequently and that's the only time this is really called.  I'll submit a fix.

[2015-02-09 02:10] ejeschke commented on #73
@pllim, we really should address this.  It's safe to ignore but I think it would be a lot more useful to suppress the messages that happen when mousing around the image, and only show a warning when the image is first loaded and thereafter only if an operation requires a valid wcs.

Leaving this issue open until we have a fix in place.

[2015-02-09 02:23] ejeschke commented on #72
Regarding the issue with the subclass ContentsManager, there are couple of things to think about:
1. the ginga widget uses a ginga.misc.Datasrc object to store the images that are cycling through the channel.  This object is kind of like a bounded queue which can also be accessed in a indexed or mapped fashion.  By default, only a certain number of images are retained in this before they "age out"

[2015-02-09 02:26] ejeschke commented on #74
Commit a9b6862e101ac30b9018c882dcbb100ae413e706 should fix this.

[2015-02-09 02:26] #74 closed

[2015-02-10 18:24] pllim commented on #70
I think the original issue is resolved. Thanks!

[2015-02-10 18:24] #70 closed

[2015-02-10 21:04] pllim commented on #72
Thanks. Based on your example above, where is `Foo.py` supposed to reside? Ginga cannot seem to find it. I have `Foo.py` installed under my own program and I try to do this within `$HOME/.ginga/ginga_config.py`:
[code]

[2015-02-10 21:24] pllim commented on #72
Edit: I found out that I still need to store the custom plugins in `${HOME}/.ginga/plugins/` but now I have another problem. This is my `ginga_config.py`:
[code]

And this are the errors:
[code]

[2015-02-10 23:29] ejeschke commented on #72
I think you have found an issue that needs to be fixed in ginga.

If you move these statements to post_gui_config() it should work, but it might be too late for the global plugins to get started in the GUI at program startup.  Give it a try and let me know the result.  If they don't appear at program startup time, are they (the global plugins) able to be started from the Plugins menu?

[2015-02-11 19:07] pllim commented on #72
When I use `post_gui_config()` as you suggested, I don't see errors in log file and the global plugins appear on the GUI. However, when I select my local plugin from the menu to bring it up, I see this traceback on the terminal (not in the log file):
[code]

[2015-02-11 19:28] ejeschke commented on #72
What happens if you move the call to add the local plugin (only) to pre_gui_config()?

I think we need to fix this, but I'm trying to figure out the dependency order here.

[2015-02-11 19:34] pllim commented on #72
If I do that, I do not see the local plugin at all, but I see this in log file:
[code]

[2015-02-11 19:51] ejeschke commented on #72
Could you try one more thing: put all the calls in post_gui_config().  After starting the reference viewer, create a new channel (Channel-> Add Channel).  Switch to the new channel and try to invoke your plugin.  Does it work?

The problem (I'm pretty sure) is the first channel is getting created before the plugin was registered.  So I just need to change the order of initialization to after the c

[2015-02-11 19:59] ejeschke commented on #72
@pllim, could you try commit 20a724750f7e9b52ac79f5dffc4f49c8ee48d861 ?  Let me know if this fixes the issue.  Tnx.

[2015-02-11 20:39] pllim commented on #72
That commit seems to fix my problem. Thank you!

[2015-02-11 23:30] ejeschke commented on #72
@pllim, another possibility with a little more flexibility is to make a new startup script like so:
    import sys
    from ginga import main
    from ginga.misc import Bunch

    if __name__ == "__main__":
        spec = Bunch(module='Pipeline', ws='dialogs')
        main.local_plugins.append(spec)
        ...
        main.reference_viewer(sys.argv)

[2015-02-12 15:56] pllim commented on #72
@ejeschke , that would be nice if it works because that saves me from distributing the extra `ginga_config.py`. But when I do the following, I get a traceback below.
[code]
[code]

[2015-02-12 16:02] pllim commented on #72
Update: Okay, I got it to work. Turns out I had to explicitly define `tab`, which I didn't have to when using `ginga_config.py`.

[2015-02-12 17:38] pllim commented on #72
I think we have beaten this horse to death.

[2015-02-12 17:38] #72 closed

[2015-02-12 17:46] pllim opened #75 "Thumbs order changes on different runs"
For testing purposes, I have been starting Ginga with the same four images like this:
[code]

I notice that their ordering in `Thumbs` are not consistent between calls. Would be nice to have it ordered alphabetically or at least consistently.

[2015-02-12 20:04] pllim opened #76 "How to get Thumbs not to reset modified data in buffer?"
This is similar to what I do to `ContentsManager` subclass in #72 . What would be the equivalent of `Contents.switch_image()` in `Thumbs`?

[2015-02-12 20:15] ejeschke commented on #72
Poor Horsie.

[2015-02-12 20:29] ejeschke commented on #75
@pllim, this is because Thumbs is designed to combine all images from all channels into one big wall, and it inserts them roughly in the order that the files were opened.  Since ginga offloads the file opens into separate threads (so as not to block the GUI thread), the opens may complete in an arbitrary sequence.  You can see this also if you drag a block of files from a file manager into the ref

[2015-02-12 20:37] ejeschke commented on #76
@pllim, the method you are interested in is called load_file() and it is in .../ginga/misc/plugins/ThumbsBase.py.  When the thumb is clicked on this method is called.  You could override it to get custom behavior.

[2015-02-12 20:57] ejeschke commented on #76
BTW, if you are not concerned about memory usage spiraling out of control, you can simply set the preference for numImages=1000 or some large number.  Then images will not be expired out of the Datasrc, and should not have to be reloaded.

There are ways to do this programmatically, but maybe the simplest way to experiment with it is to switch to the default channel "Image".  Start the Preferences

[2015-02-12 21:12] pllim commented on #75
It makes sense to order by "opened time." But when multiple files are opened at once, some kind of consistency would be desirable, but this is not a show-stopper.

[2015-02-12 22:12] pllim commented on #76
I tried setting `numImage=50` in the config file but it does not appear to work. I only have 4 images opened. Theoretically, `numImages=4` should have sufficed, right?

[2015-02-12 22:31] ejeschke commented on #75
Could you try commit 562c649aad8dbbe8f070356d50747a5288ec4d60 ?  In your $HOME/.ginga folder create a file called "plugin_Thumbs.cfg" .  Put in it the contents of the following:
[code]

You can comment out or change all options you are not interested in.  For sorting, set sort_order to "alpha".

[2015-02-12 22:33] ejeschke commented on #75
BTW, in the current commit, the files will be sorted within channels, similar to Contents.  With a more sophisticated implementation more advanced sorting would be possible.  This is something we can improve later.

[2015-02-12 23:38] ejeschke commented on #76
This is the case where you altered the numpy data array of the image in memory, correct?  It shouldn't be reloading the image from the file.  Cut levels, etc. may be set to current settings.  If you turn on the debug log and click on a thumbnail, does it show a message of the form:

2015-02-12 13:33:26,866 | D | Control.py:778 (switch_name) | Image 'SUPA01118768
.fits' is no longer in memory; atte

[2015-02-13 18:57] pllim commented on #76
No, I cannot find the mention of "memory" in the log file in debug mode. `Control.py` reported "large image update" at one point, but there are too many messages for me to decide which ones are relevant to the issue here.

Am I not setting the data correctly? It is done as follow, as you suggested. I am hoping that `set_data()` would propagate the updated image data to the rest of Ginga.

[code]

[2015-02-13 19:09] pllim opened #77 "MultiDim errors out on PrimaryHDU"
I use `MultiDim` on multi-extension FITS as such
[code]

When I select Extension 0, I get
```Error loading FITS HDU #1: 'NoneType' object has no attribute 'shape'```

Would be nice if it just displays the header and some sort of filler value for image display (grey? black? white?) instead of throwing an error. Primary header with no image data in Extension 0 is widely used by STScI. And the header

[2015-02-13 19:56] ejeschke commented on #76
I see.  I think that using set_data() on the VIEWER may actually construct a new AstroImage object to contain it.  Try:
[code]
(with this method it should be unnecessary to call viewer.redraw(), as the viewer will be notified that the image data has changed).

[2015-02-13 20:02] ejeschke commented on #77
@pllim, I agree that the handling is poor for HDUs that ginga does not grok.  And currently the reference viewer can't do anything with table HDUs.  I was sort of hoping that someone with enough knowledge of the astropy table workings could add some support for tables.  Maybe Tom Aldcroft can help with this.

Can you send me an example FITS file so that I can test with it?  At least I ought to be

[2015-02-13 20:07] pllim commented on #76
That's it; That fixed the problem with `Contents` and `Thumbs`. Thank you!

*However*, `MultiDim` seems to reset the values even with this change. When I click the modified image name on `Contents` or `Thumbs` again afterwards, then it goes back to the correct (subtracted) values. So, it appears that `MultiDim` reads from file regardless? How do I get around this?

[2015-02-13 20:11] pllim commented on #77
Unfortunately, I am not allowed to share the file I am working on. But you can get any multi-extension FITS from STScI Archive at http://archive.stsci.edu/hst/search.php . Example: http://archive.stsci.edu/cgi-bin/mastpreview?mission=hst&dataid=J8BT08041

That is a ACS/HRC image, which should give you a nice `[PRI, SCI, ERR, DQ]` set if you ask for FLT.

[2015-02-14 01:14] ejeschke commented on #76
That's because MultiDim operates by using astropy/pyfits to iterate through the HDUs, so it always reloads from the file.  Probably needs a subclass on MultiDim with some method overrides to cache HDU loads, or maybe even a rethink/refactor on the way it is implemented.  I'll take a look,

[2015-02-14 04:55] ejeschke commented on #77
Could you try commit 16a8ace2f513319cbd3c865264b60b667fd196f5 and see whether the behavior is a little better?  This does not fix the fact that it reloads the HDUs from the file each time, but should provide better handling for non-data HDUs.

[2015-02-16 15:05] pllim commented on #77
That fixed the error messages, but it does not display PrimaryHDU header in the `Header` plugin. Not sure if this is a good idea, but here it is: Do not make image-less PrimaryHDU an option at all, but instead have all the other extensions inherit the primary header (like one would see when one uses "imheader" in IRAF).

[2015-02-16 15:07] pllim commented on #76
Well, the active extension info is in the `image.metadata['header']`, right? Maybe Ginga could check if the selected extension matches the one in metadata; and if it matches, loads from `get_data()` instead of from file?

[2015-02-16 15:10] pllim commented on #75
This works and is good enough for me. Thanks!

[2015-02-16 15:10] #75 closed

[2015-02-17 23:05] pllim opened #78 "Contents listing order"
I just noticed that the file listing order in `Contents` are sorted
[code]
and not
[code]

Is this intentional? I was expecting alphabetically ascending order.

[2015-02-18 00:15] ejeschke commented on #78
@pplim, if you click on the little arrow next to the word "Name" in the column header it will reverse the sort order.  You can sort on the other fields (e.g. Object) in the same way.

I see what you mean though--seems like the default order ought to be increasing alphanumerically, not decreasing.  I'll take a look.

[2015-02-18 00:38] ejeschke commented on #76
I'm testing out a version of MultiDim that uses the extant machinery to keep track of images that are already loaded.  But, this raises the question: should separate HDUs show up as separate Thumbs and Contents entries?  I'm thinking of a scheme where we append a [1], [2], etc. to the name.  Wondering if this is desirable behavior by default or not.

Do we want to extend this all the way out to da

[2015-02-18 03:30] pllim commented on #76
Thanks for looking into this!

I cannot speak for data cubes, as my usage does not currently involve them. I agree that getting this to also work on cubes might over-complicate things.

Appending `[1]` or `[2]` to names sounds fine, as that is also how DS9 and IRAF represent multi-extension FITS. However, I do not have a good solution on how to nicely show them in `Contents` and `Thumbs`. To show

[2015-02-18 06:38] ejeschke commented on #77
Could you check commit 0d1102997a3242e8e21484479b6d4dbfa69e0b11 ?  This should now show the primary header when you select HDU 1 and should not complain visually (except in the log) about missing data segments, etc.

[2015-02-18 06:39] ejeschke commented on #78
Could you try commit 0d1102997a3242e8e21484479b6d4dbfa69e0b11 ? Does this fix this issue?

[2015-02-18 07:19] ejeschke commented on #76
I'm thinking that Contents could probably start another level of nesting.  This might even be used as a kind of quick way to access HDUs without opening MultiDim.  In other words, if you clicked on the entry, it would expand to show the HDUs under it and then you could click individual ones to open them.  This would definitely not be difficult to implement.

For Thumbs, as you say, it could get me

[2015-02-18 16:49] pllim commented on #76
I agree that listing all extensions at once (even if not pre-loaded) won't work for images with hundreds of them. Usually users just want to look at the extensions that interest them. For example, I might just want to look at `SCI,1` and `DQ,1` to make sure my data quality flags are where they should be for `EXTVER=1` and I don't care about all the other extensions. I am still in favor of on-deman

[2015-02-18 17:41] pllim commented on #77
Works for me. Thank you very much! I think this horse is also quite beaten up.

[2015-02-18 17:41] #77 closed

[2015-02-18 17:43] pllim commented on #78
Yes, it did. Thanks!

[2015-02-18 17:43] #78 closed

[2015-02-18 18:29] ejeschke opened #79 "First cut levels not applied when typed in Info plugin, first time only"
Affects: reference viewer

When Ginga is first started and an image is loaded, typing a value for one of the cut levels in the Info plugin box and pressing enter does not apply the value.  Pressing a second time applies the value, and it appears that any subsequent values entered or pressed are applied correctly.

From looking at the log, it appears that for this initial case, the value is applied

[2015-02-18 19:12] ejeschke commented on #73
@pllim, I'm having trouble reproducing this issue.  I've disabled a couple of log debug messages that get issued when there is no WCS, but this looks like a case of an image with headers that are close enough to trick astropy (or whichever package you are using for WCS support) into thinking that it has a valid WCS and at least building a WCS object from it.  Otherwise, I can't see how it would kn

[2015-02-18 21:10] pllim opened #80 "Contents recreate_toc() and switch_image3 can have race condition"
I noticed this when I had 20 multi-extension FITS loaded at the same time. If `Contents` attempts to perform image switching operation while table of contents is being populated, I get this:
[code]

This is most likely the cause:
[code]

I am thinking to fix it like this:
[code]

[2015-02-18 21:30] pllim commented on #73
@ejeschke , I can't reproduce it either. I won't put it past bad image header. Let's close this for now and re-open if I can find concrete evidence of this again?

[2015-02-19 00:04] ejeschke commented on #80
@pllim, I think we'd better fix it with a threading reentrant lock.  I'll take a look at it.

[2015-02-23 22:00] pllim opened #81 "Question about FITS write behavior"
From what I understand in `io_fits`, `save_as_file()` only saves the extension being displayed, not the entire HDU list associated with the displayed image. What was the original intention of this functionality? Just curious.

[2015-02-24 00:03] ejeschke commented on #81
@pllim, that is correct.  This function is not expected to be used frequently, but just to provide some means to create simple FITS files. If one wanted to do something more sophisticated it is expected that they would use astropy, etc. to create a more structured FITS file.

[2015-02-24 01:02] ejeschke commented on #80
Could you try commit c4410d72c1244b4507374574ea78da8dc3671ceb ?  This has a lock added to protect against this race condition.

[2015-02-24 01:06] ejeschke commented on #76
Could you try commit c4410d72c1244b4507374574ea78da8dc3671ceb thoroughly ? This now tracks which HDU was loaded across Thumbs and Contents.  There is still some work to finish--when visiting an old image by clicking in thumbnails (for example) the MultiDim plugin gui is not yet updated to show which HDU was loaded in (also, the data cube controls need to be re-instantiated).

[2015-02-24 01:06] ejeschke commented on #73
Sounds good.

[2015-02-24 01:06] #73 closed

[2015-02-24 01:44] ejeschke opened #82 "Cut levels in Info plugin do not display enough precision"
In the Info plugin, the current cut levels are displayed beside boxes in which to type the new lo/hi cut levels.  The displayed cut levels only show two digits of precision which is not enough when the values are very small.

Note that the actual cut level points are not affected, this is only a matter of display.

[2015-02-24 16:54] pllim commented on #81
Okay. In the future, if `ginga` wants to support plugins that modify the buffer and write a modified image back out, it needs to support retaining all the extensions, while changing the data/header of the modified extension(s). For now, I'll write that up myself. Thanks for the clarification.

[2015-02-24 16:54] #81 closed

[2015-02-24 17:56] pllim commented on #80
Hmm. I am getting a Python traceback when I switch image via `Thumbs`
[code]

[2015-02-24 20:33] ejeschke commented on #80
Oops, forgot to test with image preloading.  Fixed in 066ebe3dd723a8a9c8b9ba3b78b029d375718555.  Could you give it another go?  Tnx

[2015-02-24 20:43] ejeschke commented on #81
More generally, it was a deliberate decision to abstract from the FITS format in Ginga.  I'm not fully aware of how well we've managed to accomplish this, but the basic idea is to support any sort of format where the pixel data can be represented in a numpy-like array.  That way new formats, ad-hoc formats, etc. can be readily supported.  There was a talk at the last ADASS where a guy got ginga lo

[2015-02-24 21:23] ejeschke commented on #81
Note that you do have to keep in mind the size (length) of the datasrc objects used to hold the images.  There is one datasrc for each channel, and the size is set based on the 1) saved channel preference, 2) saved preference for generic "Image" channel, 3) program default (in that order).  Once an image is ejected from the datasrc it will (should) be dereferenced and collected.  The Thumbs and Co

[2015-02-24 21:38] pllim commented on #81
Yes, I am aware, thanks. I have `numImages=100` in my `~/.ginga/channel_Image.cfg` and I do not expect to have more than 20 multi-extension FITS with `[PRI, SCI, ERR, DQ]` combo to be loaded at once. So hopefully that will take care of buffer resetting (provided the machine has enough memory). A typical use case should only involve modifying the `SCI` extension anyway, and not on all the 20 images

[2015-02-24 22:00] ejeschke commented on #81
To check, you need to know the image name and channel name.  Something like:
[code]

The image name is set in the metadata of the image object and can be retrieved by image.get('name').  Channel name can be retrieved by a call like:
[code]

[2015-02-24 22:21] pllim commented on #80
I am not sure if the lock is locking stuff down. I added some print statements, namely `1` and `2` marks where `treeview.clear()` is invoked, and `10` and `20` marks where `switch_image2()` happens. I get the following:
[code]
So the lock is keeping track of counts but does not stop the race condition. Any idea?

[2015-02-24 22:35] ejeschke commented on #80
Hmm. Re-reading your suggested fix, it certainly seems like that is a proper check to do anyway.  Can you give it a try and if it seems to be working, submit a PR?  Tnx.

[2015-02-25 20:08] pllim commented on #76
I am trying your improved `MultiDim` but I get the traceback below. Is it trying to compute WCS from the primary header although it has no image data displayed?

[code]

[2015-02-25 22:31] pllim commented on #81
Okay, thanks!

[2015-02-25 23:36] #80 closed

[2015-03-06 18:55] pllim opened #85 "Documentation on Ginga callbacks"
In https://ginga.readthedocs.org/en/latest/manual/developers.html?highlight=callback, it mentions "plethora of callbacks" but I cannot find a list of callbacks supported by Ginga and their meanings. For example, what is the difference between `cursor-down` and `cursor-move`; which one controls dragging by left mouse button, which one by right? Are there plans to add a table of callbacks to your do

[2015-03-06 19:58] ejeschke commented on #85
@pllim, unfortunately there is a dearth of documentation about this at the present--and it should be corrected so thank you for filing an issue.

Briefly, there are two levels at which you can register for callbacks: one level is at the "raw" event handling level and the other is at the "bindings" handling level.  Usually you want to register at the bindings level, because then you are respecting

[2015-03-09 15:05] pllim commented on #85
Could you please explain what `edit-event` is for?

[2015-03-09 17:20] pllim opened #86 "Ginga window position"
Is it possible to configure Ginga such that it does not start at `(0,0)` of the screen? What if I want it to start centered on my screen? If not, that's fine; I am just wondering. I am unable to find this info in http://ginga.readthedocs.org/en/latest/manual/customizing.html

[2015-03-09 17:29] pllim opened #87 "Doc: Ginga color palette"
Would be nice for developer to have access to a color palette in the documentation as defined by `colors.py`.

[2015-03-09 19:40] ejeschke commented on #85
edit-event is an event that is generated when an object is edited on the canvas. Editing of objects is a new feature and still somewhat experimental, so I haven't documented it yet.  In particular, the UI is likely to change some.  You can try it now if you bring up the Drawing plugin.  After drawing a figure, press 'b' to enter edit mode.  You will then be able to select figures on the canvas, dr

[2015-03-09 19:42] ejeschke commented on #86
@pllim, could you try setting the autocenter feature to 'on' or 'override'.  Bring up preferences for the Image channel.  You'll find the setting near the bottom.  Save your preferences.

Does this do what you want?

[2015-03-09 19:47] pllim commented on #86
@ejeschke , I am not talking about panning the image. I am talking about the positioning of the Ginga application itself (the widget) on the monitor screen.

[2015-03-09 19:56] ejeschke commented on #87
Do you mean to be able to define your own colormaps?

[2015-03-09 20:01] ejeschke commented on #86
Could you try the --geometry command line option?  Does that do what you want?

[2015-03-09 20:02] pllim commented on #87
No, I just want to see a table of supported color names and what the color looks like. I spent 15 minutes today going through the names in `colors.py` trying to find one that looks nice for my plugin. Something like http://matplotlib.org/examples/color/colormaps_reference.html

[2015-03-09 20:05] pllim commented on #86
That might work, what is the proper syntax for that option?

[2015-03-09 20:19] ejeschke commented on #87
I see.  I actually have some code that shows a small preview of the color map, along with the name.  Was planning to use this, but it seems there is a problem with it and recent versions of Qt.  Need to work on it.

Do you want to use a matplotlib colormap with ginga?  You can.

[2015-03-09 20:20] ejeschke commented on #86
Try +nnn+mmm.  I believe it is the same as for any X application, i.e. WxH+X+Y.  You can omit the size and just specify the offset.

[2015-03-09 20:38] pllim commented on #87
I wasn't really looking for an entire colormap. I was just looking for one specific color that would go nicely with the image I am using (for a shape I am trying to superimpose on the image). The small preview you mentioned sounds useful when you get the chance to fix it.

[2015-03-09 20:56] pllim commented on #86
Ah, okay. That works for me. Thanks!

[2015-03-09 20:56] #86 closed

[2015-03-09 20:58] pllim commented on #85
Thanks for the clarification. I don't really need this functionality, so it is good to know that I can ignore implementing this callback.

[2015-03-09 21:06] ejeschke commented on #87
Just FYI, if you have matplotlib installed, and want to add their selection of colormaps to ginga, add the following line to `$HOME/.ginga/general.cfg`:
[code]

[2015-03-10 19:00] pllim opened #88 "Return value in plugin callbacks"
I notice that some of your plugin callback methods return `True`. What is the different between returning `True`, `False`, or `None` (nothing)?

[2015-03-10 20:13] pllim commented on #88
I guess this is somewhat related to #85

[2015-03-10 21:01] ejeschke commented on #88
@pllim, I did a quick check on the code and can't find the reference, so I'll have to look more carefully.  From recollection: at some point in time or in some places, ginga followed the Qt event model where a callback should return True if it has "accepted" the callback and handled it, and False if the callback is not applicable due to some reason.  This affected whether the event was propagated

[2015-03-11 14:03] pllim opened #89 "Drawing plugin: Polygon crashing"
I am unable to find much documentation on how to properly draw a polygon in the `Drawing.py` plugin. I use right click and managed to draw one side of the intended polygon. I released the click so I can draw a different side of the same polygon, but I get the traceback below. Am I using the plugin wrongly, or is this a bug?

[code]

[2015-03-11 18:08] ejeschke commented on #89
@pllim, the usual way is to press the right (or drawing) button down where you want the starting (first) point and drag.  On the keyboard with the other hand, press 'v' whenever you want an intermediate point.  For the final point before completing the polygon, simply release the drawing button.

While during the drawing, if you ever decide the previous point was incorrect, you can press 'x' to re

[2015-03-11 18:12] ejeschke commented on #89
Sorry, in that last comment I made a mistake.  It looks like the default binding is 'z' to remove the last point, not 'x'.

[2015-03-16 15:54] pllim commented on #89
Okay, thanks! Somewhat related... Is there an existing method to extract data from inside the polygon? There does not seem to be very much documentation on `Drawing` plugin.

[2015-03-16 15:55] pllim commented on #88
Okay, thanks for the explanation.

[2015-03-16 21:09] pllim opened #90 "Doc: Mosaic plugin"
Hi. I have difficulty figuring how to use `Mosaic` local plugin properly. There does not seem to be much documentation about this. For example, what if I have several images loaded, and I want to mosaic together two of them that I see in `Thumbs`?

[2015-03-17 00:14] ejeschke commented on #90
Hi @pllim, Mosaic is not documented at all I think, and not completely polished, although we subclass it and are using a customized version regularly with certain instruments here.

Start the plugin, and set a compatible field of view (in degrees) in the plugin (say, large enough to hold the mosaiced result).  Now drag your two images onto the main channel window where the plugin is active.  They

[2015-03-17 00:47] ejeschke commented on #89
@pllim, this would be a very welcome PR if you have the time to work on it.  IMO, this is would be extremely useful.  Ideally, we would have a method that we could pass a shape (any of the supported shapes), and it would return the data that exists within the shape.  There is already a `contains(x, y)` method that could be used to help implement the method.

Seems like what you want is to find the

[2015-03-17 13:39] pllim commented on #89
@ejeschke , do you think Ginga can benefit from https://github.com/spacetelescope/sphere in this matter?

[2015-03-17 13:42] pllim commented on #90
STScI has AstroDrizzle (http://www.stsci.edu/hst/HST_overview/drizzlepac/photometry/astrodrizzle), but unfortunately I don't think it is suitable as a plugin here.

[2015-03-17 18:24] pllim opened #91 "How to close an image?"
How to close an open image without deleting the whole channel? This might sound silly but I cannot find the close button!

[2015-03-17 18:49] ejeschke commented on #89
It looks like there could be some useful synergy there.  Maybe as a more accurate representation that has a mapping to 2D, either in WCS or data coordinates?  I can well imagine that if you are combining or otherwise manipulating polygons that would be a desirable package to use.

Does it have a way to generate a bounding box from the sky polygon?

[2015-03-17 18:56] ejeschke commented on #91
@pllim, there is no way currently to delete only a single image from a channel.  In the original design, the images would simply get bumped of the `Datasrc` for a channel as more images get examined.  Then they get reloaded from disk if they got bumped out (e.g. clicking on an "old" thumbnail).

It would be pretty straightforward to add this feature, however.  A `Datasrc` has a mapping interface,

[2015-03-17 19:05] pllim commented on #91
In situations where user accidentally opens an unwanted image and wishes to de-clutter thumbnails by getting rid of it, a close image button would be nice. Intuitively, I was trying to right click on its thumbnail or `Contents` listing for a "Close" menu. I also looked under `File` menu on top left of Ginga main window. I would expect `Thumbs` and `Contents` to update themselves when an image is c

[2015-03-17 19:12] pllim commented on #89
Regarding the bounding box, I think @bernie-simon or @mdboom might be able to answer.

[2015-03-17 19:33] mdboom commented on #89
sphere doesn't have a way to generate a bounding box from a sky polygon, basically because it doesn't have any projections from 3D to 2D at all.  But it would be simple enough to project the polygon to 2D using a given projection and then compute a bounding box from that.

[2015-03-17 19:34] bernie-simon commented on #89
One "feature" or limitation of the sphere package is that the polygons it uses have sides that are constrained to be great circle arcs. I get the impression that that may not be the case for you

[2015-03-17 20:14] pllim commented on #90
Anyway, it looks like `Mosaic` is not what I need. You may close this issue if you want to.

[2015-03-19 01:16] ejeschke commented on #88
I found the code for this, in `ginga/Mixins`.  It looks like this API is still supported.  I think the situation that applies is when the ginga widget and/or some number of canvases laid on top all register for the same event.  The callbacks start with the top-most canvas, and proceed serially downward for each canvas whose UI state is "active".  As long as the callbacks return False, the event is

[2015-03-19 01:18] #90 closed

[2015-03-19 01:49] ejeschke commented on #89
@bernie-simon, I think as long as there is a "reasonable mapping" from sphere polygons to 2D polygons in pixel (data) space it might be useful for the purpose @pllim is describing, which is to extract data regions inside the polygons.  Would you agree?

[2015-03-19 20:42] pllim commented on #88
What if the callback returns nothing? Is that the same as False?

[2015-03-19 21:07] ejeschke commented on #88
Yes.

[2015-03-22 05:03] ejeschke commented on #91
Hi @pllim, could you try commit 8c8497adb2c2cc06c487b0d0e7ea7d03681c7d63?  You can choose File->Remove Image to remove the current image, or right click on a thumbnail in the Thumbs tab to get a context menu that allows you to remove the image.

[2015-03-25 18:43] pllim commented on #91
@ejeschke , that works. Thank you! However, I don't see the point of `"Load"` option that I see when I right-click on a thumbnail.

[2015-03-25 19:09] ejeschke commented on #91
Load is the same as left-clicking the thumb.  Try right-clicking and selecting load for an image that is not currently showing in the channel.  Does it work?

[2015-03-25 20:54] pllim commented on #91
Yes, it does. In fact, it preserves the modified buffer, which is nice. I was afraid it was going to reload the data from file. Therefore, `Load` is a little misleading in this context. Maybe another wording like `Focus`, `Display`, `Set Active`, or something that isn't `Load`?

[2015-03-25 21:09] pllim opened #92 "Ginga plugins as a namespace package?"
In my experience so far in developing custom plugins for my users, I found 3 ways I could distribute them, all of which have their own pitfalls:

1. Have my program always copy the plugins over to the user's `$HOME/.ginga/plugins` directory every time it runs.
2. Keep reminding my users to manually run a special script that does the copying as needed before starting my program.
3. Forcefully copy

[2015-03-26 14:51] pllim commented on #91
Also, somewhat related, when I click `delete channel`, `Contents` is updated but not `Thumbs`.

[2015-03-27 21:22] #88 closed

[2015-03-27 21:23] ejeschke commented on #92
I understand the issue.  I'll take a look at the namespace feature.

[2015-03-30 13:38] bernie-simon commented on #89
Sorry, I have not responded earlier because I've been on vacation.

A polygon is usually defined by its vertices, so the edge defined by the great circle arc may deviate from the polygon edge if they are large. As you say, the deviation may be made arbitrarily small by specifying more vertices and edges. It sounds like you want to define a mask using a polygon and mask all pixels outside it. Off t

[2015-03-31 14:11] pllim opened #93 "Primary header should be inherited"
Currently, in an exposure with `[PRIMARY, SCI, ERR, DQ]` extensions, I have to explicitly use `MultiDim` to access the primary header. A more intuitive behaviour for this format is to have `Header` of `[SCI, ERR, DQ]` to automatically inherit `PRIMARY` header, and not even display `PRIMARY` as an option in `MultiDim`. This format is widely used for HST (and possibly JWST).

I have an idea on how t

[2015-03-31 16:41] pllim opened #94 "How to keep free-panning active?"
This is a feedback from my colleague, who does not have a GitHub account, using Ginga: He pressed the "hand" icon to do free panning, but the free-pan mode is inactive as soon as he releases the left mouse button on main display, so to pan to different regions in his zoomed in image, he had to keep pressing the "hand" icon, which he finds inconvenient. He is wondering if there is a way to keep the

[2015-03-31 19:36] ejeschke commented on #94
Hi @pllim, he can press the Lock button immediately after pressing the Hand button to lock the free panning mode on.  Then press the Lock button again when finished with Free panning.  This lock feature works for all of the modes.

Alternatively, if using a three-button scroll-wheel mouse, I believe by default the scroll wheel is bound to the free panning function when depressed.

[2015-03-31 19:43] ejeschke commented on #94
Forgot to mention the default key bindings: 'w' for free pan and 'l' for lock/unlock.  Escape always cancels the current mode (but doesn't toggle the lock, so if you have the mode lock on, and press escape to get out of a mode, the next mode you enter will also be locked).

[2015-03-31 20:29] pllim commented on #94
Great. Thanks!

[2015-03-31 20:29] #94 closed

[2015-03-31 21:15] ejeschke commented on #94
One final comment for your colleague: if heavily zoomed in the Panning box can be sometimes a very quick way to navigate the image.  Two little known features: 1) you don't have to drag the pan box, you can simply click anywhere in the pan image to set the pan position (at the same zoom level), and 2) the right mouse button can be used to draw a rectangle in the pan window and ginga will try to ma

[2015-03-31 21:16] ejeschke commented on #94
Oh, and you can also scroll in in the pan window to zoom the main image as well.

[2015-04-01 01:01] ejeschke commented on #91
@pllim, can you confirm that this happens only when there is one channel created?  If there is more than one channel created I cannot reproduce the issue.

[2015-04-01 01:13] ejeschke commented on #91
@pllim, could you check commit 907aec86d8ad05f59a2a008600aee9472d1a4602?  I believe this fixes the issue where the thumbs are not removed if the channel is deleted.  Tnx.

[2015-04-01 01:16] ejeschke commented on #91
Regarding the changing of the command in the pop up menu from "Load".  I'm open to other suggestions.  If the image has fallen out of the `Datasrc` then it will indeed reload it from disk.  Maybe "Display" is representative of what is happening.

[2015-04-01 18:18] ejeschke commented on #93
Hi @pllim, my thinking is that the best place to do this currently is by modifying `MultiDim`.  Because it is simply creating new `AstroImage` objects and inserting them into the viewer, it can simply grab the main header instead of the HDU header (take a look at the [code](https://github.com/ejeschke/ginga/blob/master/ginga/misc/plugins/MultiDim.py) in the `set_hdu` method).

This then becomes a

[2015-04-02 14:25] pllim commented on #93
Not really. I think `io_fits.py` is a better place for this.

[2015-04-02 14:27] pllim commented on #93
Anyways, I'll submit a PR later today and we can discuss. :)

[2015-04-02 17:47] pllim opened #95 "Mosaic crashes in create_blank_image()"
Hi again. I dragged an image file from your file browser plugin onto the display area to make a mosaic, I get the following traceback:
[code]

[2015-04-02 18:48] pllim opened #96 "MultiDim play buttons do nothing"
I was under the impression that `Play` in `MultiDim` cycles through all the loaded extensions for the particular image. But it does not seem to be working.

[2015-04-02 20:11] ejeschke commented on #93
I'm testing this PR now.  Is it merging the primary header with the individual HDU headers?  The header seems to be changing as I scroll through the HDUs in `MultiDim`.  So it is not just displaying the primary header, but merging it with the HDU header, with the HDU header keywords having preference?

[2015-04-02 20:19] pllim commented on #93
Yes, but let me explain. My idea is to display the header such that the original header is displayed first, followed by inherited primary header. If there are conflicting keywords, the ones in primary are ignored. As you can see, I merge them in `AstroImage.get_header()` method without changing `AstroImage.metadata['header']`. So theoretically, I can still extract only the original header by calli

[2015-04-02 21:23] pllim commented on #91
For the menu verbiage, I would prefer "Display" over "Load".

Yes, I only have one channel opened. Now thumbnails are removed if I delete the channel. However, other plugins like `Info`, `Header`, `Zoom`, and `Dialogs` are not cleared.

[2015-04-02 23:10] ejeschke commented on #96
That section is for data cubes.  If you load a data cube you will be able to step through it with those controls.  It does nothing for HDUs.

[2015-04-02 23:12] ejeschke commented on #95
@pllim, is it possible to get a copy of a FITS file that induces this behavior?

[2015-04-02 23:57] ejeschke commented on #93
I see that some HST images have a FITS keyword `INHERIT=T` in the HDU headers.  Should we make this behavior only happen if that keyword exists and its value is true?

[2015-04-03 04:51] ejeschke commented on #91
@pllim, could you test commit 06255c890d973b1082e9c64bd401d77bf4c02c06?  This should properly handle things in the Pan, Info and Header plugins when a channel is deleted.  Zoom will be updated when the mouse is moved over any other image.

Still thinking about what to do about Dialogs.  I suppose all local plugins related to the channel should be stopped and closed.

[2015-04-03 04:53] ejeschke commented on #91
Changed "Load" to "Display" this will be in the next commit.

[2015-04-03 13:42] pllim commented on #93
I don't think `INHERIT` is a normal FITS standard (maybe @embray can confirm). According to http://www.stsci.edu/hst/HST_overview/documents/datahandbook/intro_ch23.html , "the FITS standard does not include keyword inheritance, and while the idea itself is simple, its consequences are often complex and sometimes surprising to users." Ginga should not be dragged into STScI's weird formats (too much

[2015-04-03 13:44] pllim commented on #95
Perhaps, but I will need to "sanitize" the data first while keeping the relevant keywords that you need intact. Let me see what I can do.

[2015-04-03 13:45] pllim commented on #96
Okay. Perhaps the buttons can be disabled (or not displayed at all) if data cube is not present. Or at least clarify their usage in the instructions.

[2015-04-03 14:48] embray commented on #93
I agree with @pllim here; `INHERIT` causes more confusion than it's worth.

[2015-04-03 16:35] pllim commented on #95
@ejeschke , you should have received an email (or several) from me with access info to the file.

[2015-04-03 16:55] pllim commented on #91
Thanks for the commits!

Yes, `Info` and `Header` clears up when channel is deleted now. As for `Zoom`, when I deleted my one and only `Image` channel, there is no other image to mouse over to update it.

In addition, here is another peculiar behavior: I loaded a single image into my one and only channel (`Image`). Then, I deleted the channel. Then I selected `File -> Load Image`, and deleted the

[2015-04-03 17:00] pllim commented on #91
One more thing: When I deleted my last channel (so no more channels left) and I select "delete channel" again, I get error traceback below. I propose for Ginga to either disable "delete channel" when there is no more, or just ignore it silently (or with warning to log file) when user selects it.
[code]

[2015-04-04 00:50] ejeschke commented on #93
In your current PR though, inherit is set as the default. If "its consequences are often complex and sometimes surprising to users" then I'm thinking that maybe it should off by default.  The FITS keyword (if standard in HST headers) would be an easy way to turn it on without having to set a preference (we could make a preference, of course).

[2015-04-06 00:49] pllim commented on #93
@ejeschke , I set inherit to default because I need it for my work. My thought is that once it is absorbed into the config system, it can be disabled by default, and then I can just enable it in my config. I should have explained in the code, I apologize.

Won't things get even more confusing if user can choose to turn on inheritance either by using config or `INHERIT` keyword? What if they do not

[2015-04-06 19:56] ejeschke commented on #95
Hi @pllim, thanks for sending me the FITS file.  On my initial testing it works.  When you load this image into ginga normally, does it have a functioning wcs?  What version of astropy are you using?

[2015-04-06 20:01] ejeschke commented on #93
I see.  I don't know the FITS history of INHERIT, but it seems like if it is in the "FITS standard" then ginga should try to do the "right thing" by default.  Maybe an acceptable solution would be to follow the preference if the user has set one and otherwise to check for the INHERIT keyword and follow that (if present and True), else assume inherit=False.  Sound ok?

[2015-04-06 20:01] ejeschke commented on #93
If this sounds ok I'll add in the preference bits and merge it.

[2015-04-06 22:03] embray commented on #93
It's not in the FITS standard.  It's just an HSTism, like NEXTEND (shudder).

[2015-04-06 23:50] ejeschke commented on #93
Hmm, thanks for the explanation @embray.  In that case, I'll just add the preference bits and set the default to be False.

[2015-04-06 23:51] ejeschke commented on #95
"normally" == not using the Mosaic plugin

[2015-04-06 23:57] ejeschke commented on #92
I think the namespace approach sounds feasible.  I suppose ginga.misc.plugins, ginga.qtw.plugins and ginga.gtkw.plugins all should be exported as namespaces.  Any quick pointers on how to implement that?

[2015-04-07 01:33] ejeschke commented on #96
I've made some changes for this issue in commit 8a344e36051b20d9dd981db15a12b7a9402f5eb7.  It should enable or disable the NAXIS animation controls based on the number of dimensions found.

[2015-04-07 01:34] ejeschke commented on #96
There is still a possible usability issue in that the NAXIS controls are not rebuilt until you select an HDU in the HDU controls.

[2015-04-07 13:48] pllim commented on #92
@embray, perhaps you are the best person to answer this?

[2015-04-07 13:50] pllim commented on #95
I can load it normally, and RA and DEC values display fine. I use astropy v1 that comes with Anaconda. It only crashes when I drag and drop that file in the attempt to create a mosaic.

[2015-04-07 13:51] pllim commented on #93
:+1: @ejeschke

[2015-04-07 22:42] ejeschke commented on #93
@pllim, can you test commit b4b1876ec5ad3aaace9ba62cf48666ddde67faa7 ?  As suggested in this thread, this "inherit" feature is activated by preference only.  Please add to your $HOME/.ginga/general.cfg the line:
[code]

[2015-04-08 20:19] pllim commented on #92
@embray wrote this on an internal webpage, so I copy-and-pasted it here for reference. What do you think, @ejeschke ? Is this feasible?

**Python Namespace Packages**

Namespace packages are one of those kind of weird things in Python that get talked about from time to time but nobody really uses them or understands what they do.  Except people ''do'' use them.  ''We'' use them as of recently for

[2015-04-08 20:35] pllim commented on #96
I don't have data cubes, so this works good enough for me. Thanks!

[2015-04-08 20:35] #96 closed

[2015-04-08 20:46] pllim commented on #93
This works great. It also preserves the original header internally when I write out the modified buffer. Thank you!

[2015-04-08 20:46] #93 closed

[2015-04-08 20:56] pllim commented on #76
I think this works well enough for now. In one instance, it gives me empty drop-down box for HDU selection, but it was on a modified buffer, so not something Ginga supports natively. I was able to reset that by switching to another image and back. You can close this if you wish.

[2015-04-08 21:03] pllim commented on #95
With your latest dev version, it does not crash anymore with the sanitized image I gave you, but it still crashes on the original version. I need to look into this before I get back to you.

[2015-04-09 17:52] pllim opened #98 "numImages in config files"
I see `numImages` repeated in both my `channel_Image.cfg` and `general.cfg`. Are they the same thing? Can I just keep it in `general.cfg` and remove it from `channel_Image.cfg`? Thanks.

[2015-04-09 19:13] pllim commented on #95
I am able to reproduce the same errors by dragging HST images from file browser plugin into mosaic plugin. Here is how you can obtain the images I used this time:

1. Go to http://hla.stsci.edu
2. Search for "47 Tuc"
3. Filter the results as follow:
  - Detector: ACS/WFC
  - Spectral_Elt: F814W
4. Select these from the table by clicking on the rows:
  - PropID: 10775, VisitNum: 60
  - PropID: 1167

[2015-04-09 21:07] pllim commented on #95
Okay, I think I *might* have figured out what is really happening here. I got Ginga to print out `(height, width)` just before it crashed, and then used the values below:
[code]

[2015-04-09 23:05] ejeschke commented on #98
Hi @pllim.  I've clarified the order of inheritance of this setting in commit f77a20154347af3bb51676d552726a74045d3453.

The `channel_*.cfg` files are saved whenever someone presses "Save Settings" in a Preferences plugin (which is a **local** plugin, meaning settings are saved on a per-channel basis).  Since this particular preference will be inherited from `general.cfg`, I would leave your setti

[2015-04-09 23:15] ejeschke commented on #95
@pllim, this is definitely a very memory intensive plugin, since it has to create a numpy array to hold the entire mosaic.  If it is possible to catch and recover from the MemoryError that would be highly desirable.

Can you try to set the FOV down to something smaller?  Or try it on a machine with more RAM or swap space?

[2015-04-10 17:11] pllim commented on #95
Theoretically, it is possible to get available memory and compute memory the array would take before creating an array. If computed memory is more than what is available, display error gracefully in GUI instead of crashing with obscure traceback.

For my data, I am attempting to scale down the images while preserving their WCS. Will keep you updated.

[2015-04-10 18:18] ejeschke commented on #95
Hi @pllim, I downloaded the three files you suggested.  If I set the FOV to 0.35 deg in the plugin and drag the 3 files onto the pane the mosaic is completed in 3.5 sec.  This is on a 3 year old Dell desktop pc running Ubuntu 14.04 with 16 GB RAM.  When I check with ps, it looks like ginga is taking about 6.1GB virtual memory, but only 693MB resident memory.

[2015-04-10 20:46] pllim commented on #95
I am unable to find documentation on how to properly use the plugin. I managed to scaled down the images, which removed the `MemoryError`. Now, when I drag-and-drop a file from file browser plugin, it appears in mosaic display, but the previous image I dropped there disappears. How do I get all three of them stack on each other?

[2015-04-10 22:47] ejeschke commented on #95
Either uncheck the option that says "Drop new" or drag the files together.

[2015-04-13 16:00] pllim commented on #98
So, if `numImages` is different in both, Ginga will use the value from `general.cfg` and ignore the one in `channel_Image.cfg`? I illustrate the scenario below:
[code]

[2015-04-13 17:47] pllim commented on #95
Ah, okay. Thanks!

[2015-04-13 17:48] pllim commented on #95
I still think that `MemoryError` could be handled more gracefully. But if you do not wish to fix it, you may close this issue because my original question is answered. Thank you.

[2015-04-13 18:00] pllim opened #99 "Mosaic plugin in Subaru"
In #90, you mentioned that Subaru subclassed Mosaic plugin and it is used regularly. What does the subclass has that the built-in version does not? Why is it not part of Ginga that is being distributed?

I think that it would be nice for Mosaic to list files added to mosaic (like `Contents`) and perhaps even allow user to select from that list and have display highlight the selected image in mosai

[2015-04-13 19:12] ejeschke commented on #95
@pllim, before we close this issue, can you locate (with your print statement if necessary) where the MemoryError is generated so that we can attempt to handle it more gracefully?  My past experience with MemoryErrors is not good--by the time you catch them the interpreter is in a state where it cannot recover--but maybe in this case it may be different.  Is this happening for sure in `create_blan

[2015-04-13 19:16] ejeschke commented on #95
BTW, I would welcome a PR for an option for Ginga to figure out the FOV based on the input images.  I never got around to implementing that.  I'm guessing it would require an initial pass over the headers and use the WCS to calculate the min and max coordinates.  Finally, these would be converted into a field width in degrees.  If a new file gets dragged in that extends the field the existing mosa

[2015-04-13 19:26] ejeschke commented on #99
@pllim, at Subaru we subclass this plugin to make use of some additional details about the instrument being used with the plugin.  For example, we know the exact FOV.  We also add some bits of code so that when the images arrive from the instrument to the quick look they are mosaiced into place without the user having to do anything.  There is also a nice feature to remove the overscan region from

[2015-04-13 19:30] ejeschke commented on #98
No, sorry if I wasn't clear.  If there is a value in `channel_Image.cfg` it will be used in before that in `general.cfg`.  But if the value is already in `general.cfg` it will be inherited to `channel_Image.cfg` the first time the user does a "Save Settings" when editing the Preferences for the Image channel.  Therefore to my thinking it's better to have the initial setting in `general.cfg`.

[2015-04-13 19:47] pllim commented on #98
Ah, okay. Thank you for the clarification.

[2015-04-13 19:47] #98 closed

[2015-04-13 21:15] pllim commented on #99
I can definitely use the "auto mosaic" feature of your subclassed plugin. Do you mind sharing it via the same place where you grabbed my FITS image?

[2015-04-14 15:39] pllim opened #100 "Image path preference for FBrowser"
It would be more convenient if `FBrowser` plugin can read in user preference on what root path to display, instead of starting out at `HOME` every time; Something like `imdir` in IRAF's `login.cl`.

[2015-04-14 21:42] ejeschke commented on #100
@pllim, could you try out commit 8a524549eafabe5872175913ce8a2f59813dcbbf?

Before using, please examine the possible settings preferences in the file `examples/configs/plugin_FBrowser.cfg`.

[2015-04-15 14:09] pllim commented on #100
I changed the config to point to my desired working directory, but `FBrowser` did not pick it up. It is not clear to me why it is not working by looking at your diff.

[2015-04-15 15:09] ejeschke commented on #100
Did you copy the file to your $HOME/.ginga ?

[2015-04-15 15:29] pllim commented on #100
Ah, okay. It turns out I need to do
[code]
and not
[code]
Okay. This works fine now. Thanks!

[2015-04-15 15:29] #100 closed

[2015-04-16 16:25] pllim opened #103 "Occasional seg fault on closing Ginga"
Using Ginga with my custom plugins (`ginga -t pyside blahblahblah`), I occasionally encounter segmentation fault when I close Ginga despite everything seemingly works. It is not unlike http://stackoverflow.com/questions/27721469/python-segmentation-fault-core-dumped . A quick search shows that your codes do call `destroy()` in several places. I wonder if that is indeed the cause. Below is my `gdb`

[2015-04-21 21:32] ejeschke commented on #103
Hi @pllim, I've encountered it on the rare occasion.  I assume that indeed it has something to do with the qt library and maybe python destructors being called incorrectly in some odd state.  I have heard that it is better to do something like this:
[code]
than to call `obj.destroy()`.  Maybe we should try changing all existing calls to `destroy()` to use this technique?  Could you try it and let

[2015-04-22 14:47] pllim commented on #103
@ejeschke , do you use Qt or GTK?

[2015-04-22 15:13] pllim commented on #103
By the way, `deleteLater()` does not help in my case. I'll see if *adding* it to my custom plugins help. Will keep you updated.

[2015-04-22 15:26] ejeschke commented on #103
GInga-wise, I use Qt for some machines and Gtk on our observation control system.  So both are getting used regularly.

[2015-04-22 16:22] pllim commented on #103
Update: The seg fault went away when I switched toolkit from PySide to PyQt4. In doing that, I didn't have to add `deleteLater()` to my custom plugins. I was using your latest version on `master`.

I don't know if you wish to add a warning about seg fault when using Ginga with PySide. You may close this issue when you wish.

Thanks!

[2015-04-22 16:24] pllim commented on #103
And just in case you are curious, both my PySide and PyQt4 versions are the latest available on Anaconda. Here is my `conda list`:
[code]

[2015-04-22 16:30] pllim commented on #95
This is addressed in #101

[2015-04-22 16:30] #95 closed

[2015-04-22 16:38] pllim opened #106 "Mosaic enhancement ideas"
This is a follow-up on #101 for unresolved issues in `Mosaic`plugin:

1. I notice that when I set my preference for Mosaic to create new thumbnails, I see the new entries in `Contents` but not `Thumbs`. You explained that `Thumbs` support can be tricky, which is okay,  but should be documented.

2. And because `Thumbs` currently does not "see" mosaics, this entry in `plugin_Mosaic.cfg` is very mis

[2015-04-22 16:43] pllim opened #107 "Context menu for Contents?"
When user right-clicks on a thumbnail, a context menu to load or remove image pops up. A similar menu for `Contents` is desirable. Especially because mosaic is listed only under `Contents` and not in `Thumbs`, and closing unnecessary mosaics can free up memory (I hope?). This is not critical because mosaic can still be closed via `File -> Remove Image`, but it is convenient to have.

[2015-04-22 21:13] ejeschke commented on #103
Thanks, @pllim, I haven't really tested all that much with PySide, so that may indeed be the issue.  Some subtle termination race condition issue?  In any case, good to hear your experience.  I think most people are using with PyQt via anaconda or linux.

[2015-04-22 21:13] #103 closed

[2015-06-04 21:00] pllim opened #109 "Ginga crashing on start up"
I updated Ginga to latest dev version and now it crashes when I start it:

[code]

[2015-06-05 00:02] ejeschke commented on #109
Hi @pllim,
Could you try commit e98f249749c4d7e9b82a5ddaa607d06fd3d8e191?  I believe this should be the fix.  Surprised I didn't see this in my environment--I tested both python 2.7 and 3.4.

Lots of changes in recent versions--please let me know of any additional issues you encounter.

[2015-06-05 13:58] Cadair opened #110 "Drag and Drop onto viewer doesn't work under Windows."
It appears to be pre-prending a `/` infront of the path.

ping @alex-ian-hamilton

[2015-06-05 14:01] Alex-Ian-Hamilton commented on #110
Error code:
[code]

[2015-06-05 14:33] pllim commented on #109
That works. Thanks, @ejeschke !

[2015-06-05 15:58] pllim opened #111 "How to redraw without resetting zoom"
I have a plugin that modifies the displayed image and then re-display the modified array, as follow:
[code]
When I have the original image zoomed in (say, 10X centered on a pixel on the top right corner), the display goes back to 1X centered on the entire image when I update the data. Is there a way to tell the display to keep the current zoom and position?

[2015-06-05 16:39] pllim commented on #111
Also related: Is there a feature in Ginga that is similar to "match frames" in DS9, to match the current zoom and position across all frames?

[2015-06-05 20:06] ejeschke commented on #111
@pllim, couldl you try commit d556039f515f27010ce3d7912779a587b172a84b?  I believe this fixes the issue.

This relates to when the settings for autocenter, autozoom and autocuts apply.  If a new image is set to the viewer (e.g. `self.fitsimage.set_image()`) then these settings will apply, if the current image is modified (e.g. `image.set_data()`) then they will not be applied.  I think this makes

[2015-06-05 20:33] ejeschke commented on #111
There is a feature to share settings (e.g. scale (zoom) and pan position) between viewers.  It is not documented or very well tested and the UI is currently poor.  It is a good candidate for a better implementation of the workspace or channel dialogs.

Here is how you do it, if you want to play with it:
Choose "New Workspace" from the `Workspace` menu. In the dialog,
  1. for "Workspace type", cho

[2015-06-05 20:38] ejeschke commented on #111
BTW, if you open Preferences for one of these channels and change the "Pan coord" setting to "wcs", then the two frames should align pan by coordinate position, not data position.  This is especially useful if you turn on the "mark center" preference for each channel.

This pan by wcs feature is definitely not well tested and I would appreciate feedback.  I've occasionally seen some wonky zoom beh

[2015-06-05 20:46] pllim commented on #111
@ejeschke , the commit works. Follow up question: When I switch thumbnails to and back, the zoom/position resets, is that intentional?

As for the workspace, it is very nifty, but does not quite fit into my software workflow.

[2015-06-05 21:09] pllim opened #112 "QPainter warnings"
My plugin gives me spurious messages like the ones below, after I modified and displayed the modified buffer, and switched to another image in the thumbnails. I am using the latest dev version. I am hoping you can give some pointers on what might cause this, since you mentioned you made a lot of changes to Ginga recently.
[code]

[2015-06-05 21:25] ejeschke commented on #111
You can turn "autocenter" and "autozoom" preferences to "off" and then they won't be invoked when you change images.  Change the preference for the "Image" channel and it will be inherited by other channels you create.

Another possibility to "off" is "override".  For autozoom setting, setting to override means that it will automatically zoom new images to fit the window until such time that you c

[2015-06-05 21:29] ejeschke commented on #111
Back to your question, though, it certainly would be possible to add a feature to match the zoom and pan position across channels.  Maybe something to add to the "Channels" menu?

[2015-06-05 21:36] ejeschke commented on #112
Can you post a log snippet (with level setting of 20)?  What I'm most looking for is any error messages just prior to the first QPainter warnings.  There was a rather huge change to the rendering recently, which will help greatly for future maintainability, and this is probably due to a bug introduced by those changes.

[2015-06-05 21:49] ejeschke commented on #110
@Cadair, I might need some help with this one.  I don't have access to any Windows machines and the only people who have them here are the office staff, who don't have anaconda installed and probably would not appreciate me asking them to install stuff.

This would be easiest to debug with one of the example programs, such as [example2_qt.py](https://github.com/ejeschke/ginga/blob/master/examples/

[2015-06-07 12:01] Alex-Ian-Hamilton commented on #110
@ejeschke, if you tell me what to do I can send you back the results, just I'm a bit new when it comes to Python/GIT.
I ran that script, the viewer loaded and I could manually open files, but I couldn't use drag-and-drop, it just does nothing and doesn't show an error in the console. Is there any way I can get more info for you?

FYI I'm running Windows 10, but I doubt that's the issue, I could al

[2015-06-08 15:11] pllim opened #113 "New astropy WCS class incompatible with Anaconda"
The changes done in #108 give the following errors when I use `astropy` 1.0.3 that is part of Anaconda:
[code]

[2015-06-08 15:18] pllim commented on #113
Other errors from the same PR as above:
[code]
and
[code]

[2015-06-08 15:43] pllim commented on #112
Okay, since it is spurious, I do not know how to recreate it at will, but if it shows up again, I will post more info.

[2015-06-08 17:14] pllim commented on #111
For my purpose, changing these settings in `channel_Image.cfg` is just as effective as forcing zoom/pan to match via menu item, so I think the menu feature is currently unnecessary. But if I find otherwise in the future, I will open up a new issue. Thank you for your help!
[code]

[2015-06-08 17:14] #111 closed

[2015-06-08 19:19] ejeschke commented on #113
@Cadair, would you mind taking a look at this?  I think this is in your code, and I haven't yet looked through it to see what exactly is going on.

[2015-06-08 19:21] Cadair commented on #113
I will take a look at this, I don't have much time at the moment.

@pllim Is this particularly urgent? You can override the WCS system right?

[2015-06-08 19:21] ejeschke commented on #110
Hi Alex, does drag and drop work if you run the sample program in .../examples/qt/example2_qt.py ?

[2015-06-08 19:23] ejeschke commented on #113
@plim, for the moment you can simply set
[code]
in your `$HOME/.ginga/general.cfg`

[2015-06-08 19:27] pllim commented on #113
@ejeschke , changing the setting to ``'astropy'`` works for me. Thanks! @Cadair , since there is a work-around, this issue is not urgent.

[2015-06-08 20:08] Alex-Ian-Hamilton commented on #110
Sorry, I wasn't clear, example2_qt.py is the script I ran and no it didn't work.
I could manually open files, but I couldn't use drag-and-drop, it just does nothing and doesn't show an error in the console. Is there any way I can get more info for you?

[2015-06-08 20:51] pllim commented on #112
Update: I haven't seen any `QPainter` messages today, but occasionally when I modify the data and invoke `set_data(data)` , the displayed image "greys out" as if the cut levels have gone crazy. But I do not see anything out of the ordinary in the log file even when I have `loglevel=10`. The problem fixes itself when I click on a different thumbnail and then switch back. Very perplexing.

[2015-06-08 21:46] Cadair commented on #113
@pllim I don't seem to be able to replicate this. I managed to open an image in native fk5 and after setting the display coordinate system to something sensible it seems to work fine, I get mouse over coords and the compass.

I am using astropy 1.0.3 from conda and installing ginga from master. Can you tell me more about your setup?

[2015-06-08 22:33] ejeschke commented on #110
Ah, ok, good this is what we want to use to track this down, it will be a lot easier than debugging from the reference viewer, which generates a lot more log noise.  Could you run the program again, this time adding the following parameters:

[code]
Then drag your file into the window.  Afterward, search `ginga.log` for the string "dropped filename(s)".  Please post those lines here. Tnx.

[2015-06-08 22:54] ejeschke commented on #112
@pllim, you may want to force an autocuts to happen if the data values are changing significantly.  You can do that by simply:
[code]
after setting your data.  I don't know if this is the source of "greying out", but certainly displaying new data with old cut levels will not always do the expected.  By clicking a new thumbnail and then going back to the old one you are forcing a "new" image to be

[2015-06-09 12:15] Alex-Ian-Hamilton commented on #110
Here's what I got:
[code]
I can say that from C:/* the file address appears correct (it works in Windows Explorer), so I assume Stuart is right that it's adding an additional '/' in front?

[2015-06-09 13:37] pllim commented on #110
If the extra separator is the issue, maybe this will fix it?
[code]

[2015-06-09 16:25] pllim commented on #112
@ejeschke , forcing `auto_levels()` did not solve my problem. This is basically what I am doing (see below), maybe I missed something subtle.
[code]
When the above code runs, I can confirm that DQ extension is loaded and modified (but not set to active display, which is fine with me). I still see SCI being displayed, but occasionally it would "grey out" as I described above. I cannot reproduce thi

[2015-06-09 16:50] pllim commented on #113
Using `ginga.util.wcsmod.AstropyWCS`, I get the following when I access its `wcs.wcs` attribute:
[code]
I cannot load the header at all with `AstropyWCS2`.

Admittedly, the WCS information is bogus (someone else made it up, not me!). With `AstropyWCS`, the compass looks all weird on Ginga, i.e., N and E are not perpendicular. For my purpose, I don't care. But I don't understand why `AstropyWCS` wo

[2015-06-09 16:53] pllim commented on #113
I cannot share the image nor its full header, but if you need certain header keywords, please let me know and I'll post the values here. Thanks!

[2015-06-09 16:56] Cadair commented on #113
@pllim hmmm, is it in a coordinate system supported by astropy coordinates?

[2015-06-09 17:15] pllim commented on #113
How do I find out? Like I said, `AstropyWCS` works.

[2015-06-09 17:17] Cadair commented on #113
what do you get when you run the WCS object through this: http://docs.astropy.org/en/stable/api/astropy.wcs.utils.wcs_to_celestial_frame.html#astropy.wcs.utils.wcs_to_celestial_frame

[2015-06-09 17:31] pllim commented on #113
[code]

[2015-06-09 17:33] Cadair commented on #113
Interesting. What coordinate system is the WCS describing?

I a test file with an unknown WCS. Could you make a derivative of your file that still reproduces that error?

[2015-06-09 17:49] pllim commented on #113
After carefully combing through the header, I realized that it might not have *any* WCS keywords at all. I can reproduce the same thing by replacing the input header with empty FITS header:
[code]
:scream:

[2015-06-09 17:50] Cadair commented on #113
haha nice! Thanks.

Ok I will try and give this a go, but as I say might not be for a while, hard to know at the moment.

[2015-06-09 17:54] pllim commented on #113
No problem, there is no rush on my end. Whatever the solution is, would be nice for `AstropyWCS` and `AstropyWCS2` to at least behave consistently. Thanks for looking into this!

[2015-06-09 20:02] pllim commented on #112
Also, I found a way to consistently reproduce the `QPainter` messages. First, I started Ginga with some images:
[code]
Then, I started the `Mosaic` plugin and drag in 4 images to create a mosaic. Now in `Contents`, I see the original images and `dp0` (the mosaic). I click on one of the original images to display it, and then I click on `dp0` to switch back to displaying mosaic. Now, the mosaic won

[2015-06-09 21:41] ejeschke commented on #110
@Alex-Ian-Hamilton, can you test commit 01e97ad6943bd6d1e5531bddfc36e46fcaeeb3ec (just committed to master).  Does this fix the issue?

[2015-06-10 12:34] Alex-Ian-Hamilton commented on #110
Yup... That does it, drag and drop works. :)

[2015-06-10 13:50] pllim opened #114 "Mosaic and datasrc"
Is it feasible for `datasrc` to permanently cache mosaicked array(s) generated by `Mosaic` until user explicitly deletes the mosaic? I know it can take up lots of memory, but once it is out of the cache, it cannot be automatically regenerated behind the scenes when user clicks on it in `Contents`.

[2015-06-10 16:43] pllim opened #115 "How to auto start local plugin?"
Is there something I can add to the `Bunch` definition when I define a local plugin to command Ginga to automatically open it under `Dialogs` on start-up? There is no `start=True` option like with a global plugin.

[code]

[2015-06-10 17:06] pllim commented on #106
I guess #116 will take care of Item 3 above.

[2015-06-10 17:47] #110 closed

[2015-06-10 20:17] ejeschke commented on #114
Actually, it can be recreated (at least it can in many cases)--we are doing that here at Subaru with our customized subclass.  But this is from a known number of frames with always the same parameters.  It might be more difficult to support with the user changing arbitrary parameters.  Still, something to consider.

In any case, I think it might be reasonable to add a feature to "tag" entries in a

[2015-06-10 20:27] pllim opened #117 "Mosaic gives Astropy warning when generating WCS"
It looks like `Mosaic` is using an outdated WCS convention? I am using `astropy` 1.0.3 that comes with Anaconda.

[code]

[2015-06-10 20:32] pllim commented on #114
Good question. I am not a GUI design expert, but one of these will work for me (I am also open to suggestions):
1. Not accepting new image, like you said. And gives a warning or error?
2. Prompt user to choose ("I am going to delete mosaic0 (yes/no)"), but popup windows can be annoying.

[2015-06-10 20:34] pllim commented on #114
Or maybe just recreate it somehow behind the scenes, perhaps using metadata stored in `Contents`?

[2015-06-11 01:48] pllim commented on #114
Or maybe save it to disk somewhere temporary (like you do with `.thumbs`?) and reload when needed?

[2015-06-11 20:50] pllim commented on #109
Similar bug in `Contents.py`, see traceback below:
[code]

[2015-06-11 22:36] ejeschke commented on #109
@pllim, thanks for catching this.  Are you by any chance using python3 by default?

Could you try commit cce88a1dab97d88a7019dc0b6f446fe836367562?  I believe this fixes the issue.  I also found one more instance of str.lower usage in FBrowser plugin, and this also addresses that.

[2015-06-11 22:43] #117 closed

[2015-06-12 14:07] pllim commented on #109
I use Python 2.7 but I have
[code]

[2015-06-12 17:38] pllim commented on #109
That seems to fix it. Thanks!

[2015-06-12 17:38] #109 closed

[2015-06-12 20:02] pllim commented on #112
Tracing the error messages, I uncommented your print statements in the function `overlay_image()` in `trcalc.py` and this is looks like the cause of the shape mismatch error. All I was doing was switching from mosaic to a regular image using `Contents` and then switching back to the mosaic.
[code]

[2015-06-13 02:06] #112 closed

[2015-06-15 14:41] pllim commented on #99
I subclassed it myself and got what I wanted.

[2015-06-15 14:41] #99 closed

[2015-06-15 17:58] pllim opened #119 ""Go to next image in channel" does not follow alphabetical order"
I have a bunch of images displayed. They are in alphabetical order in `Thumbs` and `Contents`. When I click the right arrow to go to the next image, it jumps from "image1.fits" to "image4.fits", not "image2.fits" as expected. I understand that Ginga uses many threads to open images and the internal list might not be ordered, but is there no way to have left/right arrows follow alphabetical order?

[2015-06-16 04:21] ejeschke commented on #119
@pllim, the images in a channels `Datasrc` are not ordered alphabetically by default, but by time of last access.  The idea behind the buttons is that they are a bit like the back/forward buttons on a web browser: they follow your temporal visitations to the files.

So, this is a feature and not a bug, according to the original design.  If it is desirable to have the buttons work as you describe,

[2015-06-16 14:29] pllim commented on #119
@ejeschke , I see. That behavior makes sense if you open the image one by one. But I open up all of them at once using `ginga *.fits`, so "time of last access" does not apply in my case. A user preference for alphabetical ordering like you have with `Thumbs` will be desirable. Thanks!

[2015-06-16 18:14] pllim commented on #79
Maybe this is related: When I have `autocuts='off'` set in `channel_Image.cfg` and I display a bunch of images at once using `ginga *.fits`, the "Cut Low" and "Cut High" values are both 0. I was expecting that the initial cut levels will be based on one of the images (first or last; doesn't matter to me), but then are fixed at those values until user explicitly change them. Having default 0/0 limi

[2015-06-16 18:18] pllim commented on #119
Also related, I notice that back/forward has no "loop back to beginning" feature. That is, if I am on the last frame, and I press "right arrow" again, I will go back to the first frame. Currently, it just says, "No next image!"

[2015-06-16 18:26] pllim opened #120 "Feature Request: "Play" Button to Auto-Blink All Frames?"
Just an idea. On DS9, there is a feature where you press a button called "Blink" (under "Frames") and you can automatically blink through all visible frames. You also have the option to set the blink interval (0.125, 0.25, 0.5, 1, 2, 4, or 8 seconds).

Somewhat related (but maybe not as important): There is also a feature on DS9 called "Create Movie..." (http://ds9.si.edu/doc/ref/command.html#movi

[2015-06-17 06:50] ejeschke commented on #120
I think we should add such a feature, because I have received all kinds of verbal queries about it.  I'm not sure how straightforward it is to implement subsecond timing accuracy switching between tabs, but there is some support already for this kind of switching.  If you press 'n' in the window (of the reference viewer) it should switch to the next tab and it will cycle around when you get to the

[2015-06-17 14:21] pllim commented on #120
Nothing happens when I press 'n'. I don't see any binding for 'n' in your `examples/bindings/bindings.cfg.standard` either, which I assume is the default binding?

[2015-06-17 15:12] pllim opened #121 "Channel name inconsistent between plugins"
In my own plugin, the code below gives `IndexError` because `Contents` somehow stores channel name as "Image" (with capital "I") but other plugins gets channel name as "image" (with lowercase "i"), and Python is case-sensitive.
[code]

Currently, my workaround is:
[code]

Granted that this is a non-standard usage of Ginga. What I am trying to do is to grab a list of open images from `Contents` for

[2015-06-17 22:01] ejeschke commented on #120
'n' is not a widget binding.  There are a handful of keystrokes that are only handled by the reference viewer and so are not in the bindings.cfg (getting them in there is on the todo list).  These can be found in  [Control.py](https://github.com/ejeschke/ginga/blob/master/ginga/Control.py) in the `keypress` method.

I might not have been clear about the operation.  You need to have two or more cha

[2015-06-18 13:25] pllim commented on #120
I think we're talking about two different things here. What I want is auto-play for all the images in the same channel. In my case, 'n' won't help.

[2015-06-22 21:56] ejeschke commented on #82
This is now showing scientific notation when the value is too small for the number of digits.  It's an improvement, but leaving this issue open in case there is a better solution.

[2015-06-23 23:29] ejeschke commented on #121
@pllim, could you try commit e337c16e6202f7c1d086c3f02d8caead8509d305?  I've also added a method to the Contents plugin called `get_contents_by_channel(chname)` which you can use in lieu of accessing the plugin object's `nameDict` directly--an implementation detail that could change in the future.

[2015-06-23 23:32] ejeschke commented on #121
Are you implementing the recreation of the mosaic via the `image_future` attribute of the Contents nameDict?  This is the approach I recommend.  If you make something sufficiently general that could be incorporated into the Mosaic plugin let me know. Tnx.

[2015-06-24 00:27] ejeschke commented on #120
Hmm, Ok, it seems this is a matter of workflow, maybe.  In any case, it also should not be hard to add a feature to switch between several images in a channel's datasrc.  Since the datasrc can hold an arbitrary number of images, should the feature just flip between the current one and the previous one, or all of them in the datasrc?

[2015-06-24 00:30] ejeschke commented on #120
Could you try using the left arrow/right arrow (keyboard) keys to go back and forth between two images?  Is this basically what you have in mind, but controlled by a timer?

[2015-06-24 00:43] ejeschke commented on #119
@pllim, addressing the looping only at the moment, please try commit 97ff2c75ce171313932115a2f6b12e3ad98350eb, which gives this capability.

[2015-06-24 01:17] ejeschke commented on #79
Fixed.

[2015-06-24 01:17] #79 closed

[2015-06-24 01:32] ejeschke commented on #89
@pllim, I should have replied on this earlier, but there is now support for cutting out arbitrary geometric shapes in ginga (basically any shape you can draw).  Once you have a handle on the shape (e.g. from getting it via the `draw-event` callback) you can simply do:
[code]
You will get an array corresponding to the bounding box of the shape, with the non-containing pixels masked out.  The contai

[2015-06-24 01:38] ejeschke commented on #89
@pllim, BTW, is this still crashing for you when you draw a polygon "incorrectly"?  I am unable to reproduce the crash even when I draw it (incorrectly) as you describe above.  If it is not happening any more I'd like to close the issue.

BTW, I'm still interested in possibly incorporating the sphere package, but maybe this should go in as a separate issue, and maybe combined with collaborating/re

[2015-06-24 01:50] ejeschke commented on #115
@pllim, you can use the feature of `ginga_config.py` to achieve this.  It's slightly hacky, but basically, create a file called `ginga_config.py` in your $HOME/.ginga folder.  In this file, put the following functions:
[code]

Replace 'Ruler' with 'MosaicAuto' if this is the name of the desired local plugin. Let me know how this works for you.

[2015-06-24 13:44] pllim commented on #121
@ejeschke , I am not, but I can if you give an example on how to use it. I have seen it in your codes but I don't know how to use it.

[2015-06-24 13:46] pllim commented on #120
All of them. DS9 also has "show/hide", so it skips the hidden ones, but that can be added in the future if needed. Come to think of it, there also should be a "stop" button to go with "play".

Yes.

[2015-06-24 17:22] pllim commented on #115
This works. Thanks!

[2015-06-24 17:22] #115 closed

[2015-06-24 17:26] pllim commented on #119
@ejeschke , it works *but* it only cycles through the images already in memory. For example, I have 6 images listed under `Contents` and `Thumbs`, and it has `numImages=4`. When I repeatedly click on the right arrow, it only cycles through images 1, 5, 3, 4, 1, 5, 3, 4, ... (i.e., It ignores two of the six images.)

[2015-06-24 18:50] ejeschke commented on #120
@pllim, could you take a look at commit
commit 69362a2b7bfadf2385697d8194e0f131448bc93e?

You will find a new "Blink" plugin in the Operation menu.  Let me know how it works for you.

[2015-06-24 19:48] pllim commented on #120
@ejeschke , I cannot find the "Blink" plugin and I also don't see any `Blink.py` in your commit.

[2015-06-24 20:01] ejeschke commented on #120
Oops, forgot to commit the new plugin.  Please check commit aadfab9856054360fca2bc54bc806421cbc5dc7e.

[2015-06-24 20:09] pllim commented on #120
As mentioned in #119, only the images still in memory are included in the blinking, not all the images listed under `Thumbs` or `Contents`.

Regarding the plugin GUI:
*  Interval needs a tool tip and a text describing what time unit the value is in. I'm guessing it is in seconds?
* The buttons need to be the same size, which probably means they need to go in a separate container than the one conta

[2015-06-24 20:21] pllim commented on #121
Regarding my original issue, your commit did fix it. But I wish to keep this issue open until we have addressed the follow-up issues in the comments.

Right now, I have a Mosaic sub-class that has a "Create Mosaic" button, which creates a mosaic using WCS information from all the images in `Contents` (if image is no longer in buffer, the plugin loads the image directly from file). This plugin also

[2015-06-24 20:27] ejeschke commented on #120
I think if the blink is supposed to include images that are not in memory this would be difficult to time accurately, as it would be swapping them from disk repeatedly.  I suppose ds9 only blinks images that are loaded/in memory?

Any reason not to increase the size of the channel's `Datasrc` to be a size necessary to hold all of the images?  Maybe this length needs to be able to be adjusted dynam

[2015-06-24 20:42] pllim commented on #120
Probably, since DS9 has a max limit (16?) on the number of displayed frames.

No, but consider this situation from the viewpoint of a typical user who isn't aware of all the configurations and behind the scene stuff: User does not have any custom configuration (so the default `numImages` is used). User opens a bunch of images that exceeded `numImages` but user does not even know that `numImages` e

[2015-06-24 20:50] ejeschke commented on #120
This raises an interesting question which is sort of related to the problem of recreating the mosaics when they have been ejected.  The reference viewer was created initially in an environment where data is cycling through the viewer all night long. The Thumbs and Contents hide the bounded nature of the channels `Datasrc`s, allowing the old data to be loaded with a slightly longer delay.

Perhaps

[2015-06-24 20:53] pllim commented on #120
Hmm. I do like the bounded `Datasrc` feature. I never liked the 16-frame limit on DS9, so I can't say I fully support the unbounded `Datasrc` idea. This will be a significant change, so you might want to ask feedback from more people.

[2015-06-24 21:09] pllim commented on #89
@ejeschke , polygon does not crash anymore, and I see that you also updated the instructions on `Drawing` plugin. Thanks! I'll check out the `cutout_shape()` method, and open a separate issue regarding `sphere`.

[2015-06-24 21:09] #89 closed

[2015-06-24 21:11] pllim opened #127 "Ginga and sphere"
As discussed in #89 . `sphere` is at https://github.com/spacetelescope/sphere . c/c: @mdboom , @bernie-simon

[2015-06-25 12:14] bernie-simon commented on #89
One of the constructors for the astropy sphere class takes a closed list of vertices. (Closed here means the last point on the list is identical to the first.) Since it sounds like Ginga is producing this list, there should be no problem passing it to sphere after transforming the pixel coordinates to world coordinates.

[2015-06-25 12:21] bernie-simon commented on #89
"Does it have a way to generate a bounding box from the sky polygon?"

I'm not sure what you mean by a bounding box. Do you mean the smallest rectangle that contains the polygon? Or the min and max right ascensions and declinations, for searching some catalog?

The answer is no to both, but if there was a need, it could be added. The latter problem is very simple to implement a solution for. I don

[2015-06-25 13:22] pllim commented on #89
To me, bounding box should be the smallest rectangle that contains the polygon.

[2015-06-25 13:36] bernie-simon commented on #89
What's the use case for this? Maybe this is a naive question, but it would be nice to know.

[2015-06-25 13:39] pllim commented on #89
@bernie-simon , an example use case is 6 comments above yours, as mentioned by @ejeschke

[2015-06-25 14:02] bernie-simon commented on #89
If I read that comment correctly, that bounding box is aligned with some image. That suggests to me that an input to the bounding box computation would be a rotation matrix, by default the identity matrix.

[2015-06-25 15:54] pllim opened #128 "Feature Request: Annulus shape"
As discussed in #89 , I am trying to use `arr_masked = image.cutout_shape(shape_obj)` but to extract a region defined by an annulus. Since there is no direct support for this shape, I use two circles:
[code]
But this doesn't work because they have bounding boxes with different shapes:
[code]
I thought maybe I could write my own shape, but looking at `DrawingMixin.py` and `CanvasObject.py`, adding

[2015-06-25 18:07] pllim commented on #128
Alternately, instead of a new shape object, if there is a way to just return the full-size mask for each of the circle, I can build the annulus mask myself.

[2015-06-25 18:10] pllim commented on #128
Just so you know, I already have my own functions to extract annulus using your circle objects. So if you don't think such a support would benefit Ginga in general, feel free to close this issue.

[2015-06-25 22:12] ejeschke commented on #127
As @mdboom suggested in #89, I think we just need to define a reasonable projection to map a sphere to 2D.  @mdboom, do you have any suggestions on this?

What I am thinking is that it would be straightforward to define a `SpherePolygon` (perhaps a subclass of the ginga `Polygon` canvas object) in which the vertexes are specified in sphere-compatible coordinates.  There is a coordinate mapper insi

[2015-06-25 22:20] ejeschke commented on #128
@pllim, I think there is support for this via the `CompoundObject` canvas object.  You just need to define an annulus shape by combining the two circles:
[code]
(you can also just import CompoundObject from `ginga.canvas.CanvasObject`).
[code]

[2015-06-25 22:59] ejeschke commented on #128
Sorry, this won't work  because the AND containment test is not right.  So we have to write a custom containment test.  I'll work up an example.

[2015-06-26 01:01] ejeschke commented on #128
Tested this a little bit, and I think it should work:
[code]
You need to place the object on the canvas (using ``add()``) before the `contains()` method will work (because it will get initialized with a coordinate mapper).

[2015-06-26 01:18] ejeschke commented on #128
BTW, this issue helped me uncover a bug in the containment method for circles (I found out it worked for coords in floating point (the usual case), but not for integers.  This is fixed in commit 97b34118ef2c8c82f8dd5dcc264ade6d992334f0.  You might want to merge that before proceeding with this.

[2015-06-26 08:11] ejeschke commented on #120
@pllim, if you check out commit dc1eccb7ea48940791e1aaa783d2b6466ff96a75, I have improved the button layout and added a tool tip as requested.

It's maybe not the best solution, but you can now change the limit on the `Datasrc` in Preferences. If you set it to 0 you will get an unlimited buffer.

[2015-06-26 08:14] ejeschke commented on #114
Not necessarily a solution here, but if you set the channel data buffer length as described in issue #120 your mosaic will never go out of memory.  I believe you can remove it via the Thumbs plugin with the right-click context menu.

[2015-06-26 08:18] ejeschke commented on #120
@pllim, unrelated to this issue, but try out the revamped "Cuts" plugin in this commit.  Let me know what you think.

[2015-06-26 19:11] pllim commented on #127
Pretty much, yes. But now that you have your own method to do this, I guess using `sphere` is optional?

Another thing that you might or might not find useful in `sphere` is that it has functions to compute intersections. Could be useful for `Mosaic`?

[2015-06-26 21:13] pllim commented on #120
Thanks for the updates!

* I set `numImages` to 0 in `Preferences` and click "Save".
  * When I check `channel_Image.cfg` and `general.cfg` in my `$HOME/.ginga` directory, I still see `numImages=4`
  * Changing the value in `Preferences` without restarting Ginga did not make `Blink` load the rest of the images listed under `Contents`

* `Blink` GUI looks good

* I played with `Cuts` but drawing li

[2015-06-26 21:28] ejeschke commented on #120
I just tested saving the Preferences and in my case the numImages *did* change in the file.  But I pressed Enter after entering the value in the field.  Could you see whether that works for you?  I'll try to fix it to not require the Enter.

[2015-06-26 21:32] ejeschke commented on #120
Cuts GUI or instructions probably need to be improved.  In the current operation style, you select None if you want to draw a new cut (or to select a cut for Delete).  To keep redrawing the same cut set it to something other than None.  The type drop down just chooses what kind of cut you are going to draw.

[2015-06-26 21:53] ejeschke commented on #120
Hmm, let me rephrase that:
 In the current operation style, you select None if you want to draw a new cut. Otherwise, if a particular named cut is selected in the drop down box then it will be replaced by a new drawn cut.  To delete a cut select its name and press Delete. The type drop down just chooses what kind of cut you are going to draw.

[2015-06-30 16:13] pllim commented on #114
This is not possible, as discussed in #101. To re-iterate, mosaic does not show up in `Thumbs`. However, I can remove it with "File -> Remove Image".

[2015-06-30 16:27] pllim opened #130 "Update plugin_Contents.cfg example"
Update `plugin_Contents.cfg` to reflect new addition in 1ca03e8de0b0a1bdd582e54944359cbf98601c59

[2015-06-30 16:30] pllim commented on #120
Yes, pressing Enter saved `numImages=0` in `channel_Image.cfg`. *But* it does not make `Blink` to cycle through all the images listed in `Contents`, which implies that `Datasrc` is not picking up this change without having to quit and then restart Ginga.

[2015-06-30 17:39] pllim commented on #120
The information you mentioned above would be useful in "Instructions".

Other minor GUI comments:

* When a cut is Drawn, is it possible to set the left drop-down menu back to "None"? Currently, the menu remains on the latest cut, which defaults to the behavior of overwriting the cut when I draw another line. If I forget to re-select "None" before drawing again, I lose my latest cut. Does that mak

[2015-07-01 19:30] pllim commented on #128
@ejeschke , will this work if my canvas is done this way?
[code]
That is, the annulus itself is part of another `CompoundObject`.

[2015-07-01 21:04] pllim commented on #128
I think I answered my own question. The answer is no. In the traceback below, `bg_obj` is the `Annulus` that is in `obj.objects[1]` as I illustrated above.
[code]
Is there a solution for this? Thanks!

[2015-07-02 04:17] ejeschke commented on #128
I think that *should* work.  I see a traceback here, but not the top error message on the stack.  Is there one?

[2015-07-02 04:21] ejeschke opened #131 "Cuts Plugin Improvements"
@pllim writes in issue #120:

* When a cut is Drawn, is it possible to set the left drop-down menu back to "None"? Currently, the menu remains on the latest cut, which defaults to the behavior of overwriting the cut when I draw another line. If I forget to re-select "None" before drawing again, I lose my latest cut. Does that make sense?
* Delete buttons can be disabled when there is nothing to de

[2015-07-02 04:22] ejeschke commented on #131
Moving cuts improvements over into this new issue to keep from further hijacking the topic in issue #120

[2015-07-02 04:29] ejeschke commented on #131
@pllim, regarding resetting the menu back to None.  This is a workflow issue.  I suppose it depends on whether you typically make multiple cuts or keep working with a single cut.  Ginga's cuts was modeled after the one in skycat, which just offered a single cut and let you move it around or redraw it.  This is the way most of our personnel use it.  But I think it would be easy to make a preference

[2015-07-02 11:02] Cadair commented on #131
ping @nabobalis @rupak0577

[2015-07-02 17:47] pllim commented on #131
@ejeschke , adding "None" or "New Cut" to preferences sounds like a good plan. I'm fine if you want to keep "New Cut" default. As for the colors, I guess the current behavior is fine too if it is too troublesome to modify; It just caught me off-guard the first time I used it, that's all.

[2015-07-02 17:50] Cadair commented on #131
@pllim I agree with you that None and the colours are both something that could confuse people.

[2015-07-02 17:52] pllim commented on #128
The top error message just tells me which method in my plugin that `cutout_shape()` was called from, I didn't think it would be useful information here. I am trying to implement my own `contains_arr()` method in `Annulus` but can't get it to work properly yet.

[2015-07-02 19:38] pllim commented on #128
@ejeschke , I see what you mean by the "top error message" now. I updated my traceback above. Please let me know if you know of a fix. Thanks!

[2015-07-02 19:45] pllim commented on #128
Below is the accompanying screen output to go with the traceback above:
[code]

[2015-07-02 20:16] pllim commented on #128
Okay, I think I solved it. I had to add two more methods:
[code]

[2015-07-02 20:17] pllim commented on #128
If you don't want this in the Ginga distribution, feel free to close this issue. If you want it, I can submit a PR by putting this under `canvas/CanvasObject.py`.

[2015-07-04 04:13] rupak0577 commented on #131
I think 'None' should be changed to 'New Cut' to avoid confusion. I did make the changes for clearing the plot a few days back but haven't committed them yet. The colors issue seems fine, although probably the colors should not change.

[2015-07-04 14:37] rupak0577 opened #132 "MultiDim fails on reloading"
The plugin fails to recreate the HDU list on reload. This is probably due to redo() returning True if the image is the [same](https://github.com/ejeschke/ginga/blob/master/ginga/misc/plugins/MultiDim.py#L420).

[2015-07-04 17:19] rupak0577 commented on #131
Points 2,3 fixed in #124

[2015-07-05 04:04] ejeschke commented on #131
Great, thanks @rupak0577.  Looks like we could merge that PR unless you are adding more to it.

[2015-07-08 05:31] ejeschke commented on #131
Dear All,
Could you try commit 52f5313375ebd19fef863e9a7e341d1a9695324d?  This addresses points 1 and 4, I believe.  @rupak0577, if you are not adding more to the PR you can rebase it against this version and we can merge it to address points 2,3.

[2015-07-08 07:33] rupak0577 commented on #132
@ejeschke Any comment?

[2015-07-08 13:48] ejeschke commented on #132
How was the image reloaded--by dragging a new image on to the window?  If so the image (as tested by the line you highlighted) should be different.  I need to know how to reload the image to reproduce this error.

[2015-07-08 13:55] rupak0577 commented on #132
@ejeschke The image was loaded using the File menu. You also need to select an HDU before closing the plugin, otherwise the error cannot be reproduced(I fixed this selection problem in #123). Then, after simply closing and reloading the plugin, it fails to create the list.

[2015-07-08 14:16] ejeschke commented on #132
Could you try commit 325c642c90f32115551c170349fbc360ccf16a76?  I believe this should fix the issue.

[2015-07-08 14:21] pllim opened #133 "Create plugin_Cuts.cfg"
Create `examples/configs/plugin_Cuts.cfg` to reflect new preference implemented in #131

[2015-07-08 14:28] pllim commented on #131
@ejeschke , for Point 4, the line colors seem fine now, as in they don't change when I delete one. *But* it would be nice to have the label color to be same as the line color. After I draw several lines close to each other, I can't keep track which label is for which line, because the labels are all light blue.

[2015-07-08 14:35] pllim commented on #131
Or better(?) still, instead of putting labels on the image (which can cover interesting pixels), perhaps the labels can go into a separate frame in the `Cuts` dialog? For instance, a frame titled `Legend` with a layout as follows:
[code]
Shouldn't be too hard to implement if you visualize them as a plot without grids or labels. And then just replot it when cuts are added/deleted. This is just an i

[2015-07-08 14:49] pllim opened #134 "RuntimeWarning in CanvasObjects.py"
This was briefly mentioned in #120 but should be its own issue:
[code]
This is probably explained in http://stackoverflow.com/questions/27784528/numpy-division-with-runtimewarning-invalid-value-encountered-in-double-scalars . The solution can be:
[code]

[2015-07-08 16:38] rupak0577 commented on #132
That works, thanks!

[2015-07-08 16:38] #132 closed

[2015-07-09 03:54] ejeschke commented on #130
@pllim, this is addressed in commit cbcd6b88f58a8327d8dfb3cde4a50df68b184974.

[2015-07-09 04:01] ejeschke commented on #131
@pllim, in commit cbcd6b88f58a8327d8dfb3cde4a50df68b184974 I've changed the labels to be the same color as the lines.  The line labels can also be turned off via a preference, and I've added an example preferences file for Cuts in `.../examples/configs/plugin_Cuts.cfg`

I would be open to adding a separate legend/key for the cuts labels.  The logical place would be in the matplotlib figure itself,

[2015-07-09 04:03] ejeschke commented on #131
Also, I think the default color set is not ideal.  Some of the colors work well, but others are a bit washed out.  Anyone have a better set of ~16 colors to recommend?

[2015-07-09 04:11] ejeschke commented on #128
@pllim, this looks useful.  I'm thinking that `CanvasObject` should probably only contain a few primary shapes, however.  I'm wondering if we should create a new module that includes "derived" shapes such as annulus, compass, ruler, etc.  Thinking about this.  If you have any comments, let me know.

[2015-07-09 14:26] pllim commented on #128
No problem. Once you decide on a place to put this, let me know.

[2015-07-13 09:37] sclooney94 opened #135 "How to create a False colour Image ?"
I'm trying to convert from ds9 to ginga and I'm trying to produce a false colour image. In ds9 there is the new RGB tab to do this and I'm wondering is there any equivalent in ginga or is there another way to do it ?

[2015-07-13 20:31] ejeschke commented on #133
@pllim, this file was added in commit cbcd6b88f58a8327d8dfb3cde4a50df68b184974.

[2015-07-13 20:33] ejeschke commented on #130
@pllim, can we close this issue?

[2015-07-13 20:59] ejeschke opened #136 "Reference Viewer, Cuts plugin: add Bezier cut"
This is carried over from PR #124 to keep that issue contained to everything but Bezier cuts improvements.

Original question by @rupak0577 : "There has been a discussion about adding a Bezier cut but I am not sure how to go about it. Could you give me a few pointers?

[2015-07-13 21:01] pllim commented on #130
Sure. Thanks :)

[2015-07-13 21:01] #130 closed

[2015-07-13 21:03] pllim commented on #133
Thank you! :)

[2015-07-13 21:03] #133 closed

[2015-07-13 21:09] ejeschke commented on #136
@rupak0577, the `contains_arr(x_arr, y_arr)` method for a shape is a vector test for data coordinate inclusion in the shape.  It returns an array of booleans, where the corresponding element is `True` if that x, y coordinate is in the shape and `False` if not.  This test is required to implement the full functionality of a shape, and will be needed to get the points along the shape to plot the cut

[2015-07-14 03:58] ejeschke commented on #135
@sclooney94, although the viewer supports RGB images there is no released plugin that does this.

However, I have an experimental (very rough) plugin that does something like this using the `LayerImage` mixin.  It lets you select different images and composite them as an RGB image.  You can adjust the mix to control how much R/G/B is added from each of the constituent images.

Would you be interes

[2015-07-14 09:33] sclooney94 commented on #135
Yes that would be perfect I'll test it and help out with feedback as best I can. How do I start ?

[2015-07-14 10:05] sclooney94 commented on #135
@ejeschke, that sounds exactly like what I'm looking for. I would be happy to test it and help out as much as I can with feedback. How do I start ?

[2015-07-14 20:18] ejeschke commented on #135
@sclooney94, can you contact me via email (addr is in ginga code)?  I'll send you the plugin with instructions.

[2015-07-15 10:04] sclooney94 commented on #135
@ejeschke <https://github.com/ejeschke>, this is my email address, I will
get to work with the plugin as soon as you send it to me thank you.

On Tue, Jul 14, 2015 at 9:18 PM, ejeschke <notifications@github.com> wrote:

[2015-07-17 21:18] ejeschke opened #137 "Editing canvas objects"
Ginga has slowly been developing editing capabilities for canvas objects.  So far this has been largely unadvertised, but now it may be ready for initial review and wider testing and documentation.

This has the potential to simplify many reference viewer plugins, which currently have to manage the relocation of canvas objects themselves.  Using the new editing capabilities, they can simply respon

[2015-07-17 21:26] ejeschke commented on #137
@pllim, @Cadair, @rupak0577, I would appreciate your feedback trying out the `Drawing` plugin editing.
I think the node editing capabilities will be helpful for plugins like `Cuts`, especially for something like a path or bezier cut.  We could add something like the "Edit mode" check box to Cuts that would put the canvas into edit mode and allow the user to manipulate the cut vertices.

[2015-07-17 22:05] ejeschke commented on #131
Dear All,
I've merged PR #124.  `Cuts` should now cover all of the points raised above by @pllim.

I'm open to changing the default for `label_cuts` to False, if anyone has an opinion on it.

[2015-07-18 16:46] rupak0577 commented on #137
@ejeschke Agree, that would be really helpful. I have modified Cuts to do that.

[2015-07-18 17:54] mwcraig opened #138 "Unicode characters in README.txt prevent installation in Python 3 on Windows"
It looks like the default encoding on Windows is `charmap`, which doesn't understand the unicode characters in the `README.txt`. When `setup.py` hits `read('README.txt')` it throws an error when it hits the first non-ASCII character.

I think I have a fix coming in a moment (adding an encoding the `open` in the definition of `read` in `setup.py`), want to make sure it doesn't break other platforms

[2015-07-19 02:15] mwcraig commented on #138
@ejeschke -- I've worked around this for building conda packages by writing a recipe that applies a patch on Windows/Python 3.4.

To completely fix this is in `setup.py` would be a little messy...maybe 8-10 lines of code to check python version and platform and set encoding if necessary.

It is probably easier just to direct Windows users to install the conda package: `conda install -c astropy gin

[2015-07-20 14:13] pllim commented on #131
@ejeschke et al., thanks for all the improvements. I am currently occupied by a different project, so I'll check them out when I get the chance  in the near future. But I have been following the discussions, and I don't see any issues.

[2015-07-20 20:17] ejeschke commented on #138
@mwcraig, thanks for looking into this!  Windows testing is my "blind spot" for ginga--I don't actually know anyone here that uses that combination, but we have a number of users on macs and linux boxes.

I think most Windows users are installing via anaconda/conda--but how does this work around the issue exactly?

[2015-07-20 20:28] mwcraig commented on #138
@ejeschke -- I wrote a recipe that patches `setup.py` [here](https://github.com/ejeschke/ginga/blob/master/setup.py#L15) to add the argument `encoding='utf-8'` on Windows + python 3.x builds for the affiliated package builder-bot.

[2015-07-20 22:07] ejeschke commented on #138
@mwcraig, I understand.  Seems like there should be a "clean" way to handle it with a couple of lines of python that would be platform independent and 2/3 independent.  Seems like the problem is just needing to specify the encoding explicitly?  Would it be simpler if it is only python 2.7 or above (ginga doesn't support 2.6 or below without patching)?

[2015-07-21 03:59] ejeschke commented on #136
@rupak0577, @Cadair, @nabobalis
I've updated the Cuts plugin to support cubic Bezier curves.  Its in commit 4c98055f1131affe9ae39f56889a7bbdb40380ec if you want to give it a try.  It will be a little more useful once we merge in a checkbox to put the canvas in edit mode, as described in Issue #137, because then you can edit the control points easily.

[2015-07-21 04:00] ejeschke commented on #137
@rupak0577, which PR is this modification in?

[2015-07-21 05:57] mwcraig commented on #138
@ejeschke, with the caveat that I haven't looked into it much, I'm guessing there is a better way. It could be as simple as this pseudo-code:

[code]

Python 2 doesn't like the `encoding` argument to open.

[2015-07-21 10:29] nabobalis commented on #136
From what I've played with, the cut types work but it seems that for the Bezier curve, it does not draw the actual curve, just the straight lines.

[2015-07-21 13:50] rupak0577 commented on #136
@nabobalis You need to press 'v' to add the vertices(currently supports only two).

[2015-07-21 13:53] rupak0577 commented on #137
@ejeschke Haven't committed it yet.

[2015-07-21 13:54] nabobalis commented on #136
I have done that, it doesn't actually draw a curve, just the straight lines.

[2015-07-21 17:39] ejeschke commented on #136
@nabobalis, does it work when you draw it in the Drawing plugin?  You have to click&drag.  *While dragging* you press 'v' twice.  After the second 'v' it should become a curve (you are still holding down the mouse or trackpad button) at this point keep dragging and release to set the very endpoint of the curve.

If this doesn't work we should confirm which version (qt or gtk) you using and what pl

[2015-07-21 18:03] nabobalis commented on #136
I can get the vertex added, but after the second 'v', the two straight lines do not become curved. Also, if I attempt to do it again, it does not draw the new curve, until I do it for a third time.

It is QT (Python 2) and Linux. I'll try GTK.

[2015-07-21 22:53] ejeschke commented on #136
@nabobalis, I am using the following version on Ubuntu 14.04
[code]

[2015-07-21 23:02] ejeschke commented on #136
I've merged @rupak0577's PR #139, so you can now edit the bezier cuts more easily.

For me, the interface now feels a bit confusing in that I want to use the left mouse button to edit similarly to what is done in `Drawing`.  I think `Cuts` and other plugins need a slight adaptation: you are in one of the following states:
1) neither drawing nor editing, but simply moving cuts around, by clicking o

[2015-07-22 07:53] nabobalis commented on #136
@ejeschke It says I have ('Qt version:', '4.8.7'). I also have QT 5 installed beside it.

I'll update it on my laptop and get back to you!

[2015-07-22 07:57] ejeschke commented on #136
Hmm, you may have discovered something interesting with 4.8.7.  I have also tested the following version successfully under python3/linux:
[code]

[2015-07-22 08:18] Cadair commented on #136
@ejeschke Is there a way to force ginga into Qt5 mode?

[2015-07-22 09:26] ejeschke commented on #136
@Cadair, you can do
[code]
or you can add a setting to your `$HOME/.ginga/general.cfg`:
[code]

[2015-07-22 11:14] nabobalis commented on #136
@ejeschke  On my laptop, it does not work regardless of QT4 or QT5. I do wonder if its an Arch Issue.

[2015-07-22 11:22] Cadair commented on #136
I like @nabobalis don't get a curve when I try and draw a bezier cure.

@nabobalis I just installed ginga for the first time on my cics machine. It seems to be working fine under qt5 but under qt4 I don't see the cuts plugin.

[2015-07-22 11:26] nabobalis commented on #136
@cadair the same for qt4

[2015-07-22 11:39] Cadair commented on #136
@nabobalis weirdly on my laptop I don't get cuts on qt5 either...

[2015-07-22 16:24] ejeschke commented on #136
@Cadair, @nabobalis
On the machines where the Cut plugin doesn't show up, can you start ginga with the following options: `--loglevel=20 --log=/tmp/ginga.log`

Then close ginga and look through the file for 'Cuts'.  You should find a line with an error message about loading the plugin.  What does it say?

[2015-07-22 17:26] nabobalis commented on #136
@ejeschke

For QT5:

[2015-07-22 17:52] ejeschke commented on #136
One other thing to help troubleshoot: when you run `.../examples/qt/example2_qt.py` and select "beziercurve" in the drawing menu, can you draw it?  Wondering if cubic Bezier curve has trouble in some versions of qt.  If so, we can draw it using paths instead, which is what I ended up doing for one backend.  The performance is slower, but shouldn't matter much for Cuts.

[2015-07-22 17:56] ejeschke commented on #136
@nabobalis, do you have Qt5 installed for python 2?  I think this is one scenario I haven't tested--I have qt5 for python3 and qt4 for python 2.  I wasn't aware that the two versions of Qt could coexist for one version of python.

[2015-07-22 17:58] nabobalis commented on #136
@ejeschke I do indeed have both versions of PyQt (4,5) for Python 2 and 3.

[2015-07-22 18:04] ejeschke commented on #136
Hmm, then I think the problem with loading the plugin has to do with matplotlib, actually.  Because only `Pick`, `Cuts` and `Histogram` have an embedded matplotlib widget.  How about the `example2_qt.py`--does it work to draw the beziercurve?

[2015-07-22 18:56] nabobalis commented on #136
That example code does not draw the curve under Python 2.

[2015-07-22 19:33] ejeschke commented on #136
Interesting.  The Qt backend also uses Beziers to draw ellipses.  Can you draw an ellipse with example2?  Are you using python 2.7?

[2015-07-22 19:37] nabobalis commented on #136
Yeah, 2.7.10. Also I can't draw an ellipse.

@Cadair  What about you? Is this an Arch Issue?

[2015-07-22 19:46] ejeschke commented on #136
Regarding the loading of the Cuts plugin, etc., could you try setting the following environment variable?
[code]
I found this necessary to do in order to use matplotlib with Qt at times.

Also, if you wanted to try using PySide (instead of Qt), you could install that and then set `QT_API` to "pyside".

[2015-07-22 22:00] nabobalis commented on #136
On my end, that didn't fix anything. I just have to think that this is some odd Arch Linux issue.
How would debugging work? Just with -loglevel=20 --log=/tmp/ginga.log ?

[2015-07-22 23:25] ejeschke commented on #136
Yes, if you add `--stderr` to the command line then you'll also get output to stderr.  You would look for some error happening right as you add the second vertex.

[2015-07-23 01:28] ejeschke commented on #137
I've modified the `Cuts` plugin in commit c8a410ca14566efe2b04e95a838331f9dd9d828d to show how the new changes can be used in the plugins.  It's now possible to operate Cuts without using a right mouse button or using "draw" mode (although these will still work).  Thinking of rolling this kind of change out to the rest of the plugins that do drawing: `Pick`, `Histogram`, `Ruler`, etc.

[2015-07-23 08:05] ejeschke commented on #135
I've now overhauled up the plugin quite a bit and included it in commit f520d6d4744e348495643f5b10681f847d62744f.

@sclooney94, you might want to update your ginga repo and give the new version a try (look for "Compose" in the Operation menu).

In the new version, you simply start the plugin, drag your constituent files to the large (main) window (drag them in this order: R, G then B).  Then simpl

[2015-07-23 08:06] ejeschke commented on #135
I forgot to mention that you will need to have the Python Imaging Library (PIL or Pillow) installed to save images.

[2015-07-23 08:07] nabobalis commented on #136
Error seems to be this:
[code]

[2015-07-23 08:34] ejeschke commented on #137
`Pick`, 'Ruler`, `Histogram` all modified in commit c2bb11a52446b23a22f03f5eb93b243a3f8a0ade to work in the new style.  They are all backward compatible with the previous way of working as well--right mouse button (in the default mapping) always draws.

[2015-07-23 09:43] ejeschke commented on #136
@nabobalis, I think you've nailed it.  We have to figure out where QPainterPath went in Qt 4.8.7.  It's very curious, because I'm using both 4.8.6 and 5.2.1 and in both cases it is still in `QtGui`.

[2015-07-23 09:44] ejeschke commented on #136
Maybe you can test most things with gtk for now... until we get this sorted

[2015-07-23 09:46] nabobalis commented on #136
Yeah, I will stick to GTK for now. Thanks @ejeschke.

[2015-07-24 14:28] sclooney94 commented on #135
I updated ginga but I can't see "Compose" in the operations menu. Do you
have any idea what may be the problem ?

On Thu, Jul 23, 2015 at 9:06 AM, ejeschke <notifications@github.com> wrote:

[2015-07-25 03:21] ejeschke commented on #135
@sclooney94, did you update from the github repo?  I just tested by checking out on a new laptop and the plugin is there.  "Compose" is at the very bottom of the operation menu.

[2015-07-27 13:02] sclooney94 commented on #135
@ejeschke, I have it working now and it works perfectly. Thank you very much.

[2015-07-27 23:57] ejeschke commented on #135
Excellent.  You are welcome!

[2015-07-28 15:54] rupak0577 commented on #131
@ejeschke @pllim In commit 3c62712, I have added a legend button for cuts which opens a dialog window showing the cuts with their colors. I would like to know if it can be improved in any way.

[2015-07-28 20:34] pllim opened #140 "Pan jumps back to center of image"
I have an image displayed on Ginga. I click on free-panning button (the hand icon) and lock it (the lock icon). I use left click and touch pad to move around the image. I release the button and remove my finger from touch pad. Then I use left click and touch pad again to move it somemore (free-panning is still in locked mode). But now, instead of picking up from where I am, the cursor automaticall

[2015-07-29 00:36] ejeschke commented on #140
Hi @pllim,
That is the way the "free panning" works.  Basically it uses the boundaries of the window as the boundaries of the image, so that as you move the cursor toward the top right corner of the window (for example), you scroll to reveal the top right corner of the image, at the current zoom level.  Therefore it does not matter where you start panning, but where you end up that matters.

It so

[2015-07-29 01:25] ejeschke commented on #140
Are you looking for a faster way to pan when heavily zoomed in?

[2015-07-29 02:12] ejeschke commented on #131
@rupak0577 , is that added to this PR that was already merged?

[2015-07-29 13:42] pllim commented on #140
Fast or not is not the issue here. I just don't want the display to automatically jump back to the center. I want it to pick up from where I left the cursor (in a locked mode). Does that make sense? Yes, this becomes important when the image is heavily zoomed in, because when it jumps back, I can't find where I was on the image anymore (usually, I would stop at a point of interest, like a bad pixe

[2015-07-29 17:27] ejeschke commented on #140
Is there a reason the drag pan doesn't work for you then?  I'm trying to understand why you wouldn't use it instead. It's the type of panning most people are used to from ds9.

[2015-07-29 19:03] pllim commented on #140
Ah, the "four arrows icon". Yeah, that works. Thanks! I instinctively went to the "hand icon" when I want to drag around on the image. It's a habit I picked up from a different software (could be Photoshop).

[2015-07-29 19:03] #140 closed

[2015-07-29 19:06] pllim commented on #131
@rupak0577 , I do not see the "legend" button. I am using the latest dev version of Ginga.

[2015-07-29 19:08] ejeschke commented on #140
I used the 4 arrow icon because that's what matplotlib uses for the same type of panning, and python users would be familiar with it.  BTW, in that mode, liek matplotlib, right drag zooms the image--you might try it.

Maybe we should think about a different icon for free panning?

[2015-07-29 19:12] pllim commented on #137
I am not sure if I like this new change. I am used to drawing with right button and moving with left button. Now if I forget to click on the new radio buttons, I screw things up.

[2015-07-29 19:25] pllim commented on #137
Also the instructions do not match the new GUI behavior.

[2015-07-29 19:26] ejeschke commented on #137
@pllim, right button always draws even with the changes.  if you keep the radio button marked as move, you can operate in the old style.  (I realize that for `Cuts` this does not quite work at the moment, as I put in logic to switch to draw mode when there are no extant cuts, but it does work for Pick).

We could make an option (possibly default) to make Cuts not change the button when there are n

[2015-07-29 19:29] pllim commented on #137
Okay. Please don't remove the "old style" way of doing things. Because my own plugins use the "old style" and I do not want them to break.

[2015-07-29 19:31] ejeschke commented on #137
Do the other plugins work fine for you in the "old style"?  How about your plugins?  Everything ok, except Cuts?  I think this change has the potential to make trackpad users much happier while still accommodating those of us using mice.

[2015-07-29 19:35] pllim commented on #131
I think once this missing "legend" button mystery is ratified, we can close this issue.

[2015-07-29 19:39] ejeschke commented on #131
@rupak0577, can you simply make a new PR with this change?  I think that would be best.  Previous PR was merged.

[2015-07-29 19:40] ejeschke commented on #131
Oh and for the record, I changed the default set of colors.  Of course this is controlled by a preference and so the user can change these as desired.

[2015-07-29 19:45] pllim commented on #137
`Histogram` and `Cuts` only work with "new style" now, as you indicated above. Or are they supposed to work with "old style" too?

`Drawing` does not have "new style" options, and "old style" does not seem to work anymore.

I don't use `Ruler` or `Pick` much, so I have no comments on those.

My own plugins seem fine. I don't have plans to add "new styles" to them.

[2015-07-29 20:04] ejeschke commented on #137
For plugins that never had any left mouse functionality, like `Drawing` and `Ruler`, the new style is enabled by simply having an "Edit" checkbox.  Now that I think about it, for consistency these should have two radio buttons: "Draw" and "Edit".

[2015-07-29 20:04] rupak0577 commented on #131
@ejeschke @pllim I haven't made a PR yet. It looks like this -
![wi](https://cloud.githubusercontent.com/assets/10296115/8968414/a332b85e-365a-11e5-988a-c035c434acd8.png)

The only thing troubling me is that the code is Qt based and adding that to Cuts seems wrong. And probably it can be made even better.

[2015-07-29 20:06] ejeschke commented on #131
@rupak0577 , we definitely don't want a Qt only solution.  How about simply adding a key to the matplotlib widget?  It could simply have the labels "cuts0", cuts1", etc. drawn in the proper colors.

[2015-07-29 20:15] rupak0577 commented on #131
@ejeschke You mean the plot? I am not sure how...

[2015-07-29 20:26] nabobalis commented on #131
you can add legends in matplotlib, you have to label the plot with the label keyword, label = 'name' and call plt.legend().

Assuming I've followed the conversation.

[2015-07-29 21:13] pllim commented on #140
I don't think updating the icon is necessary now that this is clarified. Thanks!

[2015-07-29 21:34] pllim commented on #120
I set `numImages=0` in my `general.cfg` file and `Blink` appears to cycle through all the images now. But how do I make it such that it cycles in alphabetical order sorted by image name? Is that possible? Or at least in the same order as appear on `Contents`? Such sorting is also desirable for when the green arrows are pressed. IMHO, green arrows and `Blink` should have the same behavior, because

[2015-07-29 21:37] pllim commented on #120
Side note: Setting `numImages` in `Preferences` works correctly when I press Enter, as you suggested. That's fine but should be documented somehow on the GUI (maybe tooltip?), e.g., "press Enter to set new value" or something like that. Pressing Enter is not intuitive to me because I already see the number changed on GUI without pressing Enter.

[2015-07-30 00:12] ejeschke commented on #131
@nabobalis, that's what I have in mind.  @rupak0577, if you look at the `Pick` plugin plot you can see this kind of little key in the upper right hand corner of one of the plots.

[2015-07-30 02:34] ejeschke commented on #137
@pllim, could you try commit 6b29c6ca782586f086f5b05c2614e6cc8ec3f14a?  This should provide for backward-compatible drawing behavior for `Cuts` and `Histogram`.  Also, I've changed `Pick`, `Ruler` and `Drawing` to have the same radio-button scheme for draw/edit (minus "move").

[2015-07-30 03:15] ejeschke commented on #120
Actually, there are a number of text entry boxes in `Preferences` in which one must press enter to "commit" the value.  I understand the issue of not understanding when the value will be picked up or not.  In some places (e.g. cut levels controls in `Synopsis` tab) you can see one approach I take to this uncertainly which is to show the actual values to the left of the controls--these will change

[2015-07-30 04:15] ejeschke commented on #120
Try commit 0f9d430fca770c6b87f13aeb93ebfc05cdacef2d when you get a chance.  It adds a widget type that has a "Set" button next to the entry field.  It's used in a couple of places in `Preferences`.  Let me know what you think.

[2015-07-30 04:20] ejeschke commented on #120
@pllim, I'm wondering if a rethink is in order for the `Blink` plugin to allow better control over *which* images are selected for the blink and what order they are shown.  I'm thinking there could be a reorderable list widget that would show all the images in memory in the channel.  You could drag to reorder and check a checkbox next to the ones you want to blink.  We could even provide a control

[2015-07-30 14:48] pllim commented on #131
@rupak0577 , regarding your screenshot, just naming the colors won't be enough. I need that color actually displayed.

Why? Because I have the ongoing debate with my spouse on whether the school bus is actually yellow or orange. Same school bus. Every morning.

[2015-07-30 14:55] Cadair commented on #131
XD

[2015-07-30 15:01] pllim commented on #120
The list for reordering would be nice. Checkboxes would be a bonus, and would be analogous to show/hide in DS9. The trick here is to have the "green arrows" (for manual blinking) pick these up as well. Otherwise, it would be confusing to have `Blink` plugin behave one way, but the built-in green arrow another way.

Personally, I wouldn't find dynamic change of `numImages` useful because I always s

[2015-07-30 15:02] Cadair opened #141 "Swap the axes of an image using MultiDim"
from #129 it would be nice if you could pick the axes the main viewer displays. I would think this should be easy enough to do with some checkboxes in multidim. i.e.

[code]

gives you the standard image

[code]

gives you a y-lambda (for a spectra cube) image, then you can control the x position in the same way you currently control the 3rd axis (lambda) position .

[2015-07-30 15:03] Cadair commented on #141
ping @keflavich

[2015-07-30 15:03] rupak0577 commented on #131
@pllim LOL. I was going to make the text colored but it's probably better to use the mpl solution.

[2015-07-30 15:23] pllim commented on #121
Revisiting this again -- I think the remaining question I have here is, "What is `image_future` and how to use it in my plugin?"

[2015-07-30 15:25] pllim commented on #114
`numImages=0` works for me. My machine has enough memory to make that work, so I'm closing this.

[2015-07-30 15:25] #114 closed

[2015-07-30 15:28] #76 closed

[2015-07-30 16:06] pllim commented on #120
@ejeschke , the "Set" button makes it more obvious, thanks! Some kind of text feedback would be nice too (if you feel like implementing it), i.e., a "status bar" right above the "Close" and "Save" buttons that would say something like "Num Images changed from 10 to 0" or "XXX change from old value to new value" if another preference is changed.

[2015-07-30 16:21] pllim commented on #137
@ejeschke , your commit looks good. Thank you!

[2015-07-30 16:25] pllim opened #142 "Matplotlib UserWarning in Histogram"
When I draw a box for `Histogram` and both "Cut Low" and "Cut High" values are zeroes, I get this warning from `matplotlib` on the screen (not Ginga's log file):
[code]

[2015-07-30 16:32] pllim commented on #131
I just found something else (using the latest dev version). Draw a cut in `Cuts` plugin (I used straight line). Close the plugin without deleting the cut line. Re-open the plugin. Now the plot appears smaller (as attached).
![screenshot](https://cloud.githubusercontent.com/assets/2090236/8988935/fe59231a-36b6-11e5-91fc-d394ff09c682.png)

[2015-07-30 16:54] pllim opened #144 "RuntimeWarning in IQCalc (Pick plugin)"
Sometimes, `Pick` gives the warning below to the screen (not Ginga's log file):
[code]
This most likely comes from this line below in `IQCalc.calc_fwhm()` method in `util/iqcalc.py` when the data is not well-behaved:
[code]

[2015-07-30 17:03] rupak0577 commented on #131
Confirmed with GTK. Does not happen with Qt.

Another small issue is the buttons get disabled even with a cut present.

[2015-07-30 17:08] pllim commented on #131
@rupak0577 , I am using Qt that comes with Anaconda:
[code]

[2015-07-31 01:45] ejeschke commented on #121
The `image_future` is a callable with no parameters that, when invoked, will reconstruct the image.  It basically provides a way to recreate an image using any method (mosaic, etc.).  To take advantage of it, after creating your mosaic and associated `AstroImage` create the future and attach it to the image using the image metadata `set` method:
[code]
`Thumbs` and `Contents` will then use the ima

[2015-08-13 07:49] ejeschke opened #148 "Reference Viewer new feature: Draggable Thumbs"
If you create a new channel (Channel>Add Channel, you can now drag thumbs from the `Thumbs` pane into the new channel.  Currently they are moved from the existing channel to the new channel, so this offers a way to reorganize the images in the channels, or to quickly set up a group for a plugin like `Blink`.

An early version of this feature resulted in a segfault for me when removing the thumb (s

[2015-08-13 07:51] ejeschke commented on #148
@pllim, would really appreciate your testing of this, if you get a chance.

[2015-08-14 00:09] ejeschke commented on #148
I'm getting segfaults again with this feature.  Seems to be having to do with removing a Thumb, because when I make it just copy images between channels there is no problem.

[2015-08-17 15:39] pllim commented on #148
I only use 1 channel, i.e., the default Image channel. But I can check this out when I get a chance some time this week.

[2015-08-17 19:50] ejeschke commented on #148
Great, Tnx.  Thinking this might be a workaround for setting up a `Blink` with just the images you want in the order you want (until we can get to some of the other feature requests).  You just create a new channel, drag the images you want in it in the order that you want and run `Blink`.

[2015-08-18 16:11] pllim commented on #148
1. What do you mean by "removing a Thumb"? I did not get seg fault when I moved an image from the new channel back to the old, or when I deleted the image from the new channel.

2. This might work for just blinking a select few of the images. :+1: to an option to copy instead, but it is still the same cache right, or do you actually make a real copy of the data?

3. This might *not* work for re-or

[2015-08-18 17:00] pllim opened #151 "Custom plugin and traceback from Control.py"
I have my own local plugins that do not use the "new type" drawing behavior nor any new features that were recently added, and I see the following traceback when I load them with the latest dev version of Ginga (did not see this 2 weeks ago):
[code]
This does not make sense to me. Does that mean now I *have* to use the "new type" drawing behavior? Any ideas would be appreciated. Thanks!

[2015-08-18 17:08] pllim commented on #151
Okay, that's weird. It went away and I cannot reproduce it. Never mind!

[2015-08-18 17:08] #151 closed

[2015-08-18 19:08] ejeschke commented on #151
Hi @pllim, this error would have nothing to do with the drawing additions.  Looks due to a change I made a couple days ago to the `Readout` the small black bar that shows the information as you mouse around the image.  I'll take a look near the code referenced.  Thanks for filing this!

[2015-08-18 19:10] ejeschke commented on #151
Please reopen if you notice this again.  Tnx.

[2015-08-20 18:51] pllim commented on #134
This is now `PolygonMixin.get_center_pt()` in `canvas/types/basic.py`.

[2015-08-20 20:02] pllim commented on #121
Thanks!

[2015-08-20 20:02] #121 closed

[2015-08-25 02:05] ejeschke commented on #111
Commit d0e6b9680f17d0c7ae2709b8b09323ddb3c3926b adds back in support for autocuts when the data changes *inside* an image.  Scale (zoom) and pan settings are not affected.  This change is due to a user scrolling through slices with `MultiDim` and wanting correct "scaling".  Since `MultiDim` does not set a new image, but simply updates an existing image, autocuts will not be applied to each success

[2015-08-25 15:23] pllim commented on #111
I don't see any problems with this so far. Thanks for the info!

[2015-08-25 15:29] pllim opened #155 "Zoom/pan to remember setting for each image?"
I have 2 images. The point of interest is at different X and Y positions on each of them. I zoomed in  on it nicely on Image 1. When I switch to Image 2, it remembers the position/zoom for Image 1, so I am looking at nothing. I move the red box on `Info` display to get to the point of interest in Image 2, and now I am looking at nothing in Image 1. Is there a way for the zoom/pan to remember the s

[2015-08-26 00:57] ejeschke opened #156 "Adding "width" to Cuts"
Commit 8772c092e2d3e5da63101ee6dea8a48f379db4ce adds the ability to specify a "width" for cuts in the `Cuts` plugin.  _Currently this is allowed for "line" (straight) cuts only._

When a cut has a width the value plotted is not simply the pixel value at the point along the cut, but the sum of the pixel values along a cut oblique to the main cut direction, in a line of 2*radius+1.  The purpose of t

[2015-08-26 01:04] ejeschke commented on #156
@pllim, @Cadair, @nabobalis, @rupak0577
Recently we got a request from a local user for this enhancement. Wondering if this new feature is useful in your work.  Would appreciate any feedback (it's in master) or comment on how it might be used with (to be merged) Slit additions.

[2015-08-26 09:03] Cadair commented on #156
This looks interesting, I don't know how useful this exact feature would be but there are a couple of related things that I can think of that would be useful:

1. Being able to 'integrate' rather than sum to maintain correct flux.
2. Being able to extract a series of cuts perpendicular to the main cut.

[2015-08-26 09:40] nabobalis commented on #156
I do like the look of it. I've never considered it before.

One small suggestion, the width line is not drawn at the end of the cut if the line is at certain lengths. I assume since the width lines are equally spaced, it is not always possible to draw the last one.

@Cadair There was a way to draw a perpendicular cut to the main cut, I can not seem to remember how.

[2015-08-26 09:51] nabobalis opened #157 "PyQT4 and PyQT5 with Python 2"
I had issues with Ginga not being able to load under my Arch Linux install since you can have both PyQT4 and PyQT5 with Python 2 installed at the same time.

This was the error:
[code]

To solve this, I uninstalled PyQT5 and it worked. Ginga was fast and everything loaded.
When I did the reverse, so I uninstalled PyQT4, but had PyQT5 installed, Ginga became slower to load and off the master branch

[2015-08-26 14:41] pllim commented on #156
I don't currently work with spectra but this looks promising. Some comments below:

* I notice that you added arrow icons to expand/hide `Instructions` and `Cut Width`. They look nifty but... Initial arrow is `V` (pointing down) with frame minimized. When I expand the frame, the arrow does not change to `-->` but the frame is shown. So when I hide the frame again, now the arrow becomes `-->`, henc

[2015-08-27 15:31] pllim opened #158 "Local plugin focus change"
When I have multiple local plugins active, clicking on its tab on upper right does not change the "green" (focused) box below the main image display. Is this a bug or intentional design decision?

Sometimes this gets confusing when I select the plugin with upper-right tabs and do not see expected behavior.

EDIT: If what I described does not make sense to you, let me know and I'll post some screen

[2015-08-27 18:10] ejeschke commented on #158
It might be possible to make the focus change by clicking on the plugin notebook tab.  I'll have to look at this.  It won't work to click on the channel tab because there can be several plugins working on the same channel.

But, if you can consider an alternate approach there is a solution already there.  If you click on the "icon" for the plugin in the Plugin Manager bar (the bar containing the m

[2015-08-27 18:19] ejeschke commented on #157
@nabobalis, I just have one data point for this scenario, which is an Ubuntu 14.04 box with both qt4 and qt5 installed.  ginga runs fine under both and with what appears to be equally (good) speed.  I only run the qt5 version with python 3 because my understanding is that qt5 is not supported under python 2.

Are you able to run matplotlib plots with the qt5agg backend under python 3?  If not, you

[2015-08-27 18:20] pllim opened #159 "Info bar displays values of the colorbar"
Not necessarily needs fixing, but I just want to bring it to your knowledge. If you mouse over the colorbar below the main image display, the info bar (that displays RA, DEC, X, Y, and Value) now displays:
[code]

[2015-08-27 18:21] ejeschke commented on #157
I should note that when I run from the same code area (with both python 2 and python 3) it sometimes seems to take a bit longer to start up after a switch, as though it is byte-compiling up a bunch of modules anew.  Subsequent starts with the same version of python are fast.

[2015-08-27 18:30] pllim commented on #158
Okay, just want to make sure it is not a bug. My first instinct was to click on the "notebook tab" on top to focus, not the "manager bar" at the bottom.

Maybe have the focused plugin also colored green on "notebook tab"? Then even when I click on a different plugin there, I know it is actually not focused because the tab I clicked is not green. Just a thought.

[2015-08-27 18:39] pllim commented on #155
I found out that I can have pan/zoom set differently for each image if they are in different channels. But is that the only solution?

[2015-08-27 21:14] ejeschke commented on #159
This is a feature (and a bug), actually.  It is supposed to show in the Readout the approximate value at that position in the color bar.  Unfortunately the value is not accurate, currently.  This will be fixed.

[2015-08-28 00:49] ejeschke commented on #155
@pllim, could you try commit 077a86be1346eeefe76fe5825db1894d90534f06?  Activate the `Preferences` for the "Image" channel and go down to the "Remember" section.

I recommend that you save the Preferences, quit Ginga and then start up again in order to have the least mental surprises.

There are some niggles that need to be worked out.  Your thorough testing is appreciated.  I also noticed an occa

[2015-08-28 09:59] ejeschke commented on #159
Commit ae89dfc44cb79d12c092d3f2b91744bd3d830d6a fixes the issue so that the color bar labeling is consistent with the mouseover values.  The accuracy of the ticks labels is improved.

[2015-08-28 14:02] stscieisenhamer opened #160 "Any paint capability?"
There is the Drawing plugin that can draw objects.

However, there does not appear to be any painting capability: I.e. use a shape as a brush and paint an object with that brush. Typical use would be to create masks, etc. Or, am I just missing an already existing plugin?

[2015-08-28 15:56] pllim commented on #160
Theoretically you can draw using the existing shape classes and then extract the mask using:
[code]

We can talk in person on Monday if you wish.

[2015-08-28 18:35] ejeschke commented on #160
There is no mask painting plugin currently.  I was helping someone get started on one at a python workshop in April, but I haven't heard anything further about it.  As @pllim notes, this would be a pretty straightforward (I think) based on current shape capabilities.

[2015-08-28 18:44] pllim commented on #160
To clarify, `cutout_shape()` only returns the mask with the smallest possible bounding box, so it is not in the shape of the original image. To get mask in the original shape, use `get_shape_mask()` (see #152).

[2015-08-28 18:45] pllim commented on #159
:+1:

[2015-08-28 18:45] #159 closed

[2015-08-28 18:46] ejeschke commented on #158
The gtk version does color the channel tabs green for channels that are focused.  Maybe we could extend this to the plugin tabs and roll it out to the qt versions too.

[2015-08-28 18:48] pllim commented on #155
Something is wrong with "Num Images" setting under `Preferences`. It is repeated twice:

1. At the bottom of "New Images" frame, after "Create thumbnail".
2. Under "General" (expandable by clicking the arrow) by itself, with a non-working "Set" button.

[2015-08-28 18:58] ejeschke commented on #160
For example, if you have created an array called `mask` of the same dimensions as the image data, then you can do something like:
[code]
Or assign a value if creating a numerical mask.

You could do this in a callback for `cursor-move` (button 1 drag).

[2015-08-28 19:05] pllim commented on #158
Yes, that would be nice. :)

[2015-08-28 19:06] ejeschke commented on #155
I've removed the duplicate widget--there now should only be one under "General".

[2015-08-28 19:19] pllim commented on #155
The new settings seem to work fine (I only enabled saving scale and pan). Have not encountered `QPainter` error yet, but I will let you know if I do.

As for the "Num Images" layout, the duplicate is gone, but its "Set" button is still non-functional.

[2015-08-28 19:50] ejeschke commented on #155
Fixed (I think) in commit 3b3ceadb68c13c3592b25906cbef86e6dd8a1407

[2015-08-29 00:34] ejeschke commented on #157
@nabobalis, the latest commits should have taken care of the `QtGui.QCommonStyle()` error.

If you start the qt5 instance as:
[code]
do you still get the above errors?

[2015-08-29 00:58] ejeschke commented on #157
@nabobalis, could you try commit 26792a5f2b7fea047c3a6b065cbc0b65aab782c4?  This fixes an issue for me trying to run in the dual qt4/qt5 configuration.  I believe now that I was actually running python3 with qt4 for some of the testing.  I have tested with python3 and qt5 and with this commit things are working fine.  I noted that at least in Ubuntu 14.04 matplotlib stable does not ship with suppo

[2015-08-29 11:53] nabobalis commented on #157
@ejeschke So I updated my local copy of ginga and used

[code]

Ginga opens and does not have that error anymore, but I get this,

[code]
Then it core dumps.

Arch Matplotlib does ship with support for the qt5agg backend.
Also, I can confirm that having both python-pyqt packages installed, ginga now does open without an issue.

If I recall, @Cadair had a different issue in a clean VM under Arch. W

[2015-08-31 14:58] pllim commented on #155
@ejeschke , thank you. It appears fixed, except for some leftover print functions, which I have replaced in #161.

[2015-08-31 15:31] stscieisenhamer commented on #160
Thanks. That will be enough to get started on. I'll find @pllim and discuss further.

[2015-08-31 15:31] #160 closed

[2015-08-31 19:50] ejeschke commented on #157
@nabobalis, I have encountered the recursion depth issue before.  Ginga makes heavy use of logging and it seems that the default recursion limit of 1000 in python is not sufficient for some of the use cases in ginga.

Can you update with commit 7ea1088c46c3cd6d1e3ea3ed262adb6432fe0cf1 or later and try a couple of things and let me know the result?

1) Try running with the new `--lognull` option.

[2015-08-31 23:52] ejeschke commented on #157
Glad to hear the dual qt4/qt5 setup is working.

[2015-09-01 03:18] ejeschke commented on #156
Thanks for all the comments.

@Cadair, I agree it would be useful to allow the user to specify a custom function instead of simply summing. I think the next person with a use case will help drive the implementation of that.

@nabobalis: yes, the algorithm that draws the "tines" needs a little work to spread them evenly.

@pllim: Arrow icons for the expandable regions should be fixed in recent comm

[2015-09-01 10:48] nabobalis commented on #157
The latest version now works with QT5 on my machine. No more errors and that slowness is now gone.
Thanks @ejeschke!

[2015-09-01 10:48] #157 closed

[2015-09-01 19:27] pllim commented on #156
@ejeschke , yes, the arrows work properly now. Thanks!

[2015-09-01 19:40] ejeschke commented on #157
Excellent news.

[2015-09-02 14:40] #155 closed

[2015-09-02 18:42] #135 closed

[2015-09-02 18:56] #137 closed

[2015-09-02 19:00] ejeschke commented on #136
@nabobalis, are you still having difficulty drawing the Bezier cut on ginga/qt4? qt5?

[2015-09-02 19:01] ejeschke commented on #128
@pllim, now that `Annulus` is added as an official canvas type, should we close this issue?

[2015-09-02 19:05] pllim commented on #128
Sure. Thanks!

[2015-09-02 19:05] #128 closed

[2015-09-08 21:17] pllim opened #162 "Are you interested in DQ flags plugin?"
I am writing a local plugin that spits out DQ flags for a given pixel when user uses it on a DQ array. This is mainly for use at STScI, but I am wondering if there is a wider interest here. Example of DQ flags: http://www.stsci.edu/hst/acs/analysis/reference_files/data_quality_flags.html

[2015-09-08 22:41] ejeschke commented on #162
Are you planning to do an RGB overlay like shown in the the URL you posted?

[2015-09-09 13:29] pllim commented on #162
Not at the moment. User click on a pixel with the DQ value, the plugin displays the various DQ flags that went into it. Very simple.

The tricky part is support for multi-instrument DQ definitions -- Can Ginga `.cfg` file store nested dictionary?

[2015-09-09 20:34] pllim commented on #162
Below is a screenshot of my plugin. The image is a real HST Advanced Camera for Surveys product.

![ginga_ss_dq_150909](https://cloud.githubusercontent.com/assets/2090236/9773471/751c3c8e-5710-11e5-9673-2824d786582f.png)

[2015-09-09 23:12] ejeschke commented on #162
Hey, looks good!  I think you need to add the colored overlay as an option.  If you look at the `Overlays` plugin it pretty much will tell you exactly how to do that.  If you could make the table of values (with colors) user definable then I think it would definitely be useful for a lot of people.  I can think of one use case for one of our instruments right now.

[2015-09-10 13:53] pllim commented on #162
Overlay might be tricky, but we can brain storm here.

The DQ extension is 16-bit integer. The DQ flags are stored as `2**n`, so there are 16 possible values. I can't see how overlaying 16 different colors is going to be informative to anyone.

Currently, the parsing code can take several seconds to run for an entire 4k x 2k array; It needs to find all possible DQ flags for every pixel in the arra

[2015-09-10 15:41] pllim commented on #162
Leonardo Ubeda (STScI) suggested a different approach. He would like to see `SCI` extension being displayed, while the plugin lists DQ flags for the selected pixel. What do you think, @ejeschke ?

[2015-09-10 19:41] leonardoubeda commented on #162
Just one additional suggestion (which will be an excellent tool to provide within DrizzlePac): How about you display a drizzled product and the selected pixel shows the properties of the contributing pixels from the FLT files ? For example the number of counts, the used weight, etc. This would be a useful tool to verify what happens to cosmic rays, flux conservation, etc. I know this is a differen

[2015-09-10 19:46] ejeschke commented on #162
Hmm, I agree that if you try to mix the colors with alpha blending it's not going to be all that helpful.  How about coloring the pixel overlay only according to the flag that the user clicked on (just one flag at a time)?  You could have a combobox of flag names and whichever one the user selects it colors those pixels.

[2015-09-10 19:50] pllim commented on #162
@leonardoubeda , incorporating drizzled product is too specific to HST. It would be something that STScI distribute separately, not as part of Ginga's core distribution. We will have to discuss that one offline. It is a good idea nonetheless. Thanks!

@ejeschke , yes, that might be useful. But there is still the issue of performance and caching. Is the caching to be done within the plugin, or is t

[2015-09-10 20:04] ejeschke commented on #162
The other ideas also sound excellent.  If the overlay is not useful for STScI purposes, don't bother with it.

[2015-09-10 20:10] ejeschke commented on #162
How about caching the tables in the `AstroImage` objects (as metadata)?  Are they quite large?  If attached as metadata then they can be garbage collected when items drop out of the `Datasrc` (unless the user has set the size to be unlimited).  Any way to make them sparse tables (if the user is only interested in certain flags, say)?

[2015-09-10 20:25] pllim commented on #162
The overlay actually sounds pretty useful. But I would probably limit the number of comboboxes you can check simultaneously for any meaningful representation (3-5?).

Here's a way to incorporate both in the same plugin:

* When user does a single click, it lists the different DQ flags for that pixel (as shown above).
* If the displayed image is `SCI` extension, Ginga force-loads the accompanying `

[2015-09-10 21:03] sosey commented on #162
You might try mihai's math exclusion, that's probably faster that the loop I had dismantling the DQs.

my_dq_flag=4+16+32
 match = [0] if (my_dq_flag&0xffff)==0 else [1<<x for x in range(16) if (1<<x & my_dq_flag)]

Then you just need the dictionary for each instrument which relates the flag to the string description.
Since it's returning a list, you can just pull the flags you want from the list

[2015-09-10 22:35] mcara commented on #162
@pllim @sosey I do not see the code here, but based on what @sosey wrote + code from e-mail, the computation of 1<<x could be removed. For example, if the dictionary 'dqval' is defined as it was in the e-mailed code:
[code]
then one could do the following:
[code]
and ```valid_dq_flags = dqval[instrument].keys()``` could be computed only once. Alternatively, even my original code can be made more e

[2015-09-10 22:46] mcara commented on #162
Also, what are you going to do about WFPC2 images whose DQ array is in a separate file...

[2015-09-10 23:05] mcara commented on #162
I would like to suggest that you also consider displaying *very short* messages as an option, especially if this information is going to be displayed in tooltips. For example, if you have a parameter such as `long_msg` (which could be `True` or `False`) then the `dqval` dictionary could be modified as follows (for example):
[code]
See Table 3.10 for suggestions of short names for COS in [COS data

[2015-09-11 15:54] pllim commented on #162
Thanks, @sosey and @mcara! I'll take a look next week.

[2015-09-25 20:14] stscieisenhamer opened #163 "example2_qt not showing shapes"
Just to make sure its not me, but

python -m example2_qt

seems to operate fine, loading images, etc. except that no shapes actually draw.

this is os x, and conda install.

[2015-09-26 00:13] ejeschke commented on #163
@stscieisenhamer, that's fine for example2_qt.py, but the default for ginga is not to draw shapes with the left mouse button unless the canvas has been put in draw mode.  Try using the right mouse button, or press the space bar, release and then draw with the left.  Or press space bar, release, then 'L' to lock draw mode and then draw away.

[2015-09-28 16:04] stscieisenhamer commented on #163
DOH! Sorry, I had looked to see if there was a mode issue, but missed the "blue box note". Issue retracted.

[2015-09-29 20:06] stscieisenhamer opened #165 "basics of a mask overlay"
Based on the Overlays plugin, I've distilled the creation/displaying of an mask overlay on an ImageViewCanvas to the [following gist](https://gist.github.com/stscieisenhamer/25bf6287c2c724cb9cc7). Just wondering if this is the basics, or is there something more basic that can be done.

Note: I'm in need of doing this not in a reference viewer, but using only the ImageView-based widgets, hence why

[2015-09-29 20:44] pllim commented on #165
Just brainstorming here: If you can somehow convert your mask into, say, a Ginga polygon object, then it already has built-in options like "fill" and "alpha", and you can overlay it by using something like `canvas.add(...)` without having to build RGB image.

[2015-09-29 21:30] ejeschke commented on #163
@stscieisenhamer, I think you have identified a common issue here, though.  New users likely won't have read any documentation and are just trying examples.  This is one reason that issue #137 and it's changes came about.  In the reference viewer you now have these radio buttons for most of the plugins that do drawing.  It's time I updated the examples to follow suit, and enable the use of the lef

[2015-09-29 21:39] ejeschke commented on #165
@stscieisenhamer, I think you've nailed the basics here.  Does it work for you?  I don't have access to some of the classes referenced in the gist so I cannot test it, but it looks right to me.

[2015-09-29 21:42] ejeschke commented on #165
@pllim, I have found that rendering many small polygons with each one having a large number of vertices is slower than rendering a pixel overlay.  So there is a tradeoff there.  I think with a large number of irregularly shaped areas a traditional pixel mask might be more efficient.

[2015-09-29 21:48] stscieisenhamer commented on #165
Yes, it works quite well actually. Just wanted to make sure there wasn't some concept/code I missed, such as exactly what @pllim suggested.

@pllim Yes, which is why I wanted to get the basic mask down, so the option of either or would be available. As, expected, while developing masks, one will have shapes. But to save the region, which will ultimately be a composite of many shapes, the shapes wi

[2015-09-30 03:09] stscieisenhamer commented on #163
That works well! :+1:

[2015-09-30 12:53] pllim commented on #165
With what you are doing, @stscieisenhamer , you might need an extra option to specify mask color, to distinguish the different types of mask. But yeah, if polygon is not the thing for you, this should be okay. Good luck!

[2015-09-30 14:13] stscieisenhamer commented on #165
@pllim Oh, most definitely, and opacity at least.

Thanks to all!

[2015-09-30 14:13] #165 closed

[2015-10-01 13:43] pllim opened #166 "Ginga data files"
If I want to develop a plugin that comes with data file(s), e.g., ASCII table(s), what is the best way to do it? Does Ginga have a scheme for distributing associated data files? Thanks!

[2015-10-01 14:33] pllim commented on #162
@mcara

1. Ginga cannot read GEIS image and we don't have WFPC2 budget to worry about that anymore.
2. User can request alternate multi-extension FITS format for WFPC2 anyway.

[2015-10-01 20:24] colinaspin opened #167 "Ginga install on Mac"
I followed the Mac install instructions at the link below

https://ginga.readthedocs.org/en/latest/install.html#mac

and when I ran ginga got:

[caa@kree ejeschke-ginga-3cd3d27]% ginga
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/2.7/bin/ginga", line 5, in <module>
    pkg_resources.run_script('ginga==2.5.20151001032930', 'ginga')
  File "/Library/Framew

[2015-10-01 20:27] ejeschke commented on #167
@colinaspin, I think this is due to a problem detecting the correct version of astropy.  As a temporary workaround , could you create a folder (`$HOME/.ginga`) and inside that place a text file called `general.cfg`.  In that, put the line:
[code]
and try restarting ginga?  Let me know the results.  Tnx.

[2015-10-01 20:43] colinaspin commented on #167
Hi,

OK, did that but no difference, see below.

[caa@kree ~/.ginga]% pwd
/Users/caa/.ginga
[caa@kree ~/.ginga]% ls -ltr
total 8
-rw-r--r--  1 caa  _lpoperator  19 Oct  1 10:40 general.cfg
[caa@kree ~/.ginga]% cat general.cfg
WCSpkg = 'astropy'
[caa@kree ~/.ginga]% which ginga
/Library/Frameworks/Python.framework/Versions/2.7/bin/ginga
[caa@kree ~/.ginga]% ginga
Traceback (most recent call last):

[2015-10-01 20:49] colinaspin commented on #167
I also uninstalled py-astropy and reinstalled, still get the error, see
below.

[caa@kree ejeschke-ginga-3cd3d27]% sudo port install py-astropy
--->  Computing dependencies for py-astropy
--->  Fetching archive for py-astropy
--->  Attempting to fetch py-astropy-1.0.4_0.darwin_14.noarch.tbz2 from
http://packages.macports.org/py-astropy
--->  Attempting to fetch py-astropy-1.0.4_0.darwin_14.noarch.

[2015-10-01 20:58] ejeschke commented on #167
Alternatively, if you don't have `astropy` installed, but *do* have one of {`kapteyn` | 'starlink/ast` | `astLib`} you can use that instead.

[2015-10-01 21:03] ejeschke commented on #167
Ah, I think I see the problem.  Could you try commit 981817f47429d8d759161ce50c652e979c11d6f4 from master?

[2015-10-01 21:03] ejeschke commented on #167
It's using `astropy` without that being properly declared in the version check.

[2015-10-01 21:06] colinaspin commented on #167
from within python?   Not sure where to do the commit, sorry.

On Thu, Oct 1, 2015 at 11:03 AM, ejeschke <notifications@github.com> wrote:

[2015-10-01 21:08] ejeschke commented on #167
If possible, can you checkout ginga via:
[code]
and install from there, via the usual
[code]
Use python that was installed for macports.

[2015-10-01 21:10] ejeschke commented on #167
This is an interesting error, most people are installing via anaconda+pip or anaconda+git clone and I haven't had any reports of this error.

[2015-10-01 21:14] colinaspin commented on #167
OK, removed the old ginger repository and now re-downloading, getting
150kB/sec, will take a while!  More when I've installed and tested.

On Thu, Oct 1, 2015 at 11:08 AM, ejeschke <notifications@github.com> wrote:

[2015-10-01 21:19] colinaspin commented on #167
OK, got the new git version, and did the build/install.  Still get the
same, see check on version of ginga then run:

[caa@kree ~/ginga]% which ginga
/Library/Frameworks/Python.framework/Versions/2.7/bin/ginga
[caa@kree ~/ginga]% ls -ltr
/Library/Frameworks/Python.framework/Versions/2.7/bin/ginga
-rwxr-xr-x  1 root  admin  281 Oct  1 11:16
/Library/Frameworks/Python.framework/Versions/2.7/bin/ging

[2015-10-01 21:21] ejeschke commented on #167
Great, this makes iterating fixes easier.  I added another fix in commit 0a10289c880531f3d2069bd36f06b2e22058233a to avoid raising any exception in the case of importing a WCS package on startup.  You can update to that by:
[code]
Then reinstall with `python setup.py ...`

Let me know how this goes.

[2015-10-01 21:28] colinaspin commented on #167
OK, did this:

[caa@kree ~/ginga]% git fetch origin
remote: Counting objects: 5, done.
remote: Compressing objects: 100% (1/1), done.
remote: Total 5 (delta 4), reused 5 (delta 4), pack-reused 0
Unpacking objects: 100% (5/5), done.
From https://github.com/ejeschke/ginga
   981817f..0a10289  master     -> origin/master
[caa@kree ~/ginga]% git merge origin/master
Updating 981817f..0a10289
Fast-forwa

[2015-10-01 21:30] ejeschke commented on #167
Can't see attachment.  Is there a place I can download this FITS file?

[2015-10-01 21:31] ejeschke commented on #167
Or send it to me by email, my address is in the source somewhere, I think.

[2015-10-01 21:35] ejeschke commented on #167
Suspect this is related to the fact that no WCS package could be imported, but ginga does display FITS files without valid WCS all the time, so interested to see if I can load that file (or similar type of file).

[2015-10-01 21:51] ejeschke opened #168 "Testing web browser backend"
Ginga has a new backend, targeting canvases in HTML5 compliant browsers.  I am looking for early feedback on this capability.  You will need at least commit 97ec3d5e25a4c77498138d3db46cf74b3a20772e or later.

The easiest test right now is `example2_pg.py`  Run it like this:
[code]
The very last line of the log output should tell you a URL to visit with an HTML5/websockets compliant browser.  Visit

[2015-10-01 21:55] ejeschke commented on #168
@pllim, @stscieisenhamer, @nabobalis, @Cadair, @rupak0577
Would be very interested in your feedback testing this!

[2015-10-01 21:59] ejeschke commented on #168
The [quick reference](https://ginga.readthedocs.org/en/latest/quickref.html) may be handy for those unfamiliar with the keyboard and mouse bindings available in the basic widget.

[2015-10-01 22:05] #163 closed

[2015-10-02 03:15] ejeschke commented on #167
I managed to reproduce the error after testing in an environment with no support packages installed.  The problem is that there is no FITS package to load the file.  Commit f45ed135db4572907eef0e4c47fb734a2de7a312 fixes this to show an error in the GUI (it was shown in the log file only).

So we have to figure out why macports version of astropy can't be imported.  Could you open a python session

[2015-10-02 03:16] ejeschke commented on #168
Sorry, you may need commit f45ed135db4572907eef0e4c47fb734a2de7a312 to follow the instructions as I wrote above.  This is now in master.

[2015-10-02 06:11] Cadair commented on #168
Oh this is cool! I will look later today.

[2015-10-02 06:13] Cadair commented on #168
@dpshelio think of solar monitor.

[2015-10-02 06:43] colinaspin commented on #167
It's weird but even though I installed astropy with port, it doesn't pick
it up, see below.

[caa@kree ~/ginga]% sudo port install py-astropy
--->  Computing dependencies for py-astropy
--->  Cleaning py-astropy
--->  Scanning binaries for linking errors
--->  No broken files found.
[caa@kree ~/ginga]%
[caa@kree ~/ginga]% python
Python 2.7.2 (v2.7.2:8527427914a2, Jun 11 2011, 15:22:34)
[GCC 4.2.1

[2015-10-02 06:50] colinaspin commented on #167
I installed py27-kapteyn using port and already have Starlink but still
have the problem.

On Thu, Oct 1, 2015 at 5:15 PM, ejeschke <notifications@github.com> wrote:

[2015-10-02 07:41] ejeschke commented on #167
Sorry, I edited my comment after the email went out. `starlink` will work for the wcs, but you will need something to open the FITS file, since no `astropy`.  Try installing `fitsio` (see comment just above)--easiest way is to git clone it and install in the normal way.  Incidentally, it might be worth trying to install `astropy` that way as well, since it doesn't seem to be picking up from the po

[2015-10-02 10:55] nabobalis commented on #168
@ejeschke This is seriously awesome. I assume there is no access to other plugins right now?

[2015-10-02 16:03] rupak0577 commented on #168
@ejeschke Nice! There is a slight problem though - the buttons are missing.

Would love to help in any way possible.

[2015-10-02 17:02] pllim commented on #168
:+1: Started up fine. Looks very promising!

[2015-10-02 17:37] ejeschke commented on #168
You can also use it in the current form with ipython notebooks: [see here](http://nbviewer.ipython.org/gist/ejeschke/6067409)

[2015-10-02 17:43] ejeschke commented on #168
@nabobalis, no plugins yet, but the plan is to support a version of the reference viewer running in the browser, if possible.

[2015-10-02 17:48] ejeschke commented on #166
@pllim, I think whatever scheme we come up with for Issue#92 should also handle associated data for plugins.  I really want to solve this, but in a way that is clean and does not rely heavily on the changes between versions of python or python package manager *du jour* (python packaging seems to change as often as the wind).

[2015-10-02 17:59] ejeschke commented on #92
@pllim, since `ginga.qtw.plugins` has an empty `__init__.py` can you simply declare it as a namespace package in your plugin install script, similarly to what @embray describes here?  After rereading this description it doesn't seem like there is anything required on the ginga side except an auto-discovery bit of code.  If you install and do `ginga --plugins=FOO` does it pick it up?  I think it wi

[2015-10-02 18:17] embray commented on #92
As for auto-discovery, pkg_resources / setuptools provides a mechanism for this by way of entry-points.  Not sure if that's the way you'd want to go though since it depends in part on how the plugin package is installed.  But this has been used successfully for other projects, such as Trac, for plugin discovery.

[2015-10-02 19:31] pllim commented on #92
I started a prototype at #169. When it is ready for review, I will remove the "DO NOT MERGE" tag.

[2015-10-02 20:04] pllim commented on #92
Okay, it's done. Tested fine on my end. If you are okay with #169, you can merge it and close this issue. Thanks!

[2015-10-05 15:59] stscieisenhamer commented on #168
:+1: works good in chrome! nice!

[2015-10-07 16:43] stscieisenhamer opened #170 "question: unregister/clear all callbacks for a canvas?"
Not sure if this make sense, but if one is working with multiple canvases, is there way to unset the surface or unregister the cursor? I see that these basically just set a bunch of callbacks, so ultimately, is there a way of clearing all callbacks?

[2015-10-07 16:56] pllim commented on #170
In `misc/Callback.py`, there is a `clear_callback()` method:
[code]
Does that work for you?

[2015-10-07 17:14] pllim opened #171 "Add channel_Image.cfg to examples"
Add `channel_Image.cfg` to `examples/config`.

[2015-10-07 18:43] stscieisenhamer commented on #170
It will do the job, but I would need to explicitly destroy each callback. I was wondering if 1) the concepts embodied the set_surface and *register_cursor* routines have already a reverse implementation and/or 2) whether there is a need regardless?

At the moment, setting/unsetting drawing mode gets the macro effect correct: you can draw/not draw on a canvas. However, that canvas still has a slew

[2015-10-07 19:12] pllim commented on #170
I use Ginga core distribution, which comes preloaded with a bunch of plugins, with my own plugins on top of those. I have not seen any performance impact by *not* destroying callbacks.

[2015-10-08 07:38] ejeschke commented on #170
@stscieisenhamer, there are two ways in which callbacks are suppressed:
1) if a subcanvas is removed from a canvas, using (e.g.) `canvas.removeObject(subcanvas)`, then UI callbacks registered *on that subcanvas* will not be delivered.  Note that all objects on the subcanvas remain there, and if you add the subcanvas back to the main canvas everything will reappear.
2) If you have a subcanvas on a

[2015-10-08 07:40] ejeschke commented on #170
So basically you should not need to worry about removing callbacks, although as @pllim points out, you can remove them.

[2015-10-08 07:50] ejeschke commented on #171
Hmm.  Not opposed to this, but what would we put in it?  It's basically a dump of the `Preferences` for the generic, starting channel.  As such, it could be configured a lot of ways, and will get overwritten if the user ever saves preferences for that channel.

Are you thinking just to document what settings affect what things?

[2015-10-08 14:22] stscieisenhamer commented on #170
That was the info I was looking for. Thanks!

[2015-10-08 14:22] #170 closed

[2015-10-08 14:51] pllim commented on #171
Yes, it's more for documentation. I opened up my `channel_Image.cfg` and not sure what is what for some of the entries.

[2015-10-08 17:09] pllim commented on #165
It just so happens this `masktorgb()` function also comes in handy for me to overlay a mask for #162. Any chance a more general version can be include in Ginga? If so, I am willing to open a PR for it; Just need to know where to put the code.

[2015-10-08 18:33] ejeschke commented on #167
Issue solved by user reinstalling a couple packages using pip.

[2015-10-08 18:33] #167 closed

[2015-10-08 18:37] ejeschke commented on #165
There are a lot of possibilities, but how about `.../ginga/util/dp.py`?  It's kind of a grab bag of module functions for dealing with images or direct numpy arrays.

[2015-10-08 20:00] pllim opened #172 "Canvas Image object pushed to background layer"
In my plugin, I build my canvas like this:
[code]
The point and text objects show up fine, but the image is somehow behind `self.fitsimage` (when `linewidth` is non-zero, I see some color I set for the image object behind the data). Am I missing something here?

[2015-10-08 21:46] ejeschke commented on #172
@pllim, what happens if you add the line
[code]
just after you add your compound object?

[2015-10-08 21:47] pllim commented on #172
Need to leave now. I'll try that next week. Thanks.

[2015-10-08 22:23] ejeschke commented on #92
Merged.

@pllim, do you have some custom startup code or are you just using the `--plugins=` and `--modules=` options to force loading of your plugins?

Thinking of leaving this issue open until we get some sort of auto discovery code added.

[2015-10-12 19:09] pllim commented on #92
@ejeschke , thanks! Sure, we can leave this open, as auto discovery would be convenient. But then, we also need to consider the discovery behavior in cases where same plugin name exists at several different locations at once.

The `--` commands in my example are just for simplicity. I actually use something like this in my startup script, as we discussed some time ago:
[code]

[2015-10-12 20:06] pllim commented on #172
@ejeschke , I get:
[code]
My `self.fitsimage.get_canvas().objects` only has one object that is a `NormImage`. My `self.canvas` is a `DrawingCanvas` with a single `CompoundObject`, which contains `[Image, Point, Text]` that I added.

[2015-10-12 20:36] pllim commented on #172
This is the `RGBImage` I am attempting to overlay (blue lines over transparent background):
![ztmp](https://cloud.githubusercontent.com/assets/2090236/10437783/75025d1c-70fd-11e5-88ab-18df28c3ed15.png)

This is the result I see (when I set `linewidth=10`, note that default color for `self.dc.Image` is light green):
![screenshot](https://cloud.githubusercontent.com/assets/2090236/10437798/95abbbb2-

[2015-10-12 20:46] pllim commented on #172
Maybe it is not pushed to background? Maybe I am just not doing it properly? So the alternate question is, "How do I overlay a semi-transparent RGB image on the displayed data without changing the data cache?"

[2015-10-12 23:52] ejeschke commented on #172
@pllim, you definitely can overlay that compound object.  Ginga does have a limitation (currently) that image objects will be placed below other kinds of objects, regardless of the stacking order, but the images should respect the stacking order with regard to each other, so that your overlay should appear on top of the background image and your other graphics (point, text) on top of that.

I'm a

[2015-10-13 02:25] ejeschke commented on #172
You definitely should also have the canvas from your plugin on there too.  In your `start()` method for your plugin, do you do something like:
[code]

[2015-10-13 14:19] pllim commented on #172
Ah, okay. I didn't realize you change the way `start()` works in b3716df1. My plugins are based on your older versions. I'll give that a try and get back to you.

[2015-10-13 14:50] pllim opened #174 "Undefined variable in Histogram.py"
In `misc/plugins/Histogram.py`:
[code]
Error message:
[code]
Appears to be introduced in 6e9630a8.

[2015-10-13 14:54] pllim commented on #174
Never mind! I need more coffee.

[2015-10-13 14:54] #174 closed

[2015-10-13 15:07] pllim commented on #171
Here is a dump out when I save my channel preference (I think they should mostly be default values):
[code]

Would be nice to:

1. Group them into relevant categories and insert useful comments.
2. Mention which ones can also be inherited from `general.cfg` (e.g., `numImages`).

[2015-10-13 15:42] pllim commented on #172
So, it turns out the overlay works even without `lower_object()` after I changed `start()` and `stop()` to use `p_canvas`. Thanks!

[2015-10-13 15:42] #172 closed

[2015-10-13 15:45] pllim commented on #166
Now that #169 is merged, should we revisit this?

[2015-10-13 16:03] pllim opened #175 "Adding FITS convenience function to Ginga util"
I have been using this in my Ginga plugins to find and load an extension of interest in my multi-extension FITS images:
[code]
This is because sometimes `(DQ, 1)` is in extension 2, sometimes in extension 3, which is beyond my control.

There are 2 ways we can do this:

1. If there is already a way for Ginga FITS file handlers to open an extension by `(extname, extver)` pair instead of `extnum` on

[2015-10-13 18:19] pllim commented on #162
Here is the updated DQ plugin:
![screenshot](https://cloud.githubusercontent.com/assets/2090236/10463901/13a29182-71b5-11e5-8873-f9f2eb1c070d.png)

It has accompanying configuration file and optional data tables. Would be nice to have #166 and #175 resolved first, if possible.

If you don't want this in core distribution, that's fine too. I don't know how useful this is outside STScI. Let me know