[2016-09-07 15:28] pllim commented on #368
That's good to know, thanks! Thumbnail for a table is probably an overkill, but perhaps showing a blank thumbnail anyway would be helpful for selecting the table from `Thumbs` plugin.

[2016-09-10 16:10] josePhoenix commented on #368
There's a nice-to-have feature that I feel I should mention here since it may influence how you design the interface, even if it's not in the first version of such a plugin. Some bintables, notably Kepler target pixel tables, have image-valued columns. Depending on how Astropy table support is implemented, that could be complicated to add in a plugin, but I thought I should mention it as that's th

[2016-09-12 14:47] pllim commented on #368
@josePhoenix , doesn't Kepler has its own software for its data? Unless JWST also uses such format, it is hard to justify such implementation. Good to know, but probably won't be implemented as first pass.

[2016-09-12 14:55] josePhoenix commented on #368
No, they recommend using FITSView

[2016-09-12 16:13] ejeschke commented on #368
It would be fairly straightforward to open binary image objects, I think. I assume they would just be read in as numpy arrays (maybe `astropy` supports this already?) .  If you didn't want to manage those in the usual channel organization they could be displayed in a simple plugin in the right panel that basically consists of another ginga widget.

The question is whether you want to manage those

[2016-09-14 19:48] pllim commented on #368
@josePhoenix , is that Kepler table readable by Astropy Table?

[2016-09-14 20:27] josePhoenix commented on #368
Just tried it now. Looks like no, but it's not obvious why. Here's an example: http://archive.stsci.edu/missions/k2/target_pixel_files/c7/213400000/90000/ktwo213490088-c07_lpd-targ.fits.gz

[2016-09-14 20:35] pllim commented on #368
I'm guessing it's because of the embedded image. IMHO, Kepler data should first be readable by Astropy first before anything else. Maybe you can open an issue over at Astropy.

[2016-09-14 20:47] pllim commented on #368
@josePhoenix , if Kepler data is too particular for general package like Astropy, another option would be for the Kepler software team to write a custom loader of some sort in Python. My point is the loader should be outside any graphics package.

[2016-09-15 19:39] pllim commented on #368
Please see #369 for a possible solution. Thanks!

[2016-09-15 20:25] ejeschke commented on #368
That was fast!

[2016-09-19 20:41] ejeschke commented on #368
@pllim, please see PR #370 as an alternate implementation for this issue.  Let me know your thoughts.

[2016-09-26 16:55] pllim opened #373 "PixTable values run together and cut off"
For very large pixel values, the numbers run together, so it is hard to tell one value separate from a neighboring value. Maybe using E representation would help in this case.

Also, on my screen, the right side is cut off from view. It used to have a horizontal scroll bar, so that at least I could scroll to the right and see the cut off values. But now there is no scroll bar anymore.

Screenshot

[2016-09-26 17:00] pllim opened #374 "Catalogs emits misleading error for no WCS"
When I start up `Catalogs` plugin, I see this:
[code]

This error message is misleading. The fact is that this particular image has no WCS. Even the main display reports "NO WCS", but somehow `Catalogs` failed to pick up on this.

[2016-09-26 20:04] pllim commented on #368
Added in #370.

[2016-09-26 20:04] #368 closed

[2016-09-27 15:05] pllim opened #377 "Duplicate arrow icons top and bottom"
With the latest dev version of Ginga, I see left, right, up, and down arrows both on top and at the bottom of the display (but ordered differently). Do you have plans to remove the bottom ones? It seems confusing to have two sets that do the same thing.

Don't think it matters, but my machine is Linux and I am using Qt4.

[2016-09-27 16:46] pllim opened #379 "Plot table data"
Now that we have a table viewer (#370), the next logical thing to do is to enable some sort of basic plotting. For example, user starts a plugin for such a plot, select a column for X axis, then another for Y axis, and a plot would show up in the plugin. This would be useful to visualize spectrum data (wavelength vs flux).

This is just an idea. Personally, I just read the table in and plot it wit

[2016-09-27 19:18] pllim commented on #379
I'll try to make a prototype to see if this can work.

[2016-09-27 20:32] ejeschke commented on #377
@pllim,  After examining the new workspace  toolbar do you think you would enable it in `stginga` (see the layout in `main` for the correct keyword parameter to the workspace)?  I'm thinking of whether to just remove them from the bottom toolbar, or to make it configurable.

In our case, I think we have two configurations that would use the new toolbar and one that probably would not.

[2016-09-27 20:34] ejeschke commented on #379
That seems logical, and not too difficult of a problem.  Would you provide options for the user to select the axis scaling, etc.?

[2016-09-27 20:40] ejeschke commented on #374
@pllim, any chance of getting a copy of that FITS file for testing?

[2016-09-27 20:42] pllim commented on #377
@ejeschke , for my project which uses only one channel, the new workspace toolbar is not that useful. But I can see how it can be for a different workflow. Regardless, having duplicate icons (especially in different ordering) can be confusing.

[2016-09-27 20:43] pllim commented on #379
I will start with a very basic prototype first. Bells and whistles can always be added later, if necessary.

[2016-09-27 20:47] pllim commented on #374
@ejeschke , any image with no WCS info would do. For example, you can create your own like this:

[code]

[2016-09-30 19:24] pllim opened #381 "Cannot scroll in colormap picker"
I notice that there is a new global plugin to pick colormap. It is very nice. But the list extends beyond plugin area and I cannot scroll up and down to access the full list.

[2016-09-30 20:02] ejeschke commented on #381
@pllim, did you try the mouse scroll wheel or trackpad?  You can also pan in the window using the usual Ginga panning methods--the latter is not ideal.  I'm thinking about adding some key handling also to page up and down through the list.

[2016-09-30 20:21] pllim commented on #381
@ejeschke , trackpad works but not very intuitive without a visible scroll bar. Also the trackpad scrolling does not stop at the top/bottom of the list, it just keeps going.

[2016-10-04 22:36] ejeschke commented on #381
@pllim, I added a hard stop to the scrolling.  I agree that a GUI scrollbar would be more useful.  I am working on that with somewhat low priority.

[2016-10-06 07:12] #379 closed

[2016-10-17 14:56] pllim opened #386 "Automatically display table if file has no image?"
Since now Ginga has a basic table viewer, when an input file only contains table (or table and primary header), it would be convenient to have Ginga automatically opens the first table extension instead of displaying just the primary header (thus needing user to manually open `MultiDim` to display the table).

[2016-10-17 15:08] pllim opened #387 "Cannot load table data outside of MultiDim"
When I attempt to load FITS table data directly either using `File -> Load Image` or `FBrowser` by specifying the desired extension directly in the filename, I get the following traceback:

[code]

Perhaps the solution for this will also indirectly address #386?

[2016-10-18 07:06] ejeschke commented on #386
I think we will need to make some changes to the data type autodetect.  This code is in `Control.py` and is already somewhat convoluted--probably be a good idea to refactor it.  Basically, it needs to decide based on "file type" (e.g. mime type, extension, etc) or HDU type (after determining the file is a FITS file and accessing the relevant HDU) what type of object to create: `AstroImage`, `RGBIm

[2016-10-18 07:07] ejeschke commented on #387
See comments in #386.

[2016-10-18 20:25] pllim commented on #386
Thanks for the info, @ejeschke . I'll work on this.

[2016-10-19 12:32] Cadair opened #388 "Allow loading of the reference viewer from a script"
I have some data which is not in FITS files but I would like to load into the reference viewer, it's multidim data, I have a dict and a 4D array. I would really like to be able to do something like:

[code]

Looking at the code for the reference viewer this looks like it might be a little bit of a fiddle, do you have any suggestions?

(FWIW, the data is loaded independently of the header from a ra

[2016-10-19 14:10] pllim commented on #388
FWIW, over at Glue, users are allowed to define their own data readers (see http://glueviz.org/en/stable/customizing_guide/customization.html#custom-data-loaders). That would be a better solution for the long run if Ginga is to support non-standard formats.

[2016-10-25 19:30] ejeschke commented on #388
@Cadair, you can check out the [Jupyter notebook examples on doing this](https://github.com/ejeschke/ginga/blob/master/ginga/examples/ipython-notebook/Remote_control_of_a_Ginga_reference_viewer.ipynb).

I just tried this with Python 3 and found it has some issues (planning to file an issue on that), but you can test it on Python 2 if that works for you.

[2016-10-25 19:34] ejeschke commented on #388
I think the very last example is what you are looking for.  You can pass a dictionary with the header data, but I think there are some restrictions on the kind of things that can be in the header, based in the fact that it is communicating with the viewer via xml-rpc.

[2016-10-25 20:29] pllim commented on #388
@ejeschke , but using notebook loses access to plugins like `LineProfile`, right?

[2016-10-25 21:08] ejeschke commented on #388
The notebook I listed shows how to connect to the reference viewer running the usual plugins.  I just used a notebook to put together the "client" example.

[2016-11-09 16:56] pllim opened #391 "Display RA and DEC lines on display"
As discussed during JWST Data Analysis Workshop II on Nov 9, 2016. We can have a local (or global?) plugin that can toggle lines connecting RA and DEC tickmarks across the image, accounting for any WCS distortion. Maybe also allow user control; e.g., how finely to space those lines, line style, line color, or line thickness.

[2016-11-09 17:04] pllim opened #392 "How does Ginga handle memmap-ed FITS handlers?"
As discussed during JWST Data Analysis Workshop II on Nov 9, 2016. Does Ginga close FITS handlers properly when `memmap=True` (default)? See http://docs.astropy.org/en/stable/io/fits/#working-with-large-files

*When opening a file with memmap=True, because of how mmap works this means that when the HDU data is accessed (i.e. hdul[0].data) another handle to the FITS file is opened by mmap. This mea

[2016-11-09 20:52] pllim opened #394 "Feature Request: Ability to customize toolbar"
As brought up by Zhiyuan Ma during Ginga unconference session at JWST Data Analysis Workshop II. It would be nice to be able to customize a Ginga toolbar. For example, a button to automatically add a channel of a certain name.

Note: Glue has that ability if you want a similar implementation. See http://www.glueviz.org/en/stable/customizing_guide/toolbar.html and https://github.com/glue-viz/glue-e

[2016-11-09 21:22] pllim opened #395 "Feature Request: Sharing and unsharing settings"
As brought up by Zhiyuan Ma during Ginga unconference in JWST Data Analysis Workshop II, it would be nice to replicate a DS9 feature to lock (share) scale or colormap across channels easily, and also unshare.

[2016-11-09 21:34] pllim opened #396 "Feature Request: Draw shape based on iso-flux contours"
As requested by Elena Sacchi in Ginga unconference session in JWST Data Analysis Workshop II, it would be nice to draw a shape based on some iso-flux contour.

[2016-11-10 14:59] pllim opened #398 "Fix failing tests"
@ejeschke , #397 introduced failing tests in `master` after merging:

[code]

[2016-11-10 15:00] pllim opened #399 "Update MultiDim to use new I/O interface"
This is a follow-up of #397, since now `MultiDim` can use some clean-up to take advantage of the cleaner FITS I/O behind the scene.

[2016-11-10 15:19] pllim commented on #387
Should be fixed by #397

[2016-11-10 15:19] #387 closed

[2016-11-10 15:19] pllim commented on #386
Should be fixed by #397.

[2016-11-10 15:20] #386 closed

[2016-11-10 18:03] #398 closed

[2016-11-11 19:55] ejeschke commented on #373
This is fixed in commit 1ec2cd8a5ce827523bcb7849845eb059d512f5fe

[2016-11-11 19:55] #373 closed

[2016-11-14 07:36] ejeschke commented on #381
Scroll bars have been added.  Closing.

[2016-11-14 07:36] #381 closed

[2016-11-14 07:37] ejeschke commented on #335
I think this has been fixed, right @pllim?

[2016-11-14 07:45] ejeschke commented on #200
@olebole, I had some discussion with some other Ginga developers about how to institute a release cycle that makes it easier to tell when to make a debian release.  We found that since Ginga is using the `astropy_helpers` template it can auto-generate a version number based on the git hash if "dev" is the prefix in the release part of the "major.minor.release" version number (i.e. 2.5.dev will gen

[2016-11-14 07:54] olebole commented on #200
Sounds fine, except that I don't know exactly how the automated numbering by `astropy_helpers` is done. I can parse the github tags (or pypi, whatever you prefer here) by omitting the `dev` versions. However, the version number will be explicitely in the package, right?

[2016-11-14 08:30] ejeschke commented on #200
Yes, just as it is now.  It's just that the "dev" versions will be a signal that there is no urgent need to update the debian package.

[2016-11-14 08:32] olebole commented on #200
That is great.
BTW, if you have a feature that you need to be test built on Debian before the release, you can also create an "RC", which I would then package into our "experimental" tree.

[2016-11-14 16:47] pllim commented on #335
Ops, yes. Fixed in 04605a6eb51f. Closing!

[2016-11-14 16:47] #335 closed

[2016-11-14 21:42] pllim commented on #396
Note: This might overlap a bit with `imexam` functionality. Maybe we should wait to see how that `imexam` plugin works out first (c/c @sosey).

[2016-11-14 21:45] pllim commented on #391
Note: Similar visualization already possible on https://reproject.readthedocs.io/en/stable/

[2016-11-14 21:45] sosey commented on #396
I don't think this overlaps too much,  but would need to be implemented in both viewers (ginga and ds9). Are you talking about them hand-selecting anything or figuring out the contours based on some other user input and then just drawing?  And by shape do you mean an astropy/region?

[2016-11-15 15:47] pllim commented on #396
I didn't ask for a lot of details. It was just a single-line question asked during the workshop, which is what was recorded above. Naively, I would assume user wants to draw an irregular shape (in Ginga, it would use some kind of Path object, as Ginga has not yet adopted Astropy's region stuff) that follows the selected flux value (maybe +/- certain delta flux). Exactly how that flux is selected (

[2016-11-15 20:46] ejeschke commented on #396
This could also possibly be done with an overlay, similar to the `Overlays` plugin, but confined to some area around the drawing region.

[2016-11-15 20:55] ejeschke commented on #396
How does `matplotlib` represent contours internally? As polygons?

Wondering if you could represent a contour as a compound object made up of filled polygons.

[2016-11-15 20:57] ejeschke commented on #391
I think `reproject` just reprojects images, right?  It doesn't draw graphical lines.  Are you thinking of `wcsaxes`?

[2016-11-15 21:18] pllim commented on #391
Ah, yes, you are correct -- https://wcsaxes.readthedocs.io/en/latest/overlaying_coordinate_systems.html

[2016-11-15 21:19] pllim commented on #396
Maybe we can go the lazy route and have such a plugin just overlay `matplotlib` contours somehow?

[2016-11-17 00:20] #399 closed

[2016-11-17 00:23] ejeschke commented on #231
This has been taken out of glue and put [here](https://github.com/ejeschke/glue-ginga), as discussed above.

[2016-11-17 00:23] #231 closed

[2016-11-17 00:25] ejeschke commented on #199
Crosshair has been in a while.  Closing this issue.

[2016-11-17 00:25] #199 closed

[2016-11-17 00:28] ejeschke commented on #200
Ok, great.  To kick this off, I'm going to make a release (2.6.0), and then immediately change the version to a (2.7.devXXXX).  I'll close this issue again when I've done that.

[2016-11-17 01:20] ejeschke commented on #200
Ok, versioning changed and we are on the new system, which is PEP 440 compliant.

[2016-11-17 01:20] #200 closed

[2016-11-17 09:19] olebole commented on #200
Hi Eric, thank you very much! I'll test and package this ASAP.

[2016-11-21 16:42] pllim opened #402 "Document Imexam plugin"
Even though it is in the "experimental" folder, it should be documented under local plugins for exposure. Having "imexam" to do the contouring for us might render #396 unnecessary.

[2016-11-22 19:24] pllim opened #405 "Inherit primary header for AstroTable"
Would be nice for `AstroTable` to inherit primary header the same way as `AstroImage`. This is not critical, just nice to have.

[2016-11-22 21:27] ejeschke commented on #405
Sounds like it would be straightforward if done in a similar manner to `AstroImage`?

[2016-11-22 21:33] pllim commented on #405
Yes, I think with the I/O refactoring done, this will be easier to do now. I just don't have time to look into it yet.

[2016-11-23 00:58] ejeschke opened #406 "MultiDim: Play button broken for playing through image cubes"
The play button in the `MultiDim` plugin appears to be broken for playing through image cubes.  All the other controls seem to work: First, Last, Next, Prev, etc.

The symptom is either slow playing or no playing, followed by a viewer freeze.

[2016-11-23 01:32] pllim commented on #406
Just curious... Is this using FITSIO or `astropy.io.fits`?

[2016-11-23 02:55] ejeschke commented on #406
`astropy.io.fits`.

[2016-11-23 18:45] pllim commented on #406
Potential fix in #408.

[2016-11-23 20:53] ejeschke commented on #406
@pllim, could you try current commit in master.  I think it fixes this issue nicely.  I am no longer able to crash or freeze the viewer, and it simply caps out at whatever the maximum FPS is possible.  Moreover, the viewer remains quite responsive while the movie is playing.

[2016-11-23 20:57] pllim commented on #406
Yes, that is very nice. Thanks!

[2016-11-23 20:57] #406 closed

[2016-11-29 18:59] pllim opened #409 "FBrowser does not open selected image when table is displayed"
`FBrowser` no longer works (does not open selected image) when it is started from "global plugins" menu *and* a table is being displayed. It works properly when opened from "Operations" as local plugin.

[2016-11-29 19:01] pllim opened #410 "FBrowser does not populate text box with selected filename"
Selecting (highlighting) a file from `FBrowser` does not populate the "selected" text box with its name.

In other applications (e.g., Photoshop), the file open dialog automatically populates text box with selected filename. If multiple files are selected, then the text box displays each name separated by ~~comma~~ whitespace.

[2016-11-29 19:03] pllim opened #411 "Cannot draw polygon anymore"
In `Drawing` plugin (and any other plugin using shapes), I can no longer draw a polygon by pressing "v" to add a vertex. I am using Qt5 on RHEL6.

[2016-11-29 19:18] pllim opened #412 "QTreeWidget.setItemSelected() is not in Qt5"
This affects both `TVMark` and `TVMask` plugins.

[code]

According to http://doc.qt.io/qt-4.8/qtreewidget-obsolete.html
[code]

[2016-11-29 20:30] ejeschke commented on #411
@pllim, do you have an error message or something to go on?  I just tested with `-t qt5` on Ubuntu 16.04--no problem drawing a polygon.

[2016-11-29 20:37] #412 closed

[2016-11-29 20:47] pllim commented on #411
I did a fresh install. And I cannot reproduce this problem anymore. Never mind! :sweat_smile:

[2016-11-29 20:47] #411 closed

[2016-11-29 20:47] ejeschke commented on #411
I just tested on Mac OS X with Qt5.  Seems ok.

[2016-11-29 20:48] ejeschke commented on #411
Might have been an issue where the ginga widget didn't have the keyboard focus for some reason.

[2016-11-29 20:50] pllim commented on #411
Could be. I had like 20 different windows open. Now only down to 5. :smile:

[2016-12-05 09:21] TomProm opened #414 "No handlers found for logger after ginga installation on mac"
Hello, I installed anaconda and ginga using pip as described but after launching only half of the functionality is available. Unfortunately the one I would need like "Pick" or the WCS is not available.

Now I am a bit stuck as i suspect from reading other issues that it might be a version issue between different installed python versions and astropy but unfortunately I am not proficient enough to

[2016-12-05 10:11] ejeschke commented on #414
@TomProm, if you installed using anaconda, try the `Qt` toolkit instead--I think it is much better supported on the Mac.  Try invoking ginga with the `-t qt4` or `-t qt5` options.  Let me know how these work.

The "No handlers could be found for logger "ginga"" message is normal if you don't specify any logging options when starting it.  It will not affect anything.

[2016-12-05 10:25] TomProm commented on #414
Hello, thanks for the fast response. This unfortunately did not work either.
The error is copied below, it seems to not find the right path ..

Additional information:
After installation, in order to make it work I already had use the macports version of python, which was achieved by modifying the ginga script to call /opt/local/bin/python2.7 rather than /usr/bin/python.

Because ginga was install

[2016-12-05 14:53] pllim commented on #414
@TomProm , you said you installed Anaconda but then you were using Mac's version of Python. That does not sound right. You should be using the Python that came with Anaconda, e.g., `/my/anaconda/install/path/bin/python` or if you use conda environment, `/my/anaconda/install/path/envs/envname/bin/python`. When you want to install Ginga into Anaconda, you also  have to use `pip` that comes with Anac

[2016-12-05 18:10] ejeschke commented on #414
@TomProm, yes it doesn't really work to mix macports and anaconda libraries.  You can run ginga with either macports or anaconda, but it is just easier with anaconda because it already comes with everything needed.

[2016-12-09 20:51] ejeschke commented on #414
@TomProm, any progress?

[2016-12-10 11:34] Cadair opened #415 "ginga seg fault under conda and qt5"
I built a conda env that looked like this:

[code]
under arch linux and when I run ginga, it starts ok until I mouse over the menu bar then it crashes with the following error:

[code]

[2016-12-10 12:46] Cadair commented on #415
I tested this with pyqt4 and it does not exhibit the error

[2016-12-11 04:10] ejeschke commented on #415
@Cadair, I am also seeing some stability issues with python 3 + qt5 on Linux, but it doesn't happen just mousing over a menu (I have to push it a bit).  Could you set logging to debug with "--loglevel=10 --log=ginga.log" and capture whatever you can before the crash?

In my testing on Ubuntu 16.04, I got the following results:
- python2 + qt4: fine
- python2 + qt5: fine
- python3 + qt4: fine
- pyt

[2016-12-12 14:34] pllim commented on #415
What's your GCC version?

[2016-12-12 14:41] Cadair commented on #415
[code]

[2016-12-12 14:41] Cadair commented on #415
that's system gcc fwiw

[2016-12-12 14:49] pllim commented on #415
Mine is still `gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-17)` :sweat_smile:   I switched to Qt4 a few weeks ago but haven't seen any segfault. But then again, I am not mousing over menus that fast. Thanks for reporting this, I'll keep an eye out.

[2016-12-12 15:42] ejeschke commented on #415
[code]

But I'm not positive this exact version was used to compile Qt5 on this system.  I'd say it is likely.

[2016-12-12 15:44] ejeschke commented on #415
On Mac OS X it seems to be:
[code]

[2016-12-12 16:10] pllim commented on #415
What do you see when you do `gcc -print-file-name=libgcc_s.so.1`? Mine is `/lib/../lib64/libgcc_s.so.1`. But at the same time, I also have `libgcc 5.2.0` via Anaconda. I wonder if yours are somehow incompatible with each other.

From a quick Google search, I found https://www.gnu.org/software/gcc/gcc-3.0/libgcc.html that says, "If two shared objects (or one shared object and a main program) are li

[2016-12-13 17:41] pllim opened #416 "Error converting profile: ImageCms not defined"
I have `pillow` 3.4.2 installed under Anaconda for Python 3.5.2 using Qt5, the latest dev version of Ginga. OS is RHEL6 64-bit.

When I click on `Operations`, then `Preferences`, scroll down to `ICC Profiles`, and select "AdobeRGB" as "Output ICC profile", I get this on the terminal but no error in log file:
[code]

I was not doing anything in particular. Just was randomly playing with preferences

[2016-12-13 18:19] pllim opened #417 "New save_layout option feedback"
@ejeschke , I tried out the new `save_layout = True` option in `general.cfg`. Overall, I like it as well as I also tend to resize my window, so this will save some time. Some comments:

* When I first use it, I got an error message `Desktop.py:627 (build_desktop) | Error reading saved layout: [Errno 2] No such file or directory: '~/.ginga/layout'`. I think Ginga should just create it silently if i

[2016-12-13 18:42] pllim opened #418 "Error making callback 'activated': expected string or bytes-like object"
I selected a filename from file open dialog using `File -> Load Image` menu and got this error. I have opened this image many times before, so the change that is causing this must be pretty recent. I am using the latest dev version of Ginga and Qt5:

[code]

The workaround is to use `FBrowser` plugin to open the file.

[2016-12-13 18:47] TomProm commented on #414
Hello,
yes this worked.  Had to do manually:

conda install -c astropy ginga=2.6.0

unset PYTHONPATH

Thanks for the fast and great support!
Thomas

[2016-12-13 18:53] ejeschke commented on #416
Sometimes the LittleCMS component is installed separately from PIL/pillow, although in most distributions it should be included.  I think we certainly could output a more useful error message.

And probably these comboboxes should be disabled unless the module is installed.

[2016-12-13 18:54] ejeschke commented on #414
Great, glad to hear you got things working.

[2016-12-13 18:54] #414 closed

[2016-12-13 19:07] ejeschke commented on #417
I agree, and I'm not sure why this error doesn't just appear in the normal logged output.  But I haven't looked into it yet.

I find that with Qt, sometimes the first time it reads the saved result it makes an odd-sized box for the toolbar. BUT, on subsequent looks as expected.  This sounds like a similar problem in that it appears after the first session, and disappears thereafter.

Interesting.

[2016-12-13 19:10] ejeschke commented on #418
I don't the change is recent, because I think this code hasn't been altered in a while.  But I usually use `FBrowser` or drag in from the system file manager, so I haven't exercised this code path very often.  Sounds like a python 3 string issue.

[2016-12-13 19:14] pllim commented on #418
I have been using Ginga in Python 3 for a while and this is the first time I encountered this error. Weird!

[2016-12-13 19:14] ejeschke commented on #418
Does it have anything to do with the particular file (or file name) that you opened?  Does it happen with every file?  How about with python 2?

[2016-12-13 19:22] pllim commented on #417
How do I find out? ITSD set it up for me, as I don't have root access. I can drag a window from one display to another. But the task bar is only visible on one of them.

[2016-12-13 19:26] pllim commented on #418
No, same error on all files. The recent big change is upgrade from Qt4 to Qt5. Maybe there is an API change between Qt4 and Qt5 file dialogs?

[2016-12-13 19:44] ejeschke commented on #417
Type `?dpyinfo` into a terminal.  Is there just one "screen" with a large resolution?

[2016-12-13 19:45] ejeschke commented on #417
That should be `xdpyinfo`.

[2016-12-13 19:46] ejeschke commented on #418
Well I just tested with python3 + qt5 on my mac.  No problem.

[2016-12-13 19:47] pllim commented on #417
`number of screens:    1`

[2016-12-13 19:50] pllim commented on #418
I restarted the session, and it works now! But I get a different error about `Desktop` (i.e., Ginga now does not even start). Anyway, maybe it is just a problem on my end. Closing this issue.

[2016-12-13 19:50] #418 closed

[2016-12-15 02:15] pllim commented on #415
Just to note here for the record: I tested latest dev Ginga with Qt5 on RHEL6 64-bit under both Python 2.7 and 3.5. I could not reproduce segfault when mousing over menu. However, when I mouse over image while adjusting contrast really really fast (much faster than someone would use Ginga for in real life) for several seconds straight, I did get segfault in *both* Python 2 and 3. @ejeschke thinks

[2016-12-15 11:09] Cadair commented on #415
To clarify on the "menu" thing, I moved my mouse at normal speed from roughly the centre of the window (over the image) to the file menu in the top left. I did this twice and it seemed to crash when my mouse entered the menu bar both times.

[2016-12-15 15:13] pllim commented on #415
Re: menu thing. Still can't reproduce it. How many images did you have open? Does it still crash when you have no image loaded at all? Could it be that your installation (gcc, ginga, or whatever) is somehow corrupted?

[2016-12-21 18:03] ejeschke commented on #415
@Cadair, can you try to upgrade Qt to 5.6.2 in your conda, and report back the result?  I'm not sure it is related to this issue, but see my next message below.  Also, that is the version I am running on Mac OS X without any crash problems.

[2016-12-21 18:17] ejeschke commented on #415
So I took a good long look at this yesterday.  The good news is that the problem @pllim and I can force to happen on Linux appears to be a Qt 5 issue that is probably fixed in Qt 5.6 (or some patch level above that).  Apparently on early versions of Qt 5 the normal mouse motion compression that is done has a bug so that many, many more mouse events get propagated through to the application than is

[2016-12-22 03:13] ejeschke commented on #415
@pllim, could you try commit e822c2018dda86aeec85bb0d68bd511567af221a or later?  I believe this works around the known issue with rapid mouse movement.  I'd like to know whether it solves the issue @Cadair was having as well.

[2016-12-24 16:17] profxj opened #420 "Feature Request: RC generation of a Graphics Object in a Channel"
I would like to be able to add one or more Graphics objects
on the canvas of a given Channel via RemoteControl.  For example,
the ability to draw a line connecting an input set of (x,y) points.

If I understand the current implementation of RC correctly (have examined it
but haven't fully digested it), then I would need to add a new method to Channel
to enable this.  But perhaps another approach w

[2016-12-24 16:31] pllim commented on #420
Can you use plugins in RC? If so, you can just fire up the `Drawing` plugin and draw whatever you want.

[2016-12-24 16:35] profxj commented on #420
Indeed, that works fine (Plug-ins do work in RC).
But I have a 'custom' curve in memory and wish to overlay that on my image.

One (not as elegant) way would be to write that curve to disk and then read it
in with a Plug-In and overplot.  But I should prefer to use RC if possible.

[2016-12-24 17:08] pllim commented on #420
If scripting is what you need, maybe you are better off with Ginga's Jupyter notebook interface. Then, you can just create a notebook to draw that curve that you need, and update your image on notebook as needed. If I remember correctly, the notebook also supports remote connection.

[2016-12-24 17:11] pllim commented on #420
If you are interested in the notebook approach, you might also be interested in [imexam](http://imexam.readthedocs.io/en/latest/), which has a [Ginga interface](http://imexam.readthedocs.io/en/latest/imexam/examples.html#usage-with-ginga-viewer).

Or, if you want to use `imexam` from Ginga reference viewer (not notebook), there is also an [Imexam plugin](https://github.com/ejeschke/ginga/blob/mast

[2016-12-24 20:02] ejeschke commented on #420
Would something like a file interface work?  In other words, if you put the object types with parameters in a file and then had a command for ginga to process the file?  This could be combined with an option for `Drawing` to save such files, but of course with the right format you could create the file programmatically or even manually.  I think Ginga definitely needs something like that.

Or do y

[2016-12-25 03:06] pllim commented on #420
@ejeschke , re: file interface

Incidentally, I implemented some kind of JSON I/O for saving/loading `stginga` plugin parameters. If you are interested, the mixin class is [ParamMixin](https://github.com/spacetelescope/stginga/blob/master/stginga/plugins/local_plugin_mixin.py#L207) and [SNRCalc plugin](https://github.com/spacetelescope/stginga/blob/master/stginga/plugins/SNRCalc.py) shows an examp

[2016-12-28 21:06] profxj commented on #420
This is all very helpful.  Am going to explore imexam a little and
quite likely close this Issue.  Much thanks.

[2016-12-29 04:14] ejeschke commented on #420
@pllim, sounds interesting, I will take a look!

@profxj, I think what you are suggesting is worth doing, because this is not the first time I've been asked about it.  I'm trying to think what approach would provide the most benefit.  If we could load graphics objects from some kind of serialized text format it might be super-useful to a lot of other users.  When you say you have "a custom curve i

[2016-12-29 18:29] pllim opened #421 "IRAF plugin cannot load on Windows"
I see this error when starting Ginga on Windows 7 (64-bit). Not that I plan to use IRAF on Windows (a deadly combination), still the error suggests that the plugin code is not compatible with Windows OS.

[code]

Also see: http://stackoverflow.com/questions/842059/is-there-a-portable-way-to-get-the-current-username-in-python

Looks like the offending code is on [Line 1081 in IIS_DataListener.py](h

[2016-12-29 18:42] ejeschke commented on #421
But otherwise it seems ok on this platform? I have no Windows machines to test on.

[2016-12-29 18:43] ejeschke commented on #421
I think there is probably another way other than getuid()

[2016-12-29 18:44] pllim commented on #421
As I noted above (in my edit), I don't think IRAF plugin should load at all on Windows. Otherwise, Ginga seems okay, but I will report more if I see more problems.

[2016-12-29 19:15] ejeschke commented on #421
I think you can use the IRAF plugin with IRAF running on a different host.  In that case I think it would be fine to run it on Windows.  And if it is possible to run IRAF on Windows then I suppose people might want that combination...

[2016-12-29 20:08] pllim opened #422 "Ruler pixel precision too long"
In the Ruler local plugin, when unit of pixel is specified, the display value precision is too long (especially those in yellow). I think `%.1f` should be enough for pixel value.

Example screenshot:
<img width="246" alt="untitled" src="https://cloud.githubusercontent.com/assets/2090236/21553807/a1345046-cdd8-11e6-86fc-0acce3cf9770.png">

[2016-12-29 20:14] ejeschke commented on #422
I suppose it depends on the application, but I agree this is too long.  How about `%.2f` for the default?

[2016-12-29 20:20] pllim commented on #422
Sure. Even `.3f` (the green one) is tolerable but I don't see much point in that myself. Thanks for the quick response!

[2016-12-30 04:49] profxj commented on #420
Well, I have explored further (after examining the HTML5 interface which
is nice but not quite ideal).

Here is a simple example method that works if I add it to ImageViewerQT
(or ImageViewBase):

[code]
I can then call it with lists for x and y,  e.g.

[code]

My concerns from here are:

1.  I may need to make quite a few of these methods (not such a big deal)
1.  I'd prefer to add them somewhere

[2017-01-03 04:29] ejeschke commented on #420
It doesn't really make sense to duplicate all the calls you can make to a canvas object and put them in the viewer object.  It would be better to add a method to the  [`RC`](https://github.com/ejeschke/ginga/blob/master/ginga/rv/plugins/RC.py) plugin to expose the canvas. Example:
[code]

I still think it would be useful to add a way to serialize the canvas items so that they can be saved and load

[2017-01-04 19:03] pllim opened #424 "PlotTable: ymax referenced before assignment"
A reminder for myself to fix this:

[code]

[2017-01-05 20:32] pllim commented on #424
This turns out to be an edge case when the plot somehow does not return valid `ymax`. There is no easy fix unless this can be consistently reproducible for more investigation. So, closing.

[2017-01-05 20:32] #424 closed

[2017-01-05 21:03] pllim commented on #415
@ejeschke , sorry for the wait. I finally have a chance to test this -- Moving the mouse around really fast while adjusting contrast does not crash anymore. Thank you!

[2017-01-05 23:57] ejeschke commented on #415
Excellent.  I think we just need to hear from @Cadair before we close this issue.

[2017-01-13 17:39] profxj commented on #420
Excellent suggestion.  I have now submitted PR #425 in response.

I agree that serializing the Canvas items would be useful but that calls
for a separate thread and PR.  Will let you know if I choose to take it on.

[2017-01-19 03:59] ejeschke commented on #388
@Cadair, python 3 issue I referred to above is fixed.  Assuming you started the `RC` plugin (from the plugins menu or when starting ginga just add `--modules=RC`) you can do what you are asking with:
[code]

There is more info in [the manual page for the RC plugin](http://ginga.readthedocs.io/en/latest/manual/plugins_global/rc.html)

[2017-01-19 03:59] #388 closed

[2017-01-21 16:19] profxj commented on #420
Closing

[2017-01-21 16:19] #420 closed

[2017-01-23 21:53] pllim opened #427 "LineProfile feedback"
@ejeschke , I am using latest dev of Ginga including your changes in 00bcc853ed9159d17dde003e33be2a7ecd6b834c. I find that:

- [ ] NAXISn does not have a default value on start-up or image change or defocus, resulting in error messages. Maybe should default to NAXIS3?
- [ ] Y-axis label "flux" is not always accurate representation of the data. I don't have a good alternative label that is general

[2017-01-23 22:20] ejeschke commented on #427
Indeed, the plugin does not work for me for image cubes that don't have the proper keywords, primarily because it uses these to construct the X-axis data for the plot.  Hoping we can come up with a decent "default" for these types of images.

I understand and agree, but I also am not sure of a better solution for that at the moment.

[2017-01-23 22:23] ejeschke commented on #427
That would make sense to me.

[2017-01-24 21:44] pllim commented on #427
Sorry, the plugin not working was a fluke. I updated my original issue above. Seem to work after I restarted Ginga but whether the values displayed are correct or not, I cannot sure sure because (a) I am not familiar with SunPy data (b) the JWST image is fake.

[2017-01-25 22:21] ejeschke commented on #348
Closing this issue, as qtpy is now used via #367

[2017-01-25 22:21] #348 closed

[2017-01-26 18:39] pllim opened #428 "How to place each image in a different channel from command line"
Is it possible to place each image in a different channel in the reference viewer from command line? I notice that there is a `-c` option for channels and I can also specifically request what image(s) to open by providing their names as a comma-separated string at the end of the command, but I don't know how to use both to do what I want here.

For example, I have `image1.fits` and `image2.fits`.

[2017-01-26 20:31] ejeschke commented on #428
Currently not, but it would be a trivial modification.  And I think it would be very useful, especially with an option to specify the initial workspace type for 'channels'  (i.e. `--wstype=grid`)

We could also make a way so that when you drag and drop a group of files that they show up in different channels.  I've often wanted that.

[2017-01-26 20:41] pllim commented on #428
Either command line or drag-and-drop is fine. Perhaps the latter is more flexible. Currently, the does not appear to be any one-step way to do this.

[2017-01-26 20:52] ejeschke commented on #428
There is a `for` loop in `main` that loads the command line files.  That just needs an extra parameter or call to specify the channel.  I'll take a look at this.

[2017-01-26 21:08] ejeschke commented on #207
Superseded by #426

[2017-01-26 21:08] #207 closed

[2017-01-26 22:41] ejeschke commented on #428
@pllim when you get a chance, try latest master using `--sep` option on the command line, e.g.
[code]

[2017-01-27 20:10] pllim commented on #428
@ejeschke , it works. Thanks! As a follow up, I also expanded the command line functionality in #429.

[2017-01-27 20:10] #428 closed

[2017-01-31 01:40] ejeschke commented on #415
Closing this issue.  We can reopen if someone reports a crash with Qt 5 again under similar circumstances.

[2017-01-31 01:40] #415 closed

[2017-01-31 21:23] ejeschke opened #430 "Cursor and Colorbar workspaces/plugins are hidden when using gtk3 backend"
The Cursor and Colorbar plugins are hidden when using the gtk3 backend, as shown in the screenshot below.

![screenshot-rv-gtk3](https://cloud.githubusercontent.com/assets/1305473/22484895/8935aefc-e7a7-11e6-99e6-50a6c2e966e3.png)

They are there, but seem to be getting resized to 0 height.

[2017-02-02 14:12] montefra opened #431 "ImageViewError with ginga v2.6.1 if the ImageViewCanvas size is not set"
I maintain a PyQt4 tool that uses Ginga to visualize fits files.
With Ginga v2.6.0 the file is correctly visualised while with v2.6.1 I get the following error:

[code]

The problem seems to be related to the fact that the latest version cannot correctly get the size of the widget from the image. Manually setting the ``ImageViewCanvas.set_window_size`` to the image size works around the above erro

[2017-02-02 19:15] pllim commented on #431
The image opens fine on reference viewer (i.e., using the `ginga` command to start Ginga). I can reproduce your error on Qt5 using your script (after replacing Qt4 with Qt5 incantations). However, I also notice that in both examples given in `ginga/examples/qt`, there was an explicit call to `fitsview.resize()`, which is missing in your script.

Anyway, just an observation. @ejeschke will know for

[2017-02-02 20:19] montefra commented on #431
Thank you for testing this.

Yep. To make it work with the v2.6.1 I added:

    fitsview.set_window_size(*image.get_size())

I guess thie is similar to resize().
Actually in the examples (or at least in the first one) there are two resize: one of the ImageViewCanvas and one of the contained widget.

Hope so :smile:

[2017-02-02 20:23] ejeschke commented on #431
It seems to be an issue having to do with the default size--I think somewhere along the road to 2.6.1 that changed.  @montefra, if you set the size of your `main_w` do you still get the error?

[2017-02-02 20:29] montefra commented on #431
@ejeschke : tomorrow I'll experiment some more and let you know.

[2017-02-02 20:39] ejeschke commented on #431
with your test program, I notice that if I simply set
[code]
the widget window is fine (it gets resized to the outer widget).

Now that I think about it a little more, I think the exception is what got added in 2.6.1.  Since the window isn't realized yet at the time of `set_image()` it is trying to calculate the correct size for a 0x0 window.

[2017-02-02 21:38] pllim opened #432 "Blink should not blink when no image is loaded"
When I start `Blink` local plugin without any image loaded in a channel, I get non-stop error messages until I press the stop button:

[code]

IMHO the plugin don't need to start blinking if there is no image loaded.

[2017-02-02 21:47] ejeschke commented on #432
I think it starts automatically.  It should be an easy fix to check whether there is an image present and decline to start unless there is.

[2017-02-02 21:48] ejeschke commented on #432
But it probably should only do that if started in local mode.

[2017-02-03 10:14] montefra commented on #431
yes because the canvas knows nothing about the windows it is embedded into it and I add the image before I set the canvas' widget as the CentralWidget

Same as with me, despite using a different method (I guess that the various ``set_*size`` and ``resize`` are somehow related).

In version 2.6.0 there is no difference in the output whether I explicitly set the window size or not. So down the line

[2017-02-03 16:47] montefra commented on #431
I just made an other small test:

* ``set_window_size``: respect the ``minimumSize`` of the parent window
* ``set_desired_size``: force the underlying widget size to the image size, which might be undesirable (in my case makes the window way too big)

[2017-02-03 19:10] ejeschke commented on #431
Even in the case where you use (1, 1) for the width and height?

[2017-02-03 20:13] montefra commented on #431
If I explicitly set the main window size to (200, 200), this is what happens to the window created by the above script:

 size set in method | ``set_window_size`` | ``set_desired_size``
-|----|-----
image size | respect the main_w size  | window much bigger than (200, 200)
(1, 1) | respect the main_w size with warning | respect the main_w size with warning

Setting (1, 1) respect the main window s

[2017-02-03 21:25] ejeschke commented on #431
@montefra, I think you can use whichever method seems best.  I'll take a look at the main issue.

[2017-02-03 22:23] montefra commented on #431
@ejeschke : ok, I'll do.

Thank you for Ginga!

[2017-02-06 23:37] profxj opened #434 "Feature Request: Report additional image values"
I would like to add a plug-in (or use some other approach, e.g. WCS) that would
allow the user to:

- Load an additional ndarray (maybe more than one) with the same size as the display image
- Have Ginga report the values in this additional image as the cursor changes in x,y.

My specific application is for 2D spectroscopy where I have a flux image and a
wavelength image of the same size.  I wish

[2017-02-07 01:22] ejeschke commented on #434
@profxj, you are right that either a plugin or a custom WCS (or both) would be a good approach. I would suggest taking a look at the [`Cursor` plugin](https://github.com/ejeschke/ginga/blob/master/ginga/rv/plugins/Cursor.py)--an easy way would be to copy that (or subclass!) and replace the reporting done there with your own. Custom WCS is also fairly straightforward.

[2017-02-07 15:18] profxj commented on #434
Ok, I think I have found an implementation that works well and only needs a new WCS class.
You can see the basic idea here:

https://github.com/ejeschke/ginga/compare/master...profxj:xcursor

@ejeschke , if you like the approach I'll polish it into a proper PR.

[2017-02-07 15:52] pllim commented on #434
Is this "pseudo WCS" widely used or very specific to your use case? If the latter, it might be less confusing to live in your own package rather than here.

[2017-02-07 16:38] profxj commented on #434
I feel that it could become widely used, and I'd add docs to help advertise its
functionality.

[2017-02-09 23:32] ejeschke commented on #311
@pllim, now that we have the `--sep` option, should we consider to make it open a MEF file in separate windows?  Or should we use a different option?  We could also maybe add an "Open MEF" menu option to do the same.

[2017-02-09 23:39] ejeschke commented on #434
@profxj, sorry for my late reply, I'm a bit swamped at work.

I think my main concern is adding the custom WCS directly to `wcsmod`.  It seems like it would be straightforward to define the custom wcs in your plugin (by simply importing `BaseWCS` from `wcsmod`).  If this wcs becomes widely and generically used we could consider to move it later.

It's also not a bad idea to consider distributing t

[2017-02-10 02:36] pllim commented on #434
I am still not convinced that "pseudo WCS" will be widely used. So, I'll need more convincing.

[2017-02-10 02:39] pllim commented on #311
@ejeschke , in a way that is already possible. The command below would open each extension of the same file in a separate channel:

[code]

[2017-02-10 03:20] ejeschke commented on #311
@pllim, True, but a bit cumbersome to write!

What about a notation like:
[code]
or
[code]

[2017-02-10 04:56] pllim commented on #311
@ejeschke , I thought about it but not sure if it is possible to validate or expand the extensions without actually opening the files first.

[2017-02-10 14:56] profxj commented on #434
No problem @ejeschke, @pllim  .  Here are a few additional comments to yours:

The proposed change does not involve a new (or edited) plugin.   It is only
a new subclass in wcsmod.  And I'd be happy to put it elsewhere but this
seems the sensible spot.

As for widely used,  I have now wrapped Ginga into our PYPIT data reduction
pipeline:  http://pypit.readthedocs.io/en/latest/
In principle, anyone

[2017-02-10 20:04] ejeschke commented on #434
@profxj , that is great to hear about your use of Ginga in PYPIT.  Please don't take offense at questioning about "widely used".  Here at Subaru, where Ginga was originally written, we maintain our own private set of plugins and utility modules for use with the instances of Ginga we run on our telescope--because we expect that they are mostly applicable to our instrument files and workflow and not

[2017-02-10 20:17] ejeschke commented on #434
One thing you can do is set the `GINGA_HOME` environment variable, which will tell the reference viewer to look in that directory for configuration files.  This is useful because then you can pre-seed it with configuration files customized for your pipeline.  One of the configuration files that you can put in that directory is `ginga_config.py`.  If this file is present Ginga will try to run three

[2017-02-10 20:38] profxj commented on #434
This is helpful.   It would be a bit more effort for our users to maintain
GINGA_HOME and a file within it but not much.

And I agree with your approach to minimize modifications to the
stock reference viewer.   That said, the only Plugin I am intending
to touch (sometime soon) is the RC (which I have previously).  I can go
forth and create an PYPIT_RC or x_RC plugin but it will be >95%
a duplicat

[2017-02-10 20:53] ejeschke commented on #434
@profxj , I think we should keep it out of `wcsmod` for now.  If it does become widely applicable we can consider putting it in there.  And we can (should) make any modifications to `wcsmod` necessary to register it from your own code bits.

As to `BareBones`, I've been thinking about deprecating/removing that for a while now.  It is only really there to handle the case where a user didn't have a

[2017-02-10 20:55] ejeschke commented on #434
Can't the startup software set this variable, or does the package not work like that?  You could also just have an initialization command that writes a set of files into the user's `$HOME/.ginga` (which is the default if `GINGA_HOME` is not set.

[2017-02-10 20:58] ejeschke commented on #434
BTW, I think once you take the plunge to maintaining your own plugin(s) there is a lot of freedom there to make more interesting and extensive mods.  And subclassing is a good way to go if you are just adding a bit of functionality.

[2017-02-10 22:08] ejeschke commented on #434
@profxj, is there a specific combination of header keywords that would proscribe the use of the pseudo WCS?

[2017-02-11 13:38] profxj commented on #434
Yes, I'm using WCS-xIMG for now.

[2017-02-16 08:26] ejeschke commented on #430
This issue is fixed in commit a6375bae4614bee93dccd370bf94967256662dee.

Unfortunately this fix also breaks the ability to resize the reference viewer smaller than the initial size (similar to a limitation in gtk2 backend)

[2017-02-16 08:26] #430 closed

[2017-02-23 16:52] pllim opened #435 "How to temporarily rebind arrows to go to next pixel?"
Currently, up-down-left-right on keyboard cycle through images within a channel or across multiple channels. I find myself in a situation where I am very zoomed in on an image and have cursor painstakingly centered on a pixel. Now, I want to just press up-down-left-right to inspect neighboring pixels. Is there a way to do this? Maybe a `modifier + arrow` to temporarily enable this?

[2017-02-23 16:58] pllim opened #436 "PixTable listing reverses displayed columns"
![screenshot](https://cloud.githubusercontent.com/assets/2090236/23269615/2e048c36-f9bf-11e6-92c0-4108b9d66bf9.png)

What I expect to see:
[code]

[2017-02-24 01:48] ejeschke commented on #436
Good catch, @pllim!  I expect that is because of the inverted nature of the Y axis of FITS data compared to "regular" computer graphics.  Should be easily fixable by flipping the cutout in Y direction before proceeding.

But this leads me to wonder whether we need to match the users transformations.  Suppose the user had inverted X and Y axes, or rotated the image 180 deg.  Does the printout alway

[2017-02-24 01:58] ejeschke commented on #435
@pllim, there is something almost like this.  If you go into Pan mode (pressing 'q') and then hold Shift+Ctrl and press an arrow key it will move a small amount in the direction you want (but not exactly one pixel).  The amounts of movement are measured in screenfuls or fractions thereof (I think no modifier == 2/3 of a screen or something like that), the fractions being multiplied (becoming yet s

[2017-02-24 15:52] pllim commented on #436
I almost never rotate/reverse the image, so this is not important to me. Perhaps for now, just mention in the instructions that this plugin does not support such transformations?

[2017-02-24 15:54] pllim commented on #435
@ejeschke , I am okay with either plugin or binding, whichever is easier to implement. The binding might also benefit people using Ginga via notebook (will it?) while plugin definitely will not.

Anyway, this is not urgent. Just something I sometimes wish it is nice to have.

[2017-02-25 02:34] ejeschke commented on #436
@pllim, could you try commit 377791751a96947b75c8f7cbabfd110199ecf4ff?

I also improved the pixtable documentation.

[2017-02-25 03:37] ejeschke commented on #435
Could you try commit 19b2d0c52f76190a4e9301cf58ab439bdde18dcc?

Hold Shift while using the arrow keys to move 1 pixel. Unlike the pans described above, these bindings always move you:
* Shift+Left: minus 1 pixel in the X dimension
* Shift+Right: plus 1 pixel in the X dimension
* Shift+Down: minus 1 pixel in the Y dimension
* Shift+Up: plus 1 pixel in the Y dimension

Press Shift+Home to center on

[2017-02-27 16:14] pllim commented on #436
Thanks, seems to work fine now!

[2017-02-27 16:14] #436 closed

[2017-02-27 16:41] pllim commented on #435
@ejeschke , I find that even though the screen moves when shift + arrow is pressed, the plugins do not get that update. For instance, "Value" at the bottom does not change and `PixTable` does not update.

[2017-02-27 16:42] pllim commented on #435
In addition, I had to delete my old `~/.ginga/bindings.cfg` file for this to work. Does that mean that if I have custom binding, I need to update it somehow?

[2017-02-27 18:11] ejeschke commented on #435
Well, I think that is because it only changes the pan position.  What update are your plugins responding to?  A new image arriving in the channel?  Mouse movement?

[2017-02-27 18:14] ejeschke commented on #435
Currently, a custom binding completely replaces the built in one.  So, yes, you would need to merge in the new bindings into your custom one.  Which reminds me that I need to add these bindings to the examples files (perhaps after we've figured out exactly what it is that they are supposed to do).

[2017-02-27 18:18] pllim commented on #435
But even the "Value" in the info bar does not change. It changes when I move the cursor or pan around.

As for plugins like `PixTable`, it changes when I move cursor around but not when I pan. Not sure what event to listen to, but I feel that `PixTable` should reflect what is being displayed (unless locked).

[2017-02-27 18:33] ejeschke commented on #435
The Cursor plugin (which is responsible for the "Value") registers with a callback that is responding to mouse movement.  Moving the pan position from the keyboard does not change the mouse cursor position (relative to the screen).  It does possibly change it relative to the data under the cursor.  But this change would have to be detected in a different way than we do now.

Are you thinking that

[2017-02-27 18:40] ejeschke commented on #435
One idea that might be fairly straightforward is to have a cursor that is not directly tied to the mouse cursor (think of, for example, the cursor in a VNC window and the local cursor).  The canvas cursor could be made to follow the mouse or keyboard or programmed control.  And you could have a callback for its movement around the canvas.

Or we could have a callback for when the pan position chan

[2017-02-27 18:53] pllim commented on #435
@ejeschke , I prefer the first idea of "a cursor that is not directly tied to the mouse cursor".

[2017-02-27 19:25] ejeschke commented on #435
This now looks straightforward, and may actually solve one or two other nagging issues. Stay tuned.

[2017-02-27 20:55] ejeschke commented on #435
@pllim, can you try commit fc74dea1e02bde2bfd8a337795aa6dc2c9a7a835 ?

[2017-02-27 21:39] pllim commented on #435
This is perfect! Is it still necessary to define the shift + arrow explicitly in a custom binding?

[2017-02-27 22:27] ejeschke commented on #435
Yes.  We could consider a plan to allow preference files to be merged, but that gets into some issues of deciding what overrides what.  Maybe a future enhancement?

[2017-02-28 16:40] pllim commented on #435
@ejeschke , that is fine. Please let me know when you have the binding examples updated. Would like to use this with DS9 binding. :smile:

[2017-02-28 18:26] ejeschke commented on #435
I think the ds9 binding was updated yesterday.

[2017-02-28 18:48] pllim commented on #435
Yes, I see that now. Thank you!

[2017-02-28 18:48] #435 closed

[2017-03-01 18:49] michaelaye opened #437 "crash after trying to create thumbs"
I put the crash report here:
https://gist.github.com/michaelaye/5342b311d55d2cab619951064d06589e

I tried to create thumbs for approx 10-15 fits.gz image via the file browser interface.

Note that I pressed the "Make thumbs" twice more after I saw the icon de-color the first time without seeing any output anywhere. I was assuming that the decolorization of the `Make thumbs` icon means that the pro

[2017-03-01 19:06] ejeschke commented on #435
@pllim, try the shift+home binding.  I updated it yesterday and it now moves the image so that the cursor is centered on the pixel.  This maybe useful in conjunction with the shift+arrows.

[2017-03-02 16:32] pllim commented on #437
Are you using `astropy.io.fits` or `fitsio`?

[2017-03-02 17:07] michaelaye commented on #437
the former.

[2017-03-02 17:12] pllim commented on #437
Does the image open properly using `astropy.io.fits` outside of Ginga (e.g., within a regular Python session)? There are some known bugs regarding compressed FITS, so I just want to make sure it is not a bug outside Ginga.

[2017-03-02 17:53] pllim commented on #435
@ejeschke , just tested it with latest master. It is great addition. Thank you!

[2017-03-02 19:20] ejeschke commented on #435
You are welcome, @pllim.

[2017-03-02 19:24] ejeschke commented on #437
@michaelaye, if you drag one of the fits.gz images to the ginga window (not invoking "Make Thumbs" first), does it open ok?

I believe "Make Thumbs" in its current incarnation works ok if there are not too many files and they are not too large.  It basically is loading every single one of them to make a thumbnail.  I have an idea to refactor it to invoke a separate process to build the thumbnails.

[2017-03-02 19:25] ejeschke commented on #437
The thumbs are cached, so once they are built if the file hasn't moved or changed ginga should be able to find the thumbnail.

[2017-03-03 20:54] michaelaye commented on #437
Drag'n-Drop from Finder does NOT work (error: "File does not appear to be on disk"), but opening via ginga's browser works fine

[2017-03-07 03:34] ejeschke commented on #437
I was able to drag and drop *.fits.gz files from Linux Nautilus and Mac finder when I tested today.  But I don't have too many examples of .fits.gz files.  I was also able to drag/drop *.fits.fz files.

[2017-03-07 17:06] michaelaye commented on #437
If you want to try one of ours, here's a link, it's very small, only 13 KB:
https://www.dropbox.com/s/sywltf9mdjht77f/mvn_iuv_l1a_apoapse-orbit00110-mode2001-muvdark_20141018T231525_v01_r01.fits.gz?dl=0

[2017-03-07 17:07] michaelaye commented on #437
Here's the errors I get after trying to dragNdrop from Finder:
![screenshot 2017-03-07 10 06 40](https://cloud.githubusercontent.com/assets/69774/23668278/d4035682-031d-11e7-955d-3f30cf2f93a8.png)

[2017-03-07 19:44] ejeschke commented on #437
I can see what is going on now from the traceback.  It looks like the URL is not recognized properly, so that it can't find the file on disk.  Is that a dropbox path or something similar ("/.file/id=6571367.710229")?  I'm using `urllib_parse.urlparse()` to parse the URL (in `iohelper`) and it correctly pulls out the path.  Can you try the following and let me know the result?
[code]

[2017-03-07 19:47] ejeschke commented on #437
@michaelaye, when I download your example file, I can drag and drop it no problem.

[2017-03-07 19:53] michaelaye commented on #437
That file does not exist. I have no clue what would create such weird file path. It is indeed a Dropbox file, but:

1. When I drag the same path into my terminal, the correct path is shown
2. When I copy the file into a non-Dropbox area and try to dragNdrop it from there, I get the same kind of weird path (different id now).
3. Both of the above still happening after deactivating my TotalFinder pl

[2017-03-07 22:39] ejeschke commented on #437
I think we just need to expand the processing a bit to handle this kind of case--a simple `os.path.exists` won't cut it for cloud storage.  I'm going to experiment with my dropbox account a bit and report back.

[2017-03-07 22:45] michaelaye commented on #437
You seemed to have overlooked point 2. from above?

[2017-03-07 23:03] ejeschke commented on #437
Is this on Mac OS X?  I just tried dragging your test file from my dropbox folder using Nautilus on Linux and it loads normally.  I'll try it on OS X now...

[2017-03-07 23:15] ejeschke commented on #437
On OS X (10.11.6) with latest dropbox it I can also drag from finder to Ginga and it loads your test image fine.  The filename as reported by the ginga logger looks more "normal" than the one you show in the traceback.  i.e. it shows ".../Dropbox/testdata/mvn_iuv_..."

[2017-03-07 23:18] ejeschke commented on #437
@michaelaye, is your dropbox folder set up in the usual way with dropbox "syncing"?

[2017-03-07 23:25] ejeschke commented on #437
On my box the python `os.path.exists` test returns True even in the dropbox folder.

[2017-03-07 23:46] michaelaye commented on #437
As I said above, this is NOT a Dropbox issue, because I get the same weird path when I copy the file to a NON-Dropbox folder and THEN dragNdrop it.

[2017-03-07 23:54] michaelaye commented on #437
could be this? http://stackoverflow.com/questions/28314136/qt-is-there-a-way-to-get-a-mac-file-path-from-indoor-url

[2017-03-07 23:56] michaelaye commented on #437
i have pyqt 4.11.4 and qt 4.8.7 installed, guess that's the problem?

[2017-03-08 00:00] michaelaye commented on #437
yep, and here's a workaround, but I don't know if you want to call osascript in your app:

[code]

[2017-03-08 00:00] michaelaye commented on #437
as given at the end by a nice soul at the QT bug report:

https://bugreports.qt.io/browse/QTBUG-40449

[2017-03-08 02:02] ejeschke commented on #437
@michaelaye, thanks for tracking that down.  From the stack overflow page, it looks like the bug will be fixed in Qt 5.4.1.  I'm running qt5 on the mac and maybe that's why I don't see it?  In any case, I think qt5 is the default in newer conda releases, etc. so maybe not worth fixing in qt4 unless there is a simple python workaround.  I'm not sure it is worth the hassle of shelling out to a third

[2017-03-08 02:09] ejeschke commented on #437
Just tried with qt4 on linux and mac os x and drag and drop is ok from a dropbox folder.

[2017-03-08 18:06] michaelaye commented on #437
hm, are you sure you tried that with a ginga installed in a new conda env where ONLY qt/pyqt 4.x is available? Otherwise you have just proven that it's NOT that bug.

[2017-03-08 18:08] michaelaye commented on #437
and i'm confused why you are still referring to Dropbox folders as if they were any special?

[2017-03-08 18:16] michaelaye commented on #437
I just create a new conda env with the only difference of pyqt/qt being 5.x instead of 4.x and the issue is gone.

[2017-03-08 18:18] ejeschke commented on #437
Mac OS 10.11.6
From "conda list" in this environment:
Conda 4.2.13
No PyQt5 or PySide, only PyQt4 4.11.4
Qt 4.8.7
qtpy 1.1.2
python 2.7

I don't think that this proves that it is not that bug.  It sounds like you might have an older version of Mac OS X and possibly a different version of these packages.

As far as I know they are not special except in that there is a daemon syncing them to the clo

[2017-03-08 18:20] ejeschke commented on #437
Good to hear.  I think we will close this issue for now.  If we get other reports about the problem we can reopen it.

[2017-03-08 18:20] #437 closed

[2017-03-08 18:25] michaelaye commented on #437
[code]

and the bug shows exactly as described here (same macOS as  written above) by the QT bug above. Maybe you are launching a ginga that is NOT installed in that pyqt4 env? I'm convinced it's this and this only bug.

[2017-03-08 19:16] ejeschke commented on #432
@pllim, could you try latest master and see what you think of Blink plugin improvements?

It now checks whether there are multiple images before blinking in local mode, and doesn't automatically resume blinking if you switch focus away from the plugin to another and then back.

[2017-03-08 19:22] ejeschke commented on #422
@pllim, how about when "degrees" is chosen as the unit?  What do you think the default precision should be?

[2017-03-08 19:29] ejeschke commented on #422
Can you try master and see if the chosen precision's are reasonable?  I'm not sure it is worth the work to make these preferences, but that is also a possibility if someone complains.

[2017-03-08 19:36] ejeschke commented on #437
I just double checked, and I don't have any other ginga installed. But I'm totally willing to believe that there is bug there.  I just don't know if it is worth fixing, especially if conda is moving rapidly toward qt 5.

Also, one can still drag and drop from the FBrowser plugin, so there is a workaround.  If we get a lot of other reports about it, or if a straightforward decent python fix becomes

[2017-03-09 16:49] pllim commented on #432
@ejeschke seems to work fine for me now. Thanks! However, what does the "Max: 30.0   Min: 0.25" mean? There is no tooltip and also not mentioned in Help.

[2017-03-09 16:49] #432 closed

[2017-03-09 16:54] pllim opened #438 "Feature Request: Add option to pop out Help text into a separate window"
This is how Help currently displays for me, which requires me to either scroll back-and-forth non-stop or adjust the right panel (making image display area smaller), none of which is ideal for me.

![screenshot](https://cloud.githubusercontent.com/assets/2090236/23760801/c695bcea-04be-11e7-94cd-162c18b5df23.png)

While I understand that you prefer not to have too many windows open, I also would st

[2017-03-09 17:00] pllim commented on #422
@ejeschke looks much better now. Thanks! I agree that it does not have to be a user preference.

![screenshot-1](https://cloud.githubusercontent.com/assets/2090236/23761073/a2d37576-04bf-11e7-9cf6-baa86608abcd.png)

I think "degrees" is fine as is, as the precision varies from detector to detector. I don't really use that one. Does it account for distortion?

[2017-03-09 17:00] #422 closed

[2017-03-09 19:47] ejeschke commented on #422
Only insofar as the WCS does.  If the WCS has a reasonable distortion solution mapped in, then the distance in degrees will be reasonable accurate.

[2017-03-09 19:49] ejeschke commented on #432
I'd better add a tooltip then.  Those are simply the min/max allowable values for the blink interval.  Set as preferences and simply reported there so the user knows that they can't exceed them.

[2017-03-13 18:17] ejeschke commented on #438
Hi @pllim,
I don't have any real problem with a pop out.  Ideally that could be a preference that you set in `general.cfg`.

I think the real issue though is that the text does not wrap nicely.  I played around a little bit with the docutils functions for generating HTML.  I'm wondering whether could have a solution that checked whether the webkit widget was installed (used by `WBrowser` plugin, c

[2017-03-13 18:19] pllim commented on #438
@ejeschke , as long as I don't have to scroll left-right continuously, I am open to the ideal of HTML rendering.

[2017-03-23 15:35] pllim opened #441 "Menu not responsive until Ginga is re-focused (Mac OSX)"
@jamienoss has OSX 10.11.6 (El Capitan) desktop and installed dev version of Ginga. Once Ginga is loaded, all file menu items are not responsive (not traceback given) until an external window in clicked (to defocus Ginga) and then click Ginga again (to refocus it). Only then, it works normally.

Python 3.5 with Qt 5.

[2017-03-23 20:36] ejeschke commented on #441
I think this issue can be seen with other python apps on Mac OS X.  When this has happened to me, if I click the terminal window that spawned ginga then the menu items become accessible.  It seems to relate to some focus issue with Mac OS X.  I remember discussing this briefly with @astrofrog, that Glue sometimes experienced the same issue.  @astrofrog do you know anything more about this phenomen

[2017-03-24 08:45] astrofrog commented on #441
This is related to how conda deals with GUI executables, see https://github.com/ContinuumIO/anaconda-issues/issues/446 - maybe consider leaving a comment there to say it affects you too, but sadly it doesn't look like much has happened there for a little while.

[2017-04-01 22:59] migueldvb opened #445 "Save image as PNG/JPEG"
Is there any plugin to export an image view to a PNG or JPEG image? It seems that the SaveImage plugin and `AstroImage.save_as_file` method do not support those formats.

[2017-04-03 18:45] pllim commented on #445
Take a screenshot? :wink:

What is your use case here? You can build RGB with "Compose" local plugin. Unfortunately, the RTD doc (http://ginga.readthedocs.io/en/latest/manual/plugins_local/compose.html) currently is not very informative but the plugin instructions should have basic info.

[2017-04-03 20:41] ejeschke commented on #445
@migueldvb, both of the supported back ends for the reference viewer have a method to save the screen as a PNG, so programatically-speaking there is already support for that.

I think this would be a fairly simple and short plugin to write.  You just need a text box for the file name and a button to save the file.  Then the callback for the button is just:
[code]

With a little nicer error wrappin

[2017-04-03 21:02] migueldvb commented on #445
Thank you @plim @ejeschke

To test this I have tried to write a script that reads a FITS image as an `AstroImage` object and used `save_rgb_image_as_file` on a view of all the pixels in the image but it does not work. Is there any example to save an AstroImage object as a PNG file for any of the backends?

[2017-04-04 06:08] ejeschke commented on #445
@migueldvb, can you update your git repo from master and take a look at the new plugin called [ScreenShot](http://ginga.readthedocs.io/en/latest/manual/plugins_local/screenshot.html) ?

Is this more or less what you were looking for, or are you looking to script the creation of many RGB snapshots outside of the context of the reference viewer.  That is also fairly easily done.

[2017-04-04 14:26] pllim commented on #445
@ejeschke , comments:

1. A "browse" button for the folder would be nice.
2. What if I want a screenshot of tiled images, either all in one channel or across multiple channels? I feel like this should be a global plugin to support the latter.

[2017-04-04 20:18] migueldvb commented on #445
That is great, than you very much.

[2017-04-04 22:20] ejeschke commented on #445
I agree. I'm happy to accept any PR's (:smiley_cat:) if I don't get around to it soon!

Yes, but that would actually require piecing together the separate images and recreating the tiled grid or whatever.  Since these aren't really larger than the screen window, you may just as well take a real screenshot of the whole reference viewer and edit out the bits you don't want.

[2017-04-04 22:44] ejeschke commented on #445
We could maybe add a way to make a screenshot of every viewer and save them all as separate files... Not sure how often something like that would be used.  With this current plugin it probably covers the most common case of wanting to make a small number of quality PNGs for a publication.

[2017-04-05 13:41] pllim commented on #445
Yeah, let's just leave that as an idea until someone actually uses it. :smile:

[2017-04-05 13:41] #445 closed

[2017-04-05 13:42] pllim opened #446 "Feature Request: Add browse button to Screenshot"
A follow up of #445. As discussed in https://github.com/ejeschke/ginga/issues/445#issuecomment-291651326.

[2017-04-13 00:11] ejeschke commented on #310
@pllim this issue is partially addressed in commit 3364b3206dc8f64a945b3567d8062ce3d39fe0dd.

We can now specify categories for plugins and it will make nested menus under those categories.  I'm not suggesting that as a full solution to the issue, but it's a capability we could use.  See [main](https://github.com/ejeschke/ginga/blob/master/ginga/rv/main.py) spec entries for plugins for examples of

[2017-04-13 03:48] ejeschke commented on #438
@pllim, I've updated the `TVMark`, `TVMask`, `ChangeHistory` and `SaveImage` to use the new help mechanism.  I've pretty much just inserted the ReST markup from the manual pages, and tweaked it a bit so that it renders without references to the rest of the manual (which give a nasty error message, since they are not available--things like cross-references, etc.).

[2017-04-13 03:51] ejeschke commented on #438
We might want to add `docutils` as a recommended package to install (or maybe even required?).

Also think about making it so that the images can be rendered into the help.  As we discussed offline, this might entail moving the documentation so that it installs with the package.  But I'm not sure that is the best way to proceed.

[2017-04-13 14:35] pllim commented on #438
Re: docutils

Technically, Ginga can still function without docutils. So, you can certainly list it as optional dependency. I see that you already have `have_docutils` in `Control.py`, so all you need to do is add a logic to handle `have_docutils = False` and display some generic error message when `Help` is pressed.

Re: package data

When the full rendered doc is somehow available as package dat

[2017-04-13 17:31] ejeschke commented on #438
Currently it just creates a text widget as before and displays the full ReST text in the docstring.  I think this is not a bad fallback.

That's the idea.

`WBrowser` used to just link to the manual.  If there was a local copy of the HTML it would use that, otherwise it would try to go to the internet.  Maybe just having the Help functions try to access the manual pages online first, and then fall

[2017-04-13 18:06] pllim commented on #438
*Theoretically*, one of these might be possible...

* Have `setup.py` attempt a Sphinx build and store rendered HTML as package data for distribution/installation. This might be overly complicated and easily breakable.
* Manually generate HTML doc with Sphinx and add them as package data. This can easily get out-of-sync with RTD if developer is not diligent in manual doc generation when code chang

[2017-04-14 21:01] pllim commented on #438
I totally agree, @ejeschke !

[2017-04-18 20:29] pllim opened #450 ""Help" tab not always on the side"
I think it makes sense to have "Help" tab to be always on the side (preferably right, but left okay too). When I open Ginga, open "Help", and then open another channel, "Help" is sandwiched between the two channels, which appears to be an awkward position. I am also unable to manually drag it to the side, so it is stuck there.

Screenshot:
<img width="129" alt="untitled" src="https://cloud.githubu

[2017-04-18 22:09] ejeschke commented on #450
@pllim, I'm open to that.  But that does sort of rule out the possibility of using it nicely as an MDI window in the central workspace.  But maybe this could be solved by having a clear and easy way to move windows between workspaces. Dragging would be best, but I think it is problematic for Qt.

[2017-04-18 22:49] ejeschke commented on #450
Perhaps I misunderstood.  When you say "right", and "left", do you mean just in the set of tabs of the workspace or the actual *workspaces* to the left and right of the central one?

[2017-04-18 23:19] pllim commented on #450
Just the placement of the tab, as shown in screenshot.

[2017-04-19 00:10] ejeschke commented on #450
In that case, I think this may be a super easy fix.  We just need to enable rearrangeable tabs when building a workspace.  I think this just requires us to add the parameter `reorderable=True`, [here](https://github.com/ejeschke/ginga/blob/master/ginga/gw/Desktop.py#L712).  You might try this and see whether you can then rearrange the tabs by dragging them.  Would that be acceptable?

[2017-04-19 15:23] pllim commented on #450
Sure! That is actually quite nice, because now I can also re-order other tabs everywhere in Ginga. :+1:

[2017-04-19 15:50] ejeschke commented on #450
Excellent. 👌

[2017-04-19 16:04] pllim commented on #438
I think this issue is solved.

[2017-04-19 16:04] #438 closed

[2017-04-20 09:16] ysBach opened #453 "Pixel value colorbar visibility"
As in the following figure, the counts (numbers) are not very visible in Ginga.
I think it is better to put the numbers outside of the colorbar like ds9.

![values](https://cloud.githubusercontent.com/assets/17214293/25223032/3671af2c-25f5-11e7-9f3e-154634c61fdd.png)

[2017-04-20 15:48] ejeschke commented on #453
@ysBach, I agree.  And I think that should not be a difficult change. We basically just need to plot the numbers a little lower in the Y axis, outside the color bar.  I'll take a look at this.

[2017-04-20 21:21] ejeschke commented on #453
@ysBach, could you try the most recent version from master (commit 2c0b15ed5a748d426eeef647105823e09100c3bf)?  Let me know your feedback.

[2017-04-20 21:50] ysBach commented on #453
Thanks for such a fast feedback! :)

Things look better, but the left-most number is sometimes at the "too left" position.
As an example, I opened an image. Then I opened the same image but subtract by 0.1 and multiplied by 10^8 to see how the minus sign looks.
![values](https://cloud.githubusercontent.com/assets/17214293/25253538/46794ef4-265c-11e7-9525-0e380a4d6968.png)

It is at least visible,

[2017-04-20 23:00] ejeschke commented on #453
@ysBach, could you try commit 7dc4b783129a239742b081407f86d286b427a272?  Thanks for the feedback to help improve Ginga!

[2017-04-20 23:01] ejeschke commented on #453
Font sizes are tricky across platforms, but I'll see what I can do about that.

[2017-04-21 01:19] ejeschke commented on #453
I've tweaked it just a little more and I think I've found a kind of reasonable default font size for all the various platforms and toolkits I've tried.  I've added a preference setting, so you can change the font size and overall color bar height by copying [this file](https://github.com/ejeschke/ginga/blob/master/ginga/examples/configs/plugin_Colorbar.cfg) to your `$HOME/.ginga` directory and edi

[2017-04-21 18:14] #450 closed

[2017-04-23 06:10] ysBach commented on #453
Sorry for late reply, and it became fantastic!
Now that you have made a "cfg" file, I think making further modification is much easier for people like me (non-developers).

Thanks for your effort! :D

[2017-04-23 06:19] ysBach opened #454 "Pick with Moffat profile"
Currently ginga pick can do the fitting only by Gaussian.

But the Moffat profile is a more reasonable and realistic stellar profile, and Moffat has already been implemented to astropy: [`astropy.modeling.functional_models.Moffat1D`](http://docs.astropy.org/en/stable/api/astropy.modeling.functional_models.Moffat1D.html#astropy.modeling.functional_models.Moffat1D).

I think giving flexibility of us

[2017-04-23 07:52] ejeschke commented on #454
@ysBach, what do you think about a 2D fitting?  In particular, for the case where there is some elliptical character to the profile.

How about just using `DAOStarFinder` then in `Pick`?  I have in mind that it would make sense to migrate `Pick` to using `photutils`.  But that is a more major undertaking.  Anyway, if there is some good example for doing the Moffatt fitting we could add it as an op

[2017-04-23 07:53] ejeschke commented on #453
Excellent!  Can we close this issue then?

[2017-04-23 08:41] ysBach commented on #453
@ejeschke I closed :)

[2017-04-23 08:41] #453 closed

[2017-04-23 09:46] ysBach commented on #454
@ejeschke,

2D fitting would be great too. But as far as I know, elliptical Moffat fitting is not available by default using Astropy. I am thinking of asking Astropy for this.

But before doing `DAOStarFinder`, we need the FWHM as an input of it. In IRAF, people did DAOEDIT for finding the input FWHM to DAOPHOT. In Python, I use ginga for this purpose. What I think is that it would be great if we

[2017-04-24 14:03] pllim commented on #454
Why not use `imexam`? It supports Ginga viewer. http://imexam.readthedocs.io

[2017-04-24 14:05] pllim commented on #454
You can also call `imexam` from within Ginga as a plugin -- https://github.com/ejeschke/ginga/blob/master/experimental/plugins/Imexam.py

[2017-04-25 04:17] ejeschke commented on #454
@ysBach, can you try commit ee0c92b2df292c789b47741d0b1b572377f9da27?

You can set the type of FWHM fitting in the "Settings" tab near the bottom.  Currently the default is "gaussian" (as before).  If you want to always use "moffat" you can copy the [plugin_Pick.cfg](https://github.com/ejeschke/ginga/blob/master/ginga/examples/configs/plugin_Pick.cfg) configuration file to your `$HOME/.ginga` and

[2017-04-25 14:02] ysBach commented on #454
@pllim It would be really nice if `imexam` can be used. But I actually have spent quite much time to make `imexam` work on my machine, but it almost never worked correctly for me, so I stopped using it since last year. Many key strokes do not show the desired results (especially `c`, `l`) and the resulting graphics window cannot be size-tuned (e.g., maximize does not work, so the xy labels are tru

[2017-04-25 14:08] pllim commented on #454
Another option is to use Ginga viewer in Jupyter notebook, then you can just do whatever you want outside of Ginga and then only pipe your image to the viewer when you want to view it.

As for your imexam troubles, I think it is still worth reporting it at https://github.com/spacetelescope/imexam/issues so @sosey can have a look. Thank you!

[2017-04-25 14:10] pllim commented on #454
You need to copy "Imexam.py" to your `~/.ginga/plugins` directory and then restart Ginga for Ginga to pick it up. It is not automatically "installed".

[2017-04-25 14:19] ysBach commented on #454
@pllim

Yes, I am thinking of, but just I couldn't yet. But thanks for your suggestion! I am far from a developer so was hesitating to open issues on github until about a week ago :)

I guess the following is what you mean, but it doesn't show the `Imexam` button in `Operation`...

[code]

[2017-04-25 14:33] pllim commented on #454
Hmm. Try starting Ginga outside of `~/.ginga`. That is, try this:
[code]
Then if you see any errors on the terminal, copy and paste it in your reply.

[2017-04-25 14:43] ysBach commented on #454
@pllim
Oh I found the problem: mistakenly used different one as `Imexam.py`.
Now it works as desired.
Some problems are the problem of `imexam`, not `ginga`.

Thanks for the kind suggestion and help :)

[2017-04-25 16:18] ejeschke commented on #454
@ysBach, did you press the "Redo Pick" button after changing the setting from "gaussian" to "moffat"?  Just changing the setting does not recalculate anything until you make another pick or press "Redo Pick".

I see a slight change in the fwhm calculated between moffatt and gaussian almost every object.  And some objects, particularly ones that are overexposed and "capped", gaussian seems to fit b

[2017-04-25 16:21] ejeschke commented on #454
By turning on the logging to debug, I can see that a different function is called for the moffat fitting.

I need to change the code a little--it currently doesn't complain if something other than "gaussian" or "moffat" is used, but just falls back to "gaussian".

[2017-04-25 16:46] ysBach commented on #454
@ejeschke I am out of office so cannot check it again right now; but I turned off ginga, changed the file to `moffat` or `gaussian`, and turned ginga on, and then did the pick again for the same star. That's the capture I put above.

I will check again thoroughly tomorrow if I've made any mistake.
Thanks for your effort and comments.

[2017-04-25 17:21] ejeschke commented on #454
Thanks for testing.  It's possible that the preference from the file is not picked up yet correctly, so just try changing the value in the drop down box in "Settings" and hit "Redo Pick".  Both X and Y FWHM numbers should change slightly, and the FWHM plot key should show "data" and "moffat".

[2017-04-25 19:39] sosey commented on #454
Yes, please @ysBach, post any issue you continue to have with imexam to it's github home so I can try and fix them! :smile: If you would rather, you can also email me the problems and I'll open an issue. It would be great if you could include details on your conda environment and an example of how you are using it.  thanks!

[2017-04-27 11:08] ysBach commented on #454
@ejeschke Sorry for late reply.
And oh, I now can see slight change in FWHM and fitting!
It was just almost identical (down to 0.001 ) on my image by chance,
and it gave ~0.01 difference with some different images.
Thank you so much for your hard-working.

I am not sure you intended it, but the graph of function fitting shows the legend still "gauss", not "moffat":

![fwhm](https://cloud.githubuse

[2017-04-27 17:38] ejeschke commented on #454
@ysBach, I don't think you have the update installed correctly.  The graph key should show either "gaussian" or "moffat" *not* "gauss".  Did you do a
[code]
?  From this graph, I don't think the update was applied.

[2017-04-28 20:04] pllim commented on #188
I don't see any problem with 2D image anymore.

[2017-04-28 20:04] #188 closed

[2017-04-29 10:33] ysBach commented on #454
@ejeschke Oh, I am sorry, from some point I forgot to do the `python setup.py install`.... Stupid mistake.

Thanks a lot and I think it is now working perfectly as expected! :)

[2017-05-01 12:57] pllim commented on #259
I followed up again with the user who made the original request. Turns out NIRCam image that will use this feature has 4 dimensions and the requirements are pretty specific, so moving this development to `stginga`.

[2017-05-01 23:10] ejeschke commented on #454
@ysBach, feel free to close the issue if you are satisfied with the result.

[2017-05-02 03:45] #454 closed

[2017-05-02 21:12] pllim opened #456 "Question about slit feature in Cuts"
I see some similar controls between "slit" in `Cuts` and `LineProfile`. When do I use "slit" and when do I use `LineProfile`? Why aren't they in the same plugin?

Also, starting `Cuts` with "slit" enabled, I see the following:
[code]

Then, while using it, I see more:
[code]
[code]

[2017-05-03 03:52] pllim commented on #336
Fixed by #451

[2017-05-03 03:52] #336 closed

[2017-05-03 04:04] ejeschke commented on #456
@pllim, could you try commit f472cb8b7ccedd080085d6ba3ff7b1ae001fa49a ?

This should at least fix the issue with the "set_enabled" error.

[2017-05-03 04:19] ejeschke commented on #456
I think `LineProfile` also is not currently playing well with `MultiDim`.  Loading a cube and exercising the NAXIS controls it is constantly clearing the selection of the axis, which forces a popup error of "Please select an axis".

[2017-05-03 04:23] pllim commented on #456
Thanks for the quick fix; indeed the "set_enabled" error is gone.

The "self.tags[tag]" error appears when I choose NAXIS3 but "New Cut" is set.

Not exactly sure what caused the "QPushButton has been deleted" error. I was doing a bunch of stuff but I was paying attention to `LineProfile`, not this plugin. If I see it again, I'll add more notes.

[2017-05-03 04:24] pllim commented on #456
Yes, that is so annoying that I removed it in #455.

[2017-05-03 07:30] ysBach opened #457 "Pick error when changing radius"
As can be seen from the figure below, the pick gives error message after I change the `radius` for pick settings:

![pick](https://cloud.githubusercontent.com/assets/17214293/25651378/a9cedc2e-301d-11e7-9a0a-952e8d34ba56.png)

I guess this is because the `radius` changes into a float when I modify it, while ginga takes only integer radius.

[2017-05-03 16:39] pllim commented on #457
I don't think it is the radius. I can't reproduce the error on my own image by setting radius to 9.0 as you did. Looks like FWHM calculation failed.

One thing you can do is save and post the Ginga log when you encounter this again.

`ginga --loglevel=10 --log=ginga.log`

[2017-05-03 18:14] ejeschke commented on #457
@ysBach, can you try commit a3514524e406c97c4682c00e1186c6c91a2238f2?  I think this fixes the problem.

I think I introduced this bug recently when I added an additional centroid calculation to the FWHM results.

[2017-05-03 18:16] pllim commented on #457
Huh. I have your recent change in my installation but I couldn't produce that error...

[2017-05-03 18:18] ejeschke commented on #457
@pllim, it actually does the FWHM fine.  It was in an additional centroid calculation that the error with a float radius manifested itself.  numpy doesn't want to let you index arrays with floats (which makes sense).

[2017-05-03 18:22] ejeschke commented on #456
But I think the main issue is that the checkbox for the selected axis is getting cleared.  `LineProfile` needs to check whether the `mddata` attribute of the new image is the same as for the old image, and only redo the selection checkboxes if this has actually changed.  Instread, I think it is rebuilding it on every `redo()`.

[2017-05-03 18:28] pllim commented on #456
You are right. It is not very efficient. I am currently gutting it inside out to implement region selection anyway, I'll make a note to check the `mddata`. Is a `==` sufficient or is there some special Ginga function to compare `mddata`?

[2017-05-03 18:35] ejeschke commented on #456
Actually, can you rebase on master I just pushed?  It has the fix, and also fixes the annoying pop up message if the user has not selected an axis.

[2017-05-03 18:37] ejeschke commented on #456
Thank you for polishing up this plugin, @pllim!

[2017-05-03 18:37] pllim commented on #456
Hmm. I'll try. There might be conflict but I'll figure it out. Thanks!

[2017-05-03 19:34] ejeschke commented on #456
I've done the following for the "Slit" feature in `Cuts`:
* enabled the UI by default
* added a "Enable Slit" checkbox, which, if checked, causes the slit plot to function
* fixed the "Save" function in the Slit UI

[2017-05-03 19:35] pllim commented on #456
Did you try using Slit on the `nrc` image I passed along to you from NIRCam? It works for 4D cube but I don't know what I am looking at.

[2017-05-03 19:36] ejeschke commented on #456
Back to the question at hand...

That is a good question. @rupak0577 implemented both the "Slit" addition to `Cuts` and also the `LineProfile` plugin.  I think @nabobalis was supervising this and I believe also @Cadair had some input.  Maybe we could get a good explanation of the differences?

I think we need one of these fine gentlemen to give us the 1000 meter view...

[2017-05-04 04:51] ysBach commented on #457
@ejeschke Thanks for fast feedback!
I confirmed it and it now works fine, so let me close this issue. :)

[2017-05-04 04:51] #457 closed

[2017-05-04 09:18] nabobalis commented on #456
The orignal idea was that a slit would be a spatial cut that outputs a space/time image and the line profile would see how wavelength varies at a single pixel.

I think the orignal plan was to make slit able to cut arbitrary axes to produce any possible combination required by the user, but I can not remember if we got to that. So LineProfile was born to achieve the second aim.

[2017-05-04 15:16] rupak0577 commented on #456
If I remember correctly, we did discuss on whether all the axes would be shown or not and the plugin does show all the axes of the image but I think only two of them can be selected?

@ejeschke @pllim Thank you both for fixing it!

[2017-05-04 17:02] pllim commented on #456
@nabobalis @rupak0577

So when I have the following NAXIS in my 4D cube:

* NAXIS1 = 2048
* NAXIS2 = 2048
* NAXIS3 = 10
* NAXIS4 = 2

When I draw a line and select NAXIS3, what am I really seeing in "Slit" image? What about when I select NAXIS4? The axis label does not really tell me anything.

[2017-05-04 17:12] pllim commented on #456
@ejeschke , the following case needs to be handled properly as well:

1. Open a cube.
2. Start Cuts.
3. Draw a line on image.
4. Switch to Slit tab.
5. Check NAXIS3 box (while "Cut" is still set to "New Cut")

[code]

One of the sessions also resulted in core dump when I quit Ginga but I can't reproduce it now.

[2017-05-04 17:26] pllim commented on #259
Actually, now that I think about it more, a more general implementation is possible. And I can simply subclass this one for a more specific one in `stginga` if needed.

[2017-05-04 19:22] pllim commented on #327
According to @nden , for uncalibrated JWST data, Astropy WCS will not be able to read the distortion information but GWCS can.

[2017-05-04 19:35] ejeschke commented on #456
@pllim, I believe this is fixed in commit 8b7a1d0696a6c7d8bcb6c8d28b8d1ef70a38b7c8.

[2017-05-04 19:40] pllim opened #459 "Cannot switch image via Thumbs when MultiDim is active"
You can reproduce with the following steps:

1. Open an image with multiple extensions. In my case, image display chooses Extension 1 (as EXT 0 is just a header).
2. Open `MultiDim`. For whatever reason, it automatically jumps to EXT 0, which is the primary header.
3. Now I click on EXT1 thumbnail on `Thumbs` but it will not switch image display to EXT1. Instead the highlighting jumps back to EXT0

[2017-05-04 19:45] pllim commented on #456
Indeed it is fixed. Thanks for the quick response!

[2017-05-04 19:54] ejeschke commented on #459
I think this may be a limitation of the way that plugins do not know so much about each other.  The problem is that when you click a thumbnail for a new image it will cause the `redo()` function in `MultiDim` to fire, and it will *reopen* the file and use it's logic to find the first available HDU to display.

To change this behavior, `MultiDim` needs to become a little more sophisticated.  One op

[2017-05-04 19:57] ejeschke commented on #459
Try commenting out the `set_hdu()` call on line 577 in `MultiDim`.  Does this work?

[2017-05-04 20:02] ejeschke commented on #459
For me this keeps `MultiDim` from overriding the image.  But the `idx` metadata item seems not to be set correctly in the images, so that the correct HDU is not shown in the HDU selection control.

[2017-05-04 20:26] ejeschke commented on #459
@pllim, commit a9943ebfb868e53bdb5d897db05617b06de282ba should partially fix this issue.

I believe that in some cases still, the correct entry in the `MultiDim` HDU selection control may not be shown when selecting images externally (e.g. via `Thumbs`).  But `MultiDim` should at least not override your selection of image anymore.

[2017-05-04 20:59] pllim commented on #459
@ejeschke , thanks! Yes, I can switch image via Thumbs now. But clicking on a new image on Thumbs does not update the listing in MultiDim, as you mentioned.

[2017-05-05 17:06] pllim opened #460 ""git describe" not reading proper tagged release"
Found this out in another package. It turns out that when a release is tagged using GitHub's web interface, it does not play well with "git describe" command. The current workaround is to tag it using "git" command line, push the tag out, and then insert release notes after-the-fact.

[code]

c/c @jhunkeler

[2017-05-05 17:16] jhunkeler commented on #460
@pllim *nods* This describes the issue well enough. We'd expect to see something like below in the `show-ref` output:

[code]

Where `^{}` is a pointer to the real commit hash in the timeline.

[2017-05-12 15:23] pllim opened #463 "Grid layout prevent vertical resizing"
I opened 4 `2k x 2k` images, each in its own channel. Then I choose the grid layout. Half of Ginga was outside my screen (small monitor + remote access) and I was unable to resize Ginga vertically.

[2017-05-12 17:38] pllim opened #464 "Is new Help compatible with __doc__ override?"
For instance in `ChangeHistory.py`, we added this to auto-insert config file contents to online documentation:
[code]

However, `WBrowser` now reverts to displaying module docstring when RTD or online doc fails to display.

How should we consolidate these two? It seems like a chicken-and-egg thing.

[2017-05-12 18:56] pllim opened #465 "ImageView set_enter_focus warning"
I am using the latest dev with `stginga`. Should I be worried about this warning?

[code]

[2017-05-13 07:37] ejeschke commented on #465
Is this with the qt back end?  I don't think you should see this with qt.  And in fact you probably shouldn't see it with most of the back ends either.  Most of them do override that method.

[2017-05-13 07:41] ejeschke commented on #463
It might be possible to get around this by adding a `ScrollArea` around the grid, but that also tends to mess up the idea of the available space for sizing the grid.

Were you unable to resize because you couldn't access the lower right hand resize handle?

[2017-05-13 07:48] ejeschke commented on #464
So this just inserts the settings file as part of the documentation, right?  As you mention in the comment, would it be possible to append it to the docstring?  Or maybe it should be something that is accessed as a separate link from the generated documentation.

[2017-05-13 13:14] pllim commented on #464
One thought is to move the *entire* RST content of the current plugin help page to docstring. That way, we can change the incantation to `__doc__ += ...` without problem of duplicating help info. Also, it eliminates the need of keeping two different versions of doc. One downside is that, your "docutils" fallback will render it a bit weird due to missing ref but I think that is a small price to pay

[2017-05-13 13:17] pllim commented on #465
Yes, Qt5. I do have a bit of problem of weird things happening trying to run stuff installed using RHEL6 on  RHEL7 and vice versa. Although this might also have been happening in a while without me knowing since I often just set `loglevel=40`, not 30. I'll keep an eye out and report more if I see it again.

[2017-05-13 13:18] pllim commented on #463
Yes, lower half of Ginga was outside the screen. I couldn't find a way to access it.

[2017-05-13 14:16] pllim commented on #465
Update: I also see this when only using Ginga, not `stginga`.
[code]

[2017-05-15 14:50] pllim commented on #465
Changing the warning into an error (which is not a good idea, by the way), gives me the following traceback:
[code]

[2017-05-15 15:17] pllim opened #476 "SaveDialog Qt5 connect warning and error on cancel"
Qt5 on RHEL7.

1. Open an image.
2. Open Cuts plugin.
3. Draw a cut to enable Save button.
4. Click on Save button.

When button is clicked, I see this on the terminal:
[code]

Then I click Cancel without saving the file and I see this:
[code]

The problem with the second traceback is that this is no longer a valid check:
[code]

[2017-05-15 15:20] pllim opened #477 "matplotlib v2 deprecation warnings"
When I start Cuts plugin and have matplotlib v2 installed, I get the following warning:
[code]

When I use `Pick` and `Screenshot` (not sure which one issued it), I see this:
[code]

[2017-05-15 15:50] larrybradley opened #478 "Cannot vertically resize (or reposition) Ginga window with OSX"
Under OSX (10.11.6), the Ginga window opens with maximum vertical size.  I can resize the window horizontally, but not vertically.  This is an issue if one has a visible OSX Dock at the bottom, because it hides the Ginga app.  One workaround is to put Ginga in "fullscreen" model (which hides the Dock).

Also, if I try to move the window vertically it snaps back to the original position.

I'm using

[2017-05-15 18:11] ejeschke commented on #478
@larrybradley , could you see whether providing the `--geometry=HxW` option allows you to set the  size so that it fits on the screen?

[2017-05-15 18:21] larrybradley commented on #478
@ejeschke I just discovered that this issue affects only my macbook pro (retina) laptop.  It works fine on an OSX desktop (same OS version, python, Qt, etc.).  That suggests it's a retina display issue(?).

Setting the `--geometry` on my laptop has no effect, but it works on the desktop.

@stscieisenhamer said that this is a known Qt/OSX issue.  Double clicking on the Ginga title bar resizes the w

[2017-05-15 18:24] ejeschke commented on #476
I think I recently had to add a fix to check whether `target` is an instance of `tuple`, and if so, the filename is element 0 of said tuple.  Sounds like we need to refactor this code a little to check exactly what is coming in as `target`.

[2017-05-15 18:35] pllim opened #479 "Feature Request: Allow Pick to save out as ASCII table"
Someone asked me why `Pick` only allows saving out to FITS table, not ASCII. The use case is that user wants to use the output with `tweakreg` (part of [DrizzlePac](http://drizzlepac.stsci.edu/)), which only accepts ASCII table.

[2017-05-15 18:39] pllim opened #480 "Screenshot warning: 'PngImageFile' object has no attribute '_getexif'"
Should I be worried about this?

[code]

[2017-05-15 18:45] ejeschke commented on #478
I'm using ginga frequently on my macbook pro retina.  My setting under Settings/Displays is "scaled/more space".  But that may make some applications like terminals have too small a default font.  To counteract that I just set the default font for terminals to be a larger size.

I think there is a set of flags that can be applied to Qt windows to allow them to be resized down.  We'll have to ident

[2017-05-15 18:48] pllim opened #481 "Feature Request: ScreenShot to include colorbar"
User was expecting something like this (with colorbar included):

![screenshot](https://cloud.githubusercontent.com/assets/2090236/26073675/82b225a6-397d-11e7-91cc-8a57740a10d0.png)

But `ScreenShot` plugin only saves out this (without colorbar):

[2017-05-15 18:49] ejeschke commented on #479
Well, before I was using an ASCII table with comma delimited parameters.  I think the FITS table allows a little more flexibility in changing the columns and preserving all the precision of floats, etc.

Perhaps rather than supporting two formats we could make an easy converter that pulled the correct values out of the FITS table and wrote a CSV file in the exact format that `DrizzlePac` expects?

[2017-05-15 18:51] larrybradley commented on #478
Indeed with display set to "scaled/more space" (or the setting just to the left), I can vertically resize/reposition the window.  But I can't resize smaller than some minimum vertical size (this size must be larger than the screen for the default display size).

[2017-05-15 18:54] ejeschke commented on #481
Probably not a solution, but more of a workaround: add a color bar to the window before taking the screenshot.   Press "y" to go into `cmap` mode, then press "c" to add a colorbar and `Esc` to get out of `cmap` mode.  Then take the screenshot.

[2017-05-15 18:55] pllim commented on #479
So, it could save to ASCII before! I am glad I was not going crazy.

It looks like the underlying machinery simply uses `astropy.table.Table.write()`, so why not just let Astropy table automatically handle the output format based on given extension?

[2017-05-15 18:57] pllim commented on #481
Well, it kind of work but not quite...

![ztempss](https://cloud.githubusercontent.com/assets/2090236/26074174/ce60ab66-397e-11e7-96b8-e9e2a4c3dbda.png)

[2017-05-15 19:04] pllim opened #482 "Feature Request: Save current state of Ginga session"
Someone asked if it is possible to save the state of the current Ginga session, which includes but not limited to:

1. Ginga layout like number of channels, channel names, and arrangement.
2. Images opened, pointing, scaling, stretched, etc.
3. Plugins being used and their parameters.

The use case was to recreate some pain-stakingly hand-created chart with object of interest highlighted in 8 diff

[2017-05-15 19:07] pllim opened #483 "Feature Request: Use Astroquery for catalog queries"
Both Ginga and Astroquery are affilliated packages, so this makes sense.

Available services: http://astroquery.readthedocs.io/en/latest/#available-services

c/c @keflavich @bsipocz

[2017-05-15 19:08] pllim commented on #52
User finds catalog config very confusing, wants a proper GUI to specify catalogs. @stscieisenhamer can provide more details.

[2017-05-15 19:15] ejeschke commented on #481
@pllim, it doesn't look like you added the color bar.  Here's what my screen capture looks like:

![sc](https://cloud.githubusercontent.com/assets/1305473/26074831/f44689b6-394e-11e7-9f66-c701237bb06d.png)

[2017-05-15 19:19] ejeschke commented on #480
That may indicate a possible change in API of the `pillow` (PIL) package. Is it happening just trying to load a PNG file?  Does it happen for every PNG file or just some?

[2017-05-15 19:23] ejeschke commented on #480
Nevermind, I can reproduce that error.  Taking a look.

[2017-05-15 19:23] ejeschke commented on #480
As far as worrying about it, I think it only means you won't see any metadata in the `Header` plugin.

[2017-05-15 20:32] ejeschke commented on #483
I think Ginga can/does use `astropy.vo.client.conesearch` for catalog searches.

[2017-05-15 20:37] ejeschke commented on #481
That is the saved PNG that I attached.  If you click the "Fit" button does it show the whole snapshot including the color bar?

[2017-05-15 20:37] pllim commented on #483
@ejeschke , I moved Cone Search to `astroquery` recently. It will be deprecated in Astropy 2.0 and removed in Astropy 3.0. FYI.

[2017-05-15 20:39] ejeschke commented on #479
Perfect!

[2017-05-15 21:51] stscieisenhamer commented on #52
The commentary from a class was, "why not already configured", i.e. for the common cases. The next reaction was "let me specify in the gui, why does it have to be configured". Considering that direct solutions may be a bit down the line, the stginga project could take the idea of subclassing, and apply it pre-configuring MAST.

[2017-05-15 22:21] ejeschke commented on #52
That's probably a good thing to do.  Maybe just working off of the common set provided by `astroquery` or the default `conesearch` sources.

[2017-05-15 23:03] ejeschke commented on #480
@pllim, commit f2e79c87a076c80e0e7efa3a56321cb33bb9788d fixes this warning by testing for the `_getexif()` method.  Probably a future update can figure out a good way to extract metadata from PNG images.  For now, the `Header` plugin will just show blank.

[2017-05-15 23:25] ejeschke commented on #478
@larrybradley, I tried resizing the Ginga window just after I had started it and before loading anything.  I was able to resize it down to this:

<img width="575" alt="ginga_resized_small" src="https://cloud.githubusercontent.com/assets/1305473/26083293/9e5b8c32-3970-11e7-9eb4-7b0d0eb86277.png">

Mac OS X 10.11.6 (El Capitan), Qt 5, python 3

[2017-05-16 14:21] pllim commented on #480
I saw this warning when I was using the `ScreenShot` plugin, so I did not really care about the header, but was simply confused by the warning. Looks like warning is gone. Thanks!

[2017-05-16 14:21] #480 closed

[2017-05-16 14:42] pllim commented on #481
@ejeschke , I only see colorbar in the plugin display, not in the saved PNG file. I tried both zoomed in and fit.

[2017-05-16 14:46] pllim commented on #481
Even if the colorbar somehow gets saved, it is still not ideal in its current state, because it runs *across* the snapped image, thus covering part of it, and cannot be used in a publication. User wants the colorbar to be at the bottom, as with the main display.

[2017-05-16 16:08] ejeschke commented on #481
I think we ought to look into that.  Somehow it doesn't seem that the codebase you are running is the same as mine.  If you see the colorbar in the display, it should be in the final saved PNG file.  Did you try opening it in another image viewer?

Sure.  I think the colorbar can be placed below the data in the main window just by specifying a different (x, y) coordinate.  That might be one soluti

[2017-05-16 16:20] pllim commented on #481
@ejeschke , what are the exact steps you are using to produce your PNG with colorbar? I can try to follow them and see if that helps.

[2017-05-16 16:36] ejeschke commented on #481
Press "y" to go into cmap mode, then press "c" to add a colorbar.  A color bar should now be visible over the image.  Press Esc to get out of cmap mode. Then click `Snap` in the plugin to take the screenshot.  If you now press `Fit` you should see the screenshot in full with the colorbar in the plugin ginga widget.  Use "Save" button to save the screenshot.  The color bar should also appear in the

[2017-05-16 17:39] pllim commented on #481
Oh... So I have to press "y" etc in the *main display*! I have been doing it in the plugin display instead. 😂

I do have to press "fit" for the colorbar to appear but after that when I zoom in and "snap" again, the colorbar remains.

[2017-05-16 18:23] ejeschke commented on #481
The viewer in the plugin is just a ginga widget, so you are just not seeing the color bar until you fit the image (i.e. a zoom to fit) so that the lower part of the PNG image appears in the viewer.

[2017-05-16 18:44] pllim commented on #481
Also, the second colorbar that pops up when I do this does not exactly match the tick labels as the main colorbar (although I think both are correct). It is not critical though.

Still it would be nice to have the following instead:
* Colorbar appear at the bottom (not across) image.
* Something to make it appear in screenshot without having to fiddle with so many incantations ("y", "c", "esc", et

[2017-05-16 21:34] ejeschke commented on #481
We could have the `ScreenShot` plugin add the color bar below the image (based on whether a checkbox in the plugin is checked) when it is resumed and removed when paused or stopped.

[2017-05-16 21:37] ejeschke commented on #481
I think we need to make it clear that this plugin only captures the channel viewer window contents.  If you need to capture more parts of the application (e.g. plugin UI, etc.) it's better to just use a native screen capture app for the host OS.

[2017-05-17 17:05] pllim commented on #481
@ejeschke , user is only interested in adding a colorbar to the captured image, nothing more. 😄

[2017-05-18 09:00] matwey opened #486 "2.6.3: MultiDim is not active"
Hello,

I am trying to load 3-dim FITS using ginga 2.6.3.
In GUI there is no mention of MultiDim plugin. I see only the first 2-d layer. Probably I need to install some deps, but I can not figure which deps.
My 3-dim FITS file was produced by cfitsio lib.

git master also doesn't have MultiDim for me.

[2017-05-18 11:07] pllim commented on #486
You need to start MultiDim from the Operation menu. Then you need to select the extension from the drop down menu.

[2017-05-18 11:11] matwey commented on #486
There is no MultiDim in Operation menu.

[2017-05-18 11:49] pllim commented on #486
Please provide a screenshot of what you're looking at.

[2017-05-18 12:09] matwey commented on #486
![g](https://cloud.githubusercontent.com/assets/156627/26201505/5c537a68-3be4-11e7-9195-f909a31e6386.png)
![g1](https://cloud.githubusercontent.com/assets/156627/26201506/5c59aaaa-3be4-11e7-8293-f8037b923fd7.png)

[2017-05-18 12:33] pllim commented on #486
Start Ginga like this:
[code]
Then attach the log file of your session.

[2017-05-18 20:47] #259 closed

[2017-05-18 20:47] #427 closed

[2017-05-18 20:56] #459 closed

[2017-05-18 21:31] ejeschke commented on #486
@matwey, there is probably some issue (astropy version?) preventing loading of the `MultiDim` plugin, which lets you browse cubes and other HDUs.  @pllim's suggestion is good, but it's probably sufficient to use `loglevel=20` which will result in less verbose output.  There should be an error in the log if you search for the word `MultiDim`.

[2017-05-18 21:37] ejeschke commented on #477
@pllim, would fixing this for matplolib v2 be backward compatible with at least later 1.x versions?

[2017-05-18 21:53] ejeschke commented on #476
This is partially fixed by commit 2e5846c98c89074bbd8c2cd8a4fd4cfa9852d094.

There is still an error that appears on the terminal when canceling:
[code]
I don't know if this is a platform-specific error, but it doesn't seem to cause any particular problem.

Also, in this commit I removed a save of the entire image data to a FITS file.  I didn't quite see the point in this since the data is already

[2017-05-19 08:12] matwey commented on #486
Thanks. I've found from loglevel=10, that MultiDim requires matplotlib. It would be great to have less cryptic way to know it.

[2017-05-19 08:12] #486 closed

[2017-05-19 08:14] ejeschke commented on #486
matplotlib?  I don't think it uses that.  However, a number of the other plugins do.

After you installed that, did `MultiDim` become available?

[2017-05-19 08:16] ejeschke commented on #486
It's a good point.  I think we could pop up something in the GUI at least showing which plugins failed to load, maybe along with the error messages.

[2017-05-19 14:43] pllim commented on #477
I am not familiar enough with `matplotlib` development to answer for sure. There are some options:

* Use their suggestions, downgrade `matplotlib` to your min supported version (1.5.1), and see what happens.
* Ignore them until they are removed and cause error (probably too late by then).
* Put in `if ... else ...` to handle different `matplotlib` versions.
* Bump `matplotlib` requirement to 2.x

[2017-05-19 14:54] matwey commented on #486
I see the following in ```ginga.log```:

[code]

When matplotlib is installed, MultiDim is available and working

[2017-05-19 14:55] pllim commented on #486
I think if we move all the optional dependencies to local import (i.e., only import in a function/method that uses them), some of the errors might bubble through `error_wrap` naturally?

[2017-05-19 16:10] pllim commented on #486
No, matplotlib and scipy are both *optional* for Astropy. I'll submit a PR shortly.

[2017-05-19 16:28] pllim commented on #486
With #488, you can use `MultiDim` without `matplotlib`, you just cannot save the slice out to PNG.

[2017-05-19 16:41] pllim commented on #477
`matplotlib` 1.5.1 gives `AttributeError: Unknown property facecolor`, so we definitely need to handle the versions separately.

[2017-05-19 18:28] pllim commented on #477
This should be addressed in #488.

[2017-05-19 18:50] #477 closed

[2017-05-19 19:10] pllim commented on #476
@ejeschke , I don't see the `setNativeLocks failed` message on my end and can confirm that your commit removed the original reported traceback. I'll see if I can find more of such cases. Thanks!

[2017-05-19 20:46] #479 closed

[2017-05-20 04:07] ejeschke commented on #465
This is fixed in commit e30d389355d0684c90359e0858d55f741fe21967.  The order of a subclass and a mixin was switched to fix the MRO.

[2017-05-20 15:58] pllim commented on #465
Yes. It is gone now. Thanks!

[2017-05-20 15:58] #465 closed

[2017-05-22 19:25] #476 closed

[2017-05-23 20:54] pllim opened #492 "Feature Request: Overplotting multiple marks on LineProfile"
User wishes to overplot multiple marks on `LineProfile`.

Update: Alicia would settle for a "all or selected" option.

c/c @bhilbert4 @aliciacanipe

[2017-05-24 15:04] pllim opened #493 "LineProfile mean calculation too slow for big cube"
User reported performance issues ("a few seconds") when `LineProfile` operates on a cube of dimension `[190,2048,2048]`, with "circle" region and a radius of about 30 pixels.

Under the hood, I used Numpy's `mean(axis=...)` method for masked array. Not sure how to make that faster, so I am opening an issue for now as a reminder to investigate in the future.

c/c @bhilbert4 @aliciacanipe

Alicia's

[2017-05-24 17:57] pllim opened #494 "WCS conversion does not support multiple pixels at once (except for AstropyWCS)"
In `wcsmod.py`, I found out that `pixtoradec()` method (at least for `astropy.wcs`) only works when single pixel `[X, Y]` coordinate is given. When I give `[[X1, Y1], [X2, Y2], ...]`, it breaks even though `astropy.wcs.WCS.all_pix2world()` can calculate for multiple pixels at the same time.

Is this a feature or a bug?

In an attempt to address #391 , the ability to calculate multiple locations at

[2017-05-24 18:39] ejeschke commented on #494
Neither, but just an omission in the initial design.  It would not be hard to support for all WCSes, since we could just do a cython iteration or some such for wcs packages that don't support array operations.  But I think that `kapteyn` does also support array operations, and maybe also `starlink-ast`.

It's been on my TODO list for a while, because it would also be very nice for the canvas graph

[2017-05-24 20:00] ejeschke commented on #494
I would suggest that if we undertake this PR, that we introduce a new call in the API for the `pixtoradec` replacement (also because you are not always converting to RA/DEC!)--this will minimize breakage of many things that rely on the current API.

[2017-05-24 23:49] pllim commented on #494
The best I can do is implement that API for AstropyWCS and make the rest raise NotImplementedError, as I have never used those.

[2017-05-25 00:47] ejeschke commented on #494
I'll help with the other ones.

[2017-05-25 22:53] austinbeauch opened #496 "Does Ginga support MEF visualization?"

[2017-05-26 13:57] pllim commented on #496
Did you try the `MultiDim` local plugin? It is designed for MEF. Can you be more specific of what you are looking for?

[2017-05-26 17:36] austinbeauch commented on #496
This looks like it could do the job! Just need a way to display multi extension files basically. I haven't tried anything yet, wanted to see if Ginga had a way of doing it.

[2017-05-26 17:36] #496 closed

[2017-05-26 17:46] ejeschke commented on #496
See also the comments at the bottom of #311, kind of a duplicate of this issue.

[2017-05-31 03:25] ejeschke commented on #496
BTW, @austinbeauch, if you mean to create a mosaic of MEF tiles, ginga can do that using the `Mosaic` plugin:

![mef_mosaic](https://cloud.githubusercontent.com/assets/1305473/26614479/6678cc24-455c-11e7-969c-807610f17754.png)

If you want to use this feature, I highly recommend that you preset the field size using FOV parameter and also install one of the [ginga accelerators](http://ginga.readthe

[2017-05-31 22:34] austinbeauch commented on #496
Thank you @ejeschke for the continued support!
I've actually been experimenting with Ginga in a Jupyter notebook versus using the reference viewer, mostly using [this notebook](https://github.com/ejeschke/ginga/blob/master/ginga/examples/jupyter-notebook/ginga_ipython_demo.ipynb) as an example. Is there a way to use widgets from ginga.web.pgw in the viewer that notebook creates?
The idea is to cre

[2017-06-01 14:07] pllim commented on #496
@eteq made this notebook as well, which you might find useful. I think there's a widget to interact with MEF:

https://github.com/spacetelescope/stginga/blob/master/docs/stginga/notebooks/ginga_nbinteract.ipynb

In that example, you need to also install `stginga` (https://stginga.readthedocs.io) but I don't think `stginga` is strictly necessary for such widgets. It was just a matter of convenience

[2017-06-01 20:46] ejeschke opened #497 "Create a widget compatible with other Jupyter notebook widgets"
Ginga already has a web browser back end (see #168) and there is a Ginga [viewer that is tailored for working in/with Jupyter notebooks](https://github.com/ejeschke/ginga/blob/master/ginga/examples/jupyter-notebook/ginga_ipython_demo.ipynb).

This issue is exploring whether a native Jupyter widget can be used as the back end of a Ginga viewer.  I've created a new `ginga.web.jupyterw` back end modu

[2017-06-01 20:58] ejeschke commented on #496
@austinbeauch, yes, you can create other widgets.  The goal is eventually to support the reference viewer in the browser.  But there are some key widgets that need to be implemented for that to happen.  Let me know if you are interested working on those in a new issue and I can provide more info on that.  You may wish also to browse the text of issue #168 to see what kinds of things you can do now

[2017-06-01 21:15] pllim opened #498 "MultiDim a bit broken again"
9ab11d2f144625e271dde3b122bafb1ab2fb0c8c reverted some features I added in #461. For instance, now when I open a cube or switch image, `MultiDim` does not automatically update anymore.

[2017-06-01 21:31] ejeschke commented on #498
How about for non-cubes?  For me when I switch via `Thumbs` or `Contents` the HDU control updates correctly.

I think #461 introduced the mutually recursive calls.  For some reason it didn't show up in the Qt version, but I am afraid it may eventually.  The basic problem is that `redo()` was calling `set_hdu()` which indirectly invokes a `redo()`...

Let me see what I can do about the cube case...

[2017-06-01 21:58] ejeschke commented on #498
@pllim, can you try commit db0a72632f42d66bb6e0c3fbb44aede261c00c9c and let me know if this fixes the issue for you.  It's working in my brief testing here with a couple of different cubes,

[2017-06-02 01:01] ejeschke commented on #497
ping @mwcraig, @austinbeauch

[2017-06-02 15:45] pllim commented on #498
Yes, seems to work now. But I notice one thing (that I probably didn't fix in my PR either):

1. Open a 4D image.
2. Click "next slice" (the double-right-arrow button).

Note that the first click does nothing. But subsequent clicks work normally.

[2017-06-05 18:41] pllim opened #500 "Mosaic gives QObject warning/error message"
Steps to produce this:
1. Start `Mosaic` plugin in Ginga.
2. Start `FBrowser` plugin.
3. Click "new mosaic" button in `Mosaic` plugin.
4. Drag an image from `FBrowser` to the main display.

[code]

[2017-06-05 18:43] ejeschke commented on #498
@pllim can you verify (by checking out an older commit) that this problem exists for that as well (with your same 4D cube)?  If so, we should open it as a new issue.  Otherwise, we carry on the reporting in this issue since it would be the recent changes that broke it.

[2017-06-05 18:47] pllim commented on #498
Does "current latest master" count?

[2017-06-05 18:51] ejeschke commented on #498
I mean with a version right after you added your changes for "MultiDim improvement" branch.  I believe it can be any commit between 2fc06567ae7b17aadaa5abb01f430f25b6e590c2 (when I merged your changes) to 301002a1b6422e03afda0544586f0bf47198f66b (when I merged my recent changes).

[2017-06-05 19:15] pllim commented on #392
Well, I think I answered my own question... See STScI-JWST/wss_tools#26

@ejeschke , how do I set `memmap=False` in Ginga reference viewer? I don't see any way to actually do that currently without changing `GingaShell.load_image()` code in `Control.py`.

[2017-06-05 19:28] ejeschke commented on #392
@pllim, in the `ginga.util.io_fits` module, the appropriate methods have a `memmap` kwarg that is passed to the opener.  Furthermore, that keyword can be passed as part of the kwargs in `Control`'s `load_image()` which is the basis for loading most files (as you note above).

So there is a mechanism for passing it in, but it is currently not used.

The default is `None` in `io_fits`.  My understan

[2017-06-05 19:35] pllim commented on #392
Either "general.cfg" or "channel_Image.cfg" is fine by me. Another option is command line argument but I think config setting is more elegant.

[2017-06-05 19:40] pllim commented on #392
By the way, it does default to `memmap=True`: https://github.com/astropy/astropy/blob/master/astropy/io/fits/file.py#L86

[code]

This line was added 3 years ago (according to "git blame"), so this is not something terribly new.

[2017-06-05 19:41] pllim commented on #392
Or... we can just force `memmap=False`. Does Ginga really need `memmap`?

[2017-06-05 19:54] ejeschke commented on #392
Well, in my own testing, `memmap=False` is actually faster for the case of mosaicing, or any typical use case in Ginga.  So maybe we can consider to set the default to `False`.  Can you see whether that solves your issue?

[2017-06-06 02:55] ejeschke commented on #500
@pllim, it doesn't happen for me with the steps above.  Qt5, python3, Linux.

[2017-06-06 03:01] ejeschke commented on #500
But that message indicates that somewhere, a non-gui thread is executing GUI code; particularly something starting one of the back end timers.

[2017-06-06 03:04] ejeschke commented on #500
Maybe we can track it down by some of the logging that surrounds the message (e.g. at loglevel=10).

[2017-06-06 04:03] ejeschke commented on #392
When I set the default to False in `io_fits` I don't see any difference, except that it seems a little snappier loading files.

[2017-06-06 16:29] pllim commented on #392
Actually, `memmap=False` didn't solve my problem. For whatever reason, mosaicking 624 files somehow exceeded system limit and I don't have privilege to up the limit.
[code]

I have `numImages=0` (unlimited) set in Ginga because I fear the mosaic itself would fall out of cache, but as a result, all the input images also stay in cache (open). However, I don't understand how mosaicking 624 images wou

[2017-06-06 17:27] pllim commented on #392
Turns out my problem can be solved without any code changes (see below), so feel free to close #501 if you don't want it. And I guess you can close this too now if you want. Thanks!

**SOLUTION**

Make the following changes in `~/.astropy/config/astropy.cfg` under `[io.fits]` section and save your changes:
[code]

[2017-06-06 17:43] pllim commented on #500
@ejeschke , here is the partial log surrounding the `QTimer` message:
[code]

**QObject::startTimer: Timers cannot be started from another thread**

[code]

[2017-06-06 18:06] pllim commented on #500
I did a `conda update --all` and this went away, so perhaps this is some upstream bug after all. If I see it again, I'll re-open this.

[2017-06-06 18:06] #500 closed

[2017-06-06 18:18] pllim commented on #498
I checked out 9e22e80ec8a8cfafb2 (the one just before 301002a). I find two behaviors with 4D cube.

Behavior 1:
1. Open a 4D image.
2. Click "next slice" (the double-right-arrow button).
3. It works.

Behavior 2:
1. Open a 4D image.
2. Use radio button to switch to NAXIS4.
3. Click "next slice" (the double-right-arrow button).
4. First click does nothing but subsequent ones are okay.

And despite

[2017-06-06 18:20] pllim opened #502 "MultiDim slider non-responsive first click for 4D cube for NAXIS4"
Carry over from #498, as suggested in https://github.com/ejeschke/ginga/issues/498#issuecomment-306270004 .

Behavior 1:
1. Open a 4D image.
2. Click "next slice" (the double-right-arrow button).
3. It works.

Behavior 2:
1. Open a 4D image.
2. Use radio button to switch to NAXIS4.
3. Click "next slice" (the double-right-arrow button).
4. First click does nothing but subsequent ones are okay.

[2017-06-06 18:20] #498 closed

[2017-06-06 18:58] pllim opened #503 "Why both LICENSE.txt and LICENSE.rst?"
Seems redundant to have two copies of the same license.

[2017-06-06 19:20] pllim opened #504 "Feature Request: Allow user to choose coordinate space for WCS display"
As suggested by @ejeschke :

https://github.com/ejeschke/ginga/pull/495#issuecomment-305682723

"For the future enhancement we might consider to allow them to specify the coordinate space (e.g. galactic, ecliptic, etc.)"

https://github.com/ejeschke/ginga/pull/495#issuecomment-305836647

There are two keys in each channel's settings: "wcs_coords" and "wcs_display".  These have values like e.g. 'ir

[2017-06-06 19:23] pllim opened #505 "Feature Request: WCSAxes to display "BAD WCS" if image WCS is invalid"
As suggested by @ejeschke :

https://github.com/ejeschke/ginga/pull/495#issuecomment-305682515

Maybe we should trap for WCS errors at the appropriate point in the canvas type and simply substitute a single text object (centered in the middle of the image) that says "BAD WCS" or some such.

https://github.com/ejeschke/ginga/pull/495#issuecomment-305832196

Well I am thinking of uses outside of the

[2017-06-06 19:32] ejeschke commented on #503
LICENSE.rst is consistent with the rest of the restructured text documentation. Possibly it should exist inside the "doc" directory so that it can be linked to from the documentation.

However, "LICENSE.txt" appears at the top of nearly every code file in the project. And I think you need a file at the top level of the project for github to pick it up and display the license type icon properly.

[2017-06-06 19:33] ejeschke commented on #503
I don't think it is too terrible to have two files with the same license in it.

[2017-06-06 19:33] pllim commented on #503
Okay, just wondering. Thanks for the clarifications!

[2017-06-06 19:33] #503 closed

[2017-06-06 20:08] pllim commented on #392
My original question is answered.

[2017-06-06 20:08] #392 closed

[2017-06-06 20:35] #391 closed

[2017-06-07 15:06] pllim commented on #460
@ejeschke , a reminder about tagging for next release.

[2017-06-07 15:09] pllim commented on #431
Is this still an issue for Ginga 2.6.3?

[2017-06-07 15:21] pllim commented on #340
This is pretty old now, so closing.

[2017-06-07 15:21] #340 closed

[2017-06-07 15:24] pllim commented on #326
@ejeschke , this is pretty old. Is this still an issue? I don't see this in matplotlib v2 and Python 3.

[2017-06-07 15:31] pllim commented on #87
I think this has been solved by `ColorMapPicker` plugin.

[2017-06-07 15:31] #87 closed

[2017-06-07 15:32] pllim commented on #68
This is already solved in #313

[2017-06-07 15:32] #68 closed

[2017-06-07 15:33] pllim commented on #504
Note: Might be also related to #38 ?

[2017-06-07 15:39] montefra commented on #431
I have to test it but I'm far from computers for the next week. I'll let you know asap

[2017-06-07 20:03] ejeschke commented on #460
The tagging and pushing out is fairly straightforward, but I haven't tried to add release notes after the fact.  Is that straightforward from the github web interface?

[2017-06-07 20:05] ejeschke commented on #326
I haven't see that in a long time.  I think we can close this.

[2017-06-07 20:05] #326 closed

[2017-06-07 20:06] pllim commented on #460
Yes, it should be.
1. Go to "releases".
2. Click on the tag you just pushed out.
3. Click "Edit tag" button on top right.

[2017-06-07 20:55] #492 closed

[2017-06-07 20:55] #493 closed

[2017-06-07 21:08] pllim opened #509 "Standardize Move/Draw/Edit buttons across plugins"
As suggested by @ejeschke in https://github.com/ejeschke/ginga/pull/506#issuecomment-306918787

I do think that the Move/Draw/Edit controls should be standardized (as much as possible) accounting for the different things that the plugins do. And LineProfile is perfectly compatible in this regard, but the controls are constructed differently and show up more widely spaced than in other plugins (bec

[2017-06-07 21:19] ejeschke commented on #460
Release v2.6.4 made.

[code]

[2017-06-07 21:20] ejeschke commented on #460
Any word on whether github is going to address this problem?

[2017-06-08 14:50] pllim commented on #460
Not that I know of. Maybe @jhunkeler has heard something back?

[2017-06-08 14:51] pllim commented on #460
Seems proper now, so I am closing this issue. Thanks!
[code]

[2017-06-08 14:51] #460 closed

[2017-06-12 14:12] mkelley commented on #478
I have the same issue, but with GNU/Linux.  It isn't clear to me which toolkit is being used at startup, but the resizing behavior is broken with the default.  Starting on the command-line with `-t gtk3` and `-t qt` the window decorations are changed, but the resizing still does not work.

The first time the ginga window is drawn, everything fits, but once a blank image is opened, the window size

[2017-06-12 17:48] ejeschke commented on #478
@mkelley, that is indeed helpful.  I'll experiment with opening new channels and resizing.

It sounds like you might at least have a workaround on Linux, according to what @larrybradley wrote above.  Try using the `--geometry` option and let us know if this works.

[2017-06-13 12:34] mkelley commented on #478
@ejeschke, I tried `--geometry` but it had no effected.  My work around is to use a fullscreen mode, where everything fits on the screen.

[2017-06-14 23:37] austinbeauch commented on #497
Hi @ejeschke, took a bit of a break but now I'm back to working on the widgets.

Are any of the widgets compatible with an EnhancedCanvasView type? I've tried implementing the strategies from [examples/pg/example2_pg.py](https://github.com/ejeschke/ginga/tree/master/ginga/examples/pg) which is referenced in #168 but that file is doesn't use a notebook and inserts the widgets using a TopLevel objec

[2017-06-16 14:13] pllim opened #514 "Disable padding in Mosaic"
@Skyhawk172 is using `Mosaic` to build a big mosaic using a lot of smaller images. The result has a border around it all with all zeros. Is it possible to remove that border or make it tighter?

Screenshot:
<img width="489" alt="screen shot 2017-06-16 at 10 08 48 am" src="https://user-images.githubusercontent.com/2090236/27230206-7c08ed62-527c-11e7-942c-3392de626bf2.png">

[2017-06-16 18:20] ejeschke commented on #514
I believe this is set by the `expand_pad_deg` parameter in `mosaic_inline()` in `ginga.AstroImage`.  You might try modifying the `Mosaic` plugin (or whatever you are using) to pass a 0.0 value for that (or perhaps something very small, if 0.0 doesn't work).

[2017-06-17 03:00] ejeschke commented on #497
@austinbeauch, that might be not too difficult.  Check out the output of the `embed()` call, it may be something that you can wrap using one of the Jupyter widgets (like a nested HTML item or something).

I think trying to embed the ginga wrapped widgets (from the `example2_pg.py`, etc) in the notebook will ultimately be unsatisfactory. You are then kind of mixing apples and oranges.  It seems to

[2017-06-19 23:09] austinbeauch commented on #497
We got it working! Just created a new subclass of `ipg.EnhancedCanvasView` and then set it as the `viewer_class` when creating the server from `ipg.make_server`. Probably not how it was designed to be used but it seems to be performing correctly (for now).

[2017-06-19 23:54] ejeschke commented on #497
Hey, that's great!  I think it sounds like you are using the `viewer_class` mechanism as it was intended (it is designed so that you can create new kinds of viewers by subclassing).

Can you attach a screenshot of what you have working?

[2017-06-20 16:06] pllim commented on #514
Turns out it is configurable! Should be fixed on my side via STScI-JWST/wss_tools@81b00cfe. Thanks, @ejeschke !

[2017-06-20 16:06] #514 closed

[2017-06-20 16:54] austinbeauch commented on #497
Here's a screenshot of the class. We're still working with the accept/reject buttons so they don't have much functionality right now. The method near at the bottom that deals with "candidates" is part of our program so no need to worry about that. And the line which sets that as the viewer class is
`self.web_server = ipg.make_server(host=self.host,
  port=self.port, use_opencv=False, viewer_class=

[2017-06-20 19:11] ejeschke commented on #497
I meant a screenshot of your GUI!  :grin:

[2017-06-20 19:17] pllim opened #515 "Mosaic has padding on one side even when padding is disabled"
This is a follow-up of #514. Padding is disabled but for one use case, @Skyhawk172 still sees padding at the top. My hunch is that this is an edge-case bug in the expansion logic of the mosaic in `AstroImage.py` but I'll have to code-dive more to be sure.

Screenshot (ignore the red square):
![screenshot20170620](https://user-images.githubusercontent.com/2090236/27351474-7ce65f24-55cb-11e7-968a-99

[2017-06-20 19:17] ejeschke commented on #497
But, code looks good!

[2017-06-20 19:19] austinbeauch commented on #497
Whoops... now you have both! Grey box is the viewer/canvas, didn't load any image into it. Are there any GUI competitions? I think this could be one of the best ever created.

![screenshot from 2017-06-20 12-17-10](https://user-images.githubusercontent.com/18565932/27351489-666f2cb2-55b2-11e7-807b-0eecd7aab93f.png)

[2017-06-20 19:21] pllim commented on #497
Re: Competition -- Not really, but there is always Google Summer of Code for next year (2018)! 😉

[2017-06-20 19:31] mwcraig commented on #497
@austinbeauch --this looks promising!  Are you contructing the widgets using Jupyter's ipywidgets, or ginga's  widget set?

[2017-06-20 19:36] austinbeauch commented on #497
@mwcraig Completely from ginga's widget set, I haven't touched ipywidgets at all! That viewer/gui opens up in a new tab, so it's separate from the ipython command shell.

[2017-06-20 20:02] ejeschke commented on #497
You have to load an impressive astro image and overlay a canvas with some graphics!

[2017-06-20 20:05] pllim commented on #497
An image of space cats is always an option...

[2017-06-20 20:10] mwcraig commented on #497
https://github.com/eteq/catterplotpy

[2017-06-20 22:11] ejeschke commented on #515
Well, remember that the basic logic is to generate an empty array the size of the field and then scale/rotate/flip the tiles to fit.  So there may be some areas that don't get filled in exactly.  These will show up black.

[2017-06-21 13:51] pllim commented on #515
@ejeschke , the undesirable blank part of the mosaic is the big chunk of grey area on top.

[2017-06-23 18:36] pllim opened #517 "MultiDim breaks with Astropy v2"
As discovered in https://github.com/ejeschke/ginga/pull/512#issuecomment-310497596, `MultiDim` breaks due to changes in astropy/astropy#6124. This is because https://github.com/ejeschke/ginga/blob/master/ginga/util/io_fits.py#L220 hardcodes the index locations:

[code]

The correct approach is to use the relevant FITS file handler attributes directly without using `.info()`.

[2017-06-23 19:10] ejeschke commented on #517
Are these available in the older versions of `astropy`? (e.g. 1.X onwards)

[2017-06-23 19:14] pllim commented on #517
Should be. Most attributes from `info` were ported from the PyFITS days.

[2017-06-23 20:15] pllim commented on #517
Upon further code-diving in `astropy.io.fits`, I stumbled upon the problem of no easy way to extract `dtype` directly without re-implementing a `_summary()` hidden method, so I changed my mind about directly accessing FITS attributes. We can simply shift the indices by 1 as the `.info()` is unlikely to have another column added/removed.

[2017-06-23 23:47] #517 closed

[2017-06-26 20:20] ejeschke commented on #478
@mkelly, I am able to reproduce the non-vertical resizing with gtk3 back end, but not qt.  Both qt4 and qt5 allow me to resize the window even when I add new blank channels.  I'm running Ubuntu 16.04 on the desktop and Mac OS X on the laptop as described above.

Could you try explicitly with -t qt5 and -t qt4 to let me know the result?  I'd really like to address this, but I need to be able to rep

[2017-06-26 20:30] ejeschke commented on #478
@larrybradley, I tried setting my laptop retina display back to the "Default for display" setting (Settings/Displays).  I am able to resize the window well down below the screen size.  Adding new channels, or loading files  does not change the Ginga window size.  I'm using the latest Ginga with qt5.  My environment sounds almost identical to yours.  Not sure how to reproduce this error.  Wondering

[2017-06-26 20:46] mkelley commented on #478
@ejeschke , OK I've tried with -t qt5 and -t qt4 with the current master branch and got the same result.  I am actually using my office desktop now, which has more screen real estate.  However, I can still see the issue.  I cannot resize the window below the initial size until I remove all channels.  After removing all channels, resizing to a small vertical dimension, and opening a new channel, th

[2017-06-26 20:59] larrybradley commented on #478
@ejeschke I tried `v2.6.4` with `-t qt5` and got the same result.  I'm seeing exactly the same thing as @mkelley.  If I delete the default "Image" channel, then I can resize vertically to some minimum size.  However, with the window at the small size (no channel), as soon as I add a channel the window immediately resizes back to the large vertical size and cannot be reduced.

Is there some minimum

[2017-06-26 22:08] ejeschke commented on #478
@larrybradley, @mkelley I'm finally able to reproduce this!  I had forgotten that I am using an option to save the size and position of the ginga window between sessions.  Once I removed that saved layout, I experienced the issue.  This suggests a workaround until the issue can be fixed:
1) make sure there are no running instances of the reference viewer
2) edit the file `$HOME/.ginga/general.cfg`

[2017-06-26 22:15] ejeschke commented on #478
Just for anyone that wants to use this workaround, I made this layout as follows:
1) add the `save_layout=True` option as described above
2) remove any `$HOME/.ginga/layout` file that you may have
3) start ginga--size will exhibit problem
4) resize the viewer to be LARGER than initial size and close ginga normally
5) restart ginga--toolbar will look odd--floating in the extra space you created in

[2017-06-26 22:53] mkelley commented on #478
Confirmed, this layout config allows me to resize the window at will!  :+1:

[2017-06-26 23:04] ejeschke commented on #478
I believe this issue is fixed in commit 232366b878ce0baa9871421e64d9e6203e8d7050.  If you folks would kindly confirm that is so--comment out the workaround above from your `general.cfg`, remove the saved layout and restart, you should be able to resize the window.  I've also made the default size a little smaller for older laptops or folks running in a reduced desktop area configuration.

Of cours

[2017-06-26 23:06] ejeschke commented on #494
I think we can close this, right @pllim?  API has been implemented for all wrappers, and 3 of them are truly vectorized (in the `numpy` sense).

[2017-06-26 23:08] ejeschke commented on #463
@pllim, is this aided at all by the fix for #478?

[2017-06-27 00:35] pllim commented on #494
Yes, thanks!

[2017-06-27 00:35] #494 closed

[2017-06-27 01:15] ejeschke commented on #431
@montefra, I believe this issue is mostly fixed in commit 248353fca586c93cdbe80f3545486ce1167ad98b.  I say "mostly fixed" because you will still get some warnings about "window size undefined" if attempting to set the data prior to the window being realized.  But at least there is no exception thrown that causes the program to abort.

[2017-06-27 01:31] ejeschke commented on #482
I actually have this on my wish list as well.  However, I think the session parameters that are saved would be somewhat restricted to make it practical.  Maybe something like 1) only or 1) plus names and locations of images.

I agree that probably something should be scripted to produce a publication plot.  They could certainly script a ginga widget if PNG output is acceptable.

[2017-06-27 12:15] mkelley commented on #478
That works for me.  I tried out Qt4, Qt5, and GTK3.  The minimum GTK3 horizontal width is significantly larger than the others, but the minimum vertical is good.  Qt5's minimum horizontal is about 600 px.

[2017-06-27 13:52] larrybradley commented on #478
Thanks, @ejeschke.  I installed the latest master and everything is working great now!

[2017-06-27 13:52] #478 closed

[2017-06-27 18:06] pllim commented on #482
In that case, an example for people to start with would be nice. The use case presented to me was the following:

1. Display four squares centered around object of interest. Each square (image) have different contrast/stretch to highlight the object optimally. Each image is from a different telescope/instrument, hence different pixel scale, background counts, pointing, etc; Using `WCSMatch` can al

[2017-06-28 20:03] pllim commented on #463
Well, what do you know... The problem is gone now. Thanks! 😄

[2017-06-28 20:03] #463 closed

[2017-06-30 05:13] mwcraig commented on #497
@ejeschke -- I think a better approach, rather trying to add events to the Image widget (though I'll ask about that at scipy) is, in the short run, to put the viewer in an IFrame in a jupyter HTML widget. See https://github.com/glowing-waffle/glowing-waffles/blob/master/glowing_waffles/visualization/astro_widgets.py (and please ignore the package name, which won't stick around much longer).

I jus

[2017-06-30 05:14] mwcraig commented on #497
One question -- what is the right way to make multiple viewers if one wants multiple viewers?

[2017-06-30 05:19] mwcraig commented on #497
Never mind that last question, the issue is that I shouldn't be creating multiple servers....

[2017-06-30 08:53] ejeschke commented on #497
@mwcraig, in the original code you could just call `get_viewer()` on the server with another name and you'd get another viewer.  As you say, just create one server and you can create many viewer windows from that.

[2017-06-30 18:58] ejeschke commented on #497
Looking at the code, maybe you could make a factory class that generates viewers, that would encapsulate the server creation and pass in a separate string for each new viewer that was created.  Like so:
[code]

[2017-07-01 02:28] robertoabraham opened #521 "Ginga fails to display using the Windows Subsystem for Linux"
Hi, I'm thinking of transitioning from macOS to running Linux on a Windows laptop using the Windows Subsystem for Linux (WSL). If you've never heard of this thing, it's amazing: basically it lets you run Linux executables directly on Windows and it basically means you've got Ubuntu on your windows laptop without a VM. I've found that almost all the standard astro tools run (Astroconda, ds9, SExtra

[2017-07-02 02:34] ejeschke commented on #521
@robertoabraham, this sounds like a gtk thing, possibly.  Ginga doesn't do anything explicitly with "dbus".  Do you have pyqt installed on your Windows system?  Then you could run
[code]
(or qt5, if you have qt5 installed).  I think this is a better bet on Windows than Gtk.

[2017-07-02 02:37] ejeschke commented on #521
The [WSL FAQ](https://msdn.microsoft.com/en-us/commandline/wsl/faq) does state that they don't officially support GUI applications, only command line ones.

[2017-07-02 13:37] robertoabraham commented on #521
Hi @ejeschke, thanks, I've got pyqt installed by the -t qt5 switch still gives the same error. I think Dbus must be bing used behind the scenes for interapp communications. I'll play around with dbus configuration files and see if I can get somewhere with this. Anyway, while GUI applications aren't supported, so far the ones I've tried seem to work except for ginga. (Well, I've only tried a few, b

[2017-07-02 20:55] ejeschke commented on #521
@robertoabraham, Ginga runs natively on Windows.  I think that would be the preferred way to run it.  Just install [Anaconda for Windows](https://www.continuum.io/downloads) and then open a shell and type
[code]

That's all there is to it!

Or you can install [AstroConda](http://stsci-env.readthedocs.io/en/latest/installing_anaconda.html) which comes with Ginga already (although it is a slightly o

[2017-07-03 13:20] pllim commented on #521
Disclaimer: AstroConda channel currently does not have Windows build.

I wonder if Ginga can be added to https://github.com/astropy/conda-channel-astropy/tree/master/recipe_templates for Windows support.  @mwcraig?

[2017-07-03 13:21] pllim commented on #521
Also for Linux and Mac, Ginga release on the AstroConda channel is up-to-date at 2.6.4. :smile:

[2017-07-03 13:22] pllim commented on #521
Last but not least, I can confirm that Ginga runs natively on Windows. That is what I use for *live demo* on Windows 7. :scream:

[2017-07-03 15:58] robertoabraham commented on #521
Thanks all... I'll try using the native Windows version for now, I'm sure that'll be good enough for what I need to do. The linux subsystem stuff looks pretty slick and I suspect it'll be able to run everything very soon so I'll revisit this in a few months and check if ginga works with it then.

[2017-07-03 16:22] ejeschke commented on #521
Oops, my mistake.  I just helped someone yesterday who had AstroConda installed on their laptop and the version of Ginga that they had was 2.6.3.  I just assumed it was the latest version of AstroConda, but that obviously was not not the case, in hindsight.

[2017-07-03 17:31] pllim commented on #521
All they have to do is `conda update ginga` :smile:

[2017-07-03 19:30] pllim opened #522 "Refactored internal shapes code not completely backward compatible"
Looks like #519 is not completely backwards compatible. I have a plugin that uses drawn shape to create masked data for calculation, which failed with this error now:

[code]

[2017-07-03 19:33] ejeschke commented on #522
@pllim, this looks like a quick fix, probably.  What shape did you draw to force the error?

[2017-07-03 19:34] pllim commented on #522
The plugin draws both circle and annulus at the same time, but traceback points to `astro.py`, so probably came from the annulus. Thanks for the quick response!

[2017-07-03 20:54] ejeschke commented on #522
Very odd.  It seems that I cannot do this:
[code]
nor can I do
[code]
but instead am forced to do
[code]
Which fixes the problem.

Any insight in to why this is, @pllim?

[2017-07-03 21:14] ejeschke commented on #522
I believe commit f0fcdc4f84e99b579cfbfc5e3201db275861b61c fixes the problem.  Can you confirm, @pllim?

[2017-07-05 19:08] mwcraig commented on #521
The astropy conda channel is up to date on all platforms: `conda install -c astropy ginga` (or update instead of install).

[2017-07-05 19:09] mwcraig commented on #497
Thanks, @ejeschke, I'll give that a try!

[2017-07-05 19:28] ejeschke commented on #521
Given the above, I don't think this qualifies as a bug.  Closing.

[2017-07-05 19:28] #521 closed

[2017-07-06 18:39] austinbeauch commented on #168
Hi @ejeschke,

I've been working with Ginga's web backend as in example2_pg.py and noticed there might be a slight hiccup when creating the viewer widget as on line [75 of example2_pg.py](https://github.com/ejeschke/ginga/blob/master/ginga/examples/pg/example2_pg.py#L75):

`w = Viewers.GingaViewerWidget(viewer=fi)`

There's no issue there, but trying to create a different sized window using a comm

[2017-07-06 19:35] ejeschke commented on #168
@austinbeauch, I'd be happy to receive your PR!

[2017-07-07 00:07] ejeschke commented on #522
@pllim, any chance to test whether this fixed the issue for you?

[2017-07-07 03:38] ejeschke commented on #409
@pllim, I believe this is fixed in 703f8d814994b8337c198363e3a8cd57fcafeeb5.  When you get the chance, can you please confirm? Tnx.

[2017-07-07 03:41] ejeschke commented on #456
Can we close this issue then?

[2017-07-07 04:04] ejeschke commented on #431
Closing for now.  We can reopen if the issue reappears.

[2017-07-07 04:04] #431 closed

[2017-07-07 04:48] ejeschke commented on #417
I've changed this to be an Info level message and not an Error level one.

I'd like to make this feature standard in the next release.  Regarding what information to save and restore, let's take it up in #482.

[2017-07-07 04:48] #417 closed

[2017-07-07 12:47] pllim commented on #456
My question at https://github.com/ejeschke/ginga/issues/456#issuecomment-299247180 is still unanswered.

[2017-07-07 13:07] nabobalis commented on #456
@pllim Sorry, I clearly missed that question.

With this setup:
NAXIS1  = 2048
NAXIS2 = 2048
NAXIS3 = 10
NAXIS4 = 2

If we select NAXIS 3, we would end up with a NAXIS3-distance diagram. For the data I use it, NAXIS3 is wavelength, so I should end up with a 2D spectra (like an IRIS raster image) where one axis is distance along slit and the other wavelength. This would be at a fixed NAXIS4 positio

[2017-07-07 13:25] pllim commented on #456
Thanks! Do you do that through `MultiDim`?

[2017-07-07 13:29] nabobalis commented on #456
Yeah.

[2017-07-07 13:35] pllim commented on #456
Okay, that's good to know. Thank you!

[2017-07-07 13:35] #456 closed

[2017-07-07 16:42] pllim commented on #409
Yes, it works now. Thank you!

[2017-07-07 16:42] #409 closed

[2017-07-07 16:49] pllim commented on #502
Yes, it is fixed. Thank you!

[2017-07-07 16:49] #502 closed

[2017-07-07 17:12] pllim commented on #522
Not yet... Let me see if I can fix the rest, seems like just typo.

[2017-07-07 17:41] pllim commented on #522
As response to https://github.com/ejeschke/ginga/issues/522#issuecomment-312731977 , if you print out `pts` at that point, you will see that `pts` is actually like this:
[code]
When you do a `np.asarray(pts).T`, it returns:
[code]
The array type now is `object`, as Numpy is unsure on how to combine the different dimensions; hence you cannot cast it as float.

Going through the rest of your calcula

[2017-07-07 18:14] pllim opened #526 "Update Astropy affiliated package info"
@ejeschke , please check Ginga's entry in https://github.com/mwcraig/astropy-affiliated-numfocus-blog/blob/master/registry.yml and see if anything needs updating. For instance, Ginga can also display JPEG and Astropy tables now, but I don't know how much details you want to put there.

"Please take a look at the information for your affiliated package at https://github.com/mwcraig/astropy-affiliat

[2017-07-07 19:12] ejeschke commented on #522
I could see that (I printed them myself, debugging this), but I thought that `numpy` would just treat them as arrays of arrays, and should still be able to handle a conversion to `float`.

Yes, it does.  Maybe there is a different way to handle this, but numpy seems to broadcast things so that the containment test works.  I was able to create masks for circle, ellipse, annulus, etc. which had give

[2017-07-07 21:46] ejeschke commented on #522
Is this fixed then, after merging #525?

[2017-07-07 22:58] pllim commented on #522
Haven't tested all the shapes but definitely works for rectangle, circle, and annulus.

[2017-07-07 23:41] ejeschke commented on #522
I've tested all the shapes you can draw that would give you a sensible mask.

[2017-07-07 23:42] ejeschke commented on #522
Let's reopen if you notice anything funky that looks like it might be related to this PR merge.

[2017-07-07 23:42] #522 closed

[2017-07-08 00:44] pllim commented on #522
Sounds good. Thanks! :)

[2017-07-10 16:04] pllim opened #528 "Feature Request: Show channel info in Thumbs"
When I have the same image open in different channels, it is quite impossible to tell which thumbnail is in which channel until I click on one and see which channel gets focused. I know it is possible to find out by just switching to `Contents` but I wonder if there is a way to have `Thumbs` tooltip also display channel the channel a thumbnail belongs to.

If this is *already* possible, e.g., via

[2017-07-11 04:36] ejeschke commented on #528
I've been thinking the same thing since I started working on #499.  I think we could pretty easily show the channel name in the popup tool tip.  What do you think, @pllim?

[2017-07-11 12:20] pllim commented on #528
Yes, I agree. But maybe when an option to turn it off because there's always someone who somehow does not want it.

[2017-07-11 19:07] ejeschke commented on #528
Do you use the `tt_keywords` setting of `Thumbs` to customize `stginga`'s pop-ups?

[2017-07-11 19:50] ejeschke commented on #526
@pllim, can I put you as co-maintainer?

[2017-07-11 20:35] pllim commented on #526
I won't say no... :wink:  Thanks for your generosity!

[2017-07-11 21:00] ejeschke commented on #526
Do you want your email address listed?

[2017-07-11 21:05] pllim commented on #526
Re: email -- No, thanks! :sweat_smile:

[2017-07-11 21:13] ejeschke commented on #526
Got it.  BTW, in the process of updating this I updated the github pages for Ginga.  [Check it out](https://ejeschke.github.io/ginga/) and let me know what you think!

[2017-07-11 21:18] pllim commented on #528
Yes, I use them.

[2017-07-11 21:19] ejeschke commented on #526
Submitted a PR to update the entry.

[2017-07-12 20:14] pllim commented on #526
Closed by mwcraig/astropy-affiliated-numfocus-blog#12 . Thanks, @ejeschke !

The page looks good! (Except for a missing Oxford comma but that's just me being nitpick-y.) Although, I wonder, since now that I am also mentioned as maintainer, whether STScI should be mentioned in addition to Subaru. 🤔

[2017-07-12 20:14] #526 closed

[2017-07-12 21:16] ejeschke commented on #526
Absolutely!  You can pull the gh-pages branch and update it if you want, otherwise I'll update it when I get a chance.

[2017-07-14 19:11] pllim commented on #515
I can't confirm whether this is from the exact input files I used for the original issue (if it is, then this bug is also non-deterministic), but the extraneous padding can also happen on the side, not just top/bottom:

![untitled](https://user-images.githubusercontent.com/2090236/28227141-ac909e18-68a6-11e7-87e1-6347ace2e96b.png)

[2017-07-14 20:01] pllim commented on #515
I might have tracked this down to `fov_deg = 0.1` in `plugin_Mosaic.cfg`. The padding disappears when I set the FOV small enough, for example, to 1 arcsec.

Closing for now. If I encounter it again despite this fix, will re-open.

[2017-07-14 20:01] #515 closed

[2017-07-14 20:34] pllim opened #531 "Replace bare except with "except Exception""
Saw some in `TVMask.py` (probably my bad when I wrote it). We should comb all the code for bare excepts and replace them with `except Exception`.

[2017-07-15 01:08] mwcraig commented on #497
@ejeschke -- Talked to @jasongrout at scipy about jupyterlab/widgets, a fits viewer and a jupyter widget. Pinging here then getting out of the way.

[2017-07-15 03:42] jasongrout commented on #497
@ejeschke - happy to help - it would be pretty easy to add some notion of click or selection to the image widget, or even better, subclass the image widget and add that interaction in a separate widget.

[2017-07-16 03:47] ejeschke commented on #497
@jasongrout, I like the idea of using a subclass of the image widget.  Are there any code examples of how to set up event callbacks for the widget subclass?  We would be looking for:
- keypresses (and releases, if possible)
- "pointer" clicks (left and right)
- scrolling

[2017-07-16 06:28] mwcraig commented on #497
The code mentioned in [this gitter comment on bqplot](https://gitter.im/bloomberg/bqplot?at=596a5f0ef5b3458e304d4949) might be useful as a starting point...

[2017-07-17 19:28] pllim opened #532 "Feature Request: Add "deselect_path" to TreeView widget"
Currently, `TreeView` widget has a `select_path()` method but no public API to de-select, except to clear the whole tree. I propose a new method named `deselect_path()`. In Qt, it is simply the opposite of `select_path()`, as follows:

[code]

[2017-07-21 01:46] pllim opened #533 "Canvas get_items_at method not completely backward compatible"
As a result of #519, I found that API of `CompoundMixin.get_items_at()` has changed. It used to take `x` and `y` separately, but now only takes `pt` (a tuple of `x` and `y` together). This is not a hidden method, so it is a bit unfortunate. Is there something else that I should be using instead of this method?

Also related: #522

[2017-07-21 03:22] ejeschke commented on #533
I probably should have changed the name and added a compatibility method like
[code]

but it may be too late for that now.  Can you just switch to using a tuple around your parameters?

[2017-07-21 03:26] ejeschke commented on #497
@mwcraig, I'm on vacation for another week & will take a look at that when I get back, but do you want to take a stab at adding some callbacks to the image widget?

[2017-07-21 03:40] pllim commented on #533
Yes, I had to put in a logic to anticipate two possible APIs. But I solved the problem on my end. Thanks!

[2017-07-21 03:40] #533 closed

[2017-07-21 03:48] jasongrout commented on #497
@ejeschke - sorry, I missed your comment above. A widget has both a javascript and a kernel object instance. These objects can sync state and also send custom messages to each other. The button control has an example of using custom messages to trigger callbacks on click.

* On the javascript side, the view's `.send` method is called to send a custom message to the kernel side: https://github.com/

[2017-07-21 16:32] mwcraig commented on #497
@ejeschke -- I'll try to take a look, but I'm on the road for the next couple of weeks (and giving a talk this Monday I should really start writing 😱), so I'm not optimistic...

[2017-08-01 01:55] ejeschke opened #539 "setup.cfg not configured correctly for new pypi uploads"
I get an error trying to push releases to pypi after their recent transition to a new server:
[code]
there seems to be something about the way that `astropy-helpers` is picking up the classifications that does not create a compatible string.

This needs to be fixed for pypi downloads, pip installs and proper building on debian.

[2017-08-01 02:03] ejeschke commented on #539
@pllim, @bsipocz, @olebole

I used to use the following invocation:
[code]
but the new pypi server gives me the above error (after removing the "register" part, which is no longer supported).  I followed the [directions here](https://packaging.python.org/guides/migrating-to-pypi-org/#uploading), and installed a compatible version of "twine", but as you can see from the above snippet it no longer w

[2017-08-01 15:21] pllim commented on #539
Sorry, I am not familiar with PyPi. But seems like it is picking up the comma. In Astropy, the classifiers are listed inside `setup.py`. When I translated that to Ginga, instead I moved it to `setup.cfg` but did not remove the commas. But that was a year ago, so I am surprised it did not come up sooner. My suggestion is to remove the commas in `setup.cfg` and try again.

Does not appear to be rela

[2017-08-01 15:36] bsipocz commented on #539
``python setup.py sdist upload`` stopped working for me a while ago, too but switching to twine solved the issues. Other than that I don't have any idea what goes wrong, and would need to dig into google and SO myself.

[2017-08-01 20:28] ejeschke commented on #539
Thanks for the input, @pllim, @bsipocz . I fixed it by moving the classifiers back to `setup.py` as a regular python list.  I used `twine` to upload it, and no complaints.  It [shows up](https://pypi.python.org/pypi/ginga/2.6.5) on pypi.python.org .

[2017-08-01 20:29] ejeschke commented on #539
And I didn't change the classifiers.  I think this only started showing up after pypi moved to their new system.

[2017-08-01 20:30] pllim commented on #539
Glad you found the solution. It was my bad to move them to `setup.cfg` in the first place. Sorry!

[2017-08-01 20:46] ejeschke commented on #539
No problem at all.  Just wondering whether the other items that are in `setup.cfg` are getting propagated to the record.  When I look at [astropy's page on pypi](https://pypi.python.org/pypi/astropy/2.0) it shows more of the items, like recommended packages, required packages, etc. Ginga also has these, but they don't show up there.  Maybe I should move those back to `setup.py` as well.

As an add

[2017-08-01 20:51] ejeschke commented on #539
I see now from looking at astropy's `setup.py` that the "requires" and "provides" are separate from the `setup_requires` and `install_requires`.  I should add the running requirements as "requires".

[2017-08-01 21:07] #539 closed

[2017-08-01 21:09] pllim commented on #539
Strictly speaking, `setup.cfg` is not really required but just make updating metadata cleaner.

Also, any issues with `setup.cfg` should theoretically go to https://github.com/astropy/package-template but it has been overhauled to use "cookiecutter", so maybe not relevant to them now.

[2017-08-01 21:39] ejeschke commented on #539
Hmm, I'd be in favor of removing it then.  I thought the simple `setup.py` was easier to understand.

[2017-08-01 22:04] bsipocz commented on #539
@pllim - Yes, please do update the template ``setup.cfg`` whenever you think it's useful. The only trick is that the default branch now is the ``cookiecutter`` one, and the the actual template lives in the
``{{ cookiecutter.package_name }}`` subdir.

[2017-08-02 19:43] pllim opened #540 "Clean up setup.cfg"
See https://github.com/ejeschke/ginga/issues/539#issuecomment-319491662

[2017-08-08 15:31] pllim opened #542 "Undefined variables in Task.py"
In `WorkerThread` class in `Task.py`:
[code]

[2017-08-08 17:27] pllim opened #543 "Undefined decoded_data, file, socketError in IIS_DataListener.py"
In the method below:
[code]
and also
[code]

For `file()`, see https://stackoverflow.com/questions/112970/python-when-to-use-file-vs-open

[2017-08-08 18:19] pllim opened #544 "unichr in IRAF.py not Python 3 compatible"
In `IRAF.py`, the `IRAF_AstroImage.info_xy()` method uses `unichr(...)` function that is not Python 3 compatible.

See https://stackoverflow.com/questions/2352018/cant-use-unichr-in-python-3-1

[2017-08-08 19:06] pllim opened #545 "cursession undefined in ImageViewBokeh.py"
In the `ImageViewBokeh2.update_image()` method, there is `cursession().store_objects(d_src)`, where `cursession` is not defined anywhere. Is this Bokeh magic or some oversight?

[2017-08-08 19:26] ejeschke commented on #544
I'm thinking about "decommissioning" the IRAF plugin by removing it from the default globals and maybe just dropping it into the "experimental" folder. When I wrote it I thought that maybe it might be useful for folks that are stuck on IRAF.  But my guess now is that most Ginga users do not want to use IRAF and, if they do, they are probably happy enough with the IRAF/ds9 combination.

That's not

[2017-08-08 19:34] ejeschke commented on #542
Fixed in aef1e3817efaec00b52733b713cffc2862111a6e.

I think this error probably never showed up because the sentinal `ev_quit` is used to stop the thread pool and this is noticed after the queue wait timeout.

[2017-08-08 19:37] ejeschke commented on #543
Grepping the code, it doesn't look like `decode_iis()` is used anywhere either in `IIS_DataListener` or `IRAF.py`.  It can probably be removed.

[2017-08-08 19:44] pllim commented on #544
James Turner recently ported IRAF to Python 3, so for now, I agree that this plugin should at least also work on Python 3 until decommissioning. 😄

[2017-08-08 19:47] pllim commented on #542
Thanks for the quick fix!

[2017-08-08 19:47] #542 closed

[2017-08-08 19:49] pllim commented on #543
What about `socketError`?

[2017-08-08 20:12] pllim commented on #464
Note: I'll come back to this after #499 and #546 to avoid merge conflicts.

[2017-08-08 20:35] pllim commented on #532
I am torn between my original suggestion above and simply re-using `select_path()` like this:
[code]
`state` might not be the best name either, so suggestions welcome. @ejeschke , do you have a preference between the two possible implementations?

[2017-08-08 21:04] ejeschke commented on #543
I think it could be changed to `ValueError`.  It's not actually a socket error anyway.

[2017-08-08 21:07] ejeschke commented on #532
Hmm, in the case of multiple selections, this would actually just deselect the one row out of many?

[2017-08-08 21:08] ejeschke commented on #532
I ask because there is `clear_selection()` to clear the selection completely, it looks like.

[2017-08-08 21:12] ejeschke commented on #532
I think between the two that you show, I'd prefer reusing `select_path`.  The reason is that it makes the code simpler in cases where you want to calculate selections--you don't end up having to write conditional branches or use first-class functions to choose a different method.  Instead it just changes the `state` kwarg, which seems more readable to me.

[2017-08-08 21:15] pllim commented on #532
Yes. I have many rows selected but then I want to only de-select one of them. I use this feature in `MosaicAuto` plugin in `stginga`.

[2017-08-09 00:27] ejeschke commented on #545
bokeh is not yet a fully supported back end, mostly because I haven't figured out a way yet to connect the event bindings.  `ImageViewBokeh2` class was one possible implementation of the `ImageViewBokeh` class, so it is in there for reference, but not used.  And probably the `cursession()` is from that.  That is some API call from the Bokeh library.

[2017-08-09 13:34] pllim commented on #545
Maybe it should be commented? Having a broken "live" code can cause some confusing traceback if someone tried to use this class. Just a thought.

[2017-08-10 03:42] ejeschke commented on #544
Fixed in commit b642336bbebf475bb17d574979953262b3440ed4

[2017-08-10 13:26] pllim commented on #544
Thanks!

[2017-08-10 13:26] #544 closed

[2017-08-10 21:17] #532 closed

[2017-08-17 02:47] #107 closed

[2017-08-17 03:04] #531 closed

[2017-08-17 03:04] #543 closed

[2017-08-17 03:12] #540 closed

[2017-08-17 21:02] pllim commented on #464
FYI: I'm looking into an alternate implementation that does not require so much Sphinx-fu.

[2017-08-28 18:09] pllim opened #549 "Auto-levels fail when NaN is in data"
For image with NaNs in the data (e.g., use data file given in astropy/astropy#6485), auto-levels fail with the following traceback and defaults to `(0, 0)`. The correct behavior should be to grab only valid data (e.g., using `np.isfinite()`) and calculate from that (EDIT: Although `nanmax` and `nanmin` should have caught that, so not sure why they don't seem to work properly here).

[code]

[2017-08-28 18:15] pllim commented on #549
Update: I think this has something to do with how Ginga is "slicing" the data. `nanmin` and `nanmax` seem to work fine by themselves:
[code]

[2017-08-28 18:23] pllim commented on #549
I am stumped. I manually ran the logic block that deals with NaN in `Histogram.calc_histogram()` in `AutoCuts.py` using the `dat` I read in from above and I could not reproduce the error from Ginga.

[2017-08-28 19:39] ejeschke commented on #549
@pllim, I've run into these issues before and dealt with them in each kind of auto cut in `AutoCuts`.  I take it you are using the "histogram" method?

[2017-08-28 19:40] ejeschke commented on #549
Do you get the same problem using other methods like "zscale", "stddev" or "minmax"?

[2017-08-28 19:42] ejeschke commented on #549
This might be significant: "RuntimeWarning: All-NaN axis encountered".  Is there really an axis that has all NaNs?

[2017-08-28 19:43] ejeschke commented on #549
If there is a slice that is all NaNs, I'm not sure how it could calculate cuts--to ignore them all is to have nothing.

[2017-08-28 20:01] pllim commented on #549
That's the weird thing. It is a 4-D data but not really a cube because two of the dimensions have size 1. Like I mentioned above, I couldn't find out why I even see that error when I ran the suspected logic block manually with the same data.

Perhaps you can download the data and see if you can re-produce it on your end?

[2017-08-28 21:02] ejeschke commented on #549
@pllim, if you open `Preferences` and set the auto cuts method to "histogram" or "stddev" with this image you will see the `usecrop` option.  Turn this to `False` and the images will display correctly.

The issue is that these two methods have an optimization to prevent long calculation times by using a crop of the image by default.  I think with this particular image there are too many NaNs in th

[2017-08-28 21:34] ejeschke commented on #549
@pllim, I believe this is fixed in commit ac89ad3bee9d1bee614e228f9ee3d9b89287f528.  Can you test it?  Tnx.

[2017-08-29 15:07] pllim commented on #549
Much better now. Thanks!

[2017-08-29 15:07] #549 closed

[2017-09-14 18:06] pllim opened #552 "Remove empty plugins directories"
In the past, the plugins were toolkit-specific, but they have since all been migrated to a common UI. Therefore, now there are 3 empty plugin directories, which we should probably remove:

[code]

[2017-09-15 14:31] pllim opened #553 "Remove/replace deprecated matplotlib colormaps?"
As part of testing #548, I see these `MatplotlibDeprecationWarning`s. Please advise on how to get rid of them:
[code]

[2017-09-18 18:38] ejeschke commented on #553
That's a good question.  I imagine some matplotlib users may be getting similar warnings, depending on what they are importing.  I think this comes from iterating over the names of the color maps [here](https://github.com/ejeschke/ginga/blob/master/ginga/cmap.py#L13313).  If there is a way to get all the colormap names from matplotlib that does not include these we could change the code to use tha

[2017-09-19 20:44] ejeschke commented on #553
@pllim: I've commented out the default import of matplotlib colormaps until we can figure out how to iterate over only the ones that are not flagged for deprecation.  This should squelch the warnings in the mean time.

[2017-09-23 15:17] pllim opened #554 "astropy dev and Python 2 support"
Astropy dev has dropped Python 2 support as of astropy/astropy#6556 . CI setup here will need to be updated to avoid chronic failure. What is Ginga's plan going forward?

1. Drop Python 2 support as well.
2. Python 2 version will be in a separate branch with `astropy<3` pinned in `setup.py`.

[2017-09-26 20:19] ejeschke commented on #554
I don't think it is reasonable to drop Python 2 support for Ginga at this time.  At our telescope we are still transitioning to python 3 and I think we're even more aggressive on that schedule than some other Ginga users.  Also, although some features in the reference viewer plugins depend on astropy, the basic widget does not (and should not) depend on astropy.

If possible it would also be good

[2017-09-26 20:30] astrofrog opened #555 "Astropy Affiliated Package Review"
This package has been reviewed by the Astropy coordination committee for inclusion in the Astropy affiliated package ecosystem.

We have adopted a review process for affiliated package that includes assigning quantitative ‘scores’ (red/orange/green) for different categories of review. You can read up more about this process [here](https://docs.google.com/document/d/15PJf2PROXMa7xwTDvWnjXB_9KNuO2Ia

[2017-09-26 20:50] pllim commented on #554
Yes, that sounds reasonable.

[2017-09-27 17:18] pllim opened #556 "Feature Request: Add option to have MultiDim sort extensions by name"
This is a feature request by @jdavies-st . Currently, the drop-down menu sort extensions by number. I think it will be easy to add an user configurable item in `plugin_MultiDim.cfg` to enable this.

[2017-09-27 17:24] pllim opened #557 "Feature Request: MultiDim to auto start if multi-extension FITS is loaded"
As requested by @jdavies-st -- If user loads a multi-extension FITS file, the loader can automatically starts `MultiDim` local plugin.

p.s. An easier alternative is just to have `MultiDim` set to always start when a channel is started.

[2017-09-28 16:56] pllim opened #559 "Feature Request: Provide options to only auto-load certain extensions from multi-extension FITS"
Requested by @jdavies-st . For example, perhaps one of the following (but not limited to these):

1. `ginga myfile.fits[SCI,*]`
2. Recognize `myfile.fits[SCI,*]` syntax in `FBrowser` plugin

Maybe @ejeschke knows of some tricks to do this, but right now such a thing *might* only be possible by coding up some pre-processor in `~/.ginga/ginga_config.py`.

[2017-10-03 07:43] #317 closed

[2017-10-03 07:43] #554 closed

[2017-10-04 20:55] pllim commented on #557
Note: There is currently already an option to auto-start when NAXIS >= 3. Therefore, shouldn't be hard to extend this functionality for when NEXTEND > 1?

[2017-10-06 20:15] pllim opened #560 "Incorporate astropy.visualization in Ginga's image scaling"
Partly address #555

[2017-10-06 20:17] pllim commented on #555
This is fine by me. @ejeschke , if you are okay with this review, you may close the issue. Thanks.

[2017-10-07 01:15] ejeschke commented on #555
I've been swamped, but I'll take a quick review of this next week and we'll close it then.

[2017-10-07 01:22] ejeschke commented on #560
I'm not sure that I am ready to do that.  I'd prefer that the core widget does not depend on `astropy`. It's a general toolkit for scientific visualization and there is no particular need for that part to depend on astropy.  I'm totally fine with ginga using astropy for astronomy plugins or other parts of ginga that will be used for astronomy.

I believe the glue viewer does not even use the astro

[2017-10-08 00:14] pllim commented on #560
Re: Glue -- Hmm, good point considering its integration is "green" over at glue-viz/glue#1407 . @astrofrog and @eteq , could you please clarify?

[2017-10-08 00:15] pllim commented on #560
FWIW `astropy.visualization` comes "free" as `astropy` is a required dependency, so it is always there anyway.

[2017-10-09 14:44] StuartLittlefair opened #561 "Drawing compound objects not backwards compatible between 2.6.5 and 2.6.4?"
I have some code which works in 2.6.4 which is raising an error in 2.6.5.

I have a ```CompoundObject``` called ```obj```, which is created from a list, ```l``` of ```Polygons``` and ```Paths``` as so:

[code]

I am attempting to display this object inside a ```tkw.ImageViewTk.ImageViewCanvas``` called ```fi``` using:

[code]

which now (2.6.5) produces the following exception:

[code]

Any advice

[2017-10-09 14:48] pllim commented on #561
What exactly were these objects; i.e., what are in `l`? Were they drawn in WCS space? There were some changes to how WCS coords were passed, but without more info, I can't recall.

[2017-10-09 14:55] StuartLittlefair commented on #561
Thanks for the quick response - I wasn't sure what kind of info to include in the issue.

The objects are mostly classes inherited from ```Polygon``` defined in pixel-space (the class is included below). There are also two ```Path```s. Defined as

[code]

I'm guessing it's the definition of ```points``` above as a generator that's causing problems?

Here's the class I derive from ```Polygon``` in

[2017-10-09 14:58] StuartLittlefair commented on #561
@pllim yes - its the definition of ```points``` above. Changing to:

[code]

works in both. I'll leave it to you guys to decide if this is a bug or a feature ;)

[2017-10-09 15:18] pllim commented on #561
Just for the record, which WCS system are you using?

[2017-10-09 15:29] StuartLittlefair commented on #561
The simple built-in one ```from ginga.util import catalog, dp, wcs```

[2017-10-09 15:35] pllim commented on #561
What do you see when you do this?
[code]

[2017-10-09 16:12] StuartLittlefair commented on #561
[code]

[2017-10-09 17:43] astrofrog commented on #560
Using astropy-helpers is not a requirement for affiliated packages. Glue does use astropy.visualization for the image viewer: https://github.com/glue-viz/glue/blob/master/glue/viewers/image/composite_array.py#L9

[2017-10-09 18:20] pllim commented on #561
Thank you for all the information. I'll let @ejeschke confirm whether it is a bug or feature in case it is related to #516.

[2017-10-09 19:19] ejeschke commented on #561
@StuartLittlefair, @pllim, glad you could zero in on the issue so quickly.  Indeed, the representation of points changed in that point release.  It sounds like we just need a coercion in one or more constructors to force the generator to an array (or list).

BTW, great to hear that someone is using the Tk back end!  Legacy interface project?

[2017-10-09 19:35] StuartLittlefair commented on #561
Yes - a finding chart tool for an instrument whose GUI is in tkinter.

This way I can reuse the modules from the instrument gui for window setup and S/N calcs.

[2017-10-10 01:26] ejeschke commented on #561
So it boils down to this:
[code]
blows up with the exception.  We can correct it like so:
[code]
but I'm not sure that is the most efficient way to do that.  Sort of surprised, really, that `np.asarray` can't handle a generator sequence.

[2017-10-10 01:32] ejeschke commented on #561
Useful answer (here)[https://stackoverflow.com/questions/367565/how-do-i-build-a-numpy-array-from-a-generator] which basically says that numpy can't know how many elements a generator will make, so it is considered a feature and not a bug insofar as numpy is concerned.  Which maybe should be the case for us as well...

[2017-10-10 01:36] ejeschke commented on #561
I suppose we could do something like
[code]
this handles the case for other things that may not be directly convertible to arrays without a length.

[2017-10-10 03:34] ejeschke commented on #561
The more I dig into this, trying to convert the generator iterables at the right spots, the more I realize why probably `numpy` just decided to pass on this.  I think for now we will simply say that points passed to graphics objects need to be finite non-generator sequences.

Relabeling as not a bug and closing.

[2017-10-10 03:34] #561 closed

[2017-10-10 20:27] ejeschke commented on #555
Closing.  I agree with the test coverage part.  We need more tests, and with that the code coverage will be increased.  There are multiple back ends, and there are the usual issues with unit testing a GUI, but perhaps some of the more important tests might be handled by rendering to png images, since much of the rendering is toolkit agnostic.

Regarding the astropy integration, I think it is alrea

[2017-10-10 20:27] #555 closed

[2017-10-11 19:40] pllim opened #563 "Remove "allowed failure" status on PEP8 test on Travis"
Currently there are about 2700 warnings from `flake8` check on Travis CI. They are simple to fix, despite tedious. Once they are fixed, we can remove the "allowed failure" status of PEP8 check in `.travis.yml`. To make review less painful, this can even be broken into multiple small PRs, addressing one sub-section at a time.

To avoid conflict, this should wait until #548 is merged.

[2017-10-11 19:45] ejeschke commented on #563
How does `flake8` handle things that can't be converted, like camel-case APIs to Qt?

[2017-10-11 19:47] pllim commented on #563
In that case, a `# noqa` comment at the end of that line of code might work. Either that, or you disable that kind of check entirely by white-listing it inside `setup.cfg`.

[2017-10-11 20:48] ejeschke commented on #563
I think that would be a tremendous amount of annotation, and seeing all the comments are probably more annoying than just seeing the camel-case.  Probably better to use a white listing, IMO.

[2017-10-11 20:57] pllim commented on #563
Either white-list the camel-case error/warning code or address #62 .

[2017-10-12 22:08] #464 closed

[2017-10-17 15:43] pllim opened #587 "Move Apache license from heaptimer.py into licenses directory?"
I noticed the license while working on #583.

[2017-10-17 20:07] ejeschke opened #590 "Support ds9 region files via pyregion"
It would be interesting to consider being able to load ds9 region files and plot them via the [pyregion package](http://pyregion.readthedocs.io/en/latest/index.html).

As far as I can tell this would be relatively straightforward, as I think ginga supports most of the ds9 region types.

[2017-10-17 20:11] ejeschke commented on #587
I agree.  The only issue is that it moves the license away from the code, so you lose the contextual information about where exactly in the code this license applies.  That information can be useful to people wanting to use the code.

[2017-10-17 20:18] pllim commented on #587
Why not have it in both places? (I'll adjust the title...)

[2017-10-18 15:33] hcferguson opened #591 "Cursor readback of flux in user-specified units"
JWST calibrated data will have flux units will be MJy/steradian. It would be nice to provide a way for users to specify the flux units they would like in their cursor read back. I imagine this would be through the Preferences plugin.

[2017-10-18 15:35] pllim commented on #591
Is the unit provided in image header (e.g., `BUNIT`)? Does unit name conform to FITS standard or readable by `astropy.units`? Answers will determine implementation details.

[2017-10-18 15:40] hcferguson commented on #591
I think/hope so for JWST (but I don't know for sure). My thinking here is that if the units are provided in a FITS-conformant way, then Astropy unit conversions can do most of the simple things. For more complex things, one could provide an example in the documentation of how to build a plugin.

[2017-10-18 20:11] pllim commented on #591
I wonder if we can or should piggy back this feature on top of `PixTable` plugin.

But before we decide where, we need to decide how. I can see things getting complicated when you need some external info for unit conversion. For example, VEGAMAG would need you to provide a spectrum of Vega, and "counts" would need you to provide telescope area. Even just using `astropy.units.equivalencies.spectral

[2017-10-18 20:25] pllim opened #593 "Build installed doc on user side for WBrowser"
A step beyond #336 , as stated in https://github.com/ejeschke/ginga/pull/548#issuecomment-337709408:

*I think installing the docs with the package is the best long term way to insure that a) the correct documentation matching the software is used, and b) that the images are available for offline mode.*

[2017-10-18 21:01] pllim opened #594 "Prev/Next Channel gives traceback when encountering workspace"
Workflow to reproduce this (either in Ginga 2.6.5 or dev):

1. Start Ginga.
2. Create a workspace.
3. Press left or right arrow to cycle between channels. The workspace would still be in focus but I see the following traceback on the terminal.

[code]

[2017-10-19 15:41] pllim commented on #299
Done.

[2017-10-19 15:41] #299 closed

[2017-10-19 17:23] pllim opened #595 "Add "save_layout" option to Customizing Ginga doc"
As reported by @nluetzge , https://ginga.readthedocs.io/en/latest/manual/customizing.html#ch-customization does not document an easier way to customize Ginga window size and position using `save_layout` option in `~/.ginga/general.cfg`. As a result, user would attempt to use a more complicated way, which might not be necessary.

The `save_layout` option was added in 2d1085dc7b2b17f4

[2017-10-19 17:47] pllim opened #596 "Feature Request: Save/load Ginga shape as non-FITS image"
As requested by @nluetzge:

Currently, Ginga's `Drawings` plugin can save out drawings as FITS image (2D array that can be used as a mask). However, it would be advantageous storage-wise to also let user save the drawings out in a non-image format (e.g., #590 but other non-DS9 formats are also acceptable). Ginga then should also be able to read this format back in.

[2017-10-19 20:18] nluetzge opened #598 "Editing drawings in simple fitsviewer example (example2_mpl.py)"
Hi! I was using the example2_mpl.py file to use Ginga in my own code. What I'm trying to do is to draw something ontop of fits image. And then move this drawing around (either with the cursor or with extra buttons to move them up and down and left and right). I have no idea if thats possible. I tried with creating a button that changed the `canvas.objects.x` coordinates but that doesn't seem to do

[2017-10-19 21:23] ejeschke commented on #598
Hi @nluetzge.  If you have a handle to the object itself, you can change it's attributes like `x` and `y` and then just call a `canvas.update_canvas()` to have the change updated.

If you check out the latest version from github, I updated both the `qt/example2_qt.py` and the `matplotlib/example2_mpl.py` files to show editing objects.  After drawing an object, select the "edit" button to put the c

[2017-10-19 21:34] nluetzge commented on #598
Aaah yes was looking for the `update_canvas()` that was exactly what I needed it works now thank you. And thanks for the backend tip, I never really know what I'm using for this.

[2017-10-19 21:47] ejeschke commented on #598
Glad to hear, @nluetzge.  If you have any more questions you can add them to this issue, otherwise feel free to close it when you are ready.

[2017-10-19 21:50] #598 closed

[2017-10-24 17:31] pllim opened #599 "Feature Request: Add Default button in Color Map Picker"
When I use "Color Map Picker" and I choose several different options, then I want to go back to the software default (the one I started with) but I don't remember which one. Was it `gray`, `gray_r`, or `ramp`? Would be nice to have a "Default" button for that.

[2017-10-24 17:43] pllim opened #600 "Overlay and TVMask highlights do not clear on close"
When I close the `Overlay` plugin, the highlighted regions do not disappear. Is this a bug or feature? Same thing with `TVMask`.

[2017-10-24 17:58] pllim opened #601 "Update TVMark and TVMask to use new-style drawing"
Like spacetelescope/stginga#132 but for `TVMark` and `TVMask` plugins that I moved over. This is so that user can draw selection box with left mouse button.

[2017-10-24 18:31] pllim opened #602 "MultiDim unexpectedly inserts entries into ChangeHistory"
Workflow to reproduce the problem:

1. Start `MultiDim` local plugin.
2. Start `ChangeHistory` global plugin.
3. Load a data cube.
4. With `ChangeHistory` ("History" tab) in view, click on "next slice" (double-arrow) button on `MultiDim` and watch a new entry magically appears on `ChangeHistory` for that image.
5. Click on "next slice" again or "prev slice" to see another such entry.

Example scre

[2017-10-24 18:48] ejeschke commented on #600
Is it possible that that plugin is not removing the canvas that it added on `stop()`?  The highlighted regions *should* disappear.

[2017-10-24 18:50] ejeschke commented on #600
Try zooming the image after closing.  Do the highlighted areas disappear?  If so, we may just be missing a `canvas.redraw(whence=0)` on `stop()`.

[2017-10-24 19:19] pllim opened #603 "Compose instructions can be improved"
I tried to follow instructions at http://ginga.readthedocs.io/en/latest/manual/plugins_local/compose.html but I couldn't create a RGB successfully. I clicked "New Image", then I dragged a 2D FITS image file from `FBrowser` to main display, and the image opened like a regular image. Then I clicked "Insert Layer" and I see a slider for "Red" and a bunch of traceback messages on the terminal. And I c

[2017-10-24 19:21] pllim commented on #600
Ah, yes. Zooming in/out cleared the highlights. Thanks!

[2017-10-24 19:48] ejeschke commented on #600
`self.canvas.update_canvas(whence=0)` may also do the job.

[2017-10-24 20:22] pllim opened #604 "Pressing Clear in Log shrinks text area too much"
Workflow to reproduce this:

1. Start `Log` global plugin.
2. Do something with warnings or errors, so `Log` text area gets populated.
3. Press "Clear" button.

Now, the text area is very small. As a result, the next time you get warnings/errors, they are very hard to read. The workaround for now is to close the `Log` plugin and restart it.

[2017-10-24 20:46] ejeschke commented on #603
There is a bug in the RGB compose in addition to the poor documentation. I can reproduce this bug. And the fix is simple.  I'll submit a fix, probably after merging #589

BTW, for an RGB compose, the instructions should be:
- select RGB as the compose type
- press New Image
- drag three monochrome images, in the order of R, G and B components, into the window.
- adjust sliders as desired to get th

[2017-10-24 21:06] ejeschke commented on #603
So, "Insert Layer" is used when you already have the R, G, B images loaded into Ginga and you want to use those instead of dragging and dropping.  You force the viewer to show the file you want to insert (using, say, `Thumbs`) and then press "Insert Layer".  So the workflow would go:
- select RGB as the compose type
- press New Image
- use e.g. Thumbs to select the red image
- press "Insert Layer"

[2017-10-25 17:49] #563 closed

[2017-10-25 17:58] ejeschke commented on #603
The bug should be fixed in commit 05f753ba86bfdc6a9fcee65dd2c238a254ac078c.

I will leave this issue open until the documentation can be improved.

[2017-10-25 20:00] pllim opened #606 "TST: Use Travis CI build stages?"
Are you interested in this new Travis CI feature? See https://docs.travis-ci.com/user/build-stages/ for info and see https://travis-ci.org/astropy/astropy for the feature as used by `astropy`.

The motivation to use this is when you don't want bother with running the rest of the builds if some important ones fail. However, this also adds to total testing time, because subsequent stages are not sta

[2017-10-28 03:27] #600 closed

[2017-10-28 03:27] #601 closed

[2017-10-31 00:32] pllim commented on #606
@ejeschke , are you interested to make PEP 8 test the "first stage"? That is, if code does not satisfies our PEP 8 test, other tests will not attempt to run.

[2017-10-31 01:26] ejeschke commented on #606
@pllim, I haven't yet had time to take at look at this.  Will do so soon.

[2017-10-31 01:53] adrn opened #608 "Citable record?"
We're planning to reference and cite all Astropy affiliated packages in the upcoming Astropy v2.0 paper. I couldn't find a citable record for this package - are you interested in creating one so that we can cite it? For example, you can create a [zenodo](zenodo.org) record and just comment back here to let me know that it's done. Please also let me know if you'd like to opt out of a citation and w

[2017-10-31 02:08] ejeschke commented on #608
There are a few citations [here](https://github.com/ejeschke/ginga/blob/master/doc/ginga_papers.bib).

I'll take a look that the zenodo link and reply back here.

[2017-10-31 02:09] ejeschke commented on #608
Hmm, the zenodo link above is broken.

[2017-10-31 02:18] ejeschke commented on #608
Ok, enabled Zenodo integration with github and enabled for `ginga`.  I'm not sure it will grab the latest release but we are making a new release in the next couple of days and it should pick it up.

@adrn, if you need it ASAP, can you suggest how to tell Zenodo to pick the most recent release?

[2017-10-31 12:37] adrn commented on #608
By end of week is fine - thanks!

[2017-10-31 19:55] ejeschke commented on #606
Ok, I've had a look at the new travis feature.

I'm wondering if there is any really good rationale in ginga's case for serializing the CI.  Per your example, if a commit fails the PEP8 test, it doesn't really matter whether that came first, last or in parallel--it will show up as a failed build.  Probably better to just do it in parallel.

Also, Travis is showing 38 min 45 sec for the last run wi

[2017-10-31 20:02] #553 closed

[2017-10-31 20:04] pllim commented on #606
Perhaps not so much currently. Do you just want to close this and revisit when there are more complicated GUI driven tests?

[2017-10-31 20:16] ejeschke commented on #606
Yes, if you are ok :ok_hand:  with that.

[2017-10-31 20:39] pllim commented on #606
OK

[2017-10-31 20:39] #606 closed

[2017-11-01 19:09] pllim opened #611 "Second table won't display when loading two FITS tables from command line"
To reproduce this bug, use command line to start Ginga: `ginga --loglevel=30 --stderr table1.fits table2.fits`

Now, you will see the filenames listed in `Thumbs` and `Contents`. However, when you bring the second table into focus, the displayed table in "Image" does not change.

In contrast, when the tables are manually loaded using "File -> Load Image" menu, there is no problem switching between

[2017-11-01 19:16] ejeschke commented on #611
Does it make a difference if you use Thumbs or Contents to select the next table?

[2017-11-01 19:20] pllim commented on #611
Not that I can see. I tried single-click on thumbnail and (separately) double-click on `Contents` listing.

[2017-11-01 21:03] pllim commented on #611
My hunch is that something went awry in the `datasrc` caching. If you don't get to it first, I'll investigate tomorrow.

[2017-11-02 03:18] ejeschke commented on #603
@pllim, let me know what you think of the [updated instructions](http://ginga.readthedocs.io/en/latest/manual/plugins_local/compose.html).

Note that the "Save as" functionality is not working for "alpha" type compose images--need to debug why, but will leave this issue open until everything is working as documented.

[2017-11-02 19:37] ejeschke commented on #497
Merged in support in #562. Closing.

[2017-11-02 19:37] #497 closed

[2017-11-02 19:40] ejeschke commented on #62
This is solved by @pllim's recent PRs to PEP8-ize the rest of the legacy code base and the addition of a `flake8` check to Travis.

[2017-11-02 19:40] #62 closed

[2017-11-03 00:31] ejeschke commented on #608
@adrn, [![DOI](https://zenodo.org/badge/4758330.svg)](https://zenodo.org/badge/latestdoi/4758330)

[2017-11-03 14:28] pllim commented on #62
Not exactly... #589 did not address camel-case at all because `flake8` is not complaining about it.

[2017-11-03 16:35] pllim commented on #603
In RGB section, "Drag your three constituent image" is still confusing to me; i.e., drag them from where to where? When I open `FBrowser`, it seems impossible to drag anything from `FBrowser` to `Compose` preview (assuming that is what I am supposed to do).

As a result, I tried "Insert from Channel", assume it inserts the currently active image in the currently active channel. The preview looked

[2017-11-03 16:44] pllim opened #612 "Should Compose take advantage of Lupton RGB?"
http://docs.astropy.org/en/stable/visualization/lupton_rgb.html comes "free" with `astropy` package, which is already a dependency of Ginga.

It is based on this paper: http://adsabs.harvard.edu/abs/2004PASP..116..133L

[2017-11-03 18:21] ejeschke commented on #62
Re-reading the original issue more closely, I see that the main complaint is that the modules within ginga often use camelcase; i.e. `AstroImage` for the module and `AstroImage` again for the class within that module.  It's true that this has not changed.  And it would break a very large amount of developers code to make that change at this point.  Perhaps for Ginga 3.0.