[2020-11-23 16:32] #909 closed

[2020-12-02 19:27] Alex-J-Brown opened #911 "Problems with update_widget method in ImageViewTk"
Not having PIL.ImageTK seems to cause an error in the update_widget method of ImageViewTk. I think it's due to line 121 missing the 'renderer' from 'self.renderer.get_surface_as_rgb_format_bytes(...)' but I could be wrong.

[2020-12-02 20:14] ejeschke commented on #911
@Alex-J-Brown, the Tk version of the widget does require `PIL.ImageTk`.  It should possibly throw a better error message if it is not available.

[2020-12-02 20:15] ejeschke commented on #911
More specifically, it requires `PhotoImage` from that package.

[2020-12-02 20:18] Alex-J-Brown commented on #911
Sorry I thought it used PhotoImage imported straight from tkinter when PIL.ImageTK is not installed

[2020-12-02 20:22] ejeschke commented on #911
It does try to do that.  Has that import path changed?

[2020-12-02 20:23] ejeschke commented on #911
Seems to work for me with Python 3.7:
[code]

[2020-12-02 20:24] ejeschke commented on #911
Are you getting the error running one of the examples in `ginga/examples/tk` ?

[2020-12-02 20:28] ejeschke commented on #911
I see what you are referring to on line 121 of `ImageViewTk` and I think you are right, it should be `self.renderer.get_surface_as_rgb_format_bytes`.

Thanks for catching that!

[2020-12-02 20:29] Alex-J-Brown commented on #911
Ah ok great, no worries!

[2020-12-02 20:31] ejeschke commented on #911
Does changing that line to `self.renderer.get_surface_as_rgb_format_bytes` fix the problem for you?

[2020-12-02 20:35] Alex-J-Brown commented on #911
When I had the issue I just solved it by installing PIL.ImageTK, but it was pointed out to me that I should raise it as an issue anyway. Unfortunately I wouldn't know how to test it now I've bypassed the issue.

[2020-12-02 20:37] #911 closed

[2020-12-02 20:38] ejeschke commented on #911
Indeed, fix is in master.  Thanks for stopping by!

[2020-12-07 14:22] pllim opened #912 "TST: Basic security audit failed"
There are a few things that tripped the security audit job. Can you please advise, @ejeschke ? Is the path hardcoding on purpose?

https://github.com/ejeschke/ginga/runs/1508897912?check_suite_focus=true

[2020-12-07 17:17] jhennawi opened #913 "Failure setting cuts in grc mode, problem using wavelength plugin"
Hi All,

I have encountered a pretty pernicious bug in trying to set cuts in grc mode. I'm attaching the python file here required to reproduce the bug, as well as the test images. The reason I need to attach the code in this way and the relevant images is that this bug is not that easy to reproduce. The results appear to depend on how I pass in the desired cut levels, which may be a data type iss

[2020-12-07 20:09] ejeschke commented on #912
I've pushed up a commit that should address any issues of using /tmp directory in favor of Python `tempfile` module.

[2020-12-07 20:21] ejeschke commented on #913
Hi @jhennawi!

Let's take the problems one at a time. First, the cuts issue: what kind of error message or wrong behavior do you see with the cuts?

I'm now downloading your code and samples to test it out, but it would be good to have some idea of what you are seeing...

[2020-12-07 20:47] ejeschke commented on #913
I am seeing some kind of difficult loading the `waveimg`. Is that the same error you are getting?

[2020-12-07 21:08] ejeschke commented on #913
@jhennawi, the issue with passing cuts over the remote interface is due to the fact that `numpy` values do not have a default encoding in the marshalling of the RPC parameters over XML-RPC which is what `grc` is using to communicate with the main ginga `RC` plugin.  This is not an issue for numpy arrays, because they are encoded as buffers.

I was able to work around the first blocker by changing

[2020-12-07 21:14] ejeschke commented on #913
After making the following change, it works for me:
[code]
to
[code]
NOTE: the log parameters I added so I could debug the cuts issue by looking at the log file--they are not necessary.

[2020-12-07 21:17] ejeschke commented on #913
I think this may address both issues you are seeing. LMK if not.

[2020-12-07 21:17] pllim commented on #912
Looks good now. Thanks for the quick fix!

[2020-12-07 21:17] #912 closed

[2020-12-07 21:30] ejeschke commented on #912
:relieved:

[2020-12-08 02:45] jhennawi commented on #913
Dear Eric, many thanks for your prompt reply and help with debugging this. Great, yes I figured the cuts thing was a casting issue, but I actually could not find the source code for the cut levels method.

One piece of hopefully constructive criticism: this is in my opinion the thing that makes debugging ginga very unpleasant. In i.e. a notebook or IPython, if I type ch.(tab) I cannot figure out w

[2020-12-08 02:47] jhennawi commented on #913
Sorry about the bug in launching RC, that was a pretty serious oversight on our part!

[2020-12-08 07:25] ejeschke commented on #913
@jhennawi, I understand your frustration.  Sort of the same feeling I get trying to debug problems in javascript in a web browser from code running in Python.  You are removed a level or two away from the context in which it happens.  You are absolutely correct in that it has a lot to do with the proxies being only very loosely coupled to the Ginga execution environment. I hope that we can improve

[2020-12-15 20:44] ejeschke commented on #913
@jhennawi, can we close this issue?

[2020-12-15 21:39] jhennawi commented on #913
Yes thank you!!

On Tue, Dec 15, 2020 at 9:44 PM ejeschke <notifications@github.com> wrote:

--
------------------------------------------------
Joseph F. Hennawi
Professor
Department of Physics
Broida Hall, UC Santa Barbara
Santa Barbara, CA 93106-9530
Phone: 805-893-3503
Mobile: 805-450-8697
E-mail: joe@ <joe@physics.ucsb.edu>physics.ucsb.edu
http://web.physics.ucsb.edu/~joe/
enigma.physics.ucsb

[2020-12-15 23:30] #913 closed

[2020-12-19 00:52] ejeschke commented on #867
I'd like to merge #870 as well.

[2021-01-04 14:20] #885 closed

[2021-02-24 14:52] shanosborne opened #933 "Adding encircled and ensquared energy to Pick plugin"
Hi,

@obi-wan76 and I have been discussing a possible addition to Ginga’s Pick plugin that we’d find helpful. We’d like to add a calculation of the encircled energy fraction and ensquared energy fraction of the PSF that would get displayed on the Readout page and written out in the FITS table. We were thinking that the user could define the radius and box size at which to measure the encircled and

[2021-02-24 15:13] pllim commented on #933
If this is for STScI TEL work, there is already a [background subtraction plugin](https://stginga.readthedocs.io/en/latest/stginga/plugins_manual/backgroundsub.html) in `stginga` for background subtraction.

Your use case seems very specific, so I would recommend moving this request over to [stginga issues](https://github.com/spacetelescope/stginga/issues) and maybe we can see how to extend [SNRCa

[2021-02-24 15:15] pllim commented on #933
Also please provide the format of the table desired over at `stginga`.

I am closing this over here now and awaiting your issue on the other side.

[2021-02-24 15:51] obi-wan76 commented on #933
Hi @pllim!  We thought about expanding the SNRCalc plugin but what it seems more convenient is to get the EE as an additional parameter in the Pick plugin which already have lots of different properties of the PSF.  So, in a single table (Report) we can get everything that Pick provides + EEs, specially as we use the Pick functionality of moving and record Picks automatically. The only thing missi

[2021-02-24 15:56] pllim commented on #933
I am not sure about complicating the GUI with extra parameters to just calculate this one more element that is very specific to your use case. This calculation might not make sense to others, depending on the formula you are using.

We can also think about extending Pick over at `stginga`, just like how `MosaicAuto` over there extends `Mosaic` here.

[2021-02-24 16:02] obi-wan76 commented on #933
Ok, if you think it will complicate the Pick GUI we can think of a transfer to stginga, similar to Mosaic. However, the EE is a pretty standard metric of PSF characterization that is not specific to our case because a user can select their target radius/size. EEs is widely used when estimating aperture corrections or overall light profiles, therefore, we thought it could be a good addition to the

[2021-02-24 16:05] pllim commented on #933
Okay, I'll re-open here and see what @ejeschke think then. In the meantime, if you can provide more details like formulae, example use case, and desired FITS format, that would be great. Even better if you can mock up the desired UI (like screenshot what we have now and annotate where you want new things to be). Thanks!

[2021-02-24 23:16] ejeschke commented on #933
This seems like it would be good useful addition to Ginga's `Pick`, especially if it is generally useful for PSF analysis. My only concern is that we should consider the additional controls carefully, as it is already a fairly complex plugin.  Since the `Settings` tab consists of a scrollable box, it shouldn't add too much visual complexity to the overall plugin, I think.  Informative tool tips wi

[2021-02-26 14:48] pllim commented on #933
@shanosborne or @obi-wan76 , I am not sure how to proceed with this. You would need to help us refine the requirements. If this is time sensitive for TEL work, please contact me directly. Thanks!

[2021-02-26 15:12] shanosborne commented on #933
Here’s a few answers to both @pllim's and @ejeschke’s questions. @obi-wan76 will add more answers hopefully today.

The example use case would be very similar to that of a normal Pick plugin use case. The user would set the parameters, only now including the radius, box size, and background annulus size. Then they’d draw/move boxes to multiple PSFs, examining the readout and adding the picks to th

[2021-02-26 15:23] obi-wan76 commented on #933
For the EE(r) = Sum_r f(x,y)/ Sum f(x,y) where f(x,y) is the background corrected flux. The denominator is just the total flux, up to the size of the selection region around the PSF, and the numerator is the cumulative sum up to a radius r (specified by the user).  This radius is defined from the center of mass of the image (centroid) or from the max. pixel value which is required when calculating

[2021-03-01 21:36] pllim commented on #933
I still think background subtraction should be done separate in [BackgroundSub](https://stginga.readthedocs.io/en/stable/stginga/plugins_manual/backgroundsub.html) plugin. You can then measure this stuff in the background subtracted buffer that the plugin creates. That way, you get all the proper options for background subtraction without complicating `Pick`.

[2021-03-01 21:47] pllim commented on #933
p.s. The screenshots are super helpful. Thanks, @shanosborne ! And thanks for the additional info, @obi-wan76 !

[2021-03-01 21:52] pllim commented on #933
This is confusing to me. `r` is radius, which translates more to half-width of a box, so `r=3` would make a 6x6 box, no?

[2021-03-02 06:36] ejeschke commented on #933
That actually simplifies things somewhat--it just means that `iqcalc` is enhanced to do EE calculations for every candidate object, similar to the way it does all the other calculations.

[2021-03-03 16:47] pllim commented on #933
Re: Background subtraction -- So, it turns out that `IQCalc` already calculates its own "background" and "sky level," so we can use one of those for EE calc, but which one?

[2021-03-03 18:43] pllim commented on #933
Re: Encircled energy -- Unlike ensquared energy (which seems like a straight-forward sum of sliced array unless you want to cut through the center of the pixel), this seems like it needs `photutils`, which currently `iqcalc` isn't using. There is `iqcalc_astropy.py` that does uses it but I am not sure if that is the correct approach to only implement it for the latter.

Why do you need both encirc

[2021-03-03 22:32] pllim commented on #933
Let's discuss implementation details at #936 . I have some questions that need further clarifications there.

[2021-03-04 00:57] obi-wan76 commented on #933
Yes, I think it is important to have both as there may be subtle differences close to the core of the PSF because of pixel physical size, under/oversampled PSFs at different wavelengths etc. As for the implementation, I like the approach in Poppy for the measure_ee function https://github.com/mperrin/poppy/blob/master/poppy/utils.py
It is faster than using photutils. However, Ginga already has rad

[2021-03-04 02:06] pllim commented on #933
The radial profile is a simple cut across X and Y. It doesn't do aperture photometry. Maybe I'm misunderstanding something here.

[2021-03-04 02:44] obi-wan76 commented on #933
Oh Ok, I thought the radial profile was measure at a distance r in circular bin sizes, not a cut across the PSF. I wonder if we could improve that as well, i.e., a radial profile as it is in the link above, the radial_profile function.

[2021-03-04 04:31] ejeschke commented on #933
The radial profile is a fit to the data, moving away from the detected peak.

[2021-03-04 15:07] pllim commented on #933
Refactoring radial profile algorithm is out of scope of this request, but I'll look into the `poppy` code for EE calculations. Thanks!

[2021-03-27 04:27] #933 closed

[2021-04-03 01:19] ejeschke opened #940 "Pick: EE calculation fails if the object is too close to the corner of the pick region"
It seems that the ensquared energy calculation in `Pick` fails with the message:

    (plot_ee) | Error making EE plot: At least one EE function must be provided

if the object is close to the edge of the pick region.

Not sure yet, but I guess this is because the cutout for EE is being done from the cutout for the pick, instead of from the full image.

[2021-04-03 01:41] pllim commented on #940
Yes, I only use the cutout image. Wasn't sure if I need to pass the whole image around. I figured when someone wants to measure EE, they would click on the star they want to measure anyway. 🤷

[2021-04-03 01:47] ejeschke commented on #940
@pllim, I think this is a simple fix, as I did something similar for the fwhm, IIRC.  I will submit a simple PR for the fix.

[2021-04-03 01:48] pllim commented on #940
Sounds good to me. Thank you!

[2021-04-07 16:19] pllim opened #942 "Histogram: Slider to control cut levels"
Currently, the cut levels are set by manually typing in numbers into text boxes. I wonder if it would be more convenient if the limits can be set interactively. Given that `matplotlib` does not handle clicks well (unless you have a way to do that already via callbacks), maybe slider is our next best option. But interactive slider might be too sensitive limits that are too far apart but maybe not a

[2021-04-07 23:13] ejeschke commented on #942
@pllim, I believe clicking in the plot would be the best, but of course would not be very precise, due to the compact nature of the plot, where many Y values are combined into a single X position.

Have you tried the interactive cuts feature (mode "Cuts") ?  I wonder whether you could try it and see whether it meets your needs or could be improved.  Here's how to do it: press Space, then 's'.  Pre

[2021-04-07 23:50] ejeschke commented on #942
@pllim, BTW, I am not objecting to adding some more interactivity to the `Histogram` plugin...

[2021-04-08 18:15] pllim commented on #942
I did not try that before opening this issue but I did try it after you suggested above. I find it disconnected from the histogram and my mouse is set to be very sensitive, so that makes things more difficult as well.

I am not sure about this myself. Maybe keep this issue open for now and see if there is more demand?

[2021-04-10 02:28] ejeschke commented on #942
@pllim, @eteq , see #945.  Seems to work well enough and is somewhat intuitive, IMO.  LMK.

We probably need to add some kind of tool tip to indicate to the user what they can do with the mouse in the plot.  I did update the plugin documentation.

[2021-04-13 20:36] #942 closed

[2021-04-26 13:47] pllim opened #946 "TST: conda job pulling in old astropy"
Not sure why it is not using latest released version of astropy.

`astropy-3.2.3              |   py38h516909a_0         7.2 MB  conda-forge`

As a result, I am seeing failures that are already fixed.

[2021-04-26 14:51] mwcraig commented on #946
- First, the honest answer: I have no clue why it isn't pulling in the latest. I'd try pinning the version or putting in a minimum version and see if that is respected. My best guess is that will lead to a new error about package conflicts.

- It looks like you are not activating the conda environment which makes me wonder if that has something to do with it, but more broadly you may want to add t

[2021-04-26 15:28] pllim commented on #946
I think it is running in the `base` env. 😬

Thanks for the ideas!

[2021-04-26 15:36] mwcraig commented on #946
Maybe... at some point conda decided there was more to activating than just using the right `PATH`. I've never understood what that something more is, but in principle activating is more than just PATH.

My concern with the base environment is that there may be sort of pinning in there that ends up restricting the astropy version...

[2021-04-26 20:40] pllim commented on #946
@mwcraig , do you have objection with #947 ?

[2021-04-27 20:13] ejeschke opened #948 "Possible memory leak"
Ref: [this issue](https://github.com/pypeit/PypeIt/issues/1178)

Summary: Ginga reference viewer may have a memory leak.  The basic widget does not exhibit the leak.

* The Ginga reference viewer's memory limiting option, the `numImages` channel setting, does not seem to be limiting memory use as it used to.  When opening multiple files with one channel open and the `numImages` set to a small fixe

[2021-04-27 20:26] ejeschke commented on #948
Ginga release 2.7.2 behaves as expected.

[2021-04-27 20:30] pllim commented on #948
Might be able to `git bisect` since you know the last good commit and how to detect the leak. 💭

[2021-04-27 20:31] ejeschke commented on #948
It's a good plan.  I suspect either a plugin or some change in the renderer, so am starting by disabling most plugins and then slowly adding them back.

[2021-04-27 20:33] pllim commented on #948
What about I/O backend (like `astropy.io.fits` vs `cfitsio`)? I hope it wasn't my adding support for ASDF that caused this. 😱

[2021-04-28 00:10] ejeschke commented on #948
No, I tried both `fitsio` and `astropy` as FITS loaders, and the problem isn't there, I don't think.  But I think it _is_ related to changes I made to the load process in order to work in the ASDF loader, amongst other things.

Right now I'm testing by dragging and dropping files. The good news is that by a small change to route around the extra functions that were inserted, even the main branch s

[2021-04-28 02:08] ejeschke commented on #948
Hmmm..I'm beginning to wonder about whether or where there actually is a leak.  I employed `muppy` to check the memory usage.  Here's a set of outputs of the memory summary:
[code]
The loads were: 2 files, then 7 files, then 13 files, 13 files, 13 files, ...  until 112 4Kx8K (18MB) images were loaded. `numImages` was set to 2.

We can see that the number of `ndarray` objects keeps growing as expec

[2021-04-28 02:38] ejeschke commented on #948
Here's a `mprof` profile of loading the same 112 files:
![mprof-ginga](https://user-images.githubusercontent.com/1305473/116337853-812b2500-a776-11eb-8c16-87104ea2e72d.png)

The time is not meaningful because it is me manually dragging files to the window, which introduces some variation. The near-plateau can be seen for the last few loads.  The total value is much higher than reported by `muppy`,

[2021-04-28 13:33] pllim commented on #948
So, is this plateau value consistent with Ginga 2.7 performance?

Also, if I understood correctly, you said the thumbnails can bypass this limit. So theoretically, if a downstream package generates *a lot* of thumbnails, they could use up memory anyway? Also, does the memory consumption lessen if you disable `Thumbs` plugin?

[2021-04-28 13:46] pllim commented on #948
@ejeschke , please let me know if there is anything I can help with to smoke this one out. 🙏

[2021-04-28 19:46] ejeschke commented on #948
Here is a profile of the viewer widget loading the same 112 files:
![mprof_ginga_widget](https://user-images.githubusercontent.com/1305473/116462900-be8ac380-a805-11eb-8468-c995864010a3.png)

Judging by profiling the loading of those 112 files in `astropy.fits.io` (by itself) the loading takes about 160MB, even if each file is immediately discarded afterward.

[2021-04-28 19:53] pllim commented on #948
Interesting... So, RV version loads 3x more memory.

[2021-04-28 20:10] ejeschke commented on #948
Here is a test program just loading the 112 files using `astropy.io.fits`:
[code]
And here is the profile:
![mprof_astropy_io_fits](https://user-images.githubusercontent.com/1305473/116466177-dfedae80-a809-11eb-8c7b-15cfc2bf2654.png)

So there seems to be some memory that is not returned from loading FITS files, no matter what.

[2021-04-28 20:16] pllim commented on #948
Is it memory mapping? I think it is on by default.

[2021-04-28 20:16] ejeschke commented on #948
Judging from this, the basic viewer adds about 300MB "load".  This includes the Qt UI plus the optimizations Ginga does for rendering and display (will depend on the window size).

That could make sense, depending on the number of widgets used in various places.

[2021-04-28 20:17] ejeschke commented on #948
Does it do that even if you specify 'readonly'?  I'll try turning it off.

[2021-04-28 20:21] ejeschke commented on #948
Ok, here's the modified program:
[code]
Saves a little memory, but there is still some not returned:
![mprof_astropy_io_fits_memmap_false](https://user-images.githubusercontent.com/1305473/116467504-75d60900-a80b-11eb-9f4b-3826df27a509.png)

[2021-04-28 20:24] ejeschke commented on #948
Profiling the program where it doesn't load any images, but still iterates over the files, it looks like the resident size is about 67MB. So `astropy.io.fits`, in the case where `memmap=False` is returning the memory.

[2021-04-28 20:25] pllim commented on #948
Okay, it is good news that `memmap=False` frees memory as expected. `memmap=True` and problem with freeing memory is a known issue.

[2021-04-28 20:41] ejeschke commented on #948
Here's the profile with `Thumbs` disabled using `--disable-plugins=Thumbs`:

![mprof-ginga_thumbs_disabled](https://user-images.githubusercontent.com/1305473/116468666-dc0f5b80-a80c-11eb-90c5-7bbdc4e078a1.png)

Doesn't look like it saves much.  Each thumb is a compressed RGB image as an ndarray.  Now this run I only loaded 112 files, so probably not much extra is generated for those.  But we run G

[2021-04-28 20:45] ejeschke commented on #948
Based on this I am not convinced there is a memory leak in Ginga at all.  It is memory-hungry, no doubt. But I think that with the `memmap` behavior as discussed, it should reach a plateau-like state and then grow only minimally as thumbs are generated.

[2021-04-28 20:49] ejeschke commented on #948
@pllim, do you think we should make `memmap=False` the default?  I cannot tell from the various discussions what the best choice is.  It seems like for data cubes it would probably be best to leave it as the default (`None`, which would then default to `True` inside `astropy`, I guess).

[2021-04-28 20:51] pllim commented on #948
No, I don't think `memmap=False` is a good default, especially as astronomy is heading towards the big-data era. And it is less confusing if we follow `astropy` default. What we can do is write up some doc to advise people when they should use `memmap=True` or just default with Ginga... 💭

[2021-04-28 20:54] ejeschke commented on #948
So, then, is there a general idea for how much memory is not returned if `memmap` is enabled in `astropy.io.fits`?  I think using `fitsio` I basically saw a similar memory profile.

[2021-04-28 20:58] pllim commented on #948
As far as I understand, which isn't much, `memmap=True` should only give you the data you ask for, so the memory usage depends on the data you grab from the file. Once the memory is used, freeing it isn't as simple as simply closing the file pointer. But the benefit is it doesn't try to load the whole file on open.

[2021-04-28 21:04] ejeschke commented on #948
But is it the case that it has a slow memory leak? Just wondering if with the default setting we need to add a destructor to `io_fits` objects or something to make sure the memory is fully reclaimed when the image is unreferenced?

[2021-04-28 21:06] pllim commented on #948
The official recommendation is here: https://docs.astropy.org/en/latest/io/fits/index.html#working-with-large-files

[2021-04-28 21:34] ejeschke commented on #948
I just compared two profiles, one with `memmap=None` and one with `memmap=False`.  In the case of the latter, there is a significant increased memory usage compared to the default.  So we will leave it as is.

[2021-04-28 21:58] ejeschke commented on #948
I added destructors for `AstroImage` and `PyFitsFileHandler` and then also added a `gc.collect()` that runs after each set of drag drops.  `gc.collect()` tells you how many objects it recovered (that apparently were not reclaimed by reference counting).  Here's what it said when using the `astropy` loader:
[code]
And here's the profile:
![mprof-ginga_dest_gc_astropy](https://user-images.githubuser

[2021-04-28 22:03] pllim commented on #948
Wut... How can adding destructors add another 200 MB ? The bumps look dramatic, but plateau still comparable with https://github.com/ejeschke/ginga/issues/948#issuecomment-828097562 .

[2021-04-28 22:04] ejeschke commented on #948
If I leave out the `gc.collect()` between drops, this is what the `astropy` loader one looks like:
![mprof-ginga_dest_astropy](https://user-images.githubusercontent.com/1305473/116478258-81303100-a819-11eb-8060-8218df1fd1e3.png)

Not significantly different from with GCs.  But I find it curious that when using the `astropy` loader it finds things that weren't collected by reference counting.

[2021-04-28 22:14] ejeschke commented on #948
Yeah, not sure that the destructors add anything to help, particularly. Just wanted to see if they make any difference. But it seems that, yes, the result is still basically a smooth rise to a plateau of sorts, with small increments afterwards, probably accounting for just maintaining info about the files that have been loaded in the channel without the data (thumbs, etc).

[2021-04-28 23:14] ejeschke commented on #948
I have to walk back this comment.  This was just from watching the system monitor app in early part of testing, and not very reliable.  I tested several versions with `memory-profiler`.  Here are the results.

v2.6.4:
![mprof-ginga_2_6_4](https://user-images.githubusercontent.com/1305473/116483378-af663e80-a822-11eb-8d41-8d4e46ec5214.png)

v2.6.6 (versions 2.7.x are similar to this profile):
![mpr

[2021-04-28 23:53] ejeschke commented on #948
_Now for something completely surprising_. Here is loading the same 144 files using the Ginga `RC` plugin (command was "ggrc ginga load_file /path/to/file.fits" successively for 144 files):
![mprof-ginga_latest_rc](https://user-images.githubusercontent.com/1305473/116486146-a0828a80-a828-11eb-8046-59bff4b88440.png)

The big long flat part is just the viewer being idle while I fiddled with an ipyth

[2021-04-29 00:15] ejeschke commented on #948
Finally, I measure memory profile doing the same method that appears to be shown [in this issue](https://github.com/pypeit/PypeIt/issues/1178)--using the `load_np()` command with the programmatic interface from `ginga.util.grc`:
![mprof-ginga_latest_rc_np](https://user-images.githubusercontent.com/1305473/116487415-9a41dd80-a82b-11eb-921d-271b0919a702.png)
A little bit more memory use due to buffe

[2021-04-29 00:18] ejeschke commented on #948
Looks like the base reference viewer usage is about 400MB, balloons to just under 700 loading and cycling through all those buffers, and finally drops below 600.

[2021-04-29 14:29] pllim commented on #948
I am not sure what to conclude from all this. Like you said, it uses more memory now but the usage does plateau, so does that qualify as a "leak"?

I remember at some point, you did add a feature to cache more stuff so the cursor is more responsive, right? I don't remember which version that was introduce though, or if it has any effect on this. But I don't think we can conclude anything without i

[2021-04-29 19:21] ejeschke commented on #948
Closing this issue. If we get more claims of memory leaks we can reopen it if necessary.

[2021-04-29 19:21] #948 closed

[2021-04-29 19:25] ejeschke commented on #948
Well, it is a "feature" and not a "bug" that Ginga keeps track of every image that you load into it _and don't remove_.  I think it would qualify as a leak if Ginga does not recover memory for images that you remove.  It does remove the pixel and header data for "loaded" images from memory in a user configurable fashion (i.e. `numImages`), but keeps enough information to reload the image if possib

[2021-05-03 13:45] #946 closed

[2021-05-12 13:58] pllim opened #950 "Incompatibility with PyQt5 5.15.4 that is pip installed into conda env"
I got a following report offline. I'll update if I get more info. Probably happened on Mac OSX.

<hr/>

I'm using the Ginga Python tools and it just gave me an error in my new environment. Could it be that Ginga only works with a previous version of PyQt5? I have 5.15.4 now.

Downgrading to 5.10.1 solved the issue.

[2021-05-12 14:09] nluetzge commented on #950
Thats the traceback I got. I googled the error and [this StackOverflow thread ](https://stackoverflow.com/questions/55794101/valueerrorpycapsule-getpointer-called-with-incorrect-name-with-from-pyqt5-qtwe)suggested to downgrade PyQt5 (even tho this was for Spyder). So I gave it a try and with the 5.10.1 version it was working again. Not sure if that was the version I needed to downgrade to but I di

[2021-05-12 14:11] nluetzge commented on #950
Oh and yes its macOS Catalina 10.15.7

[2021-05-12 15:53] pllim commented on #950
How exactly was your "new environment" created? The SO thread mentioned problem caused by people mixing up `pip` and `conda` installs of Qt components.

[2021-05-12 15:56] pllim commented on #950
On my `conda` env, I only get 5.9.x and not even an option to upgrade beyond that.

[code]

https://anaconda.org/anaconda/pyqt

[2021-05-12 15:58] pllim commented on #950
Thanks for the extra info and traceback; really helpful!

[2021-05-12 16:46] nluetzge commented on #950
Oh yes that might be the issue. Its installed via pip. I do this because it is one of the dependecies in my package (which is not in conda) so the only way (I know) how to have them installed when I do the installation of the package is via pip.

[2021-05-12 16:54] pllim commented on #950
That is tricky but distribution of downstream package is out of scope.

Let's leave this open for a bit, but I am not sure if there is anything we can fix here in Ginga. Still, it is good to have this issue created in case others run into the same problem, so thanks again for reporting it!

[2021-05-12 18:05] nluetzge commented on #950
Yes I will just solve it in my package making sure it installs the lower version for now.

[2021-05-12 19:24] ejeschke commented on #950
Yes, looks like the only thing we could do is to change the try/except ImportError to a try/except Exception in `QtHelp` (looking at the stack dump).  My guess is that since this error affects multiple packages using `qtpy`, the fix will probably happen there.

Agree we should hold off for a bit and see if `qtpy` fixes that.  (We should search and see if the error has been reported there yet. Will

[2021-05-12 19:32] ejeschke commented on #950
Hmm, general web search for this error seems to indicate that the problem stretches back a couple of years at least, and occurs when various versions of Qt are mixed, e.g. when conda and pip install different versions of qt-linked code, or when the PYTHONPATH exposes this.

[2021-05-27 19:40] #52 closed

[2021-05-27 19:50] ejeschke commented on #867
ok, @pllim, almost one year since the last release, I think we are ready for 3.2.  Do we really need to merge #823 before release?

[2021-05-27 19:53] pllim commented on #867
Roadmap is not blocker for release, though it is very outdated.

[2021-05-27 20:04] ejeschke commented on #867
I'd like to do a shorter release cycle for next time, so maybe we could include it for 3.3 and plan on an early fall release?

[2021-05-27 20:15] pllim commented on #867
Sure!

[2021-05-27 20:21] ejeschke opened #954 "Release 3.3"
ToDo list:

- merge #823
- merge #953
- merge #972
- decide fate of #967
- decide fate of #813
- resolve #898
- resolve #940
- resolve #804 ?

[2021-05-27 20:23] ejeschke commented on #867
I created a release 3.3 issue (#954)

[2021-05-27 20:31] ejeschke commented on #867
Ok then, why don't you do a downstream check, and when you are satisfied, let us know here.

I assigned tentative milestone dates of June 14, 2021 for 3.2 and October 11, 2021 for 3.3. These are not hard deadlines, obviously, but we can use them as goals.

[2021-05-27 20:39] ejeschke commented on #867
I retargeted all the 3.2 issues to 3.3

[2021-05-27 20:50] pllim commented on #867
Is this urgent? I might not be able to get to it till next week.

If you need something on PyPI now, perhaps a 3.2rc1 release?

[2021-05-27 20:58] ejeschke commented on #867
Not urgent. I just would like to release before 1 year since the last release (:smile_cat:) --that's July 20. Thus the June 14 tentative deadline.

[2021-05-28 16:39] yzhenggit opened #958 "Can't open images with ginga using the --modules=RC"
Hi all,

I'm running into problems with viewing my images on ginga. I wonder if you could give me some advice on how to proceed. The installed version of ginga is 3.1.0.

I open the ginga window with `ginga --modules=RC`, then do the following in a python session with the following lines:
`from ginga.util import grc`
`viewer = grc.RemoteClient('localhost', 9000)`
`sh = viewer.shell()`
`tmp = sh.ge

[2021-05-28 19:37] ejeschke commented on #958
@yzhenggit , I think `get_current_workspace()` won't work because it is trying to return a Python `Workspace` object across a network connection.  If you just want to display images, try following the examples [here](https://github.com/ejeschke/ginga/blob/master/ginga/examples/jupyter-notebook/Remote_control_of_a_Ginga_reference_viewer.ipynb).

[2021-05-28 19:48] yzhenggit commented on #958
@ejeschke thanks for your reply! I followed the example you gave, the code stopped at `shell.add_channel('Messier')` with a lot of errors...  The full error message can be seen here:
[ginga_error2.txt](https://github.com/ejeschke/ginga/files/6563035/ginga_error2.txt). You commented that this is because the RC plugin isn't started in the viewer. How should I fix that? Thanks!

[2021-05-28 20:13] ejeschke commented on #958
Do this first:

$ ginga --modules=RC --loglevel=20 --stderr

then try from the `grc` module.

[2021-05-28 20:15] ejeschke commented on #958
Or, start ginga without `--modules=RC` then do Plugins->Remote->Remote Control.

[2021-05-28 20:18] ejeschke commented on #958
I just tested with development (current github) version of Ginga and the example works fine.

[2021-05-28 20:26] yzhenggit commented on #958
I tried the `$ ginga --modules=RC --loglevel=20 --stderr` one, the grc module returned the same error. Then I tried to launch ginga without --modules=RC, and click Operation-> Remote-> Remote control [G] (I didn't see the Plugins one). It gives me an error like the following:

Plugin failed to start correctly: [Errno 8] nodename nor servname provided, or not known
  File "/anaconda3/envs/pypeit/li

[2021-05-28 20:33] ejeschke commented on #958
This is an error I have not seen before. It seems to indicate that it can't open a listening socket on your machine. What platform are you on (Mac/Win/Linux) and what version?

[2021-05-28 20:38] yzhenggit commented on #958
Mac High Sierra v10.13.6

[2021-05-28 20:40] yzhenggit commented on #958
When I open ginga with --modules=RC, I actually don't see a RC tab on the top right corner as suggested...

[2021-05-28 20:54] ejeschke commented on #958
Ok, I just pushed up a commit that will allow you to set those values in a config file.  Can you install from dev version?  Then copy [this file]() to your `~/.ginga` folder.  Edit it and change the `bind_host` to '' (empty string).
Now start up ginga as before and let me know if you see the RC tab show up.

[2021-05-28 21:02] ejeschke commented on #958
I just checked running default configuration on Mac OS X 11.0.1 ("Big Sur").  No problem bringing up the RC plugin. Probably not a Mac thing then, although I am not sure of the differences between "Big Sur" and "High Sierra"...

[2021-05-28 21:11] yzhenggit commented on #958
good news! Installing from the dev version as you suggested works! I'm able to bring up the RC tab using either `ginga --modules=RC`, or `ginga` then click through Operation/Remote/Remote Control. I'm going to try a few more things with it and see if I can load my fits files. Thank you so much!

[2021-05-28 21:12] ejeschke commented on #958
Excellent.  For our debugging purposes, did you have to do the hack with the config file or did it just work to install the dev version?

[2021-05-28 21:21] ejeschke commented on #958
Thanks, good to know.

[2021-05-28 21:42] yzhenggit commented on #958
Hello! So I'm going through this again to try to get ginga display my fits files (now RC is fine). I'm following the example you suggested, but still get the same bug when running this line `shell.add_channel('Messier')`. Any advice?

[2021-05-28 21:52] ejeschke commented on #958
What value are you using for the host from the `grc` (python session) side?  "localhost", "127.0.0.1" or something else?

[2021-05-28 21:54] ejeschke commented on #958
Try "127.0.0.1" from that side

[2021-05-28 21:56] yzhenggit commented on #958
what am I supposed to put it there? `viewer = grc.RemoteClient('127.0.0.1', 9000)`? I was using localhost

[2021-05-28 21:59] ejeschke commented on #958
Yes.  "localhost" was not working from the server side, so I wouldn't expect it to work from the client side either.

[2021-05-28 22:00] yzhenggit commented on #958
So I did `viewer = grc.RemoteClient('127.0.0.1', 9000)`, then 'shell.add_channel('Messier')', it was still the same error

[2021-05-28 22:05] ejeschke commented on #958
Let's find out what actual interfaces are running.  In a terminal, can you type
[code]
Do you see 127.0.0.1 anywhere?  If you see some other IP address, use it on the client side instead of `127.0.0.1`

[2021-05-28 23:15] yzhenggit commented on #958
yes

[2021-05-28 23:16] yzhenggit commented on #958
These are the first few lines of the output after I type `ifconfig -a` in a termial:
lo0: flags=8049<UP,LOOPBACK,RUNNING,MULTICAST> mtu 16384
	options=1203<RXCSUM,TXCSUM,TXSTATUS,SW_TIMESTAMP>
	inet 127.0.0.1 netmask 0xff000000
	inet6 ::1 prefixlen 128
	inet6 fe80::1%lo0 prefixlen 64 scopeid 0x1
	nd6 options=201<PERFORMNUD,DAD>

[2021-05-29 01:22] ejeschke commented on #958
Looks like a 127.0.0.1 interface is defined.  I'm beginning to think that maybe the Mac firewall is enabled, and you might need to allow "Python" to open an unblocked socket.

Can you check this [page](https://www.support.com/how-to/how-to-open-firewall-ports-on-a-mac-11403) and follow down till you see the part about opening System Preferences, Security and Privacy, then click the Firewall tab to

[2021-05-29 01:29] ejeschke commented on #958
With ginga running with RC open, try this from a terminal:
[code]
(Make sure you are using 9000 on both sides for the port)

Do you get a connection succeeded or failed message?

[2021-05-31 00:28] yzhenggit commented on #958
Yes, I get a connection succeeded message as the following:

found 0 associations
found 1 connections:
     1:	flags=82<CONNECTED,PREFERRED>
	outif lo0
	src 127.0.0.1 port 49463
	dst 127.0.0.1 port 9000
	rank info not available
	TCP aux info available

Connection to 127.0.0.1 port 9000 [tcp/cslistener] succeeded!

[2021-05-31 00:33] yzhenggit commented on #958
My Firewall was on. I turned it off and tried the example you showed with`viewer = grc.RemoteClient('127.0.0.1', 9010)` , which told me `ConnectionRefusedError: [Errno 61] Connection refused`. And then I tried `viewer = grc.RemoteClient('localhost', 9000)`, which returned an error of `gaierror: [Errno 8] nodename nor servname provided, or not known`. Not sure what's going on...

[2021-06-02 15:37] pllim opened #959 "Merge wcs_astropy and wcs_astropy_ape14"
Particularly, `wcs_astropy_ape14` should just be renamed to `wcs_astropy`. At the same time, we deprecate `wcs_astropy_ape14` and eventually remove it. So there should be only one `astropy` WCS interface and it is the one that follows [Astropy APE 14](https://github.com/astropy/astropy-APEs/blob/main/APE14.rst).

As suggested by @ejeschke in https://github.com/ejeschke/ginga/pull/823#issuecomment-

[2021-06-02 16:09] pllim commented on #867
Update: I am in the process of testing the dev version `ginga-3.1.1.dev154+g833517ab` as a release candidate. Stay tuned!

[2021-06-02 18:04] ejeschke commented on #958
I'm not sure, but I think even with the firewall on you should be able to connect to the same machine from itself. But this all depends on the firewall settings.  By turning it off, though, you should be able to rule it out as the problem.

Searching up this error message is [getting us closer to the answer](https://www.programmersought.com/article/13101163399/).  Could you open a terminal and typ

[2021-06-02 18:41] yzhenggit commented on #958
Hey @ejeschke , it works now! (Had to use the Python option to get my local host name). I was able to get through the example you gave earlier on. Thank you so much!

[2021-06-02 18:49] pllim opened #960 "Pan "hack" causing compass failure for HST/ACS FLC image"
I am not sure why it is forcing an error here for a big (1 degree) offset.

https://github.com/ejeschke/ginga/blob/833517ab092a525b2eac63b736515a21951dacd2/ginga/rv/plugins/Pan.py#L310-L311

This causes the following failure for HST/ACS FLC image, [jbt7a3k7q_flc.fits](https://stsci.box.com/s/gitjnk0xxb0q0g5hbygy7wtu7td5yhvd). The detector has 202x202 arcsec^2 FOV and the image WCS is not corrected

[2021-06-02 19:15] yzhenggit commented on #958
One last question, do you know if there is a way for me to change the hostname from 'Yong.local' (which is what socket.gethostname() shows me) to 'localhost'? This seems to give me some troubles to use other codes that have ginga implemented as their default viewer. So I wonder if I can change this. Thank you!

[2021-06-02 20:14] ejeschke commented on #958
The web page I linked to suggested editing `/etc/hosts`, if you have one.  You could add "localhost" with the IP 127.0.0.1 .  If you want to change the official hostname, you can edit `/etc/hostname`.  There is probably some Apple GUI to do this if you search around under System Preferences ("Settings" ?).  Look for something like change host name...

But I wouldn't change the hostname.  Just add

[2021-06-02 20:45] pllim commented on #867
So far, so good, except I don't remember what the "Instructions" expanding section is supposed to do. I cannot find any current usage for it except in example local plugin here:

https://github.com/ejeschke/ginga/blob/833517ab092a525b2eac63b736515a21951dacd2/ginga/examples/reference-viewer/MyLocalPlugin.py#L62-L66

And somehow I used it in https://github.com/spacetelescope/wss_tools/blob/f4c9243c1

[2021-06-02 23:43] yzhenggit commented on #958
YES! Now everything works (I added 127.0.0.1 localhost to /etc/hosts). Thank you so much!!! @ejeschke I really appreciate your time and patience in helping me get this fixed.

[2021-06-03 05:44] ejeschke commented on #958
@yzhenggit, you are welcome.  I will leave this open a little longer while I check on the status of "localhost" on Mac OS X and Windows.  I believe this fairly standard across TCP/IP networking on all platforms, which means it is not a ginga issue, but one of computer network configuration.  If it turns out that "localhost" is not standard we will look at figuring out a fix.

[2021-06-03 13:50] yzhenggit commented on #958
Got it, thank you!

[2021-06-03 22:14] ejeschke commented on #867
This was the older way of handling in-program help, before we switched to the buttons that invoked the on-line help in the web widget.  I think it's probably a good idea to remove it from the sample plugin.  I can do that.

[2021-06-03 22:16] ejeschke commented on #867
Although it would still be an easy (easier) option for someone that wanted to have a collapsible help in the plugin.  What do you think, should we remove it or not?

[2021-06-03 22:19] ejeschke commented on #960
Hmm, well, I think the hack worked as advertised--if the WCS fails it is not going to be able to calculate a compass.  Was this `astropy` or `astropy_ape14` WCS that failed?

[2021-06-03 22:23] ejeschke commented on #959
I think that as long as the one we end up with is working as well as the other (plus the extra functionality), then we are good.  This is a little bit tricky issue because the WCS is used for sooo many different files!

[2021-06-03 23:30] pllim commented on #867
I don't think there is much reason to keep. No one has missed it.

[2021-06-03 23:31] pllim commented on #960
astropy_ape14

[2021-06-03 23:38] ejeschke commented on #960
@pllim, I have that file.  I can confirm it loads fine and displays a compass with `astropy` WCS.  Compass looks like the one displayed by `ds9`.

[2021-06-03 23:48] ejeschke commented on #960
Given that `astropy` is the default WCS, and we won't merge anything till after this release...probably not a blocker for 3.2?

[2021-06-04 00:21] pllim commented on #960
Not a blocker. Thanks!

[2021-06-04 00:39] ejeschke commented on #867
Ok, I removed it in 2e92aa3f370146a563fba079684da96e7606a2f9

[2021-06-04 12:52] pllim commented on #959
I don't understand why the hack is there and why it needs such a big offset (1 degree in the sky). When there is distortion, such a big offset outside of the detector is not going to give you anything good.

[2021-06-04 12:53] pllim commented on #959
Oh ops... I replied to the wrong issue.

[2021-06-04 12:53] pllim commented on #960
I don't understand why the hack is there and why it needs such a big offset (1 degree in the sky). When there is distortion, such a big offset outside of the detector is not going to give you anything good.

[2021-06-04 17:16] ejeschke commented on #960
I'm totally ok with trying a smaller offset. I can't remember exactly how the offsets (lengths) for the arms is calculated, but I think this particular call is just to make sure that a WCS calculation can be performed.

[2021-06-04 17:17] ejeschke commented on #960
But I'd still be curious why `astropy_ape14` doesn't handle the calculation, whereas `astropy` does. Does that signal anything significant?

[2021-06-04 17:41] pllim commented on #960
I don't remember the details, but APE 14 is the canonical way now. Perhaps the old way ignored distortion, like DS9, but I am just guessing.

APE 14: https://github.com/astropy/astropy-APEs/blob/main/APE14.rst

[2021-06-04 18:06] ejeschke commented on #960
Hmm, I'd be curious about the time difference between them as well.  Sounds like the new one does some sort of iteration to a solution.

[2021-06-04 18:07] ejeschke commented on #960
Is the old way going to be deprecated (in astropy itself, I mean)?  Is there a timeline for when we have to merge astropy_ape14 and astropy?

[2021-06-04 18:14] pllim commented on #960
AFAIK, there is no plan to remove any WCS stuff from `astropy`. However, APE 14 implementation is necessary for GWCS support.

[2021-06-04 19:10] ejeschke commented on #958
Confirmed that Mac OS X and Windows systems normally have "localhost" defined.

[2021-06-04 19:10] #958 closed

[2021-06-04 21:56] pllim commented on #867
Does this mean we also no longer need this?

https://github.com/ejeschke/ginga/blob/2e92aa3f370146a563fba079684da96e7606a2f9/ginga/rv/plugins/SaveImage.py#L177-L178

[2021-06-04 22:24] ejeschke commented on #867
Yup!

[2021-06-04 23:08] ejeschke commented on #867
Woot! :partying_face:

[2021-06-04 23:08] ejeschke commented on #867
K, I will work on a release next week.

[2021-06-07 22:49] ejeschke opened #961 "ci_workflows: update ubuntu version"
We are getting a warning in ci_workflows:
[code]
Any reason not to update to "ubuntu-latest"?

[2021-06-08 00:01] pllim commented on #961
Not really. I just wanted to cross test the "oldest deps" job with an older version of Ubuntu, just in case. I think latest is now 20.x, so we could bump the "oldest deps" to use 18.x or if you don't care, we can just use latest for all the Linux jobs.

Do you have a preference?

[2021-06-08 00:46] #961 closed

[2021-06-08 21:02] pllim opened #963 "Entry points: Replace pkg_resources with importlib"
See https://github.com/conda-forge/ginga-feedstock/pull/12#issuecomment-856332510 onwards.

https://packaging.python.org/specifications/entry-points/

[2021-06-08 21:05] ejeschke commented on #963
[code]

[2021-06-08 21:08] ejeschke commented on #963
@pllim, I don't know about the ones in the `__init__.py`'s. I think I was responsible for the one in `main.py`, because that one is used to load externally defined plugins, via entry points.

[2021-06-08 21:39] ejeschke commented on #867
Closed via release! :tada:

[2021-06-08 21:39] #867 closed

[2021-06-08 21:44] pllim commented on #963
Go ahead. Will be happy to help if you need it. I don't remember why I needed special entry point code either. As long as it doesn't break existing downstream stuff on my side, it's fine by me. Thanks!

[2021-06-16 19:22] #963 closed

[2021-06-16 21:51] ejeschke opened #965 "pytest errors"
Was seeing this warning while running tests recently:
[code]
so I upgraded `pytest` from 6.0.1 to 6.2.4. With this new version, I get an enhanced traceback of the same error (complaining about unknown key for astropy_header):

[code]
Is this just something I need to clear out of a pytest cache or something?

[2021-06-16 21:56] pllim commented on #965
Did you do a `pip install -e .[test]`?

https://github.com/ejeschke/ginga/blob/16cfda98cb1f919ead60dbe941145c3a5ee4fa0b/setup.cfg#L65

[2021-06-16 22:28] ejeschke commented on #965
No, that definitely fixed things. Thanks for the quick answer!

[2021-06-16 22:29] ejeschke commented on #965
I think I had manually installed `pytest-astropy-header` previously and forgotten about it, because I had been running the tests for quite a while without problem.  Upgrading the conda environment must have invalidated it.

[2021-06-16 22:30] #965 closed

[2021-07-28 19:47] pllim commented on #560
If we want to revisit this, needs some sort of translation layer to https://github.com/ejeschke/ginga/blob/master/ginga/ColorDist.py , maybe.

Also see https://docs.astropy.org/en/stable/visualization/normalization.html

[2021-07-28 19:54] pllim commented on #560
Maybe https://github.com/ejeschke/ginga/blob/master/ginga/AutoCuts.py too.

[2021-07-28 21:11] eteq commented on #560
I'm also curious about

in the context of an *optional* dependency, would this be OK? I.e., if the astropy machinery is used if its present and the user passes in this machinery.

[2021-07-29 01:28] ejeschke commented on #560
That is fine.

I think it would be straightforward to make a `ColorDist` or `AutoCuts` class that uses the astropy visualization stuff.  These are just objects that are called from the viewer, so they are like black boxes in a sense--you could replace them with a different instance as long as the class presents the same API.

[2021-07-30 15:41] pllim commented on #560
In principle, both Ginga and Astropy methods takes the input data and spits out modified data, so plug and play might be possible. But it is not obvious to me where this should happen. I tried to code dive a little and got lost in all the callback handling. Modifying `ginga/ColorDist.py` might be a level too deep. I am thinking more like a viewer-level operation, where the viewer would change the

[2021-07-30 17:00] pllim commented on #666
Duplicate of #560

[2021-07-30 17:00] #666 closed

[2021-07-30 17:05] pllim commented on #560
I started astropy/astrowidgets#148 to try to understand how this feature will be used downstream. @mwcraig and @eteq , feel free to correct me if I misunderstood. Thanks!

[2021-08-18 14:08] obi-wan76 opened #969 "Pick function showing different FWHM values between the FWHM figure and the Readout tab"
Sometimes when using Pick, the FWHM value at the top of the FWHM figure doesn't match the value in the Readout tab. In the attached example, the FWHM Y at the top of the figure is 7.70 px but in the Readout tab is 5.625 px. What is the difference between these two values?

Note that that I am trying to fit a double peaked feature and it is the direction of the double peak that shows the FWHM discr

[2021-08-18 22:02] pllim commented on #969
It does seem like they are the result of two different calculations...

The one display in the plot title is from:

https://github.com/ejeschke/ginga/blob/4df2a890d85f5d11a4b19105c6c6288a669b0350/ginga/util/plots.py#L447

The one displayed in the table is from:

https://github.com/ejeschke/ginga/blob/4df2a890d85f5d11a4b19105c6c6288a669b0350/ginga/rv/plugins/Pick.py#L1719

I vaguely remember they a

[2021-08-20 18:47] ejeschke commented on #969
@obi-wan76, I'd have to review the code (haven't yet), but I believe this is because there are two phases to the plugin. In the first phase, all the possible candidates are selected by running a FWHM on each local approximate peak to determine eligibility according to the Settings.  Then, the top candidate is run through a second FWHM based on the center as determined by the first one.

The info i

[2021-08-22 16:29] pllim commented on #969
It is confusing that FWHM values on plot title and report panel do not exactly mean the same thing. I can see two different solutions here:

1. Modify the plugin to sync them to the one and only correct value.
2. Clarify in tooltips and user doc that they do not mean the same thing.

[2021-09-04 00:31] #969 closed

[2021-11-10 20:39] obi-wan76 opened #975 "Working with skewed axes in Ginga"
Hi
I am getting the following error when trying to build a Mosaic with Ginga. So, it seems that Ginga can only handle offset, scale, rotation, but not skew. Is this correct?
Thank!

[2021-11-10 22:20] ejeschke commented on #975
@obi-wan76, with the current (fast) mosaicer that is correct. However, the amount of skew allowed can be adjusted, based on the ``skew_threshold`` value passed to ``get_rotation_and_scale()``.

Based on the error message shown above, the skew threshold should be greater than ``abs(xrot - yrot)`` or abs(68.8412 - 68.6491) == 0.1921

Can you copy the file `.../ginga/examples/configs/plugin_Mosaic.cf

[2021-11-10 22:23] ejeschke commented on #975
[Here is the file](https://github.com/ejeschke/ginga/blob/master/ginga/examples/configs/plugin_Mosaic.cfg), if you are looking for it.

[2021-11-10 22:59] obi-wan76 commented on #975
@ejeschke Thanks for your fast reply! I'll give it a try and let you know. Thanks again!

[2021-11-11 00:53] obi-wan76 commented on #975
@ejeschke yes, it worked. Thanks for your help

[2021-11-11 00:53] #975 closed

[2021-11-11 01:10] ejeschke commented on #975
Great, hope that's acceptable!

[2021-11-18 21:28] SunilSimha opened #977 "RC module not opening correctly"
I'm trying to open Ginga withe the RC modules turned on (`ginga --modules=RC &`) but the Ginga window starts with no RC tab on the right. Then if I try to click Plugins>custom>RC, I get this error:
[code]
I'm on Ginga 3.2.0, Python 3.7.11. Any clue how I might fix this?

[2021-11-18 21:33] ejeschke commented on #977
That error message just indicates some other process is using the default port.  What happens if you change the port number from 9000 to 9900 in the text box and click the "Restart" button?

[2021-11-18 21:36] ejeschke commented on #977
If this works, you can set the default port number in the [plugin configuration file](https://github.com/ejeschke/ginga/blob/master/ginga/examples/configs/plugin_RC.cfg).  Just copy the default config file to your `$HOME/.ginga` folder and edit it to change the port number.

[2021-11-18 21:38] SunilSimha commented on #977
Oh! I think Jupyter in VSCode is using the same port. Sorry, can you clarify which textbox I'm supposed to change the port in and what command I should be using in said text box?

[2021-11-18 22:28] ejeschke commented on #977
Follow the instruction above to copy the config file.  Change the value of `bind_port` in the file.  Restart Ginga.

[2021-11-18 23:07] ejeschke commented on #977
I will look into fixing the issue of the plugin not appearing if the default port is blocked.

[2021-11-18 23:56] ejeschke commented on #977
Improved handling in commit 826c00de3a358b257b58731ee7affe8a4af51099

[2021-11-19 03:58] SunilSimha commented on #977
Thanks. The Jupyter notebook running in the background was indeed the issue.

[2021-11-19 03:58] #977 closed

[2021-12-20 13:58] pllim opened #980 "TST: distutils Version classes are deprecated (pytest-remotedata)"
[code]

[2021-12-21 22:33] pllim commented on #980
`pytest-remotedata` v0.3.3 is released. I am kicking off the CI here on `master`.

[2021-12-22 01:18] #980 closed

[2021-12-29 21:44] #960 closed

[2022-02-05 00:41] ejeschke commented on #954
@pllim, AFAICT, the following have been done:

- merge #953
- merge #972
- decide fate of #967

And the following have not:
- merge #823
- decide fate of #813
- resolve #898
- resolve #940
- resolve #804 ?

The plan was to have an Oct 2021 release for 3.3, but that was delayed with a new tentative release date of Feb 2022.

I suggest making a 3.3 release, while rolling the unaddressed items over t

[2022-02-05 00:49] pllim commented on #954
Sure. I don't think any of the open issues should block 3.3 release. But can you please give me the next week to test the dev branch first before you cut the release? Thanks!

[2022-02-05 01:25] ejeschke commented on #954
Sure thing.

[2022-02-05 01:26] ejeschke opened #986 "Release 3.4"
Preliminary TODO:
- [x] merge #991
- [x] merge #1003
- [x] merge #1010

[2022-02-08 20:54] pllim opened #988 "Setting inherit_primary_header=True in general.cfg does not work anymore"
I have `inherit_primary_header = True` set in `~/.ginga/general.cfg` but it no longer makes `AstroImage` inherit primary header on load, even though the primary header still displays in Header plugin when you ask for it. What I mean is the following:

[code]

This causes a plugin in `stginga` to misbehave.

[2022-02-08 20:56] pllim commented on #954
@ejeschke , I think #988 is a blocker. Hope you can help. Thanks!

[2022-02-08 23:04] ejeschke commented on #988
@pllim, I will commit an update to fix the issue, but for now, to patch your plugin against future deprecation, can you do this instead (in the plugin):
[code]

[2022-02-08 23:11] ejeschke commented on #988
Sorry, last line should say `include_primary_header=True`, comment above updated.

[2022-02-08 23:20] ejeschke commented on #988
@pllim, when I execute your code above in a version of ginga before #985, I don't get the primary header included even if `inherit_primary_header=True` in my `general.cfg`.  Are you sure this is the exact lines of code getting executed in the plugin? Or do you have a modification in `stginga` that always forces the primary header to be included?

[2022-02-08 23:37] ejeschke commented on #988
Just pushed a change that allows the following as default case:
[code]
or
[code]

[2022-02-09 00:58] pllim commented on #988
I think we used to pick up the setting from `general.cfg`.

[2022-02-09 00:59] pllim commented on #988
But if it has been broken for a while, then I am not sure when it started to break. Pretty sure it used to work. 🤷

[2022-02-09 02:53] ejeschke commented on #988
It doesn't work in release 3.0 or 3.1. At least from an ipython session.

[2022-02-09 03:21] ejeschke commented on #988
The setting is picked up if the image is loaded via the machinery in `Control.py`, but not if you just create an `AstroImage` as shown above in your example. That's why it works for the `Header` plugin.

[2022-02-09 15:38] pllim commented on #988
So, I downgraded Ginga to 3.2.0 and [SNRCalc](https://stginga.readthedocs.io/en/stable/stginga/plugins_manual/snrcalc.html) plugin works with dev version of `stginga`, in that the "Min SBR" field is updated properly based on `INSTRUME` value that is grabbed from the primary header. So definitely something in dev Ginga broke it, but I'll have to track down how exactly.

[2022-02-09 20:47] pllim commented on #988
So, I think this is what happened. The plugin is a local plugin. I was accessing `self.fitsimage.get_image().get_header()`, where `self` is the local plugin. This grabbed the primary header (presumable from the `general.cfg` preference) in Ginga 3.2 but not the dev version when I tested it. Does this ring any bell to you?

[2022-02-09 23:51] ejeschke commented on #988
Yeah, so that would be inheriting the flag because the `Control` module does that.  I think I see the problem now, and it is not in `AstroImage`.  I'll work on another commit.

[2022-02-10 01:27] ejeschke commented on #988
BTW, if you simply change:
[code]
to:
[code]
Does the plugin work?

[2022-02-10 02:50] pllim commented on #988
Yes, if I set `.get_header(include_primary_header=True)`, it does work. However, not setting it like that but in `general.cfg` resulting in the setting not being respected is still a breaking change and a very subtle one at that.

[2022-02-10 03:28] ejeschke commented on #988
Well, I think I *may* have arrived at a solution that will work for us.  Try the latest commit with your unmodified plugin and let me know how it goes.  I will probably still need to modify the change log a bit.

[2022-02-10 23:43] pllim commented on #988
Yes, seems to work again with your commit to `master` with existing unmodified plugin. Thanks for the quick fix! I'll test the dev version a bit more with other things and report back. 🙇‍♀️

[2022-02-11 00:22] ejeschke commented on #988
I updated the WhatsNew changelog to match the changes.

[2022-02-15 02:03] pllim commented on #988
OK as far as I am concerned, this issue is gone. I'll let you know soon about the release candidate. Sorry for the delay!

[2022-02-15 02:03] #988 closed

[2022-02-15 08:11] Tang-SL opened #992 "ConnectionRefusedError: [Errno 61] Connection refused"
Hi there, my issue is similar to #958, but simply getting this [Errno 61] when trying to do `ggrc help`
I can open a ginga window with `ginga`, but no response from `ginga --modules=RC`
I am using MacOS BigSur v11.6, and python 3.8, detailed error message is attached. thank you in advance!
<img width="858" alt="Screen Shot 2022-02-15 at 17 11 04" src="https://user-images.githubusercontent.com/4922

[2022-02-15 22:35] pllim commented on #954
I did a preliminary testing of what is currently in `master` as of 161952a4016d3f014003db3d09dd78c61be85cb7 and did not find any problem in my limited testing using `quip`. @obi-wan76 , do you or your colleagues over at TEL want to test it too before Ginga is released? If not, it is a "go" from me, @ejeschke . Thanks for your patience!

[2022-02-16 04:01] ejeschke commented on #992
@Tang-SL, following the advice in #958, what do you get when you do the following in Python:
[code]
?

[2022-02-16 04:13] Tang-SL commented on #992
@ejeschke Thanks for the very prompt reply! it returns me with: cosdhcp012.icrr.u-tokyo.ac.jp
And I have checked my /etc/hosts , which shows:
<img width="413" alt="Screen Shot 2022-02-16 at 13 12 06" src="https://user-images.githubusercontent.com/49220392/154194756-200352bd-92a3-433e-9301-15a0ddb2da52.png">

[2022-02-16 20:13] ejeschke commented on #992
@Tang-SL, what happens if you invoke `ggrc` like this:
[code]
?

[2022-02-16 20:51] ejeschke commented on #954
Thanks, @pllim!

[2022-02-16 20:51] ejeschke commented on #954
Will address any lingering issues with a point release, if necessary.

[2022-02-16 20:51] #954 closed

[2022-02-17 04:07] Tang-SL commented on #992
Still shows the same error 61.

[2022-02-17 04:08] ejeschke commented on #992
Ok, can you see the "RC" tab in the Ginga UI?

[2022-02-17 04:26] ejeschke commented on #992
Based on the other issue you referenced, we probably have one of the following issues:
- firewall is enabled on the mac, so that we cannot access port 9000
- port 9000 is already used by another application
- localhost is not defined (although your /etc/hosts indicates that it should be)

If you can access the RC tab, change the port number the "Set Addr" field and press Set, then Restart.  Then i

[2022-02-17 04:32] Tang-SL commented on #992
Excuse me, I found my issue is somewhat related to the environment, in one environment, `ginga` works, `ginga --modules=RC` also works, RC tab shows Addr: localhost:9000, but `ggrc help` sometimes work, sometimes do not...![Screen Shot 2022-02-17 at 13 29 53](https://user-images.githubusercontent.com/49220392/154405602-0bf72eb6-2c95-4329-a8eb-837f12d965da.png)

In another environment, `ggrc help`

[2022-02-17 05:49] Tang-SL commented on #992
After I added plugin_RC.cfg to my ~/.ginga folder following #958 , now `ggrc help` works when ginga window is opening.

However, I found my issue seems to be somewhat related to the environment. When I shift to another environment, in which I really wanted ginga to work, both `ginga --modules=RC` and `ginga` show nothing, no error message, and no windows pops up.

[2022-02-17 06:35] ejeschke commented on #992
Can you add the following to the command line when starting ginga?
[code]
What kind of errors are reported in the log?

BTW, [this discussion](https://github.com/ejeschke/ginga/discussions/989) has a good description of how to create an environment for running ginga.  You might check that discussion to see if you are missing some package.

[2022-02-17 07:17] Tang-SL commented on #992
No error is reported but just stuck at some stage.
[error.log](https://github.com/ejeschke/ginga/files/8086346/error.log)

[2022-02-17 07:20] Tang-SL commented on #992
And also no conflicts reported from the packages installation.
<img width="1068" alt="Screen Shot 2022-02-17 at 16 19 27" src="https://user-images.githubusercontent.com/49220392/154425149-7e155306-70a7-4a9c-a9dd-f8b653440bcb.png">

[2022-02-17 08:00] ejeschke commented on #992
Nothing unusual in the log, but it should end with "entering mainloop...".  How did you install ginga; by "pip install ginga" or from downloading source?  A new version was released today (3.3.0), if you installed from pip, it might be worth trying to upgrade by "pip install --upgrade ginga".

Can you find any notable differences between the two environments?

For what it is worth, I just tested o

[2022-02-17 08:30] Tang-SL commented on #992
I fixed it out to be the `PyQt5-sip` package, major update from 4.19.18 to 12.9.1 gets it to work, problem solved! Thanks a lot for your help!

[2022-02-17 12:10] #992 closed

[2022-02-17 13:55] obi-wan76 commented on #954
Thanks! @pllim This all looks good to me, we are in the middle of commissioning so we won't update Ginga in our working machines but we certanly update Ginga in our persona computers and submit an issue if necessary.

[2022-02-18 21:26] ejeschke opened #993 "Release 4.0"
Issue for resolving items for Release 4.0, a major release update.

ToDo list:
- [x] resolve #898
- [x] resolve #804
- [x] merge #973
- [x] merge #984
- [x] merge #995
- [x] merge #996
- [x] merge #1013
- [x] merge #1017

[2022-02-18 21:31] ejeschke commented on #993
@pllim, I am thinking of creating a 4.0 branch, that would contain any PRs destined for the next major release.  This branch would be periodically rebased on top of the current main, allowing us to test it and optionally deploy it early as a alpha/beta release.  After the release of 3.4 we would rebase one last time and merge that branch into main.

You have the benefit of knowing the astropy deve

[2022-02-18 21:47] pllim commented on #993
`astropy` uses backports (branching of released version) so I am not familiar with the forwardport model. Are you trying to do [git flow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow)? I am not familiar with that either, sorry.

[2022-02-18 21:49] pllim commented on #993
Or do you mean you want to branch out both v3.x and v4.x, and then backport PRs from `main` into both, accordingly? It is possible but quite a hassle to maintain. I have headache trying to backport just into one release branch on astropy. A lot of conflicts to resolve as timeline progresses and branch deviates more from `main`.

[2022-02-18 22:04] ejeschke commented on #993
Well the main branch is essentially a dev line for 3.4 at this point, so no need to branch that.  What I'm thinking is to have two more releases this year: a 3.4 release in the summer and then a major 4.0 release in the fall.  I'm just trying to think of a way to be able to test the 4.0 release earlier so that we can spot any blockers.  Of course, it's possible for me to simply make my own private

[2022-02-18 22:11] ejeschke commented on #993
Thinking about how this would practically be handled, I'd probably just push that branch as a PR that we would mark as a testing PR and agree would never be merged.

[2022-02-18 22:15] pllim commented on #993
Re: as PR -- That might just work!

[2022-03-01 21:36] profxj opened #997 "Consider suppressing astropy's warning about FITS header card length"
I get 100's of these when trying to view a simple VLT image:

WARNING: VerifyWarning: Keyword name 'FRAME9 _ATE' is greater than 8 characters or contains characters not allowed by the FITS standard; a HIERARCH card will be created. [astropy.io.fits.card]

See https://github.com/pypeit/PypeIt/pull/1365 for a way to fix this..

[2022-03-01 23:06] ejeschke commented on #997
This seems reasonable to me, provided that we make it controlled by a setting.  I think I would be ok with an "opt-out" strategy; i.e. the warnings would be suppressed by default, but could be re-enabled by changing a setting in the `general.cfg`.

What do you think, @pllim?

[2022-03-01 23:07] ejeschke commented on #997
Also, @pllim, is there a better way to turn them off directly in `astropy.fits`?

[2022-03-01 23:09] pllim commented on #997
What is the context for this request? Is this in the context of people running `ginga problematic_file.fits` from the command line? Or is this someone calling `ginga` code from their own code? Depending on the context, my recommended solution would be different.

My general philosophy is: The warning is where for a reason. The best way to get rid of it is to fix your data. But if that is not possi

[2022-03-01 23:10] pllim commented on #997
p.s. `'FRAME9 _ATE'` *is* greater than 8 char and violates the FITS standards...

[2022-03-01 23:11] pllim commented on #997
No, I don't think so.

[2022-03-01 23:13] ejeschke commented on #997
Unfortunately, there are many instruments out there that don't necessarily conform properly to the standard (especially some older ones). It might be a pain to work with those files over and over without suppressing the warnings...

[2022-03-01 23:14] ejeschke commented on #997
How about an opt-in strategy then, @pllim?

[2022-03-01 23:17] pllim commented on #997
Opt-in is my preference, if that is the case.

If the warnings are already captured by ginga logger, then it is simply setting the logger level. But if that is outside the logger, then I am afraid a blanket ignore by category/message, as suggested above, is the way to go (and it affects the entire session).

[2022-03-01 23:18] ejeschke commented on #997
I do agree that seeing the errors is very useful.  Would be nice if there was a way to turn them off one by one, or maybe by some signature of the FITS file. For example, this set of keywords indicates it is a VLT image--if so, don't warn me about the  'FRAME9 _ATE' keyword.

[2022-03-01 23:20] profxj commented on #997
Yes, I love the -- ignore this if it is a VLT image -- idea.

I have never edited the `general.cfg` file for `ginga` and should prefer not to
figure out how to do so.

[2022-03-01 23:21] profxj commented on #997
I'll add this is the way VLT *always* writes their images,
  i.e.  they *always* have an "error" filled header.

[2022-03-01 23:25] profxj commented on #997
And I should have added that it currently takes ~30s to open+view a simple VLT image
because of these warnings (should take ~2s)

[2022-03-01 23:47] profxj commented on #997
ok, I exaggerated (but just a little):

Tue 01 Mar 2022 03:44:44 PM PST
ginga FRB20211212_VLT-FORS2_g-HIGH_2022-01-28.fits
Tue 01 Mar 2022 03:45:08 PM PST

said FITS file is attached.  Scratch that, it won't let me upload a FITS.
Grab it here:

https://drive.google.com/file/d/1l6NKonFanpZg329T-EPaIrHykrP_Njw8/view?usp=sharing

[2022-03-01 23:58] ejeschke commented on #997
@profxj, thanks for sending that.  Running on my 5 year old desktop box, I got the following result:

So opening the file does take approx 2s just to read and process all the warnings. Then about 0.5s to display the image.
This is stock ginga with --loglevel=20

[2022-03-01 23:59] ejeschke commented on #997
But I see your point about the warnings--it completely swamps the log.

[2022-03-02 01:38] profxj commented on #997
Odd.

My computer is much newer.

Let me try that log command.

On Tue, Mar 1, 2022, 15:59 ejeschke ***@***.***> wrote:

[2022-03-02 01:52] ejeschke commented on #997
I'm just dragging the file to the viewer window.  I usually start ginga like this:
[code]
I add `--log=/path/to/some.log` if I also want to record the log in a file.

[2022-03-02 01:54] profxj commented on #997
Just executed this on my laptop, which is newer than my workstation:

ginga --loglevel=20 --stderr FRB20211127_VLT-FORS2_g-HIGH_2022-01-29.fits

Took ~12s

[2022-03-02 01:57] ejeschke commented on #997
Just tried that, little bit less than 5s including startup time where it loads all the plugins.

[2022-03-02 01:58] ejeschke commented on #997
I suppose it might depend on what kind of storage you have.  My workstation has SSD.

[2022-03-02 02:02] profxj commented on #997
Same (for both).

I dare so the Mac is faster! ;)

[2022-03-02 02:02] ejeschke commented on #997
Try routing the output to a log with `--log=ginga.log` and then afterward look at the timestamps in the log. You should be able to see the timestamp for the first warning and then towards the end the timestamp for the last warning and then shortly after a message like `Control.py:1277 (channel_image_updated) `, which is printed right after the image is loaded in the channel and the display updated

[2022-03-02 02:03] ejeschke commented on #997
My box is Linux. :smile_cat:

[2022-03-02 02:22] ejeschke commented on #997
But back to your point, it looks like it is taking some excess time to load the file due to all the warnings.  I stuck in the line
[code]
and the time to load the file (dragging to window, after ginga already started) went from 2.5 sec to about 1 sec.

[2022-03-08 00:58] ejeschke opened #999 "Fix astropy ASDF deprecation warning"
We are getting the following error now in builds:
[code]

[2022-03-08 03:58] pllim commented on #999
It's a known upstream issue. A fix will go in tomorrow in astropy one way or another. Thanks for your patience!

[2022-03-08 20:20] pllim commented on #999
Should be fix in astropy dev now. There is no action required here. Next run should pass.

[2022-03-08 20:20] #999 closed

[2022-05-05 08:45] fmadec opened #1005 "restart RC failed"
I'd like to change the Address of the remote control (to bind on all interface) so I use blank for host so put set Adrr = :9000.

But the restart failed with:

[code]

[2022-05-05 16:44] pllim opened #1006 "RTD build failed with 1 error and 1 warning"
@ejeschke , you might have merged some ill-formatted doc?

[code]

[2022-05-05 20:10] pllim commented on #1006
Looks good now. Thanks!

https://readthedocs.org/projects/ginga/builds/16835455/

[2022-05-05 20:10] #1006 closed

[2022-05-05 23:59] ejeschke commented on #1005
@fmadec, can you try latest dev version (commit 608ee585e2d13f8e3a8847f2ab39d9a6ae5e898e)?

I think it may fix this issue.

[2022-05-06 08:37] fmadec commented on #1005
it works ! @ejeschke
tx

[2022-05-06 13:03] #1005 closed

[2022-05-22 23:48] ejeschke commented on #950
I heard that "Apple silicon" macs only have the choice of PyQt6.  I only have one or two first-hand reports from colleagues, so this is not definitive.  In any case, we've since merged support for PyQt6, so perhaps that is the workaround for this issue.  `qtpy` added support for PyQt6/PySide6 in v2.0.1, FWIW.

[2022-06-17 00:03] #997 closed

[2022-06-17 00:04] ejeschke commented on #986
Two down and 1 to go!

[2022-06-17 23:40] ejeschke opened #1011 "Rename ORIGIN branch name"
Following the lead of many other projects, change the name of "master" branch to "main".

[2022-06-28 20:20] ejeschke commented on #986
@pllim, any last things you want to address before a 3.4 release?

[2022-06-28 20:33] ejeschke commented on #986
Do you want to do any testing before the release?

[2022-06-28 20:37] pllim commented on #986
Alas, we're all busy with JWST here, so I don't think so but I'll ping @obi-wan76 , just in case.

[2022-06-30 01:17] ejeschke commented on #986
Release made!

[2022-06-30 01:17] #986 closed

[2022-07-15 22:29] pllim opened #1012 "Consider adding Ginga to matplotlib mpl-third-party listing"
https://github.com/matplotlib/mpl-third-party/tree/main/packages

(From Scipy 2022)

[2022-08-10 18:05] jortiz12 opened #1014 "Start viewer server ERROR"
Dear community,

I´m trying to replicate the example [ginga_ipython_demo.ipynb](https://github.com/ejeschke/ginga/blob/master/ginga/examples/jupyter-notebook/ginga_ipython_demo.ipynb) in a Google Collab Notebook. However, when executing the code line ``, I get the following error.

![imagen](https://user-images.githubusercontent.com/2719866/183984837-8f886360-faa5-402d-a6e9-9c4e6cb13bae.png)

Any

[2022-08-10 19:53] ejeschke commented on #1014
@jortiz12, I just tested the notebook locally, and it is still valid.  I suspect the collab environment may restrict opening ports in some way? In any case, the port number can be changed in the second cell of the notebook.  Try changing it from the default of 9914 and let us know the result.

[2022-08-11 10:27] jortiz12 commented on #1014
First, thanks for your time and attention.

The issue doesn´t lie in the port number line of code `server = ipg.make_server(host='localhost', port=8888, use_opencv=use_opencv),` as I changed it from 9914 to 8888 (Jupyter default).

The error continus to appear when running `server.start(no_ioloop=True).`

[2022-08-11 13:42] pllim commented on #1014
I don't think this is Ginga's problem. See https://stackoverflow.com/questions/69880285/receive-oserror-errno-99-cannot-assign-requested-address-on-google-colab

[2022-08-12 08:53] jortiz12 commented on #1014
Thanks pllim,

Indeed, indeed. That's also my opinion.
The issue is that as I'm working with very large IFS MUSE datacubes , my local machine hasn´t enough RAM. Hence, I've to make use of Google Cloud Platfrom.

I was simpy trying to use GINGA in such notebook in Google Colab as although I've the DS9 viewer opened, Google Colab doesn't "know" of its existance. Nor does of Ginga it seems.

Thxs aga

[2022-08-12 13:50] pllim commented on #1014
@jortiz12 , just to make sure, did the StackOverflow solution work for you?

[2022-08-12 18:34] jortiz12 commented on #1014
No bcse that solution applies to a Jupyter-based notebook, not to a notebook in Google Colab.
I can also confirm tat GINGA is wking perfctly well in my "local" Jupyter.
The issue is when you use Google Colab notebooks.

Txs again for the attention.

[2022-08-12 18:38] pllim commented on #1014
I am not sure what can be done in the Colab world. It seems to still be stuck in Python 3.7 while packages have moved on. @ejeschke , any ideas?

[2022-08-12 20:28] ejeschke commented on #1014
Thinking about this a little more deeply, I think there are two issues. The first is that probably we need to replace "localhost" with the hostname or IP of the google collab host where the notebook is actually running. For that, I think you might want to look at [this video](https://www.youtube.com/watch?v=BKMBnroKXnQ).  That is simple enough.  @jortiz12, please try that first and then report bac

[2022-08-12 21:22] ejeschke commented on #1014
So I tried running this notebook on Google Collab. Using the following, it does not give me an error trying to start the server:
[code]
then replace "localhost" with ipaddr.

However, there is then (I think) the second issue of how to tunnel to that connection, because I think it is walled off. I'm looking that that now.  It seems to be a [known issue](https://github.com/googlecolab/colabtools/iss

[2022-08-13 04:05] ejeschke commented on #1014
Just a note for the sake of completeness, I tried the Ginga Jupyter Widgets backend.  It displays in Google Colab, but since `ipyevents` does not seem to be supported there, I could not get any interactivity with the widget. @mwcraig, do you have any experience getting `ipyevents` working in Google Colab?

[2022-08-14 13:10] jortiz12 commented on #1014
Hello @ejeschke @pllim,

Your first advice, changing the hostname, indeed has worked for me!!.
It was just a matter of replacing the line `server = ipg.make_server(host='localhost', port=8888, use_opencv=use_opencv)` to `server = ipg.make_server(host=hostname, port=8888, use_opencv=use_opencv)`, where hostname can be found with:

`import socket`
`hostname = socket.gethostname()`
`IPAddress = socke

[2022-08-15 09:39] jortiz12 commented on #1014
Hello again,
Well, I was too quick in saying that the problem had been solved.
Though by changing the localhost to Google's server hostname,  as noted above, the line of code `v1 = server.get_viewer('v1')` didn´t resulted in any error, when I copy the URL from the output of `v1.url` and copy it into my browser, it can´t be found ...

[2022-08-15 19:52] ejeschke commented on #1014
Yes, that mirrors my result above. I think Collab doesn't want to open any ports to the world unless it can be tunneled somehow.

[2022-08-15 19:58] pllim commented on #1014
Instead of Collab, let's step back and maybe you should ask the data provider if they have a proper science platform you can use...

[2022-08-15 20:50] jortiz12 commented on #1014
Thxs @ejeschke and @pllim
Indeed, and I'll continue to work with the less "heavy" data in my local Jupyter.
Best rgds
Jose

[2022-08-16 00:33] mwcraig commented on #1014
I haven't tried -- my experience with colab was mixed the last time I looked at it so I've never really tried. `ipyevents` only uses the standard widget communications channel but I have no idea how how google modified that channel to get widgets working.

[2022-08-16 02:21] ejeschke commented on #1014
It seems like they have modified something, because `ipyevents` still works fine in a local notebook, but I can't get any events coming through running it on Colab: mouse, keyboard, scrolling...anything

[2022-08-16 02:21] ejeschke commented on #1014
It's too bad, because that would be the way to go, IMHO--no need to tunnel anything.

[2022-08-23 04:41] ejeschke commented on #804
Proposal!

![ginga_icon](https://user-images.githubusercontent.com/1305473/186071216-f178b5d2-b2f2-447b-9def-1d3ef82f14b0.png)

[2022-08-23 04:45] ejeschke commented on #804
I have an SVG version that I could add to the repo.

[2022-08-26 00:25] #804 closed

[2022-08-26 02:07] ejeschke commented on #1011
@pllim, you are more in touch with the CI integration than I am. I will need your help on this. Shall we take a stab at this for release 4.0 or wait for 4.1?

[2022-08-26 03:20] ejeschke commented on #898
@pllim, I've removed this unused parameter in #996.  I added a note in the docstring for all the methods that took ``bright_radius`` as a parameter.

[2022-08-26 04:47] ejeschke opened #1019 "Release 4.1"
ToDo list:
- [x] resolve #898
- [x] fix #1033

[2022-08-26 16:22] pllim commented on #1011
Should not be hard to do for v4.0. Two main things:

1. `grep` for mentions of `master` in this repo and change to `main`.
2. If you mention `master` in your `github.io` stuff, you need to change that too.
3. Go into RTD admin and change the default branch from `master` to `main` but only do this after GitHub change has happened.

[2022-08-27 00:07] #898 closed

[2022-08-27 00:22] pllim opened #1020 "RTD failed with 2 warnings"
Example log: https://readthedocs.org/projects/ginga/builds/17910838/

[code]

[2022-08-27 00:59] ejeschke commented on #1020
Hmm.. I get a successful build when I do it manually with "make html".

[2022-08-27 01:05] pllim commented on #1020
The "xhtml" is weird. I wonder if it is from your other formats...

https://github.com/ejeschke/ginga/blob/fa9d412778d4c627a8d911cb9da86634bfa4ee47/.readthedocs.yml#L27-L30

[2022-08-27 01:06] ejeschke commented on #1020
Does the RTD build always start with a completely clean checkout?

[2022-08-27 01:07] pllim commented on #1020
Good question. Let me wipe and rebuild.

[2022-08-27 01:08] pllim commented on #1020
Actually, I cannot find the "wipe" button anymore. They might have moved their backend into the "cloud" so theoretically each build would be clean.

[2022-08-27 01:09] ejeschke commented on #1020
Do you get the error building manually?

[2022-08-27 01:12] pllim commented on #1020
I am about to log off but can check next week if time allows.

By the way, this is not an outright error. It would be a warning in your logs and you would still get a build. Only in RTD, we turn warnings into failures. So, if you pipe your local doc build into a log file, chances are you will see these warnings (e.g., using grep).

[2022-08-27 01:13] ejeschke commented on #1020
Ah, ok.  Because it looks from the terminal output like a fully successful build and reports no errors or warnings.  I'll dig around in the log files to see it I can find a message like that.

[2022-08-27 01:18] ejeschke commented on #1020
No message "duplicated ToC entry found" anywhere in the `doc` directory or any subdirectory.  I don't think I'm getting that error anywhere.

[2022-08-27 01:23] pllim commented on #1020
@ejeschke , from #1021 , looks like it is either the LaTeX or epub build... Do we really need those? I really don't wanna debug either of those.

[2022-08-27 02:14] ejeschke commented on #1020
I think we could take them out for now.  The LaTeX build would be nice to keep if it is not the source of the problem.

[2022-08-30 01:50] #1020 closed

[2022-11-02 02:38] ejeschke opened #1027 "Window not redrawn correctly initially or on a resize"
There is a bug in the StandardPipelineRenderer (the default one for the Ginga viewer), where the window may not be drawn correctly initially or on a window resize unless a pan or zoom operation has been performed.

This is reproducible in the Reference Viewer by turning off autozoom and autocenter on a channel, setting the pan position in the corner of an image so that some background is visible a

[2022-11-02 02:42] ejeschke commented on #1027
This bug has been fixed in working dev branch, targeted for 4.0.

[2022-11-02 02:44] ejeschke commented on #1027
I have also made a backport of the fix for 3.4.0 (to become 3.4.1).  I'm also backporting one other fix for the Preferences plugin that has been made since then.

@pllim, is there anything else you want to backport to 3.4.1?

[2022-11-02 02:51] pllim commented on #1027
Re: backport -- How are you doing it? I don't see any 3.4.x branch here.

No, I don't think so. Thanks for asking!

[2022-11-02 03:09] ejeschke commented on #1027
That's a question I was going to ask you! Actually, what I did was to checkout "v3.4.0", made a branch and applied the fixes.
I was planning to just tag the branch, push it here and make a release from it.  Is there some preferred method beside that?

[2022-11-02 03:12] pllim commented on #1027
Well... if you plan to do further 3.4.x series (e.g., v3.4.2 or more), maybe you can push that branch back out here and name it v3.4.x ? Then you can backport to that branch as needed and tag a new 3.4.x release from that branch as needed. That is what astropy does... YMMV

[2022-11-02 03:34] ejeschke commented on #1027
That sounds good. I'm not planning to make more releases from that, but you never know.

[2022-11-02 22:50] ejeschke opened #1028 "CI: pep_and_audit--`set-output` command is deprecated and will be disabled soon"
We are getting the following warning in CI:
[code]

[2022-11-02 22:51] ejeschke commented on #1028
@pllim, have you seen this before?

[2022-11-02 22:54] pllim commented on #1028
I saw this in my other repos too but didn't have time to look. I was hoping just updating the version of the actions stuff we call would be enough but I'll have to investigate.

[2022-11-03 00:16] ejeschke commented on #1027
v3.4.1 released, fixing this issue. Also, fix is in dev branch.  Closing this issue as fixed.

[2022-11-03 00:16] #1027 closed

[2022-11-03 00:25] #1028 closed