[2017-11-03 18:22] ejeschke commented on #62
Most of the newer modules are lower case. e.g.
[code]

[2017-11-03 18:38] ejeschke commented on #603
For RGB composition, you will need 3 identically-sized monochannel images.  Load them into Ginga and make sure that the one that will become the red channel is showing.  Press "Insert from Channel".  The preview may indeed look wierd, as there is only one channel present in an RGB image (usually it just looks red).  Now use "Thumbs" or "Contents" to make the green image showing in the channel view

[2017-11-03 19:43] #608 closed

[2017-11-03 19:44] adrn commented on #608
Thanks!

[2017-11-04 00:44] pllim commented on #557
Nope, nevermind... somehow `auto_start_naxis` that was added in 1bafee7c2be7027e does nothing now.

[2017-11-04 02:17] pllim commented on #603
Doing it this way, I see the 3 sliders, but the preview either looks weird (noisy, no data) or all black. I used three 2k by 2k FITS images of the same pointing but different background and/or exposure levels.

So, when you download "s1_mips_v0.30_sci.fits" from https://stsci.app.box.com/folder/3381606676 and use it to create R layer on your machine, do you see the same weird stuff as I did above?

[2017-11-08 03:11] ejeschke commented on #603
@pllim, I tried "s1_mips_v0.30_sci.fits" and I see the very dark image also.  I think this has to do with the fact that the `LayerImage` mixin does not work correctly with the auto cuts that is happening in the preview, and there is no easy way to set the cuts manually for the preview.  I think the auto cuts can be fixed for that, so let's leave this issue open until some progress can be made.  I'

[2017-11-09 07:53] olebole opened #614 "[2.6.6] ginga_test_suite gone?"
Hi Eric,

it was nice to see you at ADASS again :-) !

For Debian unit tests, I do a `python3 -m unittest "ginga.tests.ginga_test_suite"`, which [worked fine](https://ci.debian.net/data/autopkgtest/unstable/amd64/g/ginga/20171107_132933/log.gz) for previous versions. With 2.6.6, this is however gone (although still [mentioned](https://github.com/ejeschke/ginga/blob/241be7520f0c0168ed4a2018f7e18eaf

[2017-11-09 12:41] pllim commented on #614
Whoops that was my bad. Is it possible for you to use pytest ?

[2017-11-09 12:41] pllim commented on #614
setup.py test ginga

[2017-11-18 03:11] ejeschke opened #616 "PEP-8 clean up broke polygon containment check"
Recent PEP-8 clean up breaks polygon containment check of points.  Basically, the following check will fail:
[code]
and possible other polygon containment operations, e.g. regular `contains()` may fail as well.

The problem occurs between commits 1ad667eb5e64ca5f1390dcb064feccc2f4fef389 and 0442e2b97f10e0a71d64f52fd6b2c50222d80540.  If you checkout the first one and do a git diff with the second y

[2017-11-18 03:29] ejeschke commented on #616
This issue is fixed in commit e128e6c2dc036afcfbd10e2a32fff0c15b64fcbc.  I changed `tf is True` to:
[code]
This better illustrates what is going on.

Looking through the diff with the current master from 1ad667eb5e64ca5f1390dcb064feccc2f4fef389, I believe this is probably the only place where this problem was introduced.

[2017-11-18 03:30] ejeschke commented on #616
Ping @pllim, FYI.

[2017-11-18 03:31] #616 closed

[2017-11-18 13:45] pllim commented on #616
Ops, my bad. Sorry and thanks for fixing!

[2017-11-18 18:34] mitya57 commented on #614
I was able to run them using `pythonX.Y -c "import ginga; ginga.test()"`. However, two tests fail: `TestCmap.test_cmaps` and `TestCmap.test_get_names`. Looks like these tests do not take color maps from matplotlib into account. Is that a known issue?

[2017-11-19 12:49] mitya57 commented on #614
Also on Python 2 only, two tests fail with this error:
[code]

for these two lines in `ginga/util/wcsmod/wcs_astlib.py`:
[code]
when calling `wcsmod.use('astlib')`. It is because `my_import` adds `wcsmod` directory into `sys.path`, so from Python point of view `wcs_astlib` is no longer a package, so `.` and `..` can not be used.

[2017-11-20 18:57] pllim commented on #614
Thanks for the reports, @mitya57 ; I have submitted a fix at #617 . They did not get caught earlier because the current test matrix does not install `matplotlib` (also addressed in that PR) and does not test against all the supported third-party WCS packages ("future work"). It does currently test against `astropy.wcs` and there is an obvious note *not* to use relative import in that module, so in

[2017-11-20 20:38] ejeschke opened #618 "First Python 3 only release"
Ginga is currently Python 2/3 compatible.  At some point Ginga will switch to a Python 3 only code base.  The only question is when, and how.

One idea would be to follow the astropy lead and designate the Ginga 2.x releases as the last Python 2 compatible versions.  Releases from Ginga 3.0 onward will be Python 3.6+ compatible only.  Personally, I like this scheme as it also matches the Python ve

[2017-11-20 20:57] ejeschke commented on #618
@pllim, is there a schedule for making `astropy-helpers` python 3 only?

[2017-11-20 21:00] ejeschke commented on #618
[Ending Py2Py3 compatibility in a user friendly manner PyCon 2017](https://www.youtube.com/watch?v=2DkfPzWWC2Q).

[2017-11-20 21:14] pllim commented on #618
I believe `astropy-helpers` that goes with `astropy` 3.0 is already PY3 only but @bsipocz can confirm.

[2017-11-21 00:19] ejeschke commented on #604
@pllim, using qt5 on Ubuntu 16.04, or qt5 on Mac OS X, I don't see this issue.  When I press clear, the log text area shrinks, but as soon as any log messages begin arriving again it stretches out with each message until it fills the size of the plugin area again.

[2017-11-21 00:24] ejeschke commented on #611
@pllim, testing using two FITS files that have a table as HDU 1, when I do:
[code]
I get two thumbnails. Each table loads properly when I click its associated thumb.  It also works from `Contents` with double clicking.  Can I get some test data from you that shows the issue?

[2017-11-21 00:31] ejeschke commented on #594
@pllim, can you confirm that when you press the left/right arrows *in the workspace toolbar for the workspace that was added* that the channels are cycled correctly?

[2017-11-21 01:08] ejeschke commented on #594
Also, I think commit c7db292047b0c116a7826d7dcab57e9b6932e160 partially fixes this issue.  It removes the error messages.

But there is a larger issue which is outlined in #377.  I think it may be time to remove the arrows from the `Toolbar`.  Then I believe it the arrows in each workspace toolbar will not surprise anyone with their actions.

[2017-11-21 01:14] ejeschke commented on #594
Have to qualify this somewhat: when a workspace is added as a subworkspace, and the upper workspace is shown in "grid" mode, there appears to be a bug in how that is displayed.  I'll raise this as a separate issue.

[2017-11-21 16:52] pllim commented on #594
Thanks! I'll re-review this when I get a chance.

[2017-11-21 16:59] pllim commented on #618
That sounds sensible. However, if you have plans to support Ginga 2.x bug fixes *after* 3.0 release, you might need to branch off 2.x and do backports, similar to Astropy. Just a thought.

[2017-11-21 19:25] ejeschke commented on #618
That was my thought also.  That seems reasonable.

[2017-11-21 19:29] bsipocz commented on #618
we made the decision to have `astropy-helpers` 3.0 python3 along with the core package, but provide backports 2.0.x whenever possible (including some of the new "features" too when possible and when they don't break compatibility).

[2017-11-22 19:00] pllim commented on #594
@ejeschke , with the latest dev as of c7db292047b0c116a7826d7dcab57e9b6932e160 , I see **three** sets of arrows:

![screenshot from 2017-11-22 13-55-32](https://user-images.githubusercontent.com/2090236/33144988-e50066f0-cf8c-11e7-8e56-c9fe164fdadd.png)

![screenshot from 2017-11-22 13-56-01](https://user-images.githubusercontent.com/2090236/33144996-e8fff78e-cf8c-11e7-8b10-b4bc9bbbdb5c.png)

The

[2017-11-22 20:21] pllim commented on #611
Not sure what happened that day but it works now. Sorry for the noise!

[2017-11-22 20:21] #611 closed

[2017-11-22 20:29] pllim commented on #604
This is what I am seeing (this time I only went through Steps 1 and 2, not 3).

![screenshot from 2017-11-22 15-27-19](https://user-images.githubusercontent.com/2090236/33148405-bf7746da-cf99-11e7-8abd-873409a5745f.png)

[code]

[2017-11-22 20:46] pllim commented on #604
I attempted to debug this but realized that I can't reproduce it anymore. Not sure what happened there as I do a clean install every time... `¯\_(ツ)_/¯`

I'll re-open if it comes back and consistently. Sorry for the noise.

[2017-11-22 20:46] #604 closed

[2017-11-22 20:49] pllim commented on #614
Is this resolved? If so, feel free to close the issue. Thanks!

[2017-11-22 20:50] olebole commented on #614
Yesss

[2017-11-22 20:50] #614 closed

[2017-11-22 21:10] pllim commented on #602
I commented those out and the bug is still there, so not them. Will continue to investigate...

[2017-11-22 21:35] pllim commented on #602
Update: I tracked this to `image.set_naxispath(self.naxispath)` in `set_naxis()`, which in turn calls `image.set_data()`, which issues the `'modified'` callback that triggers `ChangeHistory`.

**Idea 1**

Modify `BaseImage.set_data()` to take one extra keyword that suppresses `self.make_callback('modified')` and have `set_data()` within `AstroImage.set_naxispath()` use this keyword.

Pro: Easy to

[2017-11-23 03:45] ejeschke commented on #602
The problem with Idea 1 is that a lot of different areas of code and/or plugins respond to the image modified callback in order to update their display or widgets (which they need to do, because the 2D image has changed!).  By shutting off that callback, it will be the case that some things won't update that should.

It seems to me that probably we want to have a higher level interface for modific

[2017-11-23 14:46] pllim commented on #602
@ejeschke , I agree that Idea 1 is not ideal. What do you think about my attempt at Idea 2 at #620? I still need to test if it really works.

[2017-11-23 20:53] ejeschke commented on #602
Here is something like what I have in mind.  Currently, the `Mosaic` plugin does this:
[code]

Instead, it should do something like this:
[code]
i.e. make the change first, then call a high-level call to update the info.  As long as `ChangeHistory` has registered for the `add-image-info` callback, it will get the updated information.

This approach requires a small change in `ginga.rv.Channel` to

[2017-11-23 20:56] ejeschke commented on #602
@pllim, I'll make a trial branch and update this issue with the link so you can try it out.

[2017-11-23 21:47] ejeschke commented on #602
@pllim, please try [this branch](https://github.com/naojsoft/ginga/tree/new-change-notification).  You will need to update any plugins that make modification notices to follow the example in `Mosaic`.

If this works for you I will submit it as a PR.  I think it is cleaner than trying to guess which invocations of the 'modified' callback are significant.

[2017-11-27 20:20] pllim commented on #602
@ejeschke , I agree that your solution is the right way to go (and it works with `Mosaic`). However, I am worried about backward compatibility. If I don't update the `stginga` plugins, the changes won't show up in the `ChangeHistory` anymore but there is no error message. Is it possible to issue an error when a plugin still uses the old `'modified'` callback?

[2017-11-29 00:34] ejeschke commented on #602
Hmmm, I'm not suggesting to remove the 'modified' callback.

Can you explain what kind of an error message you are thinking of (e.g. what would it say) and when one would see it?

[2017-11-29 02:23] pllim commented on #602
Whilst the 'modified' callback is still there, it no longer has effect on `ChangeHistory`, thus breaking backward-compatibility.

A message from `ChangeHistory` like, "An attempt was made to insert change history using the 'modified' callback, which is no longer supported. Please contact plugin developer to use <insert alternative> instead." What do you think?

[2017-11-29 02:39] ejeschke commented on #602
I think it may be slightly difficult, due to the fact that the `modified` callback is in only *some* cases tied to changes that should be recorded in `ChangeHistory` and then only because the user set some particular metadata in the channel `info` for an image, prior to the change.

One thing we might do is to detect that the plugin is trying to set the `reason_modified` attribute in the channel `

[2017-11-29 14:40] pllim commented on #602
Looking at `ChangeHistory.redo()`, `reason_modified` is actually optional and defaults to "Not given" if not given. However, it will not insert an entry if `iminfo.time_modified is None`.

So, theoretically, `ChangeHistory` could catch any "modified" callback without "time_modified" and then emit the warning? Does that make sense?

[2017-11-29 14:55] pllim commented on #602
@ejeschke , I'll run with my idea above and if it works, I'll submit a PR to your branch.

[2017-11-30 00:20] ejeschke commented on #602
But then won't it catch many of the uses of `modified` that aren't meant for `ChangeHistory`?  In any case, feel free to try out your idea.

[2017-11-30 00:38] ejeschke commented on #602
Ok, after looking at the particular combination of tests, I think your modification will work.  I'll merge it and submit as a PR.

[2017-12-04 21:16] #602 closed

[2017-12-04 21:33] ejeschke opened #622 "Release 2.7"
This issue is to plan the Ginga 2.7 release.

Here is a tentative set of items to be included:
* merge #619 (when it is ready)
* fix issue #603
* fix #595 (and maybe make the default == `True`)
* fix #594

Tentative release date end of Jan 2018 at latest.

[2017-12-04 22:21] ejeschke opened #623 "--opencv option fails with python 3 and opencv 3.1.0"
When using python 3 with `opencv` 3.1.0, ginga gets an error trying to do rotations:
[code]

Apparently, 3.1.0 is missing the `getRotationMatrix2D` call (in the python wrapper at least).  I confirmed this by importing `cv2` from an ipython shell and trying to find the missing function. It's not there.

Platform: Ubuntu 16.04 w/Conda

[2017-12-06 19:29] ejeschke commented on #622
Also include #624 if possible.

[2017-12-07 03:18] ejeschke commented on #614
@olebole , did this answer your question?

[2017-12-07 03:18] ejeschke commented on #614
Nevermind, I see that the issue was closed.  Sorry.

[2017-12-17 06:09] ejeschke commented on #622
And #626, if possible.

[2017-12-20 02:42] ejeschke commented on #595
This issue is addressed in commit 490f3c5a265b7ae9ee75d8afd539603793b48789.

The default behavior of the reference viewer is now to save the window layout.  The viewer can be started with `--norestore` to prevent the restoration of the layout, or alternatively, `save_layout` can be set to `False` in `general.cfg`.

[2017-12-20 15:55] pllim commented on #595
Thank you! It looks good.

[2017-12-20 15:55] #595 closed

[2017-12-20 17:56] #310 closed

[2017-12-20 17:58] ejeschke commented on #622
#619, #624, #626 merged. #595 fixed.

[2018-01-24 17:44] pllim opened #628 "DOC: Add code of conduct"
Why not?

[2018-01-24 20:06] ejeschke commented on #628
Seems reasonable.  Can we just make a file with a short statement saying basically that as an astropy affiliated project we adopt the astropy code of conduct, along with a pointer to that document?

Seems unnecessary to create a new one if there is a well thought out one out there that we can use.

[2018-01-24 20:51] pllim commented on #628
IMHO the Astropy one (http://www.astropy.org/code_of_conduct.html) should be sufficient. Otherwise, it can be a good starting point.

p.s. astropy/package-template#295 would add one to the Astropy package template if merged, if you want to wait for it.

[2018-01-30 02:49] ejeschke commented on #328
@pllim, revisiting this issue.  Do you have some examples of FITS files with significant distortion and screenshots of corrected images?  Would like to try out some support for correction in a branch I am working on.

[2018-01-30 17:28] pllim commented on #328
How about ACS on HST? http://www.stsci.edu/hst/acs/analysis/distortion

You can request all its images at http://archive.stsci.edu/hst/search.php . The Wide Field Camera in ACS is what you want.

[2018-01-30 21:15] ejeschke commented on #594
@pllim, could you let me know your thoughts about button behavior on commit a7648819f2ebf998f7cdec031999ee5ea7bacf8c ?  i believe this might be the best interim solution until/unless we decide to make a new navigation system for workspaces and channels.

Basically, I removed the `Toolbar` plugin arrows, and changed the workspace toolbar up/down arrows to only affect the channel that is active in t

[2018-01-31 00:44] ejeschke commented on #594
I'll look at adding something to disable the buttons if there are no images to cycle.

[2018-01-31 05:06] ejeschke commented on #594
Sorry, please wait a little until I add a couple more commits!

[2018-02-01 22:31] ejeschke commented on #594
Ok, ready for review.  Please take a look at commit 7cf505d33ac30fb2541b73518e86e86ffb1ebbd7 or later.

I've rethought this issue a bit and come to the conclusion that there should only be one set of up/down arrow buttons, and these should always behave as the up/down arrow keys on the keyboard--they change the image in the currently active channel.  So they are back in the Toolbar plugin, and lik

[2018-02-01 22:37] ejeschke commented on #594
All the arrow buttons also now are sensitive only when they will actually do something.

[2018-02-01 22:44] ejeschke commented on #622
@pllim, I think we are nearly ready to release 2.7 if/when you are ok with current status of issue #594.

Any last tweaks we want to make to the new plugin categories.  I think we'd better try and get that right in this release, and not be tweaking it too much afterward.

[2018-02-01 23:09] ejeschke opened #629 "Improvements to Blink plugin"
Blink plugin, when invoked as a local plugin (aka "Blink Images"), should probably disable the autozoom and autocenter features. autocuts should be optional to the user.

[2018-02-02 14:16] pllim commented on #594
I'll have a look today. Thanks!

[2018-02-02 18:12] pllim commented on #594
@ejeschke , the arrows in the latest `master` are certainly less confusing. The fact that they gray out helps a lot too. Thanks! :+1:

[2018-02-02 18:12] #594 closed

[2018-02-02 18:17] pllim commented on #622
I can't think of anything right now. :+1: for release, although do you want to wait for Astropy 3.0 first, in case there's some compatibility issues that you want fixed?

[2018-02-02 19:19] ejeschke commented on #622
I think maybe we can release a quick 2.7.1 if there are issues with astropy 3.0. I'd like to get this release out.

[2018-02-02 19:32] pllim commented on #622
Okay. Thanks!

[2018-02-03 02:43] ejeschke commented on #622
@pllim, when preparing a PR for the ginga-feedstock for conda-forge channel, what does the "hash_value" refer to?  It doesn't seem to be the SHA of the tagged commit of ginga as far as I can tell.

I want to update the conda-forge version of ginga to 2.7.0. Tnx!

[2018-02-03 12:40] pllim commented on #622
Ops. I don't remember now. @drdavella should know about the hash thingy.

[2018-02-03 15:31] pllim commented on #622
@ejeschke , there are instructions at https://github.com/conda-forge/staged-recipes/wiki/Frequently-asked-questions . However, I don't remember why hash for 2.6.6 is not the same as MD5 at https://pypi.python.org/pypi/ginga/2.6.6 . I might have somehow generated a SHA256 for it. Sorry.

[2018-02-05 19:01] ejeschke commented on #622
Thanks, @pllim!  Very helpful. I was able to generate the sha256.

[2018-02-08 19:51] #622 closed

[2018-02-13 16:53] pllim opened #630 "DOC: Fix RTD"
Pending resolution from astropy/astropy#7195

[2018-02-13 21:56] #630 closed

[2018-02-23 21:46] pllim opened #632 "Why Header not auto-started anymore?"
`Header` used to auto-start when I start Ginga but not anymore. In fact, there used to be 3 tabs started on the top left area, but now only one (`Info`). Is this intentional?

[code]

[2018-02-24 03:48] ejeschke commented on #632
Yes, it is intentional.  The more plugins that are auto-started, the slower the overall viewer becomes when files are loaded, as each one has a `redo()` applied.  Especially something like `Zoom` (which was one of the 3) it processes a fair bit as you mouse around the image.  The idea is that if you are not using the plugin you shouldn't have to pay the price of having it running.

I think when we

[2018-02-24 14:14] pllim commented on #632
Thanks for the clarification!

[2018-02-24 14:14] #632 closed

[2018-02-24 18:14] pllim opened #634 "Error making callback 'activate-plugin': 'optray'"
I saw this in my Ginga log. Any idea how I should debug this? I am using Ginga 2.7.
[code]

[2018-02-24 18:31] pllim commented on #634
Is this something that is already fixed in `master` since? xref a8560a8672ef53b997eb421ede3af1ab8e9c6acf

[2018-02-27 00:35] ejeschke commented on #634
Yes, I believe so.  I remember that error and committing a fix for it.

[2018-02-27 00:36] ejeschke commented on #634
@pllim, could you try master and see if you see the error in the log?

[2018-02-27 16:42] pllim commented on #634
Indeed, I don't see them anymore with Ginga 2.7.1.dev1877. Thank you!

[2018-02-27 16:42] #634 closed

[2018-03-06 20:07] gkanarek opened #636 "plugins for html5?"
I'm trying to adapt the Ginga web example to create a FITS viewer that I can embed in a larger web project. However, I can't find any documentation on using workspaces or plugins for the HTML5 toolkit. Is it possible to do so? If not, do you have any suggested workarounds?

[2018-03-08 20:15] ejeschke commented on #636
@gkanarek, sorry for the late reply.  Currently the HTML5 backend is sufficient for the viewer widget itself, but not for all of the widgets used in the reference viewer.  So the reference viewer currently only supports Qt4/Qt5/PySide/Gtk2/Gtk3 backends.  Furthermore, the plugins are designed to be used via the reference viewer and not stand alone, so they have never really been tested with the HT

[2018-03-12 18:39] pllim opened #637 "Feature request: Let user register custom file loader"
While looking into #327, I need to add a file loader to read JWST ASDF file. However, that file format is so specific that I think it only makes sense to have it live within `stginga` and not here.

I see that in your WCS support machinery, you allow user to define custom WCS classes. Is it possible to extend such a feature for file formats? Please advise. Thanks!

[2018-03-12 19:33] ejeschke commented on #637
You might want to check [this route first](https://ginga.readthedocs.io/en/latest/manual/internals.html#sec-custom-io).  I think writing your own ioloader and setting it as the class method in `AstroImage` in your boot up code for `stginga` would get you most of the way there.

Probably the one modification that would be useful in generic ginga would be to add pluggable support for registering MIM

[2018-03-12 19:36] ejeschke commented on #637
Not to hijack the topic, but in peeking at that documentation page, I think we need to update [this section on custom WCS](https://ginga.readthedocs.io/en/latest/manual/internals.html#sec-custom-wcs).  I think we added two new methods to the API (your work) and I extended the API to cover arrays instead of scalars.

[2018-03-12 20:54] pllim opened #638 "DOC: Update custom WCS section"
See https://github.com/ejeschke/ginga/issues/637#issuecomment-372436610

[2018-03-13 20:51] pllim opened #640 "AstropyWCS.spectral_coord gives IndexError"
Using header from https://github.com/ejeschke/ginga/blob/master/ginga/tests/test_wcs.py#L14
[code]

Is this a bug or am I using the method wrong?

[2018-03-13 21:27] ejeschke commented on #640
A `grep` of the ginga source tree doesn't reveal any uses of this other than to propagate the call up to `AstroImage`.  I'm trying to remember when this was used and have a vague memory of it being for one of the SunPy folks.  I believe it was for reporting while mousing around data cubes.  In `AstroImage` , it adds the `revnaxis` to the indexes before passing to the wcs.

When I load a spectral c

[2018-03-13 22:37] ejeschke commented on #640
I sort of remember the spectral value being reported in `MultiDim` when moving through the image cube, at one point.

[2018-03-14 21:03] pllim commented on #640
Ah, okay. Thanks!

[2018-03-14 21:03] #640 closed

[2018-03-15 09:11] olebole opened #643 "Ginga does not load IRAF image"
I tried to use the interface between IRAF and ginga (with Python 3). When I do a

[code]

in a freshly started IRAF, I get the following output on Ginga (with `--loglevel=9`, after enabling IRAF plugin):

[code]

[2018-03-15 09:20] olebole opened #644 "GInga takes ages to load"
(Python 3) When I start ginga, it shows a blank screen for ~30 seconds, before it is actually ready to go.
[code]
The full log is attached.
[ginga.log](https://github.com/ejeschke/ginga/files/1814732/ginga.log)

[2018-03-15 13:46] pllim commented on #644
How did you start it exactly? And which versions of Ginga and Astropy do you have? Are you doing something custom in your `ginga_config.py` on start-up? What data are you loading? I see some `get_rgb_object` calls and mention of a 664x664x4 data cube.

[2018-03-15 13:48] pllim commented on #643
I thought at one point, it was discuss to deprecate IRAF support in Ginga, but I can't find that issue now. Maybe @ejeschke can correct me if I am wrong.

[2018-03-15 13:55] olebole commented on #644
I started it just with
[code]
(also happens without any command line arguments)

Versions:
* GInga 2.7.0
* astropy 3.0
* Python 3.6.4

No customization; not loading anything. There was a `~/.ginga` when I recorded the log file, but the delay happens also when I delete it.

[2018-03-15 13:57] olebole commented on #643
Don't hesitate to remove it. I just by chance discovered it and thought adding ginga as possible Debian-`Recommends:` for iraf (as image display).

[2018-03-15 14:40] pllim commented on #644
Using the following versions, mine started up in 3 seconds. Log:
[ginga.log](https://github.com/ejeschke/ginga/files/1815772/ginga.log)

* RHEL7 64-bit
* Python 3.6.3
* Numpy 1.14.1
* Scipy 1.0.0
* Astropy 3.1.dev21573
* Ginga 2.7.1.dev1877

And here my Qt info:
[code]

[2018-03-15 16:22] olebole commented on #644
I guess the delay comes from the modules loading: this happens serially, and each module takes about 2 seconds to load. The CPU is not used here, so each module seems to have a builtin wait somewhere.

[2018-03-15 21:00] ejeschke commented on #644
There are no explicit waits in the modules.  Is it possible for you to test in a different environment (e.g. miniconda)?  For me startup is less than 3 sec with python 3 on Ubuntu 16.04 (native libs or miniconda) and similar on Mac OS X 10.11.6 with miniconda.

Is it possible that it is recompiling python 3 source each time?  Even so, it should not be 30 sec.

[2018-03-15 21:05] ejeschke commented on #643
The IRAF plugin is definitely not frequently used and needs a maintainer who is an active IRAF user.  Probably I should move it to the "experimental" folder and if someone doesn't pick it up in the next few months, delete it.

Before doing that I'll take a brief stab at reproducing this error.  Python 3, right @olebole ?

[2018-03-16 09:10] olebole commented on #644
Further investigation shows, that during startup, ginga tries to connect to some hosts:

 * 130.167.180.4 (Port 443)
 * 162.255.119.162 (Port 80)

The first is an STSCI host (ssbwebv1.stsci.edu); bit the second looks weird to me. When I disable networking, ginga starts quickly, so the connection delay seems to be the cause.
Since calling home for an application destroys user privacy: Can you tell

[2018-03-16 12:23] pllim commented on #644
Huh, Ginga should not be trying to connect to anything at STScI. @jhunkeler or @rendinam ,  do you know what ssbwebv1 is serving?

[2018-03-16 13:42] rendinam commented on #644
I'm not able to detect any network activity from ginga during startup in a packet capture.
  * Debian 9.2
  * ginga 2.7.0
  * astropy 3.0.1

As a sanity check, I am able to see network activity originating from ginga when I select "Help --> Documentation", as this loads a web page. Could the network activity you're seeing be originating from some other process?

[2018-03-16 13:45] olebole commented on #644
It is the ginga Python process:
[code]

[2018-03-16 14:14] rendinam commented on #644
Thanks for the output. The first version I ran was ginga as distributed as a conda package from the Astroconda channel. Then I noticed that you are running the system version, so I installed that. Sure enough, the ginga that ships as a Debian package creates network connections upon startup. Investigating further...

[2018-03-16 15:13] rendinam commented on #644
In the network traffic produced during startup of the Debian version of ginga, some HTTP requests are made to a host `data.astropy.org` which resolves to an institute machine.
`GET //usr/lib/python3/dist-packages/ginga/examples/configs/plugin_Operations.cfg HTTP/1.1`
`GET //usr/lib/python3/dist-packages/ginga/examples/configs/plugin_Toolbar.cfg HTTP/1.1`
`GET //usr/lib/python3/dist-packages/ginga/

[2018-03-16 15:15] pllim commented on #644
Huh. AFAIK `examples` are just that, examples. If Ginga plugin does not detect a `plugin_PluginName.cfg` , it uses software default. Maybe @ejeschke can clarify.

[2018-03-16 15:23] pllim commented on #644
Okay, I _think_ I have a suspect! Plugin docstring (e.g., https://github.com/ejeschke/ginga/blob/master/ginga/rv/plugins/Mosaic.py#L636) tries to pull in those examples using https://github.com/ejeschke/ginga/blob/master/ginga/util/toolbox.py#L135 for documentation.

Would adding `examples` to MANIFEST solve this problem? It is weird that only Debian saw this but not `astroconda`; does the latter

[2018-03-16 17:31] rendinam commented on #644
Copying the contents of ginga's `examples` directory into `/usr/lib/python3/dist-packages/ginga/examples/` eliminates the network activity upon startup for the Debian version.

If the .deb build can be persuaded to include the package_data directories specified in `setup.py` with something like `include_package_data=True`, that might eliminate the symptoms. The fact that HTTP calls end up being ma

[2018-03-16 17:58] ejeschke commented on #644
Great work everyone!

@olebole, I just checked by doing a fresh install and the config files are installed to the package area.  Can we do as @rendinam suggests above?  That would seem to be the straightforward solution.

[2018-03-16 18:03] ejeschke commented on #644
This should probably also be addressed.  @pllim, I assume we are using an `astropy` module helper function to retrieve these files.  Is there a way to disable the automatic attempt to download the config files via http?  Maybe we could just use regular python file system access to retrieve these, and put up an error message if they don't exist.

[2018-03-16 18:12] pllim commented on #644
That is correct. `get_pkg_data_filename` does attempt to connect to `data.astropy.org` when it cannot find the files locally. I'll make a PR. My bad, sorry!

[2018-03-16 18:47] ejeschke commented on #644
No, worries, @pllim.

@olebole, it is nice to have the examples installed somewhere when the package is installed; I had at least one user complain that they weren't installed, which is why I originally added them to the install.

[2018-03-16 19:51] pllim commented on #644
When #645 is merged, you should not run into this issue anymore. However, if you try to generate doc manually, plugin docstring will be incomplete (minor inconvenience).

Also FWIW, the tarball distributed by PyPI does already include `examples` folder and all its contents.

[2018-03-16 20:04] ejeschke commented on #644
From the installed package?  That's probably ok.  I think we eventually want to install the documentation at install time, if possible.

[2018-03-17 02:03] ejeschke commented on #644
Oops, didn't mean to close this yet.

[2018-03-17 02:04] ejeschke commented on #644
Merged #645, so this should take care of the main issue reported.

[2018-03-17 09:12] olebole commented on #644
In Debian, the examples are in `/usr/share/doc/python3-ginga/examples`. So, I can probably just change the default in [`generate_cfg_example()`](https://github.com/ejeschke/ginga/blob/e835db19f1f6f075667338dd7a477a8a46b7fb03/ginga/util/toolbox.py#L135), right?

[2018-03-20 01:00] pllim commented on #637
@ejeschke , I don't think I added those. Do you mean #512?

[2018-03-20 21:39] ejeschke commented on #637
Please see #495.  It was originally called `pointstosky()` (and `skytopoints`?) in your PR but we agreed to a name change to `datapt_to_wcspt` and `wcspt_to_datapt`.

[2018-03-21 19:24] ejeschke commented on #644
@pllim, I think you maybe should comment on this one because I didn't write that function.  @olebole, you mean for a Debian-specific fork or branch?

[2018-03-21 19:38] olebole commented on #644
Debian packages have usually a few minor changes; for GInga they are kept [here](https://salsa.debian.org/debian-astro-team/ginga/tree/master/debian/patches). I update them with a new version, so from your side nothing is needed. As you can see, the changes are rather trivial and Debian specific.
Since the change of the default example path is package dependent (`usr/share/doc/<<package>>/examples

[2018-03-21 23:25] ejeschke commented on #644
@olebole, interesting link.  Maybe @pllim can comment on whether `generate_cfg_example()` is the best place to patch that.

BTW, browsing that link, I'm led to a question that you might be able to answer. Is there a good generic function for locating scalable fonts in Linux (or at least Debian-based distros)?

[2018-03-22 10:36] olebole commented on #644
@ejeschke Sorry, I don't know. I just hardcoded the same way as you did. System wide fonts are in `/usr/share/fonts/`. There is a [Fonts](https://wiki.debian.org/Fonts) wiki page on Debian; maybe it helps you more.

[2018-03-22 15:05] pllim commented on #327
Update: After some internal discussions, it looks like I might have to move this one to `stginga` instead. If that is indeed the case, I'll close the issue here. FYI.

[2018-03-22 15:49] pllim commented on #644
@olebole , what is the motivation for having the config files in `usr/share/doc` instead of using the ones that come with Ginga installation? They seem to be included by default when I check PyPI tarball.

Anyway, I don't see problem for you to `sed` it in a way that works for Debian. Even if you don't patch it, when `generate_cfg_example()` cannot find the file, it simply throws a warning and ret

[2018-03-22 15:57] olebole commented on #644
These are not the config files, but the examples. In Debian, examples belong to the package documentation and therefore should be located in `/usr/share/doc/<<package>>/examples`.

[2018-03-23 08:42] ejeschke commented on #327
Given the community interest in gWCS, it seems like it would be useful to have that as a WCS option in Ginga.  But perhaps it can be added later copying the approach in `stginga`.

[2018-03-23 13:04] pllim commented on #327
My understanding so far is that it is only useful if you have data model schemas to go with it (e.g. schemas embedded in JWST pipeline). Discussion is still ongoing. Hopefully I'll know more next week. Thanks for your patience.

[2018-03-23 13:39] nden commented on #327
@pllim It's more like, if you want to display JWST raw data you will need the jwst package installed.
Asdf works with schemas in third party packages through extensions defined through entry points. The only hard dependence for ginga would be asdf and gwcs. Depending on where the data comes from and whether they are final products, users may need to have some other packages installed. I don't find

[2018-03-23 15:06] pllim commented on #327
Exactly. It only works with schemas. And currently only JWST uses it (and perhaps SunPy but in a different way). I can't envision how to support such a thing in a generic way over here. It is not like FITS WCS where all you need is a header (for better or worse). Might be better to contain this in `stginga` for now until it can be more generic. That is my current thought but we can discuss next we

[2018-03-27 20:31] pllim commented on #327
Update: @hcferguson has decided that it is best to hold this off until astropy/astropy#7326 and its counterpart of GWCS is merged. FYI. Thank you for your continued patience.

[2018-03-28 01:23] ejeschke commented on #327
Sounds reasonable.

[2018-04-24 16:33] #637 closed

[2018-04-27 01:47] #644 closed

[2018-04-27 01:52] ejeschke opened #648 "Make inherit_primary_header a channel setting"
I have a use case for using the `inherit_primary_header` setting, but I want to use it only selectively, for certain channels.  I suggest to make this a channel preference with default `False`.

If we were to do this, the question then is: does the setting in `general.cfg` override the channel setting or vice versa?

[2018-04-27 02:38] pllim commented on #648
FWIW, I would prefer a backward-compatible behavior. In my use case, I need it for almost everything. Thus, it would be shocking to my users to have to suddenly set it on a channel-by-channel basis. I guess, I am saying that I am in favor of `general.cfg`  overriding channel, however this is the opposite of generic `cfg` behavior?

[2018-04-27 03:43] ejeschke commented on #648
In general, the channel settings override the setting in `general.cfg` (where they overlap).  But we could either a) make an exception for this setting, or b) not explicitly add it to the channel settings when a channel is created, but if a user adds it manually to a channel's settings file it would take effect.

Option b) might be preferable because it preserves the principle of least surprise (i

[2018-04-27 03:46] ejeschke commented on #648
Another issue is that the image is usually loaded (and header processed) outside of the context of a channel, before being loaded into a channel.  So it may be a little convoluted with the current scheme to make that a channel setting anyway.  And what happens when you move an image from one channel to another, and they have different values for this setting?

[2018-04-27 03:51] ejeschke commented on #648
What I really want (I think) is a way to dynamically show the primary header inherited or not.  For example, a checkbox on the `Header` plugin that says to mix in the primary header or not.  Then you could click it on or off to examine the header with or without the primary header items mixed in.  In order to do something like that we'd need to maintain the primary header and hdu header as separat

[2018-04-27 12:52] pllim commented on #648
Yes, a check box to toggle sounds good to me. There's already a box to sort anyway.

[2018-05-02 02:28] ejeschke commented on #637
@pllim, see PR #649 .  That will probably be helpful for writing your ASDF loader, I think.

[2018-05-02 02:31] pllim commented on #637
Thanks, @ejeschke !

[2018-05-02 02:57] #638 closed

[2018-05-02 03:07] pllim opened #650 "DOC: pdflatex build failed on RTD"
https://readthedocs.org/projects/ginga/builds/7126415/

My LaTeX-fu is not strong enough to know why it is failing at a glance. Did #647 break it somehow?

HTML build is fine and seems to have been updated properly online. FYI.

[2018-05-02 04:00] ejeschke commented on #650
Looks like it is choking on the Japanese Kanji I have in there. But I'm not sure why it should start doing that all of a sudden.
[code]

[2018-05-02 04:01] ejeschke commented on #650
Then there is this one:
[code]

[2018-05-03 00:37] ejeschke commented on #648
See PR #651

[2018-05-04 02:44] ejeschke commented on #648
Closing this issue because there is better approach to this problem than making this a channel preference.

[2018-05-04 02:44] #648 closed

[2018-05-15 21:09] pllim commented on #650
I don't understand why builds only fail sometimes, not all the time, if it is indeed something wrong with the content: https://readthedocs.org/projects/ginga/builds/

![screenshot from 2018-05-15 17-07-29](https://user-images.githubusercontent.com/2090236/40083560-865e945a-5862-11e8-886b-e0154484806d.png)

Before we jump down the rabbit hole (:rabbit: :hole: )... Do we really need the PDF and EPUB

[2018-05-16 02:22] ejeschke commented on #650
I think that only some errors are fatal to the PDF build.  I know I had one error that was related to moving the IRAF plugin to `experimental`-- that was fixed.  The unicode error seems to be non-fatal.  I read some threads (see [here](https://github.com/rtfd/readthedocs.org/issues/416), [here](https://github.com/agda/agda/issues/2153), and [here](https://github.com/rtfd/readthedocs.org/issues/155

[2018-05-16 02:25] ejeschke commented on #650
I think those builds are relatively unimportant compared to the HTML build, but I think it would be better to have those other builds succeed.  I suspect that it is related to the "\renewenvironment{notice}" error.

[2018-06-14 16:05] pllim opened #655 "DOC: Does RTD need to display all the old versions?"
On http://ginga.readthedocs.io (which now points to "stable" by default instead of "latest", as discussed in https://github.com/ejeschke/ginga/pull/652#issuecomment-396733401 , if you click on the available versions, bottom left (see attached screenshot), you see older versions available all the way back to 2.6.0. Can we hide some of the older ones? Maybe just display, say, "latest", "stable" (now

[2018-06-14 20:20] pllim opened #656 "DOC: jupyterw vs pgw"
I see there are `jupyterw` and `pgw` under `ginga/web/` folder. From the example notebooks, viewers from both can be used. So, as a user, when do I use `jupyterw` vs `pgw`? Perhaps this can be documented somewhere?

[2018-06-14 20:27] ejeschke commented on #655
So which version is considered "stable", the last release?

[2018-06-14 20:28] ejeschke commented on #655
Since we basically consider any release stable, it would be nice to just have "latest", plus the releases.  Think that is possible?

[2018-06-14 20:29] ejeschke commented on #655
And we could limit to the last 3 releases or something.

[2018-06-14 20:29] pllim commented on #655
Yes, "stable" always points to last release, which is currently 2.7.0.

[2018-06-14 20:30] pllim commented on #655
If 2.6.6 is a bug fix release of 2.6.0, is anything `<2.6.6` needed to be displayed?

[2018-06-14 20:30] ejeschke commented on #655
I think not.

[2018-06-14 20:32] pllim commented on #655
So, display only these then?

* latest
* stable (2.7.0)
* 2.6.6

(When 2.8.0 is out, 2.7.x can be made visible again separately.)

[2018-06-14 20:48] ejeschke commented on #655
@pllim, what do you think?

[2018-06-14 20:53] pllim commented on #655
I would tend to agree with myself at https://github.com/ejeschke/ginga/issues/655#issuecomment-397429091 :sweat_smile:

[2018-06-26 15:06] pllim opened #659 "TST: TestColorDist.test_dist_function failing with numpy prerelease (upstream fix required)"
This is just informational. There is a test, namely `TestColorDist.test_dist_function`, in Ginga that will fail until numpy/numpy#11426 is addressed. For now, ignore its failure in the `NUMPY_VERSION=prerelease` job.

[2018-06-27 15:33] pllim opened #661 "Feature Request: User API to display active bindings"
I still have not memorized the Ginga bindings and sometimes wish to know what are the shortcuts I can actually use in a viewer. While there are documentation at https://ginga.readthedocs.io/en/latest/quickref.html , they are the default settings and not guaranteed to work as advertised if bindings are customized.

Programmatically, I could do something like this:
[code]

But even this is not compl

[2018-06-27 16:47] pllim commented on #659
Update: Upstream fix is just merged. I would give it a day or two for that fix to propagate to CI. After that, the failing test should magically pass again.

[2018-06-27 17:03] mwcraig opened #662 "Slow response in jupyter widget interface with lots of markers"
I've been playing a bit more with the Jupyter widget and notice that it gets pretty laggy (responding to pan or zoom) when there are several markeds. I think it is noticeable by 100 markers, and definitely with 1,000 markers.

I can upload a screen capture GIF if that would be helpful, and help try to trouble shoot if you can point me towards the right part of the code.

I'm adding the markers lik

[2018-06-27 18:24] mwcraig commented on #662
That definitely speeds up addding the circles, and seems to reduce the lag some. Still noticeable, though...

[2018-06-27 21:17] ejeschke commented on #662
This is definitely a limitation that affects any backend of Ginga.  It's due to the fact that the objects are maintained as python objects and drawn using python wrapped drawing calls.  So, for circles, an iteration of 1000 calling a python wrapper API (e.g. Qt, etc)  that draws a circle is made.  For some things, like a polygon with many points, a single drawing call is made, so something like th

[2018-06-28 20:17] ejeschke commented on #661
Examining the bindings is the most reliable way to find out all the user interface mappings.   Examining the settings of this object will yield the mini language fragments, from which you can deduce the behaviors.

In your "action" column the prefix ('mod_', 'dmod_', 'ms_', etc) determines what is being defined.  Here is a rough summary:
* mod: defining the modifier keys
* dmod: defining a mode
*

[2018-06-29 18:39] pllim opened #663 "Feature Request: Add requirements files"
It would be nice to have requirements files, so user can simply do, say, `pip install -r requirements_qt5.txt`, if they want all dependencies for Ginga to run under Qt5.

This thought came to mind when I re-install Anaconda and I run into this or that not found when trying to use a Ginga widget for Jupyter notebook. I had to go back and reinstall missing dependency multiple times until things star

[2018-06-29 19:17] ejeschke commented on #663
This is a great idea.  Is the format of the file something compatible with `pip` or `conda` ?

[2018-06-29 19:19] ejeschke commented on #663
Maybe better to put them in a directory, because there are a lot of possible back ends.  Could use the `doc` directory, but what about `reqs` or `install`?

[2018-06-29 19:37] ejeschke commented on #663
I'm just a little concerned that there might be quite a few and it will clutter up the root directory.  How about a directory named `requirements`?

[2018-06-29 19:49] pllim opened #664 "aggdraw cannot load font (no text renderer)"
@ejeschke , are you familiar with this error? What dependency am I missing here? I was attempting to initialize `EnhancedCanvasView` from `jupyterw` on Jupyter Lab. Problem is this is a new installation of Miniconda3, so while this used to work in the old installation, it does not anymore.
[code]

[2018-06-29 19:51] pllim commented on #663
That sounds good. Even better if it is explained in README and perhaps also in installation doc.

[2018-06-29 20:07] pllim commented on #664
Minimally reproducible code:
[code]
So this is not a Ginga problem per se, but I can't get Ginga viewer to display without fixing this.

[2018-06-29 20:42] ejeschke commented on #664
Did you try with a TrueType font?  I think only truetype fonts are supported.

[2018-06-29 20:45] pllim commented on #664
Maybe this never worked even before. I uninstalled `aggdraw` completely, so now Ginga falls back to `pillow` and it is working. :woman_shrugging:

[2018-06-29 20:45] #664 closed

[2018-06-29 20:46] ejeschke commented on #664
[This link](https://stackoverflow.com/questions/17770413/aggdraw-cannot-load-font-no-text-renderer) and [this one](https://stackoverflow.com/questions/26497041/installing-aggdraw-with-freetype-support) look like they might have more information for this error.

I've never tried to build `aggdraw` on Windows before.

[2018-06-29 20:49] pllim commented on #664
I stared at that `FREETYPE_ROOT` reply for a while but I don't know how to apply it to a `conda install`. I shouldn't have to modify source code myself for such things? Anyway, I am moving on... Thanks anyway!

[2018-06-29 20:55] ejeschke commented on #664
Yes, it requires more intervention to install aggdraw.  Also, I think the package has been mostly abandoned by the original author.  There are several forks on github, including (mine)[https://github.com/ejeschke/aggdraw]. I've fixed a few bugs and added python3 support.

It does nice antialiased drawing, so I think the results are maybe a little better than pillow, but difficult to install on non

[2018-06-29 22:36] pllim commented on #662
@mwcraig mentioned https://github.com/bloomberg/bqplot/ . Perhaps Ginga can benefit from it for this issue?

[2018-07-07 05:08] #656 closed

[2018-07-09 20:01] ejeschke commented on #663
I noticed that there is a `rtd-pip-requirements` file in the `doc` directory.  Maybe this should be moved into the directory with the other requirements files.

[2018-07-09 20:12] pllim commented on #663
Sure. However, please be advised that RTD admin settings need to be updated accordingly to find that file's new location.

[2018-07-09 20:31] ejeschke commented on #650
@pllim, cautiously optimistic that I fixed the PDF build with the [solution outlined here](https://github.com/rtfd/readthedocs.org/issues/416).  At least, it looks like the [current build succeeded](https://readthedocs.org/projects/ginga/builds/7461156/). :grinning:

[2018-07-09 21:19] ejeschke commented on #650
Looks like the RTD builds are succeeding again without errors.

[2018-07-09 21:19] #650 closed

[2018-07-09 21:37] pllim commented on #650
Wow, great find! f579597550596ce31ef56a looks like some magical incantations. :clap:

However, while it got rid of the error, it is not rendering Japanese characters properly in PDF:
![untitled](https://user-images.githubusercontent.com/2090236/42477253-6983b218-839e-11e8-8a56-d0f68ae368c8.jpg)

Not sure how much this is an issue for you. AFAIK, not many download the PDF doc, which also has other

[2018-07-09 21:49] ejeschke commented on #650
Yes, I know that it makes problems for the PDF.  But at least there is a PDF--and the characters aren't that significant for the bulk of the manual.  Hopefully RTD will get this problem sorted out with better unicode support and then we can easily revert it.  Thankfully the change only involves adding some lines to the conf file, so the HTML still retains the characters and looks good online!

[2018-07-14 02:05] pllim opened #666 "DOC: How to pass in your own RGB mapper"
For instance, how can one use https://github.com/astropy/astropy/blob/master/astropy/visualization/stretch.py stretch in https://github.com/ejeschke/ginga/blob/master/ginga/RGBMap.py . This would complement the manual on how to pass in your own image format and WCS.

p.s. As discussed during Scipy 2018 pre-sprint sprint. cc @mwcraig and @eteq

[2018-07-14 16:46] ejeschke commented on #662
Experimental aggdraw vector drawing looks promising. Drawing 10000 circles seem to work pretty fast.  Will post a reference to the PR soon.

[2018-07-14 21:59] mkb0517 commented on #603
The Compose documentation seems to be out of date. It is no longer under the Operations -> Dialogue menu, but now it is the Plugins->RGB menu.

[2018-07-14 21:59] pllim commented on #663
Idea from Scipy: Have a wizard that walk user through what backends they wish to use (e.g., `astropy` or `fitsio`, `astropy.wcs` or starlink`, etc) and then produce a customized requirements file. If we go this way, we might even format it different by asking if user wants to use `pip` or `conda`. *However*, this help function cannot be inside Ginga installation because it is needed to install Gin

[2018-07-14 22:13] pllim opened #668 "DOC: Plugins doc should reflect new menu layout"
#619 changed "operations" menu layout but plugin instructions are not updated accordingly, as reported by @mkb0517 in https://github.com/ejeschke/ginga/issues/603#issuecomment-405052500 . A sweep through all the plugins to correct this is necessary.

[2018-07-14 22:16] pllim commented on #659
It is fixed upstream.

[2018-07-14 22:16] #659 closed

[2018-07-14 22:17] pllim commented on #636
Update: I think we are moving in the direction of widgets instead of plugins. However, this issue should still be open as a reminder for what kind of widgets would make sense to implement.

[2018-07-14 22:22] pllim commented on #421
Since IRAF is moved to experimental, we can close this as "won't fix".

[2018-07-14 22:22] #421 closed

[2018-07-14 22:34] pllim commented on #334
Note from Scipy 2018: To enable tests for different toolkits, we can compare PNG screen captures. For example, see `compare_images()` in https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/testing/compare.py#L361 . The limitation is that this limits the testable region to image display region; i.e., you cannot test GUI elements (e.g., did hitting "Cancel" work as expected?). Howeve

[2018-07-14 22:42] pllim opened #670 "DOC: Detailed "how to write plugin" tutorials"
Part of #182 but targeted for ADASS 2018. Maybe follow PMOTW format?

[2018-07-15 01:34] pllim commented on #664
For the record, I did get `aggdraw` to work on Windows by following the following steps:

1. Clone the `aggdraw` repository. Here, I clone Eric's bug fix branch instead (might as well): https://github.com/ejeschke/aggdraw/tree/vectorized-drawing
2. Modify `setup.py` like mentioned in https://stackoverflow.com/questions/17770413/aggdraw-cannot-load-font-no-text-renderer
3. `python setup.py install`

[2018-07-18 18:56] pllim commented on #664
OK. I opened an issue upstream at pytroll/aggdraw#28

[2018-07-18 19:00] pllim commented on #668
Following discussions from #671

@ejeschke -- "I wonder about the whole idea of 'hardcoding' the menu locations of plugins in the documentation, given that the user can actually create their own menu order quite easily! Maybe we need some language that allows for this flexibility."

@mkb0517 -- "Maybe if we add “by default” to it? I’d assume that by the time they were making they were making their

[2018-07-21 16:43] pllim opened #672 "Error drawing circles when coord="wcs""
While developing for eteq/astrowidgets#1 , I encountered error when drawing circles in in `coord='wcs'` mode. Circle radius is set to 20 (I assume it is in pixels but I have no idea if its unit secretly changes when I switch from "data" to "wcs" mode).

Here are the four points I attempted to draw:

RA (deg) | DEC (deg)
--- | ---
3.609821370156458 |-30.378452205494682
3.589858963715532 | -30.36850

[2018-07-21 17:00] ejeschke commented on #672
I fixed that bug, but haven't pushed the code yet.  Just wait a little and it will show up in the PR.

BTW,when `coord='wcs'` the radius is specified in degrees as well.

[2018-07-21 17:06] pllim commented on #672
Hmmm. Personally, I prefer radius to be in number of pixels regardless. As a user, I usually envision circle size in pixels and don't want to bother with "how big such-and-such degrees would actually appear on the display". However, I'll let @eteq and @mwcraig chime in as well.

[2018-07-21 18:57] ejeschke commented on #672
Its not an uncommon use case (at our observatory) to want to visualize a point on the sky and its radius in degrees. Such calculations are handled more easily and accurately if all the coordinates are in the same units.

There is only one `coord` parameter to any object, which determines the coordinate mapper object that is assigned to the shape. I don't think it would be difficult to subclass one

[2018-07-21 18:58] ejeschke commented on #672
Of course, you could then subclass `Circles` to make it do that automatically.

[2018-07-21 19:15] ejeschke commented on #672
Thinking about that just a bit further, it's probably not too much more work to subclass the shape to make it take an `astropy` coordinate object and the radius as a value with a units attached. Am I correct in assuming that if you have a `SkyCoord` and you add a unit that is in pixels it does the right conversions?

[2018-07-24 16:01] djhoese commented on #664
@ejeschke and @pllim I mentioned this in the related aggdraw issue, but if you have ideas for a fallback for finding freetype libraries that doesn't include the freetype-config command, let me know. Previously aggdraw used to have a hardcoded path and after I took over the project I included the functionality from someone else for using `freetype-config --prefix`. It seems that freetype on conda-f

[2018-07-24 17:14] pllim opened #673 "MNT: Python 3.7 support"
1. Ensure Ginga works with Python 3.7
2. Add Python 3.7 to Travis CI matrix

[2018-07-24 18:47] pllim opened #674 "API for click + drag to pan?"
My intention is to register, say, a `drag-start` callback and then let user to select a region of the image to pan to. I don't see any such functionality built-in for the standalone reference viewer (or maybe I just can't find it). Any advice on how to implement this would be greatly appreciated. Thanks!

[2018-07-24 19:43] ejeschke commented on #664
Well that is good news then. If conda can include that it would help a lot. I see that it is installed with the Ubuntu (and presumably Debian) freetype packages.

[2018-07-24 19:55] ejeschke commented on #674
There is a feature like that in the `Pan` plugin.  Using the right mouse button, draw a region.  It will attempt to make the channel image pan roughly to the region drawn.

The catch is that this only works really well if the region drawn has an aspect ratio similar to the channel window.  If it doesn't, it does the best it can to match the area drawn.  Anyway, if you like the functionality you (o

[2018-07-24 19:55] ejeschke commented on #674
Forgot to say, draw a region *in the Pan window*.

[2018-07-24 20:13] ejeschke commented on #673
Just tested with a fresh `miniconda` install.  Tests all pass.  Reference viewer seems to run fine with the sampling of plugins I tried.

[2018-07-24 20:16] pllim commented on #674
Actually... Maybe I misunderstood what @eteq wants for "click-and-drag" mode. At first, I thought he wants what I mentioned above. But now that I look at it again, maybe he just wants to click to drag the window around, not to draw a region. @eteq , can you please clarify? Thanks!

[2018-07-24 20:17] pllim commented on #673
Thanks for checking! When I get the chance, I'll try it more extensively and report back.

[2018-07-24 20:59] ejeschke commented on #674
Did you get the notes from @mwcraig?  I think we implemented that feature in his jupyter notebook.  It's a one-liner.

[2018-07-24 21:20] mwcraig commented on #674
I'll be getting around to implementing the stuff we talked about later today (or more likely tomorrow). I'll build on what @pllim has so far.

[2018-07-25 15:00] pllim commented on #674
Looks like @mwcraig got this, so closing the issue. Sorry for the noise!

[2018-07-25 15:00] #674 closed

[2018-07-25 17:10] pllim commented on #672
Currently, for `coord='wcs'`, I pass `SkyCoord.ra.deg` and `SkyCoord.dec.deg` into Ginga.

To convert radius from degree to pixels, I would need to know the detector pixel scale (which might or might not be available as metadata in the image). How does Ginga compute this conversion internally?

[2018-07-26 03:07] mwcraig commented on #672
I'm guessing it is derived from the WCS.

This might be nice; I can imagine cases where I want to specify the location in world coordinates but I want the mark to have a fixed pixel size (e.g. for aperture photometry).

An alternative might be to allow radius to have a unit (even if x, y are still separate unitless arguments).

[2018-07-29 20:34] pllim commented on #664
Just a note to my future self because I wasted an hour trying to figure out what I set `FREETYPE_ROOT` to manually before. Hey, future self, it is:
[code]

[2018-07-29 20:53] pllim opened #677 "FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated"
I get the following warning when using Ginga:
[code]

I think it is from numpy/numpy#9686 ?

[2018-07-30 13:08] jhennawi opened #678 "plot a sequence of points on a ginga image from the command line"
Hi All,

I am having trouble figuring out how to plot a point on an image in RC mode. This does not appear to documented anywhere, and I cannot figure out the syntax.

Here is what I'm doing:

viewer = grc.RemoteClient(host, port)

Then I display the image, which works fine.

canvas = viewer.canvas(ch._chname)
canvas.add('point', [870.0],[826.0],[10.0],style='plus', color='red')

My understanding

[2018-07-30 13:31] pllim commented on #678
Hello. Do you really need the remote client functionality? If you are trying to plot things locally, I would recommend the HTML5 interface instead.

[2018-07-30 14:09] jhennawi commented on #678
Yes, I'm developing data reduction pipelines and the plotting absolutely needs to be launched from the command line using the remote client functionality.

[2018-07-30 15:12] jhennawi commented on #678
Hi All,

To make this issue much more concrete here are my suggestions:

The documentation here

https://ginga.readthedocs.io/en/stable/manual/plugins_global/rc.html#sec-plugins-rc

is very nice, but if falls short of explaining how to actually plot things (like points) on a ginga image using the remote client interface. There is a nice example there for a path, which I have used, but I am not abl

[2018-08-04 13:41] pllim commented on #655
I have made changed on RTD to display

* latest
* stable
* 2.7.1
* 2.6.6

[2018-08-04 13:41] #655 closed

[2018-08-06 20:31] ejeschke commented on #678
Hi Joe.  Sorry for late reply; just returned from vacation.

Your example works for me if I do the following, instead:

    canvas.add('point', 870.0, 826.0, 10.0, style='plus', color='red')

I apologize for the poor documentation.  In general, for the plot objects you can figure out the API from looking at the class constructors, e.g. [here](https://github.com/ejeschke/ginga/blob/master/ginga/can

[2018-08-06 21:22] pllim commented on #677
1.15.0

[2018-08-06 21:23] ejeschke commented on #677
@pllim, I remember also seeing this briefly with one miniconda install, but can't reproduce the error message now.  Does the message go away if you replace the line

    view = revnaxis + [slice(None), slice(None)]

with

    view = tuple(revnaxis + [slice(None), slice(None)])

?

[2018-08-06 21:29] ejeschke commented on #677
That seems to fix it for me. You?  If so, I will submit a PR.

[2018-08-06 21:34] ejeschke commented on #677
Found and fixed a place in `Cuts` that also had this issue.  Now checking `LineProfile`.

[2018-08-06 21:38] ejeschke commented on #677
Fixed 2 spots in `LineProfile`.  That's all the instances of the problem I could find.

[2018-08-07 08:03] jhennawi commented on #678
Many thanks Eric! One last question. If I want to plot a list of points on an image, how would I do that?

Best Wishes,
Joe

[2018-08-07 08:05] jhennawi commented on #678
Finally, while I have your attention. If I want to show another image in a existing RC ginga window, but would like the zoom level stay fixed, is there a way to do that. Currently every time I show a new image, it resets to the default zoom level. Basically I'm looking for an analog to the /align keyword in IDL atv.pro.

Thanks!
Joe

[2018-08-07 18:38] ejeschke commented on #678
Sure:

    ch.enable_autozoom('off')

[2018-08-07 18:52] pllim commented on #677
Looks like this is addressed in #680. Thanks!

[2018-08-07 19:15] #677 closed

[2018-08-07 20:40] ejeschke commented on #678
@jhennawi, could you install from master and try the following?

    pts = np.random.randint(0, 100, (20, 2))
    # note: must cast numpy floats to regular python floats to pass the remote interface
    spec = [dict(type='point', args=(float(pts[i][0]), float(pts[i][1]), 10))
                 for i in range(20)]
    canvas.add('constructedcanvas', spec)

I've added a `ConstructedCanvas` type that

[2018-08-10 16:34] pllim opened #681 "Improve grc interface and documentation"
Prompted by #678 , there is a need to improve both the interface and documentation for `grc`.

* Interface
  * How to use plugin-like functionality with `grc`?
* Documentation
  * API
  * Examples/tutorials

[2018-08-11 00:31] ejeschke opened #683 "Cursor plugin does not update when blinking images"
@dthatte reported that cursor info (coordinates and value) does not update when images are blinked in a channel (e.g., pressing up/down arrow keys to switch images in a channel).

[2018-08-11 00:32] ejeschke commented on #683
@pllim referenced this issue in #682

[2018-08-11 00:41] ejeschke commented on #683
Think this is addressed in #684, but please don't close this issue even if we merge that, yet.  Want to double check some things.

[2018-08-11 22:43] #683 closed

[2018-08-20 15:08] profxj opened #685 "Set cut levels interactively"
Might someone provide me with the syntax I would need to use
to set the Cut levels interactively, i.e. in a RC session

Thanks!

[2018-08-20 20:36] profxj commented on #685
Indeed #678 covers it well.

I should have known Joe would ask for me! :)

[2018-08-20 20:36] #685 closed

[2018-08-21 11:27] jhennawi commented on #678
Hi All,

Thanks for all of the help. Happy to close this issue. Is there a way to create a cheat sheet for grc interface in the new docs with all of these examples listed. From my perspective the more the merrier. At present, I'm usually having to grep around in the code to find these commands, or else I have to bother everyone here.

Thanks!
Joe

[2018-08-21 13:12] pllim commented on #678
@jhennawi , that's a great idea! Would you like to contribute? As a frequent user of this feature, you would be a good candidate to write up such a document.

[2018-08-21 15:08] djhoese commented on #664
@pllim Could you try the most recent aggdraw 1.3.5 and see if this issue is now fixed? I added the functionality to the setup.py to use `ctypes.util.find_library` as a fallback when freetype-config doesn't exist. I tested your simple font load on my Windows VM and it seemed to work.

[2018-08-21 15:28] pllim commented on #664
@djhoese , thanks for the fix. However, while I see `aggdraw` 1.3.5 on `conda-forge` on Linux, it does not appear to be available yet on Windows. I'll have to wait a little.

[2018-08-21 15:35] djhoese commented on #664
It is available on windows but you may have to force the version since i think it pinned itself to a newer version of freetype. @ocefpaf may know more.

[2018-08-22 20:25] pllim commented on #664
Pinning `conda install aggdraw=1.3.5` worked. And `FREETYPE_ROOT` problem has disappeared. Thank you very much!

[2018-08-22 20:59] pllim opened #687 "Start milestoning PRs?"
I was trying to see if #665 made it into a release and had to dig around the repo. Should we start milestoning PRs?

[2018-08-23 00:27] ejeschke commented on #687
I'd be in favor of that.

[2018-08-23 00:39] pllim commented on #687
There are already milestones available. Just have to remember to use them. I am glad you are on board. Thanks!

[2018-08-23 00:39] #687 closed

[2018-08-27 21:31] #257 closed

[2018-08-28 09:52] jhennawi opened #691 "customizing color map?"
Hi All,

I have images which have a fraction of pixels which are masked. I'm trying to indicate these pixels via color-code, with each mask bit having a different color.

I was trying to do this by over plotting points using 'Points' and the  canvas.add('constructedcanvas', canvas_list) functionality, kindly pointed out to me by @ejeschke.

However, for large images with significant numbers of mas

[2018-08-28 13:06] pllim commented on #691
Hi, Joe. You mean like this? https://stginga.readthedocs.io/en/stable/stginga/plugins_manual/dqinspect.html

If so, it is already implemented but over at `stginga`. I could possibly move it to this repo if it is useful to others. The DQ flags I use are pretty HST and JWST specific but they can be customized.

[2018-08-28 13:08] pllim commented on #691
Or if you don't want it in the plugin form but want to look at the code, it is at https://github.com/spacetelescope/stginga/blob/master/stginga/plugins/DQInspect.py . Its license is BSD. And it is no longer PY2 compatible (PY3 only). FYI.

[2018-08-28 13:09] jhennawi commented on #691
Hi @pllim

That is beautiful and exactly what I need! I similarly have a bit mask that I would like to color code and display.

Joe

[2018-08-28 13:10] pllim commented on #691
Great! It could use some improvement. So, I would welcome PRs if you find bugs etc. 😄  Thanks.

[2018-08-28 13:11] jhennawi opened #692 "QPainter error"
Hi All,

I'm getting this QPainter error out put which causes channels to crash. The context is that I'm plotting images to multiple channels using the RC interface, and using ch.cut_levels() to manually change the
cuts of a given channel.

This crash strangely goes away when I take out the cut levels call. I can try to create a script that reproduces the error, but any thoughts of the top of your

[2018-08-28 13:11] jhennawi commented on #691
Happy to take it for a spin!

[2018-08-28 13:12] jhennawi opened #693 "Is there a way to enable the WCS Match Analysis plugin from the RC interface?"

[2018-08-28 13:18] pllim commented on #692
I encountered it back in #112 for a different use case. This is probably a different cause since @ejeschke patched that one like 3 years ago. However, I was able to debug it by inserting print statements in suspected places and running that debug version of Ginga to reproduce the errors. Maybe Eric J has a better idea.

[2018-08-28 13:32] jhennawi commented on #691
Hi @pllim,

I should also add that given the way I'm using ginga, I'd ideally be able to control this from the RC interface? Not sure if that is possible, but it seems that this is do-able with any plug in, i.e  see
my question about another plugin:

 #>https://github.com/ejeschke/ginga/issues/693

[2018-08-28 13:34] pllim commented on #691
@jhennawi , unfortunately the RC interface is beyond my expertise. Hopefully @ejeschke can answer this one. In the worst case scenario where you need to re-implement it for RC, hopefully you could still re-use some code from the plugin instead of re-inventing the wheel. 🤞

[2018-08-28 13:35] jhennawi commented on #691
Okay great.

[2018-08-28 21:13] ejeschke commented on #691
@jhennawi, you might also have a look at the `Overlays` plugin as well, although I think @pllim's `DQInspect` is closer to what your end purpose is, it seems. (Side note @pllim, this is the second user that has asked about something like this to me, might be worth considering putting a customizable version in stock reference viewer).

Also, FWIW you could create a custom color mapper, but I think

[2018-08-28 21:14] pllim commented on #691
Okay, I'll see what I can do... 😄

[2018-08-28 21:28] ejeschke commented on #691
Re: invoking from `RC`, do you mean to just start the plugin, or to call methods on it?  The former is doable using the current interface, the latter will require some small tweaks to the code, but sounds like a useful feature.

[2018-08-28 21:31] ejeschke commented on #693
Using the RC "ginga" handle, invoke the method `start_global_plugin()` with the string "WCSMatch".  LMK if you need more info, @jhennawi.

[2018-08-28 21:33] ejeschke commented on #692
This is probably due to the remote call actually invoking a Qt graphics operation, which is a no-no. Pretty easily solved using either `gui_do()` or `gui_call()`, but probably should be done in the general case from the `RC` plugin.  I'll take a look.

[2018-08-28 21:38] ejeschke commented on #692
@jhennawi, are you creating channels dynamically, or do the channels exist before you are doing the operations on them?

[2018-08-29 02:14] ejeschke commented on #691
See #694 for an implementation of being able to call methods in a plugin from the `RC` interface.

[2018-08-29 19:27] jhennawi commented on #692
Hi @ejeschke,

I'm creating channels dynamics, loading images in them, and then trying to modify cut levels. The sequence of commands looks something like this, but this is executed multiple times for different images and different channels.

viewer = grc.RemoteClient('localhost', 9000)
ch = viewer.channel(chname)
ch.load_np(chname, img, 'fits', header)
ch.cut_levels(cut_min, cut_max)

[2018-08-29 19:38] jhennawi commented on #691
This sounds great, but I'm a bit lost as to how to proceed. If I wanted to for example add @pllim's DQInspect plugin, where would I put what code? Then I presume I would start ginga with
ginga ---modules=RC, MyGlobalPlugin

Or just

ginga ---modules=RC

and then

start_global_plugin()

Following what you explained in issue #693

[2018-08-29 19:40] pllim commented on #691
`DQInspect` is part of `stginga` package (`pip install stginga`). If you choose to install it, then you can use `--plugins=stginga.plugins.DQInspect` to load it. It will have to be this way until I have a chance to move it over to Ginga.

[2018-08-29 19:50] ejeschke commented on #692
In that case, I think I may see the problem.  I'm not sure, but I suspect there may be a race condition in the calls, in that the channel is not completely set up and loaded before the cut levels is trying to do its work.

What happens if you put a `time.sleep(2)` between the load and the `cut_levels()` call? Not advocating this as a solution, necessarily, but want to test my hypothesis.

[2018-08-29 19:54] ejeschke commented on #691
@jhennawi, can you use the `DQInspect` plugin as is (assuming you could load it), or do you need to modify it to use your own flags scheme?

[2018-08-29 20:04] jhennawi commented on #691
I'd like to modify it using my own flag names. If you move this to ginga, how do you plan to allow the user to choose their own flag names?

[2018-08-29 20:05] jhennawi commented on #693
Hi @ejeschke

I'm a bit lost. What is the RC "ginga" handle?

I know I want to run

start_global_plugin() and then try out your

call_global_plugin_method(plugin_name, method_name, args, kwargs)

command, but I don't understand what object I'm running these commands from.

P.S. Do you guys have a Slack channel, I fear I'm adding a ton of noise to your GitHub.

Joe

[2018-08-29 20:08] pllim commented on #693
Well... Given Ginga is an Astropy affiliated package, we can possibly create a `#ginga` channel over at Astropy Slack... http://joinslack.astropy.org/

[2018-08-29 20:16] pllim commented on #691
Yes, it already does allow user to customize DQ flags. As documented in https://stginga.readthedocs.io/en/stable/stginga/plugins_manual/dqinspect.html , you can set `dqdict` in its configuration file. It maps instrument to a particular definition file. At STScI, instrument is defined by `INSTRUME` keyword in FITS primary header. If you use a different keyword, you can customize your `general.cfg`:

[2018-08-29 20:42] jhennawi commented on #691
Hi @pllim,

I managed to install stginga and DQInspect, and loaded it into ginga. However, I'm not following how
to give it the image which it will use as the bit mask.

To be clear, my goals are:

View an image with ginga, let's call this science.

Then highlight the pixels which have a given bit set, using another image called bitmask.

I follow your instructions for changing the bit labels, but

[2018-08-29 20:44] jhennawi commented on #692
Yeah I will try this and report back.

Also, can you look at my question on issue #693, I can understand what you mean by "ginga" handle.

Many Thanks!
Joe

[2018-08-29 20:51] jhennawi commented on #692
Hi @ejeschke,

The sleep command did not solve it. I even tried 5s.

What is really weird, is that it only crapps somehow if I set the cuts in the first image I load. For subsequent images it does not have a problem with me setting the cuts. So if I just don't set the
cuts on the first image it works fine.

Joe

[2018-08-29 20:52] pllim commented on #691
Oh, I think this is where it gets STScI specific. It is looking for a `DQ` extension in that same image with science.

https://github.com/spacetelescope/stginga/blob/196ba545b1d97166cf0a52fbe9e616d294917ab9/stginga/examples/configs/general.cfg#L71

Here is an example layout of a HST image:

[code]

So, `(SCI, 1)` would have its DQ bits in `(DQ, 1)`, `(SCI, 2)` in `(DQ, 2)`, and so on...

Now that

[2018-08-29 20:55] pllim commented on #692
Did the first image fall of out of data cache? (Just wildly guessing. I don't use RC.)

[2018-08-29 21:14] jhennawi commented on #691
Hi @ejeschke,

I tried using the TVMask plugin for this, since this allows me to directly load in a mask by hand and assign it a color. However, for some reason the colors are not displaying. I loaded the image in just fine from the viewer, but not sure why nothing is happening.

[2018-08-29 21:27] pllim commented on #691
@jhennawi , at this point, I cannot guess further without the data. Are you able to share this one image and its mask that is not working for you?

[2018-08-29 21:50] jhennawi commented on #691
Yeah let me play with some canned examples.

On Wed, Aug 29, 2018 at 11:27 PM P. L. Lim <notifications@github.com> wrote:

--
------------------------------------------------
Joseph F. Hennawi
Associate Professor
Department of Physics
Broida Hall, UC Santa Barbara
Santa Barbara, CA 93106-9530
Phone: 805-893-3503
Mobile: 805-450-8697
E-mail: joe@ <joe@physics.ucsb.edu>physics.ucsb.edu
http://web.ph

[2018-08-30 01:15] ejeschke commented on #692
But `cut_levels()` only changes the cut levels for the currently displayed image.  It shouldn't matter that the first image got pushed out, as long as there *is* an image in the channel.

[2018-08-30 01:44] ejeschke commented on #693
First: reinstall from this PR branch again--I just added a method to `WCSMatch` that you can call (previously it was just designed to have a GUI callback method, which is not suitable really for a remote call).  @pllim, I added docstrings.

Assuming you have your two images loaded already into channels "Image" and "Image0" (if not, add those commands to these):
[code]
`sh` is the "ginga handle" I

[2018-08-30 15:32] pllim commented on #693
I think this would be great info to add to https://ginga.readthedocs.io/en/latest/manual/plugins_global/rc.html

[2018-08-30 16:39] pllim commented on #691
@jhennawi , the plugin works via traditional GUI but I have problem using the RC interface, which was what you were probably using. Nothing happened because it threw errors. See https://github.com/ejeschke/ginga/pull/694#issuecomment-417384297

[2018-08-30 18:56] jhennawi commented on #693
Okay let me give it a spin. Thanks @ejeschke and @pllim

[2018-08-30 19:01] ejeschke commented on #691
See the comment I added following yours.

[2018-08-30 19:17] jhennawi commented on #693
Hi @ejeschke,

This worked like a charm. The only slightly weird behavior is that the "Reference Channel" pulldown menu in the WCSMatch  GUI actually never got toggled to the channel name I chose as the reference. Although it did match the WCS as I desired.

It would be great to see this functionality in the main repository!

[2018-08-30 19:45] ejeschke commented on #693
Ok, I pushed another commit that fixes this.

I forsee a lot of issues/changes in the future if we get more usage of RC-type calls.  Most of the plugins were written without this use in mind and only respond to GUI changes.  It will be some work to retrofit them to make the GUI match changes being dialed in from elsewhere.  But perhaps we can develop a design pattern approach to dealing with these

[2018-08-30 19:45] ejeschke commented on #693
@jhennawi, can you give it one more spin to make sure everything is working as expected. If so I will merge it.

[2018-08-30 19:51] jhennawi commented on #693
Great that worked! Many thanks!

I do think the RC-type calls make ginga particularly powerful since one can then script all of its powerful functionality without a bunch of human clicking.

Joe

[2018-08-30 19:53] jhennawi commented on #693
One last question, what are the RC shell commands to clear all the channels out of the current ginga viewer, and/or reset the viewer.

Thanks!
Joe

[2018-08-30 20:01] ejeschke commented on #692
What if you add a sleep between the set of calls for each channel being modified?

When I follow your example above for a single image it is no problem to cut levels.

[2018-08-30 20:04] ejeschke commented on #693
@pllim, ok to merge? I think we are planning a significant doc PR for plugins, so let's just address this there?

[2018-08-30 20:08] ejeschke commented on #693
[code]
You can use `get_channel_names()` to get the list of channels.  There is no call to delete all channels, at present.

[2018-08-30 20:48] pllim commented on #693
Yes, ok to merge. Thx!

[2018-08-30 20:48] pllim commented on #182
Also #693

[2018-08-30 22:01] ejeschke commented on #693
@jhennawi, please close if merged PR fixes this issue for you.

[2018-08-31 09:59] #693 closed

[2018-08-31 14:00] pllim opened #695 "Move DQInspect local plugin from stginga to Ginga"
As discussed in #691 . Need to think about:

- [ ] supporting non-STScI data formats (e.g., DQ as a separate file).
- [ ] making user-defined DQ flags usage earlier.
- [ ] adding methods for RC calls.

[2018-09-05 19:05] jhennawi commented on #692
Hi @ejeschke,

Adding the sleep command did not fix the issue, please see above.

[2018-09-06 18:41] #678 closed

[2018-09-06 18:44] ejeschke commented on #673
I've been testing almost exclusively lately with 3.7.  I haven't found any issues.  I think this will be a straightforward PR.

[2018-09-06 18:47] ejeschke commented on #643
IRAF plugin has been moved to `experimental` folder.

[2018-09-06 18:47] #643 closed

[2018-09-06 20:29] pllim commented on #695
Note from 2018-09-06 tag up: Consider the idea of having DQ flags stored as metadata attached to image profile like pan position, etc.

[2018-09-08 18:35] pllim opened #697 "ColorMapPicker zoomed in too much"
I ran into a situation where `ColorMapPicker` display is zoomed in too much. I was running Ginga via remote desktop software, so Ginga was running on a remote Linux machine. I'll have to see if it is still a problem if I am running it while sitting in front of the said machine. This brings up a question: Is there a way to ask that plugin to "fit to window"?

![colormappicker_zoomed](https://user-i

[2018-09-08 20:14] ejeschke commented on #697
I noticed this too.  It's just displaying on a ginga canvas, so we should be able to just call a `zoom_fit()` on it.  Curious though because it looks like it is zoomed in and I think the plugin is designed to draw things so that they are correct at 1:1 and scaling is disabled.

[2018-09-08 20:17] ejeschke commented on #697
Quick workaround is to change `bd.enable_zoom(False)` to `bd.enable_zoom(True)` to allow you to zoom the display.

[2018-09-09 00:00] ejeschke commented on #697
Something like that.  Were you by chance viewing your remote desktop on a high density display (like a mac retina or similar)?

[2018-09-09 00:28] ejeschke commented on #697
@pllim, commit 72ca0cfc31ac8a5c9b3bc187baf631adb23f47c6 fixes the problem for me.  Can you check if you still have the issue?

[2018-09-09 01:49] pllim commented on #673
Fixed in #699

[2018-09-09 01:49] #673 closed

[2018-09-09 10:02] jhennawi commented on #692
Hi @ejeschke,

The QPainter issue appears to have gone away. I've since then rebuilt my ginga because of some updates to python packages, but I cannot really say whether that is what fixed it.

But I stil find weird behavior when cuts are adjusted for certain images using the RC interface. For example, in one case the WCS matching appears to stop working for the images for which I've adjusted cuts

[2018-10-22 21:44] tiffanyhsyu opened #700 "ginga installation error: no attribute githash"
Hi everyone,

I have the latest version of ginga cloned and am getting this error when doing python setup.py install:

`Traceback (most recent call last):
  File "/Users/thsyu/Software/ginga/astropy_helpers/astropy_helpers/version_helpers.py", line 236, in generate_version_py
    last_githash = version_module._last_githash
AttributeError: module 'ginga.version' has no attribute '_last_githash'

Du

[2018-10-23 01:02] ejeschke commented on #700
Hi Tiffany,

Does [this issue](https://github.com/ejeschke/ginga/issues/340) help?

[2018-10-23 15:54] StuartLittlefair opened #701 "Feature Request: Arc Canvas Type"
It would be nice if Ginga had a canvas type for drawing ```Arc```s. Some background; I use ginga to make a finding chart tool for the [HiPERCAM](http://www.vikdhillon.staff.shef.ac.uk/hipercam/index.html)  instrument - [hfinder](https://hcam-finder.readthedocs.io/en/latest/hipercam.html)

![screenshot 2018-10-23 at 16 49 59](https://user-images.githubusercontent.com/4570807/47373556-ff10a000-d6e3-

[2018-10-23 20:29] ejeschke commented on #701
@StuartLittlefair, sounds like a good addition, and probably would not be too hard. As a temporary workaround, you could make the arm out of a polygon, where the points are made from two bezier curves.  I believe there is a function in ginga to return the points for a bezier curve.  You would just need to connect the ending point of one arc with the starting point of the second one and vice versa,

[2018-10-23 20:29] ejeschke commented on #701
Nice looking app, BTW!

[2018-10-23 20:34] ejeschke commented on #701
Is it always a circular arc, or is possible to be elliptical?

[2018-10-23 21:36] ejeschke commented on #701
You might consider adding a `Compass` to the canvas, if that would help orient users.  Also, the 'o' and 'O' keystroke commands are useful for orienting the field.

[2018-10-23 21:53] ejeschke commented on #701
Also, off-topic, but apropos showing the nodding of the telescope: we did a similar kind of finder app for Hyper-Suprime Cam (but as a ginga reference viewer plugin). We handled showing the dithering by marking the dither positions by a set of points and making the detector overlay into a `CompoundObject`. We then could just calculate the offset from each dither position to the center of the overl

[2018-10-23 21:56] ejeschke commented on #701
Here is the method that was called when the dither position changed:
[code]

[2018-10-25 07:53] StuartLittlefair commented on #701
This is brilliant, thanks @ejeschke ! Using a bezier curve worked perfectly. Thanks for the other suggestions as well!

[2018-10-25 10:16] ejeschke commented on #701
Update this issue with a screen shot showing the patrol field!

[2018-10-25 12:21] StuartLittlefair commented on #701
As requested...  The yellow area shows the patrol field for the pickoff arm, and the green "Darth Vader helmet" shows the region left unvignetted by the guide probe. A set of mirrors can pick off any star along the yellow arc and re-image on the CCD to use as a comparison! Need to work on the colour scheme...

![screenshot 2018-10-25 at 13 19 03](https://user-images.githubusercontent.com/4570807/4

[2018-10-25 20:13] pllim commented on #670
@ejeschke , if you think you already did this part for the poster, feel free to close.

[2018-10-25 20:20] #628 closed

[2018-10-25 20:20] ejeschke commented on #670
Not ready to close this...

[2018-10-26 06:05] ejeschke commented on #701
Interesting!

What's with the "BAD WCS" in red text?  From the line below the image it looks like the image has a valid WCS.

[2018-10-26 09:57] StuartLittlefair commented on #701
That's caused by the following code failing

[code]

Which hits this [line](https://github.com/ejeschke/ginga/blob/55f1bbb50630d3193dc838b17bfec4a6dcf45bbc/ginga/canvas/types/astro.py#L357)

[2018-10-26 13:42] StuartLittlefair commented on #701
@ejeschke  - you prompted me to fix that issue, which was caused by me having outdated code for the Compass class. However, I've often wondered if there's a way to hook into the viewer update so that the compass is always drawn on the bottom left of the view, even if the view is panned, zoomed etc?

[2018-10-27 22:06] ejeschke commented on #701
@StuartLittlefair, that should be easy, but I found a bug in the `Compass` type.  Please wait a little while I fix it...

[2018-10-28 03:04] ejeschke commented on #701
@StuartLittlefair, ok, could you install from master and give this a whirl? Add your compass with the parameters `x`, `y` and `radius` specified between 0 and 1. `coord` should be "percentage" and `fontsize` should be constant (something like 12).

The percentages are percent of the window size, so something like x=0.85, y=0.85, radius=0.085 will give you a compass fixed in the lower right corner

[2018-10-31 08:58] jhennawi opened #703 "line plotting on images with canvas add is super slow"
Hi All,

The line plotting interface on ginga is really nice, but very slow. In some instances it actually crashes ginga or makes zooming in and out of images with lines plots super slow. Is there anyway to make
this faster. I'm analyzing an image which is (4000,700), with around 30 line plots that cover the entire
image spectral dimension (they are traces of echelle spectra). A png plot is attach

[2018-10-31 14:00] pllim commented on #703
Is this the `Cuts` plugin?

[2018-10-31 14:02] pllim commented on #703
To pin down where the bottleneck is, please provide your workflow. And if you are still using the RC interface, the relevant code snippets. Thanks.

[2018-10-31 18:45] ejeschke commented on #703
Hi Joe,

Plotting many items is one of the areas where we need to improve the performance on Ginga, but 30 lines with 30 text items should not be causing too much slowdown.  And it certainly shouldn't ever be crashing--that's a bug.  Any chance we can see the code that is drawing this so we can test it out?

[2018-10-31 18:47] ejeschke commented on #703
Importantly: what are the lines--`Path` objects or `Line` objects?

[2018-11-01 13:47] StuartLittlefair commented on #701
@ejeschke thanks - percentage compass works brilliantly!

[2018-11-01 22:10] jhennawi commented on #703
Hi All,

Thanks for the quick reply. We are using the path object. Here is the code we are executing:
[code]
Thanks!
Joe

[2018-11-02 13:18] pllim commented on #703
Hard to tell without profiling, but maybe the bottleneck is here?

[code]

[2018-11-07 20:32] pllim opened #705 "Feature Request: Reset button for ColorMapPicker"
When I am using `ColorMapPicker` to experiment with different colormaps, sometimes I wish there is a "Reset" button to set the displayed image back to the starting colormap (usually gray by default). Maybe not many will find this feature useful; not sure.

[2018-11-07 23:40] tiffanyhsyu commented on #700
Yes, thank you!!

[2018-11-07 23:40] #700 closed

[2018-11-07 23:42] ejeschke commented on #703
No, that function is only used for interactive drawing (human drawing out a path).

Joe, how many points each path (roughly)?

If you get a crash, is there a stack trace with it.  If there is crash that is first thing I want to fix.

[2018-11-07 23:55] jhennawi commented on #703
The images are 4096 x 4096, so the is the number of points per path. We
implemented a sub-sampling thing, but it makes the plot look worse.

Joe

On Wed, Nov 7, 2018 at 3:42 PM ejeschke <notifications@github.com> wrote:

--
------------------------------------------------
Joseph F. Hennawi
Associate Professor
Department of Physics
Broida Hall, UC Santa Barbara
Santa Barbara, CA 93106-9530
Phone: 8

[2018-11-08 00:06] ejeschke commented on #703
So, 4096 points per path?

[2018-11-08 05:41] jhennawi commented on #703
Right.

On Wed, Nov 7, 2018 at 4:06 PM ejeschke <notifications@github.com> wrote:

--
------------------------------------------------
Joseph F. Hennawi
Associate Professor
Department of Physics
Broida Hall, UC Santa Barbara
Santa Barbara, CA 93106-9530
Phone: 805-893-3503
Mobile: 805-450-8697
E-mail: joe@ <joe@physics.ucsb.edu>physics.ucsb.edu
http://web.physics.ucsb.edu/~joe/
enigma.physics.ucsb

[2018-11-08 22:08] pllim opened #707 "Pick gives cryptic terminal warnings at startup"
Workflow:

* Open Ginga 2.7.2.
* Load `Pick` plugin (with or without opening up any image).

I see this on the terminal but nothing on the log (attached):

[code]

[ginga.log](https://github.com/ejeschke/ginga/files/2563771/ginga.log)

[2018-11-08 22:12] ejeschke commented on #707
Meaning this error pops up when you start `Pick`?  Wonder whether that is coming from Qt or Matplotlib or ?

[2018-11-08 22:15] ejeschke commented on #705
That should be an easy button to add to the plugin.

You can always type "Y" (make sure it's capital) in the affected viewer to reset the color map.

[2018-11-08 22:34] pllim commented on #707
Yes, it pops out when I start Pick. I don't know what is producing it. How do I find out?

[2018-11-08 23:36] ejeschke commented on #707
@pllim, I don't think this is related to a bug in `Ginga` code particularly.  Try searching "python invalid source position for vertical gradient" and you'll see what I mean.

[2018-11-08 23:40] ejeschke commented on #707
If you resize the `Pick` window, or the whole reference viewer, does the error go away?

[2018-11-09 02:58] pllim commented on #670
@ejeschke , any update on this?

[2018-11-09 03:14] ejeschke commented on #670
Most of what I wanted to write is in #702.  And I modified the plugin dev page a little to reference them.  But it needs more polishing.  I think we can just remove the milestone for now.  There is definitely some helpful information there now for visitors who might drop in from the ADASS reference.

[2018-11-09 19:53] pllim opened #708 "Ginga banner is upside-down and flipped in 2.7.2"
Workflow:

* Edit `~/.ginga/general.cfg` to set `showBanner = True`.
* Start Ginga.

The Ginga banner pops up as upside-down and flipped.

[2018-11-09 19:57] pllim commented on #708
Maybe this message is related?
[code]

But I cannot find any "piexif" in via `conda install` though it is available at https://pypi.org/project/piexif/ . This is not a known dependency of Ginga, is it?

[2018-11-12 23:39] pllim commented on #708
I installed `piexif` but it didn't help.

[code]

[2018-11-13 04:14] pllim opened #710 "Menu layout as YAML or JSON file"
Idea as discussed during ADASS 2018 between @ejeschke and @pllim -- Operations menu layout could be defined as YAML or JSON file. Currently, menu layout is already in a `dict`-like structure. Ginga can parse it during start-up to build the menu, while Sphinx can be made to parse it during documentation build to show users where the plugins are (hence superseding tedious work in #698).

Things to b

[2018-11-13 17:01] ejeschke commented on #708
This should be fixed in commit 401f1b910a178d33515134bfd1e8d456ee06f88e.

It was due to a change to use `OpenCv` to open RGB files by default, if it is installed.  There was a change recently to `OpenCv` to auto-rotate RGB images if the metadata indicates rotation.

[2018-11-13 23:17] pllim opened #712 "Appveyor CI?"
This repo has `appveyor.yml` but looks like only Travis CI is running. I can't see the repo settings. @ejeschke , is Appveyor simply never enabled or is it broken? A check in the settings should make this clear.

[2018-11-14 03:58] pllim opened #713 "Table file icon upside-down in Thumbs"
Workflow:

1. Start Ginga (the one with fix for #708 already in)
2. Open a FITS table (e.g., Vega spectrum)

Its `Thumbs` image (a file icon with shadow at the bottom and star in the middle) looks upside-down. Can't tell if flipped too (maybe?).

[2018-11-14 04:41] pllim opened #714 "WBrowser: broker_posix.cc(41) Invalid node channel message (SOLVED)"
`WBrowser` sometimes crashes in Qt on Linux with segfault below:

[code]

This is known Qt bug (ref: https://bugs.launchpad.net/ubuntu/+source/qtbase-opensource-src/+bug/1761708). The workaround is:

[code]

[2018-11-14 14:27] pllim opened #715 "Catalogs: Better error message when service not installed"
In the `Catalogs` plugin, I got a misleading "conesearch not found message" when it should have really been "astroquery is not installed". I'll look into improving this.

[2018-11-14 16:02] ejeschke commented on #714
From [this Qt bug report](https://bugreports.qt.io/browse/QTBUG-67537) it looks like you can also just install the `libglvnd-dev` package on your system.  I did this and can verify it fixes the issue on my Ubuntu 18.04 system when running with PyQt5.

[2018-11-15 00:26] #715 closed, assigned to pllim

[2018-11-15 01:03] pllim commented on #327
APE 14 is done -- http://docs.astropy.org/en/latest/wcs/wcsapi.html

[2018-11-15 01:41] pllim opened #718 "MNT: Clean dead code off wcs_astropy.py"
With #711 merged, we do not need code in Astropy WCS layer (`wcs_astropy.py`) for `astropy<3` compat.

[2018-11-23 08:46] jhennawi opened #720 "How do I figure out the canvas.add commands?"
Hi All,

Every time I try to figure out the documentation for one of the canvas.add options using the RC functionality, I can neither find documentation, nor figure out what to do via the normal tricks in python. I think the issue is that in ipython for example

canvas.add?

does not provide any useful information. I'm trying to see what options I can pass to path, and don't know how to find this

[2018-11-24 14:10] ejeschke commented on #720
Hi Joe,
Sorry for the state of the documentation.  The `add()` command can add any of the shape types that are defined under `ginga.canvas.types`.  The good part is that if you go to that directory in the ginga source tree (ginga/canvas/types) and browse the source, you will find a parameter description table at the beginning of each type definition, describing each parameter in the type and what

[2018-11-24 21:09] jhennawi commented on #720
Thanks this is very helpful.  Much appreciated!!

On Sat, Nov 24, 2018 at 06:10 ejeschke <notifications@github.com> wrote:

--
------------------------------------------------
Joseph F. Hennawi
Associate Professor
Department of Physics
Broida Hall, UC Santa Barbara
Santa Barbara, CA 93106-9530
Phone: 805-893-3503
Mobile: 805-450-8697
E-mail: joe@ <joe@physics.ucsb.edu>physics.ucsb.edu
http://web.p

[2018-12-06 21:43] pllim opened #722 "Do we still need astropy2 ?"
Does anyone use `wcsmod.use('astropy2')`? If not, maybe we should remove it. When I tried it (a long time ago), it was broken for me. See #113 . Is #181 still a problem?

[2018-12-23 16:28] pllim opened #727 "FBrowser drag-and-drop does not work on Windows"
I suspect the hardcoding of `file://` here is not compatible with Windows (I was using Windows 10):

https://github.com/ejeschke/ginga/blob/24034716fba4d64375b0f280f5c97d2cb35d1cf5/ginga/rv/plugins/FBrowser.py#L221-L222

Drag-and-drop resulted in this error:
[code]

As a result, I cannot drag-and-drop a file to create a mosaic via `Mosaic` plugin on Windows. When I used `get_fileinfo()` independen

[2019-01-07 21:14] ejeschke commented on #727
@pllim, seems like this could possibly be fixed by having `FBrowser` use `get_fileinfo()` on the `info.path` in the line that you show above.  Want to try a quick PR?

[2019-01-07 21:15] ejeschke commented on #713
I think this is fixed.  Can you confirm, @pllim?  And close if it is? Tnx

[2019-01-07 21:44] #713 closed

[2019-01-08 09:55] pllim commented on #727
@ejeschke , unfortunately that did not work, but #728 does.

[2019-01-08 21:48] #327 closed

[2019-01-08 21:52] pllim opened #729 "Fix WCSAxes plugin in astropy_ape14"
Follow up of #719. Need to investigate why WCSAxes is not drawing RA and DEC lines when WCSpkg is set to `astropy_ape14`. There is no traceback shown in terminal.

[2019-01-09 20:34] pllim opened #730 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [x] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [x] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-01-10 07:39] pllim commented on #718
Fixed in #719

[2019-01-10 07:39] #718 closed

[2019-01-10 07:47] pllim commented on #483
We have example using `astroquery` now in

https://github.com/ejeschke/ginga/blob/8e51fd51ef2bece03f9e79b1191b19008c9cd3ad/ginga/rv/plugins/Catalogs.py#L18

and implementations in

https://github.com/ejeschke/ginga/blob/8e51fd51ef2bece03f9e79b1191b19008c9cd3ad/ginga/util/catalog.py#L203

and

https://github.com/ejeschke/ginga/blob/8e51fd51ef2bece03f9e79b1191b19008c9cd3ad/ginga/util/catalog.py#L67-

[2019-01-10 07:47] #483 closed

[2019-01-10 07:48] #441 closed

[2019-01-10 07:49] #416 closed

[2019-01-10 07:52] pllim commented on #328
@ejeschke , are you still working on the support or should I just close this?

[2019-01-10 07:54] pllim commented on #287
This list should either be updated, or the issue closed.

[2019-01-10 07:55] pllim commented on #240
Implemented for some time already, closing.

[2019-01-10 07:55] #240 closed

[2019-01-10 07:56] pllim commented on #197
`WCSMatch` has been implemented some time ago.

[2019-01-10 07:56] #197 closed

[2019-01-10 07:57] #158 closed

[2019-01-10 07:58] #156 closed

[2019-01-10 07:58] #148 closed

[2019-01-10 08:01] #730 closed

[2019-01-10 14:30] mwcraig commented on #662
No, closing

[2019-01-10 14:30] #662 closed

[2019-01-12 02:39] #729 closed

[2019-01-12 02:39] #727 closed

[2019-01-14 19:28] pllim opened #733 "DOC: Where to document Ginga CLI options?"
`ginga --help` lists some options but it is still too cryptic for a beginner. For example, what are `cmd` and `[args]` for the printed usage of `ginga [options] cmd [args]`? We could expand it properly in the user-facing documentation under `doc` but I am not sure where to document the command line interface (CLI). @ejeschke , please point me to the correct page. Thanks.

[2019-01-14 19:50] ejeschke commented on #733
@pllim, I don't think there is a page that documents the reference viewer CLI.  Sounds like we should make one. Care to take a stab at it? :cat:

[2019-01-14 21:42] pllim commented on #557
Update: With #735 , the unused option will be removed. Instead, people (looking at you, @jdavies-st) can choose to auto-start `MultiDim` using `ginga_config.py` as documented in

https://github.com/spacetelescope/stginga/blob/f6ac896f00066ac8b10755d421cc897df9da5e74/stginga/examples/configs/ginga_config.py#L24-L26

[code]

[2019-01-14 21:46] pllim commented on #733
@ejeschke , sure but not this week. What page should it be in?

[2019-01-15 20:02] #552 closed

[2019-01-18 04:06] #556 closed

[2019-01-18 04:06] #557 closed

[2019-01-30 06:58] #663 closed

[2019-02-10 19:18] remydw opened #743 "Use Plugins with basic FitsViewer"
Hello,
I am using Ginga (PyQt5) in order to develop my own app. I have started working on a proof of concept based on example1_qt.py. It works great and I am able to customize the GUI to my needs to visualize FITS.
Is there a way to use Ginga plugin (ex: FBrowser) directly in the basic FitsViewer without using the full Reference Viewer?
I would like to be able to cherry pick only few plugin for my

[2019-02-11 19:39] ejeschke commented on #743
Hi Remy,
You are not the first person to request that!  Unfortunately, right now there is no way to generally use the plugins without the reference viewer.  They all use, to varying degrees, features of the reference viewer core.  I have thought about trying to make a reference viewer "shim" (proxy?) that would be a kind of very thin replacement for the things that are expected by plugins.  It mig

[2019-02-11 20:12] pllim commented on #743
`stginga` accomplished something similar by writing our own wrapper, see https://github.com/spacetelescope/stginga/blob/master/stginga/gingawrapper.py in case you find it useful.

[2019-02-12 02:15] remydw commented on #743
Thanks for the replies, yes that would be a great feature for a future update! Meanwhile, I will play a little bit more with the wrapper approach from stginga to see if I can leverage it in my app.

[2019-02-12 22:23] pllim opened #744 "RTD: Switch to using webhooks"
GitHub Services no longer works. There is a RTD webhook URL available. Just need to add it to GitHub webhooks in repo settings, which I cannot see.

[2019-02-13 02:50] ejeschke commented on #744
@pllim, I added a webhook for RTD.  As a part of doing this, I logged into RTD and tried to manually trigger a build.  It gave me this error:
*Problem in your project's configuration. Invalid "requirements_file": path doc/rtd-pip-requirements does not exist*

[2019-02-13 03:48] ejeschke commented on #744
[Here's the link](https://readthedocs.org/projects/ginga/builds/8569047/) to the build.

[2019-02-13 16:16] pllim commented on #744
@ejeschke , I think I know what the problem is and I'll try to fix it on the RTD side. Looks like webhook works though!

[2019-02-15 19:23] pllim commented on #744
Update: I found the cause -- A missing quote! Fixed it in cd0884f8e2e16968358cf066cc229eb490b5aab5

[2019-02-15 19:23] #744 closed

[2019-02-15 19:29] pllim opened #747 "Change README into MD or RST format?"
Would be nice to be able to see Travis CI and RTD badges on README. But for that to happen, README has to change from plain text to either markdown (MD) or restructured text (RST). What do you think, @ejeschke ? (Markdown was picked as solution in conversation below.)

Goals:

* Reformat the plain text doc into markdown.
* Add badges for RTD, Travis, Appveyor, and Astropy.

[2019-02-16 03:28] ejeschke commented on #747
@pllim, I'm ok with either.  Which do you suggest?

[2019-02-20 01:51] pllim commented on #747
@ejeschke , I don't have a preference. GitHub renders them both, with slight favoritism for markdown.

[2019-02-20 02:07] ejeschke commented on #747
I suppose RST offers a little more functionality, but I MD is more common for READMEs.  Shall we go with MD?

[2019-02-20 02:20] pllim commented on #747
Sure!

[2019-02-20 05:25] pllim commented on #712
It is live! https://ci.appveyor.com/project/pllim/ginga/

Its badge should be added as part of #747 .

[2019-02-20 05:25] #712 closed

[2019-02-20 21:17] #747 closed

[2019-02-27 03:43] pllim opened #750 "Feature Request: Save the cutout image from Pick plugin"
@ejeschke , there is a user who expressed interest to save the cutout image that `Pick` plugin generates back out into a FITS file. Is that already possible? If not, any advise on how to fold it into the existing GUI?

If there is even a way to "pop" the cutout image into its own `datasrc` buffer, we can just use `SaveImage` plugin to save it out. 🤔

[2019-02-27 04:33] ejeschke commented on #750
The problem is that `Pick` is already crowded in the UI and probably in need of some simplification.

Since we are saving the picks in a FITS table in the `Report` part, couldn't we just make an option to add the cutout as an image HDU to the same file?  Then a bunch of picks would produce a file with a table of the measurements and a series of image HDUs for the images.

[2019-02-27 04:34] ejeschke commented on #750
The numpy cutout is saved as `self.pick_data` after the cutout.

[2019-02-27 04:43] pllim commented on #750
If we tack on the cutouts to existing report file, then we are locked in for FITS output only. Currently, it supports writing out both ASCII and FITS:

https://github.com/ejeschke/ginga/blob/6682ed7b8ec7602c2dc71a71893a7c5703e02cfa/ginga/rv/plugins/Pick.py#L1905-L1906

[2019-02-27 05:44] ejeschke commented on #750
Ah, good point.  We could do one of the following:
1) require FITS (seems limiting)
2) only save the images as HDUs if the output is already a FITS file
3) write the images as HDUs if FITS and separate FITS files if not

[2019-02-27 18:32] pllim commented on #750
I would vote for (3) with one modification -- Save it out to separate FITS no matter what.

[2019-02-27 20:49] pllim opened #751 "WCSMatch equivalent for pixel "locking"?"
@ejeschke , someone asked if there is a feature like `WCSMatch` across channels but for X and Y pixel positions, not WCS. Currently, it kind of behaves that way for multiple images in the same channel, but I can't seem to find such a thing for across channels.

[2019-02-27 21:17] pllim opened #752 "Feature Request: Save catalog result out to a table"
In the `Catalogs` plugin, there is an interface to query "Catalog Server". Results would be displayed in a table. However, currently there is no way to save that table back out into a file.

[2019-02-27 21:20] pllim opened #753 "Feature Request: Edit catalog result in the table"
Related to #752 but this request is to edit the results table; e.g., manually removing entries.

[2019-02-27 21:49] pllim opened #754 "Feature Request: Add Lorentz function to Pick plugin"
Someone asked me if Pick can handle Gaussian, Moffat, and Lorentz, but only first two are supported right now.

[2019-02-27 22:00] pllim opened #755 "Feature Request: Differentiate points from different catalogs"
In the `Catalogs` plugin, if you set it up right, there will be a drop-down with several options. Someone asked me if it is possible to query Catalog A, display the results, then query Catalog B, and overlay the other results, and be able to visualize both sets of results at the same time. Catalog A points would have a different color/shape from Catalog B, so user can tell which point is from what

[2019-02-28 19:16] pllim opened #756 "Is there a way to rename an existing channel?"
For whatever reason, I thought I could rename a channel after its creation but I cannot find out how to do it. Maybe I just misremembered.

[2019-03-11 18:02] ejeschke opened #758 "Remove dependency on astropy-helpers"
Following the ideas in [APE 52](https://github.com/astropy/astropy-APEs/pull/52), we should remove the `astropy-helpers` dependency and move to the standard Python ecosystem tools.  Since Ginga is a pure-Python package, this should be relatively straightforward, following the suggestions at the link.

[2019-03-11 18:12] pllim commented on #758
I would wait a bit for the APE to be accepted first, otherwise I have no objection.

[2019-03-12 20:16] pllim opened #759 "MNT: Use request instead of catalog.URLServer"
As discussed in https://github.com/ejeschke/ginga/pull/742#discussion_r264505428 . @ejeschke , "... maybe deprecate it in favor of the Python `requests` module! (or something similar)"

[2019-03-12 20:24] pllim opened #760 "Feature Request: Let user provide URL in Downloads plugin"
As discussed in https://github.com/ejeschke/ginga/pull/742#discussion_r264505720. @ejeschke , "We could look at adding a text box for cutting and pasting URIs. Maybe a future enhancement?"

[2019-03-13 00:51] ejeschke commented on #756
Not at present.

As a workaround, you can always add a new channel with the desired name, then use the `Contents` plugin to move all the old channel's files there, then delete the old channel.  That might be the easiest/safest way to implement a rename as a feature as well.

[2019-03-13 01:45] #410 closed

[2019-03-13 01:45] #559 closed

[2019-03-13 14:33] pllim commented on #311
@AlexaVillaume , do you want to try again with the latest `master`? As a side effect of #742, your use case might work now. For example, I have this FITS file:

[code]

`ginga filename.fits[*]` loaded these extensions all at once:

* `[PRIMARY,1]`
* `[SCI,1]`
* `[ERR,1]`
* `[DQ,1]`

So if your file does not have any `EXTVER=2`, this basically loads all the extensions in your file.

[2019-03-14 21:01] pllim opened #762 "DOC: Is the MyIOHandler outdated?"
I tried writing my own Handler using example at https://ginga.readthedocs.io/en/latest/dev_manual/internals.html#i-want-to-use-my-own-file-storage-format-not-fits but I get a `AttributeError: object has no attribute 'factory_dict'`. Is the example outdated? I am using dev version of Ginga.

[code]

Also I notice that the example differs from https://github.com/ejeschke/ginga/blob/87f6fc9856ce6b88e

[2019-03-15 18:11] ejeschke commented on #762
This is definitely outdated.  In fact, I doubt that it ever worked, since there is no `factory_dict` defined and no superclass.  I suspect the base class was left out by accident.

In any case, with the new opening code merged, we need to write the opener using a different API.  I'll volunteer to write a new example.

[2019-03-15 18:31] pllim commented on #762
@ejeschke , that would be much appreciated. I got the handler to work in Jupyter notebook but unsure of how to hook it up to the standalone GUI.

[2019-03-21 21:07] pllim commented on #762
@ejeschke , specifically, I want to be able to have `JWSTASDFHandler` class (see spacetelescope/dat_pyinthesky#9) live in `stginga` but somehow Ginga standalone GUI would pick that up, enabling visualization of JWST data files.

[2019-04-11 13:39] pllim opened #765 "TST: Appveyor failed"
https://ci.appveyor.com/project/pllim/ginga/builds/23759091 for the latest commit to `master`.

[2019-04-11 19:05] ejeschke commented on #765
Looks like something related to a site upgrade to python 3.6?  What do you think, @pllim?

[2019-04-11 19:20] pllim commented on #765
Unfortunately I can't investigate right now. But Python 2 job shouldn't be running, so this is very perplexing.

[2019-04-11 19:24] ejeschke commented on #765
I saw that Travis is also moving to a default python 3.6 configuration, so there may be related issues showing up there.

[2019-04-11 19:27] ejeschke commented on #765
@pllim, I know what it is!  I pushed a cherry-picked commit to the v2.x branch.  Hmm, I don't know whether it is worth it, because there probably won't be too many commits to that branch, but I was thinking of porting a few more back fixes before abandoning that branch for the most part.

[2019-04-11 19:28] pllim commented on #765
Still worth investigating, given theoretically we still support that branch... But probably not high priority. Thanks for the clarification!

[2019-05-05 00:30] pllim opened #767 "MNT: Improve exception handling"
See PyCon 2019, May 4 talk by ??? on exception handling.

[2019-05-21 07:27] ysBach opened #769 "ginga pick gets central position in 1-indexing"
While doing my data analysis for PSF photometry, I found my code always give warning because the ginga pick location (which are fed as initial guess to the true centroid) and the ``DAOStarFinder`` centroid differ more than 1 pixel all the time.

To test, I made a perfect Gaussian star at center = (31, 31) to a (51, 51) array.
[code]
The position by ``DAOStarFinder`` is correct: ``(31.0, 31.0)``
![

[2019-05-21 07:56] ejeschke commented on #769
`Pick` reports location in FITS coordinates (1-based indexing) by default, whereas `DAOstarfinder` probably uses 0-based indexing.  Ginga's internal reporting is 0-based, however, and you can change the value shown in `Pick` by adding
[code]
to a text file `general.cfg` in your `$HOME/.ginga` folder.

[2019-05-21 12:33] ysBach commented on #769
@ejeschke Oh, I didn't know that! OK, it's understandable to use FITS convention in interactive FITS viewers like ginga.
I was just unaware of it.

Thanks anyway for your answer!

[2019-05-21 12:33] #769 closed

[2019-05-21 17:25] ejeschke commented on #769
@ysBach, glad to know that some astronomers are moving away from the archaic practice of 1-indexing.  Maybe in the future we will make the default `pixel_coords_offset = 0`.

[2019-05-21 17:28] ejeschke commented on #769
BTW, excellent example of code for making a fake star!  I was looking for something like that for a guiding simulator I am working on, so this is really useful!  Now I just need to add some small artifacts to simulate the atmospheric distortion...

[2019-05-21 17:29] ejeschke commented on #769
Might make for some good unit tests, @pllim!

[2019-06-15 17:02] pllim opened #771 "TST: Port CI to GitHub Actions?"
Maybe? Only if you are interested, @ejeschke .

[2019-06-15 17:03] pllim opened #772 "Use setuptools-scm for version numbering"
See https://github.com/pypa/setuptools_scm for details.

What do you think, @ejeschke ?

[2019-06-17 18:44] ejeschke commented on #772
Is this the package that other `astropy`-family projects are using to move away from relying on `astropy-helpers`?  I don't know anything about `setuptools_scm`, and just wondering what it's dependencies are and/or whether it has "traction" in the python community.

Otherwise, it looks reasonable.

[2019-06-17 18:47] ejeschke commented on #771
As an alternative to Travis-CI, or in addition?

Given Micro$oft's acquisition of `github`, I would think the integration should be pretty good (eventually?).  Goodness knows we've had some occasional trouble with Travis (weird failed builds due to http timeouts, etc).

[2019-06-17 18:49] pllim commented on #771
Alternative to both Travis and Appveyor.

[2019-06-17 18:56] pllim commented on #772
Oh, yeah. Closing as this is a subset of #758

[2019-06-17 18:56] #772 closed

[2019-06-17 19:04] ejeschke commented on #771
Ooh, Windows build and test as well?  Sounds good and maybe simplify the CI testing.

[2019-06-17 19:06] pllim commented on #771
OSX too :smile_cat:

[2019-06-17 19:07] ejeschke commented on #771
Triple-play!

[2019-07-04 09:35] kheegan opened #776 "ginga incompatible with latest version of PyQt5 (5.12.3)"
I installed ginga from pip but kept getting the following error message when trying to launch it:

Traceback (most recent call last):
  File "/Users/kheegan/anaconda/bin/ginga", line 10, in <module>
    sys.exit(_main())
  File "/Users/kheegan/anaconda/lib/python3.6/site-packages/ginga/rv/main.py", line 720, in _main
    reference_viewer(sys.argv)
  File "/Users/kheegan/anaconda/lib/python3.6/site

[2019-07-05 19:11] ejeschke commented on #776
@kheegan, thanks for the report.

It looks like the problem is coming from the `WBrowser` plugin.  Could you confirm by starting ginga with `--disable-plugins=WBrowser` and see if it starts correctly?

 Did you install Qt environment via conda?

[2019-07-05 19:14] ejeschke commented on #776
Sorry, looking again at the traceback it is happening much earlier, in the `import`.

[2019-07-05 19:56] ejeschke commented on #776
Looks like an error in the [qtpy](https://github.com/spyder-ide/qtpy) package.  I am trying to reproduce it.  We may need to [file a bug](https://github.com/spyder-ide/qtpy/issues).

[2019-07-05 20:09] ejeschke commented on #776
[code]
[code]
[code]
Hmmm...when I install PyQt5==5.12.3 from `pip` and also `ginga` (from pip).  It works for me.

Might be an issue with mixing Qt from conda with qtpy from pip?

@kheegan, can you try installing via pip?  Make your initial conda environment, but then install qt by `pip install PyQt5==5.12.3` and `pip install ginga`.

[2019-07-05 20:25] ejeschke opened #777 "astropy-helpers depreciation warnings"
Getting the following errors when trying to install the dev version of ginga:
[code]

[2019-07-05 20:31] ejeschke commented on #776
Alternatively, you could see if you have an older version of `qtpy` installed and remove that and install a newer version from pip.

Basically, I don't see an issue if you have compatible versions of `pyqt` and `qtpy` installed.

[2019-07-07 22:03] pllim commented on #777
I know how to fix this. I'll try to open a PR on Monday.

[2019-07-08 19:53] ejeschke commented on #777
Thanks, @pllim!

[2019-07-10 03:11] #777 closed

[2019-07-10 21:51] ejeschke commented on #776
Closing as a non-issue.  We can reopen and/or file an issue with `qtpy` if it looks like there is still an issue.

[2019-07-10 21:51] #776 closed

[2019-07-20 00:36] ejeschke opened #780 "Deprecate GTK2 support"
Since GTK2 is not supported for Python 3, and Python 2 support has been removed from Ginga, we can transitively posit that we should remove support for GTK2 from dev version of Ginga.

[2019-07-20 00:38] ejeschke commented on #780
I found this out attempting to find an environment where I could test gtk2 support, and then doing some searching on the subject.

[2019-07-29 21:43] pllim opened #782 ""BAD WCS" error is too verbose"
Between

https://github.com/ejeschke/ginga/blob/c847163d47848b41acd1b581019779f93bf5001a/ginga/util/wcs.py#L68-L69

and

https://github.com/ejeschke/ginga/blob/c847163d47848b41acd1b581019779f93bf5001a/ginga/AstroImage.py#L811-L821

I keep seeing traceback info on screen when WCS cannot be computed. This is too verbose to my liking since I see "BAD WCS" on the viewer anyway. I think the code can be

[2019-07-31 01:16] ejeschke commented on #782
I think that WCS errors are kind of in a special category.  There are times when you don't care about the WCS and then almost any error messages seem annoying, but when you absolutely care about the WCS you definitely need informative error messages, possibly with a full stack trace (e.g. trying to debug some issue in `gwcs`).

[2019-07-31 01:20] ejeschke commented on #782
Maybe we could handle it via a preference/setting?  For the `info_xy` stuff, it could be turned off, but if we need to debug something we need to be able describe an easy way to turn it on.

[2019-07-31 01:31] ejeschke commented on #782
I've never been happy with that `info_xy` stuff being in `AstroImage` anyway.  Might be a good opportunity to rethink/redo how that is handled.

[2019-07-31 02:17] pllim commented on #782
Well, we have `loglevel`, so if it emits under DEBUG, then to enable it for debugging, we can pass in `--loglevel=10`, otherwise it is silenced? I would prefer to get rid of `try ... except ...` too, as `except` is expensive when it happens. Maybe there is a way to catch this with `if ... else ...` instead?

[2019-07-31 02:26] #780 closed

[2019-07-31 03:22] pllim commented on #765
Not an issue anymore with #784 in place.

[2019-07-31 03:22] #765 closed

[2019-07-31 15:05] keflavich commented on #590
go straight to regions (https://github.com/astropy/regions/), which might end up in astropy-core soon

[2019-08-02 15:46] mwcraig opened #786 "Is it possible to load an image without reseting the center/zoom?"
I've been playing around with blinking between images in astrowidgets. Right now I'm doing that by calling `load_fits` and then set the center and zoom_level. That leads to a flicker because the image is initially displayed centered and zoomed to fit the window and then quickly changes to the zoom/center that I want.

Example gif:

![Untitled](https://user-images.githubusercontent.com/1147167/6238

[2019-08-02 15:48] mwcraig commented on #786
The notebook in the gif is here: https://gist.github.com/mwcraig/2ca84a5a29e61d5aa871b059505dd28a

[2019-08-02 19:04] pllim commented on #786
Matt is going to try to see if the notebook can be made to use one image widget per image file, and then the blinking to switch out the widget instead of reloading the images in the same widget.

If the above does not work out, some kind of caching is necessary to avoid reloading on switch. In Ginga, it has `Datasrc` caching system, but that is not ideal for `astrowidget` that wants to interface w

[2019-08-02 19:35] ejeschke commented on #786
@mwcraig, the auto-centering, auto-zooming, and auto-levels when you switch between images can all be turned off. See [this section](https://ginga.readthedocs.io/en/stable/dev_manual/image_viewer.html#auto-configuration) of the docs for details.

[2019-08-02 19:42] ejeschke commented on #786
That approach also works, and is basically the approach I took with the `Pan`, `Header` and `Info` plugins in order to speed performance when you switch channels in the reference viewer. However, it does make the code more complicated and use a bit more memory.  In #761, I refactored them to just reload a single viewer and I found the performance difference to be almost undetectable. However, I wa

[2019-08-02 20:54] mwcraig commented on #786
Thanks @ejeschke, this is fantastic -- reaction to ginga and the astrowidgets interface to it at pyastro19 was very positive!

[2019-08-07 14:12] mwcraig commented on #786
This worked like a charm, so I'm closing the issue. Thanks again for the quick response and for ginga!

[2019-08-07 14:12] #786 closed

[2019-08-09 21:00] robertoabraham opened #789 "Windows multi-monitor display issue"
Hi, I'm running Ginga (the reference viewer) using Windows and it works and looks great on my laptop's display (which has a high DPI screen) when I don't have another monitor hooked up to the computer. However, when I hook my laptop up to a big 27" monitor (which isn't a high DPI display) I can't seem to get a reasonable display on either the laptop's display or the external display, because the f

[2019-08-10 01:47] ejeschke commented on #789
Hi Bob, what version of Windows are you running?  I read [here](https://doc.qt.io/qt-5/highdpi.html) some information about Qt HiDPI support on Windows.  It looks like Windows (or Qt) is confused about what the DPI is and maybe not reporting it correctly to the Qt app when you have the second display hooked up.  There is some interesting information about environment variables you can set to overr

[2019-08-10 02:37] ejeschke commented on #789
Also, try it with value 0; e.g.:
[code]
Let us know what you discover!

[2019-08-10 03:51] robertoabraham commented on #789
Hi Eric,

Good news... the problem was fixed by using the 'turn it off and on again' approach. I signed out of the account and then logged back in, and that did the trick. Ginga now looks great on both monitors (the only time it looks bad is when part of the main window is on one monitor and the other part is on the other, and I can certainly live with that). So I guess the lesson is that I just n

[2019-08-10 04:14] ejeschke commented on #789
Good to hear.  I'm running Ginga on a 4Kx4K display and it seems to scale just fine under the version of Linux I'm running without doing anything special with environment variables and what not. I'm hopeful that most modern OSes along with Qt can take care of this so that we don't have to do too many special hacks in the app!

BTW: I'm sure you can justify that 4K display based on some other justi

[2019-08-10 04:14] ejeschke commented on #789
Feel free to close this if you think the problem is solved.

[2019-08-10 04:24] #789 closed

[2019-08-22 17:11] pllim opened #793 "Segmentation fault with Numpy 1.17.0"
Same problem as https://github.com/ejeschke/ginga/pull/764#issuecomment-523639951 but it appears to be a problem with `master` and not the pull request itself.

A run with `gdb` wasn't too helpful either.
[code]

[2019-08-22 19:15] ejeschke commented on #793
@pllim, does it give the same traceback as you showed in #764 conversation?  If so, I think the fix may be simple.

[2019-08-22 19:15] pllim commented on #793
Yes, traceback is the same.

[2019-08-22 19:31] ejeschke commented on #793
@pllim, could you do a `git pull` on master and give it another try in the `numpy` 1.17.0 environment?

[2019-08-22 19:39] pllim commented on #793
Fixed now. Thanks!

[2019-08-22 19:39] #793 closed

[2019-08-22 19:43] ejeschke commented on #793
Hmm, something must have changed that now returns a float rather than an int.  Could you try the following?
[code]

[2019-08-22 19:44] ejeschke commented on #793
I'd like to know in case there are some other potential calculations that might be affected.

[2019-08-22 19:46] pllim commented on #793
[code]

[2019-08-22 20:11] ejeschke commented on #793
*a-HA!*  I figured it was `clip`.  That's interesting. Thanks for the test.

[2019-08-22 20:15] ejeschke commented on #793
Wonder if that is a bug in `numpy` 1.17.0?  Seems like `clip` of an `int` array should be an int.

[2019-08-22 20:33] pllim commented on #793
Good question, @ejechke. I have reported it upstream at numpy/numpy#14334 and will see what they say.

[2019-08-22 20:36] pllim commented on #793
p.s. If it is indeed a bug of Numpy, does that mean we have to revert c30ef770e204c63c2f4fbfafad85f4 when Numpy 1.17.1 is out, or just apply the `int` casting for 1.17.0? :thinking:

[2019-08-22 20:38] ejeschke commented on #793
Looks like they added `ufunc` kwargs to `clip` in 1.17.0, and maybe this changed the default.  Could you run the tests under `ginga/tests`?  I'm wondering specifically how the `test_colordist` does.

Putting together a quick PR that should quash any bugs for other uses of `clip` in Ginga.

[2019-08-22 20:41] pllim commented on #793
No failures for the existing tests with Numpy 1.17.0.
[code]

[2019-08-22 20:42] ejeschke commented on #793
I think it will be fine to keep the casting. It won't hurt in case that changes in the future sometime (again).

[2019-08-28 16:52] pllim opened #796 "Collapsing table in Contents gives traceback"
Workflow to reproduce:

1. Start Ginga and load an image or two (I had four in only one channel).
2. Bring the "Contents" tab into focus.
3. Collapse the table by clicking the black triangle right next to "Image". Get traceback.

[code]

[2019-08-28 21:17] pllim commented on #796
No traceback now. Thanks for the quick fix!

[2019-08-28 21:17] #796 closed

[2019-08-30 03:40] pllim opened #797 "TST: Enable ReadTheDocs PR build"
As per https://blog.readthedocs.com/building-docs-for-pull-requests/ , we can take doc build job off Travis CI and let ReadTheDocs (RTD) do it instead. The advantages are that the documentation would be built exactly as it would after merge (no surprises caused by infrastructure difference) and you get a HTML preview *before* merge.

I already have this beta feature enabled for this repository. Ho

[2019-08-30 19:50] ejeschke commented on #797
@pllim, I updated the setting to trigger on "Pull Requests".

[2019-08-31 00:25] #797 closed

[2019-09-23 04:27] athornton opened #803 "pip install doesn't"
MacOS 10.14.6, Brew Python 3.7.4

[code]

[2019-09-23 09:26] olebole opened #804 "Design an icon for ginga?"
Hi,

thanks for the new version; I am just preparing its upload as a Debian package.
One request for perfection: it would be nice if ginga would have an icon that can be displayed f.e. in task bars. [`ginga-512x512.png`](https://github.com/ejeschke/ginga/blob/b33e09fff87921d10dc85fd1b0735a90ab102bca/ginga/icons/ginga-512x512.png) is too big for this.

Cheers
Ole

[2019-09-23 14:51] pllim commented on #804
What about https://github.com/ejeschke/ginga/blob/master/doc/_static/ginga-128x128.png ?

[2019-09-23 14:52] pllim commented on #803
Oh, dear. I can reproduce this on RHEL 7, running `pip install ginga` into a `conda` environment.

[2019-09-23 14:59] olebole commented on #804
Hmm, at the end this is your decision. To me, this does not look very beautiful: unreadable text in the icon, the bright center makes it difficult to read the japan letters (not that I knew what they mean…), too many small details. IMO it would be nice to have an easily recognizable schematic icon. It is not urgent at all however, and also probably not that important.

[2019-09-23 15:51] pllim commented on #803
For reference, here is the diff between tarballs downloaded from PyPI and the one I packaged locally:
[code]

[2019-09-23 15:59] pllim commented on #803
I think I am pretty sure that the PyPI tarball somehow packaged an older version of `astropy-helpers` submodule.

Header from `from_pypi/ginga-3.0.0/astropy_helpers/astropy_helpers.egg-info/PKG-INFO`:
[code]

Header from my local build:
[code]

[2019-09-23 16:06] athornton commented on #803
Doing a `pip install` from GitHub 3.0.0 in a clean virtualenv works.  So it clearly is the PyPi packaging.

Unlike NPM I think PyPi packages are immediately immutable, so the best you can do, I think, is a fast-follower release and delete the 3.0.0 package from PyPi.  I am not entirely sure of that, though.

[2019-09-23 16:07] pllim commented on #804
I will have to defer to @ejeschke for that decision. Maybe Subaru has a graphics artist.

[2019-09-23 18:39] ejeschke commented on #804
Good suggestion, it is time we got a good icon.  Ginga (_geeng-gah_) means "galaxy" in Japanese, although I don't think the icon needs to represent a galaxy. We need something that can render well at small pixel sizes, and is somewhat original.  Now that we have an issue open, maybe we can brainstorm some ideas here!

[2019-09-23 18:52] ejeschke commented on #803
I think I did a `python setup.py sdist`, but not `build sdist`.  I guess the _build_ is necessary to generate the proper version file and `astropy-helpers` checkout?  Odd that I haven't encountered this before...

[2019-09-23 19:06] ejeschke commented on #803
Looks like [that is indeed the case](https://github.com/pypa/packaging-problems/issues/74).

[2019-09-23 23:26] ejeschke commented on #803
@athornton, @pllim, I've pushed a 3.0.1 release.  Can you verify that the problem is solved with v3.0.1?  Thanks!

[2019-09-23 23:49] ejeschke commented on #804
@olebole, what is the preferred icon size and format? Are SVG icons accepted? As a vector format they scale nicely.

[2019-09-24 00:50] pllim commented on #803
Works for me, on Windows no less. Thanks!
[code]

[2019-09-24 06:28] olebole commented on #804
SVG is perfect for us, but I can live with everything (and would just convert during build).

[2019-09-24 18:37] athornton commented on #803
3.0.1 installs fine.  We can close the issue.

[2019-09-24 18:45] #803 closed

[2019-10-31 19:30] pllim opened #807 "RTD is broken"
e2b1d62f8318dc850ccf2d7c7ed5da796caa2ba6 on `master` broke RTD:
[code]

[2019-10-31 20:07] ejeschke commented on #807
Sorry for the churn.  I think it should be fixed now.  I have to remember to `python setup.py build_docs` to check for documentation errors in addition to the regular tests.  My bad!

[2019-11-01 00:33] ejeschke commented on #807
@pllim, I'm missing something on the documentation build.  When I build docs locally, I get one warning about "dot" (graphviz), but otherwise the docs build is successful. On RTD, it keeps [failing](https://readthedocs.org/api/v2/build/9893199.txt).  It looks like it is still trying to import a method that is no longer visible.  Via `grep`, I cannot locate any references to the method `apply_trans

[2019-11-01 00:33] ejeschke commented on #807
Is there some cache that can be cleaned out for RTD?

[2019-11-01 02:25] pllim commented on #807
Yes, you can try wiping the build and then rebuild.

[2019-11-01 13:42] pllim commented on #807
Seems fixed on `master`. Thanks!

[2019-11-01 13:42] #807 closed

[2019-11-01 19:08] ejeschke commented on #807
@pllim, I am not 100% sure this is fixed (on RTD).  How do I do the "wipe" part?  PR #805 is still failing the RTD build even though it is rebased against master.

[2019-11-01 20:02] pllim commented on #807
RTD build on `master` seems fine today. The failure on #805 is probably real then?

[2019-11-06 16:30] michaelaye opened #808 "File not openable just because of extension '.fit' ?"
According to [Wikipedia](https://en.wikipedia.org/wiki/FITS), `.fit` is an allowed extension for FITS files and all Akatsuki mission camera data are stored as .fit files: https://atmos.nmsu.edu/PDS/data/vcoir2_0001/data/r0009/

I noticed that ginga cannot open a .fit file from that server, apparently just because of the extension `.fit` because after renaming it to *.fits it worked just fine?

Usi

[2019-11-06 17:22] ejeschke commented on #808
@michaelaye , what happens if you have `python-magic` installed via `pip` (and retry the open with `ginga`)?

[2019-11-06 17:26] michaelaye commented on #808
Then it works. and it's admittedly a safer approach on opening supported files. However, how to balance another requirement vs a simple addition of an extension to allow? I struggle that balance as well all the time with my packages...

[2019-11-06 17:30] ejeschke commented on #808
We can still add a check for ".fit".  However, it might be good to add `python-magic` as a requirement if there are a lot of variations that we are not aware of.

[2019-11-06 17:31] michaelaye commented on #808
well, if peeps follow the standard as portrayed by Wikipedia, it's only .fits, .fit, and .fts.

[2019-11-06 17:38] ejeschke commented on #808
It may not be an unreasonable claim that Wikipedia is the authority on such matters! :smile:  However, I wonder if the [IAU FITS working group](https://fits.gsfc.nasa.gov/iaufwg/) has some specification on file extensions...

[2019-11-06 17:58] michaelaye commented on #808
Their page links to Wikipedia and the library of congress, with the latter only allowing .fits it seems. https://www.loc.gov/preservation/digital/formats/fdd/fdd000317.shtml#sign

[2019-11-06 20:41] #808 closed

[2019-11-06 20:51] pllim commented on #808
@michaelaye , if you install dev version of Ginga, this should no longer be a problem.

[2019-11-14 13:45] ysBach opened #810 "ginga cannot read any non-standard FITS"
After importing
[code]
I wanted to open a FITS file (available [here](https://drive.google.com/open?id=1HVqcKLscbFFJ-yiyVl2DbvdO5Dirs8al)) but it failed.
[code]
I understand if it were a warning, but ``Error`` is too sudden.
Maybe we should rather **force** ``verify('fix')`` when loading FITS image.

[2019-11-14 18:49] ejeschke commented on #810
@ysBach, we will work on fixing this, but fundamentally this is an `astropy.io.fits` issue:
[code]

[2019-11-14 18:55] pllim commented on #810
`astropy.io.fits` does not support things that are outside of FITS Standard. FYI.

[2019-11-14 18:55] ejeschke commented on #810
In the meantime, you can do this instead:
[code]

[2019-11-14 18:58] ejeschke commented on #810
@pllim, any idea whether calling `verify('fix')` on the fits object will fix *all* HDUs?

[2019-11-14 19:07] pllim commented on #810
@ejeschke , I don't know for sure. Theoretically, if it is called from `HDUList`, I think it will check all the HDUs, but you should verify.

[2019-11-14 19:09] ejeschke commented on #810
@ysBach, I've submitted a fix to `master`, can you check it?

[2019-12-16 19:26] pllim commented on #328
This came up again... cc @eteq , @hcferguson , and @larrybradley

[2019-12-16 23:21] ejeschke commented on #328
I think this would be rather trivial to implement from a working example of morphing one `ndarray` to a corrected one.  If the resulting image is not rectangular, has holes, etc. this could be handled by either `NaN`s, numpy masks or an alpha mask.  The other thing that would probably need to be done is to change the WCS so that overplotting and coordinate readout under the cursor would work corre

[2019-12-19 00:09] #810 closed

[2019-12-19 00:27] ejeschke commented on #328
See #813 for a strawman approach

[2019-12-19 03:29] ejeschke commented on #328
So, with the strawman plugin, can you just construct a WCS with the distortion components removed, and use that as the reproject WCS?

[2019-12-19 22:25] pllim commented on #758
APE 17 is accepted. Look out for a "conversion guide" that Tom Robitaille will send out to astropy dev mailing list in the near future.

[2019-12-19 23:12] ejeschke commented on #758
Will likely need your help with that PR, @pllim!

[2019-12-19 23:13] pllim commented on #758
It is on my todo list... :grimacing:

[2020-01-08 03:33] #758 closed

[2020-01-15 21:43] jhennawi opened #817 "Problem on MacOS"
I'm running ginga using ancaonda3 (python 3.7.4, latest install) on MacOS Catalina 10.15.2. I'm getting the following stuff printing to the screen when I try to run in RC mode, which was not happening before:

qso-laptop:joe% QPainter::begin: A paint device can only be painted by one painter at a time.
QPainter::begin: A paint device can only be painted by one painter at a time.
QPainter::setRende

[2020-01-15 21:53] pllim commented on #817
Just to be sure, did you try this in a fresh conda environment? If not, might be worth a try to make sure it is not some "dirty" environment causing conflicts.

[2020-01-15 22:00] jhennawi commented on #817
I just installed conda, so I don't think this is the case.

On Wed, Jan 15, 2020 at 1:54 PM P. L. Lim <notifications@github.com> wrote:

--
------------------------------------------------
Joseph F. Hennawi
Associate Professor
Department of Physics
Broida Hall, UC Santa Barbara
Santa Barbara, CA 93106-9530
Phone: 805-893-3503
Mobile: 805-450-8697
E-mail: joe@ <joe@physics.ucsb.edu>physics.ucsb.edu

[2020-01-16 01:39] ejeschke commented on #817
@jhennawi, is this the latest ginga from master? If not, which release are you running?

[2020-01-16 01:49] ejeschke commented on #817
You can get the version by:
[code]

[2020-01-17 21:18] ejeschke opened #819 "Add "setuptools_scm" to the setup_requires option in setup.py?"
@pllim, it seems that I had a little bit of trouble installing ginga with #814 merged.  Don't we need to add "setuptools_scm" to the `setup_requires` option in `setup.py`?  I think I had to manually install `setuptools_scm` via `pip` before things installed correctly.

(I realize there is another fix in #818 that is a different issue.)

[2020-01-17 21:19] ejeschke commented on #819
pllim wrote:

[code]

[2020-01-17 21:21] ejeschke commented on #819
(@pllim, sorry, moved this from email to an issue to better discuss)

Yes, but because I didn't have `setuptools_scm` defined it just went ahead and installed but gave me a version number of `0.0.0`.

[2020-01-17 21:21] ejeschke commented on #819
I'll try adding that to `setup.cfg` and see if it makes a difference.

[2020-01-17 21:32] pllim commented on #819
Did you fetch the tags from "upstream"? `setuptools_scm` relies on `git` tags to create the version.

[2020-01-17 22:38] ejeschke commented on #819
If I add it to the "[options]" are in `setup.cfg` then `python setup.py install ` works fine to get the correct version.

[2020-01-17 22:42] pllim commented on #819
Ah, but we're not supposed to be using `python setup.py install` anymore. The new command should be `pip install -e .` to install the developer version.

[2020-01-17 22:46] ejeschke commented on #819
I understand, but I think a lot of people will not read the install instructions and expect the old way to work.

[2020-01-17 22:50] ejeschke commented on #819
What is being planned for `astropy` core? Will it raise a nag message if someone tries to do `python setup.py install`, telling them the correct command invocation?

[2020-01-18 00:32] pllim commented on #819
Good question... If @astrofrog don't answer I'm time, I'll try it on his PR.

[2020-01-21 20:30] pllim commented on #819
@ejeschke , trying to install astropy/astropy#9726 , when I do `python setup.py install`, I first get this error:

[code]

After I manually `pip install extension-helpers` though, it does install as usual. Does this answer your question?

[2020-01-21 22:06] ejeschke commented on #819
Hmm, doesn't sound very helpful to the user. I hope something better is planned, otherwise there will be a lot of issues reported for those that didn't read the release notes.

[2020-01-22 02:12] pllim commented on #819
@ejeschke , feel free to comment on the Astropy pull request linked above. As for this issue, looks like you added setup_requires on master, so I'm closing it. Thanks!

[2020-01-22 02:12] #819 closed

[2020-01-26 00:25] jhennawi commented on #817
I just nuked and reinstalled ginga. The version is

'3.1.dev43+gf02b28a5'

Now the problem seems to have gone away.

[2020-01-26 00:29] #817 closed

[2020-01-29 21:01] pllim opened #820 "Feature Request: Make new cut from copy in Cuts"
Just something that crossed my mind while trying out `Cuts` in #812. I made a cut line and I wanted to create an exact copy of the same cut line but apply it to another region, so I can compare similar cuts across different regions in the image. Making them exact is hard to do by hand.

This is not high priority but maybe would be nice to have?

[2020-02-03 18:35] pllim commented on #771
Or if you want, maybe GitHub Actions instead? It uses the same underlying machinery as Azure Pipelines. I think it is just a different way to code it up.

[2020-02-04 19:19] ejeschke commented on #771
@pllim, I'm fine with porting to a new CI pipeline. We have had trouble with Travis builds, but I feel like most of the frustrating problems have to do with download timeouts, which could also happen on any build host.

Are you getting some good info on the porting process from Travis to Azure or Github actions?

[2020-02-04 19:23] ejeschke commented on #692
Closing old issues tied to old code. @jhennawi, we can reopen this if you are still experiencing issues you feel are related to this.

[2020-02-04 19:23] #692 closed

[2020-02-04 19:31] pllim commented on #771
Azure is faster but still lacking the `[ci skip]` feature for a PR. That is a blocker for big project like `astropy` but maybe not so much for Ginga?

[2020-02-05 23:09] pllim opened #824 "How to change NAXIS1 view of 4D cube?"
I have a big data cube from TESS with the following layout:
[code]

When I load it in Ginga, I think it defaults to displaying `image[2, 1282, :, :]` (not a Python notation). But what I really want is `image[1, :, :, :]`, which would give me a `1282 x 2136 x 2078` 3D cube. I cannot seem to find a way to change the values of NAXIS1 and NAXIS2 in `MultiDim` (see below).

![Screenshot from 2020-02-05

[2020-02-05 23:41] ejeschke commented on #824
I think you hit upon a PR enhancement, @pllim.  `MultiDim` I think simply skips the first two dimensions as far as providing NAXIS controls.  Then, I think you *may* also need to modify `AstroImage` and probably `ginga.util.io_fits` to navigate through the first two dimensions of the `naxispath` argument.

But all in all, not a big deal (I *think*).

[2020-02-11 18:22] pllim opened #825 "How do I make a mosaic from different extensions of the same FITS file?"
I have a FITS file with 4 extensions. I cannot seem to drag the different extensions loaded into the Image channel into the `Mosaic` plugin. Is there a way to do this? Thanks!

[2020-02-13 06:02] ejeschke commented on #825
@pllim, the interface is a bit limiting at the moment. I'd try checking the "Mosaic HDUs" box and then dragging the file in`to the window from `FBrowser`.

I'd like to eventually enable dragging of images from `Contents` or `Thumbs` for that kind of purpose. Or maybe some general way to operate a plugin on a selection from `Contents` or `Thumbs`. Future PR...

[2020-02-13 06:32] pllim commented on #825
Ah yes, checking the HDU box worked. Thanks!

Although that means it only has the option to mosaic all the HDUs in the file, which is not always what I want to do, especially if I only want to mosaic the SCI extensions and ignore the ERR or DQ extensions.

[2020-02-13 06:32] #825 closed

[2020-02-13 06:35] pllim opened #826 "Feature Request: Mosaic to accept drag-drop from Contents or Thumbs"
Following up on #825 , it would be nice if `Mosaic` can allow drag-and-drop from `Contents` or `Thumbs`, so that user can choose specific buffers to mosaic together. This is especially useful for multi-extension FITS and only some of the extensions are of interest (either from the same file or across different files).

[2020-02-17 22:31] pllim opened #827 "Can WCSMatch work for images in the same channel?"
Follow-up of #197 . When all my images are in the same channel but I want a similar functionality like `WCSMatch` without having to move each of the images to a different channel. Is it possible to align them by WCS when they are in the *same* channel?

[2020-03-31 00:31] ejeschke opened #829 ""pip install -e .[docs]" does not install all dependencies"
In particular, `sphinx_rtd_theme` is not installed and must be installed manually afterward:
[code]

[2020-03-31 03:27] ejeschke commented on #829
I think this may just be a matter of adding "sphinx_rtd_theme" to the list in `setup.cfg` for "docs". Currently:
[code]
Suggested:
[code]
@pllim, do you concur? If so, I will submit a PR.

[2020-03-31 03:59] pllim commented on #829
Hmm. RTD could build it with no problem, but doesn't hurt to add it anyway if you need it. 👍

[2020-03-31 04:14] ejeschke commented on #829
On my box I could not build it. I got the following error:
[code]
After manually installing `sphinx_rtd_theme` via `pip`, it built fine.

[2020-03-31 14:18] pllim commented on #829
@ejeschke , sorry for the confusion, I do concur.

[2020-04-10 18:47] robertoabraham opened #832 "Slow startup on Windows"
Hi, on my laptop it appears that ginga takes over 10x longer to start up in native Win32 mode than it does when running under the windows subsystem for Linux (WSL). On the same machine, running Anaconda python 3.7.3, ginga takes about 40 seconds to start up under win32, while on the exact same machine starting ginga in WSL takes just 3s.

I've run this multiple times on win32 to verify it isn't ju

[2020-04-10 18:54] pllim commented on #832
What's `win32`? I use 64-bit Windows 10 and I don't notice this startup lag time (at least not to the extend of 40s). Also, what is the graphics backend that Windows version of Ginga is using? I usually stick with Qt.

[2020-04-10 18:58] robertoabraham commented on #832
Confusingly, Win32 is what you're running when you use 64-bit Windows 10... it's just Microsoft's standard name for the Windows API (yes, it's crazy, it also is what it's called under 64 bit windows).

I'm also running 64 bit Windows 10.

[2020-04-10 19:01] robertoabraham commented on #832
Oh, and I just installed Ginga under windows using conda as follows:

`conda install ginga -c conda-forge`

I'm not sure which graphics backend it is using (probably Qt?).

[2020-04-10 19:25] pllim commented on #832
If you run Ginga like this:
[code]

Do you see something like this?
[code]

Ginga also runs the code in `~/.ginga/ginga_config.py` (the path is obviously not Windows, so you have to find the Windows equivalent of `~/.ginga`), so if you have one, maybe sure that `.py` file is not doing something computationally intensive on load.

Also, I am curious if you still have the same problem with the dev v

[2020-04-10 19:41] robertoabraham commented on #832
Hey, thanks, that was an incredibly useful suggestion! I see now I am running under Qt in both cases. The slow startup appears to be associated with trying to load a bundled font (roboto), which takes 28s under the Windows API vs. about 0.2s in WSL! Here's the output under both systems (using the standard version, but I also verified that the problem is still there after installing the development

[2020-04-10 19:47] pllim commented on #832
Huh... Do you have a lot of fonts installed? What if you fire up the Python interpreter and run the following? Any of these commands take 40s?

[code]

[2020-04-10 19:51] pllim commented on #832
And if those are not slow, what about this?
[code]

[2020-04-10 19:51] robertoabraham commented on #832
Nope! Those commands all run more-or-less instantly and seem to produce sensible outputs.

[code]

[2020-04-10 19:52] pllim commented on #832
Maybe @ejeschke knows where to poke at next. I can't reproduce this slowness on my Windows. Thanks for checking!

[2020-04-10 19:54] robertoabraham commented on #832
Your other font suggestion ran OK too:

[code]

I'll wait to see if Erik can suggest anything, and thanks a million for helping diagnose this!

[2020-04-10 20:07] ejeschke commented on #832
Hi Roberto. Is this from WSL though? or the Windows Command (DOS-type) shell?

[2020-04-10 20:11] ejeschke commented on #832
Good guess on the fonts, @pllim! @robertoabraham, just to make sure it is not some other sort of legacy issue unrelated to fonts, can you temporarily rename any `.ginga` folders from the Home area and let Ginga recreate those?  I don't quite remember what the root of that area is under Windows proper, but I suppose it would be the same as under WSL?

[2020-04-10 20:27] robertoabraham commented on #832
Hi Erik,

I was running those commands (to check the font loading) from PowerShell (you can verify it from the windows-style file path for the fonts). The font takes a second or so to load (max).

I just zapped the .ginga file from my  home directory and let ginga recreate it and then started up ginga a few times. I still get the same behavior I'm afraid. Here are the first three lines from the ru

[2020-04-10 20:29] pllim commented on #832
I don't use PowerShell. I have Git Bash, which can see my Miniconda, and I run everything from Git Bash. I wonder if this is a problem it PowerShell rather than in Ginga. 🤷

[2020-04-10 20:33] robertoabraham commented on #832
I don't think it's PowerShell. I just tried it using cmd.exe (the standard DOS prompt thing) and got the same behavior. I'm starting up python using the items in the Anaconda folder in the start menu. If you think it is worth a try I can uninstall Anaconda and reinstall (though it would be a hassle so I'd rather not unless you're out of ideas).

[2020-04-10 20:35] ejeschke commented on #832
@robertoabraham, do you have a lot of fonts installed on your system?

[2020-04-10 20:41] ejeschke commented on #832
How about running one of the Qt example programs from your git checkout:
[code]
starts up fast? Dragging a file into the window loads ok?

[2020-04-10 20:41] robertoabraham commented on #832
Well, I'm not sure what counts as a lot of fonts these days! My `C:\Windows\Fonts` directory has 552 fonts in it. I guess that doesn't seem like a lot to me... but what do I know. Is it a lot?

[2020-04-10 20:45] ejeschke commented on #832
No, that seems quite reasonable.  Just asking, because some searches were suggesting that if there are thousands of fonts installed, Qt font management can sometimes get bogged down.

[2020-04-10 20:47] robertoabraham commented on #832
The Qt example program ran pretty quickly. It took perhaps a couple of seconds to start.

[code]

[2020-04-10 20:53] robertoabraham commented on #832
Hmm... I just noticed that dragging a FITS file into the window of qt/example2_qt.py results in an error. However, loading the file by clicking the 'Open File' button works fine. Not sure if that's relevant or not...

[2020-04-10 20:54] ejeschke commented on #832
Let's check whether this is a problem with just `Roboto`.  Can you pick one of the monospaced fonts that you find in `C:\Windows\Fonts` (just note the path to the file), and now create a file `ginga_config.py` in your `.ginga` directory.  It should have the following content:
[code]
Replace the font path with the one from your installation.  Start up Ginga as before, and let us know the result. Tn

[2020-04-10 20:55] ejeschke commented on #832
No, probably a bad assumption about paths in the example drag-drop handler. But we should open a separate ticket about that...

[2020-04-10 21:03] robertoabraham commented on #832
I just tried replacing roboto with courier but I'm afraid it still took forever to load.

[code]

[2020-04-10 21:07] ejeschke commented on #832
@robertoabraham, appreciate your patience! Could you try copying the fonts from `ginga/fonts/Roberto` into your Windows font directory?  I wonder if installing them makes a difference.

[2020-04-10 21:11] robertoabraham opened #833 "Drag and drop doesn't work on qt/example2.py when running Windows"
When running qt/example2.py in the ginga folder, dragging and dropping a FITS image doesn't work. I think this is because an aberrant character is inserted into the filename by the drag and drop handler (in between the disk volume C: and the start of the filename proper). When the file is loaded using the "Open File" button the example works correctly. Here is some diagnostic output.

[code]

[2020-04-10 21:13] ejeschke commented on #832
I think this `ginga_config.py` will at least work around trying to load `Roboto`.  On my system it does not show the logger line trying to load any fonts:
[code]
Does this speed up things?

[2020-04-10 21:38] robertoabraham commented on #832
Hi Eric, I think we have been going down a rabbit hole! So I just edited my `ginga_config.py` file to not load any fonts as you suggested, and it still is taking a long time to load. Here are the first few lines of the log:

[code]

The slowdown seems to be associated with something going on right after starting main.py, regardless of what that thing is. I smell a rat... maybe something like a vir

[2020-04-10 21:47] ejeschke commented on #832
Excellent.  We'll have to narrow it down further. There was a similar issue posted earlier, for Ginga on Debian.  Something about downloading documentation files or astropy files or something.  We'll have to try searching the issues...

[2020-04-10 22:05] robertoabraham commented on #832
Well, whatever is going on it's not my virus scanner... I disabled it and rebooted the machine to make sure it was really off, and then re-ran ginga and it still took over 30s to load.

It's a real puzzler. Whatever is going on it appears to happen after this line is logged:

`2020-04-10 17:57:05,081 | I | main.py:374 (main) | Chosen toolkit (qt5) family is 'qt'`

Anyway, I'm going to drink a beer

[2020-04-10 23:02] ejeschke commented on #832
:beer: Cheers!

[this](https://github.com/ejeschke/ginga/issues/644) is the issue I was thinking about. However, it looks like that was specific to the Debian version and was fixed.  I think the next thing to try (whenever you get back to it) is to run the program with `--loglevel=10`. This is going to generate a lot of output, but what we are mainly interested in is the spot where it pauses for 3

[2020-04-14 01:18] ejeschke opened #834 "Query WCS directly to get the rotation and scale"
Unfortunately, it is simply looking at the FITS header. I think it would be better to query the WCS directly to get the rotation and scale.  That should support GWCS.  I think a new PR would be appropriate, basically moving the functions from `ginga.util.wcs` to the wrappers in `ginga.util.wcsmod`. There it could eventually be refactored to make the appropriate calls to the actual wcs objects.

_O

[2020-04-14 01:19] ejeschke commented on #834
If there are routines in `astropy` WCS to get rotation and scale from an image's FITS keywords, use that implementation rather than Ginga's.

[2020-04-22 22:27] robertoabraham commented on #832
Hi Eric,

I got a chance to look into this issue by starting up ginga with --loglevel=10 on my windows laptop again. I've attached a text file with the startup log. The slow bit now appears to be  associated with a QT widget, which took 30s. Here's a snippet showing what's going on:

[code]

Does this help to pin down the issue?

Thanks,

Bob

P.S. Can it be 12 days since I first posted this issue

[2020-04-23 02:07] robertoabraham commented on #832
Oops, I forgot to attach the log in my previous message
[GingaStartup.txt](https://github.com/ejeschke/ginga/files/4519831/GingaStartup.txt)
! It's attached here instead.

[2020-04-23 02:27] ejeschke commented on #832
I think the only thing of significance happening in those lines (in `Desktop.py`) is that the basic GUI is being constructed (without any plugins).  On my Linux laptop the lines look like this:
[code]
and on my Mac laptop it looks like this:
[code]
In both cases there is no significant delay in those lines.

@pllim, can you run it on your Windows laptop with `--loglevel=10` and add your lines corr

[2020-04-23 04:29] ejeschke commented on #832
I'm beginning to suspect @pllim is right that this has something to do with the environment set up by the shell. @robertoabraham, do you have any students who are seeing this same slow startup?

[2020-04-23 14:56] robertoabraham commented on #832
@ejeschke term just ended so I can't easily check with undergrads (all my grad students and postdocs are using Macs or Linux boxes), but I think what I'll do is find some old Windows machines and install AstroConda on them to see what happens (or maybe I will just nuke my current laptop's setup from orbit and reinstall everything) and see if this goes away. Might take a few days, but it'll happen

[2020-04-23 15:05] pllim commented on #832
Here's my log. The cursor blinked 4 times and then Ginga loaded.
[code]

[2020-04-23 19:27] ejeschke commented on #832
That is interesting. Even from @pllim's shell we are seeing a 4-5 second lag during the building of the GUI, whereas on Mac and Linux it's a couple hundred milliseconds at most.  @pllim, how about on your work Linux desktop with the same log lines?

[2020-04-23 19:28] ejeschke commented on #832
@robertoabraham, can you post the same lines when launching from WSL?

[2020-04-23 19:51] robertoabraham commented on #832
@ejeschke Sure! Here's the corresponding output when starting ginga from WSL:

[ginga_wsl.txt](https://github.com/ejeschke/ginga/files/4524861/ginga_wsl.txt)

[2020-04-23 19:56] pllim commented on #832
Definitely a bit faster on RHEL 7:
[code]

[2020-04-23 20:00] pllim commented on #832
Hmm.. is the `startall` vs `taskloop` in the log a significant clue?

[2020-04-23 20:04] pllim commented on #832
Sorry, I was on a PR branch. This is the log from latest `master` on Windows 10:
[code]

[2020-04-23 20:06] ejeschke commented on #832
Here's @robertoabraham's extract from the WSL startup:
[code]
So a HUGE difference, about 10 milliseconds between the two `Desktop.py` calls...

[2020-04-23 20:14] ejeschke commented on #832
I don't think so.  The lag comes in `Desktop.py` which is the module that builds the "desktop" (outer shell) of the GUI, without any plugins.  My guess is that somehow there is a lag associated with instantiating the particular combination of Qt widgets when invoked from the non-WSL Windows environment. On the other platforms, and from WSL, the time lag is negligible.

[2020-04-24 15:44] pllim opened #836 "PixValue not reporting correct value when used with Zoom"
First reported in https://github.com/ejeschke/ginga/pull/812#issuecomment-618754188 but then I realized it is already that way on `master` even without #812 patch. Release 3.0.1 worked fine. I tried rolling back the OpenGL PR #830 but that didn't help either.

UPDATE: Caused by  #806 . With current `master`, if you set the zoom amount in `Zoom` to, say `1/18x`, `PixTable` reports correct values!

[2020-04-24 15:50] pllim opened #837 "Help button segfaults"
I think this is a side effect of #830 even though I started Ginga *without* `--opengl` option. I see this on Linux:

1. Start Ginga: `ginga --loglevel=30 --stderr`
2. Start any plugin
3. Click "Help"

Ginga crashed with segfault:
[code]

[2020-04-24 19:17] ejeschke commented on #836
Hmm..I just tested this over ssh with branch `master`. It works fine for me.  Platform is Linux.

[2020-04-24 19:20] pllim commented on #836
There is no way to check if it is also a problem when I am physically at that machine, unfortunately. The SSH is handled by NoMachine, but as I mentioned above, `PixValue` works fine when I downgraded to 3.0.1.

[2020-04-24 19:21] ejeschke commented on #836
![Screenshot from 2020-04-24 09-18-07](https://user-images.githubusercontent.com/1305473/80249085-e9e43c80-860c-11ea-85c8-17898cf0c2a4.png)

[2020-04-24 19:27] ejeschke commented on #836
I am just using standard ssh-tunneled display back.

[2020-04-24 19:29] pllim commented on #836
Did you try SSH from Windows to Linux? 😅

[2020-04-24 19:51] ejeschke commented on #836
Just out of curiosity, could you try (on the affected machine) to remove all `__pycache__` and `build` dir and do a `pip install .` (without the `-e`).  Just want to make sure we don't have a stale file in there anywhere...

[2020-04-24 19:52] ejeschke commented on #836
`git clean -xdf` would be even better...

[2020-04-24 19:55] pllim commented on #836
I don't think that's going to change anything. This was how I install.

[code]

But I'll try anyway and report back.

[2020-04-24 20:00] ejeschke commented on #836
Oh, you are already being thorough.  This is going to be an interesting bug hunt. Are you able to do a regular `ssh -X` type login through your VPN and test that way (without NoMachine)?

[2020-04-24 20:03] pllim commented on #836
Unfortunately, no. For pop-up graphics, I need the NoMachine client to work. Long story.

[2020-05-01 20:49] ejeschke commented on #837
@pllim, I think I may have fixed this issue in commit 882653935bac2395ca7131e16fa3a074abc36aeb. Could you try to recreate the error using master on the platform that you got this error?

[2020-05-04 19:16] pllim commented on #837
Unfortunately, it still segfaults with latest `master` with that commit you mentioned:
[code]

I did a clean install.

[2020-05-08 19:24] ejeschke commented on #837
@pllim, I will need your help because I cannot reproduce this issue on any machine so far.  Could you comment out the following lines in `ginga.qtw.ImageViewQt.py`:
[code]
so that it looks like:
[code]
Ginga only tries to build an opengl program if the `--opengl` switch is passed, so I think this error message must be coming from the Qt web widget or somewhere else in Qt. These lines (above) are t

[2020-05-08 19:41] pllim commented on #837
That didn't fix it. I think it is related to `from qtpy.QtWidgets import QOpenGLWidget` in `QtHelp.py`. I think you said that my OpenGL is too old but maybe Ginga is trying to use it anyway? Is there a way to not use it if it is too old?

[2020-05-08 19:51] ejeschke commented on #837
Except Ginga doesn't build anything or allocate any widgets or set any global OpenGL settings, unless you pass `--opengl`.  Following up your idea, could you comment out the import of `QOpenGLWidget` in `QtHelp.py` and in `ImageViewQt` remove it from the import list and comment out the entire `RenderGLWidget` class definition. That way it should not be imported at all.

[2020-05-08 19:59] ejeschke commented on #837
Ooh, I have an idea.  If the above still doesn't work, we could try changing the order of import statements in `QtHelp.py` so that `QWebEngineView` is imported *before* `QOpenGLWidget`. I'm guessing that the Qt web widget uses or initializes OpenGL somehow..

[2020-05-08 20:05] pllim commented on #837
So... I think this is actually unrelated to the OpenGL PR. Internet suggests that the error message might be a Linux bug dealing with browser and "Help" uses `WBrowser`. I downgraded Ginga to 3.0.1 and the problem still exists. Maybe it is the way I am SSH-ing into the machine that is causing this. Sorry for the noise!

[2020-05-08 20:05] #837 closed

[2020-05-08 20:14] ejeschke commented on #837
Hmmm, there seem to be quite a few results when I search up "QWebEngineView linux segmentation fault".  I guess we can reopen if the problem resurfaces again in other settings.  Thanks for your investigation!

[2020-05-08 20:52] pllim commented on #837
I had my colleague, @rendinam, tried it out on his local Linux installation. He also reported a segfault but it does not appear until he quits Ginga. And it only appears if he clicks the Help button:
[code]

He was using the latest dev version of Ginga and Qt backend.

[2020-05-08 21:00] pllim commented on #837
FWIW, no segfault on Windows 10.

[2020-05-08 21:06] ejeschke commented on #837
Meaning when the Help button is pressed, or when the program exits?  I notice from the error message he is using `PySide2`, which is a platform we don't test very often (usually `conda` installs `PyQt5`...).

[2020-05-08 21:10] pllim commented on #837
When he clicks the Help, the segfault happens on exit.

[2020-05-08 22:18] ejeschke commented on #837
I was able to reproduce this with a `PySide2` environment on Linux. It doesn't seem to happen with `PyQt5`.  I'll file an issue.

[2020-05-08 22:23] ejeschke opened #841 "Segfault when closing Ginga Help window (Qt, PySide backends)"
Platform: Linux with PySide2 as the Qt environment

When exiting Ginga, there is a segmentation fault, but only if a Help button has been pressed during the session AND the Help window is still open when quitting Ginga.

[2020-05-08 22:24] ejeschke commented on #841
Low priority, as it doesn't seem to affect a running session, and only happens if the help window is still open on when quitting Ginga.

[2020-05-26 09:32] jhennawi opened #842 "request to be able to show a second image of values as one explores primary image"
Dear Ginga Developers,

We have been developing the PypeIt spectroscopic data reduction package (see https://arxiv.org/abs/2005.06505) and we use ginga as our data visualization viewer. We are anticipating widespread adoption by spectroscopists.  Four viewing spectra, it would be very valuable if we could display the wavelengths as a second set of values as we move the cursor around the image, ana

[2020-05-26 17:12] pllim commented on #842
I can only advise from the plugin side. You might be able to pull it off by writing something like `PixTable` and make it display values from another extension. Maybe [my implementation over at stginga to read values from another extension](https://github.com/spacetelescope/stginga/blob/f47dd4c8c32044e362e75167ba8c027fd5a8adb7/stginga/plugins/local_plugin_mixin.py#L45) can inspire you?

I can disp

[2020-05-26 21:26] pllim opened #844 "TST: flake8 failures"
Not sure what happened, but `flake8` job fails on `master` now.

https://travis-ci.org/github/ejeschke/ginga/jobs/686072964

Could be that `flake8` had new release that is now stricter.

[2020-05-27 00:04] ejeschke commented on #842
@jhennawi, can you clarify just a little? Do you have to construct an auxiliary image or is that simply for the convenience of making the wavelength values conveniently accessible?  Is the original data a cube?

[2020-05-27 00:11] jhennawi commented on #842
Hi Eric,

Thanks for the quick reply. We have two images say, a science image and
wavelength image. At the moment these are images. In the future for IFUs
these may be cubes, and then we would want something like ds9's cube
functionality, but were not there yet.

In reality we have like 4 different science diagnostic images (raw data,
sky-subtracted, sky-subtracted noise normalized, etc.) and then

[2020-05-27 00:31] ejeschke commented on #842
aligning the pixels, i.e. we are not actually using a full WCS, since these
are spectra.

So the wavelength value for a given pixel at (X, Y) (data coords) is just the value of the wavelength array at (X, Y)?

[2020-05-27 02:32] jhennawi commented on #842
that is right.

On Tue, May 26, 2020 at 5:31 PM ejeschke <notifications@github.com> wrote:

--
------------------------------------------------
Joseph F. Hennawi
Associate Professor
Department of Physics
Broida Hall, UC Santa Barbara
Santa Barbara, CA 93106-9530
Phone: 805-893-3503
Mobile: 805-450-8697
E-mail: joe@ <joe@physics.ucsb.edu>physics.ucsb.edu
http://web.physics.ucsb.edu/~joe/
enigma.phy

[2020-05-27 22:27] ejeschke commented on #842
@jhennawi, do you want both the `Info` (to the left) panel and the `Cursor` panel (on the bottom) to read the same way?  Will you be mixing viewing of spectra and camera images in the same viewer?

[2020-05-28 04:50] jhennawi commented on #842
Hi Eric,

It would be convenient to have a Wavelength or Wave entry on both the left
(Info) and the bottom (Cursor) panels. We will not be mixing camera and
spectra in the same viewer for the present, so having these ready
consistently is better I think. If we have multiple images next to each
other in channels now they would all be spectra. I can imagine a future
application with IFU pseudo image

[2020-05-29 20:52] #844 closed

[2020-06-01 23:10] ejeschke commented on #842
@jhennawi, this sounds pretty simple, I think.  I've long wanted to refactor the way that the cursor readout is handled, because I think this won't be the last time we'll want to customize it. I am now thinking about the best way to go about that.  From the PR I'll link back to this issue.

[2020-06-01 23:31] jhennawi commented on #842
All good Eric, many thanks!

On Mon, Jun 1, 2020 at 4:10 PM ejeschke <notifications@github.com> wrote:

--
------------------------------------------------
Joseph F. Hennawi
Associate Professor
Department of Physics
Broida Hall, UC Santa Barbara
Santa Barbara, CA 93106-9530
Phone: 805-893-3503
Mobile: 805-450-8697
E-mail: joe@ <joe@physics.ucsb.edu>physics.ucsb.edu
http://web.physics.ucsb.edu/~joe

[2020-06-22 23:23] ejeschke commented on #842
Hi Joe. So after thinking about this request for a little bit I think it can be pretty easily handled via the existing logic if you are willing to launch Ginga with a custom plugin.

Here is a custom plugin called "Pypelt":
[code]
If you save this as a file in `$HOME/.ginga/plugins/Pypelt.py`, and invoke ginga by:
[code]
you can then load your file like so from Python:
[code]

[2020-06-22 23:25] ejeschke commented on #842
The good thing about this solution is that you will have established a "beachhead" in Ginga with your own plugin.  You can then begin to add more methods or even a GUI, a plugin settings configuration, etc.

[2020-06-22 23:44] jhennawi commented on #842
Great! We will give this a try and get back to you.

Thanks,
Joe

On Mon, Jun 22, 2020 at 4:23 PM ejeschke <notifications@github.com> wrote:

--
------------------------------------------------
Joseph F. Hennawi
Associate Professor
Department of Physics
Broida Hall, UC Santa Barbara
Santa Barbara, CA 93106-9530
Phone: 805-893-3503
Mobile: 805-450-8697
E-mail: joe@ <joe@physics.ucsb.edu>physics.ucs

[2020-07-06 20:44] pllim commented on #836
So, in testing `master` to see if a release is viable, I am reminded of this bug again. I need to ping @Skyhawk172 and @obi-wan76 to see if this is a deal breaker for them, especially given the work-from-home situation. If it is a deal breaker, STScI will just have to pin Ginga to 3.0 (where this is not a problem) for now.

[2020-07-06 21:08] pllim commented on #836
I also tried the following and encountered the same problem (with more lag too but that is a separate story):

`Windows -> WSL 2 (Debian) -> SSH -> Ginga`

[2020-07-06 21:54] ejeschke commented on #836
@pllim, does `Cursor` report the correct cursor position?  All the plugins are pretty much feeding off the same mouse reporting call, so I'd be surprised if only `PixTable` was affected.  Maybe zoom in a lot and compare a local viewer loading the same file with an NX display of same file?

[2020-07-06 22:15] pllim commented on #836
@ejeschke , I think I tracked it down to #806. Something you did in `Zoom` somehow changes some global state that affects `PixTable`. With current `master`, if I adjust "zoom amount" in `Zoom` to very small (say, `1 / 8x`), `PixTable` reports the correct values again! If I increase the "zoom amount" from there on, I see `PixTable` reporting change for the same area of image. Does this behavior mak

[2020-07-06 22:18] pllim commented on #836
I have a feeling maybe this line but I don't know enough of the internals to understand why:

https://github.com/ejeschke/ginga/blob/1c30ad4b8ac608a6c813ac0e07a53986f5ab3f4c/ginga/rv/plugins/Zoom.py#L235

[2020-07-06 22:23] pllim commented on #836
Cursor seems normal as far as I can tell.

p.s. The key to getting `PixTable` value to match cursor value is set "zoom amount" to very small. I think the magic zoom amount also depends on the input image size but I am not 100% sure.

[2020-07-06 23:24] ejeschke commented on #836
@pllim, was this also with NX?  I am just wanting to rule out any possible mouse/cursor registration issue with the remote display technology (i.e. unrelated to Ginga, or maybe in Qt, etc). As I mentioned above, I did not see this issue with vanilla ssh/X display back.

[2020-07-06 23:25] ejeschke commented on #836
I'll take a closer look at `Zoom`.

[2020-07-06 23:27] ejeschke commented on #836
@pllim, if you run with `--disable-plugins=Zoom` does it work as expected without any special adjustments?

[2020-07-07 01:01] ejeschke commented on #836
No.  Especially if you only see it in ssh display back.  Can't understand how that could change the plugin's behavior.  Can you definitively say that when you run the current master locally (on Windows or WSL) that you don't see the problem?

[2020-07-07 01:18] ejeschke commented on #836
@pllim, I am able to reproduce it if I start Zoom! :smiley: Yay, and it happens locally too!

Good work tracking it to that plugin. Think I may know where this is happening. I'll be posting a PR.

[2020-07-07 07:59] ejeschke commented on #836
Please see #847.

[2020-07-07 19:46] #836 closed

[2020-07-07 19:48] pllim opened #848 "cursor-changed callback needs refactor"
As mentioned in #847

[2020-07-07 19:59] pllim opened #849 "MultiDim layout is wrong"
![multidim_horizontal](https://user-images.githubusercontent.com/2090236/86835811-a6756800-c06a-11ea-8e6f-47a1a4ce1ddd.jpg)

The second box should have been stacked horizontally below the first box.

[2020-07-07 20:01] pllim commented on #849
Happens on older releases too like 3.0.1 and 2.7.2, so maybe this is caused by Qt?

[2020-07-07 20:13] ejeschke commented on #849
@pllim, it looks like the space for the `MultiDim` window is wider than it is tall?  Is it correct? If so, it is the normal behavior because `MultiDim` is using `Widgets.get_oriented_box()`.

[2020-07-07 20:14] pllim commented on #849
@ejeschke , perhaps. It is a wide screen monitor. But even if I force `orientation = 'vertical'` in the plugin code, nothing seems to change.

[2020-07-07 20:14] ejeschke commented on #849
You will find that if you close `MultiDim` and resize Ginga so that the space where the plugin will go is now taller than it is wide, and reopen `MultiDim`--it will now stack the boxes vertically.

[2020-07-07 20:17] ejeschke commented on #849
Except that the orientation that it "discovers" is used multiple places in the `build_gui()`.

[2020-07-07 20:19] pllim commented on #849
I tried it like this:
[code]

[2020-07-07 20:19] ejeschke commented on #849
If you feel strongly that this plugin should never have the horizontal orientation it can be fixed to a vertical.  Or, it can be fixed to better layout when it detects a horizontal orientation.  I'm trying to keep in mind various possible layouts that people might want to use rather than being fixated on the tri-pane default.

[2020-07-07 20:20] pllim commented on #849
I see no reason why the boxes in `MultiDim` should ever be stacked horizontally like that. 🤷‍♀️

[2020-07-07 20:23] ejeschke commented on #849
No, you would need to do something like:
[code]

[2020-07-07 20:28] pllim commented on #849
Thanks, @ejeschke !

[2020-07-07 21:04] ejeschke commented on #849
![ginga_alt_layout](https://user-images.githubusercontent.com/1305473/86842976-a7de6a80-c041-11ea-844d-3c2f8e437a57.png)

[2020-07-07 21:06] pllim commented on #849
Re: https://github.com/ejeschke/ginga/issues/849#issuecomment-655133949 -- Hah, okay. Though even in that layout, I think vertical might still work... 😅

[2020-07-07 21:08] ejeschke commented on #849
Above shows a layout where user has hi-res monitor with lots of horizontal and vertical space. They are always interested in the FITS headers, so `Header` gets a nice big vertical box. They've added a workspace to the lower central area where the `MultiDim` works quite nicely in horizontal mode, alongside `Pan` and `Info` and maybe `Zoom`.

[2020-07-07 21:10] pllim commented on #849
But that penalizes normal user with a screen just wide enough that it becomes horizontal when vertical is desired... Hmm...

[2020-07-07 21:58] ejeschke commented on #849
@pllim, see #851

[2020-07-07 22:37] #849 closed

[2020-07-08 17:02] #848 closed

[2020-07-08 19:32] ejeschke commented on #829
AFAIK, this was fixed with the commits noted above. Closing.

[2020-07-08 19:32] #829 closed

[2020-07-08 21:26] pllim opened #855 "BUG: WCSAxes plugin is broken"
Using the latest `master`, it no longer works. Maybe related to the recent refactoring associated with shapes/canvas. I used HST/ACS calibrated fullframe image but I don't think the image matters as long as it has a valid WCS.

![broken_wcsaxes](https://user-images.githubusercontent.com/2090236/86971894-feca6980-c13f-11ea-9127-9c7fc815467f.jpg)

To reproduce:

1. Open image with WCS in Ginga.
2. S

[2020-07-08 21:43] ejeschke commented on #855
@pllim, I don't have access to that file, but I tried another HST one that I have:
![Screenshot from 2020-07-08 11-40-00](https://user-images.githubusercontent.com/1305473/86973193-e5a9c480-c10f-11ea-89d4-aa0ae23d163d.png)

[2020-07-08 21:45] ejeschke commented on #855
Some Subaru ones look fine.  I do notice two problems:
- there seems to be a print statement that prints "diff <some set>" that should be removed or changed to a logger debug statement
- the plugin does not seem to respond correctly on `redo()` when I switch between thumbs. It seems like it does not recognize that the image has changed

[2020-07-09 21:32] pllim opened #858 "Release checklist for 3.1"
- [x] Need #856
- [x] Decision on whether to punt #763 to 3.2 or not
- [x] Merge #861
- [x] Make sure there are no outstanding open items in https://github.com/ejeschke/ginga/milestones/3.1

[2020-07-09 21:45] #855 closed

[2020-07-16 20:55] pllim opened #859 "Is there a way to have multi-line config value for plugin?"
In [DQInspect](https://stginga.readthedocs.io/en/stable/stginga/plugins_manual/dqinspect.html), I found myself writing a very long config item in `~/.ginga/plugin_DQInspect.cfg`:
[code]

I wonder if there is a way to add in line breaks so it is more human-readable in a way that won't break Ginga.
[code]

It is okay if that is not possible. I am just wondering. Thanks!

[2020-07-18 21:33] ejeschke commented on #858
So, @pllim, ready for 3.1 release after merge #860 ?

[2020-07-18 21:37] ejeschke commented on #841
I think we have to bump the priority on this. It seems that if you leave the help tab open the crash is delayed until you are closing the program, but if you attempt to use the "Close" button on the help window it invokes the crash.

[2020-07-18 21:40] ejeschke commented on #858
Also need to fix #841

[2020-07-18 22:06] ejeschke commented on #841
#861 returns the problem to original one of PySide backend crashing when the program closes, IFF the Help window is still open.

[2020-07-19 00:07] pllim commented on #858
I'll follow up on Monday. Thanks for your patience!

[2020-07-19 02:45] ejeschke commented on #859
See #862

[2020-07-20 19:57] #841 closed

[2020-07-20 21:03] pllim commented on #858
I think 3.1 is GTG unless you have other things you want to fit in it.

[2020-07-20 21:03] #858 closed

[2020-07-20 21:09] ejeschke commented on #858
No, I think it's baked. Let's pull it out of the oven!

Thanks for your thorough help, as always!

[2020-07-20 21:13] ejeschke opened #867 "Release 3.2"
Checklist for release 3.2
- [x] merge #845
- [x] merge #862
- [x] merge #870

[2020-07-20 21:15] pllim commented on #858
🥧 ❤️

You are welcome!

[2020-07-20 21:16] ejeschke commented on #867
Maybe shoot roughly for early fall release. That's probably a little optimistic.

[2020-07-20 21:18] pllim commented on #867
Which year? 😹

Another release in two months seems a bit too soon but if there are enough new features, should be acceptable.

[2020-07-20 21:35] ejeschke commented on #867
I was thinking 2020-10, or thereabouts.

[2020-07-24 19:32] #859 closed

[2020-07-24 19:34] pllim commented on #771
It's Actions now. It uses the same stuff as Azure but is more tied to GitHub.

[2020-07-24 21:00] ejeschke commented on #771
I'm still ok with changing. Travis builds have been very fast lately. Maybe because more projects have moved off their infrastructure? :shrug:

[2020-07-24 21:11] pllim commented on #771
I don't think there is a rush for this. 😄

[2020-07-28 19:26] pllim commented on #824
Coming back to this issue, I think I had stumbled upon a transposed cube especially made for `TESSCut`. See https://github.com/ejeschke/ginga/pull/805#issuecomment-583495735 and astropy/astrowidgets#110. Probably not worth pursuing.

[2020-07-28 19:26] #824 closed

[2020-07-28 21:22] ejeschke commented on #824
I think I'm missing something here, looking at this again. Shouldn't NAXIS3, NAXIS4 ... NAXISN provide all the controls needed to navigate down to any 2D slice?

The fact that NAXIS1 == 2, NAXIS2 == 1282 means that you have a 2x1282 slice at the end of the day (would be a a line, basically).  But you can navigate through all the upper dimensions to get to those slices.

[2020-07-28 21:24] ejeschke commented on #824
Now if you want to roll the axes, or do a higher-order transpose (not just swap X and Y) before loading a slice, that we do not have controls for, presently.  But as those are standard `numpy` operations, it wouldn't be hard to add them.

[2020-07-28 21:27] pllim commented on #824
Transpose is very slow for this particular cube. What I ended up doing is transpose it outside of Ginga and save it in the "correct" dimension.

[2020-08-02 01:36] jhennawi commented on #842
Dear @ejeschke,

I finally had a chance to implement this. It works beautifully -- many thanks for your help. The one question I have is whether it is possible for the plugin to live somewhere else besides $HOME/.ginga/plugins/Pypelt.py, and if we can somehow tell ginga to look elsewhere on launch.

The issue is that PypeIt is pip installable etc. and we don't think it is appropriate (may also not

[2020-08-02 20:57] ejeschke commented on #842
@jhennawi, the plugin module simply needs to be in the import path.  Are you launching the reference viewer from your application, or is it expected to be launched by the user independently?  If you are launching it, simply set the `PYTHONPATH` to include the directory where the plugin lives--and that can be in your `PyPelt` install area (or wherever you decide to put the plugin).

If you'd prefer

[2020-08-03 15:50] jhennawi commented on #842
Hi @ejeschke,

We usually have the user launch ginga themselves, but if a script that needs ginga is run and ginga is not yet launched, then we launch if for them. I'll take a look at the custom plugin template, and get back to you. Many thanks for your help with this.

[2020-08-14 20:20] #771 closed

[2020-08-17 20:35] #820 closed

[2020-08-19 20:55] pllim commented on #754
I am revisiting this issue and see that the functions are defined in `ginga/util/iqcalc.py`. Rather than writing up a new Lorentz function there, I wonder if I should just refactor the whole thing to use [astropy modeling](https://docs.astropy.org/en/stable/modeling/index.html).

Here is a [simple 1D fitting example](https://docs.astropy.org/en/stable/modeling/fitting.html#simple-1-d-model-fitting

[2020-08-20 01:58] ejeschke commented on #754
@pllim, I think it is a good idea to overhaul this plugin, and I think `astropy` modeling is probably the way to go. In addition, there are a couple of other things that I would like to change (or deprecate!) in the `Pick` plugin.

But we should be careful because this may be one of the most used plugins of all the ones that are distributed with the reference viewer, so I would like to make sure t

[2020-08-20 02:02] ejeschke commented on #754
@pllim, does `astropy` core have a dependency on `scipy`?  Does it have its own median filtering routine?  If so, we might be able to get rid of the Ginga use of scipy. Pretty sure the only two imports are in `iqcalc` (for the fitting) and `ginga.AutoCuts` for the `median_filter` routine.

[2020-08-20 04:13] pllim commented on #754
AFAIK astropy fitting still farms it out to scipy.

[2020-08-20 17:27] pllim commented on #754
A gradual switchover sounds like a good plan.

[2020-08-20 21:12] pllim opened #879 "Drop Python 3.5"
Should we drop support Python 3.5, @ejeschke ? `conda` doesn't even ship things with it anymore and Python org is dropping it next month, see https://devguide.python.org/#status-of-python-branches .

https://github.com/ejeschke/ginga/blob/7e7ed3a1dba908d0d41607055f7df11d563c8195/setup.cfg#L43

Bonus: We can use f-string once we drop Python 3.5.

[2020-08-20 21:15] ejeschke commented on #879
I'm in favor. Further, I'd say minimum version of 3.7, unless you think there is a good reason not to.

[2020-08-20 21:31] pllim commented on #879
I am using 3.8 myself, so if you want to drop 3.6, I won't object. 😸

[2020-08-27 17:18] pllim opened #883 "FWHM plot: Change X and Y colors?"
https://github.com/ejeschke/ginga/blob/bdcc46004c0e7710cc75392b89f7a2356bbd9720/ginga/util/plots.py#L468-L476

Blue and green don't have good contrast, and probably not colorblind-friendly for some as well. Currently, as seen in `Pick`:

![pick_fwhm_plot](https://user-images.githubusercontent.com/2090236/91474156-d91c2f80-e867-11ea-81e9-2a58a4f2bc14.jpg)

[2020-08-27 18:17] pllim opened #884 "Pick plugin: Not obvious when FWHM fitting failed"
In the `Pick` plugin, currently user can switch between Gaussian and Moffat (and with #880, Lorentz too). When I switch "FWHM fitting" algorithm choice in Settings and click Redo Pick, it is hard to tell if the fit was actually successful or not without looking at the terminal output.

On the terminal, I would see things like `RuntimeWarning` or (with #880 and using `astropy.modeling`) `The fit ma

[2020-08-27 21:48] pllim commented on #884
It seems like `Pick` has logic to do `self.fwhm_plot.clear()` but I cannot seem to trigger it even when I purposely pick an empty part of the sky and `Pick` cannot find any source. With all the `try ... except ...` in `Pick`, it is hard to debug and the log traceback isn't particular informational for me.

[2020-08-27 22:16] pllim opened #885 "Add Python 3.9 support"
Python 3.9 should be coming out soon. If everything goes well, all we need to do is add a job for it in CI and update `setup.cfg`. 🤞

[2020-08-28 04:24] ejeschke commented on #884
When it fails to find any objects the display looks like this:
![failed_pick](https://user-images.githubusercontent.com/1305473/91520907-3927cb80-e892-11ea-890f-4f474973b823.png)

with a bright red "X" on both the display and the cutout. In the lower right "status message" for `Pick`, the message "Cannot find bright peaks" appears.  This is what I would expect to happen if the fit fails.

Is there

[2020-08-28 05:00] ejeschke commented on #884
For the `FWHM` and `Radial` plots, see #889.  I think this does what you are expecting.

[2020-08-28 15:32] #879 closed

[2020-08-28 22:46] #884 closed

[2020-08-29 01:20] ejeschke opened #890 "MatplotlibDeprecationWarning: The global colormaps dictionary is no longer considered public API"
This deprecation warning appears from [this line](https://github.com/ejeschke/ginga/blob/master/ginga/cmap.py#L13317) in `ginga.cmap`.  It looks like `matplotlib` is trying to [deprecate accessing the global colormaps dictionary](https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/cm.py#L75-L118).

So far I have not found a replacement API for getting the same information using a p

[2020-08-29 01:34] pllim commented on #890
Hmm. I haven't seen it. Maybe I am not using a new enough Matplotlib.

[2020-08-29 01:58] ejeschke commented on #890
Seems to be a bleeding-edge version...

[2020-08-29 02:17] ejeschke commented on #890
Looks like we might be able to replace
[code]
with
[code]
But of course that also looks like an internal API, and we'd need to check `matplotlib` version before trying to access it.

[2020-08-29 16:15] pllim commented on #890
xref matplotlib/matplotlib#16991

[2020-08-29 21:49] #883 closed

[2020-09-01 21:59] #890 closed

[2020-09-01 22:08] pllim opened #892 "setuptools 50 broke RTD"
There is a fix that @eslavich figured out on astropy side but I don't have time to fix it until tomorrow the earliest.

[2020-09-02 00:09] ejeschke commented on #892
:pray: Thank you, @pllim! No hurry.

[2020-09-02 03:17] pllim opened #894 "MNT: Unpin setuptools for docs when possible"
Undo the setuptools pinning in `setup.cfg` done in #893 when possible. Also see pypa/setuptools#2353

[2020-09-02 16:24] #892 closed

[2020-09-02 16:24] #894 closed

[2020-09-02 21:57] pllim opened #895 "ENH: Use photutils for source finding in Pick"
This follows #880 as possible future enhancement.

[2020-09-04 14:13] #754 closed

[2020-09-11 01:24] pllim opened #897 "Question about ginga.util.iqcalc.IQCalc.brightness"
@ejeschke , can you please explain the algorithm here? Particularly, why `idx = int(len(arr2) * 0.8)`? What is so special about 0.8? I was wondering if there is an equivalent function in `photutils` for this but I cannot do it without understanding why. Hope you can clarify. Thanks!

https://github.com/ejeschke/ginga/blob/965d1ec23fdf02b7a48c86b428153346c6ce5cad/ginga/util/iqcalc.py#L451-L459

Als

[2020-09-11 08:21] ejeschke commented on #897
@pllim, it's been a long time since that code was written, and my memory is a bit hazy on it.  It looks like it is sorting all the values in the area cut out and then taking the value of the 80th percentile above the median.  I suspect that the formula came from digging through the code of `skycat` (or `ds9` or 'IRAF', maybe?), or perhaps one of our support astronomers offered it up.  I suspect it

[2020-09-11 08:24] ejeschke commented on #897
The function as I understand it is a measure of the flux above the sky background. I suppose there is a good reason for not taking the maximum (peak) value in the data as the minuend.

[2020-09-11 13:55] pllim commented on #897
Thanks for the clarification!

[2020-09-11 13:55] #897 closed

[2020-09-11 21:21] pllim opened #898 "evaluate_peaks takes bright_radius but does not use it"
https://github.com/ejeschke/ginga/blob/965d1ec23fdf02b7a48c86b428153346c6ce5cad/ginga/util/iqcalc.py#L466

`ginga.util.iqcalc.evaluate_peaks()` takes an optional keyword called `bright_radius`. Calling function even passes it in, but it is not used anywhere inside `evaluate_peaks`. Did I miss something, @ejeschke ?

xref #896

[2020-09-14 06:51] ejeschke commented on #898
:man_shrugging: Not 100% sure about this one, @pllim.  It looks like the idea was to allow the option to pass in a separate radius parameter for one of the functions that would be used in evaluating the peaks.  It's possible (likely?) that `evaluate_peaks` evolved and the parameter was kept just to preserve the API even though it wasn't used anymore.  I spent a little bit of time grepping through

[2020-09-15 16:49] pllim opened #900 "Pick reports two different sets of FWHM values"
I saw this in https://github.com/ejeschke/ginga/pull/896#issuecomment-692832388 but I don't think it is related to my changes in that PR, so I am reporting this as a separate issue. Image can be obtained from https://stsci.box.com/s/c1rs5hqbv4mc6qlmw6fa9qedcina9p07 (special permission required for access).

**Problem**

Readout reports different FWHM X and FWHM Y from FWHM plot.

| | Readout | FWH

[2020-09-16 09:12] #900 closed

[2020-09-16 09:15] ejeschke commented on #900
@pllim, found the issue: the plot redoes the fwhm calculation, but was not including the sky background calculation, so the background was using a smaller data set to get the mean.

If you rebase #896 you will pick up the fix.

[2020-09-17 21:05] pllim commented on #900
Yes, the values agree now and the plot makes more sense too. Thanks!

[2020-09-21 20:39] ejeschke opened #902 "Add controls to Pick plugin to allow setting exact cutout"
In testing #896, it occurred to me that it might be useful to provide controls for setting the exact location and radius of the cutout in the UI, instead of only setting this via a mouse drawing.  This is then a proposal to add such controls.  Because there are different cutout types, it might complicate the UI overmuch if we were to add parameters for all the aspects (e.g. all points for polygon,

[2020-09-23 21:46] #895 closed

[2020-10-05 12:56] saimn commented on #867
Would be great to have a release with the fix for Matplotlib's cmap warning (#891) :)

[2020-10-05 17:44] ejeschke commented on #867
Well, here it is 2020-10...

I would like to merge #871 and #845 for 3.2.  Think that shouldn't be too hard before the end of October.  Anything else you want to get in before 3.2, @pllim?

[2020-10-05 17:46] pllim commented on #867
How do you think about #805? That one sounds exciting.

[2020-10-06 21:13] obi-wan76 opened #904 "Adding total brightness inside the box in PixTable"
Hi all,
This is a request to add the total sum of the pixel values as one of the outputs in PixTable. This would be in addition to the existing output, Min, Max, Avg and Rms. I think the total surface brightness within the NxN box would be a very useful feature for a quick assessment of a PSF brightens when trying to identify best observing strategies.

There may be other ways to obtain the total

[2020-10-06 21:20] ejeschke commented on #904
@obi-wan76, seems straightforward and sensible.  Want to give it a go with a PR?  :smile_cat:

Otherwise I'm sure we can get to it before release 3.2 (hopefully this month).

Maybe the label should be something like "box sum"?

[2020-10-06 21:26] pllim commented on #904
@ejeschke , maybe somewhat related... When the box is 3x3, some stats get cut off like this:

![Screenshot 2020-10-06 172559](https://user-images.githubusercontent.com/2090236/95261837-14136a80-07f9-11eb-9ec3-ec0da3e05c30.jpg)

I am wondering if the stats need to be broken into 2 lines.

[2020-10-06 21:36] obi-wan76 commented on #904
@pllim good point. If I change the Font Size it will fit but then it is too small to read comfortably.

[2020-10-06 21:37] obi-wan76 commented on #904
@ejeschke "Box Sum" sounds reasonable.

[2020-10-06 21:53] pllim commented on #904
@obi-wan76 , do you want to take a stab at this or you want me to implement it with TEL money? 😸

[2020-10-06 22:05] ejeschke commented on #904
Breaking it into two summary lines sounds like the easiest thing for now...

[2020-10-06 22:27] obi-wan76 commented on #904
@pllim Let me see if this is something that I can do (time permitted), ot

[2020-10-06 22:28] pllim commented on #904
No need to close so soon. We can close when the PR is resolved. 😄

[2020-10-06 22:35] obi-wan76 commented on #904
@pllim Sorry! I pressed the wrong button! (why is Comment next to Close?? 😄 )

[2020-10-07 01:16] pllim commented on #904
@obi-wan76 , if you want this in the next release but don't have time to implement in the next week or two, please let me know. I'll  be glad to help.

[2020-10-07 02:44] obi-wan76 commented on #904
@pllim Yes, I don'y think I'll have the time but I would like this to be implemented before the next release. If you can help it would be great, Thanks!

[2020-10-07 20:43] ejeschke commented on #867
I'm thinking that may need a little more thought and testing for a release in the next few weeks.  I'm still very interested in it though!

[2020-10-19 21:33] pllim opened #906 "TST: Fix broken dev deps job"
CI is pulling in Python 3.9 now for `3.x` but not all the upstream packages have wheels yet.

[2020-10-19 21:34] pllim commented on #906
Duh... I meant to open a PR! Been a long day...

[2020-10-22 04:10] #906 closed

[2020-10-31 01:40] #904 closed

[2020-10-31 02:05] pllim commented on #904
@obi-wan76 , if you use the dev version of Ginga now, you should be able to see the total brightness under "Sum". Thanks for your help, @ejeschke !

[2020-10-31 03:05] ejeschke commented on #904
My pleasure. Good update to this plugin.

[2020-10-31 13:22] obi-wan76 commented on #904
@pllim @ejeschke I'll give it a try, this will be a very useful update for us, thanks for all your help.

[2020-11-23 14:58] pllim opened #909 "TST: Qt installer in GitHub Actions is broken"
Something is wrong with the Qt part of Actions over the weekend.

[code]
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

I'll see if there is a later version of the Action we can use. If not, find other alternatives.