[2015-10-13 19:48] ejeschke commented on #172
Excellent.

[2015-10-13 19:49] ejeschke commented on #166
How about adding a data directory that uses the namespace trick?

[2015-10-13 19:54] pllim commented on #166
Where should this `data` reside? I can give that a try and see.

[2015-10-13 20:00] ejeschke commented on #166
How about `ginga.data`?

Don't forget to add it to `setup.py`.  For now it can probably go into the `packages` list.

[2015-10-13 20:04] ejeschke commented on #166
Hmm, rethinking this.  It might need to go in `package_data`, probably following the way that ginga examples are now installed.  At least, that's most likely how you would specify the data files in *your* setup.py that was installing.  I bet @embray would know the answer to this.

[2015-10-13 20:15] ejeschke commented on #175
I think we ought to follow astropy's conventions for this; namely, that you can tack on [name, ver] to the path and it will do the right thing.  And ideally these parameters just get passed to index into the astropy `HDUList` in the opener .  The fitsio opener should also be modified to allow the syntactical convention, as best as we can do it.

[2015-10-14 15:45] pllim commented on #166
We can always utilize `astropy.utils.data.get_pkg_data_filename()` but I don't know if that will work with shared namespace, nor the best place to place the `data` directory in this situation.

[2015-10-15 13:53] pllim commented on #175
Actually, this lookup function might still be useful, depending on how flexible you want `Datasrc` dictionary lookup to be. Currently I have to convert, say, `image.fits[('DQ', 1)]` to `image.fits[3]` so I can grab the cached data using `chinfo.datasrc['image.fits[3]']`.

[2015-10-15 23:35] ejeschke commented on #166
Let's use `ginga.data`.  Try to add it to your `package_data` in your install script for your plugin and see if you can install data files.

[2015-10-16 17:41] pllim commented on #166
That works. I put my data file under `mymodule/ginga/data` directory. And added `{'ginga': ['data/myfile.txt']}` to my `package_data` in `setup.py`.

The catch is that I need the latest `astropy` to find it because I need the new `package='ginga'` keyword in `get_pkg_data_filename()`. Otherwise, it goes into "search online" mode and gives me a weird `"cannot find _bsddb"` error.

[2015-10-16 17:42] pllim commented on #166
@ejeschke , if you are okay with what I reported above, you can close this issue.

[2015-10-16 20:25] ejeschke commented on #166
I think this is ok.  You can also (since you need an `__init__.py` in the directory, right?) do something like:
[code]

[2015-10-16 20:29] pllim commented on #166
No, I don't have `__init__.py` in the data directory, since the data directory is not technically a sub-module.

[2015-10-16 23:45] ejeschke commented on #166
Ok, well you could add an init file or use a parent directory, e.g.
[code]

[2015-10-19 13:57] pllim commented on #166
Since Ginga is already an affiliated package of Astropy, it makes more sense to me to use something from `astropy.utils.data`. Using that also enables the feature for Ginga to auto-download data files as needed from the web, should you choose to do that in the future.

[2015-10-19 17:47] ejeschke commented on #166
@pllim, if you want to use the astropy data directory function for your plugin data that would be a good idea (especially if your plugin needs astropy).  I think its not a bad idea to have a data directory inside the ginga installation path though, at least for data files used for ginga itself, so I think it makes sense to have a `ginga.data` (or something similar).  While astropy is a core requir

[2015-10-19 17:51] pllim commented on #166
Let me clarify: My data file is indeed in `ginga.data` but I am using Astropy mechanism to retrieve it. The way I do it will not introduce Astropy dependency on the viewer itself, but rather on the specific plugin that requires the data file.

[2015-10-19 17:57] ejeschke commented on #166
Sounds good.  Do you have a PR for this?  I guess it is just a small `setup.py` change.  Wonder if we should put an `__init__.py` file in the data directory anyway so git will track the directory and create it on installation.

[2015-10-19 19:15] pllim commented on #166
@ejeschke

A PR won't be necessary until you have actual data files, right? Anyways, if you do want me to submit a PR for #162, it comes with a data file, so this would be part of that PR.

[2015-10-19 20:13] ejeschke commented on #166
I think `setup.py` will need to be modified, at a minimum.  Also, it would be nice if the directory were created when the user installs ginga.

[2015-10-20 00:09] ejeschke commented on #175
@pllim, can you try commit 593c2fc50ca47b96b4020ec8a9fe108725560ef6?  This adds support for loading by `(extname, extver)`.  This also adds support for the image name so that the data src should contain a reasonable name for it.

Note that `MultiDim` is still not updated (yet) to open the HDU by this method (it is still using straight indexes), so you might need to keep your function around for a

[2015-10-20 15:44] pllim commented on #175
@ejeschke , the latest version broke `MultiDim` (as you pointed out?) and some of my plugins. This is because the keys in `Datasrc` changed from
[code]
to
[code]

[2015-10-20 20:02] pllim commented on #175
Update: I updated #176 with the fix.

[2015-10-22 03:18] hcferguson opened #179 "Behavior of colormap cuts and zoom different when using arrows or thumbs to select"
This is easiest to describe via the movie attached to the the Trello card at https://trello.com/c/flKiUXGV/17-strange-behavior-when-setting-colormap-cuts-and-zoom. The log file is there as well.

The movie shows several issues. I was trying to set the colormap cuts differently on two different images. I only partially succeeded in that -- it depended on whether I stepped through the images using t

[2015-10-22 03:29] ejeschke commented on #179
@hcferguson, can you give me access to the Trello?  Tnx.

[2015-10-22 14:07] pllim commented on #179
I think the resetting of pan/scale in 1:54 is due to this:
[code]
If I am correct, maybe this can be fixed by attaching the current pan/scale/cuts to `Datasrc`, so the settings remain even when image is reloaded from file.

Also, I cannot see what the `numImages` is set to in the video. I think it is hidden inside the "General" section that was not expanded for viewing. It is unusual for Ginga to

[2015-10-22 19:59] pllim commented on #166
Update: I don't know why, but `get_pkg_data_filename` now cannot find the data file anymore. It was working for the past few days. I'll investigate.

[2015-10-22 20:02] ejeschke commented on #179
Currently, I think the default number of images stored per channel is 10.  After that they start getting pushed out, and as @pllim points out, have to be reloaded.  I think it would be a fairly easy modification to save some of the last settings and apply them again.  The reason this is not done currently is because the `AstroImage` wrapper is dereferenced and that is where those items are stored.

[2015-10-22 20:10] ejeschke commented on #179
@hcferguson, I joined the Trello invitation you sent, but when I click on the link you posted here, I get:
"Card not found.  This card may be on a private board. If someone gave you this link, they may need to invite you to one of their boards or teams."

I am able to browse manually to "Data Analysis Tools" and a bunch of sub-boards, but I couldn't figure out how to get to this card.

[2015-10-22 20:45] pllim commented on #92
So right now, I have Qt plugins in two different namespaces and I notice that `ginga.qtw.plugins.__path__` lists both of them:
[code]
So, we could use this for auto-discovery.

c/c @eteq

[2015-10-22 21:06] pllim commented on #166
Now that I look at the Astropy codes, I am not sure why it was working at all. Perhaps it was a fluke. Does not seem trivial to update `astropy.utils.data.get_pkg_data...()` functions to support shared namespace. I will attempt to write something specific to our needs.

[2015-10-22 21:51] hcferguson commented on #179
@ejeschke the Trello problem should be fixed. I added you as a member to the board. Let me know if it's still a problem.

[2015-10-22 21:54] ejeschke commented on #179
Thanks, I am able to view the video--very helpful to understand what you are doing!

I think the basic problem here is that by using the "Remember" functions you are asking ginga to save the scale and the cut levels for each image.  When you bring each image back into the window it will ignore the current cuts and scale and instead use the ones stored with the image.  This overrides any current ma

[2015-10-22 21:58] ejeschke commented on #179
I think that the issue with the "third" image is due to an issue regarding naming that is currently being resolved (issue #175 and PR #176).

[2015-10-22 21:59] hcferguson opened #180 "Dragging workspace to desktop doesn't work with Qt"
The manual says "Tabs can be freely dragged between workspaces, or out onto the desktop, forming a new, detached workspace.” …tried dragging the Thumbs tab to the desktop with no success. On the phone @ejeschke said this works with gtk, but not Qt.

[2015-10-22 22:06] ejeschke commented on #179
Another way that a lot of our scientists like to use ginga cut levels is to just set the setting to "off".  You can then always get an automatically calculated levels by pressing the "Auto Levels" button or using the "a" keyboard shortcut.

[2015-10-23 01:11] ejeschke commented on #166
I would not expect that astropy would find files stored in other package areas.  But maybe there is an astropy function to store a file in the astropy area, or wherever it caches such downloads.  In that case you would need to use that function to install your data file.

But I think it makes more sense probably to keep the data files close to the plugin.  If `ginga.data` becomes a namespace, then

[2015-10-23 01:13] ejeschke commented on #92
That could work.  If we traverse the known plugin directories' `__path__`s, then we could find all the module names.

[2015-10-23 03:16] ejeschke opened #181 "Workaround for inefficiencies in astropy wcs conversions"
Looking for a way to improve the performance of wcs conversions between frame types when using `astropy` to handle WCS for ginga.  There is [a long-standing issue in astropy](https://github.com/astropy/astropy/issues/1717) having to do with this issue.  It turns out that ginga is one of those few special use cases where you need to do single-point or small-number of point conversions quite frequen

[2015-10-23 07:04] Cadair commented on #181
@ejeschke I got the first half of my pyastro hack merged before the 1.1 feature freeze. I will try and get time to look into this again.

[2015-10-23 20:02] pllim commented on #166
I think there is a workaround in #176 (see `nstools.py`)

[2015-10-23 20:04] pllim commented on #92
I added a function that is able to find these custom plugins in #176 (see `nstools.py`). But I cannot figure out how to determine whether the plugin is global or local. So right now, there is a way to find them, but it is not possible to auto-load them.

[2015-10-23 21:04] pllim commented on #175
This is fixed.

[2015-10-23 21:04] #175 closed

[2015-10-23 21:06] pllim opened #182 "Improve developer doc"
As part of my work at STScI, I will attempt to improve the documentation aimed at developers interested to write their own Ginga plugins.

[2015-10-23 21:07] pllim commented on #162
I have officially included this as part of `stginga` package prototype (https://github.com/spacetelescope/stginga). Feel free to re-open if you want to revisit this.

[2015-10-23 21:07] #162 closed

[2015-10-23 21:08] pllim commented on #181
Is this related to #113?

[2015-10-23 23:42] ejeschke commented on #182
This is excellent!

[2015-10-23 23:46] ejeschke commented on #181
@pllim, yes.

[2015-10-23 23:47] ejeschke commented on #180
Currently this is due to the difficulty of achieving this easily in Qt widgets.  I believe there is a way, but it's not clear from any documentation I can find.

[2015-10-23 23:49] ejeschke commented on #179
@hcferguson, did this information help to make sense of what you are seeing?  I think the fix for the third image that didn't show up in Thumbs is now committed, so I would be interested to hear an update on this issue.

[2015-10-24 00:08] ejeschke commented on #175
@pllim, I've added a change that you may find very useful.  When you create an `AstroImage` object, you can give it a `name` kwarg parameter.  This name will be used in preference to anything the loader does.  So essentially you have full control over the image names used in the `Datasrc`, and that show up in the plugins.

[2015-10-26 15:09] pllim opened #184 "Add "short name" display to Thumbs preferences"
@hcferguson pointed out that when image names are very long, thumbnails are displayed such that you only see one thumbnail per row (instead of the usual two or three for the same GUI dimension). The problem is STScI often encounters very long image names, especially for HLA and JWST.

So, I am wondering if it is possible to add a preference to `Thumbs` plugin so it only displays a short version of

[2015-10-26 15:17] hcferguson commented on #184
I think maybe a mouse hover showing the name might be a better solution, if that's feasible.

[2015-10-26 17:18] pllim commented on #184
@hcferguson, that is actually easier than what I had in mind, which is a good thing! Maybe you could give my PR in #185 a try and see if that is what you wanted?

[2015-10-26 17:32] pllim opened #186 "Thumbs and/or Contents to highlight currently displayed image"
As pointed out by @hcferguson, currently `Thumbs` and `Contents` (at least in Qt) currently do not highlight their thumbnail/entry that is being currently displayed. It would be convenient to have the active image highlighted so user knows its corresponding thumbnail and `Contents` entry without having to manually cross-reference via "Synopsis" (under `Info`) first.

[2015-10-26 18:50] ejeschke opened #188 "Line Profile Plugin: behavior on 2D images"
As @pllim reports in comments to PR#146, there is an error message when the plugin is used with a 2D image, apparently due to an instance variable not being initialized.  Probably some indication should be given that the plugin will not work with 2D images, both in the instructions and maybe with a small label widget that says "LineProfile disabled for 2D images"--you would set the label when a 2D

[2015-10-26 18:52] ejeschke commented on #188
Also, with 3D images, if I start the plugin before any image is loaded and then load a 3D image, it won't let me set a point.

ping @rupak0577
cc: @nabobalis, @Cadair

[2015-10-26 19:09] ejeschke commented on #184
I was already thinking about option 1 combined with the mouseover, so maybe that is a good sign.

option 1 should not be hard, just need to save the full name in the `Bunch` that is created to store the thumb info and modify the label that is set, based on some name-mangling method.  Might be good to put that mangling method in a util file so it can be easily shared by `Contents` as well (although

[2015-10-26 19:10] pllim commented on #184
@ejeschke, I have an idea about the mouseover part in #185

[2015-10-26 19:18] hcferguson opened #189 "Header plugin sorting is not working for me"
The manual says: "Clicking on a column header will sort the table by values in that column, which may be useful for quickly locating a particular keyword."

This isn't working for me (running using Qt on a Mac.)

[2015-10-26 19:19] pllim commented on #189
Did you check the "Sortable" checkbox at the bottom left? Just wanting to make sure.

[2015-10-26 19:30] ejeschke commented on #189
Works for me on your huge header example if I click the `Sortable` box in lower left.  Maybe I should mark this as a documentation fix?

[2015-10-26 19:38] hcferguson commented on #189
Yes. I didn't notice the checkbox. It works for me when I click ```Sortable```.

[2015-10-26 20:23] pllim commented on #186
**Thumbs**

Maybe we can update `focus_cb()` to change thumbnail label color, say, to red, for the active image. However, I cannot find a trivial way to do this for Qt (since I don't really care about GTK) because `focus_cb()` is in `ThumbsBase` that is supposed to be toolkit-indepedent.

One idea is to add a method, say, `highlight_thumb()`, to do the actual highlighting. Call it from `Thumbsbase

[2015-10-26 21:08] pllim commented on #188
Partially fixed by #187?

[2015-10-26 21:09] hcferguson opened #191 "Pan preferences: selecting wcs and apply pan moves off the image"
The following steps under Preferences-Panning results in the Pan position moving off the image:

 1. Set Pan Coord to Data and Center the image.
 2. Set Pan Coord to WCS
 3. Select "Apply Pan"

It behaves this way if I display the coordinates in decimal. If I display in sexagesimal, it seems to work properly.

[2015-10-26 21:18] hcferguson opened #192 "Text partially cutoff in plugin windows"
The word "Instructions", for example, is half obscured by the sub-window below it as in the attached screenshot. This is a generic issue for @hcferguson but not for @stscieisenhamer who is also running Qt on a Mac. Also, @pllim, on linux with Qt doesn't see the problem.
![screen shot 2015-10-26 at 5 16 55 pm](https://cloud.githubusercontent.com/assets/2261329/10742817/82761c96-7c05-11e5-83bb-657c5

[2015-10-26 21:20] hcferguson opened #193 "Changing color distribution with 'd' and scrolling changes the zoom"
Using a trackpad on a mac, I find that if I try change the color distribution using the 'd' shortcut and the scrolling, it does change the color distribution, but it also tends to leave me at a different zoom.

[2015-10-26 23:54] ejeschke commented on #189
Maybe we should make this a stored preference?  Currently you have to check the box whenever you start up ginga.  It persist for the entire session, but not between sessions.

[2015-10-27 00:02] ejeschke commented on #191
Good catch.  This is due to the pan position not being reset when the interpretation (`pan_coord`) is changed from `data` to `wcs`.  However if you were to set a new pan position (say, by centering) the new pan position should be in wcs coords.  I think the sexagesimal setting should have nothing to do with it, unless that is somehow forcing the pan position to be reset.

Probably what needs to ha

[2015-10-27 00:20] ejeschke commented on #186
This is actually a more tricky problem than it may first appear.  One complicating factor is that with alternative layouts you can have several channel windows visible--then you need to keep track of, and highlight, all the thumbs and contents entries for all the images in visible windows (and it is very easy to make an alternative layout--you can do it by just specifying a new layout in your `.gi

[2015-10-27 01:02] pllim commented on #186
I don't think STScI has a need for GTK. If I submit the solution for Qt, is it possible for someone else to implement GTK later on?

[2015-10-27 01:24] ejeschke commented on #191
Hmm, testing this more closely, I think I misspoke above, and you are right on the money.  It looks like the conversion is happening, and it's fine if set to sexagesimal and incorrectly converted if directly to degrees.

[2015-10-27 01:26] hcferguson commented on #189
Seems sensible. Or just make it sortable by default?

[2015-10-27 01:49] ejeschke commented on #186
Well, preferably if the solution can be generalized (e.g. "change the background of a label") than I can implement the corresponding behavior in gtk so that it comes out at or around the same time. But in regard to the points mentioned above, they apply even to the Qt version, so if you have a user that makes an alternative layout or plugin, your highlight scheme might show the wrong things, if yo

[2015-10-27 02:13] ejeschke commented on #193
@hcferguson, pinch gesture was unintentionally enabled by default and what was happening is that there are usually a few pinch events that get rolled into a scroll motion on the trackpad under Qt, and these were getting picked up into a zoom operation.

Commit a9bcc1b2fadd624282f10a3c8e4d6e7c62a2cb28 contains a fix.  If you want to get the pinch behavior back, checkout the `examples` directory and

[2015-10-27 02:28] ejeschke commented on #186
@pllim, commit a9bcc1b2fadd624282f10a3c8e4d6e7c62a2cb28 contains the "image-unset" callback--it may be useful if you are interested in pursuing this.  When a new channel is created (see `add_channel()` in `ThumbsBase`) you would want to register for this and the "image-set" events, they will tell you when an image is replaced in a channel using the "typical" ways.  It's probably the best way of tr

[2015-10-27 02:37] ejeschke commented on #189
Hmm, when I make it sortable by default, it sorts the header (as expected).  I think for many of our users (at least), they are familiar with the order in which the instrument wrote the file, and having ginga sort it by default might be confusing.

[2015-10-27 03:38] rupak0577 commented on #188
@ejeschke You are probably clicking outside the boundaries, which it does not allow. Also, it works fine for me.

[2015-10-27 09:37] ejeschke commented on #192
@hcferguson, are you running with an Anaconda python distribution?

[2015-10-27 09:40] ejeschke commented on #188
Fixed the error message and some other minor issues in commit 376bf76ebeabb3235b41bb0d83602b11f26fe573

[2015-10-27 09:43] Cadair commented on #188
@ejeschke I don't think slit should work with 2D images at all, same as line profile.

[2015-10-27 09:47] ejeschke commented on #188
Roger that, but it was spewing exceptions into the log when loading 2D images (*even when not using the plugin*).  Not good.

[2015-10-27 09:48] Cadair commented on #188
@ejeschke Interesting. I guess it should be disabled if the image is not 3D+ and it should obviously not be doing much if it's not being used.

[2015-10-27 10:27] ejeschke commented on #188
My bad for not catching it earlier.  The plugin was registering for new image notifications (via a callback) to rebuild the  axes options, but this is unnecessary, since `redo()` is called when there is a new image and is only called if the plugin is active.  So it is the preferred way to handle new images in plugins.

[2015-10-27 11:38] rupak0577 commented on #188
@ejeschke Thanks for the fixes. It was wrong to use the callback - I used it for rebuilding the axes only when a new image is loaded instead of using `redo()` which does it everytime.

[2015-10-27 12:55] hcferguson commented on #192
@ejeschke Yes.

[2015-10-27 13:15] pllim commented on #192
@hcferguson, would be useful if you could paste the output of your `conda list` command here.

[2015-10-27 13:45] hcferguson commented on #192
Here's condo list for my laptop

'''
Henrys-MacBook-Pro:~ hcferguson$ conda list
# packages in environment at /Users/hcferguson/anaconda:
#
_license                  1.1                      py27_0
abstract-rendering        0.5.1                np19py27_0
alabaster                 0.7.3                    py27_0
anaconda                  2.3.0                np19py27_0
appscript                 1.

[2015-10-27 14:04] hcferguson commented on #192
Here is conda list for my desktop.

[code]

[2015-10-27 14:16] pllim commented on #192
Mine appears comparable on Linux.

[2015-10-27 14:20] pllim commented on #189
I agree with @ejeschke that sorting by default is not desirable. I am one of those people who already familiar with the header layout and wish to keep it that way.

[2015-10-27 14:42] stscieisenhamer opened #194 "Any special drawing facilities that work in WCS spaces?"

[2015-10-27 14:44] hcferguson commented on #189
Agreed that I would want to have the first view be in the order they appear in the header. But more intuitive to me would be to have it so that  just clicking on a column sorts by that column without having to click another button to enable that functionality. And then I would want the option to put it back in the original order (i.e. rename the Sortable button something like "reset" and have it u

[2015-10-27 14:46] pllim commented on #189
Currently, unchecking `Sortable` undoes the sorting. I think for now, it is sufficient to make the checkbox a preference.

[2015-10-27 14:47] pllim commented on #194
@stscieisenhamer , if you open the `Drawing` plugin, you can select "Coord type" to be "data" or "wcs", so I think the answer is yes.

[2015-10-27 15:03] stscieisenhamer commented on #194
Which leads to the drawing parameter 'coord' = 'data' | 'wcs'

Thanks! Will leave open to see if there is more to be said on this.

[2015-10-27 15:12] pllim commented on #194
It is set in `ginga/canvas/DrawingMixin.py`:
[code]
The actual implementation appears to be in `ginga/canvas/coordmap.py`.

[2015-10-27 15:52] mcara commented on #162
@pllim

The issue is not in capability to read GEIS or WAIVER FITS but rather the fact that WFPC2 (and other instruments) have DQ flags in a separate file (e.g., "_c1m.fits"). Even multi-extension WFPC2 files suffer from this. Thus, dealing with these instruments would require searching for presence of a DQ file named similarly to the image file but with a different suffix.

[2015-10-27 15:57] pllim commented on #162
@mcara , let's move this particular discussion over to spacetelescope/stginga#6 since the plugin currently resides there.

[2015-10-27 16:15] pllim commented on #186
@ejeschke

Yes, I understand. Why don't we agree on the Qt implementation first, and then we can talk about the equivalent form for GTK? Currently, my idea is to just highlight the font color in red, so shouldn't be too complicated.

I am using the `active-image` callback, which seems to work pretty well in Qt. Given #180, I cannot really test if that works for detached workspace/channel, since it

[2015-10-27 17:55] ejeschke commented on #188
@rupak0577, you wouldn't have known due to the poor documentation, but both of those were triggered off of the same event (image-set, which is an image being displayed in the channel window--not necessarily a "new" image--just an image now displayed).  What's different is that `redo()` is called only when the plugin is actively being used (i.e. is open on that channel).  So in a sense it is the op

[2015-10-27 18:04] ejeschke commented on #194
As you figured out, it's the `coord` keyword.  This functionality is somewhat new in ginga, meaning not tested as thoroughly as some other features.

[2015-10-27 18:21] stscieisenhamer commented on #194
Thanks and thanks! Will be testing, as soon as the meetings are over...

[2015-10-27 18:21] #194 closed

[2015-10-27 18:21] pllim commented on #188
Yes, I think just toggle them enable/disable would  be obvious enough to the users. :+1:

[2015-10-27 18:24] hcferguson commented on #192
Hmm....looking at the ginga script, it appears that it used ssbx on the install. Not sure how that happened.

[code]

[2015-10-27 18:27] hcferguson commented on #192
Nope...nevermind...I wasn't using the ssbx version in testing. I have been using the anaconda version, just hadn't set the environment in that window. The startup script for that is quite different.
[code]

[2015-10-27 20:21] ejeschke commented on #189
Merged #196.  Leaving this issue open until the documentation is updated.

[2015-10-27 21:16] hcferguson opened #197 "match->WCS and lock->WCS functionality"
This may be a documentation problem, but I haven't yet figured out how to lock images together by WCS so that I can step through a stack of them and have them be aligned even if they have different WCS's.

I thought that the Pan settings in Preferences (within a single channel) would do this if I chose WCS, but that didn't work for me. That is perhaps a bug?

Ideally, I think this functionality wo

[2015-10-27 23:44] ejeschke commented on #197
@hcferguson, you'll have to elaborate just a little for me.  When you say "align", do you mean to match scale, rotation and distortion as well as pan position, or just pan position according to wcs?  The former is not implemented (although it might be a fairly easy plugin for someone familiar with the astropy `reproject` module).

The latter ought to work, once a pan position is established in wcs

[2015-10-27 23:45] ejeschke commented on #197
When you say "different color cuts", do you mean that you have set different cut levels for each image, or that you have changed the color map for each image?

[2015-10-28 00:04] ejeschke commented on #189
I believe the documentation is addressed in commit 10fe0ceb9bb051d0832915b6f21ef6b73d87c43c.  If there is no objection, I will close this issue.

[2015-10-28 00:05] ejeschke commented on #191
@hcferguson, the problem was much simpler than I thought and was simply a failure to handle the case of non-sexagesimal (floating point) wcs coordinates in the handler for "Apply Pan".

This is fixed in commit 10fe0ceb9bb051d0832915b6f21ef6b73d87c43c.  Can you check that it works for you? Tnx.

[2015-10-28 00:19] hcferguson commented on #197
@ejeschke I meant different cut levels.

[2015-10-28 00:27] hcferguson commented on #197
@ejeschke I meant the functionality of ds9 ```Frame->Match->Frame->WCS``` or ```Frame->Lock->Frame->WCS```. I don't know if these handle distortions, but for frames that have a good WCS, these will ensure that the sources generally line up even if the pixel scales, centers and orientations on the sky are different.

[2015-10-28 00:35] hcferguson opened #198 "ICC profile settings repeated in preferences"
The ICC profile settings appear to be redundant in Preferences (under both General and ICC profile).

[2015-10-28 00:42] ejeschke commented on #198
Fixed in commit 27bbba051f5f3d3c407ef57c7dc806e8d3d529e8.  Thanks!

[2015-10-28 00:43] #198 closed

[2015-10-28 01:07] ejeschke commented on #197
It might be good to separate the issue of the cuts vs. the reprojection/alignment.

Regarding maintaining the cuts values, if I choose "Save Cuts" under the "Remember" preferences then it saves any cut levels I apply to an image and restores those to the image when I view it again. At any time while viewing an image with saved cut levels I can manually or automatically set the cuts and they will b

[2015-10-28 01:12] ejeschke commented on #197
Sorry, misspoke above in regard to one item: when "Save Cuts" is used, currently only manually adjusting the cuts levels will resave them to the image.  If you do an "Auto Levels" on an image it will adjust the cuts automatically, but they are not saved unless you *then* press "Cut Levels"

[2015-10-28 04:35] rupak0577 commented on #188
@ejeschke Hmm, I missed it - we don't need to rebuild the axes if the new image loaded has the same number of axes as the current one which simplifies it.

[2015-10-28 05:51] ejeschke opened #199 "Testing new Crosshair canvas type and plugin"
There is a new canvas type called "crosshair", which, not surprisingly, renders a crosshair on the ginga canvas.  There is a new plugin for the reference viewer that uses it, called "Crosshair".

Requesting feedback.

[2015-10-28 05:53] ejeschke commented on #199
ping @pllim, @stscieisenhamer, @hcferguson

[2015-10-28 09:28] olebole opened #200 "Consider creating a Debian package"
Hi,

I am writing you on the behalf of the [Debian Astronomy Team](https://lists.debian.org/debian-astro/). We are trying to get all important free astronomy software [packaged for Debian](https://qa.debian.org/developer.php?email=debian-astro-maintainers%40lists.alioth.debian.org) (from where it will migrate to Ubuntu and Mint as well). One important group are python packages, especially Astropy

[2015-10-28 14:13] pllim commented on #199
@ejeschke, seems to work in both `Crosshair` (only single crosshair possible) and `Drawing` (multiple ones possible).

How do you envision this to be used? It is nice, but it tells me nothing new that I cannot already see on the info bar at the bottom of the image display.

[2015-10-28 14:29] pllim commented on #189
@ejeschke, there appears to be a broken reference in the sentence just above your commit.

[2015-10-28 14:46] pllim opened #201 "How to directly open multi-ext FITS with non-default ext?"
This was brought up during a sprint involving @hcferguson, @gderosa2004, @eteq, @perrygreenfield, @stscieisenhamer, and myself.

Let's say we have an image named `image01.fits` with the following multi-extension FITS layout:

Ext. Num. | EXTNAME | EXTVER
------ | ------ | ------
0 | PRIMARY | --
1 | SCI | 1
2 | ERR | 1
3 | DQ | 1
4 | SCI | 2
5 | ERR | 2
6 | DQ | 2

And the user wishes to open exte

[2015-10-28 14:59] nabobalis opened #202 "4D FITS and MultiDim"
Creating a 4D FITS file, with shape [10,89,1000,1000] which are [Time,Wavelength,Spatial]. NAXIS3 and NAXIS4 are the correct length in MultiDim but it can not index NAXIS3 beyond the range of NAXIS4.

This seems to me that NAXIS3 and NAXIS4 are switched when they should not be. So somewhere the ordering of the axes is getting incorrectly set but I can not seem to track it down.

@Cadair @rupak0577

[2015-10-28 15:10] pllim commented on #184
Fixed by #185.

[2015-10-28 15:10] #184 closed

[2015-10-28 15:14] pllim commented on #192
After speaking offline with @hcferguson, my suspicion is that there are some mixed up in his paths:

* `PATH` has a mix of Anaconda, SSBX, `/sw/...`, `/usr/...`, and `/opt/...` directories.
* `LD_LIBRARY_PATH` is not explicitly set to use Anaconda libraries.
* `PYTHONPATH` does not explicitly set to use Anaconda packages first.

My recommendation is to clear up the above first, and see if the prob

[2015-10-28 15:20] Cadair commented on #202
A simple example of this would be:

[code]

@nabobalis can you check the above?

[2015-10-28 15:20] pllim commented on #199
If `Crosshair` were to be a permanent plugin, we might also consider:

* Adding a `plugin_Crosshair.cfg` file to set user preferences for, say, default color and format.
* Adding additional GUI to adjust its parameters like color, line width, line style, and maybe even font size.
* Not sure if this will overcomplicate things but some users might ask for it: Allowing multiple crosshairs, like in `D

[2015-10-28 15:21] nabobalis commented on #202
@Cadair I already did with some IBIS data. But I can run that.

[2015-10-28 15:23] Cadair commented on #202
@nabobalis just to give a way for other people to check it.

[2015-10-28 15:24] nabobalis commented on #202
@Cadair I ran it anyway, the same issue.

[2015-10-28 15:25] Cadair commented on #202
yes probably best to drop the image down to 100x100

[2015-10-28 15:39] pllim commented on #52
Here is some info about how to use `Catalog` plugin, @hcferguson, @gderosa2004, @eteq, @perrygreenfield, @stscieisenhamer

[2015-10-28 15:54] Cadair commented on #202
@nabobalis So it seems that:

The callback gets added with the numpy dimension number here: https://github.com/ejeschke/ginga/blob/master/ginga/misc/plugins/MultiDim.py#L255

which then calls: https://github.com/ejeschke/ginga/blob/master/ginga/misc/plugins/MultiDim.py#L210

which calls: https://github.com/ejeschke/ginga/blob/master/ginga/misc/plugins/MultiDim.py#L412

which inverts the axis here:

[2015-10-28 16:21] rupak0577 commented on #202
Hmm, I should have reported this before - I had this issue with a 4D file but thought it was due to the file. Also, another issue is the slider control buttons which seem to work only for NAXIS3.

[2015-10-28 16:28] ejeschke commented on #202
Good find!  I'll take a closer look later today, but if you have a fix, please send a PR!

[2015-10-28 16:33] ejeschke commented on #199
@pllim, I envision a couple of use cases. One is when examining some detail in an image it is useful to be able to see the coordinates or the data value without moving your eye too far away from the point of interest--the distraction of looking to the readout and back becomes greater with some really high resolution displays that we have these days.  It can also be used as a kind of "straight edge

[2015-10-28 16:36] ejeschke commented on #199
Yeah, preferences would be nice.  I added it mostly for a specific use case we have, but I think it may be handy in custom plugins or non-reference viewer apps because programmatically you can also set the text easily to whatever you want.

[2015-10-28 16:43] ejeschke commented on #201
Did you try it from the command line?  e.g.
[code]

[2015-10-28 16:46] ejeschke commented on #200
Hi @olebole!
I would really like to get ginga into debian.  Since it is a pure python package, it should be be pretty easy.  I don't know the first thing about Debian packaging, so if the D.A.T. would be willing to help I would really appreciate it.  If it helps I could send a list of required and recommended python packages.

[2015-10-28 17:04] pllim commented on #201
Yes, I did. I get an error:
[code]

[2015-10-28 18:08] rupak0577 commented on #202
I have been trying to fix it by adding checkboxes next to the axes but had some difficulty in following the code. Nevertheless, will try again. Also, I am confused by [this](https://github.com/ejeschke/ginga/blob/master/ginga/misc/plugins/MultiDim.py#L414) - it seems the option to choose the axis is already present. Or is it for something else?

[2015-10-28 18:27] ejeschke commented on #201
I was able to do it by quoting the brackets, because depending on your shell (e.g. `bash`) they are special characters.  For example, if I do:
[code]
it does just what you would expect.  You can probably also use backslash to escape the brackets.

[2015-10-28 18:31] ejeschke commented on #201
The `load_file` method in ginga does parse the HDU extension syntax, so it's simply a matter of getting the path with the "[...]" bits on the end in to that function.   I think it is also supported by drag and drop if the URL happens to have the syntax at the end.

Probably we should modify the file open dialog and the `FBrowser` plugin to allow you to specify the HDU extension.

[2015-10-28 18:32] pllim commented on #201
Ah, okay. I can confirm that this also works:
[code]

Yes, would be nice for `FBrowser` to support this, if possible.

[2015-10-28 18:38] ejeschke commented on #201
Remote control also works.  Be sure to invoke the "RC" plugin from the "Plugins" menu, then:
[code]

Type
[code]
to get a brief help message for using the remote feature.

[2015-10-29 02:17] #189 closed

[2015-10-29 07:54] olebole commented on #200
Hi @ejeschke , for Astropy Affilated Packages I wrote a tutorial how to create a Debian package for them:
* [Preparation](https://wiki.debian.org/DebianAstro/AstropyPackagingTutorial/Preparation)
* [Packaging](https://wiki.debian.org/DebianAstro/AstropyPackagingTutorial/Packaging)
* [Upload and Advanced topics](https://wiki.debian.org/DebianAstro/AstropyPackagingTutorial/Packaging)

For pure Pytho

[2015-10-29 13:40] pllim commented on #201
I'll see if I can get a prototype PR in today.

[2015-10-29 14:49] pllim opened #203 "Ginga cannot open GMOS multi-extension FITS by default"
As reported by @gderosa2004, even using the latest dev version . Here is the file info:
[code]
This Ginga command
[code]
gives the following error in the GUI:
[code]

and in the log file:
[code]

DS9 has no problem skipping the table in EXT 1 and opens image in EXT 2 using the following command:
[code]

However, specifying the extension explicitly in Ginga successfully opens the image:
[code]

[2015-10-29 19:18] ejeschke commented on #203
There is a possible fix for this in commit 4a9b9bc05c8bb212a3fb90e077ca20c6bee1ffd9.  I check the HDU type and pass by those that are not `ImageHDU` or `PrimaryHDU`.

Would it be possible to get a copy of this FITS file or a similar one for future testing?

[2015-10-29 19:39] eteq commented on #181
@ejeschke - I quick look at the current master of `wcsmod.py` suggests to me that the workaround you used for this *should* still be working.  Can you clarify exactly what's going wrong?  (Or point me to an example case that I can use to explore on my own)

[2015-10-29 20:12] ejeschke commented on #181
@Cadair, to test, I am setting WCSpkg="astropy2" in my `$HOME/.ginga/general.cfg`--this forces use of `astropy2` (otherwise it will default to `astropy`).  Make sure you have this set or you won't see the issue.

I am using astropy 1.0.2

Here is a typical traceback I get when trying to use the wcs:
[code]

[2015-10-29 20:55] pllim opened #205 "WCS problems"
"Issue reading WCS coordinates" as stated by @gderosa2004 in spacetelescope/stginga#19.

[2015-10-29 21:16] ejeschke commented on #205
Ginga does not implement it's own wcs, but forwards all wcs handling to one of the supported wcs packages.  When reporting wcs problems, it is important to know which wcs package was used. Please set your desired WCS package as described in the [FAQ](http://ginga.readthedocs.org/en/latest/FAQ.html) under "What library are you using for WCS?".

If the package you are using creates the WCS fine in i

[2015-10-29 21:25] pllim commented on #203
@ejeschke , I emailed your the data file.

[2015-10-29 21:45] hcferguson commented on #197
@ejeschke I put a movie of my workflow in ds9 at https://trello.com/c/mk77Ejyd/53-equivalent-of-ds9-frame-lock-frame-wcs

[2015-10-29 22:26] Cadair commented on #181
Oh, that just seems to be a very silly bug:

[code]

should be

[code]

(from the traceback)

[2015-10-29 22:27] Cadair commented on #181
I will try and look at this tomorrow

[2015-10-29 22:28] eteq commented on #181
I think I got it working, and will issue a PR shortly. (So no need to do it yourself, @Cadair, although you certainly should review the PR)

[2015-10-30 00:57] ejeschke commented on #203
Thanks, @pllim.  I verified that the above commit now opens the file.  However, the WCS does not work. Looking into that now.

[2015-10-30 02:33] ejeschke commented on #203
Commit 0c6a3ea031a0468fe126f8d73c1e5f3192abdaab contains a fix so that ginga now recognizes not to do a second conversion to the user's preferred coordinate space (e.g. FK5->galactic) when the coordinate system is "LINEAR" (as shown by the CTYPE in HDU 2 of this data file.  It now reports the units returned from the wcs.  But the units do not match what ds9 shows.  However they do match what I get

[2015-10-30 03:02] ejeschke commented on #186
Sounds good.  I left some comments in the PR.

[2015-10-30 03:06] ejeschke commented on #200
@olebole, is there an automated system for making releases by the D.A.T.?  I must say that the instructions are somewhat daunting, including signing up for various mailing lists, etc.  Wondering if you have a system for just making affiliated packages into debian releases.

Currently I have BSD for the vast majority of the code, and a couple files are Apache License 2.0.  Is that fine for Debian?

[2015-10-30 08:47] olebole commented on #200
There are some automated tools, like [stdeb](https://pypi.python.org/pypi/stdeb) and [pypi2deb](https://github.com/p1otr/pypi2deb). They do some formal translation. However, the major work is anyway to be done manually -- mainly to create `debian/copyright` with all licensing information. BSD + Apache-2 is fine for Debian; however it needs to be [documented en detail there](https://www.debian.org/

[2015-10-30 14:45] pllim commented on #203
@nden, do you handle `astropy` WCS now? Is this something you can assist with?

[2015-10-30 15:00] pllim opened #207 "Registering custom plugins"
"I like the idea of plugins registering themselves somehow on the install so that there is no need for autodiscovery." -- @ejeschke

https://pythonhosted.org/setuptools/setuptools.html#dynamic-discovery-of-services-and-plugins -- @embray

Instead of shared namespace solution (as discussed in #92).

c/c: @eteq

[2015-10-30 15:01] pllim commented on #207
OMG I just c/c-ed three Eric/Erik's

[2015-10-30 15:04] pllim commented on #182
I didn't get a chance to do this myself during the spring, but @hcferguson (and maybe even @gderosa2004) made some edits. @hcferguson plans to open a PR for his edits.

[2015-10-30 16:29] pllim commented on #192
@hcferguson reported that the problem "magically" disappeared.

[2015-10-30 16:30] pllim commented on #166
No go.

[2015-10-30 16:30] #166 closed

[2015-10-30 16:31] pllim commented on #92
No go.

[2015-10-30 16:31] #92 closed

[2015-10-30 17:15] pllim commented on #203
@ejeschke, thank you for the fix. I can confirm that Ginga can indeed open `SCI` extension by default now and automatically skips the table.

[2015-10-30 17:23] pllim commented on #205
@ejeschke, I think she used the same image that was mentioned in #203. She was trying to draw a compass via the `Drawing` plugin but was unsuccessful because of bad WCS. She claimed that she had no problem seeing the compass in DS9.

In my own test with DS9 (screenshot attached below), I find that DS9 also cannot read the WCS, but it draws a compass anyway that goes along X and Y axes. Feel free t

[2015-10-30 17:35] gderosa2004 commented on #205
The image is different - it is in the repo folder wcs_issue.
We've found out that the image does not have WCS keywords in the header. ds9 reads RA, DEC & scale plate, assumes an orientation and gives an estimate of RA & DEC over the full image.

[2015-10-30 18:10] pllim commented on #205
Ah, okay. I apologize for the confusion, @gderosa2004. I emailed you the data file, @ejeschke .

[code]

DS9 does indeed display WCS, as shown below:
![untitled](https://cloud.githubusercontent.com/assets/2090236/10853802/73e8d860-7f0e-11e5-8668-5babed5cd3ce.png)

In Ginga, I tried all the possible WCS options in `~/.ginga/general.cfg` below; None of them worked:
[code]

I also tried loading the W

[2015-10-30 18:17] pllim commented on #205
Update: @ejeschke , the file is too large to attach in email, so I put it on Box. You should have a separate email on how to access it. If not, please let me know. Thanks!

[2015-10-30 18:44] ejeschke commented on #205
@pllim, this is good to know.  Unless `astropy.wcs` could pick up a fix for this (which is probably not wise, the file is fundamentally broken if wcs keywords are missing), the only thing I can recommend is to try to fix up the keywords *before* ginga creates the astropy WCS in `wcsmod`.  We had a case for doing something like this at Subaru (although not for bad WCS, just to prevent `astropy.io.f

[2015-10-30 18:47] gderosa2004 commented on #205
@ejeschke what about a similar fix as ds9 but issuing a warning to the user? Sometimes even though the astrometry is not completed having an idea of where you are in the field can still be useful.

[2015-10-30 19:03] pllim commented on #205
@ejeschke, yes, that seems like a good place to place a fix in.

@gderosa2004, do you know the correct WCS keywords/values to use for this case? I don't know much about WCS and I don't know how DS9 extracted those WCS values it is showing.

[2015-10-30 19:12] ejeschke commented on #205
It would be useful to figure out a way to "fingerprint" certain types of FITS files to be able to fix up the headers in them before creating the WCS.  That way the fixes could be very precisely applied.  You might discuss this in your meeting today.  Maybe @eteq, @embray or @nden would be able to inform the approach.

[2015-10-30 19:40] pllim commented on #203
@ejeschke, can we close this now that the WCS matter is moved to #205?

[2015-10-30 21:05] pllim commented on #186
Thanks, I'll take a look next week. Happy Halloween! :ghost: :jack_o_lantern:

[2015-10-30 23:37] ejeschke commented on #203
Yes, I think the basic load issue is solved.

[2015-10-30 23:37] #203 closed

[2015-11-02 17:22] stscieisenhamer opened #209 "Qt signals: anything special?"
Question: Do Qt signals have any wrappers or otherwise special treatment? Besides the CallBacks, would there be any other abstraction on any of the UI toolkit events.  I'm looking to key off of window resize events to resize/re-zoom image view.

[2015-11-02 19:11] ejeschke commented on #209
@stscieisenhamer, you can register for the callback "configure":
[code]

[2015-11-02 20:18] pllim commented on #186
@ejeschke , I updated the two relevant PRs. Please let me know what you think.

[2015-11-02 20:43] pllim opened #210 "Add Workspace weird behavior and traceback"
Using the latest dev version of Ginga, I encounter two different unexpected (but mutually exclusive?) behaviors with "Add Workspace" functionality when I have the following workflow:

1. Run Ginga from command line using Qt toolkit.
2. Use `File -> Open` to open one 2D image from multi-extension FITS file on the default `Image` channel.
3. Use `Workspace -> Add Workspace` to create a new workspace

[2015-11-03 19:31] stscieisenhamer commented on #209
This does it! thanks!

[2015-11-03 19:31] #209 closed

[2015-11-03 19:32] stscieisenhamer opened #212 "edit_cb: know which handles were used?"
Is it possible in the edit callback for an object, to know which handle has used: either moving from the center handle, or resizing had occured?

[2015-11-03 22:42] ejeschke commented on #212
@stscieisenhamer, I believe there is no information in the edit callback about that.  That callback is fairly new and not widely used, I guess, so it might be possible to add that information.  But perhaps there is a different possibility be querying the canvas.  Can you elucidate the use-case?

[2015-11-03 23:25] stscieisenhamer commented on #212
For me, more of just a convenience. If I know the size of the object hasn't changed, just position, it saves some calculation. In my case, some extra WCS calculation.

[2015-11-04 17:34] pllim commented on #212
It is possible to track the object properties yourself and then compare within your own `edit_cb()` method. Maybe something like:
[code]

[2015-11-04 18:18] ejeschke commented on #212
This might be the easiest thing to do.  To simplify, you could make use of the `data` attribute of a `CanvasObject` (all objects that you place on a ginga canvas has this as a base class).  You could set the `xcen`/`ycen` in the data like so:
[code]
and later check it after an edit:
[code]

[2015-11-05 16:35] stscieisenhamer commented on #212
@pllim Yep, that was doing anyways. Was just wondering how detailed the events were.

Thanks all!

[2015-11-05 16:35] #212 closed

[2015-11-06 14:38] pllim commented on #171
Resolved by #211.

[2015-11-06 14:38] #171 closed

[2015-11-06 14:59] stscieisenhamer opened #214 "Goal: Inter-plugin operability"
Today I am experimenting with having two plugins interact. In this case it would be the MultiImage one I'm working on and the Pick plugin.

In the current short foray, I have learned about the PluginManger. However, information such as `is_active` does not seem to include the local plugins and there isn't clear indication as to why.

I will be continuing on, but thoughts/pointers will be appreciat

[2015-11-06 15:01] pllim commented on #214
I wonder if you can use `self.gui_up` as an indication. Every plugin has one.

[2015-11-06 15:56] pllim commented on #214
From looking at `Control.py`, this could be the solution (theoretically):
[code]

[2015-11-06 16:01] pllim opened #215 "Add "Modified" column to Contents"
I see that Ginga as a `'modified'` callback. I propose that `Contents` adds a new column at the end named "Modified", which would change from "no" to "yes" when an image issues the aforementioned callback. What do you think, @ejeschke? If you agree, I can attempt a PR since I already have something similar going on in my subclass. Please let me know.

[2015-11-06 16:02] stscieisenhamer commented on #214
oh, that looks promising...

[2015-11-06 16:24] stscieisenhamer commented on #214
yep, that was the key. thanks!

[2015-11-06 17:17] stscieisenhamer opened #216 "Plugin UI failed to initialize: 'QWidget' object has no attribute 'addWidget'"
With latest master, 12c5961, I"m getting the following:
[code]
This seems to have been introduced sometime after fab257c5
This appears under the Thumbs tab.

[2015-11-06 17:24] pllim commented on #216
cw.layout().addWidget(...)

[2015-11-06 17:58] ejeschke commented on #214
Good sleuthing, @pllim!  Yes, that is the way to grab the instance of a plugin for the the same channel.  You can set your own variables in the plugin (e.g. `gui_up`) to indicate that it is "open" and I think there may be (should be?) a method or variable you can look at (via the `opmon` object shown above) to query whether it is active.

[2015-11-06 18:05] ejeschke commented on #214
BTW, if you are developing plugins and you haven't yet discovered the `Debug` plugin, now might be the time to get to know it.  You can start it from the `Plugins` menu.  The most useful feature of it is being able to reload a plugin without restarting ginga.

Let's say you are developing a local plugin.  You've found a bug and already edited the plugin code.  You have a viewer full of data that w

[2015-11-06 18:11] stscieisenhamer commented on #214
Yep, know all about the Debug :+1:

And ya, with the finding that the opmon's are channel-local (I'm still not getting my head around this), the inter-plugin operation is going fine. I dare say that by COB, one "killer-app" of a plugin combo should be done. Well, start-of-week anyways...

[2015-11-06 18:11] #214 closed

[2015-11-06 18:11] ejeschke commented on #216
Could you try removing all the '*.pyc' files in your ginga area?  I use something like:
[code]
It sounds like the old non-unified Thumbs from `ginga.qtw.plugins` is getting loaded.

If that doesn't work can you try a clean checkout and report back?  I'm not seeing this.  Tnx.

[2015-11-06 18:16] stscieisenhamer commented on #216
The cleanout worked!
'Tis clean...
Thanks!

[2015-11-06 18:16] #216 closed

[2015-11-06 18:23] ejeschke commented on #215
There are more than one `modified` callbacks.  There is one issued by an `AstroImage` class object to indicate that the file has been modified in memory (but not on disk).  This is not typically done by most plugins that I know of.

There is a `modified` issued by a canvas to indicate that a redraw is necessary for any viewers looking at that canvas.

Are you thinking of the first case?  Do you ha

[2015-11-06 18:25] pllim commented on #215
Yes, that one.

Yes, I have multiple.

[2015-11-06 18:27] pllim commented on #215
Currently, I manually set the status by directly accessing the subclassed `Contents` plugin method. But since you already have such a callback, I thought it would be more elegant to use the callback. And there is no reason not to include in core to show that Ginga already support such a thing?

[2015-11-06 19:02] ejeschke commented on #215
I have no objections.  I would keep in mind that 1) it is possible for an image to be in more than one channel at a time, and 2) image names are not necessarily unique.  AFAIK, the `modified` callback comes from the image directly, with no information about which channel it is in, so that might complicate figuring out which contents entries to modify.

How about instead adding a modification time

[2015-11-06 19:16] pllim commented on #215
Hmm. Modification time tells me nothing unless I can somehow memorize all the original mod times and mentally compute whether it has changed. However, if you are saying that we can use modification time as a basis to decide whether the status is "yes" or "no", then it works for me.

[2015-11-06 19:38] ejeschke commented on #215
If you set the initial modification time of the image to `None`, then in the column you could show "no" or if modified, the time.

[2015-11-06 19:41] pllim commented on #215
Yes, that sounds great! :+1:

[2015-11-06 22:10] stscieisenhamer commented on #214
@ejeschke So, the latest master of stginga has an implementation of the MultiImage plugin and a modified Pick plugin, MIPick, that now work in conjunction.

[2015-11-06 23:16] ejeschke commented on #214
Cool! I'll take a look.

[2015-11-09 17:16] pllim commented on #214
@stscieisenhamer , just nitpicking here... I would prefer `MPick` over `MIPick`. That "I" is easily missed and can sometimes look like the number one or lowercase "L".

[2015-11-09 17:38] stscieisenhamer commented on #214
Well, the real hope is that once some more refactoring and final functionality, such as image deletion, are handled, everything will get merged into main reference viewer, and there will be no need for a separate Pick plugin. Just did this for demonstration purposes.

[2015-11-10 05:38] ejeschke commented on #186
@pllim, can you please try commit 915dad34bbadcab710fac3b7f2b1bc15101850f4?  This adds support for the highlight function in the Contents.  It works a little differently then your PR, it tracks the "image-set" callback, which allows ginga to track the visible images in all channels, not just following the focus.

Let me know what you think.

[2015-11-10 05:40] ejeschke commented on #186
We can add back in the stuff about making the color a preference, etc.

[2015-11-10 06:03] ejeschke commented on #210
@pllim, can you still reproduce this with current master?

I remember seeing something like this once (the disappearing dialog), but I can't seem to reproduce it now.

[2015-11-10 06:04] ejeschke commented on #210
If this is still happening, could you report your platform (os, flavor and version)?  Tnx

[2015-11-10 17:54] pllim commented on #210
@ejeschke, seems to have disappeared with the latest dev Ginga, dev Astropy, and conda packages.

**However**, now that drag-and-drop does not work anymore, I cannot figure out how to open images within the new workspace to test it further.

[2015-11-10 18:22] pllim commented on #186
@ejeschke, your commit seems to work (for channels anyway, since I can't figure out how to open images in a workspace anymore without drag-and-drop); see attached screenshot. **However**, I don't see alternate row colors anymore in `Contents` -- Is this intentional? **Also**, the behavior is not exactly the same as what I implemented for `Thumbs` in #195. Personally, it is clearer to me to just hi

[2015-11-10 19:37] ejeschke commented on #210
Can't you drag images from your system file browser? i.e. nautilus (linux) or OS X finder (mac), etc

[2015-11-10 19:47] ejeschke commented on #186
I reverted the alternate color scheme, but I am open to bringing it back.  Actually, since it is a kwarg to the widget creation we could make it a plugin preference.  Do you prefer it?

[2015-11-10 19:56] ejeschke commented on #186
The behavior is at the crux of the issue.  In opening this issue, you say:

The behavior of `Contents` is now consistent with that goal--it highlights the images that are being displayed in the various widgets.  However, if the goal is to just highlight the image for the widget that currently has the *keyboard* focus, then we would want to track the callback you are using in your PR.

[2015-11-10 19:58] ejeschke commented on #186
BTW, you can use `FBrowser` or "File"->"Load Image" with channels displayed in a grid.  Simply click on a window in the grid to select that channel, and then invoke the FBrowser plugin (or File->Load Image).

[2015-11-10 20:00] pllim commented on #210
I never use system file browser but now that I tried it, it works that way. And seeing how `Contents` is highlighting things when I have 2 channels and a workspace active, I definitely prefer to only highlight one. Personally, when it highlights the "active" image in *every* channel and workspace, the highlighting quickly becomes meaningless to me.

Not sure if these errors are related but I saw t

[2015-11-10 20:03] pllim commented on #186
@hcferguson , which highlighting scheme do you prefer?

[2015-11-10 20:07] pllim commented on #210
The weird behavior is back.
[code]

[2015-11-10 20:14] pllim commented on #186
Ah yes, I am so fixated on the drag and drop problem that I forgot I could manually load the files as well.

@ejeschke, when I click on a different channel in the workspace and load an image using `FBrowser`, it always loads the image to the first channel in the workspace regardless. However, using `File -> Load` loads it to the correct workspace channel.

[2015-11-10 20:15] ejeschke commented on #186
Do you have `channel_follows_focus` = `True` in your `general.cfg`?

[2015-11-10 20:18] pllim commented on #186
No, I don't have it set. I am using the software default.

[2015-11-10 20:34] pllim opened #218 "get_channelName() returns incorrect channel name"
I have channel named "Image" and I want to programmatically add another image to the same channel using my plugin like this:
[code]

This used to work but now does not work anymore because `get_channelName()` returns "image" (all lowercase) instead of "Image" (capitalized), so my new image is in the wrong channel.

[2015-11-10 20:40] ejeschke commented on #186
I just pushed a commit that adds a preference to `Contents` called "highlight_tracks_keyboard_focus".  You can play with the setting both ways.

[2015-11-10 20:42] ejeschke commented on #186
Does the Pan display change as you move the mouse over the other grid windows, or only when you click on them?

[2015-11-10 20:44] ejeschke commented on #197
@hcferguson, I made an example plugin that implements WCS match/lock.  I made a movie showing how it works.  Is it possible for me to attach that to your Trello card?

[2015-11-10 20:52] pllim commented on #186
Is the Pan display the small display thingy under `Info`? If so, it only updates when I click on a channel in the workspace.

[2015-11-10 20:56] ejeschke commented on #186
I see.  I think you are reusing the same `FBrowser` instance over and over.  But since it is a local plugin it is tied to the channel that you started it from.  If you open a new `FBrowser` after clicking a different image you will be loading files into that new channel.

[2015-11-10 20:57] ejeschke commented on #186
Dragging the files from the `FBrowser` is different because you are dragging them *to* a specific channel.

[2015-11-10 20:57] ejeschke commented on #186
We will bring back dragging to `FBrowser` so don't worry about it.

[2015-11-10 21:51] ejeschke commented on #218
@pllim, please use `self.fv.add_image(name, image, chname)` to add an image to the channel (use the `silent=True` kwarg if you don't want the channel to switch to it).  Using the `Datasrc` directly is probably going to cause some weird issues.  If you have a *lot* of images to add, use `bulk_add_image()`.

[2015-11-10 22:04] ejeschke commented on #210
@pllim, are you running Ubuntu 14.04?

[2015-11-10 22:08] pllim commented on #210
No, it is RHEL 6. The weird behavior only sometimes appears. I cannot consistently reproduce it. Weird!

[2015-11-10 22:09] ejeschke commented on #210
Failure to load `ColorBar` for `Catalogs` plugin fixed in commit 2c3d136a356f92c876b91a74d3be9f4b1ab2513e.

[2015-11-10 22:10] ejeschke commented on #210
nvidia graphics drivers?

[2015-11-10 22:22] pllim commented on #210
Yes.
[code]

[2015-11-10 23:29] ejeschke commented on #186
Dragging files from `FBrowser` restored in commit 0c39d3d933b7bf412e6818cf9e28ec395d98d7f6.

[2015-11-11 15:13] pllim commented on #218
`silent=True` does not list the image under `Thumbs` nor `Contents`. Is this intentional?

[2015-11-11 15:20] pllim commented on #218
Anyways, I managed to get it listed using `self.fv.advertise_image(...)` and I still have the same problem. See attached screenshot.

![screenshot](https://cloud.githubusercontent.com/assets/2090236/11094437/d498bb82-885d-11e5-93b2-33b7e68d09d1.png)

[2015-11-11 15:29] pllim commented on #218
I am able to temporary fix this (see below), but it is kind of hacky.
[code]

[2015-11-11 21:06] pllim commented on #186
@ejeschke , thanks!

The alternate color scheme makes reading a long list easier, but it is not that critical if it is gone. I see that `FBrowser` has it. So, why is it added for one plugin but removed for another?

The new setting to only highlight focused image mostly works, but not quite there yet. I'll see if I can submit a fix as part of my existing PR when I get a chance.

[2015-11-11 21:54] pllim opened #219 "Does Ginga readthedocs reflect latest dev version?"
I was under the impression that https://ginga.readthedocs.org/en/latest/ reflects the latest dev version. However, I am unable to find any documentation on `LineProfile` plugin. Am I missing something?

[2015-11-12 00:43] ejeschke commented on #197
@pllim, @hcferguson , I've uploaded the example movie to @pllim's "Ginga-dev" Box account, along with a README.  Check it out and let me know what you think.

[2015-11-12 00:46] ejeschke commented on #186
I think the only plugin that currently is somewhat incompatible with the alternating color scheme is `Catalogs`, since it selects rows when you highlight a star in the field (you can select stars from either the table or the image). And when a row is selected it is difficult to see that it is in fact selected amidst the alternating color pattern.

[2015-11-12 00:58] ejeschke commented on #186
Commit 6eaf58fbd467ec02d53d10c2bb3a0846e81c9ce7 makes alternating row color scheme a preference for plugins `Contents`, `FBrowser` and `Header`.  Default is `True`.

[2015-11-12 01:03] ejeschke commented on #218
@pllim, does commit e9fff458ece9f62a0ff92459444afff1f41a9df0 fix this for you?

[2015-11-12 01:09] ejeschke commented on #210
I think we are going to need a way to reproduce this bug to get anywhere with fixing it.  I remember having the dialog window disappear on me in the past, but I have not experienced it for quite a while now.  The reason I asked about OS and nvidia is that I have seen some issues with windows disappearing if you click on the title bar. See [this](http://askubuntu.com/questions/462996/problem-with-d

[2015-11-12 01:50] ejeschke commented on #219
I think the `readthedocs.org` sphinx documentation is not being automatically rebuilt on a github commit. I've manually triggered a rebuild, but this needs to be fixed.  @cdeil or @bsipocz, you both seem to be well versed in the arts of travis ci.  Any chance you could have a quick look at the [`.travis.yml`](https://github.com/ejeschke/ginga/blob/master/.travis.yml) and see if you see anything ob

[2015-11-12 02:04] ejeschke commented on #218
`advertise_image` is good to use.  Are you trying to add an image to the channel without switching to it?

It's possible `silent=True` may not invoke the callback, which is probably why there is `advertise_image`.  Anyway, would be interested to hear a little more clearly what you are trying to do, maybe we can clean up the API a little.

[2015-11-12 02:52] ejeschke commented on #197
I've added this plugin in commit d2bd67fdfb30278c76a8726d2ac1d657f74d3dc9.  It is marked as experimental in the plugin documentation.  You can access it from "Plugins"->"WCSMatch". Please let me know your feedback.

[2015-11-12 07:42] cdeil opened #220 "SyntaxError for 0L in gtkw/Widgets.py"
When I install ginga master on Python 3.4 locally I see this error:
[code]
The literal `0L` doesn't exist on Python 3, so this should be changed:
https://github.com/ejeschke/ginga/blame/0c39d3d933b7bf412e6818cf9e28ec395d98d7f6/ginga/gtkw/Widgets.py#L1215

This error doesn't seem to occur in the Python 3 builds on travis-ci:
https://travis-ci.org/ejeschke/ginga/jobs/90653148
Is this part of the cod

[2015-11-12 07:48] cdeil commented on #219
Readthedocs runs the sphinx build and puts up the HTML docs if it was successful.
If there's another sphinx build on travis-ci, that is just for testing, it's not the case that travis-ci publishes the output html somewhere.

It looks like the sphinx builds on readthedocs work fine:
https://readthedocs.org/projects/ginga/builds/
https://readthedocs.org/projects/ginga/builds/3475917/

If I build the

[2015-11-12 08:37] ejeschke commented on #220
@cdeil, it seems that travis doesn't throw an error installing on python 3.3 and 3.4.  When I test ginga with python3 manually I normally don't do it by an install, just run the tests (which aren't very many) and some manual testing.  So I guess this has slipped by.

I'll do some testing and update.  Tnx for the report!

[2015-11-12 16:36] pllim commented on #197
@ejeschke , thanks for the video demo! :+1:  @stscieisenhamer , what do you think?

[2015-11-12 17:15] pllim commented on #197
@ejeschke , I get the following traceback:
[code]

[2015-11-12 17:18] pllim commented on #218
Yes. Thank you!

Yes. `add_image(..., silent=True)` followed by `advertise_image(...)` works for me.

[2015-11-12 17:18] #218 closed

[2015-11-12 18:11] stscieisenhamer commented on #197
Basic tests work :+1:

[2015-11-12 18:20] ejeschke commented on #197
@pllim, just pushed an update.  Does this fix the stack trace you are seeing?

[2015-11-12 18:22] ejeschke commented on #197
@stscieisenhamer , good to hear.  Would be interested to hear how your workflow goes with this approach.

[2015-11-12 18:22] pllim commented on #210
My problem is just with creating new workspace on Ginga, and not all the time. I tried double clicking on Ginga's title bar and I don't have any issues with that. Anyways, this is not critical.

[2015-11-12 18:26] pllim commented on #197
@ejeschke , yes, ed07506 fixed the problem. Thank you!

[2015-11-12 18:30] stscieisenhamer commented on #197
@ejeschke Actually, I think the immediate issue is the one @hcferguson had brought up: that you have key shortcuts to rotate through images in a channel, but not through channels. This may have been resolved (or has a resolution). WRT the MultiImage relies on rotating images in a channel, though manly as convenience. If moving through images in channel space is as easy as within channel space, the

[2015-11-12 18:42] ejeschke commented on #197
@stscieisenhamer , it should certainly be easy enough to make shortcut keys to rotate through the channels--I'll look at that.

[2015-11-12 20:06] pllim opened #222 "Missing channel in Workspace"
This can be recreated as follows:

1. Start Ginga, which will load the default "Image" channel.
2. Create a new channel by doing `Channel -> Add Channel`. This creates "Image1" channel.
3. Create a new workspace by doing `Workspace -> Add Workspace`. Click OK to accept default values.

Now the workspace only has 3 channels, although I was expecting 4. It is as if the second channel "stole" a chann

[2015-11-12 20:36] ejeschke commented on #222
Fixed in 9a9b3839ce77a8412105838509de940a49ba40ad.  Can you check, @pllim ?

Thanks!

[2015-11-12 20:38] pllim commented on #222
You mean 08fa60c?

[2015-11-12 20:48] ejeschke commented on #220
Fixed in commit 794b7df3aeae7d5cd1339e93fd087515342519e6

[2015-11-12 20:48] #220 closed

[2015-11-12 20:49] pllim commented on #222
Yeah, I think it's fixed. Thanks!

[2015-11-12 21:37] ejeschke commented on #197
Commit 909a647b718b64c280a535713eccdae06b2e8470 adds support for moving between channels using the left/right arrow keys.  If you press the up/down arrow keys it will cycle through the images in the channel.  I think it makes sense.  Give it a try.

Caveats:
- doesn't yet work with individual (sub) workspaces, only with the main workspace

I think longer term we need to find good key bindings for

[2015-11-12 21:40] ejeschke commented on #210
@plim, just a hunch, but I have a feeling this problem might be related to not hanging on to a reference to the dialog in ginga, which would invoke a race condition between the user finishing the dialog and python garbage collecting the reference and deleting the widget.  This has been addressed in commit 909a647b718b64c280a535713eccdae06b2e8470, so let me know if you still see the problem sometim

[2015-11-13 15:02] pllim commented on #215
@ejeschke , I started a prototype at #223 but it needs some help.

[2015-11-13 15:26] pllim commented on #197
@ejeschke , "left" and "right" works. But...

1. "up" and "down" do not work. I can no longer cycle through images in the same channel (Qt).
2. Also, please comment out the print statements in `Control.py`.

Thanks!

[2015-11-13 15:27] pllim commented on #210
Thanks, @ejeschke ! I'll keep an eye out.

[2015-11-13 17:57] pllim commented on #219
@ejeschke , @cdeil , I fixed the warnings in #224

[2015-11-13 17:58] pllim commented on #219
I can find "Line Profile" in the online documentation now, but that does not prove that it is being automatically updated on commit, since @ejeschke manually pushed an update earlier.

[2015-11-15 03:18] ejeschke commented on #197
Commit 4d30be58adcae485ee765b8ef72290c01122765d fixes #2 and adds up/down buttons to the `Toolbar` plugin.  The channel navigation is still based on temporal load history, which I realize is not intuitive when you are referring to alpha-sorted `Contents` and `Thumbs` panes.  I'm working on an update for this, which I will submit as a PR for testing and comment.

@pllim, if up/down arrow keys are n

[2015-11-16 14:32] pllim opened #225 "Up and down arrow keys do not work"
As reported in #197, while testing 909a647, I realized that "up" and "down" arrow keys do not cycle through images in a channel anymore. They used to work. I am using Qt (that comes with Anaconda) and RHEL6 64-bit desktop.

[2015-11-16 14:33] pllim commented on #197
@ejeschke , okay, I opened #225.

[2015-11-16 17:08] embray commented on #205
I don't understand the context to this so maybe this is off topic, but when it comes to "fingerprinting certain types of FITS files" that was partly the idea behind FITS Schema: http://embray.github.io/PyFITS/schema/users_guide/users_schema.html

[2015-11-16 17:20] embray commented on #207
I've mentioned before that this can be done with entry_points.  Here's a decent primer: http://pylons-webframework.readthedocs.org/en/latest/advanced_pylons/entry_points_and_plugins.html  (not specific to Pylons in any way).

[2015-11-16 18:01] ejeschke commented on #225
@pllim, can you run `examples/qt/example2_qt.py` with debugging set to level 10 (options `--loglevel=10` and `--stderr`).  Then while the terminal output is visible so you can see it and without loading a file, press the up arrow key in the ginga window.  You should see some output like:
[code]

Repeat for the down key, and let me know what you get. Tnx.

[2015-11-16 18:03] pllim commented on #207
Does this mean Ginga's setup needs to acknowledge the external plugins for this to work?

What if the external plugin comes with its own data files or utility functions?

[2015-11-16 18:06] pllim commented on #197
Also, addressing the non-intuitive channel navigation would fix #119 as well.

[2015-11-17 00:52] #191 closed

[2015-11-17 00:53] #192 closed

[2015-11-17 03:13] ejeschke commented on #222
Ok, this is fixed with a much better solution in commit 880fc13e3afc0bf0296f36165926c471b55b2958.  Ginga now also complains if you try to use a channel or workspace name that is already in use.

[2015-11-17 03:19] ejeschke commented on #210
Except that a channel should *always* have that attribute!  So I think we need to fix the cause of that, which sounds like a channel not getting created correctly.

[2015-11-17 03:19] ejeschke commented on #210
Is there a consistent way to force the exception?

[2015-11-17 15:50] pllim opened #227 "Load Image from File menu to load multiple images"
As discussed in #204.

@ejeschke -- *I noticed that the `"File"->"Load Image"` dialog does not allow multiple selection. I rarely use this dialog since I prefer `FBrowser`, but it seems like it should support multiple selection.*

[2015-11-17 15:54] pllim commented on #201
This is now possible in Qt, which effectively closes this issue for  @hcferguson, @gderosa2004, @eteq, @perrygreenfield, and @stscieisenhamer , as per the STScI Sprint.

[2015-11-17 15:54] #201 closed

[2015-11-17 16:00] pllim opened #228 "Add important modules to API doc"
As discussed in #224.

@ejeschke --  *I think the most important modules for developers using Ginga (as far as API is concerned), are `ImageView`, `Control`, `AstroImage` and various ones in `ginga.canvas` and `ginga.canvas.types`.*

Also see #182.

[2015-11-17 16:40] pllim commented on #222
I think you meant commit cf6427e4, but yeah, the problem is gone. Thanks!

[2015-11-17 16:40] #222 closed

[2015-11-17 18:10] eteq commented on #207
@embray - I've always been afraid of these entry points on the theory that they are a setuptools thing that doesn't clearly have a future.  Do you know if the `distutils2` et al. discussions have said this will continue to work in the future?

@pllim - yes, ginga would have to support this in its plugin loading machinery, but I think it would be pretty straightforward to just iterate over the entr

[2015-11-17 18:16] eteq commented on #205
That may well make sense, but it also might be overkill because my impression is that most of the failure modes this was about are the sort of failure along the lines of "FITS files from instrument x at telescope y taken in setup z are messed up in this particular way".  So a formal schema validation may be a lot of work for a fairly limited payoff.  I wonder if there should just be a registry of

[2015-11-17 18:36] pllim commented on #210
@ejeschke , does three times in a row using a particular image (but not a different image of similar format and file size) with similar errors but not identical count as "consistent"? I am using RHEL6 64-bit machine, Qt toolkit, Anaconda, Astropy 1.1.dev14020, and Ginga 2.5.20151117031002. I uploaded the image ("crsplit2_acsrej811.fits") on Box, which should have sent you a notification with downl

[2015-11-17 18:40] ejeschke commented on #205
I'm open to any approaches, but I was thinking along the lines of what @eteq is describing.  It might be a bit like the observatory list in `astroplan`, where an observatory or institution could add some keywords to a simple file registry for "known broken" instrument FITS files.  If the FITS file has those keywords with those values it would apply a simple "fix-up" function, also supplied when th

[2015-11-17 18:43] pllim commented on #210
In case you are curious, for the tracebacks above:
[code]

[2015-11-17 18:49] pllim commented on #207
Not sure if I like this part. That means @ejeschke would have to review and sanction every single external plugin that people write. Maintainability can be a problem here.

[2015-11-17 18:58] eteq commented on #207
@pllim - not quite manual - he'd just have to set up the *machinery* - that is, he just writes some code that says "if some package on the pythonpath registers into the ``ginga::local_plugin``, call the `load_plugin` method on it".  Then the plugin packages just say "I register with ``ginga::local_plugin``", and then every time ginga starts up it should load that plugin.  But there's no need for `

[2015-11-17 18:58] ejeschke commented on #210
@pllim, I downloaded the file, but I cannot reproduce the error you are getting (at least yet).  I'm wondering if there is some setting in the channel preferences that you have saved that might be related (i.e. picked up when the new channels for the workspace are created).  Could you try making a backup of your `$HOME/.ginga` and try with an empty one just to see if you still get the error?

Also

[2015-11-17 19:08] ejeschke commented on #207
@pllim, I certainly don't want to be in the business of doing that!

I'm wondering if we can do this in the form of a file that gets written when the plugin is registered.  Ideally the file is human-readable (json-maybe?) so the user could manually go in and comment out plugins, edit things, or even just delete or move the file elsewhere to startup ginga with a "clean slate".

Another possibility

[2015-11-17 19:08] pllim commented on #207
@eteq , but he still has to keep track of a list of external packages, no?

[2015-11-17 19:10] pllim commented on #210
Haha. I added that myself, so I can find where my variable values info are in the log file. :smile:

[2015-11-17 19:20] pllim commented on #219
@ejeschke , now that #224 is merged, maybe we can test to see if the updates will be automatically picked up by RTD. When does it fetch and build the doc; do you know?

[2015-11-17 19:22] eteq commented on #207
@pllim - no, that's the beauty and curse of entry points: the main package has no control of who registers into the entry point. So on one hand it means users can install any plugin and have it just work. On the other hand... The same thing: users can install a plugin that abuses or breaks ginga in a way the main project knows nothing about.

[2015-11-17 19:32] pllim commented on #207
Personally, I am fine with just using one of the distribution options below that already work:

1. #169 (namespace package with no auto-discovery) and explicit plugin loading by the user.
2. Using existing Ginga plugin machinery (without shared namespace) and more complicated loading codes (see https://github.com/spacetelescope/stginga/blob/master/stginga/plugin_info.py by @eteq).

And if a user h

[2015-11-17 19:44] eteq commented on #207
@ejeschke As I said above I'm pretty sure you don't *have* to manually accept specific packages, but it's not always desirable to do it automatically. But maybe the thing to do is have then auto-discover but not auto-run, and instead have a thing pop up that tells the user that a plugin is installed but they have to do something manually to get it to actually activate it?

[2015-11-17 19:53] pllim commented on #207
@eteq , that sounds reasonable. But I think a command line argument or Python function would be better than a pop-up? Examples:

[code]

[code]

[2015-11-17 19:56] pllim commented on #207
Not sure if this is helpful, but I started and then abandoned something like that for shared namespace solution at https://github.com/pllim/ginga/tree/namespace-tools . FYI.

[2015-11-17 20:12] pllim opened #229 "Ginga error when showBanner is enabled"
In `~/.ginga/general.cfg`:
[code]

Here is the error log:
[code]

[2015-11-17 20:20] pllim commented on #210
Yes. But it only happens once every several tries.

[2015-11-17 20:29] ejeschke commented on #207
Just for the record, it is possible currently to edit `$HOME/.ginga/ginga_config.py` to manually register any plugins, or add catalogs, etc.  But I think there should be a simpler scheme for plugins along the lines of what we are discussing above.

[2015-11-17 20:31] ejeschke commented on #210
I see.  Must be a race condition of some kind then.

[2015-11-17 20:32] ejeschke commented on #229
Does the banner otherwise show up ok?

[2015-11-17 20:35] ejeschke commented on #219
From @cdeil's comment I'm gathering that the problem seems to be that the automatic build should be coming from `readthedocs`'s side.  And the build there works, so it's rather something about setting some kind of flag there to automatically build on the github commit that I'm missing.

[2015-11-17 20:37] pllim commented on #229
Yes.

[2015-11-17 21:06] embray commented on #207
setuptools is going to be around for a very long time still.  Lots of projects use entry_points.

[2015-11-17 21:08] embray commented on #207
In Trac plugins are discovered automatically via entry_points, but still have to be activated manually by updating the config file.

[2015-11-17 21:18] ejeschke commented on #210
@pllim, after this last comment I tried it a bunch of times and was finally able to reproduce it.  Let me look for the root cause.

[2015-11-17 21:28] eteq commented on #207
@pllim -  I think your 2 is just fine - it has been fine for `stginga`, now that we know how to do it (and that may well serve as sort of implicit documentation for other packages to follow).  But I'm generally against namespace packages because I think it makes it a lot more confusing how things fit together either for users who need to report bugs or novice devs (e.g. users who want to just writ

[2015-11-17 21:32] ejeschke commented on #210
I believe commit 91b05b0a9e39f0fa9c3ac9f1589bc4640d91c15f fixes this issue.  Can you verify, @pllim?

[2015-11-17 21:33] ejeschke commented on #210
BTW, it doesn't matter which image is used to force the bug, it only needs to have a valid WCS.  And you need to mouse across the image quickly after pressing the "OK" button in the create workspace dialog.

[2015-11-18 01:50] ejeschke commented on #207
I've floated a trial balloon in PR #230.

[2015-11-18 13:50] pllim commented on #210
Wow, I must be very "lucky" to find this. I'll check the fix later today. Thank you!

[2015-11-18 20:08] pllim commented on #210
It's gone. Thanks!

[2015-11-18 20:08] #210 closed

[2015-11-18 20:31] pllim commented on #229
I traced this to a line in `ImageView.zoom_fit()`:

[code]

where `wwidth` and `wheight` are both zeroes, which resulted in `scalefactor`, `scale_x`, and `scale_y` all being zeroes. For the record, `width` and `height` are both 1075.

All I did was starting Ginga with the banner, nothing else.

[2015-11-18 20:32] pllim commented on #229
Also `self.t_['scale_min']` is 1e-5.

[2015-11-20 11:40] astrofrog opened #231 "Include ginga glue plugin in ginga, not glue"
I noticed today that the ginga plugin to glue is broken again due to changes in the API in ginga. We now have a mechanism in place for allowing external packages to register plugins with glue, so I was thinking that it might make more sense to include the ginga plugin for glue in ginga, otherwise we'd have to have some complicated logic in glue to behave differently depending on the version of gin

[2015-11-21 07:00] ejeschke commented on #231
@astrofrog, I'm fine to change how the plugin is distributed.  Let me think a little bit about where that should live.

[2015-11-24 16:44] pllim commented on #219
Looks like RTD is still not updating on its own, as I don't see changes from #224 reflected there. FYI.

[2015-11-24 17:04] cdeil commented on #219
The last Ginga build on RTD succeeded:
https://readthedocs.org/projects/ginga/builds/3475917/

If the HTML files on readthedocs are different from what you get locally, usually wiping the readthedocs build folder helps:
http://docs.readthedocs.org/en/latest/faq.html#deleting-a-stale-or-broken-build-environment

Then start a new build at https://readthedocs.org/projects/ginga/builds/ and after ~ 5

[2015-11-24 17:05] pllim commented on #229
With the latest dev version, the error is gone, but the banner is shown at a scale of `1/1075.00x` by default, which effectively shows a blank screen on the main image display (although you can still see smaller versions of it under `Info` and `Thumbs`.

[2015-11-24 17:09] pllim commented on #197
c/c @larrybradley who is also interested in this feature.

[2015-11-24 17:15] stscieisenhamer opened #233 "Missing menubar_w"
With latest master, I get the following. And note: changing `menubar_w` to `menubar` at least gets ginga to run, but the menubar still does not appear.

[code]

[2015-11-24 17:55] pllim commented on #233
#234 should fix this, as you mentioned in spacetelescope/stginga#50.

[2015-11-24 19:41] #233 closed

[2015-12-02 15:58] pllim commented on #168
I believe @eteq gave a pretty good demo about this feature at the STScI sprint. :smiley:

If you are interested, proof of concept is available at https://github.com/spacetelescope/stginga/blob/master/stginga/examples/ginga_nbinteract.ipynb

[2015-12-02 16:06] eteq commented on #168
One thing to clarify on that (for anyone else who might be reading this): I'm particularly interested in using this inside Jupyter/IPython notebooks. In that use case, it's an *advantage* to have the viewer itself be fairly limited in terms of GUI features, because you can access it all in the notebook.  But then it's more important to have easy-to-use programmatic interfaces, and that's what the

[2015-12-02 16:09] eteq commented on #168
Oh, and that leads to some feedback for @ejeschke - hopefully this backend can stay fairly segmented in the same way that the reference viewer is: i.e. the basic viewer itself shouldn't be too tightly dependent on the context/extra GUI interfaces that add bells and whistles like the drawing options you're showing in the screenshot above.  That's nice in *some* cases (even in a notebook context), b

[2015-12-02 16:26] pllim commented on #120
This is resolved by #226. There is a minor bug that should be fixed by #238.

[2015-12-02 16:26] #120 closed

[2015-12-02 16:27] pllim commented on #119
This is resolved by #226.

[2015-12-02 16:27] #119 closed

[2015-12-02 16:30] pllim commented on #91
I think this is moot now.

[2015-12-02 16:30] #91 closed

[2015-12-02 21:39] pllim commented on #227
A fix is implemented in #239.

[2015-12-03 02:18] ejeschke opened #240 "Blinking across channels, rather than blinking images in a channel"
@pllim, @stscieisenhamer, @hcferguson

What do you think about changing the default of `Blink` to blink _across_ channels, or at least have the option (instead of blinking the images in a channel)?

[2015-12-03 02:51] hcferguson commented on #240
I think having the option is pretty essential. My use case would be putting HST images in one channel, Spitzer images in another, Herschel in another, and stepping between them (not so much blinking as being able to easily step through them...generally matched in WCS). Another use case is a supernova search, but in that case they generally would have the same plate scale and color stretch.

[2015-12-03 04:50] ejeschke commented on #240
@hcferguson, I'm thinking that `Blink` then becomes a global plugin.  I'm also wondering if it works kind of in tandem with `WCSMatch` whether the two plugins can be combined in one.  That way the GUI is all in one place.

@pllim, I think you were the one requesting the `Blink` originally.  Do you use it in its current incarnation?

[2015-12-03 07:36] ejeschke commented on #168
@eteq, totally in agreement here.  I call it a toolkit for building image viewers and that's the goal, really.  The people that have generally expressed interest are the ones building things.  But you are right, in the notebook context it could really open things up for experimentation for a more general, less developer-oriented type of individual.

[2015-12-03 14:48] pllim commented on #240
I don't oppose to blinking across channels, but having an option to turn that feature off would be nice. Where do we draw the line though? Do you also want the option to only blink through *some* channels but not all?

@hcferguson , this is already addressed in 909a647 by @ejeschke (see #197)

@ejeschke , yes. My work that requires it right now only uses one channel, so blinking across the channel

[2015-12-03 14:49] pllim commented on #240
c/c @larrybradley since he asked about this feature recently.

[2015-12-07 16:41] pllim opened #241 "About should display version info"
Usually, `Help -> About` displays software version information. In Ginga, this menu option only brings up the splash screen image, which gives copyright info and GitHub URL, but no version number. Would be nice if it somehow (does not have to be in the image) also gives the same information as the command:
[code]

[2015-12-08 20:41] pllim opened #242 "Traceback when re-adding a previously deleted channel"
You can reproduce the following traceback in the latest dev version of Ginga with the following workflow:

1. Start Ginga.
2. Click `Channel -> Add Channel` to create "Image0" channel.
3. Delete "Image0" channel.
4. Repeat step 2.

Traceback:
[code]

[2015-12-09 01:24] ejeschke commented on #229
The banner seems to be showing up ok (at correct scale) in the latest versions of ginga.  Is this still an issue, @pllim ?

[2015-12-09 02:39] ejeschke commented on #136
I think this issue is sorted for most platforms.

[2015-12-09 02:39] #136 closed

[2015-12-09 02:42] ejeschke commented on #148
This feature is currently reverted.  Leaving this issue open until we decide whether this is something desirable to keep.

Another possibility is just providing drap-drop reordering within `Contents`.

[2015-12-09 02:44] ejeschke commented on #113
I believe this is fixed by PR #206.  Feel free to reopen if see otherwise, @pllim.

[2015-12-09 02:45] ejeschke commented on #181
After merging #206, the speed is not improved over the existing `astropy` WCS wrapper.  We probably need another PR to really crack this nut.

[2015-12-09 02:46] ejeschke commented on #127
Closing for now.  If we find some interesting application, @pllim, we can reopen.

[2015-12-09 02:46] #127 closed

[2015-12-09 02:49] ejeschke commented on #57
This is fixed in recent versions of ginga after a timer module refactoring.  Currently seeing about 8.3% CPU usage with python3/qt5 on Ubuntu.  Start up is just as fast or faster than for python 2.

[2015-12-09 02:49] #57 closed

[2015-12-09 02:53] ejeschke commented on #186
I believe this is resolved with recent PR merges of #190 and #195.  Still not sure the default scheme makes sense when multiple workspaces are shown, or a grid workspace, but maybe that is a future issue.

[2015-12-09 02:53] #186 closed

[2015-12-09 02:59] ejeschke commented on #85
Closing this issue because callbacks should be documented as a part of #182.

[2015-12-09 02:59] #85 closed

[2015-12-09 03:00] ejeschke commented on #182
See also Issue #85.

[2015-12-09 03:01] ejeschke commented on #227
This was merged.

[2015-12-09 03:01] #227 closed

[2015-12-09 03:01] ejeschke commented on #241
This was merged.

[2015-12-09 03:01] #241 closed

[2015-12-09 03:13] ejeschke commented on #219
It used to work fine for me to manually trigger a build.  After @pllim's updates to the documentation it is now failing with:
[code]
So I think we need to add a requirements file so that numpydoc gets installed.

[2015-12-09 03:16] ejeschke commented on #219
Oh, and I did the "wipe" suggested by @cdeil first.

[2015-12-09 03:19] ejeschke commented on #242
@pllim, I also get the traceback.  But it looks like the channel is successfully created, and I can use it.  Is this the case for you as well?  We should fix the traceback, but I want to understand the severity of the issue.

[2015-12-09 03:21] ejeschke commented on #242
It looks like this is due to the channel deletion not being implemented in a couple of the plugins, like `Info`, `Pan` and `Zoom`.

[2015-12-09 03:43] ejeschke commented on #242
Actually, this was due to the settings not being removed for the channel.  @pllim, there is a fix in commit 2877dde4639f9d30fbe519d786ffab558fc3433e.  Can you verify that this clears up this issue for you?

[2015-12-09 06:39] cdeil commented on #219
Ah, I see, the error is here:
https://readthedocs.org/projects/ginga/builds/3549306/

`numpydoc` (https://pypi.python.org/pypi/numpydoc) is listed in `doc/conf.py`:
https://github.com/ejeschke/ginga/blob/master/doc/conf.py#L29

Probably `numpydoc` is not installed on RTD?

@ejeschke - Can you try adding a `doc/rtd-pip-requirements` file with a single line containing `numpydoc`, and then tell readt

[2015-12-09 06:46] cdeil commented on #219
PS: I don't know why the issue shows up now ... I think readthedocs changed to docker containers or there might have been other changes in their setup that led to `numpydoc` being available earlier, but not now.

Also, I just remembered:  `numpydoc` is probably not needed.
Instead you should use the 'sphinx.ext.napoleon' extension in `doc/conf.py`, which supports the Numpy docstring standard and i

[2015-12-09 14:28] pllim commented on #219
Thanks, @cdeil . Sorry for the inconvenience, @ejeschke . Please try to see if my fix in #245 will resolve this.

[2015-12-09 14:46] pllim commented on #242
@ejeschke , yes, the error is gone. Thank you!

[2015-12-09 14:46] #242 closed

[2015-12-09 15:05] pllim commented on #186
Thanks, @ejeschke ! By "default scheme", are you talking about `highlight_tracks_keyboard_focus` in `plugin_Contents.cfg` and `plugin_Thumbs.cfg`? I agree with opening a new issue if we need to revisit the current default values.

[2015-12-09 15:12] pllim commented on #127
Okay, thanks, @ejeschke !

[2015-12-09 15:26] pllim commented on #113
Nope, still getting the same errors. I am using `astropy 1.1rc2`. You can probably recreate the traceback yourself by using an image without any WCS information.

[2015-12-09 15:35] pllim commented on #148
I am not sure where this is going. #226 that enables blinking by load time or alphabetical name order works for me. Are you saying that you also want to enable blinking by how the images are visually ordered in the listing?

[2015-12-09 15:37] pllim commented on #229
Not an issue anymore. I fixed it in #244. Thanks for checking!

[2015-12-09 15:37] #229 closed

[2015-12-09 18:30] ejeschke commented on #148
Sorry for the confusion.  I am talking about the ability to drag thumbs is reverted (no longer working).  Given the issues that you mentioned above and the fact that there might be more efficient ways to move images between channels, I am not sure I want to put the effort into getting this working again right away until there is a good idea of what it would be used for.

[2015-12-09 18:33] pllim commented on #148
Okay, yes, I agree. :+1:

[2015-12-09 18:58] ejeschke commented on #113
Hmm, I think the problems may go a little further.  When I use a file that has WCS keywords, but with a `CUNIT`{`1`,`2`} of type 'pixel', with the original `astropy` wcs wrapper it succeeds to create the WCS and resolves to reporting pixels.  I get this with the new version of the `astropy2` wrapper:
[code]

@eteq just pinging you as you and @Cadair are the authors/editors of this wrapper.

[2015-12-09 19:01] ejeschke commented on #219
This indeed fixes the build, but it seems the build is still not triggered automatically by a commit. As far as I can tell on the RTD side everything looks good (especially since pressing the build button works fine now).  I'll do a wipe and monitor the next couple of commits.

[2015-12-09 19:46] eteq commented on #113
@ejeschke - hmm, I think this was just a mistake in #206, which I can try to fix.

The basic issue here is that in the new `AstropyWCS2` implementation, `coordsys` (which is renamed `coordframe` to be more clear- see [this docstring](https://github.com/ejeschke/ginga/blob/f50a2e82bd5be36505414f3bdc874abedea51302/ginga/util/wcsmod.py#L236)) is usually an astropy coordinate frame object, but occasio

[2015-12-09 20:21] ejeschke commented on #113
I think the problem is that that `coordsys` attribute, which is exposed (and used) outside the wrapper, needs to be a string.  The string is examined to decide how to interpret the output of the wcs.  For example, if the type is 'pixel', then the result of running the data coordinate through the wrapper is a pixel coordinate, and it shouldn't be further transformed (e.g. ICRS->galactic).

So I thi

[2015-12-09 21:13] pllim opened #246 "Histogram axis tick labels cut off"
In `Histogram` plugin, when the X or Y axis tick labels display large values (e.g., 1000 or larger), I cannot see the values on the plot, much less the axis labels. This is worse for the X axis because height is less than width. I use Qt toolkit.

Example:
![screenshot](https://cloud.githubusercontent.com/assets/2090236/11698966/ad936076-9e8f-11e5-93bd-c0938078a3d8.png)

[2015-12-09 22:36] ejeschke commented on #113
To be more specific, `coordsys` should be determined by the `wcsmod.get_coord_system_name` module level function, *unless* some of the types cannot be supported by astropy.  But I believe all of the ones returned by that function can be supported by astropy2.  'raw' means no sensible WCS keywords could be detected, and so the wrapper functions won't even be called, and 'pixel' will only incur a si

[2015-12-10 17:07] pllim commented on #131
@ejeschke , @rupak0577

I still see the plot being increasingly small when I have multiple cuts, as shown below.

![screenshot](https://cloud.githubusercontent.com/assets/2090236/11722415/942fdbee-9f36-11e5-93fd-f261e6c1b48f.png)

[2015-12-10 19:06] pllim commented on #131
I think I addressed the remaining issues for `Cuts` with PR #248. Please review.

[2015-12-10 19:20] pllim commented on #246
Actually, I think this problem is global in all the plugins that use `matplotlib`. Perhaps could be addressed by #33?

[2015-12-10 19:41] pllim opened #250 "AstropyWCS pixtocoords incompatible with Astropy 1.1RC2?"
I have Astropy 1.1RC2 and the latest dev Ginga. I get traceback about `frameClass` when I load some of my images. I do not remember getting this before using the same image. Here is my manual attempt to recreate the traceback:

[code]

Somewhat related to #113 ?

[2015-12-10 19:41] pllim commented on #250
c/c @eteq, @Cadair

[2015-12-10 19:44] eteq commented on #250
@pllim - can you clarify whether or not this works with the dev ginga and astropy v1.0.x?

[2015-12-10 20:00] pllim commented on #250
Now I get the error even with 1.0.6, and of course, the latest dev version.

It could be that I simply overlooked this error before, as I don't use this image often for testing...

[2015-12-10 20:01] ejeschke commented on #250
I have this FITS file and I can verify that it "works" with astropy 1.0.2.  This is tangentially related to #105--which is how I received the file for testing.  With astropy 1.0.2, and wrapper "astropy" ginga reports the units in pixels. Wrappers "kapteyn" and "astropy2" do not work with this file. Interestingly, "starlink" does, but produces very different values.

[2015-12-10 20:02] ejeschke commented on #250
@pllim, did you try to build a valid astropy WCS from the command line with this image?

[2015-12-10 20:09] ejeschke commented on #246
I think using `tight_layout()` fixes the problem, but may introduce a different problem--the one you are seeing reported in #131.  At any rate, `tight_layout()` seems to put *too much* padding around the plot so that it ends up being really small.

[2015-12-10 20:10] pllim commented on #250
@ejeschke - No, I am not familiar with the data enough to fix it. Also, I believe the correct issue is #205.

I still get the same error with `iris_l2_20151009_041433_3620263378_SJI_1330_t000.fits` data cube (forgot how I got it but it was from one of the Ginga issue threads).

[code]

[2015-12-10 20:20] ejeschke commented on #250
I think you need the "astropy2" wrapper (and `sunpy`) to resolve the 'helioprojective' type--that was one of @Cadair's contributions.

[2015-12-10 20:20] pllim commented on #246
I actually cannot confirm/deny the `tight_layout()` claim because it is only applied to `slit_plot`, not `cuts_plot`, and I never understood how to get Slit to work. I fixed the Cuts plot in #248 though.

[2015-12-10 20:20] astrofrog commented on #250
Would it be worth adding a more explicit error if the frame lookup returns None?

[2015-12-10 20:23] pllim commented on #250
Yes, explicit error message might reduce the confusion.

[2015-12-10 20:25] ejeschke commented on #250
@astrofrog, it certainly should have a more visible result, I think.  Currently if the user's wcs package cannot build a WCS you just get a `None` internal wcs obejct in the wrapper (e.g. astropy.wcs throws an exception, we just set the `wcs` attribute to None).  This results in a "BAD WCS" message as you mouse around the image.

But people work with images with broken WCS *all the time*.  So I do

[2015-12-10 20:27] ejeschke commented on #250
If this is a broken WCS file I suggest closing the issue and adding a comment in #205 referring here.

[2015-12-10 20:27] pllim commented on #250
I also just happen to grab the TWO files with unsupported `coordsys` back to back... What luck!

[2015-12-10 20:28] pllim commented on #250
Okay. Thanks for the feedback. I'll submit a PR with a more graceful error message shortly.

[2015-12-10 20:28] #250 closed

[2015-12-10 20:30] ejeschke commented on #250
Please don't submit a PR that requires the user to dismiss a dialog box or some such, unless that can be made a preference.  One possibility is to use `self.fv.show_error()` with the `raise` argument set to `True` or `False` (depending on a user preference).  This visibly logs an error in the `Errors` plugin.

[2015-12-10 20:42] #134 closed

[2015-12-10 21:22] #131 closed

[2015-12-10 21:39] ejeschke commented on #231
@astrofrog, how are you handling distributing 3rd party plugins for glue?  I think this should be treated the same way.  For example, if there is a way to make a `setup.py` script that registers and installs this as a glue plugin.  Because it is a glue plugin I don't think it makes sense to bundle it with ginga--ginga is just a requirement for this plugin like any other module might be for a 3rd p

[2015-12-10 21:43] ejeschke commented on #246
Even with #248 merged I still see the numbers and labels being cut off (for `Cuts`).  We need some matplotlib expertise here, methinks.  If it is possible, we might be able to centralize it in `ginga.util.plots` so that all the plugin plots look nice.

[2015-12-10 21:55] ejeschke commented on #91
Do you still get this traceback, @pllim?  When I repeatedly use the delete channel it offers to delete "Image", but there is no traceback.  Seems like the effect is rather benign now.  But I would welcome a PR to disable/enable the menu item if you think it is important.

[2015-12-10 21:58] pllim commented on #246
@ejeschke , #248 fixed the shrinking, not the labels being cut off. I apologize for the confusion.

@mdboom ?

[2015-12-10 22:15] pllim commented on #91
No traceback for me as well. I did issue PR #243 to prevent deletion of the last channel. Do you think that makes sense? I mean, Ginga always needs at least a channel to work anyway, right?

[2015-12-10 22:25] pllim opened #252 "Left panel layout a bit weird in Qt"
Latest dev Ginga, REHL6 64-bit, Qt4 that comes with Anaconda.

As you can see below:

* There is an usually blank space between "Synopsis" box with scrollbar and the rest of the info like zoom, cuts, etc. I see that there is a "stretcher" between scroll widget and the rest of the stuff in `misc/plugins/Info.py`, so this was done intentionally?
* There is a blank (grey) horizontal strip at the very

[2015-12-10 22:29] pllim commented on #142
Fixed in #247.

[2015-12-10 22:29] #142 closed

[2015-12-10 22:29] pllim commented on #144
Fixed in #247

[2015-12-10 22:29] #144 closed

[2015-12-10 22:59] ejeschke commented on #252
It was done intentionally as part of layout improvement and consistency.  Now the coordinates are visible in `Info` as they update, which wasn't always the case.  Also looks consistent with gtk version.

Sorry, not sure I see the blank strip, but this may be from some padding/margin in a widget that should be set to 0.

[2015-12-11 00:02] ChrisBeaumont commented on #231
@ejeschke @astrofrog I'm not sure where I stand on this issue. On the one hand glue-ginga integration seems to break fairly often because the ginga api changes more frequently than other glue dependencies, and it's not feasible for Glue to test against every ginga api change in it's continuous integration setup. Ginga, on the other hand, could choose to include glue-integration tests, to guarantee

[2015-12-11 02:39] ejeschke commented on #231
It's a bit of a chicken and egg thing, isn't it?  If we do consider it from the perspective of a third-party glue plugin developer, then I suppose the onus is on me (and others interested in the functionality) to keep the plugin up to date with glue.  If the glue API isn't changing so frequently then that shouldn't be too hard.

I think it makes sense to keep it glue only if the glue maintainers c

[2015-12-11 17:27] pllim commented on #252
Ah, okay. I traced the "blank strip" to this in `main.py`:
[code]

So, it is supposed to be some kind of status bar, but I never see anything reported there. What is it really used for?

[2015-12-11 18:27] ejeschke commented on #252
The status bar message can be set by the call `self.fv.statusMsg()` from a plugin, for example.  The message will appear in the bar and then disappear after a few seconds.  It's one way to provide feedback to users, but it also provides a resize grip in the lower right hand which is very useful for some platforms.

[2015-12-11 18:51] pllim commented on #246
@ejeschke , in the meantime, is it possible to embed the plot within a scroll-able area? I tried the following in the plugin but it does not work (i.e., no scroll bars showed up):

[code]

With the scroll bars, at least user has access to the whole plot until we figure out a better way to visualize the entire plot.

[2015-12-11 19:00] ejeschke commented on #246
I think the problem is the way in which the plot is rendered within the space. It's not that the actual canvas (widget) is too large.  That would be why using the scroll area does not work.

I think the solution is going to involve using some matplotlib padding options.  Maybe setting some default left and bottom padding?  If we set it in `ginga.util.plots.Plot` it should fix most of the plugin pl

[2015-12-11 19:00] pllim commented on #252
Okay. Thanks for the clarifications!

[2015-12-11 19:00] #252 closed

[2015-12-11 19:01] ejeschke commented on #246
It might also be fixed by using the appropriate setting for `dpi` when creating the matplotlib figure.

[2015-12-11 19:54] pllim commented on #246
@ejeschke , changing `dpi` does not really solve the problem. However, tight layout (which the "easy" way to add padding) seems to partially work (see #253).

[2015-12-16 18:40] eteq commented on #113
Ohh, gotcha - I didn't realize `coordsys` was used outside of the wcs class itself.  So indeed that's probably the issue.  Will try to get in a fix for that.

[2015-12-16 19:28] eteq commented on #181
A reminder that once this issue is likely to reach the status of closed, it `ginga` should probably start defaulting to `AstropyWCS2`, but only on new enough versions (as discussed at the bottom of #206)

[2015-12-16 20:12] pllim commented on #246
Fixed in #253.

[2015-12-16 20:12] #246 closed

[2015-12-16 20:13] pllim opened #255 "Tight plot layouts for Pick"
The solution in #253 somehow has no effect on `Pick` plugin. Would be nice for `Pick` to use tight layout somehow, to be consistent with the other plugins.

[2015-12-17 22:34] pllim opened #257 "Sorting by numbers with TreeView"
`TreeView` does not sort numeric column properly because it internally stores the numbers as strings. I tried passing in numbers in `set_tree()` but that didn't work. Also tried padding them with leading spaces or filler characters, also didn't work.

How do I fix this?

![screenshot](https://cloud.githubusercontent.com/assets/2090236/11883963/6fd42eb8-a4e4-11e5-9637-387221d6e1ad.png)

[2015-12-17 23:39] ejeschke commented on #257
I discovered that also just a couple days ago.  And I really need numerical sorting.  Currently looking into this as a priority issue as it downgraded one of our applications.  Will keep you posted here.

[2015-12-18 16:03] pllim commented on #257
Okay, thank you!

[2015-12-18 17:47] pllim opened #258 "Traceback and duplicate tabs when repeatly delete/create/delete/create Image channel"
When I delete channel "Image", recreate it, delete it again, I get the following traceback:

[code]

Perhaps we need a safeguard after all, similar to the unmerged #243 but check for zero number of channels instead of one?

[2015-12-18 17:49] pllim commented on #258
I also see duplicate "Image" tabs, as attached:

![untitled](https://cloud.githubusercontent.com/assets/2090236/11903240/bef1d2ce-a585-11e5-9c3f-c8ed50e6e91d.png)

[2015-12-18 17:59] pllim commented on #258
Update: I only see the traceback with PR #223, not master. But I still see the duplicate tabs. I'll look into the PR and see if I can put in a safeguard there.

[2015-12-18 19:08] pllim commented on #258
Update: Still see the traceback with spacetelescope/stginga#61 when deleting the channel for the first time. In that case, it must be trying to do something unexpected with my plugins? I cannot make sense of it. I traced it to `update_image()` in `ginga/qtw/ImageViewQt.py` with the following variable values:

[code]

Anyways, it is not critical. But please let me know if you have seen it before an

[2015-12-18 19:10] pllim commented on #258
Anyways, no matter what I do, duplicate tabs are still there. I don't know how to get rid of them as I do not see anything obvious.

[2015-12-18 21:29] pllim opened #259 "Extend LineProfile to accept aperture"
This was requested in spacetelescope/stginga#40, but the parts where user can draw some kind of aperture and then use it for simple statistics up the ramp would be useful in general, no?

We should probably address #188 ~~and merge #187~~ first though.

[2015-12-23 22:20] pllim opened #260 "Contents gives error when image is loaded (but still works)"
I traced it to this in `Contents`:

[code]

When I commented out the `try..except` block, I get this:

[code]

[2015-12-23 23:36] ejeschke commented on #260
Is this from `stginga` or stock ginga reference viewer?

[2015-12-23 23:37] ejeschke commented on #260
I've tried loading a few HST files and don't see any problem yet.

[2015-12-24 01:22] pllim commented on #260
Pretty sure it was stock from latest master. I'll check my cfg file. Could be settings related.

[2015-12-24 16:44] pllim commented on #260
This are the variables in `ginga.qtw.Widgets.Treeview._path_to_item()` when the traceback occurs:

[code]

My hunch is that Contents is trying to highlight the image before it is completely loaded. The image is a 41MB multi-extension FITS.

[2015-12-24 17:23] pllim commented on #260
I tried adding a lock here and there, but that didn't work. So I just added a check in `Treeview` (Qt). See #261.

[2015-12-24 17:54] pllim commented on #260
Also related: I noticed that the thumbnail is not highlighted at all after initial image load, but then it works again when I cycle through the images in the channel. It turns out when the images were loaded, in `Thumbs.update_highlights()`:

[code]

Do you see this behavior as well, @ejeschke ? If not, I'll see after the holidays if this only affects Ginga session when I am logged into the machin

[2015-12-24 18:38] pllim opened #262 "Follow-up to time modified in callback"
This is for follow-up discussions on #223 and its subsequent modification via c6c8e77.

@ejeschke, by getting rid of `image-modified` callback and only using `modified`, we have that issue again where a plugin cannot tell which channel the modification happened in, because `modified` callback only takes the image object as the argument.

[2015-12-24 18:49] pllim commented on #262
For instance, if I want my plugin to listen for the `modified` callback and then compile a list of modification history, I can no longer accomplish it without the `image-modifed` callback because I lost the channel info by just using `modified`. Without knowing the channel, I cannot even extract the "reason" using `channel.get_image_info(image_name)` as you suggested in #223.

[2015-12-24 19:35] ejeschke commented on #260
I think I missed that error message in the log without the traceback--I now see the issue.  And I think the problem is that the callback for 'image-set' happens before the callback for 'add-image'.  So there is no entry to highlight.  Working on a fix.

[2015-12-24 21:17] ejeschke commented on #260
@pllim, can you verify that commit 8c4827d8a05779f065c540fabb1f8bc9bacdaa93 fixes this issue for you?  It should also solve the issue where the thumbnail is not highlighted when the image is initially loaded.

[2015-12-24 21:22] ejeschke commented on #262
But "add-image-info" is now called when the image is modified, and it includes the channel in the callback.  You simply need to check whether the `time_modified` attribute of the `info` parameter has changed.

[2015-12-24 21:25] ejeschke commented on #262
This is a callback exported by the ginga shell (i.e. usually bound to `fv` in the plugin).

[2015-12-24 22:55] ejeschke commented on #219
I checked the "webhooks and services" page on github settings and "ReadTheDocs" was not there. I've added it.  This should kick off a doc build on a commit.

[2015-12-24 23:24] ejeschke commented on #258
@pllim, I believe this is fixed in commit b561f6059bb4d73988a0189935afc7dbb90872fa, at least to my testing.  Can you confirm? Tnx

[2015-12-25 00:03] ejeschke commented on #219
auto build is succeeding!  Thank you everyone!

[2015-12-25 00:03] #219 closed

[2015-12-25 00:30] ejeschke commented on #259
@pllim, if you or @rupak0577 would want to work on this that would be good.  I don't have a good handle on how this plugin is used.

[2015-12-25 00:44] ejeschke commented on #259
#187 merged.

[2015-12-25 03:31] pllim commented on #262
So, instead of listening for the 'modified' callback, my plugin should instead listen to 'add-image-info'?

[2015-12-27 01:51] ejeschke commented on #262
Yes, it has a parameter in the callback called `info`.  This is a `Bunch` that contains attributes of information about the image, whether in memory or not.  It has a `time_modified` attribute, which will be either `None` or a `datetime` (utc) value.  It is this same info in which you could store a "reason" if desired, it will persist for the lifetime of the ginga session.

[2015-12-27 15:09] pllim commented on #260
Thanks, @ejeschke ! It is fixed.

[2015-12-27 15:13] pllim commented on #258
Thanks, @ejeschke ! Confirmed fixed.

[2015-12-27 15:13] #258 closed

[2015-12-27 15:36] pllim commented on #259
Thanks, @ejeschke ! Yes, it is on my to-do list but not high priority right now. So if @rupak0577 etc wants to give this a shot first, I won't object. :wink:

[2015-12-28 15:46] rupak0577 commented on #259
@ejeschke @pllim Thanks! I would like to but don't know much about it although it looks simple. I will look into it.

[2015-12-28 19:44] pllim opened #263 "Treeview column widths"
Is there a way to tell `Treeview` the optimal column widths for some of the columns? Or perhaps tell it that the given column is important and should always be expanded to at least X  number of characters? I find that I always have to manually expand the column widths (by dragging its border), as shown below.

First and last columns not showing meaningful info unless fully expanded:
![untitled](ht

[2015-12-28 19:54] pllim commented on #262
Ah, okay! I also noticed that `Contents` now have a `redo()` method. That is very nice. Thanks!

[2015-12-28 19:54] #262 closed

[2015-12-28 19:56] pllim commented on #215
This is resolved.

[2015-12-28 19:56] #215 closed

[2015-12-28 19:58] pllim commented on #188
@ejeschke and @rupak0577, is this still an issue? Just wondering.

[2015-12-28 19:59] pllim commented on #158
@ejeschke , I noticed that the active channel tab now has green text highlight. Would it be possible to extend that to local plugin tabs behavior?

[2015-12-28 22:29] pllim opened #264 "Plugin auto redo when remove-image callback is issued?"
I notice that local plugins do not update when I remove an image. So, I have to add this in my plugins:
[code]

I wonder if this is something that should be done automatically in `ginga/Control.py` instead. What do you think, @ejeschke ?

[2015-12-28 22:49] pllim opened #265 "Setting background color in Frame widget"
I have a piece of Qt code in my plugin like this:

[code]

where `frame` is an instance of `ginga.gw.Widgets.Frame`. I got that piece of code from http://zetcode.com/gui/pyqt4/widgets/ example.

I am wondering if it is possible to do this in Ginga without accessing the Qt-specific widget. If not, that's fine, I'll try something else. Either way, please let me know!

[2015-12-29 00:19] ejeschke commented on #263
There is a call for both qt and gtk that will set "optimal" column width for a column (for qt one of these is `treeview.resizeColumnToContents()`).  IIRC, there may be an issue for this in that it can slow down significantly the insertion of rows in the table, when the number of rows is high (i.e. over a couple of thousands).  I vaguely remember an issue we had with this with large tables of stars

[2015-12-29 00:49] ejeschke commented on #264
If the image removed is the "current" image, and it causes a change to a new image, `redo()` should indeed be called.  However, I think right now deleting an image from a channel does not cause it to be removed from the channel viewer.  That might be a reasonable behavior.  So also it might be to switch to another image in the channel (e.g. the "next" image).

Do you think it should switch to a ne

[2015-12-29 00:54] ejeschke commented on #265
@pllim, for widget specific hacks, you can use something like `hasattr` to prevent causing a problem for a  different widget set. A bit ugly, but probably ok for things that are purely cosmetic:
[code]
If you find yourself setting the background of a lot of different frames, then it may be worth adding a `set_bg` method to `Widgets.Frame`.

[2015-12-29 15:41] pllim commented on #263
What if there is an option to turn this auto-resize feature on or off via plugin config file? Maybe like this:

[code]

Alternately, perhaps a plugin config for user to manually specify initial column widths (see example below), which can be used once at start-up via `treeview.setup_table()`? That way, it will not affect performance.

[code]

[2015-12-29 15:56] pllim commented on #264
Hmm... Good point.

Right now, my `redo()` methods check to see if an image is being displayed and does nothing is image is `None`, which effectively clears the values my plugin GUI. I have not considered the situation where the plugin does not have this check in its `redo()`.

Whether changing to next image or not does not address the issue above, because what if there is no more image to switch

[2015-12-29 18:38] ejeschke commented on #263
I like the idea of a method on the `TreeView` to set column sizes.  That would be easy and I think if you set fixed column sizes there is no penalty for row insertion.  You could then optionally call this in `build_gui()` or anytime before or after table operations.

[2015-12-29 18:46] ejeschke commented on #264
I think `redo()` should only be called if the channel viewer image changes.

Whether the viewer image should change if it is removed from a channel is another question.  I don't have a strong opinion on the matter, since we almost never use the `remove` feature.  It seems to me that both of the above behaviors might be considered appropriate.  At least in the current case, it means that the choice

[2015-12-29 20:02] pllim commented on #264
Okay, sounds reasonable. Let's just close this.

[2015-12-29 20:02] #264 closed

[2015-12-29 20:05] pllim commented on #265
I was able to substitute the colored frame with a label with very large font. Since `Widgets.Label` already has `set_color()` method, there is no changes to Ginga necessary. Thanks anyway!

[2015-12-29 20:05] #265 closed

[2015-12-29 20:35] pllim opened #266 "Follow up on QLabel text selection by mouse"
This is a follow up on #256. The `setTextInteractionFlags(QtCore.Qt.TextSelectableByMouse)` incantation used to work in an older version of Ginga (2.5.20151028003943) but now it has no effect. I cannot figure out why.

If there is no fix for this, it is better to undo #256.

[2015-12-29 20:43] pllim commented on #266
A little background: The original idea was to let users copy and paste some displayed values to somewhere else for future reference. But now they prefer to have a button to save the parameters to JSON files instead, so not being able to select/highlight `QLabel` values is not really an issue anymore.

[2015-12-29 20:45] ejeschke commented on #158
@pllim, can you take a look at commit 576faa29904811e26ba60eff916e20d14113eab1?  This adds support for fixing the main question in this issue, namely: when you now click on a local plugin tab, it should focus the plugin and raise the associated channel window.  I think this will be a huge help in reducing confusion (especially at our summit!)

Tab highlighting to be addressed subsequently, in this

[2015-12-29 20:49] pllim commented on #158
It works if I click on the "tab" under image display, which is not really a tab. Nothing happens when I click on the tab on upper right (under "Dialogs").

[2015-12-29 20:50] pllim commented on #158
Oh wait, is it a brand new commit? Hold on, let me grab it and see. Sorry.

[2015-12-29 20:54] pllim commented on #158
Yes, it works now! That's great. Thanks! :+1: :smile:

[2015-12-30 13:57] astrofrog commented on #231
Just as a quick note, there has been another API change that affects glue: https://github.com/glue-viz/glue/pull/815

[2015-12-30 18:17] ejeschke commented on #231
If I look at the current ginga code for wcs handling, I have handing for 0.2, 0.3, 0.4-0.9, and 1.0-> versions of astropy where the API changed or some aspect coordinate handling changed.  I have also had to work around changes in API for Qt, numpy and other 3rd party packages.  So I don't think it is just ginga that changes API occasionally--this is a fact of life of using active packages that ev

[2016-01-04 18:14] ejeschke commented on #266
Ok, @pllim, I will remove the line in a near future commit.

[2016-01-04 18:33] ejeschke commented on #263
In the next commit you will find three new methods on a `TreeView`: `set_column_width(i, width)`, `set_column_widths(list_of_widths)` and `set_optimal_column_widths()`.  These work for both qt and gtk.

If the number of rows is not large, you can simply call `set_optimal_column_widths()` after the treeview is populated to set all the widths optimally.

[2016-01-04 18:35] ejeschke commented on #255
This is fixed in a recent commit, which uses `set_tight_layout(True)` when constructing a figure in `ginga.util.plots`.  This does require a more recent version of `matplotlib`.

[2016-01-04 18:35] #255 closed

[2016-01-08 20:49] pllim commented on #263
@ejeschke , thanks! Do you have plans to let `Contents` use this feature?

[2016-01-08 20:52] pllim commented on #266
I see that you commented it in 759c299c0c36 .

[2016-01-08 21:02] ejeschke commented on #263
I'm a little concerned about calling it by default in `Contents`.  But maybe with a check against the size of the table it might be ok.

[2016-01-08 21:02] ejeschke commented on #266
Shall we close the issue then?

[2016-01-08 21:06] pllim commented on #266
Sure. Thanks.

[2016-01-08 21:06] #266 closed

[2016-01-08 21:19] pllim commented on #263
That sounds reasonable. The size can be a user configurable parameter, if you wish.

[2016-01-11 20:05] astrofrog opened #267 "Failures with Numpy dev"
There are test failures (and failures when trying to run ginga) with the latest Numpy dev version:

[code]

[2016-01-11 20:14] pllim commented on #267
Could be because of this -- http://docs.scipy.org/doc/numpy-dev/release.html#deprecated-to-error

[2016-01-11 23:48] ejeschke commented on #267
@astrofrog can you tell us a little bit more about which version you are using?  I just checked out numpy from https://github.com/numpy/numpy.git and built it.
[code]
This version seems to be work fine with python 2.7 under linux.  I will test with python 3 shortly.

[2016-01-11 23:56] ejeschke commented on #267
python3 seems also ok with ginga and this version of numpy.

[2016-01-12 00:10] astrofrog commented on #267
I updated all my repos and it now works, so it might have been a temporary failure in Numpy. I'll re-open if I see the issue again.

[2016-01-12 00:11] ejeschke commented on #267
Tnx!

[2016-01-12 00:46] ejeschke commented on #267
@astrofrog, I am now seeing the issue after removing my preferences.  At least I see it with python 3 if the default autocuts is set to "zscale".  From the traceback (which looks similar to yours) it looks like the  problem is in the zscale implementation.

[2016-01-12 00:47] ejeschke commented on #267
Which is [here](https://github.com/ejeschke/ginga/blob/master/ginga/util/zscale.py).

[2016-01-12 00:51] ejeschke commented on #267
Found it.  Fix coming shortly.

[2016-01-12 01:08] ejeschke commented on #267
Good catch @astrofrog.  This was a python 3 issue, change in division operator semantics.  There is a fix in commit 4ebef462e981fa09e8749dbcb027f3e22339fed7.

[2016-01-12 01:29] ejeschke commented on #267
@astrofrog, this should be fixed, but please open again if you are still seeing the error.

[2016-01-12 01:29] #267 closed

[2016-01-14 15:48] astrofrog commented on #267
@ejeschke - ok, thanks!

[2016-01-21 21:14] pllim commented on #260
@ejeschke , I am seeing this error again when I open several images at once, and also auto-load extra extensions from the same images at the same time, like this:

[code]

Do you have an idea on how to fix this? Am I doing something wrong in the codes above? I had done this before without such error, so somehow it is now incompatible with the latest changes you made?

[2016-01-25 22:59] ejeschke commented on #260
@pllim, are you seeing this when dragging and dropping multiple images or some other open method or only with the code snippet you showed above?  Trying to reproduce now by opening multiple files, but I cannot reproduce it yet.

[2016-01-25 23:03] ejeschke commented on #260
Could you try changing the call `make_async_gui_callback` in `Control.py:advertise_image()` to `make_gui_callback`?  Same parameters, just change the name.  Does this fix the problem?

[2016-01-28 03:41] #263 closed

[2016-01-28 15:43] #260 closed

[2016-01-28 15:43] pllim commented on #260
Fixed (again) in #273.

[2016-01-28 15:51] pllim opened #274 "FBrowser plugin to auto resize columns"
Quoting @ejeschke from #268, "... maybe we should do something similar for `FBrowser`?"

Auto resizing columns in `FBrowser` would make sense. However, unlike `Contents`, I do not think there is a need to turn the feature off based on a max number of rows. What do you think, @ejeschke ?

Also see #263.

[2016-01-29 02:41] ejeschke commented on #274
It might make sense to put a large limit, like a few thousand rows.  Building the tree is not invoked on a callback that happens with regularity, like adding or switching images, so its not so important.

[2016-01-29 16:49] pllim commented on #274
Okay, @ejeschke , I added the limit in #276.

[2016-02-01 14:36] pllim opened #277 "Should ChangeHistory remember changes even when inactive?"
This is a follow up of #270.

Currently, the `ChangeHistory` global plugin only records changes to buffers when it is active, via its `redo()` method. This means that it might not reflect all the buffer changes in Ginga if user does not start it immediately after Ginga loads. Is this a desirable behavior?

If not, then we should move the actual change history to `chinfo` like the modification time

[2016-02-02 21:09] ejeschke commented on #277
@pllim, do you start the plugin immediately when `stginga` starts up?

[2016-02-02 22:03] pllim commented on #277
@ejeschke , yes. In fact, I added the "close" button just to be consistent with the rest of Ginga optional plugins when I submitted the PR to you. So, now there is option to open/close/open/close this plugin, and this can be an issue to people who do that.

[2016-02-03 20:02] pllim commented on #106
I think this is fixed.

[2016-02-03 20:02] #106 closed

[2016-02-03 20:04] pllim opened #278 "Deleted mosaic still in Thumbs"
When a mosaic (created via `Mosaic` plugin) is removed from a channel, its thumbnail is not removed from `Thumbs` even when it has disappeared from both `Contents` and `Datasrc`.

[2016-02-08 07:50] #274 closed

[2016-02-08 07:57] ejeschke commented on #277
@pllim, I have no objection to putting a modification history in the channel metadata. Out of curiosity, what is the rationale for using an ordered dictionary for the history rather than a simple list or sequence type of records?

[2016-02-08 16:35] pllim commented on #277
My thinking was just so that it can link the `time_modified` to `reason_modified`, and also preserve the order. But now that I think about more, perhaps just a list of tuples will do.

I'll attempt a PR when I have a chance. This is not high priority on my side currently, and I don't think there is a need on your side yet.

[2016-02-09 01:41] ejeschke commented on #277
We don't have any significant current uses of modification except `Mosaic`--in which the trail of reasons would be uninteresting to the user.  I would prefer if we can do it without e.g., introducing a new callback or additional overhead for non-modification type operation.

[2016-02-09 01:42] ejeschke commented on #278
@pllim, did you get any change to delve into why?  I suspect it has something to do with the fact that mosaics don't have an associated path, but I haven't had a chance to investigate it yet.

[2016-02-09 14:50] pllim commented on #278
No, I haven't.

[2016-02-09 14:51] pllim commented on #277
@ejeschke , why don't we just close this as "won't fix" for now? At least it is documented in the issues. If there is a need for persistent history in the future, we can always revisit.

[2016-02-09 14:52] #277 closed

[2016-02-09 22:16] ejeschke opened #282 "Considerations for hi-res displays"
I've recently upgraded to 4K displays, and I notice some minor issues with ginga usability that probably ought to be addressed.  For example, both Qt and Gtk widget sets have a scaling option to scale most widgets "behind the scenes" by a constant factor. For example, Qt has the `QT_DEVICE_PIXEL_RATIO` environment variable (integers only) and Gtk has `GDK_SCALE`.

Happily, most of these are now al

[2016-02-19 06:11] pllim opened #285 "add_local_plugin broken in ginga_config.py"
This `ginga_config.py` used to work, but now loading local plugin this way results in the plugin being listed but nothing happens when I start the plugin. However, the global plugin that is also defined this way works fine. The same local plugin works fine when loaded using `ginga --plugins=stginga.plugins.DQInspect`. I am using the latest dev from master.

[code]

[2016-02-22 01:05] ejeschke commented on #285
@pllim, do you have an error showing up in the log during startup?

[2016-02-22 15:05] pllim commented on #285
@ejeschke , no error that I could see. A sample log as follows (`loglevel=10`). You can see that the custom local plugin is loaded at
[code]
but nothing else happens after that when I actually wanted to use the plugin.

[code]

[2016-02-22 17:47] pllim commented on #259
@rupak0577 , are you still looking into this? If not, I'll take a stab at it.

[2016-02-22 17:51] ejeschke commented on #285
Does this plugin come bundled with `stginga`?  If so, I will try to debug what's happening...

[2016-02-22 17:59] pllim commented on #285
Yes.

[2016-02-22 18:59] ejeschke commented on #285
@pllim, what I can see from debugging is that the plugin info is not found, even though there seems to be no error "loading" it.  I've added an error check which will pop up an error message in "Errors" so it will catch this in the future (no silent error), which I will check in shortly.

But this doesn't yet address why the plugin information is not stored correctly.  Looking into that now.

[2016-02-22 19:01] pllim commented on #285
The weird thing is, if I use it like `ginga --plugins=stginga.plugins.BackgroundSub`, it works!

[2016-02-22 19:09] ejeschke commented on #285
When I create a new channel, and try to invoke it there, it's ok.  Is that the same for you?

[2016-02-22 19:10] ejeschke commented on #285
This would lead me to believe that if you just add the stanzas to `pre_gui_config` (recommended for plugins) it should be available for any channels.  But that doesn't work even if I create a new channel.

[2016-02-22 19:17] pllim commented on #285
Yes, it works when I create `Image0` channel and then start the plugin again under the new channel, but that is not my workflow, which only uses the default `Image` channel.

And yes, `pre_gui_config` does not work at all. When I use that instead, the plugin name does not even show in the drop-down menu.

[2016-02-22 19:57] ejeschke commented on #285
@pllim, can you try commit 366d9017ab187a4f70ba31b75e7992aa34c7759f?  I believe this fixes the issue.  You will need to add your plugin in `pre_gui_config()` (which is the recommended way to do this anyway).  The problem got introduced with the introduction of the `Operations` plugin.  The plugin was actually loaded ok, but the GUI menu was not initialized properly.

[2016-02-22 20:38] pllim commented on #285
@ejeschke , yes, it is fixed!

Minor thing that I noticed is that defining them in `pre_gui_config()` puts them on top of the drop-down list, whereas using `--plugins` or appending to `local_plugins` global variable put them at the bottom. I don't think it is a problem, but I just want to point it out.

[2016-02-22 20:38] #285 closed

[2016-02-22 21:01] pllim commented on #257
@ejeschke , any update on this? Just wondering.

[2016-02-22 21:34] pllim commented on #278
@ejeschke , are you okay with my fix in #286?

[2016-02-22 22:11] ejeschke commented on #257
Not yet.  Are you going to PiA2016?  Might be one of the sprints to fix it.

[2016-02-23 15:32] rupak0577 commented on #259
@pllim Sorry, I haven't made much progress so it's probably better if you do it.

[2016-02-24 17:02] pllim commented on #259
Okay, something else came up for me as well. But I'll see if I have time in the next few weeks.

It currently loads the whole data cube in, yes?

[2016-02-26 09:10] rupak0577 commented on #259
@pllim Yeah, it loads the entire cube.

Okay, if I get some free time, I will try to get something done. So for the aperture, it will be similar to the 'Drawing` plugin, right? Should it be a separate plugin? Or can we add a tab to `LineProfile`?

[2016-02-26 17:15] pllim commented on #259
@rupak0577 , I was thinking the same plugin, but we don't need a separate tab. Rather a new drop-down menu that let user to choose whether to use a point or some kind of aperture (e.g., box, circle, or polygon). And if an aperture is chosen, then another drop-down menu will be activated to let user choose what algorithm to use to "flatten" the data (e.g., sum, median, or mean). And if you are up f

[2016-03-02 13:45] rupak0577 commented on #259
@pllim Is it possible to subclass a plugin without creating another? Adding the code to LP makes it more complex.

For the gui, do we need the other attribute boxes like `Radius`, `X`, `Y` etc? Also, can you point me to some references for the algorithms?

[2016-03-02 13:53] pllim commented on #259
@rupak0577 , that was just an example, there is no need to include everything shown if they don't make sense. That particular example was written before @ejeschke introduced "draw" and "edit" radio buttons for canvas drawings. On your end, I don't think you need to worry about the extra GUI elements that allow users to explicitly set drawing parameters (e.g., `Radius`, `X`, and `Y`) unless you thi

[2016-03-02 16:28] rupak0577 commented on #259
@pllim Okay, I will focus on the drawing side then. We can add the rest later if necessary.

Regarding the subclassing, I simply wanted to move the aperture code into another class to avoid adding the subclass as a new plugin but it seems that's not possible. So I guess it will be a new plugin (subclassed from `LP`) and added to the list. Otherwise, `LP` becomes complex with all the drawing and ca

[2016-03-02 16:37] pllim commented on #259
With a new subclassed plugin that does all the same things but the only difference is region selection, I don't know how confusing that would be for the user. @ejeschke , you have any thoughts?

[2016-03-02 18:48] ejeschke commented on #259
I think the situation is analogous to the changes we made to `Cuts` last year to add width capability or the slit.  It's just slight variation on what is already being done, but sometimes involving significant new calculations, or a slight variations in the drawing object.

It's not entirely clear to me whether the use case is so different to warrant a separate subclass.  Typically, we use a subcl

[2016-03-02 19:40] ejeschke opened #287 "Assist the Ginga Project"
This is an open issue for anyone interested in becoming involved in helping the Ginga project.

If you are interested in participating, please add a comment to this issue indicating what things you are interested in working on.

We are looking for individuals to work on a few select project areas, depending on skill level and interest:

Beginning-level:
* Improve and expand Ginga's unit test suite

[2016-03-03 05:11] stscieisenhamer opened #288 "Cannot guarantee a key_release_event after a key_press_event which messes with modifiers"
I have been using the CanvasView in a standalone Qt app for awhile. I have been fighting a very weird issue where CanvasView would seem to get stuck in Pan mode. The Cntrl-Left button would do nothing but pan. Other symptoms include f you explicity went into one-shot Pan mode, the Q-key, panning would not work, or one could not draw objects.

The workaround was to hit the Ctrl key. But this would

[2016-03-03 05:26] ejeschke commented on #288
This particular bug has been biting me for a long time too, under a different scenario. I get it when I use a Ctrl key combination to switch virtual desktops under Linux--then, also, the Ctrl-key release event never makes it back to Ginga.  I'm using the `grabKeyboard()` Qt API call in the Qt version, which I thought was supposed to fix this, but apparently it doesn't (at least for Control or Comm

[2016-03-03 05:53] ejeschke commented on #288
@stscieisenhamer, I'm not sure this solves the problem I mentioned above, but I think it may solve yours.

Can you upgrade to commit 0bb7f8190947fb936ee8916ab36b5318aa7b4b1d and give it a whirl?

There is still an issue where the cursor is stuck in the pan cursor, but I think that should be easy to fix.

[2016-03-03 15:53] stscieisenhamer commented on #288
That will do it; essentially the same as my patch to my local class. I'll leave closing to you, in case further discussion is needed, as per below.

About the "general" solution. When I did this regularly 20+ years ago, the presumption was always that the application needed to handle 'cleanup' when losing focus. It was actually a necessary feature of any GUI toolkit that the events occur only to w

[2016-03-03 21:22] ejeschke commented on #288
@stscieisenhamer, does the Command-O shortcut work as expected now?  There is still a `grabKeyboard()` call initiated by a key press and the corresponding release call in the key release event.  I'm not sure these even work as imagined on a mac.  I'll try removing them and see if I can detect any negative change in behavior.

[2016-03-03 21:54] stscieisenhamer commented on #288
Yes, sorry, it works just fine. If there is a grabKeyboard occurring, it has no effect; I can type into the file dialog just fine. This may be because it is using the 'native' file dialog, over which the grab may have no effect.

[2016-03-03 22:26] stscieisenhamer commented on #288
FYI: Tried the non-native file dialog and was able to still type into it. But this does reveal what the actual issue is: The file dialog is modal; it blocks the rest of the UI. The grabkeyboard can have no effect, almost by definition.

There goes another landmind...

[2016-03-05 18:50] rupak0577 commented on #259
@pllim It seems we cannot use the same plot for both the aperture and the mark feature in `LP`. Since the mark plots the data at a point, flattening the same data would be incorrect. So another plot tab is necessary.

[2016-03-07 14:43] pllim commented on #259
I am okay with another tab if that works best.

[2016-03-07 18:08] rupak0577 commented on #259
@pllim By "pixels within the aperture" do you mean the pixels or the pixel data values?

@ejeschke Is there any method to find the list of data points inside a shape object(circle,box) ? I think it's `contains_arr()` but not sure.

[2016-03-07 18:32] pllim commented on #259
@rupak0577 , I meant the statistics are to be done to the actual data in the affected pixels. To be more precise, the values from the input image, not the displayed RGB stuff. Does this make sense?

Also, you can extract the data with something like this in the plugin... Some of the codes are merely for example, but you should get the general idea.

First you need to store the canvas tag when aper

[2016-03-07 18:34] pllim commented on #259
Depending on how you actually compute the statistics, you might also flatten the `data_for_stats` first.

[2016-03-07 18:49] rupak0577 commented on #259
That will definitely help so thanks!

For calculating the stats, I was thinking about simple passing the array to the `calc_stat()` code above.
Also, what should be the list of shapes and algos? For now its just Box,Circle and all algos in the `calc_stat()` (mean, median,mode,stddev).

[2016-03-07 18:53] pllim commented on #259
I am not sure of what shapes that are the most useful for most cases. I think polygon might be the most flexible, if that is not too hard to add. Otherwise, box and circle are good starting points. The existing algos should be okay, unless you can think of otherwise.

[2016-03-07 18:54] pllim commented on #259
@rupak0577 , does that mean you are also moving `calc_stats` over from `stginga` to Ginga's util area? Ginga should **not** add `stginga` as a dependency.

[2016-03-07 19:03] rupak0577 commented on #259
Yeah, I only moved that method to util.

Not sure how to calculate the points for the polygon. But we can add that later. I just want to get the basic functionalities working.

[2016-03-07 19:05] pllim commented on #259
The code I posted above should also work for polygon. Polygon is just another shape like box and circle. But yeah, you don't have to add it now if you don't want to.

[2016-03-07 19:13] rupak0577 commented on #259
Hmm, I thought it would be difficult with multiple edges intersecting. Anyways, will try to push the changes soon.

[2016-03-07 20:58] ejeschke commented on #259
@rupak0577, the key method is what @pllim referred to above:
[code]
this will return a rectangular array of data for the bbox of the shape, but with the data that are not inside the shape masked out.  It should work for all "enclosing" ginga shapes, so code doesn't have to do any special processing for each kind of shape.

[2016-03-10 16:17] rupak0577 commented on #259
@pllim I am not sure what the `ydata` for `plot()` will be

`self.ap_plot.plot(plot_data, ?)`

Will that be a sliced array like in `LP` ?

[2016-03-10 16:37] pllim commented on #259
@rupak0577 , yes. But instead of the values of selected point, it displays the calculated stats from values of points within the selected aperture. Does that make sense?

[2016-03-10 16:45] rupak0577 commented on #259
But the sliced array in `LP` is according to the axis selected. It isn't similar, is it?

[2016-03-10 16:47] pllim commented on #259
Nothing should change except for the values inside aperture going through stats first. For the axis where the aperture does not apply, then it is just the same thing as existing functionality.

[2016-03-10 16:53] rupak0577 commented on #259
Okay, so it's the `LP` plot code with only the plot array being replaced - `self.ap_plot.plot(flattened_data, mddata[slice_obj])`.

Are there some axes where the aperture would not apply?

[2016-03-10 16:58] pllim commented on #259
Not knowing what kind of data user is going to display, it is best to be flexible and just assume it applies to everything. If users choose something that does not make sense, they should expect crazy plots.

[2016-03-10 17:43] rupak0577 commented on #259
I missed this somehow but how do I apply the stat value returned by `calc_plot()` on the array?

[2016-03-10 18:15] pllim commented on #259
Yes. For example, if I have a data cube (`a`) that is a series of 10x10 images (100 of them), and I want to plot the sum of each of the 10x10 image across the series (in this case, the 10x10 would be the chosen aperture), I would expect the plugin to do the equivalent of this manual operation:

[code]

[2016-03-12 18:23] rupak0577 commented on #287
@ejeschke I am interested. Can I apply?

[2016-03-14 14:41] letyrodridc commented on #287
Hi I'm interested. I could work on "Add support for loading broken FITS files by "fingerprinting" them"

[2016-03-14 16:06] rirze commented on #287
I'm really interested in working on the advanced-level topics. I am very interested in parallelizing operations. Implementing Stokes is a task I would enjoy working on as well.

[2016-03-14 17:50] pllim opened #290 "Ginga silently suppresses some exceptions"
I am not sure when this started happening but I noticed that with the latest dev, Ginga does not report some exceptions, which complicates some debugging process.

For example, I have a plugin that calls:

[code]

It is supposed to raise `ValueError` (see `masktorgb()` function in `ginga/util/dp.py`). But Ginga does not report this at all. So I was left wondering why nothing happens. To debug, I h

[2016-03-14 20:06] pllim opened #291 "Drawing plugin: Annulus cannot draw when "wcs" is selected"
In `Drawing` local plugin, select the following:

* Draw type: annulus
* Coord type: wcs
* Mode: draw

Now try to draw it over image display with left mouse button. Nothing happens. However, it appears as usual when "Coord type" is changed to "data".

[2016-03-15 01:40] ejeschke commented on #287
@rupak0577, glad to hear your interest!  I don't see why you couldn't. Go for it!

[2016-03-15 01:44] ejeschke commented on #287
@letyrodridc, @rirze, glad to hear your interest!  I'm in touch with the other astropy GSoC mentors and will be contacting you via email.

[2016-03-15 02:22] ejeschke commented on #290
@pllim, I'm not aware of any recent changes that should have changed exception handling. But I believe that if the exception happens in a callback it may not be reported unless the `make_callback` is inside a try/except handling block.

There is a useful function called `error_wrap()` in `Control.py`.  You can use this to make a function call that will log any error (along with a traceback) and po

[2016-03-15 13:45] pllim commented on #290
For this particular case, that code was in a method that is connected to the `'selected'` signal in a `TreeView`. Does that count as a callback? The signature of the method is as follows:

[code]

[2016-03-15 20:57] ejeschke commented on #290
Yes, it does.  In particular, callbacks from UI events often are not called from within a try/except block, while callbacks from "deeper" in the code generally are.  If you are calling something significant from a UI event it's generally a good idea to use the `error_wrap` method if you just want to be made aware of any error, and your own try/except clause if it's critical to handle the error in

[2016-03-15 20:59] pllim commented on #290
Okay. Thanks for the clarifications!

[2016-03-15 20:59] #290 closed

[2016-03-16 14:58] letyrodridc commented on #257
Hi, I'm starting my GSoC PR. Can I take a look to this?

[2016-03-16 22:18] ejeschke commented on #257
@letyrodridc, sounds good!

Pointers:
1. You are going to want to fix the `ginga.qtw.Widgets` module (and then the other widgets can follow the same solution--see below)--look for the `TreeView` class
2. The key to solving this for all widget sets is changing the `shadow` type from a `dict` to an `OrderedDict`, and being able to sort the ordered dict, which can be arbitrarily nested.
3. You then c

[2016-03-17 01:40] ejeschke commented on #257
@pllim, jump in if you have other suggestions!

[2016-03-17 15:44] pllim commented on #257
@ejeschke , I actually have a different thought about the fix. For Qt at least, the underlying problem is that `QTreeWidgetItem` only takes a list of strings. So as a result, in Ginga's `TreeView._add_subtree()` method, the values are converted to string prior to being passed into the widget. So, `1234` and `25` becomes `'1234'` and `'25  '` in the widget, although for them to sort properly, they

[2016-03-17 20:37] ejeschke commented on #257
Yes, a fix for Qt only would be to implement a subclass of `QAbstractItemModel`.  But I think that is a rather limited solution and fixes only one back end.  Since the back ends all share a shadow structure containing the data in a normal python-standard data structure, might as well just sort that and reload the interface.  I think this actually keeps the GUI logic simpler.

[2016-03-18 02:23] pllim commented on #257
@ejeschke, Ah okay, I see what you're saying now about the shadow + ordered dict. Sounds good to me.

[2016-03-18 13:23] letyrodridc commented on #257
Thanks a lot. I'm taking a look to the code and working with the solution.

[2016-03-18 19:02] Mar-tian commented on #287
Hi, I am interested in working on improving Ginga backends for web browsers or enhancing existing plugins by adding GUIs. I know this is really late, but I am new to open source and was having doubts about about poceeding, could I apply?

[2016-03-22 00:17] pllim commented on #257
Now I remember why I had to explicitly cast DQ flags to `str` before passing it into `TreeView` (see traceback below if I don't). So, this means the shadow itself only recognizes the DQ flags as strings as well, which means the shadow itself won't sort properly. Does that make sense?

In the plugin:
[code]

The traceback from Ginga when running the plugin:
[code]

[2016-03-22 15:26] ejeschke commented on #202
Fixed via #293

[2016-03-22 15:26] #202 closed

[2016-03-22 15:28] letyrodridc commented on #257
Why you cast flags as strings? Could you use the TreeView with just
numbers?

The TreeView view is sorting right. It has strings as you said.
El mar. 21, 2016 21:17, "P. L. Lim" <notifications@github.com> escribió:

[2016-03-22 20:32] pllim commented on #257
Sorry, the traceback happens *after* I removed the `str` casting. I corrected my example above.

[2016-03-22 22:00] pllim commented on #257
If anyone wants to try the `DQInspect` without the `str` casting, just pull my branch associated with spacetelescope/stginga#105

[2016-03-22 23:32] pllim commented on #205
After discussions with @nden and @ejeschke at Python in Astronomy 2016, it is decided that non-standard WCS standards are not Ginga's problem nor JWST's problem. Therefore, it needs external resources to actually implement Python interpreters for those standards in question.

[2016-03-22 23:32] #205 closed

[2016-03-22 23:32] pllim commented on #287
Fingerprinting no longer needed.

[2016-03-22 23:56] pllim opened #294 "Bugs in "Make Thumbs" in FBrowser"
- [ ] Invalid files attempted to be opened or mosaic that fell out of cache get removed from `Thumbs` but stayed in `Contents`.
- [ ] Thumbnails with long names opened that way are not shortened in thumbnail's name display.

[2016-03-23 00:27] pllim opened #295 "Contents not sorting by load time anymore"
With latest dev, `Contents` does not seem to respect the user preference to sort by load time anymore. It is *always* alphabetical order.

[2016-03-23 00:49] pllim commented on #295
@ejeschke , confirmed this bug is in latest master. `Thumbs` sorting not affected.

[2016-03-24 00:20] pllim opened #297 "Mosaic should not error when active mosaic is deleted"
Currently if `Mosaic` plugin is active, and the current mosaic is deleted by user, and then user drags another file into mosaic, it will give the following error in the log:

[code]

`Mosaic` should listen to `remove-image` callback and performs a clean up if the image being removed is the active mosaic.

[2016-03-24 00:22] pllim commented on #295
Turns out it is just a misunderstanding. Contents still steps through by load time but the tree view display always sort by the column with a triangle icon. So, the solution for now is to explicitly document this subtlety. We should keep this issue open until doc is written.

[2016-03-24 00:25] pllim opened #298 "Problem with deleting thumbnail using control button as right click on Mac trackpad"
When user attempts to delete a thumbnail using Control key with trackpad, it deletes but then the mouse click is also captured as a selection, so it then reloads the image.

[2016-03-24 00:36] pllim commented on #291
Note: This issue should solve itself if Ginga switches to proposed new Astropy region objects that are WCS-aware, as discussed during Python in Astronomy 2016.

[2016-03-24 00:47] pllim opened #299 "Reorganize plugins doc"
In Ginga's documentation, under "The Ginga Viewer and Toolkit Manual", its Plugins page has _all_ the plugins on the same page, which is now too cluttered. It should be:
- [x] Further broken up into one sub-page per plugin. (#300)
- [x] Each plugin's sub-page should have the same consistent layout (see below; #548 ).
- [x] Have a way to automatically extract config examples and insert them into pl

[2016-03-24 22:46] pllim opened #302 "Emit user facing error when mosaic falls out of cache"
When there is a mosaic in cache but `numImages` are so small that the mosaic falls out of cache when user visits/opens other images, the error message should be displayed explicitly in `Errors` plugin. Right now, it only goes to Ginga's logfile.

[2016-03-24 23:02] pllim opened #303 "Replace grc and gris with entry points"
Like #296 but for the other two scripts, `grc` and `gris`, for consistency.

[2016-03-25 22:12] pllim opened #306 "PixTable errors out when no image is open"
If you start `PixTable` before loading any image, it gives a traceback:

[code]

[2016-03-25 22:13] pllim opened #307 "Local plugins not closed when last channel deleted"
When the last channel is deleted, its local plugins remain open. This *only* happens if it is the last channel.

[2016-03-25 23:17] pllim opened #310 "Operations menu to handle a lot of local plugins"
The number of plugins are getting to the point that current `Operations` dialog is not going to be sufficient. Some ideas below:
- Some kind of scrolling mechanism
- Separating them into categories -- But what if a plugin can fall into multiple ones? How do users instinctively know which category to look for a certain plugin?
- Multi-column menu
- Anything else?

[2016-03-25 23:49] pllim commented on #307
The traceback I get is:

[code]

Which traced the bug to somewhere here in `ginga/gw/GwMain.py`:

[code]

The solution is not obvious to me. Any ideas, @ejeschke ?

[2016-03-28 16:47] AlexaVillaume opened #311 "Opening MEF image file"
Hi all,

This is a very basic question but I can't figure out how to open a MEF image such that all the extensions are displayed at the same time. I'm thinking of something similar to "open other" in DS9. Right now when I load the image it just displays one extension. I'd appreciate it if somebody could help me out.

Thank you,
Alexa

[2016-03-28 16:48] pllim commented on #311
Use the `MultiDim` local plugin. Then choose the extension(s) you want to open.

[2016-03-28 17:00] AlexaVillaume commented on #311
Thanks @pllim for your reply but still a little confused. There's the drop down menu on the left where I can only select one extension at a time and there's the display on the right where, again, I can only go through one extension at a time. What's the secret handshake for getting all the extensions to display at once?

<img width="1436" alt="screen shot 2016-03-28 at 9 53 29 am" src="https://clo

[2016-03-28 17:26] pllim commented on #311
Good question. `File->Open` and `FBrowser` accepts wildcard in filename to open multiple files at once, but they do not support wildcard in the extension specification (the square brackets).

[2016-03-28 17:30] AlexaVillaume commented on #311
Does that mean I cannot open all the extensions of the file at once?

[2016-03-28 17:31] pllim commented on #311
There might be a way that I am not aware of. @ejeschke ? Or perhaps @eteq knows how to accomplish this using Jupyter notebook magic?

[2016-03-28 18:33] pllim commented on #311
Thinking about this a bit more, I am not sure if it is a desirable feature to have Ginga automatically open all extensions. While it might be convenient in your case, some files have mixed image/table/header format, which means Ginga will fail to load some of them. And also, what if someone provides a file with hundreds of extensions?

[2016-03-28 23:47] ejeschke commented on #311
Hi @AlexaVillaume !

It would be quite straightforward to add a button to [`MultiDim`](https://github.com/ejeschke/ginga/blob/master/ginga/misc/plugins/MultiDim.py) that would open all HDU's (ideally just image HDUs, I guess).  `MultiDim` uses `astropy.io.fits` to open the file and assigns this to the instance variable `self.fits_f`.  So the callback for the button would just iterate over then len

[2016-03-28 23:50] ejeschke commented on #311
Oh, BTW, what I described is for loading a series of images in the same channel (window), so that you can pick them from the `Thumbs` or `Contents`.  If you want to open them in all different windows, that's also pretty easy, but requires a couple extra steps.

[2016-03-28 23:52] ejeschke commented on #311
You can see in `build_gui()` how to add a button and give it a callback.

[2016-03-29 00:15] AlexaVillaume commented on #311
Hi @ejeschke! I will try to implement the button.

[2016-03-29 00:15] #306 closed

[2016-03-29 13:21] pllim opened #312 "New plugin to save image(s)"
This was brought up by @ejeschke in #292, *"... let's add a 'Save As FITS' menu item that starts the 'Save Image' plugin (which you should submit as a separate PR which we can merge first). That way after creating the mask they can either start the save image plugin from the Operations menu or they will discover it under the File menu."*

From the description above, it sounds like the idea is to k

[2016-03-29 13:53] pllim commented on #311
Just thinking out loud here -- Should we put in safe guard to disable that new button if the image has too many of extensions? The "too many" can be an arbitrary number that is user configurable or hard-coded. Or maybe it does not matter unless user has set `numImages = 0`?

[2016-03-30 01:46] ejeschke commented on #311
Some limit would be good, I guess. "ramp" frames can have hundreds of large images.

[2016-03-30 02:43] ejeschke commented on #312
Actually, there is no problem starting a local plugin from a menu item.  If it were a global plugin it would have to decide which channel's image to save, but if we simply have it start the local plugin in the active channel that would work fine.

[2016-03-30 13:41] pllim commented on #312
Okay, that sounds good. I notice that you did a similar implementation with `FBrowser`, I'll look into that as example. Thank you!

[2016-03-30 21:49] ejeschke commented on #312
The only tricky part is making sure to throw up an error message with `show_error()` if the plugin is not loaded.  To check whether the local plugin is loaded, do something like:
[code]

[2016-04-06 01:32] ejeschke commented on #288
Both gtk and qt versions have had the keyboard grab removed.  Closing this issue.

[2016-04-06 01:32] #288 closed

[2016-04-06 19:21] pllim opened #316 "Replace deprecated calls to self.logger.warn()"
These tests failed in Python 3 if tests are instructed to treat deprecation warning as exceptions:

[code]

Similar to astropy/astropy#3495 .

[2016-04-07 04:15] ejeschke commented on #316
Good grief.  Well, at least there shouldn't be too many of those compared to `debug()` and `info()` calls.  I assume `warning()` is at least backward compatible with 2.7?

[2016-04-07 14:13] pllim commented on #316
I think so. Here is what it looks like:

[code]

[2016-04-07 16:25] pllim opened #317 "Modify unit tests to use Astropy pytest framework"
This is a follow-up for after #313 is merged.

[2016-04-07 20:01] #278 closed

[2016-04-07 20:06] pllim commented on #138
FYI -- This won't be an issue anymore after #313 is merged. Because following the Astropy template, `read()` is no longer used. Instead, long description is extracted from `package.__doc__`.

[2016-04-07 20:48] pllim opened #320 "Enable user to specify custom colormaps?"
Inspired by PyAstro16 talk about Making Data Pretty by Michele Bannister (https://www.youtube.com/watch?v=dKbf3gaX-Pg) and [this tweet](https://twitter.com/brettmor/status/712673214346821633), perhaps it is nice to let people use whatever colormaps they want. I, for one, am also curious what various astronomical objects would look like in a Wes Anderson color palette. Something to think about...

[2016-04-19 18:49] pllim opened #323 "Replace ginga.util.six with astropy.extern.six"
I don't see any reason not to.

[2016-04-20 14:44] pllim opened #324 "Better menu style for colormaps/colors"
When I have `useMatplotlibColormaps = True` set in my `~/.ginga/general.cfg`, I find that I have to scroll all the way down for some of the colormaps, which are arranged in alphabetical order. This can feel like it is taking forever to switch colormaps sometimes, especially when I have an "a" and I want to use a "z", or something like that.

It would be nice to have alphabets listed as the first m

[2016-04-27 18:47] #312 closed

[2016-04-28 02:30] ejeschke commented on #324
I feel your pain.  I think the plugin lists are long and getting longer as well.  Maybe time to look at nested menus?  I'm ok with categorizing them in some fashion.

[2016-04-28 02:32] ejeschke commented on #323
How often does `astropy.extern.six` change?  I think this might be ok too, but I use the `six` module *everywhere*.  That could entail massive changes if the external `six` module is updated.

[2016-04-28 03:10] ejeschke commented on #316
This should be fixed in commit a6e79df63e46f825061e11b1a9c0c4c94d32ac27. @pllim, can you try your test env again and see if I've caught all these?

[2016-04-28 03:12] ejeschke commented on #320
If it can be made into a matplotlib compatible color map, we can import it.  Might be nice to add some documentation in the manual about how to do that.  Currently I think the best way would be via `ginga_config.py`, but there might be a way to do something in the future with a config file.

[2016-04-28 13:28] pllim commented on #323
I would say not often. Here is the [commit history](https://github.com/astropy/astropy/commits/master/astropy/extern/six.py).

[2016-04-28 15:36] Cadair commented on #323
I was warned against doing this by @embray because it means you have to have astropy installed to install ginga. Rather than `pip install ginga` being able to pull in astropy.

[2016-04-28 15:39] pllim commented on #323
Ah, okay. That's good to know, @Cadair . Closing then.

[2016-04-28 15:39] #323 closed

[2016-04-28 19:02] pllim commented on #316
This is naturally tested by #313. I'll re-enable turning warnings into errors there and see what happens. Thanks.

[2016-04-28 19:36] pllim commented on #316
Looks like [all tests passed](https://travis-ci.org/ejeschke/ginga/builds/126472290)!

[2016-04-28 19:36] #316 closed

[2016-04-28 19:43] ejeschke opened #326 "FutureWarning coming from matplotlib when using Pick"
When I use `Pick` from the reference viewer with recent versions of matplotlib, I get a `FutureWarning`:
2016-04-28 09:40:38,541 | W | collections.py:548 (get_edgecolor) | /usr/lib/pymodules/python2.7/matplotlib/collections.py:548: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._edgecolors == 'face':

[2016-04-28 19:54] pllim opened #327 "Add option to use gWCS"
@mcara suggested that Ginga should add the option to support [gWCS](http://gwcs.readthedocs.io/en/latest/) (https://github.com/spacetelescope/gwcs) for future JWST support. I am just opening an issue here so I don't forget that this request happened.

c/c @larrybradley, @nden, @stscieisenhamer

[2016-04-28 19:56] pllim opened #328 "How does Ginga handle image distortion?"
Is there a way to un-distort a distorted image (using its WCS) and display the un-distorted version on Ginga? This was also asked by @mcara.

[2016-04-28 19:59] pllim commented on #328
c/c @stscieisenhamer in case he secretly implemented this for 3D printing project...

[2016-04-28 20:02] mcara commented on #328
I think this would be a great feature. I do not think DS9 is capable of doing this either.

[2016-04-29 19:40] pllim opened #330 "SaveImage cannot find ChangeHistory"
In the midst of working on a follow-up PR for `SaveImage` (#331), I realized that it can no longer find `ChangeHistory` global plugin. To reproduce the problem:

1. Comment out the `try ... except ...` block in `SaveImage.__init__()` so that it calls `self.history_obj = self.fv.gpmon.getPlugin('ChangeHistory')` and reports failure as error to log.
2. Install this temporary version of Ginga and run

[2016-04-29 20:03] pllim commented on #330
@ejeschke , I see that you recently modified how things work behind the scenes. Do you see how that would affect `ChangeHistory` not showing up on `gpmon` but somehow still works?

[2016-04-29 23:32] ejeschke commented on #330
@pllim, I do not get this error.  It should be able to find the plugin even if you haven't started it.  Is this in stock Ginga reference viewer or `stginga`?

[2016-05-02 08:38] ejeschke commented on #328
I think if you are using `astropy` wcs there is *some* support for distortion correction, no?  And I think that even some images that have distortion information in auxiliary tables in the header can be supported.  But this probably just means that the coordinate reporting and graphing should be correct.  There is no actual warping of the image.  I wonder if that would be possible to do fairly str

[2016-05-02 08:48] ejeschke commented on #327
I think that should be straightforward, given that we already have the pluggable WCS support.  I note from the link that `asdf` is required.  I think Mike D. did a quick hack to see if he could make a version of `MultiDim` that browsed the hierarchical structure of an asdf file and load the images.  This was at the PiA2015 session, I believe.  And I think he had something working within an hour or

[2016-05-02 08:51] ejeschke commented on #330
@pllim, no major changes "behind the scenes" lately. Just a few tweaks to `freepan` handling and a few changes to pg widgets support.  Certainly nothing that should affect the loading of a plugin module.

[2016-05-02 14:53] pllim commented on #327
Thanks, that sounds promising! Unfortunately, Mike D. is no longer at STScI. Do you happen to have a copy of his hack?

[2016-05-02 14:55] pllim commented on #328
Yes, `reproject` was briefly discussed. The solution could be to use that to create a "corrected" image in memory and display it, and then use `SaveImage` to save it out if desired. Or to modify `Mosaic` to work with `reproject`. Of course, solution like this is prone to memory being all used up, so it is not perfect.

[2016-05-02 16:13] pllim commented on #330
@ejeschke , I think it is just the way plugins interact with each other has changed now that `SaveImage` and `ChangeHistory` are both in Ginga and not loaded by default. I'll figure out a fix. Thanks!

[2016-05-02 16:13] #330 closed

[2016-05-02 16:33] pllim commented on #330
Fixed in e7f051b

[2016-05-03 18:49] pllim opened #332 "Replace RTD domain name"
There is a need to replace all mention of `readthedocs.org` with `readthedocs.io` for RTD hosted sites. This is not urgent but should happen eventually.

[2016-05-04 03:12] ejeschke commented on #332
You beat me to filing this issue, @pllim!

Anyway, commit 33c15be75b0829513e0b988bea53e76c9ab19342 should fix this.

[2016-05-04 13:51] pllim commented on #332
Thanks, @ejeschke ! Your commit, in addition to #333 should resolve this.

[2016-05-04 15:24] pllim opened #334 "Enable commented tests on Travis CI"
I saw these commented in `.travis.yml` with a note that something needs to be done, so I am just opening an issue here so they don't get forgotten:
- [ ] Enable tests for different toolkits (Qt, GTK, etc).
- [x] Enable `-w` option for `build_sphinx` test. (done in #548)
- [ ] Enable coverage test.

[2016-05-04 15:32] pllim opened #335 "Re-enable Astropy stable version on Travis CI after Astropy 1.2 is released"
This is actually a follow-up of #313 and only valid after it is merged. I am opening an issue now so I don't forget about it.

Currently, because Ginga documentation is stored in `doc` and not `docs`, Travis CI tests will fail using #313 unless Astropy development version is used because of astropy/astropy#4748, which hopefully would be in v1.2.

[2016-05-05 03:22] #56 closed

[2016-05-05 13:29] pllim commented on #138
@mwcraig , this should not be an issue anymore with the latest master. Could you please check again and confirm? Thanks.

[2016-05-05 20:49] pllim opened #336 "Install offline documentation"
@ejeschke mentioned a workflow similar as follows (please correct me if I misunderstood):
1. During an user's installation, attempt to build Sphinx doc; Skip if user as no Sphinx.
2. Copy generated HTML doc to `ginga/doc` directory.
3. Let the rest of the installation install the HTML doc as data files.

If that does not work out, here is an alternative that I can think of (but `WBrowser` will not

[2016-05-05 21:23] #332 closed

[2016-05-06 01:54] pllim opened #337 "Add logo to HTML doc?"
With the new Astropy doc template (#313), there is tiny Astropy logo on top but no Ginga logo. Some other affiliated packages have their own logos too (e.g., http://photutils.readthedocs.io/en/latest/). Something to think about, if you're interested.

[2016-05-06 11:47] olebole commented on #200
Hi Eric, I just started to do the packaging myself and therefore issued an [ITP bug](https://bugs.debian.org/823598) for Debian. You are welcome to contribute, or even to take over the packaging.
The packaging git repository is [here](https://anonscm.debian.org/cgit/debian-astro/packages/ginga.git).

[2016-05-06 13:48] pllim commented on #336
There might be something we can use in `astropy_helpers/commands/build_sphinx.py`. However, whatever we do needs to take account for when people actually run `setup.py build_sphinx`, so the doc is not built twice.

[2016-05-06 18:08] ejeschke commented on #200
Hi Ole, that is most excellent!  I really appreciate it, since I'm not really able to take on that responsibility right now.  We just merged the astropy-helpers template, so hopefully that makes it easy to manage it more or less the same as all the other affiliated packages.

There are a couple of packages that I would like to list as "recommended" to be installed with ginga, because they improve

[2016-05-07 14:34] olebole commented on #200
Concerning the "recommends", I checked your [documentation](http://ginga.readthedocs.io/en/latest/install.html), and have the [following preliminary dependencies](http://anonscm.debian.org/cgit/debian-astro/packages/ginga.git/tree/debian/control):
[code]
`${python-depends}` is mainly `python-numpy`. Packages with "Recommends" are usually installed as well when the package gets installed (however,

[2016-05-09 14:41] pllim opened #340 "AttributeError: 'module' object has no attribute 'githash' (SOLVED)"
With major changes involving using Astropy package template (see #313), I just want to document this for those who encounter this error in the future when attempting to install Ginga from source and already has an existing installation from the pre-PR313 days:

[code]

**SOLUTION**
1. Find out where you install Ginga. Let's call it `install_dir`. For example, `blahblah/python2.7/site-packages/`.
2

[2016-05-09 14:42] pllim commented on #340
There is no need to keep this open. Anyone who searches for this in `Issues` should find this regardless.

[2016-05-09 15:02] larrybradley opened #341 "Case-sensitive file naming conflict"
The `ginga` repo has both a `ginga/gw/ColorBar.py` and `ginga/gw/colorbar.py`.  These files cannot co-exist on OSX (case-insensitive filesystem).  (and `git` gets very confused)

[2016-05-09 15:09] pllim commented on #341
Looks like `colorbar.py` was added via 5f5db2649d7255 about 2 weeks ago. There are three options:

1. Merge them.
2. Rename one of them.
3. Or follow through with the comment in `ColorBar.py` -- *Possible TODO: replace above colorbar implementations with this generic one.*

@ejeschke ?

[2016-05-09 18:24] ejeschke commented on #340
Actually, @pllim, I'm wondering if we shouldn't leave this open for a little while.  I encountered this several times installing after merging #313.  At the very least, it may prevent some filing of duplicate issues.

[2016-05-09 18:28] pllim commented on #340
Sure.

[2016-05-09 18:29] ejeschke commented on #341
@larrybradley, thanks for pointing out this problem!  I kept seeing a wierd issue with this file on my mac laptop with Git, but could not replicate the issue anywhere else (I use Linux on the desktop).

@pllim, I think I'm not ready (yet) to replace the two widget specific color bars with the generic one (although I think that is desirable in the long run).  I'll merge them or rename one of them.

[2016-05-09 18:42] ejeschke commented on #341
This issue should be resolved in commit 60c519612d9623e16fe663bada007aacbd7dd8e3.

[2016-05-09 18:42] #341 closed

[2016-05-09 18:43] ejeschke commented on #337
I like that idea, @pllim.  Any suggestions?  Maybe a nice spiral galaxy? (ginga means "galaxy" in Japanese).

[2016-05-09 19:03] pllim commented on #337
Unfortunately, logo design is not one of my forte. STScI has in-house specialists when it comes to branding. Perhaps, you could reach out to similar specialists at NAOJ?

[2016-05-09 23:45] ejeschke commented on #200
There is a distinction that is important, which is that the dependencies for someone who is wanting to develop their own viewer using the basic Ginga widget are much less than someone who wants to run up the reference viewer with all the plugins.  The python `setup.py` file is mainly configured for the former.

For the debian release we definitely should add as "required" most of the packages nece

[2016-05-09 23:55] ejeschke commented on #317
@pllim, I'm open to this.  What do you have in mind?

[2016-05-10 14:01] pllim commented on #317
It would follow the [pytest syntax](https://pytest.org/latest/example/) and [Astropy guidelines](http://docs.astropy.org/en/latest/development/testguide.html#writing-tests).

For example (this list is non-exhaustive):
1. Any test that uses data stored remotely would have the `@remote_data` decorator.
2. Any test that checks for exception would use [raises](https://pytest.org/latest/assert.html#ass

[2016-05-11 19:08] olebole commented on #200
I added these recommendations and suggestions. For the alternative backends: I marked them as alternatives, `python-pyqt5 | python-qt4 | python-gtk2` (for Python 3 without gtk2 because of the missing cairo lib). I would ignore tkinter for the moment (quite oldstyle), and would put the tornado backend into a "Suggests" -- it seems quite special. Kapteyn is not available in Debian yet.

For the ging

[2016-05-11 19:27] ejeschke commented on #317
I think the `setup.py` linkage to tests is broken now anyway.  I get the following traceback when I try to run `python setup.py test` (it seems to be coming from the `astropy-helpers`):
[code]

[2016-05-11 19:30] pllim commented on #317
@ejeschke , you need to use the *development* version of Astropy, it is fixed in astropy/astropy#4748

[2016-05-11 19:38] ejeschke commented on #317
Is the installer pulling the correct version to use for the tests?

[2016-05-11 19:39] pllim commented on #317
Travis CI is using the *development* (correct) Astropy version. I have opened #335 to switch back to *stable* Astropy after 1.2 is released.

[2016-05-11 19:40] pllim commented on #317
However, when you run the tests locally, they do not follow `.travis.yml` settings. You will have to make sure your local version of Astropy matches Travis CI. Does that make sense?

[2016-05-11 19:43] ejeschke commented on #200
@olebole, what is your opinion on the prevalence on qt5 packages in debian?  Is qt4 considered more "stable" with python3?

[2016-05-11 19:45] ejeschke commented on #317
I see. Is `setup.py` installing the development version of astropy for regular installs?

[2016-05-11 19:49] pllim commented on #317
This is in `setup.py`:
[code]

So, I *think* it would just pull the latest stable version. I am not sure if it is even capable of pulling in a dev version...

[2016-05-11 19:49] pllim commented on #317
But if you already have the *dev* version, it will *not* overwrite.

[2016-05-11 19:57] olebole commented on #200
No idea. If there are no drawbacks, I would always go with the most recent version. This helps to find and remove bugs there, and if it turns out to be really unstable, we can always go back. Since they are listed as alternatives, one can always go and install the other backend instead if one likes this more.

[2016-05-11 22:51] olebole opened #343 "Undefined xrange with Python 3"
When running the ginga program under Python 3, on several occasions  errors appear like
[code]
I would recommend to replace all `xrange` with `range`. This appears 5 times in the code, so I could even make a pull request if you like :-)

[2016-05-11 23:14] ejeschke commented on #343
@olebole , please do!  These should have been excised during the code migration to 2-3 compatibility, but either we missed some or some entered in new modules contributed by others (e.g. `LineProfile`).

[2016-05-11 23:29] #343 closed

[2016-05-16 13:35] olebole commented on #200
I just enabled the creation of some basic manpages from the `--help` output of the programs. This was mainly the last showstopper before creating the Debian package.
Do you have any more comments? Otherwise I would just go and upload the package.

[2016-05-16 21:25] rirze commented on #340
Thanks for keeping this open, helped me out when I ran into this error.

[2016-05-17 18:02] ejeschke commented on #200
Just one more, I think.  Does "python-pil" pull in the old PIL or the new "pillow"?  Do they coexist under Debian?  If so, how does one distinguish at the python import stage?

Thanks again for working on this.  I'm planning to add the paper citations as a bibtex file in the package.  I'll post an update here when I've done that.

[2016-05-18 11:22] olebole commented on #200
python-pil is pillow.  The PIL code is not in Debian anymore.

[2016-05-18 18:12] ejeschke commented on #200
Excellent.  Then I don't see any reason we can't release the package.

[2016-05-18 18:26] olebole commented on #200
I uploaded the package; once it is accepted we can probably close this issue.

[2016-05-18 18:37] ejeschke commented on #200
Let's leave it open until I get the references file added.  We maybe could do a better man page as well.

I'm wondering if the man page could be generated from the [quick reference](https://ginga.readthedocs.io/en/latest/quickref.html)

[2016-05-19 02:14] mwcraig commented on #138
@pllim -- finally getting around to this. Has this been included in a release yet?

[2016-05-19 15:39] pllim commented on #138
I usually just grab the dev version. @ejeschke is the one who can answer this.

[2016-05-20 08:37] olebole commented on #200
It can somehow; but tables don't look very nice in a manpage (and there seems to be a bug either in rst2man or in the manpage viewer that sometimes gets the line drawings wrong). If you could rewrite the page into a list, it would help much.
Also, that page is still not included in the source (pypi) distribution, right?

[2016-05-20 20:24] ejeschke commented on #138
@mwcraig, I think the release has been bumped since this fix at least once, and PyPI updated.

[2016-05-20 21:28] mwcraig commented on #138
This can be closed, it is no longer an issue in the automated package builds I'm doing (which was where it first turned up).

[2016-05-20 21:28] #138 closed

[2016-05-25 00:57] ejeschke commented on #200
@olebole, I've added a file (`doc/ginga_papers.bib`) that contains a short bibliography of papers published about Ginga.

Regarding the man page, I find it a pain to maintain the table in the quickref anyway.  I'm thinking it might be better to do that as paragraphs with bulleted lists. Would that work better?

In any case, maybe we should check in the man page into the repo?  If we do something i

[2016-05-26 14:18] olebole commented on #200
Which if your papers would you consider as _the_ reference?
One [problem](https://bugs.debian.org/825196) was discovered with the current package: I installed the `grc` script to `/usr/bin/`; however this conflicts with the binary of the [grc](https://packages.debian.org/stretch/grc) package in Debian. Since `grc` is just an example script, I removed it from `/usr/bin/`. Would it make sense to inc

[2016-05-26 16:54] ejeschke commented on #200
Well, `grc` is not an example script, it is the remote control program for the reference viewer ("Ginga Remote Control"). I suppose it would be ok to change the name, but surely this problem happens with other packages in Debian. If two packages use the same name, how is that handled if there is a conflict?

[2016-05-26 16:55] ejeschke commented on #200
I'll take a quick review of the papers to see which one should be the canonical reference.

[2016-05-27 11:37] olebole commented on #200
For `grc`, you should then change the misleading introductory comment line in the script ;-)
[code]
What would be a better name? Maybe `ginga-client`?

Generally, in Debian we have a "first comes" rule, however depending a bit on the importance of the package. If there is really no choice, one can mark two packages as "Conflicts" so that they can't be installed together. This would however also re

[2016-06-10 16:06] astrofrog opened #348 "Make use of QtPy instead of QHelp"
The [QtPy](https://pypi.python.org/pypi/QtPy/) package now provides a common way to deal with the PyQt4/5/PySide differences, and it would make sense for as many projects as possible to use this.

This issue is just to suggest that it might be good for ginga to also migrate to using QtPy?

(I can provide advice if needed, since I'm going through the migration myself for glue)

[2016-06-10 18:36] ejeschke commented on #348
@astrofrog, thanks for pointing that out!  I'm very interested. Does it seem to work well and is stable?

[2016-06-10 18:37] ejeschke commented on #348
BTW, is it in conda?

[2016-06-10 18:47] astrofrog commented on #348
@ejeschke - it is in conda by default I believe, and it seems pretty stable. I've been making a few PRs to port over some of the patches I had in qt-helpers. For the record, here's the PR to change it for glue: https://github.com/glue-viz/glue/pull/1018

Essentially you have to make sure you treat QtPy as if it was PyQt5 (in glue we did the opposite and assumed the PyQt4 API, which is why there wa

[2016-06-15 23:43] ejeschke commented on #200
@olebole, what is the other package that contains a "grc" program?

[2016-06-16 02:27] ejeschke commented on #200
If we rename the remote control client I'd like to give it a short name, if possible, because one might to type it from the command line over and over. @olebole do you have a suggestion for a short name that is not taken by the usual Debian packages?

[2016-06-16 08:09] olebole commented on #200
The package is [grc -- generic colouriser for everything](https://packages.debian.org/jessie/grc). The problem with short names is that they are often taken, and there is no comprehensive list for them. I can, however, check individual proposals ([here](https://www.debian.org/distrib/packages#search_contents))

I would use "ginga-client". Although it is not short, it is descriptive, and with tab c

[2016-06-17 22:50] ejeschke commented on #200
How about "girc"? It looks like it might not be taken.

[2016-06-17 22:50] ejeschke commented on #200
Or maybe "ggrc"?

[2016-06-18 08:10] olebole commented on #200
As you like. We can take any name that is not already taken.

[2016-06-22 04:53] ejeschke commented on #303
`gris` has been moved to the experimental directory, so that doesn't need to be modified (yet).  I'd like to modify `grc` and at the same time rename it (for #200).

[2016-06-22 14:16] pllim commented on #303
@ejeschke , please see my proposed solution at #350.

[2016-06-23 22:51] #303 closed

[2016-06-23 22:56] ejeschke commented on #200
Ok, I've merged #350, which should rename `grc` to `ggrc`.  @olebole, does the debian package get created from the PyPI release?  If so, thinking I should bump the release number and make one.

[2016-06-24 09:04] olebole commented on #200
Yes, I take PyPI as the download location.

[2016-06-28 08:12] ejeschke commented on #200
I've pushed a new release up to PyPI, incorporating all recent fixes.

[2016-06-28 12:15] ejeschke commented on #200
@olebole , if this fixes all remaining issues for creating the package, I think we can close this issue.

[2016-06-30 22:34] retroexpress opened #355 "Pan/Zoom with matplotlib"
I've been playing around with example4_mpl.py but the mpl toolbar controls didn't work out of the box. I tracked down a problem to the start_pan and end_pan methods in transform.py passing a string as the 'event' to ms_pan in Bindings.py instead of an event object. I worked around this by changing 'event.state' to just 'event' in ms_pan (to at least get panning working). But then I encountered som

[2016-07-01 06:24] ejeschke commented on #355
@retroexpress, I think the matplotlib toolbox does not work correctly.  As an alternative you can use the native ginga zooming controls (see the [quick reference](http://ginga.readthedocs.io/en/latest/quickref.html) in the documentation for details).

That is certainly something I'd like to get working, though.  I think the information necessary is how to connect callbacks for all the matplotlib t

[2016-07-06 14:16] olebole commented on #200
Since the new package version is now in Debian since a week without problems, I am going toclose the issue.

[2016-07-07 01:47] sosey commented on #168
Tkinter libs conflict with Anaconda Python2/3 and OSX system install

@ejeschke  I'm sticking this here incase you have anyone run into the same issue.
This happens in python 2/3 and causes major badness in the form of a kernel abort.
I'm having a hell of time getting around it. The problem is applications building with the system install of TK instead of the local (for example anaconda) library,

[2016-07-07 02:45] ejeschke commented on #168
@sosey, I don't see this problem on my mac (os x 10.11.5) with anaconda installed.  Here's what I have:
[code]
Can you give me some more information about your environment?

[2016-07-07 15:38] ejeschke commented on #168
@sosey, are your running from a terminal or jupyter notebook?  Could you try setting the env variable MPLBACKEND before however you are running? e.g.
[code]
Just to make sure any matplotlib imports don't try to use Tk.  Let me know your result. Tnx.

[2016-07-13 17:32] sosey commented on #168
@ejeschke sorry for the very long delay! I've been swamped.

Just to be clear, it's not a ginga or imexam issue really, it's an installation confusing issue I believe.

Yah, I can avoid the issue using the Qt4Agg background, as long as I don't install pillow. So it's okay for imexam with ds9. I was trying to find a workaround for users so that they could use tkagg, which many probably have as a de

[2016-07-19 16:44] pllim opened #357 "No method found matching xxxx"
I get the following printouts on my terminal when I start Ginga:

[code]

It is emitted by `ImageViewBindings.setup_settings_events()` method in `Bindings.py`, in the following logic block:

[code]

And then farther down the codes, I see one of the offending callback name is explicitly commented out:

[code]

So, I gather there are no methods defined for the callbacks in the message but they are d

[2016-07-21 06:33] ejeschke commented on #357
@pllim, I think at least in some of these cases there is no method in `Bindings` class, but we still want the event to be registered, because some plugins will subscribe for the event later.  I do agree that these messages are annoying and should be eliminated, either by supplying a method that does nothing or by simply eliminating the warning.

I'll take a closer look at it when I get back from v

[2016-07-21 06:50] ejeschke commented on #168
@sosey, sorry for late reply also--am on vacation but returning soon.  For py2.7 case, I have run into this before in programs that use both matplotlib and ginga packages together with Qt--ginga wants to use Qt API v2, but if you import matplotlib first it will try to go to v1 API by default.  The solution I have found is to either import ginga *before* matplotlib, or to set the env variable `QT_A

[2016-07-21 13:29] pllim commented on #357
No problem, it's not urgent.

p.s. Does vacation mean you walk 10 feet down to the beautiful Hawaiian beach? :smile:

[2016-07-22 17:59] sosey commented on #168
Thanks @ejeschke, I'll give those suggestions a go.  Also - don't work on your vacation! :)

[2016-07-29 05:17] ejeschke commented on #357
No that's just called "after work"

[2016-07-29 05:17] ejeschke commented on #357
@pllim, this should be addressed in #360

[2016-08-01 04:01] ejeschke commented on #168
@sosey, can you check whether the problem with the Tk/PIL version is still present?  I've merged #362, which fixed a problem with that particular combination.

[2016-08-01 10:27] montefra opened #364 "Release new ginga version"
Hi,

I've tried to update ginga and it fails with:

[code]
I've seen that commit 26d627a should fix the issue with configparser.
Would you mind releasing a new version with that fix? As it is now the ginga version on pypi is broken as it does not install.

My current situation:
-> pip search ginga
ginga (2.5.20160627100500)  - An astronomical image viewer and toolkit
  INSTALLED: 2.5.2016042004385

[2016-08-01 13:24] pllim commented on #364
Until an official release is made, you can workaround this problem by installing from STScI's AstroConda channel (see http://astroconda.readthedocs.io/en/latest/). The "release" on that channel is currently at 5eca5d9afe72d676baf4aef2ef4f4101254075e5.

[2016-08-01 13:39] montefra commented on #364
@pllim : I don't use conda and neither does tox.
Do you have plans for the next release?

For now I'll lock ``ginga<=2.5.20160420043855`` in the ``setup.py``.

Thank you for your work.

[2016-08-01 13:41] pllim commented on #364
@montefra , I can't do a Ginga release, only @ejeschke can.

[2016-08-01 13:43] pllim commented on #364
Alternately, if possible for your case, you can also try this:

[code]

[2016-08-01 13:50] montefra commented on #364
@pllim : Ok I'll wait.

about pip: it's easier to lock ginga to the earlier version on Pypi until a new version arrives than pointing to a specific commit.

[2016-08-01 15:47] sosey commented on #168
@ejeschke  - here's the current status. setting QT_API does help for running python35 in the notebook, but I get kernel crashes from an ipython terminal. Here are the different modes I've tried and the results. I think there's still a threading issue somewhere since I get differing results with the notebook vs an ipython terminal.

**with python35, ipython terminal, tkagg backend:**
- I get a kern

[2016-08-01 18:39] ejeschke commented on #364
@montefra, @pllim, I've pushed a new release.

[2016-08-01 18:43] ejeschke commented on #364
@pllim, I am comfortable to add you as an admin to this repo if you are interested. Lmk.

Also, I'd like to start using the github release feature instead of just manually making releases.  I'll take a look at it but might want your advice.

[2016-08-01 18:43] #364 closed

[2016-08-01 19:56] montefra commented on #364
@ejeschke : Thank you for it.

When you add a tag and push it here, automatically github mark it as a release. I think that if you add a comment to the tag, it uses that too. Then you can edit the release message and title from the website.

[2016-08-02 00:05] ejeschke commented on #364
@montefra, does any tag signal a release, or only tags following a version specification?

[2016-08-02 05:16] montefra commented on #364
I think any tag, but I'm not 100% sure.

[2016-08-02 09:02] montefra commented on #364
@ejeschke : thank you very much. Now ginga works fine.

[2016-08-02 22:26] ejeschke commented on #364
@montefra, I've released a new version today with quite a few updates. FYI.

[2016-08-03 19:26] montefra commented on #364
Thank you for the info. I'll check it asap

[2016-08-06 14:29] astrofrog opened #366 "Error when instantiating colorbar"
The following simple example produces an exception in the latest stable release of ginga:

[code]

This is currently causing the glue plugin to fail. @ejeschke - is this no longer supported?

[2016-08-07 00:47] ejeschke commented on #366
@astrofrog, please see [this glue PR](https://github.com/glue-viz/glue/pull/1063)

[2016-08-08 07:53] astrofrog commented on #348
@ejeschke - just for info, I've now switched over to it in glue: https://github.com/glue-viz/glue/pull/1018#issuecomment-238117149

The latest version can be accessed in the ``conda-forge`` channel in conda:

[code]

But there is also a (slightly older) version available in the default channel.

[2016-08-08 13:41] pllim commented on #366
I think this issue can be closed?

[2016-08-08 13:47] #366 closed

[2016-08-09 00:47] ejeschke commented on #357
@pllim, is this solved for you by #360?  Can I close it?

[2016-08-09 13:56] pllim commented on #357
Yes. Thanks!

[2016-08-09 13:57] #357 closed

[2016-09-03 11:26] pllim opened #368 "FITS table viewer"
Someone was looking for something that can replace [fv FITS Viewer](http://heasarc.gsfc.nasa.gov/ftools/fv/), which has a table viewer. I'm just wondering if Ginga is the right package for such a thing, or is it out of scope?

I did a test with a sample FITS file that has the following structure (in reality, it can be a lot more extensions with multiple images and tables, and the tables can have m

[2016-09-03 20:59] ejeschke commented on #368
I think such a plugin would be fairly easy to write, based on the table widget and astropy table support.  We don't have a strong need for that with our current instrument set though, and I don't have any spare time to put into writing one.  @pllim, would you be interested?

[2016-09-05 13:59] pllim commented on #368
@ejeschke , I am definitely interested but don't have time immediately. Perhaps in a few weeks if no one else gets to it first.

[2016-09-06 20:57] pllim commented on #368
@ejeschke , I thought about this a bit more. Ideally, the table would be displayed where the image usually is. But wouldn't that require hacking `AstroImage` to also handle FITS table? Was that what you had in mind as well? If that is the case, then the name `AstroImage` no longer accurately reflects the things that it can do, as it is not longer limited to handling just images.

[2016-09-07 02:37] ejeschke commented on #368
No, shouldn't require modifying AstroImage at all.  It's just like when you start `WBrowser`, you can see that it starts a plugin in the central workspace instead of the right workspace.  That's all.

[2016-09-07 13:43] pllim commented on #368
Ideally, I would want to utilize `Datasrc` for the table object. I haven't look at the code in a few months, so I don't immediately know if that is possible without modifying `AstroImage`.

[2016-09-07 15:08] ejeschke commented on #368
`Datasrc` can hold any kind of objects.  So instead of `AstroImage` objects, you could put `astropy` tables, or wrapped tables, etc.

Do you want tables to show up with thumbnails, etc. sort of just like images?  That probably would require a little more hacking to `Thumbs`, etc.